{% if pagination is defined and pagination|length>0 %}
    <div class="blog-page blog-content-1 row">
        <div class="col-lg-12">
            {% for post in pagination %}
                <div class="blog-post-lg bordered blog-container">
                    <div class="blog-post-content">
                        <h2 class="blog-title blog-post-title">
                            {{ post.title }}
                        </h2>
                        {{ post.content|raw }}
                        <div class="blog-post-foot">

                            <div class="blog-file email-preview-wrapper clearfix">
                                {% if post.document %}
                                    {% for file in post.document.files %}
                                        <div class="inbox-attached-item col-md-2">
                                            <div class="icon"><i class="fa-3x fa-stack {{ file.getIconClass() }}"></i></div>
                                            <span class="name">{{ file.name }}</span>
                                            <div class="for-download">
                                                <a target="_blank" href="{{ url('download_file', {uuid: file.uuid}) }}">
                                                    <i class="fa fa-download fa-stack"></i> <span class="size">{{'download'|trans|desc('pobierz')|capitalize }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue"></i>
                                {% if post.updatedAt is not null %}
                                    {{ post.updatedAt|date('d-m-y H:i:s') }}
                                {% else %}
                                    {{ post.createdAt|date('d-m-y H:i:s') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'bottom-spinner'} %}
            <div class="navigation m-t-3">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endif %}