<script src="{{ asset('bundles/web/js/modules/atlas-uploader-document-module.js') }}"></script>
<script>
    $(function () {
        $('body').on('click', "ul.pagination a", function (e) {
            e.preventDefault();
            $.get($(this).attr('href'), function (html) {
                $('#post-ajax-container').replaceWith(
                    $(html).find('#post-ajax-container')
                );
            });
        });
    });
</script>

<script>

    var currentEditor = null,
        $currentModal = null;

    function after_init_file_upload() {

        AtlasUploaderDocumentModule({
            $wrapper: $currentModal.find('.file-manager-wrapper').find('.atlas-upload-file-wrapper'),
            $result: $currentModal.find('.file-manager-wrapper').find('.uploaded-files'),
            params: {
                maxFileSize: 25000000 // 25MB
            },
            afterUpload: function () {
                delayedCallback(function () {
                    refresh_file_list();
                }, 500);
            }
        });

    }

    function removeFile($image) {

        $.ajax({
            url: Routing.generate('admin_post_file_manager_remove_file'),
            type: "POST",
            data: {
                name: $image.attr('data-name')
            },
            success: function (response) {
                if(response.success) {
                    $image.closest('.mt-element-overlay').remove();
                }
            },
            error: function (error) {
                handleAjaxResponseError(error);
            }
        });

    }

    function refresh_file_list() {

        $.ajax({
            url: Routing.generate('admin_post_file_manager_list'),
            type: "GET",
            success: function (response) {
                if(response.list) {
                    $currentModal.find('.file-list').html(response.list);
                    after_init_file_list();
                }
            },
            error: function (error) {
                handleAjaxResponseError(error);
            }
        });

    }

    function after_init_file_list() {

        $currentModal.find('.file-list .select-image').on('click', function (e) {
            e.preventDefault();

            var $t = $(this),
                url = $t.attr('data-url');

            if(currentEditor) {
                currentEditor.focus();
                currentEditor.selection.setContent("<img width='200px' src='"+url+"' />");
                $currentModal.modal('hide');
            }

        });

        $currentModal.find('.file-list .remove-image').on('click', function (e) {
            e.preventDefault();
            removeFile($(this));
        })

    }

    function tinymce_button_image_uploader(ed) {

        currentEditor = ed;
        $currentModal = $('#file-manager-modal');

        $.ajax({
            url: Routing.generate('admin_post_file_manager_view'),
            type: "GET",
            success: function (response) {

                if(response.view) {

                    $currentModal.find('.modal-body').html(response.view);
                    after_init_file_upload();
                    after_init_file_list();
                    $currentModal.modal('show');

                }

            },
            error: function (error) {
                handleAjaxResponseError(error);
            }
        });

    }

</script>

{{ tinymce_init() }}