<div class="group-table">
    <div id="post-ajax-container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-vam">
                <thead>
                <tr>
                    <th class="fit">#</th>
                    <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                    <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <th scope="row" class="fit">{{ entity.id }}</th>
                        <td class="entity-name">{{ entity.title }}</td>
                        <td class="fit">
                            <a href="{{ path('admin_post_edit', {'id': entity.id}) }}"
                               class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#"
                               class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'delete'|trans|desc('usuń')|title }}"
                               data-url="{{ path('admin_post_delete', {'id': entity.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>