{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'ToolBundle:Admin:style/partials/modals/icons.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="admin-tool-editor-form" class="form-horizontal" action="" method="POST" >

            {{ form_errors(form) }}
            {{ form_widget(form.translations) }}
            {{ form_row(form.columnName) }}
            {{ form_row(form.hidden) }}

            {{ form_row(form.css) }}
            {{ form_row(form.tooltip) }}
            {{ form_row(form.conditionQuery) }}
            <div class="form-group">
                {{ form_label(form.icon) }}
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-9">
                            {{ form_widget(form.icon) }}
                        </div>
                        <div class="col-xs-3">
                            <a href="#" id="show-icons"
                               class="btn full btn-info tooltips" data-toggle="tooltip" data-placement="top"
                               title="{{ 'form.show_icons'|trans|desc('pokaż ikony')|title }}">
                                <i class="fa fa-eye"></i> {{ 'form.choose_icon'|trans|desc('wybierz ikonę')|capitalize }}
                            </a>
                        </div>
                    </div>
                    </div>
                    </div>
                    {{ form_row(form.maxWidth) }}
                    {{ form_row(form.textOverflowHidden) }}
                    {{ form_row(form.linkType) }}
                    <div id="dynamic-fields" class="">
                    {% if form.link is defined and form.linkParams is defined %}
                        {{ form_row(form.link) }}
                        {{ form_row(form.linkParams) }}
                    {%  elseif form.editTool is defined and form.editRowId %}
                        {{ form_row(form.editTool) }}
                        {{ form_row(form.editRowId) }}
                    {% elseif form.action is defined %}
                        {{ form_row(form.action) }}
                    {% elseif form.document is defined %}
                        {{ form_row(form.document) }}
                    {%  endif %}
                    </div>                                </button>

                    {{ form_rest(form) }}
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">
                                    {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </div>
                        </div>
                    </div>

            {{ form_rest(form) }}
         </form>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            $('body').on('click', '#show-icons', function () {
                $('#icons-modal').modal();
                return false;
            });

            $('body').on('click', '#icons-modal .fa-item', function () {
                var output = '<i class="'+$(this).find('i').attr('class')+'"></i>';
                $('#atlas_tool_style_icon').val(output);
                $('#icons-modal').modal('hide');
                return false;
            });

            $('body').on('change', '#atlas_tool_style_linkType', function () {
                var form = $(this).closest('form');
                var data = {};
                data[$(this).attr('name')] = $(this).val();
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('#dynamic-fields').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#dynamic-fields')
                        );
                        $('.select2').select2();
                        $('#dynamic-fields .error-list').remove();
                        $('#dynamic-fields .form-group').removeClass('has-error');
                    }
                });
            });

        });
    </script>
{% endblock %}