{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu', {
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig'
        }) }}

        <div class="tab-content">
            <a href="{{ path('admin_tool_style_editor', { 'toolId' : tool.id }) }}"
               class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
                <i class="fa fa-plus"></i>
                {{ 'tool.add_style'|trans|desc('dodaj styl')|capitalize }}
            </a>
            <div class="clearfix"></div>

            {% if tool.styles and tool.styles|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-vam">
                        <thead>
                        <tr>
                            <th class="fit">#</th>
                            <th>{{ 'column'|trans|desc('kolumna')|capitalize }}</th>
                            <th class="fit">{{ 'visibility'|trans|desc('widoczność')|capitalize }}</th>
                            <th>{{ 'link'|trans }}</th>
                            <th>{{ 'condition'|trans|desc('warunek')|capitalize }}</th>
                            <th class="fit">{{ 'tool.style_preview'|trans|desc('podgląd stylu')|capitalize }}</th>
                            <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in tool.styles %}
                            <tr>
                                <th scope="row" class="fit">{{ entity.id }}</th>
                                <td class="entity-name">{{ entity.columnName }}</td>
                                <td class="fit align-center">
                                    {{ entity.hidden ? '<i class="fa fa-remove large"></i>' : '<i class="fa fa-check large"></i>' }}
                                </td>
                                <td>{{ entity.linkInfo }}</td>
                                <td>{{ entity.conditionQuery }}</td>
                                <td class="fit" style="{{ entity.css }}">
                                    {% if not entity.hidden %}
                                        {{ entity.icon ? entity.icon|raw : 'test' }}
                                    {% endif %}
                                </td>
                                <td class="fit">
                                    <a href="{{ path('admin_tool_style_editor', {'toolId': tool.id, 'id': entity.id}) }}"
                                       class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                       title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#"
                                       class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                       title="{{ 'delete'|trans|desc('usuń')|title }}"
                                       data-url="{{ path('admin_tool_style_delete', {'id': entity.id}) }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info fade in">{{ 'tool.no_styles_defined_yet'|trans|desc('To narzędzie nie ma jeszcze zdefiniowanych styli') }}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}