<div id="process-search-modal" class="modal wide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fa-2x" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'advanced case search'|trans|desc('wyszukiwarka spraw')|capitalize }}</span>
            </div>
                <div class="modal-body">

                </div>
                <div class="clearfix"></div>
        </div>
    </div>
</div>

