{% extends "WebBundle::base.html.twig" %}

{% block actions %}

{% endblock %}

{% block atlas_header %}
    {% if app.user %}
        {% include "WebBundle:Default/partials:header.html.twig" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="action-bar">

        <form role="form" class="material-form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-iFnput has-success">
                            <div class="input-icon right">
                                <input type="text" id="client_target" class="form-control" placeholder="miejscowość">
                                <label for="client_target">Lokalizacja klienta</label>
                                <span class="help-block">miejscowość|kod)[,ulica [numer]][;kod|adm1[,adm2[,adm3]]</span>
                                <i class="icon-map"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input has-info">
                            <div class="input-icon right">
                                <input type="text" id="find_localization" class="form-control" readonly>
                                <label for="find_localization">Znaleziona lokalizacja</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input has-success">
                            <div class="input-icon right">
                                <input type="text" id="way_start" class="form-control" >
                                <label for="way_start">Początek trasy</label>
                                <i class="icon-directions"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input has-success">
                            <div class="input-group">
                                <div class="input-group-control">
                                    <input type="text" id="way_end" class="form-control" >
                                    <label for="way_end">Koniec trasy</label>
                                </div>
                                <span class="input-group-btn btn-right">
                                    <button class="btn blue-madison" id="draw_way" type="button">Wyznacz trase</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="atlas-map-info-content" >
            <div class="alert alert-info">
                <strong>Długość trasy: </strong> <span id="routeTotalLength"></span>
            </div>
        </div>

        <div id="punkty" style="display: none;">

        </div>
    </div>
    <div id="atlas-map"  class="atlas-map-container">

    </div>
{% endblock %}

{% block extrascripts %}

    <script src="http://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2" type="text/javascript"></script>

    {#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlYMAPcRG6f8Q8lb6r7dpSKo1eEFmyDnc"></script>#}

    <script src="{{ asset('js/atlas-map.js') }}"></script>

    <script>

        var InitAtlasMap = {
            init: true,
            opts: {
                mapContainer : '#atlas-map',
                centerCords : [51.761249510014, 19.4384569767695], // Lat , Lng
                zoomMap : 12,
                $_inputClientTarget : $('#client_target')
            },
//            provider: new ProviderGoogleMap()
            provider: new ProviderEmapa('6vihz1Nbw5QC5rQ5')
        };

    </script>


{% endblock %}

{% block in_iframe_script %}
    {#Disabled iframeReload#}
{% endblock %}