{% extends "WebBundle::base.html.twig" %}

{% form_theme form 'SparxBundle::Form/sparx_form_layout.html.twig' %}

{% block content %}
    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_user_groups')}}">
                <span class="caption-subject bold">
                    {{ 'sparx-mapping-attributes'|trans|desc('Sparx - Mapowanie atrybutów')|capitalize}}
                </span>
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div id="attributesBranch"></div>
{% endblock %}

{% block extrascripts %}
    <script src="{{ asset('js/sparx.js') }}"></script>
{% endblock %}