{% spaceless %}
    {% block content %}
        <div class="row">
            {{ form_start(form, {'action': path('sparx_set_attr', {'formControlId' : formControlId})}) }}
            {{ form_row(form.sparxAttribute) }}

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button data-style="zoom-in" data-size="s" type="submit" class="btn ladda-button">
                    <span class="ladda-label">
                        <i class="fa fa-check"></i> {{ 'zapisz'|trans|capitalize }}
                    </span>
                    </button>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {{ form_errors(form) }}
        </div>
    {% endblock %}
{% endspaceless %}