<div id="report-problem-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'report_problem'|trans|desc('Zgłoś problem')|capitalize }}</span>
            </div>

            <div id="report-screenshot" style="height: 0; width: 0; z-index: 0; overflow: hidden"></div>

            <form id="report-problem-form" action="{{ path('request_ticket', {'type' : 'issue'}) }}"
                  class="form form-vertical"
                  method="POST">
                <div class="modal-body">
                    <div id="report-problem-response" class="alert alert-success m-b-1 hide" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="fa fa-info-circle m-r-2"></i>{{ 'ticket_submited'|trans|desc('Zgłoszenie zostało przyjęte.') }}
                    </div>

                    <div class="form-group">

                        <label for="name">{{ 'bug_ticket.category'|trans|desc('Kategoria zgłoszenia') }}</label>
                        <select name="name" id="name" required="required" class="form-control">
                            <option value="Nie można wykonać potrzebnej czynności">Nie można wykonać potrzebnej czynności</option>
                            <option value="Nie widać potrzebnych danych">Nie widać potrzebnych danych</option>
                            <option value="Błędne komunikaty, informacje lub obliczenia">Błędne komunikaty, informacje lub obliczenia</option>
                            <option value="Problemy z automatami">Problemy z automatami</option>
                            <option value="Zbyt długie działanie kroku / aplikacji">Zbyt długie działanie kroku / aplikacji</option>
                            <option value="Inne">Inne</option>
                        </select>

                    </div>

                    <div class="form-group">

                        {% set options = callStaticMethod("AppBundle\\Entity\\Ticket", "getTicketLevels") %}

                        <label for="ticketLevel">{{ 'bug_ticket.level'|trans|desc('waga błędu')|capitalize }}</label>
                        <select name="ticketLevel" id="ticketLevel" required="required" class="form-control">
                            {% for key, option in options %}
                                <option value="{{ option }}">{{ key }}</option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <input type="hidden" name="url"/>
                        <input type="hidden" name="screenResolution"/>
                        <input type="hidden" name="screenShootFileData"/>
                        <textarea name="content" class="form-control" rows="5"
                                  placeholder="{{ 'problem_description'|trans|desc('Opis problemu') }}"
                                  required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">{{ 'bug_ticket.case_info'|trans|desc('Informacje o sprawie') }}</label>
                        <input type="text" name="case_info" id="case_info"
                               class="form-control">

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <a class="btn btn-outline grey-cascade cancel"
                       data-target="#report-problem-modal">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</a>
                    <button type="submit" class="btn green-meadow ladda-button"
                            data-style="expand-right">{{ 'submit'|trans|desc('zapisz')|capitalize }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

