<div class="tab-wrapper-content-actions">
    <form class="form form-inline m-b-2 filter-form">
        <div class="row">
            <div class="col col-sm-12">
                <div class="form-group">
                    <h5>Grupa platform:</h5>
                </div>
                <div class="form-group">
                    <input type="hidden" name="{{ form.column.vars.name }}" id="{{ form.column.vars.name }}" value="{{ form.column.vars.value }}">
                </div>
                <div class="form-group">
                    <select class="select2"
                            class="form-control"
                            data-placeholder="Grupa Platform"
                            name="{{ form.platformGroupId.vars.name }}" id="{{ form.platformGroupId.vars.id }}">
                        {% for option in form.platformGroupId.vars.choices %}
                            <option value="{{ option.value }}">{{ option.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="m-l-2 form-group">
                    <h5>Zadania:</h5>
                </div>
                <div class="form-group">
                    <select class="select2"
                            class="form-control"
                            data-placeholder="Zadanie"
                            name="{{ form.groupId.vars.name }}" id="{{ form.groupId.vars.id }}">
                        <option value="">-</option>
                        {% for option in form.groupId.vars.choices %}
                            <option value="{{ option.value }}">{{ option.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default refresh-online-tasks">
                         <i class="fa fa-refresh"></i>
                    </button>
                </div>

                <div class="form-group form-loader">
                    {{ include('@Web/Default/partials/spinner.html.twig') }}
                </div>
            </div>
        </div>
    </form>



</div>
<div class="tab-wrapper-content-table table-responsive">

    <table class="table table-striped table-checkable table-bordered table-hover" id="online-tasks-table"></table>

</div>


<style>
    .select2-container.select2-container--bootstrap {
        width: 200px !important;
    }
</style>