{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_insurance_programs_import_file') }}">
            <span class="caption-subject bold">{{ 'insurence_programs_import'|trans|desc('import danych programów ubezpieczeniowych')|capitalize }}
        </span>
            </a>
        </div>
    </div>

    <form id="insurance-data-import-form" action="{{ path('admin_insurance_programs_complete_dictionary', { 'packageId' : packageId, 'persist' : true }) }}"
          class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
        <div class="form-actions m-b-1">
            <div class="row">
                <div class="col-md-9">
                    <button type="submit" class="btn green p-x-3">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_widget(form.dictionaries) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <div class="row">
                <div class="col-md-9">
                    <button type="submit" class="btn green p-x-3">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
