{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="portlet-title breadcrumbs" xmlns="http://www.w3.org/1999/html">
        <div class="caption">
            <a href="{{ path('admin_insurance_programs_import_database') }}">
            <span class="caption-subject bold">{{ 'insurence_programs_import'|trans|desc('import danych programów ubezpieczeniowych')|capitalize }}
            </span><i class="fa fa-circle"></i>
            </a>

            <span>{{ 'configure_database_import'|trans()|capitalize }}</span>
        </div>
    </div>

    <form id="insurance-data-import-form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">

        {{ form_errors(form) }}

        {{ form_row(form.connectionString) }}
        {{ form_row(form.query) }}
        {{ form_row(form.package) }}
        <div id="dynamic-fields" class="">
            {% if form.name is defined %}
                {{ form_row(form.name) }}
            {% endif %}
            {% if form.isIncremental is defined %}
                {{ form_row(form.isIncremental) }}
            {% endif %}
        </div>
        {{ form_row(form.interval) }}
        <div class="hidden">
            {{ form_widget(form.dictionaries) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn green p-x-3">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {

            $('body').on('change', 'select#package', function () {
                var form = $(this).closest('form');
                var data = {'package': $(this).val()};
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('#dynamic-fields').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#dynamic-fields')
                        );
                        $('#dynamic-fields .help-block').remove();
                        $('#dynamic-fields .form-group').removeClass('has-error');
                    }
                });
            });

        });
    </script>
{% endblock %}