{% extends "WebBundle::base.html.twig" %}

{% block flashes %}{% endblock %}
{% block content %}

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold">{{ 'insurence_programs_import'|trans|desc('import danych programów ubezpieczeniowych')|capitalize }}</span>
        </div>
    </div>

    <div class="alert alert-info m-b-1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="fa fa-info-circle m-r-2"></i>{{ 'imported_rows_count'|trans|desc('Liczba zaimportowanych wierszy') }}:
        <span id="imported-rows"></span><span id="indicator">...</span>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            var last_response_len = false;
            var rowProcessed = 0;
            $.ajax({
                xhrFields: {
                    onprogress: function (e) {
                        var this_response, response = e.currentTarget.response;
                        if (last_response_len === false) {
                            this_response = response;
                            last_response_len = response.length;
                        }
                        else {
                            this_response = response.substring(last_response_len);
                            last_response_len = response.length;
                        }
                        var responseArray = this_response.split(';');

                        var rowProcessed = responseArray[responseArray.length - 1];
                        $('#imported-rows').text(rowProcessed);

                    }
                }
            })
                    .done(function (data) {
                        $('#indicator').html('.')
                    })
                    .fail(function (data) {
                        console.log('Error: ', data);
                    });
            console.log('Request Sent');
        });
    </script>
{% endblock %}