{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="portlet-title" xmlns="http://www.w3.org/1999/html">
        <div class="caption">
            <a href="{{ path('admin_insurance_programs_import_file') }}">
            <span class="caption-subject bold">{{ 'insurence_programs_import'|trans|desc('import danych programów ubezpieczeniowych')|capitalize }}
        </span>
            </a>
        </div>
    </div>

    <form id="insurance-data-import-form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
        {{ form_row(form.package) }}
        <div id="dynamic-fields" class="">
            {% if form.name is defined %}
                {{ form_row(form.name) }}
            {% endif %}
            {% if form.isIncremental is defined %}
                {{ form_row(form.isIncremental) }}
            {% endif %}
        </div>

        {{ form_row(form.file, {'attr': { 'data-url' :  oneup_uploader_endpoint('insurance_program') } } ) }}

        <div class="hidden">
            {{ form_widget(form.fileId) }}
            {{ form_widget(form.dictionaries) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-group">
            <div class="col-sm-offset-3">
                <div class="col-xs-12">
                    <div id="upload-progress" class="hide">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <a id="start-upload-btn" href="#"
                       class="btn green btn-warning disabled ladda-button" data-style="slide-left">
                        <span class="ladda-label">{{ 'import_data'|trans|desc('importuj dane') }}</span>
                    </a>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            $('#file').fileupload({
                dataType: 'json',
                replaceFileInput: false,
                progressInterval: 15,
                add: function (e, data) {
                    data.context = $('#start-upload-btn').removeClass('disabled')
                            .click(function (e) {
                                e.preventDefault();
                                var l = Ladda.create(this);
                                l.start();
                                data.submit();
                            });
                },
                start: function (e) {

                    $('#upload-progress').removeClass('hide');
                },
                done: function (e, data) {
                    $('#upload-progress .bar').css('width', '0%');
                    $('#upload-progress').addClass('hide');

                    $('#fileId').val(data.result.fileId);
                    $('#dictionaries').val(JSON.stringify(data.result.dictionaries));
                    $('#insurance-data-import-form').attr('action', data.result.action);

                    $('#insurance-data-import-form').submit();
                }

            }).bind('fileuploadprogress', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#upload-progress .bar').css(
                        'width',
                        progress + '%'
                );
            });

            $('body').on('change', 'select#package', function () {
                var form = $(this).closest('form');
                var data = {'package': $(this).val()};
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('#dynamic-fields').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#dynamic-fields')
                        );
                    }
                });
            });

        });
    </script>
{% endblock %}