{% extends "WebBundle::base.html.twig" %}

{% block title %}{{ 'insurance_data_import'|trans|capitalize }}{% endblock %}

{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_insurance_programs_index')}}">
                <span class="caption-subject bold">
                    {{ 'vin_import'|trans|desc('Import VIN')}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-4 no-padding">
        <a href="{{ path('admin_insurance_programs_import_database') }}"
           class="col-sm-12 col-xs-12 col-lg-5 btn btn-sm green-meadow xs-full pull-right p-x-1 m-b-1">
            <i class="fa fa-database"></i>
            {{ 'import_data_from_database'|trans|capitalize }}
        </a>
        <a href="{{ path('admin_insurance_programs_import_file') }}"
           class="col-sm-12 col-xs-12 col-lg-5 btn btn-sm blue xs-full pull-right p-x-1 m-b-1 m-r-1 ">
            <i class="fa fa-folder-open"></i>
            {{ 'import_data_from_file'|trans|capitalize }}
        </a>
    </div>

    <div class="clearfix"></div>
    <div id="users-ajax-container">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-vam">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'package'|trans|capitalize }}</th>
                    <th>{{ 'interval'|trans|capitalize }}</th>
                    <th>{{ 'active'|trans|capitalize }}</th>
                    <th>{{ 'created_at'|trans|capitalize }}</th>
                    <th>{{ 'actions'|trans|capitalize }}</th>
                </tr>
                </thead>
                <tbody id="users-tbody">
                {% for importer in importers %}
                    <tr>
                        <td>{{ importer.id }}</td>
                        <td>{{ importer.package }}</td>
                        <td>{{ importer.interval|gmdate('H:i:s') }}</td>
                        <td>{{ importer.active ? '<i class="fa fa-check"></i>' : '<i class="fa fa-check"></i>' }}</td>
                        <td>{{ importer.createdAt|date('Y-m-d H:i:s') }}</td>

                        <td class="fit">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_insurance_programs_import_database', {'id': importer.id}) }}"
                                   class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#"
                                   class="btn btn-xs red btn-delete tooltips" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'delete'|trans|desc('usuń')|title }}"
                                   data-url="{{ path('admin_insurance_programs_import_database_delete', {'id': importer.id}) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}