{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_insurance_programs_import') }}">
            <span class="caption-subject bold">{{ 'insurence_programs_platform_edit'|trans|desc('edycja platformy')|capitalize }}
        </span>
            </a>
        </div>
    </div>

    <form id="insurance-data-import-form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">

        {{ form_errors(form) }}

        {{ form_widget(form) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn green p-x-3">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
