{% extends '@Mailbox/EmailTemplate/index.html.twig' %}

{% block body %}
    {% spaceless %}
    <div class="starter24-wrapper-content container-fluid" style="max-width:1200px">
        <table width="100%">
            <tr>
                <td colspan="7">
                    <h4>
                        __TITLE__:/
                        Zahlungsgarantie für den Auftrag Nr :   <b>__CASE_ID__</b>
                    </h4>
                </td>
            </tr></table><table width="100%" style="">
            <tr>
                <td><b>Do:/An:</b></td>
                <td colspan="7">__PARTNER__</td>
            </tr>
            <tr>
                <td><b>Od:/Von:</b></td>
                <td>Starter24 Sp z o.o (__USER_NAME__)</td>
                <td colspan="6" >
                    <div class="logo-starter right">
                        <img class="block-img" style="width: 150px;" src="{{ serverHost }}/images/email_assets/starter24.png"
                             alt="Logo starer"> <br>
                        ADAC Notrufstation Polen
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="6" style="font-size: 14px;">Tel. kontaktowy dla Państwa:/Kontakt Telefon für Sie: <b>(+48) 61 83 19 889</b></td>
                <td><b>__STARTER_MAIL__</b></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="6" style="font-size: 14px;">Infolinia dla Klienta: / Kontakt Telefon für Mitglieder: (+48) 61 83 19 888</td>
            </tr>
            <tr>
                <td>
                    <b>Data / Datum:</b>
                </td>
                <td> __TODAY__</td>
                <td></td>
                {#<td><b>Liczba stron / Seiten:</b></td>#}
                {#<td>1</td>#}
            </tr>
        </table><br> <table style="width: 100%; border-top: 1px solid black" cellspacing="0" cellpadding="3">
            <tr>
                <td style="border-bottom: 1px solid black;font-size: 15px;" colspan="10"><b>Niniejszym gwarantujemy kwotę:/<br>
                        Hiermit erteilt Ihnen ADAC Zahlungsgarantie in der Höhe von:</b>
                </td>
                <td colspan="2" style="border-bottom: 1px solid black; font-size: 20px;">
                    <b>__GOP__ netto</b>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid black">
                <td colspan="8">Tytułem organizacji przez Państwa usługi:/
                    Die Zahlungsgarantie umfasst
                </td>
                <td style="font-size: 15px;" colspan="4">
                    <b>__SERVICE__</b>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:20px" colspan="8"><br>
                    Na rzecz naszego Klienta: <br>
                    Daten der Person die Anspruch<br>
                    auf Dienstleistung hat
                </td>
                <td style="padding-bottom:20px" colspan="4"><br>
                    __CLIENT_INFO__
                </td>
                {#<td colspan="6" style="border-bottom: 1px solid dotted">#}

                {#</td>#}
            </tr>
        </table>___MW_TIMES__ __DETAILS_PART__
<table>            <tr style="padding-top: 3px;">
                  <td  style="width:50%;border-top: 1px dotted black; font-size:13px;">
                    <b> Dane do wystawienia faktury:/Die Rechnung
                        ausgestellt auf:</b>
                    <p>
                        ADAC Versicherung AG<br>
                        Hansastrasse 19, 80686 Munich, NIP: DE 811125423
                    </p>
                </td>
                  <td  style="width:50%;border-top: 1px dotted black; font-size:13px;">
                    <b> Fakturę prosimy wysłać na adres: / Die Rechnung
                        schicken Sie bitte unter:</b>
                    <p>
                        Starter24 Sp. z o.o. <br/>
                        ul. Józefa Kraszewskiego 30, 60-519 Poznań
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="12"
                    style="border-top: 1px dotted black; padding: 5px; padding-bottom: 10px; font-size: 11px; line-height: 11px">
                    <p>
                        1. Dane nabywcy konieczne do wystawienia faktury widnieją obok pola
                        „Dane do wystawienia faktury”. Fakturę zawsze podpisuje klient - członek automobilklubu. //
                        <br/>
                        Die zur Rechnungserstellung benötigte Angaben sind im Feld „Die Rechnung ausgestellt auf:“.
                        Rechnung soll immer von Kunden - Mitglied untergeschrieben sein. <br/>
                        2. W opisie usługi na fakturze prosimy zawrzeć imię i nazwisko członka klubu motoryzacyjnego
                        oraz numer członkowski. // <br/> Bei Beschreibung der
                        Dienstleistung in Rechnung bitte Name und Vorname samt Mitgliedsnummer des Mitgliedes eintragen.
                        <br>
                        3. Koniecznym załącznikiem do faktury jest niniejsza gwarancja płatności z oryginalnym podpisem
                        klienta - członka klubu. //
                        <br/> Die Rechnung muss unbedingt diese Zahlungsgarantie als Beilage haben, mit dem
                        eigenhändigen originalen Unterschrift des Mitglieds. <br/>
                        4. Fakturę z załącznikami należy przesłać na do Starter24 (ADAC Notrufstation Polen), ul. Józefa
                        Kraszewskiego 30, 60-519 Poznań w ciągu 5 dni od daty wykonania usługi, za każde zlecenie należy
                        wystawić oddzielną fakturę. // <br/>
                        Die Rechnung soll binnen 5 Tage nach Starter24 (ADAC Notrufstation Polen), ul. Józefa
                        Kraszewskiego 30, 60-519 Poznań geschickt werden nach Beendung der Dienstleistung, für jeden
                        Auftrag soll getrennte Rechnung gestellt werden. <br/>
                        5. Niespełnienie powyższych warunków może spowodować wstrzymanie płatności za usługę. // <br/>
                        Falls eine dieser Bedingungen nicht erf üllt wird, kann die Zahlung für die Dienstleistung
                        angehaltet werden. <br/>
                        6. W przypadku zmiany kwoty gwarancji - kolejna gwarancja anuluje poprzednie // <br/> Falls die
                        Zahlungsgarantie geändert worden ist, hiermit
                        annullieren wir alle von uns erteilten Zahlungsgarantien, die diesen Auftrag - anbelangen. <br/>
                        7. Płatność nastąpi w ciągu 30 dni od daty doręczenia faktury do Starter24. w celu zapewnienia
                        natychmiastowej płatności na rachunku musi
                        być umieszczony kod IBAN oraz SWIFT Państwa banku. // <br/>
                        Die Zahlung erfolgt binnen 30 Tage nach Zugang der Rechnung an die Firma Starter24. Um die
                        sofortige Zahlung siecherzustellen muss auf
                        der rechnung IBAN und SWIFT stehen <br/>
                        8.Kwota podana na GOP jest kwotą maksymalną, a wystawiona za wynajem faktura nie może przewyższać kosztów / stawek wynikających z aktualnego cennika ustalonego przez strony./ Der auf Kostengarantie angegebene Betrag, ist der maximale Betrag und die für Mietwagen ausgestellte Rechnung darf nicht, die aus der aktuellen und von den beiden Seiten festgelegten Preisliste Kosten (Sätze) überschreiten. <br>
                    </p>

                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <p style="padding: 10px; font-size: 10px; border: 1px solid #d3d3d3;">
                        ADAC NOTRUFSTATION POLEN<br><br>
                        ICH VERPFLICHTE MICH, DEN DURCH DIE ADAC VERSICHERUNG AG GARANTIERTEN BETRAG, SOWEIT
                        DIESER
                        NICHT ALS LEISTUNG IM RAHMEN DER VERSICHERUNGSBEDINGUNGEN DER ADAC-PLUSMITGLIEDSCHAFT BZW. DES
                        ADAC VERSICHERUNG AG ÜBERNOMMEN WIRD, BINNEN 14 TAGEN NACH ZUGANG DER RECHNUNG AN DIE ADAC-
                        SCHUTZBRIEF VERS. -AG ZURÜCKZUZAHLEN
                        <br/>
                        <br/>
                        DATUM / UNTERSCHRIFT MITGLIED
                        ..................................................................................
                    </p>
                </td>
            </tr>
        </table></div>

    {% endspaceless %}
{% endblock %}