{% extends '@Mailbox/EmailTemplate/index.html.twig' %}

{#assistance_organization_request#}

{% block body %}
    <div class="starter24-wrapper-content">
        <div class="header clearfix">
            <div class="logo-starter left">
                <img class="block-img" src="{{ path }}/images/email_assets/starter24.png" alt="Logo starer">
            </div>
            <div class="header-text left center-align">
                <p>Assistance Organization Request</p>
                <p>Guarantee of Payment (form AOR-4)</p>
            </div>
            <div class="logo-arc-europe left">
                <img class="block-img"  src="{{ path }}/images/email_assets/arc-europe.png" alt="Logo arc-europe">
            </div>
        </div>
        <div class="header-caption">
            <p>Starter24 Sp.z.o.o</p>
            <p>ul. Józefa Kraszewskiego 30</p>
            <p>60-519 Poznań - POLAND</p>
        </div>
        <div class="clearfix">
            <div class="request-info width-48">
                <div class="div-table">
                    <div class="row-table">
                        <div class="col-table width-25">
                            <p>REQUEST</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-table width-75">
                            <p>
                            <span class="label">
                                To:
                            </span>
                                <span class="value">
                                ARC-SP
                            </span>
                            </p>
                            <p>
                            <span class="label">
                                From:
                            </span>
                                <span class="value">
                                Starter24 (Srv. Provider Poland)
                            </span>
                            </p>
                            <p>
                            <span class="label">
                                Date:
                            </span>
                                <span class="value">
                                29.03.n.e.2018
                            </span>
                            </p>
                            <p>
                            <span class="label">
                                File ref:
                            </span>
                                <span class="value">

                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-table clearfix">
            <div class="left-table width-48">
                <div class="div-table">
                    <div class="row-table">
                        <div class="col-table width-25">
                            <p>FDDS ID</p>
                        </div>
                        <div class="col-table width-75">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-table width-48">
                <div class="div-table">
                    <div class="row-table">
                        <div class="col-table width-25">
                            <p>Assumed fault or cause of incident</p>
                        </div>
                        <div class="col-table width-75">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}