{% extends '@Mailbox/EmailTemplate/index.html.twig' %}

{% if serviceId is not defined %}
    {% set serviceId = parseAttribute('{@838,839@}', groupProcessInstanceId) %}
{% endif %}
{% if platformId is not defined %}
    {% set platformId = parseAttribute('{@253*@}', groupProcessInstanceId) %}
{% endif %}


{% set isFdds = parseAttribute('{@838,841@}', groupProcessInstanceId) %}

{% set alwaysUseFdds = 0 %}

{% if serviceId == 1 %}
    {% set alwaysUseFdds = getBusinessConfig('towing.always_use_fdds', groupProcessInstanceId)  %}
{% elseif serviceId == 2 %}
    {% set alwaysUseFdds = getBusinessConfig('rsa.always_use_fdds', groupProcessInstanceId)  %}
    {% else %}
    {% set alwaysUseFdds = getBusinessConfig('fdds_is_required', groupProcessInstanceId ) %}
{% endif %}

{% if alwaysUseFdds %}
    {% set isFdds = 1 %}
{% endif %}

{% set fdds = getBusinessConfig('fdds', groupProcessInstanceId)  %}
{% set additionalNotes = '' %}

{#assistance_organization_request#}

{% block header_style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ path }}/bundles/mailbox/css/base-style.css">
{% endblock %}
{% block body %}

    {% if userName is not defined %}
        {% set userName = parseAttribute('{@838,840@}', groupProcessInstanceId) %}
    {% endif %}


    <div class="starter24-wrapper-content container-fluid">
        {% include '@Mailbox/EmailTemplate/header_request.html.twig' with {extraLogo: getPartnerLogo(groupProcessInstanceId), title: 'Assistance Organization Request'} %}
        <div class="row">
            <div class="col-xs-6">
                <table class="table table-bordered table-custom">
                    <tbody>
                    <tr>
                        <td class="active narrow-td">REQUEST</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-3 small">To:</div>
                                <div class="col-xs-9">
                                    {% if serviceId in [1,2] %}
                                        {{ parseAttribute('{#partnerName({@767,773,704*@}|0)#}', groupProcessInstanceId) }}
                                    {% else %}
                                        {{ parseAttribute('{#partnerName({@741*@}|0)#}', groupProcessInstanceId) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 small">From:</div>
                                <div class="col-xs-9">Starter24</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 small">Date:</div>
                                <div class="col-xs-9">
                                    {{ "now"|date("d.m.Y") }}
                                    {#{% verbatim %}#}{#showDatetime(#}{#processInfo(1009.060|created_at)#}{#|0|d.m.Y)#}{#{% endverbatim %}#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 small no-break-text">File ref:</div>
                                <div class="col-xs-9">Starter: {% verbatim %}{#caseid#}{% endverbatim %}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-custom" style="margin: 0 !important;">
                    <tbody>
                    <tr>

                        {% if isFdds %}
                            <td class="active narrow-td">FDDS ID</td>
                            <td>
                                {{ fdds }}
                            </td>
                        {% else %}
                            <td class="active narrow-td">Invoicing</td>
                            <td>
                                Please settle up costs with local sales organization
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-custom">
                    <tbody>
                    <tr>
                        <td class="active small narrow-td">
                            Assumed fault or cause of incident
                        </td>
                        <td>
                            {{ parseAttribute('{#diagnosisDescription(false|en)#}', groupProcessInstanceId) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-custom">
                    <tbody>
                    <tr>
                        <td class="info text-center narrow-td" colspan="2">BENEFICIARY</td>
                    </tr>
                    <tr>
                        <td class="active">First Name</td>
                        <td>{{ parseAttribute('{@80,342,64@}', groupProcessInstanceId) }}</td>
                    </tr>
                    <tr>
                        <td class="active">Family Name</td>
                        <td>{{ parseAttribute('{@80,342,66@}', groupProcessInstanceId) }}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Home Adress:<br>
                            Street<br>
                            Post Code<br>
                            City<br>
                            Country
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Mobile tel. Nbr</td>

                        {% set telNumber = parseAttribute('{@80,342,408,197@}', groupProcessInstanceId) %}

                        <td rowspan="2">{{ addPhonePrefix(telNumber) }}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Alternative tel
                            nbr
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Availability of:</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-5">
                                    <span class="small">Credit Card:</span>
                                </div>

                                {% set creditCard = parseAttribute('{@117@}', groupProcessInstanceId) %}

                                <div class="col-xs-7">
                                    <label class="container radio-container">Yes
                                        <input type="radio" {{ creditCard == 1 ? 'checked' : '' }}>
                                        <span class="checkmark" ></span>
                                    </label>
                                    <label class="container radio-container">No
                                        <input type="radio" {{ (creditCard is not empty and creditCard == 0) ? 'checked' : '' }}>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <span class="small">Driving Licence:</span>
                                </div>
                                <div class="col-xs-7">
                                    <label class="container radio-container">Yes
                                        <input type="radio" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container radio-container">No
                                        <input type="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">End Destination:</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="small">City:</span>
                                </div>
                                <div class="col-xs-8">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="small">Country:</span>
                                </div>
                                <div class="col-xs-8">

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Number of persons:</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="small">Adults:</span>
                                </div>
                                <div class="col-xs-8">
                                    {{  parseAttribute('{@79@}', groupProcessInstanceId)|number_format - parseAttribute('{@492@}', groupProcessInstanceId)|number_format }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="small">Children:</span>
                                </div>
                                <div class="col-xs-8">
                                    {{ parseAttribute('{@492@}', groupProcessInstanceId)|number_format }}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Nbr o pets:</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table table-bordered table-custom">
                    <tbody>
                    <tr>
                        <td class="info text-center narrow-td" colspan="2">VEHICLE</td>
                        {#<td></td>#}
                    </tr>
                    <tr>
                        <td class="active narrow-td">Make, Model</td>
                        <td>{{ parseAttribute('{@74,73@}', groupProcessInstanceId) }}</td>
                    </tr>
                    {#<tr>#}
                        {#<td class="active narrow-td">Model</td>#}
                    {#</tr>#}
                    <tr>
                        <td class="active">Colour</td>
                        <td> {{ parseAttribute('{@74,343@}', groupProcessInstanceId) }}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Reg. Plate</td>
                        <td>{{ parseAttribute('{@74,72@}', groupProcessInstanceId) }}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Date of 1st reg</td>
                        <td>{{ parseAttribute('{@74,233(10)@}', groupProcessInstanceId) }}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">VIN</td>
                        <td>{{ parseAttribute('{@74,71@}', groupProcessInstanceId) }}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Breakdown Location:<br>
                            Street<br>
                            Post Code<br>
                            City<br>
                            Country
                        </td>
                        <td>{% verbatim %}{#displayLocalization()#}{% endverbatim %}</td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Vulnerable location?</td>
                        <td>
                            <label class="container">Yes (if blank: no)
                                <input type="checkbox" {% if parseAttribute('{@513@}', groupProcessInstanceId) == "1" and parseAttribute('{@414*@}', groupProcessInstanceId) in ["1", "2", "3"] %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </label>

                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td" rowspan="2">Breakdown Location:</td>
                        <td>
                            Lat: {{ parseAttribute('{@101,85,93@}', groupProcessInstanceId) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            lng: {{ parseAttribute('{@101,85,92@}', groupProcessInstanceId) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="active">
                            Selling dealer<br>
                            (name/address/tel.)
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Dimensions* (not
                            required for pasenger
                            cars)
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-6">Length: {% if parseAttribute('{@74,261@}', groupProcessInstanceId) %} {{ parseAttribute('{@74,261@}', groupProcessInstanceId) |number_format(2) }}{% endif %}</div>
                                <div class="col-xs-6">Height: {% if parseAttribute('{@74,263@}', groupProcessInstanceId) %}{{ parseAttribute('{@74,263@}', groupProcessInstanceId) |number_format(2) }}{% endif %}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Width: {% if parseAttribute('{@74,262@}', groupProcessInstanceId)  %}{{ parseAttribute('{@74,262@}', groupProcessInstanceId)|number_format(2)  }}{% endif %}</div>
                                <div class="col-xs-6">Weight: {{ parseAttribute('{@74,76@}', groupProcessInstanceId, ' kg') }} </div>
                            </div>
                            <div class="row">
                                {% set typeLoad = parseAttribute('{@74,430@}', groupProcessInstanceId) %}
                                {% set amountLoad = parseAttribute('{@74,429@}', groupProcessInstanceId, ' kg') %}
                                <div class="col-xs-12">
                                    {%- if amountLoad is not empty %}Load: {{ amountLoad }} {% endif -%}
                                    {%- if typeLoad is not empty %} ({{ typeLoad }}) {% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Vehicle moveable?</td>
                        <td>
                            <label class="container">No (if blank: yes)
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">Automatic Gear?</td>
                        <td>
                            <label class="container">Yes (if blank: no)
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        {# Dostępne wtedy gdy w kroku 1009.031 zaznaczy się "Tak, ciągnie przyczepe" #}

                        <td class="active narrow-td">Trailer present?</td>
                        <td>

                            {% set difficultyWithLoading = parseAttribute('{@551*@}', groupProcessInstanceId) %}
                            {% set isTrailer = 0 %}

                            {% if difficultyWithLoading == "8" %}
                                {% set isTrailer = 1 %}
                            {% endif %}

                            <label class="container">Yes (if blank: no)
                                <input type="checkbox" {{ isTrailer == 1 ? 'checked' : '' }}>
                                <span class="checkmark"></span>
                            </label>
                            <span class="small">Covered for assistance</span>
                            <label class="container radio-container">Yes
                                <input type="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container radio-container">No
                                <input type="radio">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            <span class="small">If trailer needs to be
                            towed: Dimensions</span>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-6">Length: {{ parseAttribute('{@868,74,261@}', groupProcessInstanceId)|dimensions_format }}</div>
                                <div class="col-xs-6">Height: {{ parseAttribute('{@868,74,263@}', groupProcessInstanceId)|dimensions_format }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Width: {{ parseAttribute('{@868,74,262@}', groupProcessInstanceId)|dimensions_format }}</div>
                                <div class="col-xs-6">Weight: {{ parseAttribute('{@868,74,76@}', groupProcessInstanceId, ' kg') }}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <table class="table table-bordered table-custom">
                    <tbody>
                    <tr>
                        <td class="info narrow-td text-center" colspan="2">
                            SERVICE & REQUEST
                            <br>
                            {%if parseAttribute('{@253*@}',groupProcessInstanceId) in [6, 11, 31] %}
                                We ask You to organize & settle costs
                                with importer:
                            {% else %}
                                We ask You to organize:
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Roadside Assistance
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        <input type="checkbox" {% if serviceId == 2 %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    {% if serviceId == 2 %}
                                        {% set additionalNotes = getBusinessConfig('rsa.organisation_request_notes_text', groupProcessInstanceId) %}
                                        {{ getBusinessConfig('rsa.organisation_request_costs_text', groupProcessInstanceId) }}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        {% set destinationType = parseAttribute('{@767,1128*@}', groupProcessInstanceId) %}

                        <td class="active narrow-td">
                            Towage
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        {% if destinationType == 5 %}
                                            <input type="checkbox">
                                        {% else %}
                                            <input type="checkbox" {% if serviceId == 1 or serviceId == 2 %}checked{% endif %}>
                                        {% endif %}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    {% if serviceId == 1 or serviceId == 2 %}
                                        {% set additionalNotes = getBusinessConfig('towing.organisation_request_notes_text', groupProcessInstanceId) %}
                                        {{ getBusinessConfig('towing.organisation_request_costs_text', groupProcessInstanceId) }}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Replacement vehicle
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        <input type="checkbox" {% if serviceId == 3 %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    Cat: {{ parseAttribute('{@837,230@}', groupProcessInstanceId) }} <br>
                                    {% if parseAttribute('{@985,986@}',groupProcessInstanceId) > 0 %}
                                        Days: {{ parseAttribute('{@985,986@}', groupProcessInstanceId) }}
                                    {% else %}
                                        {% if parseAttribute('{@837,134@}',groupProcessInstanceId) > 100 %}
                                            a replacement car for the time of repair
                                           {% else %}
                                           {#{%  if  getBusinessConfig('replacement_car.working_days_limit', groupProcessInstanceId) > 0 %}#}
                                               {#Working days:#}
                                           {#{% else %}#}
                                               Days:
                                           {#{% endif %}#}
                                            {{ parseAttribute('{@837,134@}', groupProcessInstanceId) }}
                                        {% endif  %}

                                        {% if serviceId == 3 %}
                                            {% set additionalNotes = getBusinessConfig('replacement_car.organisation_request_notes_text', groupProcessInstanceId) %}
                                            <br/>
                                            {{ getBusinessConfig('replacement_car.organisation_request_costs_text', groupProcessInstanceId) }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Accomodation
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        <input type="checkbox" {% if serviceId == 4 %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    {% if serviceId == 4 %}
                                        Nights:
                                        {% set additionalNotes = getBusinessConfig('hotel.organisation_request_notes_text', groupProcessInstanceId) %}
                                        {% set days = getBusinessConfig('hotel.organisation_request_nights_text', groupProcessInstanceId) %}
                                        {% if platformId == 87 or platformId == 88 %}
                                            {% set days = parseAttribute('{@137,243@}', groupProcessInstanceId) %}
                                            {% set stars = parseAttribute('{@728*@}', groupProcessInstanceId) %}
                                            up to {{ days }} nights max, {{ stars }} stars max

                                        {% else %}
                                        {{ days }}
                                        <br/>
                                        {{ getBusinessConfig('hotel.organisation_request_costs_text', groupProcessInstanceId) }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table table-bordered table-custom" style="margin: 0 !important;">
                    <tbody>
                    <tr>
                        <td class="info narrow-td text-center" colspan="2">
                            SERVICE & REQUEST
                            <br>
                            {%if parseAttribute('{@253*@}',groupProcessInstanceId) in [6,11,31] %}
                                We ask You to organize & settle costs
                                with importer:
                            {% else %}
                                We ask You to organize:
                            {% endif %}

                        </td>
                    </tr>

                    <tr>
                        <td class="active narrow-td">
                            Taxi
                        </td>

                        {% set taxiNeed = 0 %}

                        {% if serviceId == 5 %}
                            {% set taxiNeed = 1 %}
                        {% endif %}

                        {% if serviceId == 4 %}
                            {% set needTaxiInAccomodation = parseAttribute('{@137,145@}', groupProcessInstanceId) %}
                            {% if needTaxiInAccomodation == 1 %}
                                {% set taxiNeed = 1 %}
                            {% endif %}
                        {% endif %}

                        <td class="">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container margin-bottom-10">
                                        <input type="checkbox" {% if taxiNeed == 1 %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    {% if serviceId == 5 %}
                                        <div class="m-t-1">
                                            {% set additionalNotes = getBusinessConfig('taxi.organisation_request_notes_text', groupProcessInstanceId) %}
                                            {{ getBusinessConfig('taxi.organisation_request_costs_text', groupProcessInstanceId) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Plane Ticket
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        <input type="checkbox" {% if serviceId == 6 %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <div class="col-xs-5">From</div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5">To</div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5"><span class="small no-break-text">Nbr of passengers</span></div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5">Cost</div>
                                        <div class="col-xs-7">
                                            {% if serviceId == 6 %}
                                                {% set additionalNotes = getBusinessConfig('travel.organisation_request_notes_text', groupProcessInstanceId) %}
                                                {{ getBusinessConfig('travel.organisation_request_costs_text', groupProcessInstanceId) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Train ticket
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <div class="col-xs-5">From</div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5">To</div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5"><span class="small no-break-text">Nbr of passengers</span></div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5">Cost</div>
                                        <div class="col-xs-7"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="active narrow-td">
                            Repair monitoring
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="container">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="container">Workshop diagnostic
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="container small no-break-text">Estimated repair completion date/time
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="container">Estimated repair cost
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="container">Other/please specify
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 margin-top-10 margin-bottom-10">
                <table class="table table-bordered table-custom">
                    <tr>
                        <td class="info">REQUEST: Remarks and/or special instruction</td>
                    </tr>
                    <tr>
                        <td>
                            {% set urgent = parseAttribute('{@415@}', groupProcessInstanceId) %}
                            {% set eta = parseAttribute('{@540@}', groupProcessInstanceId) %}
                            {% set scheduled = parseAttribute('{@215@}', groupProcessInstanceId) %}

                            {% if urgent %}
                                URGENT!<br/>
                            {% endif %}
                            {% if scheduled %}
                                Important notice! The service is scheduled for {{ eta }}.<br/>
                            {% else %}
                                As soon as possible<br/>
                            {% endif %}

                            {#{{ parseAttribute('{@838,63@}', groupProcessInstanceId) | raw }}#}
                            {{ getOrganisationRequestNotes(groupProcessInstanceId, serviceId)|raw }}
                            <br/><br/>
                            {{ additionalNotes }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% if platformId != 87 and platformId != 88 %}
        <div class="row" style="padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0;">
            <div class="col-xs-12">
                <h6 class="small">Please inform us immediately if sending mobile service to this location will not be possible or will be delayed.
                    If vehicle is standing on a toll (not commonly accessible) motorway or road and we won’t receive answer
                    from you within 30 minutes after sending this message, please consider the case as cancelled.</h6>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-custom">
                    <tr>
                        <td>Operator's Name</td>
                        <td>{{ userName }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% if platformId == 87 or platformId == 88 %}
        <div class="row" style="padding-top: 3px; padding-bottom: 3px; margin-top: 0; margin-bottom: 0;">
            <div class="col-xs-12">
                <h6 class="small">If required to use any lifting equipment, you shall be obligated to take photos of the damaged vehicle. Please be advised that any failure to provide such documentation may result in settling no costs of services provided.</h6>
            </div>
        </div>
        {% endif %}
        <div class="row" style="padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0;">
            <div class="col-xs-12">
                <h6 class="small">Please kindly acknowledge receipt of this message and send your prompt reply to: arc@starter24.pl.
                    If you are not using email, please send fax to: +48 61 83 19 850. Contact telephone number is: +48 61 83 19 922</h6>
            </div>
        </div>
    </div>
{% endblock %}