{% extends '@Mailbox/EmailTemplate/index.html.twig' %}

{% block header_style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ path }}/bundles/mailbox/css/base-style.css">
{% endblock %}
{% block body %}
    <div class="starter24-wrapper-content container-fluid">
        {% include '@Mailbox/EmailTemplate/header_request.html.twig' with {title: 'Detailed information'} %}

        {#<div class="row">#}
            {#<div class="col-xs-12">#}
                {#<h6 class="small">#}
                    {#<b>Our file no.: Starter: U532825 | Customer: Wojciech Sokołowski | Vhl: Audi A4, reg. no.: SM91471, VIN:#}
                        {#WAUZZZF45JA089195</b>#}
                {#</h6>#}
            {#</div>#}
        {#</div>#}

        <div class="row" style="border: 1px #000 solid">
            <div class="col-xs-6" >
                <b>Detailed information about services:</b>
            </div>
            <div class="col-xs-6">
                <b>Please correct / complete if needed</b>
            </div>
            <div class="col-xs-12" style="padding: 20px; min-height: 400px;">

                <p>
                    <b>Hello from Poland,</b><br>
                </p>
                <p>
                    Did you receive our request regarding case nr {{ parseAttribute('{#formatCaseNumber({@rootid@})#}', groupProcessInstanceId) }}?
                </p>
                <br>
                <p>
                    Vhl:{{ parseAttribute('{@74,73@}', groupProcessInstanceId) }}, reg. no.: {{ parseAttribute('{@74,72@}', groupProcessInstanceId) }}
                    <br>
                    VIN: {{ parseAttribute('{@74,71@}', groupProcessInstanceId) }}
                </p>
                <p>Customer: {{ parseAttribute('{@418,342,64@}', groupProcessInstanceId) }} {{ parseAttribute('{@418,342,66@}', groupProcessInstanceId) }}</p>

                <p>
                    Best regards,<br>
                    Starter24
                </p>

            </div>
        </div>
        <div class="row" style="border: 1px #000 solid">
            <div class="col-xs-6" >
                <b>Additional information:</b>
            </div>
            <div class="col-xs-12" style="padding: 20px; min-height: 150px;">

            </div>
        </div>
        <div class="row" style="margin: 10px 0">
            <div class="col-xs-6 no-padding" >
                <table class="table table-bordered table-custom">
                    <tbody>
                    <tr>
                        <td class="active">
                            Name
                        </td>
                        <td>
                            ## USERNAME ##
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                email: arc@starter24.pl, fax: +48 61 83 19 850,
                tel.: +48 61 83 19 885
            </div>
        </div>
    </div>
{% endblock %}