{% if title is not defined %}
    {% set title = 'Assistance Organization Request' %}
{% endif %}

{% if extraLogo is not defined %}
    {% set extraLogo = "" %} {#arc-europe#}
{% endif %}

<div class="header row">
    <div class="logo-starter col-xs-2 text-center">
        <img class="block-img" src="{{ path }}/images/email_assets/starter24.png" alt="Logo starer">
    </div>
    <div class="header-text col-xs-8 text-center">
        <h4><b>{{ title }}</b></h4>
        {% if isFdds %}
            <h4>Guarantee of Payment (form AOR-4)</h4>
        {% endif %}
    </div>
    {% if extraLogo is not empty %}
        <div class="col-xs-2 text-right">
            <img class="block-img" src="{{ path }}{{ extraLogo }}" alt="Logo {{ extraLogo }}">
        </div>
    {% endif %}
    {% if platformId == 87 or platformId == 88 %}
        <div class="logo-pzu col-xs-2 text-right">
            <span><h3>PZU</h3></span>
        </div>
    {% endif %}
</div>
<div class="header-caption row">
    <div class="col-xs-6 address">
        Starter24 Sp.z.o.o<br>
        ul. Józefa Kraszewskiego 30<br>
        60-519 Poznań - POLAND<br>
    </div>
    <div class="col-xs-6">
        <span class="small">
            <i>Number of pages including this one: 1</i>
            <br/>
            {% if isFdds %}
                Please note that Starter24 is not a SMARC partner, therefore - unless stated otherwise
                in program's documentation - billing will be based on the X-border rates, as indicated
                in ARC Europe's general cross billing fees' document.
            {% else %}
                Please settle up the cost with importer of your country. In case it should
                not be possible to organize help through the VW-network, please inform
                Starter24 A.S.A.P. Please do not organize help through alternative
                channels until further notice from Starter
            {% endif %}
        </span>
    </div>
</div>