{% set path = pathToWeb %}
{#{% if app.request %}#}
    {#{% set path = "" %}#}
{#{% endif %}#}

<html>
<head>
    <meta charset="UTF-8" />
    {% block header_style %}
        <link rel="stylesheet" type="text/css"  href="{{ serverHost }}/bundles/web/css/vendor/bootstrap/bootstrap.min.css" >
        {#<link rel="stylesheet" type="text/css"  href="{{ path }}/bundles/mailbox/css/style-for-email.css" >#}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>