{% if title is not defined -%}
    {% set title = '__TITLE__' %}
{%- endif -%}

{#NICE <span style="color: #526197;">TITLE</span>#}
{%- if content_title is not defined -%}
    {% set content_title = '__CONTENT_TITLE__' %}
{%- endif -%}

{%- if content is not defined -%}
    {% set content = '__CONTENT__' %}
{%- endif -%}

{%- if logo is not defined -%}
    {% set logo = 'starter24' %}
{%- endif -%}

{%- if lang_footer is not defined -%}
    {% set lang_footer = 'en' %}
{%- endif -%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    {{- include('@Mailbox/EmailTemplate/ModernEmailTemplate/head.html.twig') -}}
    <title>{{ title }}</title>
</head>

<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

{% spaceless %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">

    <tr>
        <td align="center">
            <table border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590">

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">

                        <table border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590">
                            <tr>
                                <td align="center" height="70" style="height:70px;">
                                    <span style="display: block; "><img width="200" border="0" style="display: block; width: 200px;" src="{{ serverHost }}/images/email_assets/{{ logo }}.png" alt="" /></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<!-- end header -->

<!-- big image section -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

    <tr>
        <td align="center">
            <table border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590">

                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;" class="main-header">
                        <div style="line-height: 35px">{{ content_title | raw }}</div>
                    </td>
                </tr>

                <tr>
                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">
                        <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                            <tr>
                                <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>

                <tr>
                    <td style="color: #888888; font-size: 16px; font-family: Work Sans, Calibri, sans-serif; line-height: 24px;">{{ content | raw }}</td>
                </tr>

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>
            </table>

        </td>
    </tr>

</table>
<!-- end section -->

<!-- footer section -->
    {% if lang_footer == "pl" %}
        {{ include('@Mailbox/EmailTemplate/ModernEmailTemplate/footer_pl.html.twig') }}
    {% else %}
        {{ include('@Mailbox/EmailTemplate/ModernEmailTemplate/footer_arc.html.twig') }}
    {% endif %}
<!-- end section -->

<!-- footer ====== -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f4f4f4">

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

</table>
<!-- end footer ====== -->
{% endspaceless %}
</body>

</html>