{% if title is not defined -%}
    {% set title = '__TITLE__' %}
{%- endif -%}

{#NICE <span style="color: #526197;">TITLE</span>#}
{%- if content_title is not defined -%}
    {% set content_title = '__CONTENT_TITLE__' %}
{%- endif -%}

{#{%- if content is not defined -%}#}
    {#{% set content = '__CONTENT__' %}#}
{#{%- endif -%}#}

{%- if date is not defined -%}
    {% set date = '__DATE__' %}
{%- endif -%}

{%- if service_partner_name is not defined -%}
    {% set service_partner_name = '__SERVICE_PARTNER_NAME__' %}
{%- endif -%}

{%- if cac_case_number is not defined -%}
    {% set cac_case_number = '__CAC_CASE_NUMBER__' %}
{%- endif -%}

{%- if our_case_number is not defined -%}
    {% set our_case_number = '__OUR_CASE_NUMBER__' %}
{%- endif -%}

{%- if logo is not defined -%}
    {% set logo = 'arc-europe' %}
{%- endif -%}

{%- if case_detail is not defined -%}
    {% set case_detail = '__case_detail__' %}
{%- endif -%}

{%- if VIN is not defined -%}
    {% set VIN = '__VIN__' %}
{%- endif -%}

{%- if date_of_1st_registration is not defined -%}
    {% set date_of_1st_registration = '__date_of_1st_registration__' %}
{%- endif -%}

{%- if Regplate is not defined -%}
    {% set Regplate = '__Regplate__' %}
{%- endif -%}

{%- if mileage is not defined -%}
    {% set mileage = '__mileage__' %}
{%- endif -%}

{%- if breakdown_location is not defined -%}
    {% set breakdown_location = '__breakdown_location__' %}
{%- endif -%}

{%- if FDDS_number is not defined -%}
    {% set FDDS_number = '__FDDS_number__' %}
{%- endif -%}

{%- if workshopID is not defined -%}
    {% set workshopID = '__workshopID__' %}
{%- endif -%}

{%- if comments is not defined -%}
    {% set comments = '__comments__' %}
{%- endif -%}

{%- if time_of_arrival is not defined -%}
    {% set time_of_arrival = '__time_of_arrival__' %}
{%- endif -%}

{%- if time_of_completion is not defined -%}
    {% set time_of_completion = '__time_of_completion__' %}
{%- endif -%}

{%- if component_code is not defined -%}
    {% set component_code = '__component_code__' %}
{%- endif -%}

{%- if component_code_desc is not defined -%}
    {% set component_code_desc = '__component_code_desc__' %}
{%- endif -%}

{%- if fault_code is not defined -%}
    {% set fault_code = '__fault_code__' %}
{%- endif -%}

{%- if fault_code_desc is not defined -%}
    {% set fault_code_desc = '__fault_code_desc__' %}
{%- endif -%}

{%- if completion_code is not defined -%}
    {% set completion_code = '__completion_code__' %}
{%- endif -%}

{%- if completion_code_desc is not defined -%}
    {% set completion_code_desc = '__completion_code_desc__' %}
{%- endif -%}

{%- if diagnosis_description is not defined -%}
    {% set diagnosis_description = '__diagnosis_description__' %}
{%- endif -%}

{%- if fixing_or_towing is not defined -%}
    {% set fixing_or_towing = '' %}
{%- endif -%}

{%- if repaired_permanently is not defined -%}
    {% set repaired_permanently = '' %}
{%- endif -%}


{%- if only_secondary_benefits_org is not defined -%}
    {% set only_secondary_benefits_org  = '' %}
{%- endif -%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    {{- include('@Mailbox/EmailTemplate/ModernEmailTemplate/head.html.twig') -}}
    <title>{{ title }}</title>
</head>

<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

{% spaceless %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">

    <tr>
        <td align="center">
            <table border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590">

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">

                        <table border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590">

                            <tr>
                                <td align="center" height="70" style="height:70px;">
                                    <a href="" style="display: block; border-style: none !important; border: 0 !important;"><img width="200" border="0" style="display: block; width: 200px;" src="{{ serverHost }}/images/email_assets/{{ logo }}.png" alt="" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<!-- end header -->

<!-- big image section -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

    <tr>
        <td align="center">
            <table border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590">

                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;" class="main-header">
                        <div style="line-height: 35px">{{ content_title | raw }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                            <tr>
                                <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>

                <tr style="font-family: 'Work Sans', Calibri, sans-serif;">
                    <td>
                        {{ 'modern_mail.mercedes.date'|trans|desc('Date')|capitalize }}
                    </td>
                    <td style="text-align: right;">
                        {{ date | raw }}
                    </td>
                </tr>

                {#<tr style="font-family: 'Work Sans', Calibri, sans-serif;">#}
                    {#<td>#}
                        {#{{ 'modern_mail.mercedes.pages'|trans|desc('Pages')|capitalize }}#}
                    {#</td>#}
                    {#<td style="text-align: right;">#}
                        {#2#}
                    {#</td>#}
                {#</tr>#}

                <tr>
                    <td style="height: 20px;font-size: 20px;"></td>
                </tr>
                <tr>
                    <td colspan="3">{{ 'modern_mail.mercedes.from'|trans|desc('From:') }} <b style="font-style: italic;">{{ service_partner_name |raw }}</b></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 30px;font-size: 30px;"></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-weight: bold; font-size: 16px;">{{ 'modern_mail.mercedes.CAC_case_number' |trans|desc('CAC case number') }}: {{ cac_case_number |raw }}</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 20px;font-size: 20px;"></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-weight: bold; font-size: 16px;">{{ 'modern_mail.mercedes.our_case_number' |trans|desc('Our case number') }}: {{ our_case_number |raw }}</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 30px;font-size: 30px;"></td>
                </tr>
                <tr>
                    <td colspan="3">{{ 'modern_mail.mercedes.folowing_details_were_verified' |trans|desc('The following incident details were verified by us:') }}</td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <td style="height: 30px;font-size: 30px;"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="details_table" style="border: 1px solid black; border-collapse: collapse;" width="100%">
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.case_details:' |trans|desc('Case details') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ case_detail | raw }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.VIN:' |trans|desc('VIN') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ VIN | raw }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.date_of_1st_registration:' |trans|desc('1st date of registration') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ date_of_1st_registration | raw }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.reg.plate:' |trans|desc('Reg. plate') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ Regplate | raw }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.mileage:' |trans|desc('Mileage') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ mileage | raw }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.breakdown_location:' |trans|desc('Breakdown location') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ breakdown_location | raw }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;border: 1px solid black; " colspan="2" width="50%">
                                    {{ 'modern_mail.mercedes.FDDS_number:' |trans|desc('FDDS number') }} :
                                </td>
                                <td class="anwser" width="50%" style="border: 1px solid black; ">
                                    {{ FDDS_number | raw }}
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 30px;font-size:30px;"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        The folowing services were provided:
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <td colspan="3" style="padding-left: 20px;">
                    <table>
                        <td style="width: 18px;max-width: 20px;height: 18px;line-height: 20px; border: 1px solid black; text-align: center; font-family: Quicksand, Calibri, sans-serif;">
                            {{ (fixing_or_towing == "2") ? "X" : "" }}
                        </td>
                        <td colspan="12" style="padding-left: 5px;padding-top: 4px;">{{ 'modern_mail.mercedes.vehicle_repaired_on_roadside'| trans|desc('Vehicle repaired on roadside') }}</td>
                    </table>
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <td colspan="3" style="padding-left: 20px;">
                        <table>
                            <td style="width: 18px;max-width: 20px;height: 18px;line-height: 20px; border: 1px solid black; text-align: center; font-family: Quicksand, Calibri, sans-serif;">
                                {{ (fixing_or_towing == "1") ? "X" : "" }}
                            </td>
                            <td  colspan="12" style="padding-left: 5px;padding-top: 4px;">{{ 'modern_mail.mercedes.vehicle_towed_to_workshop'| trans|desc('Vehicle towed to workshop') }}</td>
                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 20px; font-size: 20px;"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        {{ 'modern_mail.mercedes.workshopID' |trans|desc('Workshop ID') }}: {{ workshopID|raw }}
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px; font-size: 20px;"></td>
                </tr>

                <tr style="border: 1px solid grey;">
                    <td colspan="3" style="padding-left: 20px;">
                        <table>
                            <td style="width: 18px;max-width: 20px;height: 18px;line-height: 20px; border: 1px solid black; text-align: center; font-family: Quicksand, Calibri, sans-serif;">
                                {{ (repaired_permanently == "1") ? "X" : "" }}
                            </td>
                            <td  colspan="12" style="padding-left: 5px;padding-top: 4px;">{{ 'modern_mail.mercedes.vehicle_repaired_permanently'| trans|desc('Vehicle repaired permanently') }}</td>
                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr style="border: 1px solid grey;">
                    <td colspan="3" style="padding-left: 20px;">
                        <table>
                            <td style="width: 18px;max-width: 20px;height: 18px;line-height: 20px; border: 1px solid black;text-align: center; font-family: Quicksand, Calibri, sans-serif;">
                                {{ (repaired_permanently == "0") ? "X" : "" }}
                            </td>
                            <td colspan="12" style="padding-left: 5px;padding-top: 4px;">{{ 'modern_mail.mercedes.vehicle_repaired_temporarily'| trans|desc('Vehicle repaired temporarily') }}</td>
                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 20px; font-size: 20px;"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="details_table" style="border-collapse: collapse;" width="100%">
                            <tr>
                                <td style="width: 50%;border: 1px solid black; ">Actual Time of Arrival </td>
                                <td style="width: 50%;border: 1px solid black; ">Actual Time of Completion</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;border: 1px solid black; ">Date / Time: <div  style="float: right; text-align: right;">{{ time_of_arrival |raw }}</div> </td>
                                <td style="width: 50%;border: 1px solid black; ">Date / Time:  <div  style="float: right; text-align: right;">{{ time_of_completion |raw }}</div>  </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px; font-size: 20px;"></td>
                </tr>

                <tr style="border: 1px solid grey;">
                    <td colspan="3" style="padding-left: 20px;">
                        <table>
                            <td style="width: 18px;max-width: 20px;height: 18px;line-height: 20px; border: 1px solid black;text-align: center; font-family: Quicksand, Calibri, sans-serif;">
                                {{ (only_secondary_benefits_org == "1") ? "X" : "" }}
                            </td>
                            <td  colspan="12" style="padding-left: 5px;padding-top: 4px;">{{ 'modern_mail.mercedes.secondary_benefits_org'| trans|desc('ONLY Secondary benefits organisation') }}</td>
                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <td style="height: 30px; font-size: 30px;"></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 16px;">
                        <b>ARC fault codes</b>
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px; font-size: 20px;"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="details_table" style="font-size: 16px; border-collapse: collapse;" width="100%">
                            <tr>
                                <td style="font-weight: bold; padding: 3px;width: 30%;border: 1px solid black; ">{{  'modern_mail.mercedes.component_code'|trans|desc('Component code / Description')}}</td>
                                <td style="width: 10%;border: 1px solid black; ">{{ component_code|raw }}</td>
                                <td style="width: 60%;border: 1px solid black; ">{{ component_code_desc |raw }}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; padding: 3px;width: 30%;border: 1px solid black; ">{{  'modern_mail.mercedes.fault_code'|trans|desc('Fault code description/ Description')}}</td>
                                <td style="width: 10%;border: 1px solid black; ">{{ fault_code|raw }}</td>
                                <td style="width: 60%;border: 1px solid black; ">{{ fault_code_desc |raw }}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; padding: 3px;width: 30%;">{{  'modern_mail.mercedes.completion_code'|trans|desc('Completion code / Description')}}</td>
                                <td style="width: 10%;border: 1px solid black; ">{{ completion_code|raw }}</td>
                                <td style="width: 60%;border: 1px solid black; ">{{ completion_code_desc |raw }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height: 30px;font-style: 30px;"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p><b>Diagnosis description:</b> __diagnosis_description__</p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 30px;font-style: 30px;"></td>
                </tr>
                <tr>
                <td colspan="3">
                    <b>{{ 'modern_mail.mercedes.comments'|trans|desc('Comments')}}:</b>
                </td>
                <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        {{ comments| raw }}
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td style="height: 60px;font-size: 60px;"></td>
                </tr>

                {#___________#}
                {#<tr>#}

                    {#<td style="color: #888888; font-size: 16px; font-family: &#39;Work Sans&#39;, Calibri, sans-serif; line-height: 24px;">{{ content }}</td>#}
                {#</tr>#}

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>
            </table>

        </td>
    </tr>

</table>
<!-- end section -->

<!-- contact section -->
{{ include('@Mailbox/EmailTemplate/ModernEmailTemplate/footer_mercedes.html.twig') }}
<!-- end section -->

<!-- footer ====== -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f4f4f4">

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

</table>
<!-- end footer ====== -->
{% endspaceless %}
<style>
    .details_table, .details_table td, .details_table tr{
        border: 1px solid black;
    }
    .details_table td{
        padding: 5px;
    }
</style>


</body>

</html>