{% extends '@Mailbox/EmailTemplate/index.html.twig' %}
{% set towingOrFixing = (parseAttribute('{@271@}', groupProcessInstanceId) == 1) %}
{% if platformId is not defined %}
    {% set platformId = parseAttribute('{@253*@}', groupProcessInstanceId) %}
{% endif %}
{% block body %}
    <div class="header-row container text-center">
        <div class="header-date">
            {{ parseAttribute('{#showDatetime({#processInfo(1009.034|created_at)#}|1)#}
{#showDatetime({#processInfo(1009.071|created_at)#}|1)#}
{#showDatetime({#processInfo(1009.054|created_at)#}|1)#}', groupProcessInstanceId) }}
        </div>
        <h1>{{ 'roadreport.header.text'|trans|desc('Raport z wykonanej usługi') }}</h1>
    </div>
    <div class="content-holder">
        <div class="row">

            <div class="col-xs-6">
                <h4 class="desc_holder">{{ 'roadreport.body.case_data'|trans|desc('Dane sprawy') }}</h4>
            </div>
            <div class="col-xs-6">
                <h4 class="desc_holder">{{ 'roadreport.body.contractor_data'|trans|desc('Dane kontraktora realizującego usługę') }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.case_number'|trans|desc('Nr sprawy') }}:</div>
                <div class="value_holder">{{ parseAttribute('{#caseid#}',groupProcessInstanceId) }}</div>
            </div>
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.contractor_code'|trans|desc('Kod kontraktora') }}:</div>
                <div class="value_holder">{{ parseAttribute('{#partnerStarter24Code({@522*@})#}
{#partnerStarter24Code({@767,773,704*@})#}',groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.program'|trans|desc('Program') }}:</div>
                <div class="value_holder">{{ parseAttribute('{@202@}',groupProcessInstanceId) }}</div>
            </div>
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.company_name'|trans|desc('Nazwa firmy') }}:</div>
                <div class="value_holder">{{ parseAttribute('{#partnerLocationInfoDetail(522|595,597,84)#}', groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.driver_fullname'|trans|desc('Imię i nazwisko klienta') }}
                    :
                </div>
                <div class="value_holder">{{ parseAttribute('{@80,342,64@} {@80,342,66@}',groupProcessInstanceId) }}</div>
            </div>
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.partner_company_address'|trans|desc('Adres firmy') }}:
                </div>
                    <div class="value_holder">{{ parseAttribute('{#partnerAdress({@522*@})#} {#partnerAdress({@767,773,704*@})#}', groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.reg_number'|trans|desc('Nr rejestracyjny') }}:</div>
                <div class="value_holder">{{ parseAttribute('{@74,72@}',groupProcessInstanceId) }}</div>
            </div>
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.partner_NIP'|trans|desc('NIP') }}:</div>
                <div class="value_holder">{{ parseAttribute(' {#partnerLocationInfoDetail(522|595,597,83)#} ',groupProcessInstanceId)}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.make_model'|trans|desc('Marka, model') }}:</div>
                <div class="value_holder">{{ parseAttribute('{@74,73@}',groupProcessInstanceId) }}</div>
            </div>
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.partner_phone'|trans|desc('Numer telefonu') }}:</div>
                <div class="value_holder">{{ parseAttribute("{#partnerContact(522|1|2)#}",groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.first_reg_date'|trans|desc('Data pierwszej rejestracji') }}
                    :
                </div>
                <div class="value_holder">{{ parseAttribute('{@74,233@}', groupProcessInstanceId)|date("m/d/Y") }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.milleage'|trans|desc('Przebieg') }}
                    {% if parseAttribute('{@502^@}',groupProcessInstanceId) == 1 %}
                        {{ 'orientacyjny'|trans|desc('orientacyjny') }}
                    {% else %}
                        {{ 'dokładny'|trans|desc('dokładny') }}
                    {% endif %}</div>

                <div class="value_holder">{{ parseAttribute('{@74,75@}', groupProcessInstanceId) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.dmc'|trans|desc('DMC') }}:</div>
                <div class="value_holder">{{ parseAttribute('{@74,76@}', groupProcessInstanceId) }}</div>
            </div>
        </div>
        {% if platformId ==5 %}
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.adac_number'|trans|desc('Nr ADAC') }}:</div>
                <div class="value_holder">{{ parseAttribute('{@176@}', groupProcessInstanceId) }}</div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.location'|trans|desc('Miejsce zdarzenia') }}:</div>
                <div class="value_holder">{{ parseAttribute('{#displayLocalization()#}',groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row" style="margin-bottom:  30px;">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.transport_people_count'|trans|desc('Transport osób') }}:
                </div>
                <div class="value_holder">{{ parseAttribute('{@638,644,154@}',groupProcessInstanceId) }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.location.startDate'|trans|desc('Data i godzina przybycie na miejsce zdarzenia') }}:</div>
                {% if parseAttribute('{#showDatetime({@638,214@}|1)#}{#showDatetime({@767,214@}|1)#}',groupProcessInstanceId) != "" %}
                <div class="value_holder">{{ parseAttribute('{#showDatetime({@638,214@}|1)#}{#showDatetime({@767,214@}|1)#}',groupProcessInstanceId) }}</div>
                {% else %}
                    <div class="value_holder">{{ parseAttribute('{#showDatetime({@107@}|1)#}', groupProcessInstanceId) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.location.endDate'|trans|desc('Data i godzina zakończenia prac na miejscu zdarzenia') }}
                    :
                </div>
                <div class="value_holder">{{ parseAttribute('{#showDatetime({@638,130@}|1)#}
{#showDatetime({@767,783@}|1)#}',groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.towingLocation'|trans|desc('Docelowe miejsce holowania') }}:
                </div>
                <div class="value_holder">{{ parseAttribute('{#towingPlace#}',groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.event_type'|trans|desc('Przyczyna unieruchomienia pojazdu z ICS:') }}
                    :
                </div>
                <div class="value_holder">{{ parseAttribute('{@491@}',groupProcessInstanceId) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.service_type'|trans|desc('Co zostało wykonane') }}:</div>
                <div class="value_holder">
                    {% if towingOrFixing %}
                        {{ 'Towing'|trans|desc('Holowanie') }}
                    {% else %}
                        {{ 'Repair'|trans|desc('Naprawa') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="desc_holder">{{ 'roadreport.body.damages_on_car'|trans|desc('Czy na pojeździe są widoczne uszkodzenia?') }}:
                </div>
                <div class="value_holder">
                    {% if parseAttribute('{@638,1139@}', groupProcessInstanceId)==1 %}
                        {{ 'Tak'|trans|desc('Tak') }}
                    {% else %}
                        {{ 'Nie'|trans|desc('Nie') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bottom_row row">
            <div class="col-xs-8"></div>
            <div class="col-xs-4">
                <div class="box-holder">
                    <div class="text_over">
                        {{ 'roadreport.body.text_over_signature'|trans|desc('Potwierdzenie wykonania usługi, data i godzina') }}
                    </div>
                    <div class="signature">
                        {{ 'roadreport.body.text_inside_signature'|trans|desc('Pole z podpisem zebranym elektronicznie') }}
                </div>
                </div>
            </div>
        </div>
    </div>
















    <style>

        body {

            text-align: center;
        }

        .content-holder {
            width: 100%;
            max-width: 1200px;
            text-align: left;
            display: inline-block
        }
        .header-row .header-date {
            display: inline;
            float: right;
        }

        .content-holder .row {
            padding: 3px 0px;
        }

        .desc_holder, .value_holder {
            display: inline-block;
            float: left;
            font-size: 1.8rem;
        }

        .desc_holder {
            font-weight: bold;
            width: 300px;
        }

        .value_holder {
            padding-left: 20px;
            text-align: right;
            /*width: 100%;*/
            display: inline-block;
            float: right;
        }
        .text_over{
            font-size: 12px;
        }
        .signature{
            height: 100px;
            border: 1px solid black;
            text-align: center;
            font-weight: bold;
            line-height: 100px;
            font-size: 11px;
        }
        .bottom_row{
            margin-top: 200px;
            font-size: 1.8rem;
        }
        .header-row{
            margin-bottom: 50px;
        }
    </style>
{% endblock %}
