{% extends '@Mailbox/EmailTemplate/index.html.twig' %}



{% block body %}
    <div class="starter24-wrapper-content container-fluid" style="max-width:1200px">
        <div class="row" style="border-bottom: 0px;padding:20px 10px;">

            <div class="starter24-address" style="float:left;width: 25%;">
                <table style="font-family: 'Work Sans', Calibri, sans-serif;" class="container590 bg_color" width="720" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                        <td width="30%" valign="top">Starter24 sp. z o.o.<br>
                            ul. Józefa Kraszewskiego 30<br>
                            60-519 Poznań, PL<br>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>tel: +48 61 83 19 872</td>
                    </tr>
                    <tr>
                        <td>fax: (+48) 61 8319 850</td>
                    </tr>
                    </tbody></table>
            </div>

            <div style="float:right">
                <div class="">
                    <img width="200" border="0" style="display: block; width: 200px;"
                         src="{{ serverHost }}/images/email_assets/starter24.png" alt=""/>
                </div>
                <div class="under_logo_link">
                    <a href="{{ serverHost }}" target="_blank"> www.starter24.pl </a>
                </div>
            </div>
        </div>
        <div class="" style="width: 100%;height: 1px;display: block;overflow: hidden;"></div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class=" offset-md-4 text-right" style="width: 66%; margin-left: 8.6%">
                <table>
                    <tr>
                        <td>DO:</td>
                        <td colspan="8">__COMPANYNAME__</td>
                    </tr>
                    <tr>
                        <td>OD:</td>
                        <td colspan="8">Starter Sp. z o.o.</td>
                    </tr>
                    <tr>
                        <td>Data:</td>
                        <td colspan="8">__TODAY__</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
                <table>
                    <tr>
                        <td>Concerns job order no:</td>
                        <td>__CASE_ID__</td>
                    </tr>
                    <tr>
                        <td>Incident happened in:</td>
                        <td>__LOCATION_PLACE__</td>
                    </tr>
                    <tr>
                        <td>Incident kind:</td>
                        <td>__ACCIDENT_TYPE__</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5" style="width: 41.2%; display: inline-block">
                <table>
                    <tr>
                        <td>Foreign job order no. :</td>
                        <td>__OTHER_NR__</td>
                    </tr>
                    <tr>
                        <td>Incident date:</td>
                        <td>__ACCIDENT_DATE__</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class="col-md-6"  style="width: 50%; margin-left: 8%;display: inline-block;">
                <table>
                    <tr>
                        <td>Vehicle's user:</td>
                        <td>__companyusing__</td>
                    </tr>
                    <tr>
                        <td>VAT code</td>
                        <td>__COMPANY_NIP__</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class="col-md-5 offset-md-1"  style="width: 41.2%; margin-left: 8%;display: inline-block;">
                <table>
                    <tr>
                        <td>Card __CARD_TYPE__, Card number:</td>
                        <td>__CARD_ID__</td>
                    </tr>
                    <tr>
                        <td>Valid thru:</td>
                        <td>__CARD_DATE__</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5"  style="width: 41.2%; display: inline-block;">
                <table>
                    <tr>
                        <td>Type.: (if concern):
                        </td>
                        <td>__SIGN__</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row">
            <div style="width:100%">
                <p>Hereby we would ask You to provide us an authorisation
                    concerned with mentioned above vehicle and incident kind</p>
            </div>
        </div>
        <div class="row">
            <div style="width:100%">
                <i>Amount of authorisation needed is:</i>
            </div>
            <br/>
            <div style="width:100%">
                __TABLE_OF_COST__
            </div>
        </div>
        <div class="row">
            <div style="width:100%">
                Additional notes:

            </div>
            <div style="width:100%">__AUTORIZATION_DETAILS__</div>
        </div>
        <div class="row">
            <div class="col-md-12" style=" width: 100%;font-weight: bold;">

                <p>Please send us by fax with authorisation as soon as possible.</p>
                <p> Accepted documents are:</p>


                1. Fax written on the company's letterhead paper with: vehicle's data (make, model, reg. no.); incident date, place (country)
                and kind (short description); company's full name, address and VAT no.; card type, number, client no., and validity date
                (if concern); mentioned above amounts; together with company's rubberstamp and  management representative signature.
                2. This document faxed back with filled all mentioned above data (if empty, please complete missing data manually)
                together with authorisation providing note, company's rubberstamp and management representative signature.
            </div>
        </div>
        <div class="row">
            <div style="width:100%">
                Hereby we inform that company Starter24 Sp. z o.o. is mediating to find proper company providing roadside assistance and repair services, as well as mediates between your company and provider of the service in information flow and financial settlements.
            </div>

        </div>
        <div class="row">
            <div style="width:100%">
                Except as otherwise stated above, any new accepted authorisation cancels automatically all previous authorisations provided in connection with this case.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="width:100%;font-weight: bold;">
                Our fax no. is: +48 61 83 19 850 Our e-mail: truck@starter24.pl

            </div>
            <div style="width: 33%;">
                <p>Kind regards
                </p>
                <p>(__USERNAME__)</p>
                <p>Assistance Consultant
                </p>
            </div>
        </div>
        <div class="footer" style="display: block;font-size: small; padding-top: 10px;">
            <div style="width:25%;float: left;">
                Starter24 Sp. z o.o.<br />
                ul. J. Kraszewskiego 30<br />
                60-519 Poznań<br />
                tel.:  +48 61-8319-800<br />
                faks: +48 61-8319-850<br />
            </div>
            <div style="width:25%;float:left;">
                NIP: 525-21-83-310<br />
                REGON: 016387736<br />
                VAT: 5252183310
            </div>
            <div style="width:25%;float:left;">
                Bank Millennium S.A. <br />
                46 1160 2202 0000 0000 6085 7582
            </div>
            <div style="width:25%;float:left;">
                General Manager <br />
                Marek Zefirian
            </div>


        </div>
    </div>


    <style>
        .row{
            border-bottom: 1px solid black;padding:20px 10px;
        }
    </style>
{% endblock %}