{% extends '@Mailbox/EmailTemplate/index.html.twig' %}



{% block body %}
    <div class="starter24-wrapper-content container-fluid" style="max-width:1200px">
        <div class="row" style="border-bottom: 0px;padding:20px 10px;">

            <div class="starter24-address" style="float:left;width: 25%;">
                <table style="font-family: 'Work Sans', Calibri, sans-serif;" class="container590 bg_color" width="720" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                        <td width="30%" valign="top">Starter24 sp. z o.o.<br>
                            ul. Józefa Kraszewskiego 30<br>
                            60-519 Poznań, PL<br>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>tel: +48 61 83 19 872</td>
                    </tr>
                    <tr>
                        <td>fax: (+48) 61 8319 850</td>
                    </tr>
                    </tbody></table>
            </div>

            <div style="float:right">
                <div class="">
                    <img width="200" border="0" style="display: block; width: 200px;"
                         src="{{ serverHost }}/images/email_assets/starter24.png" alt=""/>
                </div>
                <div class="under_logo_link">
                    <a href="{{ serverHost }}" target="_blank"> www.starter24.pl </a>
                </div>
            </div>
        </div>
       <div class="" style="width: 100%;height: 1px;display: block;overflow: hidden;"></div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class=" offset-md-4 text-right" style="width: 66%; margin-left: 8.6%">
                <table>
                    <tr>
                        <td>DO:</td>
                        <td colspan="8">__COMPANYNAME__</td>
                    </tr>
                    <tr>
                        <td>OD:</td>
                        <td colspan="8">Starter Sp. z o.o.</td>
                    </tr>
                    <tr>
                        <td>Data:</td>
                        <td colspan="8">__TODAY__</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
                <table>
                    <tr>
                        <td>Dotyczy zlecenia nr:</td>
                        <td>__CASE_ID__</td>
                    </tr>
                    <tr>
                        <td>Miejsce zdarzenia</td>
                        <td>__LOCATION_PLACE__</td>
                    </tr>
                    <tr>
                        <td>Rodzaj zdarzenia</td>
                        <td>__ACCIDENT_TYPE__</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5" style="width: 41.2%; display: inline-block">
                <table>
                    <tr>
                        <td>Nr zlecenia firmy partnerskiej:</td>
                        <td>__OTHER_NR__</td>
                    </tr>
                    <tr>
                        <td>Data zdarzenia:</td>
                        <td>__ACCIDENT_DATE__</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
                  <div class="col-md-6"  style="width: 50%; margin-left: 8%;display: inline-block;">
                <table>
                    <tr>
                        <td>Użytkowanego przez firmę:</td>
                        <td>__companyusing__</td>
                    </tr>
                    <tr>
                        <td>NIP</td>
                        <td>__COMPANY_NIP__</td>
                    </tr>
                </table>
            </div>
        </div>
             <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
            <div class="col-md-5 offset-md-1"  style="width: 41.2%; margin-left: 8%;display: inline-block;">
                <table>
                    <tr>
                        <td>Karta __CARD_TYPE__, Numer karty:</td>
                        <td>__CARD_ID__</td>
                    </tr>
                    <tr>
                        <td>Ważność</td>
                        <td>__CARD_DATE__</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5"  style="width: 41.2%; display: inline-block;">
                <table>
                    <tr>
                        <td>Oznaczenie(jeśli dotyczy):</td>
                        <td>__SIGN__</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row">
            <div style="width:100%">
                <p>Niniejszym zwracamy się z prośbą o udzielenie autoryzacji dotyczącej opisanego wyżej zdarzenia związanego z ww. pojazdem</p>
            </div>
        </div>
        <div class="row">
            <div style="width:100%">
                <i>Wysokość potrzebnej autoryzacji to:    </i>
            </div>
            <br/>
            <div style="width:100%">
            __TABLE_OF_COST__
            </div>
        </div>
        <div class="row">
            <div style="width:100%">
             Uwagi do autoryzacji:
            </div>
            <div style="width:100%">__AUTORIZATION_DETAILS__</div>
        </div>
        <div class="row">
            <div class="col-md-12" style=" width: 100%;font-weight: bold;">

                <p>Prosimy o przesłanie do nas faksem Państwa autoryzacji najszybciej jak to możliwe.</p>
                <p> Akceptowane dokumenty to:</p>


            1. Pismo firmowe z danymi pojazdu (marka, model, nr rej.); datą, miejscem (kraj) i rodzajem zdarzenia (krótki opis);
            pełną nazwą, adresem i nr NIP firmy; typem, numerem karty, datą jej ważności i nr klienta (jeśli dotyczy);
            wymienionymi powyżej kwotami; razem z pieczątką firmową i podpisem upoważnionego przedstawiciela kierownictwa.<br>
            2. Niniejszy dokument z wypełnionymi wszystkimi (wymienionymi powyżej) informacjami (jeśli dokument jest niekompletny,
            prosimy uzupełnić ręcznie), z adnotacją o udzieleniu autoryzacji razem z odpowiednią pieczątką i podpisem (jw.)
            </div>
        </div>
        <div class="row">
            <div style="width:100%">
            Informujemy, że firma Starter24 Sp. z o.o. pośredniczy w znalezieniu właściwej firmy, wykonującej usługi pomocy drogowej lub naprawy pojazdów oraz pośredniczy w  przepływie informacji i rozliczeniach między wykonawcą usługi a Państwem.
            </div>

        </div>
        <div class="row">
            <div style="width:100%">
            Jeśli uwagi powyżej nie mówią inaczej, ostatnia zaakceptowana autoryzacja anuluje wszystkie poprzednie autoryzacje udzielone w związku z niniejszą sprawą.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="width:100%;font-weight: bold;">
                Nasz numer faksu to: (+48) 0-61 / 83 19 850 Nasz e-mail: truck@starter24.pl
            </div>
            <div style="width: 33%;">
                <p> Z poważaniem, </p>
                <p>(__USERNAME__)</p>
                <p>Konsultant Assistance</p>
            </div>
        </div>
        <div class="footer" style="display: block;font-size: small; padding-top: 10px;">
            <div style="width:25%;float: left;">
                Starter24 Sp. z o.o.<br />
                ul. J. Kraszewskiego 30<br />
                60-519 Poznań<br />
                tel.:  +48 61-8319-800<br />
                faks: +48 61-8319-850<br />
            </div>
   <div style="width:25%;float:left;">
                NIP: 525-21-83-310<br />
                REGON: 016387736<br />
                VAT: 5252183310
            </div>
   <div style="width:25%;float:left;">
                Bank Millennium S.A. <br />
                46 1160 2202 0000 0000 6085 7582
            </div>
   <div style="width:25%;float:left;">
                General Manager <br />
                Marek Zefirian
            </div>


        </div>
    </div>


<style>
    .row{
        border-bottom: 1px solid black;padding:20px 10px;
    }
</style>
{% endblock %}