{% extends '@Mailbox/EmailTemplate/index.html.twig' %}



{% block body %}
    <div class="starter24-wrapper-content container-fluid" style="max-width:1200px">
    <div class="row" style="border-bottom: 0px;padding:0px ;text-align: center">
        <h1 style="margin: 0">__COMPANY_NAME__ </h1>
    </div>
    <div class="row" style="border-bottom: 1px solid black; padding-bottom: 0px;">

        <div class="starter24-address" style="display:inline-block; width: 25%">
            <table border="0" align="center"
                    cellpadding="0" cellspacing="0" class="container590 bg_color">
                <tr>
                    <td width="30%" valign="top">Starter24 sp. z o.o.<br>
                        ul. Józefa Kraszewskiego 30<br>
                        60-519 Poznań, PL<br>
                    </td>
                </tr>
                <tr>
                    <td>tel: +48 61 83 19 872</td>
                </tr>
                <tr>
                    <td>fax: (+48) 61 8319 850</td>
                </tr>
            </table>
        </div>
        <div class="contractor_info" style="display:inline-block; width: 70%;float: right; border: 1px inset;">
            <table style="width: 100%;">
                <tr>
                    <td colspan="3">
                        Firma / Company:
                        <br />
                        <span style="font-weight: lighter;font-style: italic; ">użytkownik pojazdu / karty (jeśli dotyczy)</span><br />
                        <span style="font-weight: lighter;font-style: italic; ">vehicle's user / card holder (if concern) </span>
                    </td>
                    <td colspan="5">__USER_COMPANY_INFO__</td>
                </tr>
                <tr>
                    <td colspan="3">
                       Karta __CARD_TYPE__ Nr. / __CARD_TYPE__ card no:
                    </td>
                    <td colspan="5">
                            __CARD_NUMBER__
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Ważność karty / valid thru:
                    </td>
                    <td colspan="5">
                        __CARD_DATE__
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%;text-align: center; overflow: hidden;">
            <h2 style="text-transform: uppercase;margin-bottom: 0px;">Raport serwisowy / Service report</h2>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>Nr zlecenia: / File no:</td>
                    <td>__CASE_ID__</td>
                </tr>

            </table>
        </div>
        <div class="col-md-5" style="width: 41.2%; display: inline-block">

            <table>
                <tr>
                    <td>Data wydruku: / Print date:</td>
                    <td>__CASE_DATE__</td>
                </tr>
                <tr>
                    <td>Wartość GOP: / GOP value:</td>
                    <td>__GOP_VALUE__</td>
                </tr>
            </table>
        </div>

    </div>

        <table  cellpadding="0" cellspacing="0" style="width: 100%;border:0px solid black; border-bottom: 0px;" border="2">
            <tr>
                <td colspan="2" width="100px">
                    <div class="description">
                        Przybycie na miejsce:<br>
                        Arrival on site:
                    </div>

                </td>
                <td colspan="3" width="200px">
                    <div class="description">
                        Data:<br>
                        Date:
                    </div>

                </td>
                <td colspan="3" width="200px">
                    <div class="description">
                        Czas:<br>
                        Time:
                    </div>

                </td>
                <td rowspan="2" colspan="5" style="max-width: 100px;vertical-align: top;">
                    <div class="description-top">
                        Liczba kilometrów:/ No. of km done by WS:

                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2" width="100px">
                    <div class="description">
                        Zakończenie naprawy:<br>
                        End of repair:
                    </div>

                </td>
                <td colspan="3" width="200px">
                    <div class="description">
                        Data:<br>
                        Date:
                    </div>

                </td>
                <td colspan="3" width="200px">
                    <div class="description">
                        Czas:<br>
                        Time:
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="12" style="text-transform: uppercase;">
                    Dane warszatu / Workshop's Information
                </td>
            </tr>
            <tr>
                <td colspan="12" style=" line-height: 1.8em;height: 1.8em; vertical-align: middle">
                    Nazwa: / Name:
                </td>
            </tr>
            <tr>
                <td colspan="12" style=" line-height: 1.8em;height: 1.8em; vertical-align: middle">
                    Adres: / Address:
                </td>
            </tr>
            <tr>
                <td colspan="8"  style=" line-height: 2em;height: 2em; vertical-align: middle">
                    Osoba kontaktowa: <br />
                    Contact person:
                </td>
                <td colspan="4" style="line-height: 2em; height: 2em ;">Tel:</td>
            </tr>
            <tr>
                <td colspan="12" style="text-transform: uppercase;">
                  przyczyna awarii / Cause of breakdown:
                </td>
            </tr>
            <tr>
                <td  style="vertical-align: top; height:  6em;" colspan="6">
                    według kierowcy / according to driver:
                </td>
                <td style="vertical-align: top; height: 6em;" colspan="6">
                    według warsztatu / according to workshop:
                </td>
            </tr>
            <tr>
                <td colspan="12" style="text-transform: uppercase;">
                 Czynności podjęte przez warsztat, użyte materiały : /Actions done by workshop, material used
                </td>
            </tr>
            <tr>
                <td  colspan="9" style="height: 1,5em;vertical-align: bottom">
                    Opis: / Description:
                </td>
                <td colspan="1"><span class="vertical-text">Gwarancja / Warranty:</span></td>
                <td colspan="1"><span class="vertical-text">Ilość części/ Number of parts used:</span></td>
                <td colspan="1"><span class="vertical-text">Ilość rbh / Hours of work:</span></td>
            </tr>
            <tr>
                <td colspan="9" style="height: 1.5em;">1</td>
                <td colspan="1"><input type="checkbox"> Tak / Yes <br />
                <input type="checkbox"> Nie / No </td>
              <td colspan="1"></td>
              <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="9" style="height: 1.5em;">2</td>
                <td colspan="1"><input type="checkbox"> Tak / Yes <br />
                <input type="checkbox"> Nie / No </td>
              <td colspan="1"></td>
              <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="9" class="row_with_nr">3</td>
                <td colspan="1"><input type="checkbox"> Tak / Yes <br />
                <input type="checkbox"> Nie / No </td>
              <td colspan="1"></td>
              <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="9" class="row_with_nr">4</td>
                <td colspan="1"><input type="checkbox"> Tak / Yes <br />
                <input type="checkbox"> Nie / No </td>
              <td colspan="1"></td>
              <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="9" class="row_with_nr">5</td>
                <td colspan="1"><input type="checkbox"> Tak / Yes <br />
                <input type="checkbox"> Nie / No </td>
              <td colspan="1"></td>
              <td colspan="1"></td>
            </tr>
            <tr style="border: 0;">
                <td colspan="8" style="border: 0;"></td>
                <td colspan="2" style="border: 0;text-align: right;font-weight: bold;padding-top: 5px;">Razem: <br /> In general:</td>
                <td colspan="1" style="border: 1px solid black"></td>
                <td colspan="1" style="border: 1px solid black"></td>
            </tr>
        </table>
    <div class="row">
        <div class="col-md-12" style="text-transform: uppercase">
        Akceptuję powyższe koszty usług oraz użytych materiałów.<br/>
            I accept written above cost of provided services and materials used.
        </div>
    </div>


    <div class="row" style="border: 1px solid black; padding: 5px 0px; overflow: hidden;" >
        <div class="col-md-9" style="width: 75%;float: right;text-align: right;">
            Data podpis kierowcy / Date, signature of driver * .............................................................................................
            <br />
            <span class="small" style="font-size: small;font-style: italic;">
                podpis kierowcy jest konieczny w przypadku naprawy płatnej (poza gwarancją) / signature of driver is necessary in case of paid repair (non-warranty) &nbsp;
            </span>
        </div>
    </div>
    <div class="row" style="border: 1px solid black;border-top: 0px;padding: 5px;">
        <div class="col-md-12" style="text-transform: uppercase">
            proszę wypełnić pola powyżej i natychmiast po zakończeniu naprawy przesłać niniejszy formularz w przewciwnym razie faktura dot. tego zlecenia nie zostanie zaakceptowana. Nasz numer faksu : 61/83 19 850
        </div>
    </div>


{% endblock %}