{% extends '@Mailbox/EmailTemplate/index.html.twig' %}



{% block body %}
    <div class="starter24-wrapper-content container-fluid" style="max-width:1200px">
    <div class="row" style="border-bottom: 0px;padding:0px ;text-align: center">
        <h1 style="color:red;margin: 0">__COMPANY_NAME__</h1>
    </div>
    <div class="row" style="border-bottom: 1px solid black;padding:20px 10px; padding-bottom: 0px;">

        <div class="starter24-address" style="width: 25%;float:left;">
            <table style="font-family: &#39;Work Sans&#39;, Calibri, sans-serif;" border="0" align="center"
                   width="720" cellpadding="0" cellspacing="0" class="container590 bg_color">
                <tr>
                    <td width="30%" valign="top">Starter24 sp. z o.o.<br>
                        ul. Józefa Kraszewskiego 30<br>
                        60-519 Poznań, PL<br>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>tel: +48 61 83 19 872</td>
                </tr>
                <tr>
                    <td>fax: (+48) 61 8319 850</td>
                </tr>
            </table>
        </div>
        <div class="contractor_info" style="width: 33%;float: right;">
            <table>
                <tr>
                    <td>
                        TO:
                    </td>
                    <td>__PARTNER_INFO__</td>
                </tr>
            </table>
        </div>
        <div style="width: 100%;text-align: center; overflow: hidden;">
            <h2 style="letter-spacing: 0.3em;text-transform: uppercase;margin-bottom: 0px;">job order</h2>
        </div>
    </div>

    <div class="row" style="border-bottom: 1px solid black;padding:20px 10px;">
        <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>File no. : </td>
                    <td>__CASE_ID__</td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td>__CASE_DATE__</td>
                </tr>

            </table>
        </div>
        <div class="col-md-5" style="width: 41.2%; display: inline-block">

            <table>
                {#nowe zlecenie #}
                {# kontynuacja sprawy #}
            </table>
        </div>

    </div>


    <div class="row" style="border-bottom: 1px solid black;padding:10px 10px;">
        <div class="col-md-12" style="display:block;width: 100%; text-align: center">
            <h4 style="text-decoration: underline;margin-top: 0px;">VEHICLE AND DRIVER INFORMATION</h4>
        </div>
        <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>Type:</td>
                    <td>__CAR_TYPE__</td>
                </tr>
                <tr>
                    <td>Make / Model:</td>
                    <td>__CAR_MAKEMODEL__</td>
                </tr>
                <tr>
                    <td>Chassis no. (VIN):</td>
                    <td>__VIN__</td>
                </tr>
                <tr>
                    <td>Registration no.::</td>
                    <td>__REG_NUMBER__</td>
                </tr>
                <tr>
                    <td>First registration date:</td>
                    <td>__FIRST_REG_DATE__</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>Driver:</td>
                    <td>__DRIVER_NAME__</td>
                </tr>
                <tr>
                    <td>Contact phone:</td>
                    <td>__DRIVER_PHONE__</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid black;padding:10px 10px;">
        <div class="col-md-12" style="display:block;width: 100%; text-align: center">
            <h4 style="text-decoration: underline;margin-top: 0px;">Location of breakdown</h4>
        </div>
        <div class="col-md-12 " style="width: 81.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>Country:</td>
                    <td>__LOCATION_COUNTRY__</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>__LOCATION_DETAILS__</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid black;padding:10px 10px;">
        <div class="col-md-12" style="display:block;width: 100%; text-align: center">
            <h4 style="text-decoration: underline;margin-top: 0px;">CAUSE AND KIND OF INCIDENT</h4>
        </div>
        <div class="col-md-12 " style="width: 81.2%; margin-left: 8%;display: inline-block;">
            <p>__ACCIDENT_DETAILS__</p>
            <p>__DRIVER_INFO__</p>
        </div>
    </div>

    <div class="row" style="border-bottom: 1px solid black;padding:10px 10px;">
        <div class="col-md-12" style="display:block;width: 100%; text-align: center">
            <h4 style="text-decoration: underline;margin-top: 0px;">VEHICLE'S USER INFORMATION</h4>
        </div>
        <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>Country:</td>
                    <td>__USER_COMPANY_COUNTRY__</td>
                </tr>
                <tr>
                    <td>Company:</td>
                    <td>__USER_COMPANY_NAME__</td>
                </tr>
                <tr>
                    <td>Street:</td>
                    <td>__USER_COMPANY_LOCATION_STREET__ __USER_COMPANY_BUILDING_NUMBER__ / __USER_COMPANY_APART_NUMBER__</td>
                </tr>
                <tr>
                    <td>City / Post code:</td>
                    <td>__USER_COMPANY_CITY__ / __USER_COMPANY_POSTAL__</td>
                </tr>
                <tr>
                    <td>VAT code:</td>
                    <td>__USER_COMPANY_NIP__</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5 offset-md-1" style="width: 41.2%; margin-left: 8%;display: inline-block;">
            <table>
                <tr>
                    <td>FAX:</td>
                    <td>__USER_COMPANY_FAX__</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>__USER_COMPANY_PHONE__</td>
                </tr>
            </table>
        </div>
    </div>
    __FUEL_CARD__
    __GOP_GUARANTY_ROW__
    __GOP_COMMENT__
{% endblock %}