{% extends "TwigBundle:Exception:base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="container">
        <div class="row m-t-3">

            <div class="col-xs-12 m-t-3 2x">
                <div class="border border-default p-x-a bg-white">
                    <div class="text-center">
                        <h1 class="uppercase ">{{ status_code }}</h1>
                        <h5 class="uppercase">{{ status_text }}</h5>
                        <br/>
                        <div class="alert alert-info m-b-0">
                            <i class="fa fa-info-circle margin-right-10"></i>
                            <span>{{ 'page_not_found'|trans|desc('Nie znaleziono strony') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}