{% extends "TwigBundle:Exception:base.html.twig" %}

{% block content %}
    <div class="container exception error500">
    {% if app.user %}
            <div class="login-page-logo wow fadeIn" data-wow-delay="1.0s">
                <a class="brand" href="{{ path('index') }}">
                    <img src="{{ asset('atlas_logo.png') }}" alt="">
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 error-container">

                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-xs-12 col-md-6 text-right">
                        <h1 class="uppercase errorCode wow bounceInLeft">{{ status_code }}</h1>
                    </div>
                    {% else %}
                    <div class="col-xs-12 text-center">
                        <div class="maintenance wow bounceIn" data-wow-delay="0.7s"></div>
                        <h5 class="uppercase userErrorText error500 wow bounceInRight">{{ 'maintenance_text'|trans|desc('Przerwa techniczna') }}</h5>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-xs-12 col-md-6  text-left">
                        <h5 class="uppercase errorText error500 wow bounceInRight">{{ status_text }}</h5>
                    </div>
                    {% endif %}
                    <br/>
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-info-circle margin-right-10 error-icon"></i>
                        <p class="errorDescription">
                            {% if app.request.locale == 'pl' %}
                                 {% if is_granted('ROLE_ADMIN') %}
                                Wystąpił nieoczekiwany błąd aplikacji.
                                {% else %}
                                Przepraszamy za utrudnienia.
                                {% endif %}
                            {% else %}
                                Unexpected application error occured.
                            {% endif %}</p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('index') }}">
                            <div class="historyBack col-xs-2 wow flipInX" data-wow-delay="1s">{{ 'return'|trans|desc('Powrót') }}</div>
                        </a>
                    </div>
                </div>
            </div>

        {% if is_granted('ROLE_ADMIN') %}
            <table class="table errorTable">
                <tr>
                    <td colspan="2">{{ 'detailed_info'|trans|desc('Szczegółowe informacje:') }}</td>
                </tr>
                <tr>
                    <th>status code</th>
                    <th>{{ status_code }}</th>
                </tr>
                <tr>
                    <th>status text</th>
                    <th>{{ status_text }}</th>
                </tr>
                <tr>
                    <td>{{ 'message'|trans }}</td>
                    <td>{{ exception.message }}</td>
                </tr>
                <tr>
                    <td>{{ 'class'|trans }}</td>
                    <td>{{ exception.class }}</td>
                </tr>
                <tr>
                    <td>{{ 'file'|trans }}</td>
                    <td>{{ exception.file }}</td>
                </tr>
                <tr>
                    <td>{{ 'line'|trans }}</td>
                    <td>{{ exception.line }}</td>
                </tr>
            </table>
        {#{% else %}#}
            {#<table class="table userErrorTable">
                <tr>
                    <th><i class="fa fa-exclamation-circle margin-right-10"></i></th>
                    <th><span>{{ 'error500_full_message'|trans|desc('Obecnie trwa przerwa techniczna. Spróbuj ponowić operację za chwilę.')|capitalize }}</span></th>
                </tr>
            </table>#}
        {% endif %}

    {% else %}
        <div class="container exception">
            <div class="login-page-logo wow fadeIn" data-wow-delay="1.0s">
                <a class="brand" href="{{ path('index') }}">
                    <img src="{{ asset('atlas_logo.png') }}" alt="">
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 error-container">
                    <div class="col-xs-6 text-right">
                        <h1 class="uppercase errorCode wow bounceInLeft">{{ status_code }}</h1>
                    </div>
                    <div class="col-xs-6 text-left">
                        <h5 class="uppercase errorText error500 wow bounceInRight">{{ status_text }}</h5>
                    </div>
                    <br/>
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-info-circle margin-right-10 error-icon"></i>
                        <p class="errorDescription">
                            {% if app.request.locale == 'pl' %}
                                Wystąpił nieoczekiwany błąd aplikacji.
                            {% else %}
                                Unexpected application error occured.
                            {% endif %}</p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="{{ path('index') }}">
                            <div class="historyBack col-xs-2 wow flipInX" data-wow-delay="1s">{{ 'return'|trans|desc('Powrót') }}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}