{% extends "TwigBundle:Exception:base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="container exception error403">
        <div class="login-page-logo wow fadeIn" data-wow-delay="1.0s">
            <a class="brand" href="{{ path('index') }}">
                <img src="{{ asset('atlas_logo.png') }}" alt="">
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 error-container">
                <div class="col-xs-12 col-md-6 text-right">
                    <h1 class="uppercase errorCode wow bounceInLeft">{{ status_code }}</h1>
                </div>
                <div class="col-xs-12 col-md-6 text-left">
                    <h5 class="uppercase errorText wow errorText403 bounceInRight">{{ status_text }}</h5>
                </div>
                <br/>
                <div class="col-xs-12 col-md-12 text-center">
                    <i class="fa fa-info-circle error-icon"></i>
                    <p class="errorDescription">{{ 'access_denied'|trans|desc('Nie posiadasz uprawnień do przeglądania tej strony') }}</p>
                </div>
                <div class="col-xs-12 col-md-12 text-center">
                    <a href="{{ path('index') }}">
                        <div class="historyBack col-xs-2 wow flipInX" data-wow-delay="1s">{{ 'return'|trans|desc('Powrót') }}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}