<div class="col-md-12" id="efficiency-ranks-section">
    <div class="recent-rank-holder flatbox">
        <h4>{{ 'efficienty-ranking.effectivity'|trans|desc('Najlepsi od 24H') }}</h4>
        <div class="rank-holder" id="rank-holder-recent">
        </div>
    </div>
    <div class="historical-rank-holder flatbox">
        <h4>{{ 'efficienty-ranking.effectivity-month'|trans|desc('Najlepsi w tym miesiącu') }}</h4>
        <div class="rank-holder" id="rank-holder-historical">
        </div>
    </div>
    <div class="statistic-holder flatbox" id="statistic-holder-dashboard">
    </div>
</div>