{% extends "WebBundle::base.html.twig" %}

{% block content %}
<div class="table-ranking {{ ranking_type }} " style="max-width: 700px;">
    <table class="table table-responsive table-light">
        <thead>
        <tr>
            <th>
                {{ 'ranking.efficiency.position'|trans|desc('Pozycja') }}
            </th>
            <th>{{ 'ranking.efficiency.name'|trans|desc('Imię i nazwisko') }}</th>
            <th>{{ 'ranking.efficiency.speed'|trans|desc('Wynik') }}
        </tr>
        </thead>
        <tbody>
            {% for single in result_table %}
                {% if user_id and (loop.index == 4  or ( loop.index == 7 and result_table|length > 4)) %}
                    <tr>
                        <td colspan="3" style="text-align: center;font-weight: bold;">... </td>
                    </tr>
                {% endif %}
            <tr {% if user_id  in single.ids%} class="active"{% endif %}>
                <td> {% if user_id in  single.ids %}
                        Moje miejsce: {% else %} Miejsce {% endif %} {{ single.rank }}</td>
                <td class="ranking-names">
                    <span class="name" style="width: 100%">
                        {% if result_table|length > 10 or (user_id in single.ids or single.rank < 4)  %}
                            {{ single.name  |raw}}

                        {% endif %}
                    </span>

                        {% if single.rank < 4 %}
                            <span class="trophy-holder">
                            <i class="fa fa-trophy rank-{{ single.rank }}" aria-hidden="true"></i>
                            </span>
                        {% endif %}

                    </td>
                <td>{{ single.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <style>

        {
            margin-top: 10px;
            padding-bottom: 10px; }
        .ranking-names {
            display: flex;
            align-items: center; }
        .fa-trophy {
            font-size: 24px;
            margin-left: 5px; }
        .fa-trophy.rank-1 {
            color: #FFD700; }
        .fa-trophy.rank-2 {
            color: #D2D2D2; }
        .fa-trophy.rank-3 {
            color: #dd771d; }
        #statistic-holder-dashboard .stats {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px; }
        #statistic-holder-dashboard .stats h5 {
            font-size: 20px;
            padding-left: 15px;
            margin-left: 15px; }
        #statistic-holder-dashboard .stats .telephony-ribbon-container {
            min-height: 120px; }
        #statistic-holder-dashboard .stats .telephony-ribbon-container .ribbon-text-single {
            font-size: 40px; }
        #statistic-holder-dashboard .single-stats-holder {
            width: 100%; }
        #statistic-holder-dashboard .single-stats-holder .ribbons-holder {
            width: 100%;
            grid-template-columns: 1fr 1fr; }
    </style>
{% endblock %}
