<div class="table-ranking {{ ranking_type }}">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>
                {{ 'ranking.efficiency.position'|trans|desc('Pozycja') }}
            </th>
            <th>{{ 'ranking.efficiency.name'|trans|desc('Imię i nazwisko') }}</th>
            <th>{{ 'ranking.efficiency.speed'|trans|desc('Wynik') }}
        </tr>
        </thead>
        <tbody>
            {% for single in result_table %}
                {% if loop.index == 4  or ( loop.index == 5 and result_table|length > 4) %}
                <tr>
                    <td colspan="3" style="text-align: center;font-weight: bold;">... </td>
                </tr>
                {% endif %}
            <tr {% if user_id  in single.ids%} class="active"{% endif %}>
                <td> {% if user_id in  single.ids %}
                        Moje miejsce: {% else %} Miejsce {% endif %} {{ single.rank }}</td>
                <td class="ranking-names">
                    <span class="name">
                             {% if user_id in single.ids or single.rank < 4 %}
                                 {{ single.name  |raw}}

                             {% endif %}
                    </span>

                        {% if single.rank < 4 %}
                            <span class="trophy-holder">
                            <i class="fa fa-trophy rank-{{ single.rank }}" aria-hidden="true"></i>
                            </span>
                        {% endif %}
                    </td>
                <td>{{ single.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>