{% set ribbonClass = '' %}


<div class="stats">
    {% for period in stats %}
        <div class="single-stats-holder">
            <div class="stats-header">
                <h5>{{ period.title}}</h5>
            </div>
            <div class="ribbons-holder">
                {% for stat in period.stats %}
                {% for key,single_stat in stat %}
                    {% if key starts with 'SR' %}
                        {% if single_stat > 94.9 %}
                            {% set ribbonClass = 'green' %}
                        {% elseif single_stat > 89.9 %}
                            {% set ribbonClass = 'yellow' %}
                        {% else %}
                            {% set ribbonClass = 'red' %}
                        {% endif %}
                    {% elseif key starts with 'SOA' %}
                        {% if single_stat > 79.9 %}
                            {% set ribbonClass = 'green' %}
                        {% elseif single_stat > 75 %}
                            {% set ribbonClass = 'yellow' %}
                        {% else %}
                            {% set ribbonClass = 'red' %}
                        {% endif %}
                    {% endif %}
                    <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                        <div class="ribbon telephony-ribbon ribbon-color-info uppercase">{{ key }}</div>
                        <h2 class="text-center ribbon-text-single">{{ single_stat }}</h2>
                    </div>

                {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<style>

</style>