{% extends "@Management/Default/base_management_panel.html.twig" %}

{% block extrastyle %}
    {{ parent() }}

{% endblock %}

{% block pageContentWrapper %}

    <div class="portlet box m-t-1 management-portlet">
        <div class="portlet-body p-x-0 p-y-0">
            <div class="tabbable-custom">
                <div class="tab-content management-tab-content">
                    <div class="tab-pane active"
                         id="case_tools">
                        {{ include('AppBundle:CaseViewer/CaseTools:case_tools_tab.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/vendor/metronic/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/metronic/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/email-preview-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/case-note-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/caseviewer-tools.js') }}"></script>

    <script>

        CaseViewerTools();

    </script>


{% endblock %}