{% extends "WebBundle::blank_layout.html.twig" %}

{% set _debug = 0 %}
{% set _route = 0 %}

{% if app.request.query.get('_debug') == "1" %}
    {% set _debug = 1 %}
{% endif %}

{% if app.request.query.get('_route') == "1" %}
    {% set _route = 1 %}
{% endif %}

{% block bodyExtraClass %} dark-body map-monitoring{% endblock %}

{% block extrastyle %}
    {{ parent() }}

    <link href="{{ asset('css/main_map_bundle.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <div class="body-wrapper">

        <div class="map-wrapper">
            <div id="map-handler"></div>
        </div>

        <div class="modals-wrapper">

        </div>

        {% if brandUrl is not empty %}
            <div class="brand-logo">
                <div class="brand-logo-inner">
                    <img src="{{ brandUrl }}" alt="brand">
                </div>
            </div>
        {% endif %}

        <div class="info-map-wrapper init-hidden">
            <div class="portlet light m-a-0 p-a-0">
                <div class="tab p-x-1">
                    <div class="tab-header">
                        <div class="show-info">
                            <span>{{ 'show_more_info' | trans | desc('Pokaż szczegółowe informacje') }}</span>
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <div class="hide-info">
                            <span>{{ 'hide'|trans|desc('Ukryj') }}</span>
                            <i class="fa fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <div class="content m-a-0" >
                    <table class="table table-bordered m-a-1"><tbody></tbody></table>
                </div>

            </div>
        </div>

        <div class="swal-overlay swal-overlay--show-modal init-hidden" tabindex="-1" >
            <div class="swal-modal" role="dialog" aria-modal="true">
                <div class="swal-icon swal-icon--info"></div>
                <div class="swal-text" style="">{{ 'isc_map.help_not_start' | trans | desc('Pomoc drogowa jeszcze nie wyruszyła') }}</div>
            </div>
        </div>

    </div>

    {% if _debug and app.user.isAdmin %}
        <div class="debugger-box init-hidden">
            <div class="portlet light m-b-0">
                <table class="table table-bordered m-b-0">
                    <tr>
                        <td>Case number</td><td><span id="case-number">-</span></td>
                    </tr>
                    <tr>
                        <td>Order id</td><td><span id="order-id">-</span></td>
                    </tr>
                    <tr>
                        <td>Current Status</td><td><span id="current-status">-</span></td>
                    </tr>
                    <tr>
                        <td>Updated At</td><td><span id="updated-at">-</span></td>
                    </tr>
                    <tr>
                        <td>Location Mode</td><td><span id="location-mode">-</span></td>
                    </tr>
                    <tr>
                        <td>Liczba współrzędnych</td><td><span id="count-coordinates">-</span></td>
                    </tr>
                    <tr>
                        <td>Liczba lini</td><td><span id="count-lines">-</span></td>
                    </tr>
                    <tr>
                        <td>Liczba wyznaczonych tras</td><td><span id="count-static-ways">-</span></td>
                    </tr>
                </table>

                <h3>Inne sprawy:</h3>
                <table id="orders-table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th><th>Status</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block extrascripts %}

    <script src="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2" type="text/javascript"></script>

    {% if _debug and app.user.isAdmin %}
        <script src="{{ asset('bundles/map/js/debug-map-monitor.js') }}"></script>
    {% endif %}

    <script src="{{ asset('js/atlas-map.js') }}"></script>

    <script>

        var MAP,
            mapMonitoringModule,
            orderNumber = '{{ number }}',
            _enableRoute = '{{ _route }}',
            $infoMapWrapper,
            _debugger;

        $(function () {

            $infoMapWrapper = $('.info-map-wrapper');

            initDebugger();
            setHeightOfMapHandler();
            initMap();
            eventHandle();

        });

        function isEnableRoute() {
            return parseInt(_enableRoute) === 1;
        }

        function getDebugger() {
            return _debugger;
        }

        function eventHandle() {

            $(window).on('resize', function () {
                delayedCallback(function () {

                    setHeightOfMapHandler();

                    if(MAP && MAP._map) {
                        MAP._map.updateSize();
                    }

                }, 100);
            });

            $infoMapWrapper.find('.show-info').on('click', function () {

                $infoMapWrapper.addClass('shown');
                $infoMapWrapper.css({
                    'top' :  (window.innerHeight * 0.6) + 'px'
                });

            });

            $infoMapWrapper.find('.hide-info').on('click', function () {

                $infoMapWrapper.removeClass('shown');
                $infoMapWrapper.css({
                    'top' :  (window.innerHeight) + 'px'
                });

            });

        }

        function setHeightOfMapHandler() {

            $('#map-handler').css({
                'height': (window.innerHeight)
            });

            $infoMapWrapper.find('.tab').css({
                'bottom': (window.innerHeight * 0.4) - 1 + 'px'
            });

            $infoMapWrapper.find('.tab-header').css({
                'height': (window.innerHeight * 0.1),
                'line-height': (window.innerHeight * 0.1) + 'px'
            });

            $infoMapWrapper.find('.content').css({
                'height': (window.innerHeight * 0.4)
            });

            if($infoMapWrapper.hasClass('shown')) {
                $infoMapWrapper.css({
                    'height': (window.innerHeight * 0.4),
                    'top' :  (window.innerHeight * 0.6) + 'px'
                });
            }
            else {
                $infoMapWrapper.css({
                    'height': (window.innerHeight * 0.4),
                    'top' :  (window.innerHeight ) + 'px'
                });
            }

        }

        function initMap() {

            mapMonitoringModule = new MapMonitoringModule({
                map_options: {
                    mapContainer: '#map-handler',
                    zoomMap: 14
                },
                enableRoute: isEnableRoute(),
                _debugger: getDebugger()
            });

            mapMonitoringModule.initMap().then(function (map) {

                MAP = map;
                loadMapData();

            });

        }

        function loadMapData() {

            $.ajax({
                url: Routing.generate('map_towing_monitor_get_coords', {orderNumber: orderNumber}),
                type: "GET",
                success: function (response) {
                    mapMonitoringModule.handleRequestLoadMap(response);

                    $infoMapWrapper.removeClass('init-hidden');

                }
            });

        }

        /**
         *      -------------------------------------------------
         *                      DEBUGGER
         *      -------------------------------------------------
         */

        function initDebugger() {

            if(typeof _debugMapMonitor === "function") {
                _debugger = _debugMapMonitor();
            }

        }

    </script>


{% endblock %}
