{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}
{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminProcessDefinitionMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="admin-editor-form" class="form-horizontal" action="" method="POST">


                {{ form_errors(form) }}
                {{ a2lixTranslations.partialTranslations(form.translations, ['name']) }}
                {{ form_row(form.type) }}
                {{ form_row(form.stepNameSchema) }}
                {{ form_row(form.cancelStep) }}
                {{ a2lixTranslations.partialTranslations(form.translations, ['cancelDescription', 'info', 'additionalInfo', 'fullInfo', 'viewerInfo'], false) }}
                {{ form_rest(form) }}
                
                <div class="form-actions m-t-1">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="edit-confirm" type="submit" class="btn green">
                                {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
//            if(typeof tinyMCEHandle == "function") {
//                tinyMCEHandle();
//            }

        });
    </script>

    {{ tinymce_init() }}
{% endblock %}