{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'process_definitions'|trans()|desc('Definicje procesów')|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_process_definition_index')}}">
                <span class="caption-subject bold">
                    {{ 'processes'|trans|desc('procesy')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <a href="{{ path('admin_process_definition_editor') }}" class="col-sm-12 col-xs-12 col-lg-2 btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
        <i class="fa fa-plus"></i>
        {{ 'add_process_definition'|trans|desc('dodaj definicję procesu')|capitalize }}
    </a>

    <div class="clearfix"></div>
    {% if pagination.pageCount > 1 %}
        <div class="navigation m-t-1 m-b-1">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered m-b-0">
            <thead>
            <tr>
                <th class="fit">#</th>
                <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <th scope="row" class="fit">{{ entity.id }}</th>
                    <td class="entity-name"><a href="{{ path('admin_process_design_chart', {'id': entity.id}) }}">{{ entity.name }}</a></td>
                    <td class="fit">
                        <a href="{{ path('admin_process_design_chart', {'id': entity.id}) }}"
                           class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ is_granted('ROLE_PROCESS_EDITOR')  ? 'edit'|trans|desc('edytuj')|title : 'view'|trans|desc('podgląd')|title }}" data-type="">
                            <i class="fa {{  is_granted('ROLE_PROCESS_EDITOR')  ? 'fa-pencil' : 'fa-eye'}}"></i>
                        </a>
                        {% if is_granted('ROLE_PROCESS_EDITOR') or is_granted('ROLE_ADMIN') %}
                        <a href="#"
                           class="btn btn-xs red btn-delete tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'delete'|trans|desc('usuń')|title }}"
                           data-url="{{ path('admin_process_definition_delete', {'id': entity.id}) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination.pageCount > 1 %}
        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}