{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include "@Tool/Default/tool/partials/modals/tinymce-modal.html.twig" %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' with {'name' : 'rekord narzędzia '~tool.name~ ' (id: '~rowId~')'} %}

    {% include '@Tool/Default/data-modify/edit-form.html.twig' with {'batch' : batch} %}

{% endblock %}

{% block extrascripts %}

    <script>
            $(function () {

                if(typeof tinyMCEHandle == "function") {
                    tinyMCEHandle();
                }

                {% if not redirect %}


                $('#tool-editor-form').on('submit', function (e) {
                    e.preventDefault();

                    var $t = $(this),
                        submit = $t.find('.ladda-button'),
                        submitLadda = Ladda.create(submit[0]);
                    
                    var formData = new FormData($t[0]);

                    submitLadda.start();
                    
                    $.ajax({

                        url: $t.attr('action'),
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            
                            
                            if (response.error != undefined && response.error != false) {
                                alert(response.error);
                            }
                            else {

                                toastr.success("", "Pomyślnie zapisano.", {timeOut: 3000});

                                if (window.parent.opener) {
                                    window.parent.opener.location.reload();
                                    window.close();
                                }
                                else {
                                    location.reload();
                                }

                            }

                            setTimeout(function () {
                                submitLadda.stop();
                            }, 1000);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            toastr.error(errorThrown, "Błąd zapisywania.", {timeOut: 3000});
                            submitLadda.stop();

                        }
                    });
                });

                {% endif %}

                {% if rowId and tool.deleteQuery %}
                $('#remove-confirmation').confirmation({
                    btnOkClass: 'btn-success',
                    btnOkIcon: 'icon-check',
                    btnOkLabel: '{{ 'yes'|trans|desc('tak')|capitalize }}',
                    btnCancelClass: 'btn-danger',
                    btnCancelIcon: 'icon-close',
                    btnCancelLabel: '{{ 'no'|trans|desc('nie')|capitalize }}',
                    title: '{{ 'delete_confirmation'|trans|desc('Czy na pewno usunąć?') }}',
                    onConfirm: function () {
                        var dataUrl = $('#remove-confirmation').attr('data-url');
                        {% if redirect %}
                        window.location = dataUrl;
                        {% else %}
                        $.get(dataUrl, null, function (response) {
                            window.parent.opener.location.reload();
                            window.close();
                        });
                        {% endif %}
                    }
                });
                {% endif %}
            });
        </script>

    {{ tinymce_init() }}
{% endblock %}