
{% set isAutoComplete = (tool.columnForAutoComplete) ? 1 : 0 %}

{% set isEmbedMode = app.request.query.get('is-embed-tool', 0) %}

{% for section in tool.getFormFields | orderFormFieldsOfTool(true, true) %}

    {% if section.tag == "other-tools" %}

        {% for row in section.rows %}

            {% for field in row %}
                <div class="form-group {% if field.type == 'hidden' %}hidden{% endif %}">

                    <div {% if (isAutoComplete and field.columnName == tool.columnForAutoComplete) %} data-autocomplete-column="{{ field.columnName }}" {% endif %} class="col-lg-{{ field.colSize | default('4') }}">
                        {% if field.type != 'checkbox' %}
                            <label for="{{ form[field.columnName].vars.id }}">{{ form[field.columnName].vars.label }}</label>
                        {% endif %}

                        {% if form[field.columnName~'__files'] is defined %}
                            {% if field.type != 'checkbox' %}
                                <label for="{{ form[field.columnName~'__files'].vars.id }}">{{ form[field.columnName~'__files'].vars.label }}</label>
                            {% endif %}
                        {% endif %}

                        {% if batch %}
                            <div class="batch-edit-checkbox">
                                {{ form_widget(form['set-'~field.columnName]) }}
                            </div>
                        {% endif %}

                        {% if field.type == 'word' %}
                            <div class="word-type">
                                <button type="button" class="btn green init-word-edit" data-word-target="{{ form[field.columnName].vars.id }}">
                                    {{ getColumnName(field) }}
                                </button>
                            </div>
                        {% endif %}

                        {% set class = (form[field.columnName].vars.attr.class is defined) ? form[field.columnName].vars.attr.class : '' %}

                        {% if form[field.columnName].vars.required %}
                            {% set class = class ~ " atlas-custom-required" %}
                        {% endif %}

                        {{ form_widget(form[field.columnName], { 'attr' : {
                            'data-target-name' : field.targetName ,
                            'data-col-name' : field.columnName,
                            'data-target-value' : field.targetValue,
                            'class' : class ~ " " ~ field.customClass
                        }}) }}

                        {% if form[field.columnName~'__files'] is defined %}

                            {% set class = (form[field.columnName~'__files'].vars.attr.class is defined) ? form[field.columnName~'__files'].vars.attr.class : '' %}

                            {% if form[field.columnName~'__files'].vars.required %}
                                {% set class = class ~ " atlas-custom-required" %}
                            {% endif %}

                            {{ form_widget(form[field.columnName~'__files'], { 'attr' : {
                                'data-target-name' : field.targetName ,
                                'data-col-name' : field.columnName,
                                'data-target-value' : field.targetValue,
                                'class' : class
                            }}) }}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        {% endfor %}

    {% else %}

        {% if section.tag %}
            <div class="form-group-section">
                <span class="title-section">{{ section.name }}</span>
        {% endif %}

        {% for row in section.rows %}

            <div class="form-group ">
                {% set colAmount = 0 %}
                {% for field in row %}
                    {% set colAmount = colAmount + field.colSize %}
                    {% if colAmount > 12 %}
                        {% set colAmount = field.colSize %}
                        <div class="clearfix" style="margin-bottom: 10px;"></div>
                    {% endif %}

                    {% if isEmbedMode %}
                        {% set sizeDiv = 'sm' %}
                    {% else %}
                        {% set sizeDiv = 'lg' %}
                    {% endif %}

                    <div {%
                        if (isAutoComplete and field.columnName == tool.columnForAutoComplete) %}
                            data-autocomplete-column="{{ field.columnName }}"
                    {% endif %}
                            {% if field.type =='related' %}
                            data-relatedfield = {{ field.id }}
                            {%  endif %}
                            class="col-{{ sizeDiv }}-{{ field.colSize | default('4') }}">
                        {% if field.type != 'checkbox' %}
                            <label for="{{ form[field.columnName].vars.id }}">{{ form[field.columnName].vars.label }}</label>
                        {% endif %}
                        {% if batch %}
                            <div class="batch-edit-checkbox">
                                {{ form_widget(form['set-'~field.columnName]) }}
                            </div>
                        {% endif %}

                        {% if field.type == 'word' %}
                            <div class="word-type">
                                <button type="button" class="btn green init-word-edit" data-word-target="{{ form[field.columnName].vars.id }}">
                                    {{ getColumnName(field) }}
                                </button>
                            </div>
                        {% endif %}

                        {% set class = (form[field.columnName].vars.attr.class is defined) ? form[field.columnName].vars.attr.class : '' %}

                        {% if form[field.columnName].vars.required %}
                            {% set class = class ~ " atlas-custom-required" %}
                        {% endif %}

                        {{ form_widget(form[field.columnName], { 'attr' : {
                            'data-target-name' : field.targetName ,
                            'data-col-name' : field.columnName,
                            'data-target-value' : field.targetValue,
                            'class' : class ~ " " ~ field.customClass
                        }}) }}

                        {% if form[field.columnName~'__files'] is defined %}
                            <div class="col-lg-12">
                                {% if field.type != 'checkbox' %}
                                    <label for="{{ form[field.columnName~'__files'].vars.id }}">{{ form[field.columnName~'__files'].vars.label }}</label>
                                {% endif %}

                                {% set class = (form[field.columnName~'__files'].vars.attr.class is defined) ? form[field.columnName~'__files'].vars.attr.class : '' %}

                                {% if form[field.columnName~'__files'].vars.required %}
                                    {% set class = class ~ " atlas-custom-required" %}
                                {% endif %}

                                {{ form_widget(form[field.columnName~'__files'], { 'attr' : {
                                    'data-target-name' : field.targetName ,
                                    'data-col-name' : field.columnName,
                                    'data-target-value' : field.targetValue,
                                    'class' : class
                                }}) }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% endfor %}

        {% if section.tag %}
            </div>
        {% endif %}

    {% endif %}
{% endfor %}