{% form_theme form '@Tool/Default/form/fields.html.twig' %}
<form id="tool-editor-form" class="form-horizontal edit-row-of-tool"
      action="{{ path('tool_data_editor', {'toolId' : tool.id, 'rowId' : rowId, 'redirect' : redirect, 'params' : params}) }}"
      method="POST" enctype="multipart/form-data">
    <div id="edit-form-errors"></div>
    <div id="tool-editor-form-fields">
        {% include '@Tool/Default/data-modify/edit-form-widget.html.twig' with {'batch' : batch } %}
    </div>
    {{ form_rest(form) }}
    <div class="form-actions">
        <div class="row">
            <div class="col-xs-12 m-t-1 text-right">
                {% if rowId and tool.deleteQuery %}
                    <a id="remove-confirmation" href="#" class="btn red p-x-2"
                       data-url='{{ path('tool_data_delete', {'toolId' : tool.id,'rowId' : rowId, 'redirect' : redirect, 'params' : params}) }}'>
                        {{ 'delete'|trans|desc('usuń')|title }}
                    </a>
                {% endif %}

                <a id="cancel-edit-data" href="{{ redirect ? redirect : '#' }}"
                   class="btn btn-danger">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</a>

                <button data-style="zoom-in" data-size="s" type="submit" class="ladda-button btn green-jungle p-x-3">
                    <span class="ladda-label">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>



