{#{% block drop_file_widget %}#}
    {#{% spaceless %}#}

        {#<div class="form-group">#}

            {#<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>#}
                {#{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}#}
            {#</label>#}

            {#<div class="col-sm-9">#}
                {#<input type="file" id="file" name="file" required="required" data-url="/app_dev.php/_uploader/insurance_program/upload">#}
                {#<div class="form-control-focus">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

    {#{% endspaceless %}#}
{#{% endblock %}#}