{% extends "WebBundle::base.html.twig" %}

{% block bodyExtraClass %}admin-socket-page{% endblock %}

{% block pageSidebarWrapper %}

{% endblock %}

{% block pageContentWrapper %}

    <style>
        .metronic-portlet a {
            color: inherit;
        }

        #telephony-status-content .icon-btn {
            width: 18%;
        }

        label {
            text-align: inherit;
        }
    </style>

    <div id="page-main-content" class="page-content-wrapper">
        <div class="row">

            <div class="col-xs-12 col-md-4">
                {% include '@Socket/Admin/Components/notifications-panel.html.twig' %}
            </div>

            {% if enabledSupervisor %}
                <div class="col-xs-12 col-md-12 col-lg-8">
                    <div class="portlet box green-dark metronic-portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                Supervisor
                            </div>
                        </div>
                        <div class="portlet-body">
                            <iframe width='100%' height="426px" src="{{ url('socket_admin_panel_supervisor') }}" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            {% endif %}

{#            <div class="col-xs-12 col-md-6 col-lg-4">#}
{#                {% include '@Socket/Admin/Components/disc-monitor.html.twig' %}#}
{#            </div>#}

            <div class="col-xs-12 col-md-6 col-lg-4">
                {% include '@Socket/Admin/Components/telephony-status.html.twig' %}
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                {% include '@Socket/Admin/Components/dashboard-activity.html.twig' %}
            </div>
        </div>

    </div>

{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('js/gos-web-socket.js') }}"></script>

    <script>
        {#document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port | incrementByOne(app.request.secure) }}";#}
        document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";
    </script>

    <script src="{{ asset('bundles/web/js/modules/admin-panel-script.js') }}"></script>

    <script>

        $(function() {
            AdminPanelModule();
        });

    </script>

    {#{{ tinymce_init({selector: '.tinymce-editor'}) }}#}

{% endblock %}