<div class="mt-element-list">
    <div class="mt-list-container list-news">
        <ul class="">

            <li class="mt-list-item">
                <div class="key-element">
                    <div class="">

                        <div class="form-body">
                            <div class="form-group">
                                <label class="text-left full-width">{{ 'translation.text.key_name'|trans|desc('Nazwa klucza') }}<br>
                                    <input type="text" disabled value="{{ translation_key }}" class="form-control input-md full-width" id="key-name-input">
                                </label>
                            </div>
                            <div class="form-group key-actions text-right"  data-key="{{ translation_key }}">
                                <button class="btn btn-green-meadow" id="addNewKeyTranslation">{{ 'translation.text.add_new_key_to_existing'|trans|desc('Dodaj nowy ') }}</button>
                                <button class="btn btn-primary-blue" id="findAllKeyOccurrences">{{ 'translation.text.find_all+occurrences'|trans|desc('Znajdź miejsca występowań') }}</button>
                                <button class="btn btn-warning" id="changeKeyName" title="{{ 'translation.text.change_key_name_hint'|trans|desc('Zmiana nazwy klucza powinna odbywać się wyłącznie przy kluczach jeszcze nieużywanych!') }}">{{ 'translation.text.change_key_name'|trans|desc('Zmień nazwę') }}</button>
                                <button class="btn btn-warning hidden" id="changeKeyNameSave">{{ 'translation.text.change_key_save'|trans|desc('Zapisz zmianę nazwy') }}</button>
                                <button class="btn btn-danger" id="removeKey">{{ 'translation.text.remove_key'|trans|desc('Usuń klucz') }}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            {% for translation in translations %}

                <li data-id="{{ translation.id }}" class="translation-key-item mt-list-item" >

                    <div class="form-list-container">

                        <div class="form-body">
                            <div class="form-group">
                                <label class="text-left full-width">{{ 'translation.text.query'|trans|desc('Warunek') }} <br>
                                    <input type="text" class="form-control translation-query full-width" value="{{ translation.validation }}"/>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="text-left full-width">{{ 'translation.text.label'|trans|desc('Tekst') }} <br>
                                    <textarea class="form-control translation-text full-width"
                                              placeholder="{{ 'translation.text.input'|trans|desc('Tekst do wyświetlenia') }}">{{- translation.text -}}</textarea>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="translation-key-actions">
                                    <a href="#" class="btn btn-green-meadow translation-key-item-save">{{ 'translation.text.save'|trans|desc('Zapisz') }}</a>
                                    <a href="#" class="btn btn-danger translation-key-item-delete">{{ 'translation.text.delete'|trans|desc('Usuń') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>