<div class="mt-list-item mt-list-add-new " id="add-new-dynamic-translation" style="cursor: pointer">
    <div class="mt-list-head list-news font-white bg-green">
        <div class="list-head-title-container">
            <h3 class="list-title">{{ 'translations.text.add_new_list'|trans|desc('Dodaj nowy klucz') }}</h3>
        </div>
    </div>
</div>
<ul class="list-simple">
{% for translationKey  in keys %}
    <li class="mt-list-item" data-name="{{ translationKey.key }}">
        <div class="key-prefix key-addons">{-</div>
        {#<div class="list-icon-container done dynamic-translation-options-number">{{ translationKey.counter }}#}

        {#</div>#}
        <div class="list-item-content">
            <span class="key-title">
                <a class="dynamic-translation-code" href="#">{{ translationKey.key}}</a>
            </span>
        </div>
        <div class="key-suffix key-addons">-}</div>
    </li>
    {% endfor %}
</ul>

