<div class="modal" tabindex="-1" role="dialog" id="modalOccurrences">
    <div class="modal-dialog" role="document">
        <div class="modal-content">    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>

