<div class="table table-striped">

    {% if occurrences|length > 0 %}
    <div class="row">
        <div class="col-md-3">
            <h5 style="color: black; font-weight: bold">{{ 'translations.text.steps'|trans|desc('Krok') }}</h5>
        </div>
        <div class="col-md-9">
            <h5 style="color: black; font-weight: bold">{{ 'translations.text.labelText'|trans|desc('Pełna treść') }}</h5>
        </div>
    </div>


    {% for translation in occurrences %}
        <div class="row">
            <div class="col-md-3" style="padding-top: 9.5px;">
                {% for step in translation.step %}
                <a href="{{ step.editUrl}}" target="_blank" title="Edytuj krok">{{ step.id }}</a> <br/>
                {% endfor %}
            </div>
            <div class="col-md-9">
                <pre>{{ translation.label }}</pre>
            </div>
        </div>

    {% endfor %}
    {% else %}
    <h5>
        {{  'translations.text.empty'|trans|desc('Ten klucz nie jest używany w formularzach') }}
    </h5>
    {% endif %}
</div>