<div id="dynamic-translations-wrapper" class="loading-spinner">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
    <div class="tab-wrapper-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-element-list" id="dynamic-translations-list">
                    <div class="search-form">
                        <div class="form-group">
                            <div class="input-group input-group-md" style="width: 100%;">
                                <input type="text" class="form-control" placeholder="{{ 'dynamictranslation.searchform.placeholder'|trans |desc('Wpisz nazwę szukanego klucza') }}" id="search-form-dynamic-translation">
                            </div>
                        </div>
                    </div>
                    <div class="mt-list-container list-news">

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="current-field-edit" id="dynamic-translation-edit-add-holder">
                </div>
            </div>
        </div>
    </div>


</div>


{{ include('ManagementBundle:Admin/DynamicTranslations:occurrencesModal.html.twig') }}