{% extends '@Case/Dashboard/form/base.html.twig' %}

{% block form_container %}
    <form id="rendered-form">
        <h2 type="h2" class="header" name="" id="">Formularz zdarzenia drogowego - krok
            <span class="step-number">1</span></h2>
        <div class="form-group">
            <div class="map-wrapper">
                <label class="map-label" for="map-input"><i
                            class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    Lokalizacja zdarzenia:</label>

                <div id="atlas-map"  class="atlas-map-container">

                </div>
                <div class="search-input-wrapper">
                    <i class="fa fa-search input-search-icon" aria-hidden="true"></i>
                    <input type="text" class="form-control map-search" id="map-input"
                           placeholder="Lokalizacja"
                           value="">
                </div>
            </div>
        </div>

        <div class="input-group">
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="street">
                <label>Ulica</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="street-number">
                <label>Numer ulicy</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="city">
                <label>Miasto</label><span class="focus-border"><i></i></span>
            </div>
        </div>
        <div class="input-group">
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="postal-code">
                <label>Kod pocztowy</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="commune">
                <label>Gmina</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="state">
                <label>Województwo</label><span class="focus-border"><i></i></span>
            </div>
        </div>
        <div class="input-group">
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="country">
                <label>Kraj</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="test1">
                <label>Test1</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control custom-input" id="test2">
                <label>Test2</label><span class="focus-border"><i></i></span>
            </div>
        </div>
        <div class="section-divider"></div>
        <div class="input-group attributes firstRow">
            <div class="custom-input-wrapper">
                <input type="text" class="form-control disabled custom-input"
                       id="manufacturer" value="Mazda" readonly>
                <label>Producent</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control disabled custom-input" id="model"
                       value="6" readonly>
                <label>Model</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control disabled custom-input"
                       id="engine" value="2.0 benzyna 150KM" readonly>
                <label>Silnik</label><span class="focus-border"><i></i></span>
            </div>
        </div>
        <div class="input-group attributes lastRow">
            <div class="custom-input-wrapper">
                <input type="text" class="form-control disabled custom-input" id="year"
                       value="2017" readonly>
                <label>Rok produkcji</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control disabled custom-input"
                       id="registered-country" value="Polska" readonly>
                <label>Kraj rejestracji</label><span class="focus-border"><i></i></span>
            </div>
            <div class="custom-input-wrapper">
                <input type="text" class="form-control disabled custom-input"
                       id="owner-type" value="Osoba prywatna" readonly>
                <label>Rodzaj klienta</label><span class="focus-border"><i></i></span>
            </div>
        </div>
        <div class="section-divider"></div>
        <div class="input-group callNow">
            <p class="call-title">Wykonaj połączenie</p>
            <div class="call-now-button"><i class="fa fa-phone" aria-hidden="true"></i>112
            </div>
        </div>
        <div class="section-divider"></div>
        <div class="select-group">
            <div class="wrapped-select">
                <label for="sources">Stan zgłaszającego</label>
                <select name="sources" id="sources" class="custom-select sources"
                        placeholder="Wybierz opcję">
                    <option value="profile">Stan stabilny</option>
                    <option value="word">Wymaga hostpitalizacji</option>
                    <option value="hashtag">Śmierć podczas zdarzenia</option>
                </select>
            </div>
            <div class="wrapped-select">
                <label for="sources2">Stan pojazdu</label>
                <select name="sources2" id="sources2" class="custom-select sources"
                        placeholder="Wybierz opcję">
                    <option value="profile">Lekko uszkodzony</option>
                    <option value="word">Poważnie uszkodzony</option>
                    <option value="hashtag">Do kasacji</option>
                </select>
            </div>
            <div class="wrapped-select">
                <label for="sources2">Przykładowy select</label>
                <select name="sources2" id="sources3" class="custom-select sources"
                        placeholder="Wybierz opcję">
                    <option value="profile">Opcja 1</option>
                    <option value="word">Opcja 2</option>
                    <option value="hashtag">Opcja 2</option>
                </select>
            </div>
        </div>
        <button type="button"
                class="button-input next-button btn btn-success pull-right"
                value="Prześlij formularz"><i class="fa fa-chevron-right fa-lg"
                                              aria-hidden="true"></i></button>
    </form>
{% endblock %}