{% spaceless %}
    {% set idMap = 'atlas-map' %}

    {% if id_map is defined %}
        {% set idMap = id_map %}
    {% endif %}

    <div id="{{ idMap }}" class="atlas-map-container"></div>
{% endspaceless %}