<div class="row">
    <div class="col-lg-4">
        <div class="portlet light portlet-fit" id="scenarios-panel-actions">

            <div class="tabbable-custom">
                <ul class="nav nav-pills nav-justified">
                    <li class="active">
                        <a href="#available-scenarios-list" data-toggle="tab"> <i class="fa fa-list"></i> Scenariusze </a>
                    </li>
                    <li>
                        <a href="#available-actions-list" data-toggle="tab"> <i class="fa fa-hashtag"></i> Historia scenariuszy </a>
                    </li>
                    <li>
                        <a href="#available-recording-list" data-toggle="tab"> <i class="fa fa-video-camera"></i>  Nagrane scenariusze </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="available-scenarios-list" data-spinner='{{ include('@Web/Default/partials/spinner.html.twig') }}'>

                        <form class="form-inline m-t-1 m-b-2 m-x-1 border-bottom" role="form">
                            <div class="form-group form-md-line-input">
                                <button id="create-new-scenario" data-style="zoom-in" data-size="s" type="button" class="btn btn-primary ladda-button">
                                    <span class="ladda-label">
                                        <i class="fa fa-plus"></i> Dodaj nowy
                                    </span>
                                </button>
                            </div>
                            <div class="form-group form-md-line-input">
                                <div class="form-group form-md-line-input has-success">
                                    <input id="scenario-search" type="text" class="form-control" placeholder="Wyszukaj">
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                        </form>

                        <div class="mt-element-list noborder">
                            <div class="mt-list-container list-news">
                                {#AJAX - src/ManagementBundle/Resources/views/Admin/ScenariosBuilder/scenarios_list.html.twig#}
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="available-actions-list" data-spinner='{{ include('@Web/Default/partials/spinner.html.twig') }}'>
                        <div class="mt-element-list noborder">
                            <div class="mt-list-container list-news">
                                {#AJAX - src/ManagementBundle/Resources/views/Admin/ScenariosBuilder/scenario_instance_list.html.twig#}
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="available-recording-list">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Config</th>
                                <th>Akcje</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-8 scenario-main-content" data-spinner='{{ include('@Web/Default/partials/spinner.html.twig') }}'>

    </div>
</div>