<div class="portlet light portlet-fit" id="scenarios-content-editor">
    {#<div class="portlet-title">#}
    {#<div class="caption">#}
    {#<i class=" icon-layers "></i>#}
    {#<span class="caption-subject bold uppercase">Scenariusz: Testowy</span>#}
    {#</div>#}
    {#<div class="actions">#}
    {#<div class="actions">#}
    {#<a href="javascript:;" class="btn btn-circle btn-default">#}
    {#<i class="fa fa-code"></i></a>#}
    {#<a href="javascript:;" class="btn btn-circle btn-default">#}
    {#<i class="fa fa-save"></i> {{ 'save'|trans|capitalize }}</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    <div class="portlet-body portlet-body-morris-fit p-y-0">
        <div class="mt-element-list">
            <div class="mt-list-head list-todo red clearfix">
                <div class="list-head-title-container pull-left">
                    <h3 class="list-title scenario-name">
                        {#<small>Scenariusz: </small>#}
                        {{ scenario.name }}
                    </h3>
                    <div class="list-head-count">
                        <div class="list-head-count-item">
                            <i class="fa fa-code-fork" title="Wersja"></i>
                            <span class="scenario-version">1</span>
                        </div>
                        <div class="list-head-count-item ">
                            <i class="fa fa-calendar-o" title="Data aktulizacji"></i>
                            <span class="scenario-updated-at"></span>
                        </div>
                    </div>
                </div>
                <div class="pull-right">

                    <button id="copy-scenario" class="btn btn-circle-left btn-danger btn-lg tooltips ladda-button"
                            data-style="zoom-in" data-size="s"
                            data-container="body" data-placement="top"
                            data-original-title="{{ 'copy'|trans|desc('skopiuj')|capitalize }}">
                        <span class="ladda-label">
                            <i class="fa fa-clone"></i>
                        </span>
                    </button>

                    <button id="remove-scenario" class="btn btn-danger btn-lg tooltips ladda-button"
                            data-style="zoom-in" data-size="s"
                            data-container="body" data-placement="top"
                            data-original-title="{{ 'delete'|trans|capitalize }}">
                        <span class="ladda-label">
                            <i class="fa fa-trash"></i>
                        </span>
                    </button>

                    <button id="show-config-scenario" class="btn btn-danger btn-lg tooltips" data-container="body" data-placement="top" data-original-title="{{ 'source'|trans|desc('źródło')|capitalize }}">
                        <i class="fa fa-code"></i>
                    </button>

                    <button id="save-scenario" class="btn btn-circle-right btn-danger btn-lg tooltips ladda-button"
                            data-style="zoom-in" data-size="s"
                            data-container="body" data-placement="top"
                            data-original-title="{{ 'save'|trans|capitalize }}">
                        <span class="ladda-label">
                            <i class="fa fa-save"></i>
                        </span>
                    </button>

                    {#<a href="javascript:;">#}
                    {#<div class="list-count red-mint">#}
                    {#<i class="fa fa-save"></i>#}
                    {#</div>#}
                    {#</a>#}
                    {#<a href="javascript:;">#}
                    {#<div class="list-count red-haze">#}
                    {#<i class="fa fa-code"></i>#}
                    {#</div>#}
                    {#</a>#}
                </div>
            </div>
            <div class="mt-list-container list-todo">
                <form class="" action="">
                    <div class="list-todo-line"></div>
                    <ul>
                        <li class="mt-list-item" id="basic-config">
                            <div class="list-todo-icon bg-white">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <div class="list-todo-item grey">
                                <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-3-2" aria-expanded="false">
                                    <div class="list-toggle done uppercase">
                                        <div class="list-toggle-title bold">Ogólna konfiguracja</div>
                                    </div>
                                </a>
                                <div class="task-list panel-collapse collapse" id="task-3-2">
                                    <ul>
                                        <li class="task-list-item">
                                            <div class="task-content">

                                                <div class="form-body">
                                                    <div class="row">

                                                        <div class="col-md-4">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" name="name"
                                                                       value="{{ scenario.name }}"
                                                                       id="scenario_name"
                                                                       class="form-control basic-config-control">
                                                                <label for="scenario_name" class="text-left control-label">Nazwa</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" name="config_basic_start_step"
                                                                       value="{{ scenario.configValue('basic', 'start_step') }}"
                                                                       id="scenario_start_step"
                                                                       class="form-control basic-config-control">
                                                                <label for="scenario_start_step" class="text-left control-label">Krok rozpoczynający</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" name="config_basic_end_step"
                                                                       value="{{ scenario.configValue('basic', 'end_step') }}"
                                                                       id="scenario_end_step"
                                                                       class="form-control basic-config-control">
                                                                <label for="scenario_end_step" class="text-left control-label">Krok kończący</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" name="config_basic_diagnosis_code"
                                                                       value="{{ scenario.configValue('basic', 'diagnosis_code') }}"
                                                                       id="scenario_diagnosis_code"
                                                                       class="form-control basic-config-control">
                                                                <label for="scenario_diagnosis_code" class="text-left control-label">Kod diagnozy</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="mt-checkbox-list m-t-2">
                                                                <label class="mt-checkbox mt-checkbox-outline text-left">
                                                                    <input type="checkbox" class="basic-config-control"
                                                                            {{ (scenario.pdf) ? 'checked' : '' }}
                                                                           name="config_basic_pdf"> Generowanie PDF
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="mt-checkbox-list m-t-2">
                                                                <label class="mt-checkbox mt-checkbox-outline text-left">
                                                                    <input type="checkbox" class="basic-config-control"
                                                                            {{ (scenario.validationSteps) ? 'checked' : '' }}
                                                                           name="config_basic_validation_step"> Walidacja kroków
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-md-line-input">
                                                                <label class="control-label" for="scenario_description">Opis</label>
                                                                <textarea class="form-control basic-config-control" rows="2" name="description" id="scenario_description">{{ scenario.description }}</textarea>
                                                                <div class="form-control-focus"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    {#<div class="task-footer bg-grey">#}
                                    {#<div class="row">#}
                                    {#<div class="col-xs-6">#}
                                    {#<a class="task-trash" href="javascript:;">#}
                                    {#<i class="fa fa-trash"></i>#}
                                    {#</a>#}
                                    {#</div>#}
                                    {#<div class="col-xs-6">#}
                                    {#<a class="task-add" href="javascript:;">#}
                                    {#<i class="fa fa-plus"></i>#}
                                    {#</a>#}
                                    {#</div>#}
                                    {#</div>#}
                                    {#</div>#}
                                </div>
                            </div>
                        </li>
                        <li class="mt-list-item" id="events-sections">
                            <div class="list-todo-icon bg-white">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="list-todo-item blue-steel">
                                <a class="list-toggle-container font-white collapsed" data-toggle="collapse" href="#events-sections-list" aria-expanded="false">
                                    <div class="list-toggle done uppercase">
                                        <div class="list-toggle-title bold">Scenariusze / Zdarzenia</div>
                                        <div class="badge badge-default pull-right bold amount-list">0</div>
                                    </div>
                                </a>
                                <div class="task-list panel-collapse collapse" id="events-sections-list" aria-expanded="false">
                                    <ul id="scenarios-events-list"></ul>
                                    <div class="task-footer bg-grey">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {#<a class="show-scenario-config" href="javascript:;">#}
                                                    {#<i class="fa fa-code"></i>#}
                                                {#</a>#}
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="task-add" id="add-event-action" href="javascript:;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-list-item" id="attributes-section">
                            <div class="list-todo-icon bg-white">
                                <i class="fa fa-cube"></i>
                            </div>
                            <div class="list-todo-item green-meadow">
                                <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-2-1" aria-expanded="false">
                                    <div class="list-toggle done uppercase">
                                        <div class="list-toggle-title bold">Atrybuty</div>
                                        <div class="badge badge-default pull-right bold amount-list">0</div>
                                    </div>
                                </a>
                                <div class="task-list panel-collapse collapse" id="task-2-1">
                                    <ul id="attribute-value-list" data-mini-spinner='{{ include('@Management/Admin/ScenariosBuilder/mini-spinner.html.twig', {extraClass: 'absolute dark right micro'}) }}'>
                                    </ul>
                                    <div class="task-footer bg-grey">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a class="show-attributes-config" href="javascript:;">
                                                    <i class="fa fa-code"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="task-add" id="add-attriute-value" href="javascript:;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-list-item" id="steps-section">
                            <div class="list-todo-icon bg-white">
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <div class="list-todo-item yellow-crusta">
                                <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-3-1" aria-expanded="false">
                                    <div class="list-toggle done uppercase">
                                        <div class="list-toggle-title bold">Kroki</div>
                                        <div class="badge badge-default pull-right bold amount-list">0</div>
                                    </div>
                                </a>
                                <div class="task-list panel-collapse collapse" id="task-3-1">
                                    <ul id="scenarios-steps-list">
                                    </ul>
                                    <div class="task-footer bg-grey">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {#<a class="show-steps-config" href="javascript:;">#}
                                                    {#<i class="fa fa-code"></i>#}
                                                {#</a>#}
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="task-add" id="add-step" href="javascript:;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>