{# scenario \ManagementBundle\Entity\Scenario #}
<ul>
    {% if frontMode %}
        {% for scenario in scenarios %}

            <li class="mt-list-item p-a-2"
                data-id="{{ scenario.id }}"
                data-description="{{ scenario.description }}"
                data-name="{{ scenario.name}}"
            >
                <div class="list-datetime uppercase row">
                    <div class="col-md-6">
                        <strong>{{ scenario.name }}</strong>
                    </div>
                    {#<div class="col-md-6">#}
                        {#<span class="label label-primary label-sm">#}
                            {#<i class="fa fa-user" title="Autor"></i> {{ scenario.createdBy.username }}#}
                        {#</span>#}
                        {#<span class="label label-default label-sm m-l-1">#}
                            {#<i class="fa fa-edit" title="Data aktulizacji"></i> {{ scenario.updatedAt|date('Y-m-d H:i') }}#}
                        {#</span>#}
                    {#</div>#}
                </div>
                <div class="list-item-content">
                    {{ scenario.description }}
                </div>
            </li>

        {% endfor %}
    {% else %}
        {% for scenario in scenarios %}

            <li class="mt-list-item" data-id="{{ scenario.id }}">
                <div class="list-datetime uppercase ">
                    <span class="font-grey-cascade"><i class="fa fa-calendar-o" title="Data utowrzenia"></i> {{ scenario.createdAt|date('Y-m-d H:i') }}</span>
                    <span>|</span>
                    <span class="font-green"><i class="fa fa-edit" title="Data aktulizacji"></i> {{ scenario.updatedAt|date('Y-m-d H:i') }}</span>
                    <span>|</span>
                    <i class="fa fa-user" title="Autor"></i> {{ scenario.createdBy.username }}
                </div>
                <div class="list-item-content">
                    <h5 class="uppercase">
                        {{ scenario.name }}
                    </h5>
                    <p>
                        {{ scenario.description }}
                    </p>
                </div>
            </li>

        {% endfor %}
    {% endif %}
</ul>