{# scenario \ManagementBundle\Entity\Scenario #}
<ul>
    {#{% if frontMode %}#}
        {% for scenario in scenarios %}

            <li class="mt-list-item ">
                <div class="pull-right">
                    {% if  (scenario.time > 0) %}
                        <div class="time">
                            <i class="fa fa-clock-o"> </i>
                            {{ scenario.time}}s
                        </div>
                    {% endif %}
                </div>
                <div class="list-item-content">
                    <div class="uppercase bold">  {{ scenario.scenario.name }}         {% if scenario.lastProcessInstance %}
                            <a href="{{ path('operational_dashboard_index',{
                                'process_instance':scenario.lastProcessInstance.id,
                                'action':'telephony-pick-up',
                                'isforce':1
                            }
                            ) }}" target="_blank">
                                ({{  scenario.lastProcessInstance.id}})
                            </a>
                        {% endif %}</div>
                    <div class="italic small">
                        {{ scenario.user }}</div>
                </div>


                <div class="overflow-h">

                    <div class="date_time pull-right">
                        {{ scenario.createdAt.format('d-m-Y H:i') }}

                    </div>
                </div>
                <div class="actions">
                    {% if scenario.hasPDF %}
                    <a class="btn btn-primary  pull-right btn-sm" target="_blank" href="{{ path('management_admin_panel_scenarios_builder_download_pdf',{'scenarioInstanceId':scenario.id}) }}">Pobierz PDF</a>
                    {% endif %}
                    <a class="btn btn-danger  pull-right btn-sm" target="_blank" href="{{ path('removeScenarioInstance', {'id' :scenario.id}) }}">Usuń</a>
                </div>
                {#{{ scenario.error_message  }}#}
                {% set scenarioList = scenario.getErrorList%}

                {% if scenarioList%}
                <div class="error_info alert alert-danger  margin-top-10">
                    <a href="#" class="link header">Błędy : {{ scenarioList|length }}</a>
                    <div class="errors_msg ">

                    <ul class="">
                        {% for error in scenarioList %}
                        <li> {{ error.message }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                {% endif %}
            </li>

        {% endfor %}
</ul>