<div id="scenarios-builder-wrapper" class="loading-spinner">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
    <div class="tab-wrapper-content">
    </div>

    <div id="attributes-config-modal" class="modal fade center-form scenario-modal-with-config" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-label">Konfiguracja Atrybutów</span>
                </div>
                <div class="modal-body">
                    <form action="">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    {#<button id="custom-btn-cancel" type="button" class="btn red-mint btn-default" data-dismiss="modal">#}
                        {#<i class="fa fa-times"></i> {{ 'no'|trans|desc('nie')|capitalize }}#}
                    {#</button>#}
                    <button id="scenario-btn-confirm-attributes" data-style="zoom-in" data-size="s" type="button" class="btn green-meadow ladda-button">
                        <span class="ladda-label"><i class="fa fa-check"></i> {{ 'save'|trans|capitalize }}</span>
                    </button>
                    <button id="scenario-btn-ok" data-style="zoom-in" data-size="s" type="button" data-dismiss="modal" class="btn btn-default ladda-button float-right">
                        <span class="ladda-label">{{ 'close'|trans|capitalize }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="scenario-config-modal" class="modal fade center-form scenario-modal-with-config" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-label">Konfiguracja scenariusza</span>
                </div>
                <div class="modal-body">
                    <form action="">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="scenario-btn-confirm-scenario" data-style="zoom-in" data-size="s" type="button" class="btn green-meadow ladda-button">
                        <span class="ladda-label"><i class="fa fa-check"></i> {{ 'save'|trans|capitalize }}</span>
                    </button>
                    <button data-style="zoom-in" data-size="s" type="button" data-dismiss="modal" class="btn btn-default ladda-button float-right">
                        <span class="ladda-label">{{ 'close'|trans|capitalize }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="source-viewer-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-label">Podgląd kodu</span>
                </div>
                <div class="modal-body">
                    <form action="">
                        <textarea name="" id="" cols="30" rows="16"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default float-right">
                        {{ 'close'|trans|capitalize }}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
