<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        {% if atlasVersionLog.id %}
            Dodawanie logu
        {% else %}
            Edycja logu
        {% endif %}
    </h4>
</div>
{{ form_start(atlasVersionForm, { 'action': path('management_admin_panel_version_log_edit', {"id": atlasVersionLog.id }), 'attr': { 'class': '', 'data-event-success':'refresh-atlas-version' } }) }}
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-body">
                    {{ form_row(atlasVersionForm.type) }}
                    {{ form_row(atlasVersionForm.description) }}
                    {{ form_row(atlasVersionForm.version) }}
                    {{ form_rest(atlasVersionForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">
            {{ 'close'|trans|capitalize }}
        </button>
        <button type="button" data-style="zoom-in" data-size="s" type="button"  class="btn blue modal-save-form ladda-button">
            <span class="ladda-label">
                {% if atlasVersionLog.id %}
                    {{ 'edit'|trans|capitalize }}
                {% else %}
                    {{ 'add'|trans|capitalize }}
                {% endif %}
            </span>
        </button>
    </div>
{{ form_end(atlasVersionForm) }}