{% for versionLog in pagination %}
    <tr class="{{ (versionLog.version) ? "active" : "" }}">
        <td>
            {% if not versionLog.version %}
                <div class="mt-checkbox-list no-pad">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" value="{{ versionLog.id }}" class="version-log-id"
                               name="id_version_{{ versionLog.id }}">
                        <span></span>
                    </label>
                </div>
            {% endif %}
        </td>
        <td class="fit"> {{ versionLog.id }} </td>
        <td class="align-center">
            <i class="fa {{ versionLog.iconOfType }}" title="{{ versionLog.type }}" aria-hidden="true"></i>
        </td>
        <td>{{ versionLog.description }}</td>
        <td>{{ versionLog.updatedAt |date('Y-m-d H:i:s') }}</td>
        <td class="fit">
            <span class="label label-sm label-primary">{{ versionLog.version }}</span>
        </td>
        <td>
            {% if versionLog.versionDate %}
                {{ versionLog.versionDate |date('Y-m-d H:i:s') }}
            {% endif %}

        </td>
        <td class="fit">
            <a class="btn btn-xs green tooltips"
               href="{{ url('management_admin_panel_version_log_form', {"id": versionLog.id}) }}"
               data-target="#new-log-modal"
               data-toggle="modal"
               title="Edytuj">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="#" class="btn btn-xs red btn-delete tooltips" data-toggle="tooltip" data-placement="top" title=""
               data-url="{{ path('management_admin_panel_version_log_remove', {"id": versionLog.id }) }}"
               data-original-title="Usuń">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>
{% endfor %}