{# app \Symfony\Bridge\Twig\AppVariable #}

{% set pageTitle = block('title') %}
{% set phoneOn = 0 %}
{% set callCenterOn = 0 %}
{% set disablePhoneModule = 0 %}

{% if app.user %}
    {% if is_granted('ROLE_TELEPHONY') %}

        {% if not app.request.query.has('disable_phone_module') %}
            {% set phoneOn = 1 %}
        {% else %}
            {% set disablePhoneModule = 1 %}
        {% endif %}

    {% endif %}
    {% if is_granted('ROLE_CONSULTANT') %}
        {% set callCenterOn = 1 %}
    {% endif %}
{% endif %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block documentTitle %}
            {% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% if "dev" in atlas_environment %}
        <link rel='shortcut icon' type='image/png' href='{{ asset('favicon_dev.png') }}'/>
    {% else %}
        <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    {% endif %}

    {% if is_granted('CHAT_ON', 'CHAT_OBJECT') %}
        <link type="text/css" href="/cometchat_lib/cometchatcss.php" rel="stylesheet" charset="utf-8">
    {% endif %}

    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}

    {% block extrastyle %}
        <style>
            .wrapper {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .atlas-iframe-wrapper {
                overflow: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                width: 100%;
                height: 100%;
            }

            .atlas-iframe-wrapper.enabled-chat {
                padding-bottom: 35px;
            }

            #atlas-iframe {
                width: 1px !important;
                min-width: 100%;
                height: 100%;
                border: none;
                vertical-align: top;
                margin-top: -1px;
            }
        </style>
    {% endblock %}

</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo
    {% if app.request.cookies.has('sidebar_closed') %}
        {% if app.request.cookies.get('sidebar_closed') == "true" %} page-sidebar-closed {% endif %}
    {% endif %}
">

{% include "@Case/Default/partials/search-results-tool-modal.html.twig" %}

<div class="wrapper">

    {% if phoneOn %}
        {% include "@Jabber/layout-phone.html.twig" %}
    {% endif %}

    {% include "@Tool/Default/tool/partials/modals/removal.html.twig" %}

    {% include "@Web/Default/partials/modal/report-problem.html.twig" %}

    {% if is_granted('ROLE_ADMIN') %}
        {% include '@Web/Admin/admin-tools-modal.html.twig' %}
    {% endif %}

    {% if app.user %}
        {% include "WebBundle:Default/partials:header.html.twig" %}
    {% endif %}

    <div class="atlas-iframe-wrapper {% if not is_mobile() %} enabled-chat  {% endif %}">
        <iframe id="atlas-iframe" src="{{ url }}" frameborder="0" class="js-atlas-iframe"></iframe>
    </div>
</div>

{% block scripts %}

    <script>"use strict";

        var canMonitorPage = {{ (canMonitorPage) ? 'true' : 'false' }};

        window['atlasWebExtensionId'] = '{{ atlas_web_extension_id }}';

        var HeaderAtlas = true;

        function inIframe() {
            try {
                return window.self !== window.top;
            } catch (e) {
                return true;
            }
        }

        var _locale = '{{ app.request.locale }}';

    </script>

    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    {#<script src="{{ url('bazinga_jstranslation_js') | removeAppDev }}"></script>#}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'js' }) | removeAppDev }}"></script>

    <script src="{{ asset('js/header-atlas.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) | removeAppDev }}"></script>
    <script src="{{ asset('bundles/web/js/home-scripts.js') }}"></script>
    <script src="{{ asset('js/gos-web-socket.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/case-note-module.js') }}"></script>

    <script>

        "use strict";

        document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";

        {% if app.user %}
            var mainWebSocket = WS.connect(document.WSConnectingString),
                heartBeat = null;

            var _openCase = function(t) {

                var $t = $(t),
                    id = $t.attr('data-process-instance-id');

                var $atlasIframe = $('#atlas-iframe'),
                    isOperationDashboard = $atlasIframe.contents().find('body').hasClass('operational-page');

                /** Jeżeli w iframe nie jest załadowany dashboard to robi przekierowanie do operation dashboard */

                if (isOperationDashboard) {

                    var cEvent = new CustomEvent("telephony-pick-up", {'detail': {processInstances: id, force: false}});
                    $atlasIframe[0].contentWindow.document.dispatchEvent(cEvent);

                }
                else {

                    var message = {
                        type: 'telephony-pick-up-with-reload',
                        data: {
                            processInstances: id,
                            force: false
                        }
                    };

                    $atlasIframe[0].contentWindow.postMessage(message, Routing.generate('index', [], true));

                }

                $t.closest('.toast').remove();

            };

            mainWebSocket.on("socket/connect", function (session) {

                session.subscribe("atlas/topic", function (uri, payload) {

                    if(payload.action) {

                        if(payload.action === "notification") {

                            var toastClass = 'toast main-notification' + ((!payload.withIcon) ? ' no-icon' : '');

                            var title = (payload.title) ? payload.title : "Powiadomienie systemowe";

                            var currentProcess = $('#atlas-iframe')[0].contentWindow.currentProcess;

                            if(payload.extraClass) {
                                toastClass += ' ' + payload.extraClass;
                            }

                            var notificationOptions = {
                                timeOut: parseInt(payload.timeout),
                                toastClass: toastClass,
                                closeOnHover: false,
                                tapToDismiss: payload.tapToDismiss,
                                hideEasing: 'linear',
                                // onclick: callback,
                                hideDuration: 400,
                               closeClass: 'toast-close-button',
                               closeHtml: '<button><i class="fa fa-close"></i></button>',
                               closeButton: payload.closeButton,
                               progressBar: true
                            };

                            if (payload.refresh === 'note' && currentProcess.rootId === payload.rootId) {
                                refreshNotes(payload.rootId);
                            }

                            if(payload.type === "info" && true === shouldSendNotification(payload.rootId, payload.refresh)) {
                                toastr.info(payload.message, title, notificationOptions);
                            }
                            else if(payload.type === "warning") {
                                toastr.warning(payload.message, title, notificationOptions);
                            }
                            else if(payload.type === "danger") {
                                toastr.error(payload.message, title, notificationOptions);
                            }
                            else if(payload.type === "success") {
                                toastr.success(payload.message, title, notificationOptions);
                            }

                        }

                    }

                });


                heartBeat = setInterval(function () {
                    if(session) {
                        session.publish("atlas/topic", ["ping"]);
                    }
                    else {
                        clearInterval(heartBeat);
                    }
                }, 15000);

            });

            mainWebSocket.on("socket/disconnect", function (error) {

                if(heartBeat) {
                    clearInterval(heartBeat);
                }

            });

        {% endif %}

        var caseNoteModule = CaseNoteModule();

        function refreshNotes(rootId) {

            $.ajax({
                url: Routing.generate('operationalDashboardInterfaceGetNotesAndInfo', {processInstanceId: rootId, displayInfo: false}),
                type: "GET",
                beforeSend: function () {

                },
                success: function (response) {

                    if (response.notes.list) {
                        caseNoteModule.refreshNoteList(response.notes.list);
                    }
                },
                complete: function () {
                }
            });
        }

        function shouldSendNotification(rootId, refreshPart) {
            var currentProcess = $('#atlas-iframe')[0].contentWindow.currentProcess;

            if (currentProcess.rootId === rootId && refreshPart === 'note') {
                return true;
            }

            return !refreshPart;
        }

    </script>

    {% if is_granted('CHAT_ON', 'CHAT_OBJECT') %}
        <script type="text/javascript" src="/cometchat_lib/cometchatjs.php" charset="utf-8"></script>
    {% else %}

    <script type="text/javascript">
        $("body").append('<div id="cometchat"></div>');
    </script>
    {% endif %}

    {% if showVersion %}
    <script type="text/javascript">
        $("body").append('<span id="project-version">{{ projectVersion() }}</span>');
    </script>
    {% endif %}

    {% if phoneOn %}

        <script>
            var CONST_CALL_CENTER_MODE = {{ callCenterOn }};
        </script>

        {% if jabberAccount is not null %}
            {{ jabberAccount | raw }}
        {% endif %}

        <script src="{{ asset('js/jabber.js') }}"></script>

        {% if is_granted('ROLE_ADMIN') %}

            <script src="{{ asset('bundles/jabber/js/jabber-admin-script.js') }}"></script>

        {% endif %}


    {% elseif disablePhoneModule == 1%}

        <script>"use strict";

            if(!inIframe()) {
                clearHomeUrl();
            }

        </script>

    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        <script src="{{ asset('bundles/web/js/modules/admin-menu-actions.js') }}"></script>
    {% endif %}

{% endblock %}

{% block extrascripts %}{% endblock %}

{% if app.environment == 'dev' %}
    <script>document.write('<script src="{{ (app.request.secure) ? 'https' : 'http' }}://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

</body>
</html>
