<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Monitor
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>

    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}

    <style>
        iframe {
            width: 100%;
            display: block;
        }
    </style>

</head>
<body>

{% set viewMode = app.request.query.get('view-mode', 'vertical') %}

<div class="iframes-wrapper container-fluid" data-view-mode="{{ viewMode }}" >
    <div class="row">

        {% if viewMode == "horizontal" and tools|length == 2  %}

            {% for tool in tools %}

                <div class="col-xs-12 no-padding">
                    <iframe src="/tools/embed/{{ tool }}?monitor-mode=1" frameborder="0"></iframe>
                </div>

            {% endfor %}

        {% else %}

            {% for tool in tools %}

                <div class="col-xs-6 no-padding" style="border: 2px #27465a solid">
                    <iframe src="/tools/embed/{{ tool }}?monitor-mode=1" frameborder="0"></iframe>
                </div>

            {% endfor %}

        {% endif %}

    </div>
</div>

{% block extrascripts %}

    <script>
        var amount, height, viewMode;

        window.onload = function() {

            amount = document.querySelectorAll('iframe').length;
            viewMode = document.querySelector('.iframes-wrapper').getAttribute('data-view-mode');

            window.addEventListener('resize', setHeightOfIframe);

            setHeightOfIframe();

            setInterval(function () {

                var event = new CustomEvent("refresh-tool");
                document.querySelectorAll('iframe').forEach(function (ele, i) {
                    ele.contentWindow.dispatchEvent(event);
                });

            }, {{ time }});

        };

        function setHeightOfIframe() {

            height = window.innerHeight - 10;

            document.querySelectorAll('iframe').forEach(function (ele, i) {

                if(amount === 2 && viewMode === "horizontal") {
                    ele.style.height = (height / 2) + "px";
                }
                else if(amount > 2) {
                    ele.style.height = (height / 2) + "px";
                }
                else {
                    ele.style.height = height+ "px";
                }
            });

        }

    </script>

{% endblock %}

</body>
</html>
