{% use "WebBundle:Form:bootstrap_form_layout.html.twig" %}

{# Labels #}

{% block form_label_class -%}
    sparx_custom_label
{%- endblock form_label_class %}


{# Rows #}

{% block form_group_class -%}
    col-sm-2
{%- endblock form_group_class %}
