<div id="invalidcertcontainer">
    <h3>Received invalid certificate</h3>
    <p>Certificate details:</p>
    <table id="certdetailstable">
        <tr>
            <td>Identifier:</td>
            <td class="identifier"></td>
        </tr>
        <tr>
            <td>Subject CN:</td>
            <td class="subjectCN"></td>
        </tr>
        <tr>
            <td>Reference ID:</td>
            <td class="reference"></td>
        </tr>
        <tr>
            <td>Invalid reason:</td>
            <td class="reason"></td>
        </tr>
    </table>
    <div id="responsebuttons">
        <button class="accept btn green-dark">Accept</button>
        <button class="reject btn red">Reject</button>
    </div>
</div>