<div id="disabled-phone-top-panel">
    <div class="phone-panel" id="phone-panel">
        <button class="btn btn-primary-blue btn-xs" onclick="javascript:onClickGoToTabWithPhoneModule();">Przejdź do zakładki z telefonią</button>
    </div>
</div>

<script>"use strict";

    function onClickGoToTabWithPhoneModule() {

        if(typeof atlasChromeExtension !== "undefined" && atlasChromeExtension) {
            var _port = atlasChromeExtension.getPort();
            if(_port) {
                atlasChromeExtension.getPort().postMessage({action: "focus-first-tab-with-phone-module"});
            }
        }
    }

</script>