<div class="incoming-call-box" id="incoming-call-box">
    <div class="greeting">
        ${ welcoming }
    </div>
    <div class="calling-phone">
        <span>Dzwoni: </span>

        <strong v-show="ringingName" class="from-number">${ ringingName }</strong>
        <strong v-show="!ringingName" class="from-number">${ ringingNumber }</strong>

    </div>
    <div class="client-data">
        <span>Dane o kliencie:</span> <strong class="client-info"> ${ clientInfo } </strong> <div v-if="loadingClient" class="spinner">{% include '@Web/Default/partials/spinner.html.twig' %}</div>
    </div>
    <div class="actions">
        <button type="button" class="btn green-meadow pick-up" id="phone-pick-up">
            <i class="fa fa-phone"></i> Odbierz
        </button>
        <button type="button" class="btn btn-info pick-up" id="phone-pick-up-in-new-tab">
            <i class="fa fa-external-link"></i> Odbierz i otwórz zadanie w nowym oknie
        </button>
    </div>
</div>
<div class="incoming-call-overlay"></div>