<script>
    var _j = '{{ data }}';

    var _uInfo = {
        '_id': {{ user.userId }},
        '_username': '{{ user.userName }}',
        '_oId': {{ user.originalUserId }},
        '_cId' : '{{ (user.companyId) ? user.companyId : '' }}'
    };

</script>