<div id="phone-top-panel">

    <div class="connecting">
        <i class="fa fa-phone"></i> <span>{{ 'jabber_connecting' | trans|desc('Łączenie...') }}</span>
    </div>
    <div class="phone-panel" id="phone-panel" data-e-call-platform-id="{{ e_call_platform_id }}">

        {# calling-options #}

        <div class="phone-module" id="calling-options-module" v-show="duringConversation.isDuring">

            <div class="phone-module-buttons show-on-hover">
                <p>Aktywne połączenia:</p>
                <span class="amount-of-conversations">${ liveConversations.length }</span>
                {#<a href="javascript:;" class="btn btn-icon-only toggle-btn toggle-calling-options">#}
                    {#<i class="fa fa-keyboard-o" aria-hidden="true"></i>#}
                {#</a>#}
            </div>

            <div class="phone-module-content">
                <div class="form">
                    <div class="title">{{ 'jabber.current_conversatons' | trans | desc('obecne rozmowy') | capitalize }}</div>
                    <div class="body">
                        <div class="form-group row-device">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="live-conversations">
                                        <li class="clearfix" :data-id-conversation="item.ID" v-for="(item, index) in liveConversations">
                                            <span title="Aktywna rozmowa" v-show="(item.isActive === true)" class="active-conversation"><i class="fa fa-check"></i></span>
                                            <div class="number">${ item.displayNumbers() }</div>
                                            <div class="actions">
                                                <button title="Utwórz telekonferencje" v-show="item.canMerge" data-role="merge" class="btn btn-icon-only blue-soft">
                                                    <i class="fa fa-compress"></i>
                                                </button>
                                                <button title="Zakończ połączenie" v-show="item.canEnd" class="btn btn-icon-only red" data-role="cancel">
                                                    <i class="fa fa-phone"></i>
                                                </button>
                                                <button title="Wstrzymaj połączenie" v-show="item.canHold" class="btn btn-icon-only yellow" data-role="hold">
                                                    <i class="fa fa-pause"></i>
                                                </button>
                                                <button title="Wznów połączenie" v-show="item.canResume" class="btn btn-icon-only green-meadow" data-role="resume">
                                                    <i class="fa fa-play"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# phone-options-module #}

        <div class="phone-module" id="phone-options-module" v-show="!duringConversation.isDuring">
            <div :disabled="spinnerRunning" class="status-wrapper toggle-btn">
                <div class="error-login-wrapper" v-if="errorLogin">
                    <button id="re-login-to-finesse" title="Błąd przy logowaniu do Cisco Finesse." v-on:click="reLoginToFinesse">
                        Zaloguj ponownie <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </button>
                </div>
                <div v-if="spinnerRunning">
                    {% include '@Web/Default/partials/spinner.html.twig' with {size: 'micro-spinner status-spinner'} %}
                </div>
                <span>Status:</span>
                <div class="status" :data-status="currentStatus ? currentStatus.type : 'NOT_READY'" :title="title">
                    <span class="READY"><i class="fa fa-check-circle" aria-hidden="true"></i><span>{{ 'Ready' | trans }}</span></span>
                    <span class="NOT_READY"><i class="fa fa-times-circle" aria-hidden="true"></i><span>{{ 'Not Ready' | trans }}</span></span>
                    <span class="WRAP_UP"><i class="fa fa-times-circle" aria-hidden="true"></i><span>{{ 'Wrap-Up' | trans }}</span></span>
                </div>
            </div>
            <div class="phone-module-content" id="status-list">
                <div class="title"> {{ 'jabber_title_change_status' | trans|desc('Zmiana statusu') }} </div>
                <div v-bind:class="{ loading : loadingStatuses }" class="loading-statuses">ładuje...</div>
                {#<div v-show="{ errorLoadingStatuses }" class="loading-statuses-error">Błąd ładowania <button class="btn btn-default">Reload</button></div>#}
                <div class="status-label" v-bind:class="{ active : item.isActive, disabled : item.disabled }" :data-index="index" v-for="(item, index) in statuses" >
                    <span :class="item.type" :data-status="item.type" :data-idcode="item.idCode" :data-label="item.label">
                        <i class="fa" :class="item.icon" aria-hidden="true"></i><span>${ item.label } </span>
                    </span>
                </div>
            </div>
        </div>

        {# DTMF #}

        <div class="phone-module" id="DTMF-module" v-show="duringConversation.isDuring">
            <div class="phone-module-buttons">
                <a href="javascript:;" class="btn btn-icon-only toggle-btn toggle-phone-DTMF">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="phone-module-content">
                <div class="form form-vertical">
                    <div class="title"> {{ 'jabber_title_DTMF' | trans|desc('DTMF') }} </div>
                    <div class="body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                </span>
                                <input v-model="number" class="form-control"
                                       name="jabberNumberForDTMF" id="jabberNumberForDTMF">
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="btn-toolbar margin-bottom-10">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-key-value="1">1</button>
                                <button type="button" class="btn btn-default" data-key-value="2">2</button>
                                <button type="button" class="btn btn-default" data-key-value="3">3</button>
                                <button type="button" class="btn btn-default" data-key-value="A">A</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-key-value="4">4</button>
                                <button type="button" class="btn btn-default" data-key-value="5">5</button>
                                <button type="button" class="btn btn-default" data-key-value="6">6</button>
                                <button type="button" class="btn btn-default" data-key-value="B">B</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-key-value="7">7</button>
                                <button type="button" class="btn btn-default" data-key-value="8">8</button>
                                <button type="button" class="btn btn-default" data-key-value="9">9</button>
                                <button type="button" class="btn btn-default" data-key-value="C">C</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-key-value="*">*</button>
                                <button type="button" class="btn btn-default" data-key-value="0">0</button>
                                <button type="button" class="btn btn-default" data-key-value="#">#</button>
                                <button type="button" class="btn btn-default" data-key-value="D">D</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# phone-transfer-module #}

        <div class="phone-module" id="phone-transfer-module" v-show="duringConversation.isDuring">
            <div class="phone-module-buttons">
                <a href="javascript:;" class="btn btn-icon-only toggle-btn toggle-phone-transfer">
                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                </a>
            </div>
            <div class="phone-module-content">
                <div class="form form-vertical">
                    <div class="title"> {{ 'jabber_title_transfer_call' | trans|desc('Przekierowanie rozmowy') }} </div>
                    <div class="body">
                        <div class="form-group row-device">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input v-model="jabberNumberForTransfer" class="form-control telephony-contact-searcher" name="jabberNumberForTransfer" id="jabberNumberForTransfer">
                            </div>
                        </div>

                    </div>
                    <div class="footer">
                        <button data-style="zoom-in" data-size="s" v-show="!transferring" class="btn green-meadow ladda-button" id="transferConversation">

                            <span class="ladda-label">
                                {{ 'jabber_transfer_call_start' | trans|desc('Przekieruj') }}
                            </span>

                        </button>

                        <button data-style="zoom-in" data-size="s" v-show="transferring && taskIsActive" style="margin-left: 10px;" class="btn blue-steel ladda-button" id="completeTransformWithTask">
                            <span class="ladda-label">
                                {{ 'jabber_transfer_call_complete_with_task' | trans|desc('Przekieruj z zadaniem') }}
                            </span>
                        </button>

                        <button data-style="zoom-in" data-size="s" v-show="transferring" style="margin-left: 10px;" class="btn purple-plum ladda-button" id="completeTransfer">
                            <span class="ladda-label">
                                {{ 'jabber_transfer_call_complete' | trans|desc('Akceptuj') }}
                            </span>
                        </button>

                        <button v-show="transferring" style="margin-left: 10px;" class="btn red-soft ladda-button" id="cancelTransfer">
                            {{ 'jabber_transfer_call_cancel' | trans|desc('Anuluj') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# history-call-module #}

        <div class="phone-module" id="history-call-module" :class="{ hideBorder: duringConversation.isDuring }">
            <div class="phone-module-buttons">
                <a href="javascript:;" class="btn btn-icon-only toggle-btn ">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                </a>
                <div v-show="notPickUpAmount != 0" class="not-pick-up">
                    ${ notPickUpAmount }
                </div>
            </div>
            <div class="phone-module-content">
                <div class="module-inner-content">
                    <div class="title"> {{ 'jabber_title_history_call' | trans|desc('Historia rozmów') }} </div>

                    <div v-if="historyLoading">
                        {% include '@Web/Default/partials/spinner.html.twig' with {size: 'micro-spinner status-spinner'} %}
                    </div>
                    <div class="body">
                        <ul>
                            <li :class="item.status" v-for="(item, index) in callHistory">
                                <div class="recall">
                                    <button :disabled="!item.number" :data-number-element="item.number" data-style="zoom-in" data-size="s" class="btn btn-icon-only green-meadow ladda-button re-call">
                                            <span class="ladda-label">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                    </button>
                                </div>
                                <div class="number">
                                    <p v-show="item.name" class="name">${ item.name }</p>
                                    ${ item.number }
                                </div>
                                <div class="datetime">
                                    <p class="date">
                                        ${ item.date }
                                    </p>
                                    <p class="time">
                                        <span class="type-call" :class="item.type">
                                            <i :class="{ 'font-red' : item.status == 'NOT_PICK_UP' }" v-show="item.type == 'IN'" class="fa fa-long-arrow-left"></i>
                                            <i v-show="item.type == 'OUT'" class="fa fa-long-arrow-right font-green-turquoise"></i>
                                        </span>
                                        ${ item.time }
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {# phone-setting-module #}

        <div class="phone-module" id="phone-setting-module">
            <div class="phone-module-buttons">
                <a href="javascript:;" class="btn btn-icon-only toggle-btn toggle-phone-setting">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </a>
            </div>
            <div class="phone-module-content">
                <div id="mediaDeviceSelectionWindow" class="MediaDeviceSelectionWindow form form-vertical">
                    <div class="title"> {{ 'jabber_title_device_selection' | trans|desc('Wybór urządzeń') }} </div>
                    <div class="body">
                        <div class="form-group row-device">
                            <label for="microphoneList">{{ 'jabber_microphones' | trans|desc('Mikrofon') }}:</label>
                            <div class="control">
                                <select class="form-control main-media-device" data-media-name="microphone" name="recordingDevicesSelect" id="microphoneList"></select>
                            </div>
                        </div>

                        <div class="form-group row-device">
                            <label for="speakerList">{{ 'jabber_speakers' | trans|desc('Rozmowa') }}:</label>
                            <div class="control">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <select class="form-control main-media-device" data-media-name="speaker" name="playoutDevicesSelect" id="speakerList"></select>
                                    </div>
                                    <div class="col-sm-2 p-l-0">
                                        <button class="btn btn-link btn-sm p-t-1 telephony-audio-test" data-target="audio-test-control">
                                            <i class="fa fa-play-circle fa-2x block-img" style="color: #fff" aria-hidden="true"></i>
                                            <i class="fa fa-stop-circle fa-2x block-img" style="color: #fff" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <audio controls="" id="audio-test-control" style="display: none;">
                                    <source src="{{ asset('audio/audio-test.mp4') }}" type="audio/mp4; codecs=&quot;mp4a.40.5&quot;">
                                    <span class="error">Error: Source Statement Failure - Format not supported in this browser?</span>
                                </audio>
                            </div>
                        </div>

                        <div class="form-group row-device hidden">
                            <label for="cameraList">{{ 'jabber_cameras' | trans|desc('Kamery') }}:</label>
                            <div class="control">
                                <select class="form-control" name="captureDevicesSelect" id="cameraList"></select>
                            </div>
                        </div>

                        <div class="form-group row-device">
                            <label for="ringerList">{{ 'jabber_ringers' | trans|desc('Połączenie') }}:</label>
                            <div class="control">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <select class="form-control main-media-device" data-media-name="ringer" name="ringerDevicesSelect" id="ringerList"></select>
                                    </div>
                                    <div class="col-sm-2 p-l-0">
                                        <button class="btn btn-link btn-sm p-t-1 telephony-audio-test" data-target="audio-test-control-2">
                                            <i class="fa fa-play-circle fa-2x block-img" style="color: #fff" aria-hidden="true"></i>
                                            <i class="fa fa-stop-circle fa-2x block-img" style="color: #fff" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <audio controls="" id="audio-test-control-2" style="display: none;">
                                <source src="{{ asset('audio/audio-test.mp4') }}" type="audio/mp4; codecs=&quot;mp4a.40.5&quot;">
                                <span class="error">Error: Source Statement Failure - Format not supported in this browser?</span>
                            </audio>
                        </div>

                        <div class="form-group row-device">
                            <label for="ringtonesSelect">{{ 'jabber_ringtones' | trans|desc('Dzwonek') }}:</label>
                            <div class="control">
                                <select class="form-control main-media-device" data-media-name="ringtones" name="ringtonesSelect" id="ringtonesSelect"></select>
                            </div>
                        </div>

                        <div class="form-group row-device bigger-label">
                            <label for="speakervolumecontrol-range-slider">{{ 'jabber_speaker_volume' | trans|desc('Głośność (Rozmowa)') }}:</label>
                            <div class="control">
                                <div id="speakervolumecontrol-range-slider" class="noUi-primary volume-control-range-slider" data-media-volume="speaker" ></div>
                                <div id="speaker-volume-value" class="volume-value">
                                    ${ speakerVolumeValue }
                                </div>
                            </div>
                        </div>

                        <div class="form-group row-device bigger-label">
                            <label for="ringervolumecontrol-range-slider">{{ 'jabber_ringer_volume' | trans|desc('Głośność dzwonka') }}:</label>
                            <div class="control">
                                <div id="ringervolumecontrol-range-slider" class="noUi-primary volume-control-range-slider" data-media-volume="ringer" ></div>
                                <div id="ringer-volume-value" class="volume-value">
                                    ${ ringerVolumeValue }
                                </div>
                            </div>
                        </div>

                        <div class="form-group row-device bigger-label">
                            <label for="microphonevolumecontrol-range-slider">{{ 'jabber_microphone_volume' | trans|desc('Głośność mikrofonu') }}:</label>
                            <div class="control">
                                <div id="microphonevolumecontrol-range-slider" class="noUi-primary volume-control-range-slider" data-media-volume="microphone" ></div>
                                <div id="microphone-volume-value" class="volume-value">
                                    ${ microphoneVolumeValue }
                                </div>
                                <canvas id="microphone-meter" style="display: block" height="20"></canvas>
                            </div>
                        </div>
                        <div class="row-device hidden">

                            <div>
                                <label for="devices">Device:</label>
                                <select id="devices"></select>
                            </div>

                            {#<label for="speakervolumecontrol" id="spvolumelabel">Speaker volume: </label>#}
                            {#<input type="text" id="speakervolumecontrol" size="5" placeholder="0-100">#}
                            {#<button type="button" id="speakervolumebtn">Set volume</button>#}
                            {#<label for="ringervolumecontrol" id="rgvolumelabel">Ringer volume: </label>#}
                            {#<input type="text" id="ringervolumecontrol" size="5" placeholder="0-100">#}
                            {#<button type="button" id="ringervolumebtn">Set volume</button>#}
                            {#<label for="microphonevolumecontrol" id="micvolumelabel">Microphone volume: </label>#}
                            {#<input type="text" id="microphonevolumecontrol" size="5" placeholder="0-100">#}
                            {#<button type="button" id="micvolumebtn">Set volume</button>#}
                        </div>

                    </div>
                    <div class="footer">
                        <button class="refreshMMDevices btn green-meadow" id="refreshMediaDeviceListButton">
                            {{ 'jabber_device_list_refresh' | trans|desc('Odśwież listę urządzeń') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# phone-call-panel #}

        <div class="phone-module" id="phone-call-panel-module">
            <div class="phone-module-buttons">
                <a href="javascript:;" class="btn btn-icon-only toggle-btn toggle-phone-call-panel">
                    <i class="fa fa-fax" aria-hidden="true"></i>
                </a>
            </div>
            <div class="phone-module-content">
                <div class="form">
                    <div class="title"> {{ 'jabber_title_call_panel' | trans|desc('Telefonia') }} </div>
                    <div class="body">
                        <div class="form-group row-device">
                            <div class="row">
                                <form action="" class="phone-module-form">
                                    <div class="col-xs-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                            <input v-model="callNumber" placeholder="{{ 'jabber_contact_number' | trans|desc('Numer') }}" class="form-control telephony-contact-searcher" name="jabberNumberToCall" id="jabberNumberToCall">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <button data-style="zoom-in" data-size="s" v-show="status === 'ready'" class="btn btn-icon-only green-meadow ladda-button" id="start-call">
                                        <span class="ladda-label">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        </button>
                                        <button v-show="status === 'ringing'" class="btn btn-icon-only red" id="stop-call">
                                            <i class="fa fa-phone rotate-animate"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>