<script>
    {#var cuCUMLogin = '{{ app.user.getCucmLogin() }}',#}
        {#cuCUMPassword = '{{ app.user.getCucmPassword() }}',#}
        {#cuCUMExtension = '{{ app.user.getCucumExtension() }}';#}
</script>