<div class="status-label">
    <span class="__status__" data-status="__status__" data-idcode="__id_code__" data-label="__status_name__">
        <i class="fa __icon__" aria-hidden="true"></i><span>__status_name__</span>
    </span>
</div>
