<div class="table-scrollable">
<table class="table table-bordered table-hover">

    <thead>


    <tr>
        <th>Typ</th>
        <th>Data</th>
        <th>
            Status
        </th>
        <th>Filtry</th>
        <th>
            Link
        </th>
    </tr>
    </thead>
    <tbody>
    {% for report in found %}
        <tr>

            <td>
                {{ report.type }}
            </td>
            <td>
                {{ report.date }}
            </td>
            <td>
                {{ report.status }}
            </td>
            <td>{{ report.filters }}</td>
            <td>
                {% if report.status_id == 3 %}
                    <a href="{{ report.link }}" target="_blank"> Ściągnij </a>
                {% endif %}
            </td>


        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<style>
    .swal-modal{
        min-width: 800px;
        width: 50%;
    }
    .swal-title {

        font-size: 20px;

    }
</style>