{% extends "WebBundle::base_guest.html.twig" %}
{% block content %}
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        Uwaga </div>
                </div>
                <div class="portlet-body tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <p> Raport oczekuje w kolejce. Jest na {{ number }} miejscu.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {#<div class="page-content-wrapper">#}

    {#</div>#}
{% endblock %}