{% set stylesArray = tool.stylesArray %}
{% set topPlacement = constant('ToolBundle\\Entity\\ToolAction::PLACEMENT_TOP') %}

{% extends "WebBundle::base.html.twig" %}

{% block actions %}

    <div class="pull-left with-margin">

        <a class="btn fix-icon-btn btn-warning tooltips" id="backToolHistory" href="#"
           data-placement="bottom"
           data-original-title="{{ 'previous_tool'|trans|desc('Poprzednie narzędzie')|capitalize }}">
            <i class="fa fa-arrow-left"></i> {{ 'previous_tool'|trans|desc('Poprzednie narzędzie')|capitalize }}
        </a>
        {% if tool.description %}
            <a id="description-toggle"
               class="btn fix-icon-btn btn-icon-only visible-lg-inline-block visible-md-inline-block btn-default tooltips"
               data-placement="bottom" data-original-title="{{ 'description_toggle'|trans|desc('Pokaż/ukryj opis') }}">
                <i class="fa fa-info" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ANALYST') %}
            <a id="admin-debug-toggle"
               class="btn fix-icon-btn btn-icon-only visible-lg-inline-block visible-md-inline-block btn-default tooltips"
               data-placement="bottom" data-original-title="{{ 'show_sql_queries'|trans|desc('Pokaż zapytania SQL') }}">
                <i class="fa fa-terminal" aria-hidden="true"></i>
            </a>
        {% endif %}
        <a href="#" class="btn btn-sm btn-default visible-lg-inline-block visible-md-inline-block smaller-btn tooltips"
           id="export-to-xls"
           data-placement="bottom" data-original-title="{{ 'export'|trans|desc('eksport')|capitalize }}">
            <i class="fa fa-file-excel-o"></i>
        </a>

        <a href="#" class="btn btn-sm btn-default visible-lg-inline-block visible-md-inline-block smaller-btn tooltips"
           id="export-to-csv"
           data-placement="bottom" data-original-title="{{ 'export-csv'|trans|desc('eksport do csv')|capitalize }}">
            <i class="fa  fa-file-text"></i>
        </a>

        <a href="#" class="btn btn-sm btn-default visible-lg-inline-block visible-md-inline-block smaller-btn tooltips"
           id="custom-export-to-file"
           data-placement="bottom" data-original-title="{{ 'custom_file_export'|trans|desc('Zaawansowany export')|capitalize }}"
        >
            <i class="fa  fa-download"></i>
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="#"
               class="btn btn-sm btn-default visible-lg-inline-block visible-md-inline-block smaller-btn tooltips"
               id="generate-xls-hash"
               data-placement="bottom"
               data-original-title="{{ 'generate_xls_url'|trans|desc('generuj link dla XLS')|capitalize }}">
                <i class="fa fa-link"></i>
            </a>
            <a class="btn btn-sm btn-default smaller-btn tooltips" href="#" id="generate-iframe-src"
               data-placement="bottom"
               data-original-title="{{ 'generate_iframe_code'|trans|desc('generuj src IFRAME')|capitalize }}">
                <i class="fa fa-code" aria-hidden="true"></i>
            </a>
        {% endif %}
        <a class="btn btn-sm btn-default smaller-btn visible-lg-inline-block visible-md-inline-block tooltips"
           id="tool-summary-modal-trigger" href="#"
           data-placement="bottom" data-original-title="{{ 'summary'|trans|desc('podsumowanie')|capitalize }}">
            <i class="fa fa-flag"></i>
        </a>

        <a class="btn btn-sm btn-default smaller-btn tooltips" id="tool-refresh-trigger" href="#"
           data-placement="bottom" data-original-title="{{ 'refresh_result'|trans|desc('odśwież wyniki')|capitalize }}">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>

        {% if tool.count %}
            <div id="tool-row-count">
                {{ 'loaded_rows'|trans|desc('liczba rekordów')|capitalize }}:
                <span>{{ totalRowCount }}</span>
            </div>
        {% endif %}

    </div>
    <div class="pull-right actions with-margin">
        {% if tool.filters and tool.filters|length > 0 %}
            <a class="btn btn-sm btn-default smaller-btn tooltips filter-toggle {% if app.user.personalizationJson['$filter_toggle_tool_' ~ tool.id] is defined and app.user.personalizationJson['$filter_toggle_tool_' ~ tool.id] == "true" %} active {% endif %}"
               data-placement="bottom" data-original-title="{{ 'Filtry'|trans }}">
                <i class="fa fa-filter"></i>
            </a>
        {% endif %}

        <a class="btn btn-sm btn-default smaller-btn tooltips" id="user-filter-sets" href="#"
           data-placement="bottom" data-original-title="{{ 'tool.filter.load'|trans|desc('wczytaj')|capitalize }}">
            <i class="fa fa-folder-open-o"></i>
        </a>
        <a class="btn btn-sm btn-default smaller-btn tooltips" data-toggle="modal" href="#filter-set-save-modal"
           data-placement="bottom" data-original-title="{{ 'save'|trans|desc('zapisz')|capitalize }}">
            <i class="fa fa-save"></i>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-sm btn-default visible-lg-inline-block visible-md-inline-block smaller-btn tooltips"
               href="{{ path('admin_tool_definition', {'toolId' : tool.id}) }}"
               data-placement="bottom"
               data-original-title="{{ 'edit_tool'|trans|desc('Edytuj narzędzie')|capitalize }}">
                <i class="icon-wrench"></i>
            </a>
        {% endif %}
        {% if tool.editIdColumn and is_granted('batchWrite',tool) %}
            <div class="tooltip-wrapper tooltips" data-placement="bottom"
                 data-original-title="{{ 'Edycja masowa'|trans }}">
                <a id="batch-edit-tool-data"
                   class="btn btn-sm btn-outline visible-lg-inline-block visible-md-inline-block blue disabled smaller-btn"
                   data-tool-id="{{ tool.id }}" edit-type="{{ tool.editType }}"
                   data-tool-name="{{ tool.name }}" data-toggle="modal" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
        {% endif %}
        {% if tool.insertQuery and tool.editIdColumn %}
            <div class="tooltip-wrapper tooltips" data-placement="bottom"
                 data-original-title="{{ 'add'|trans|desc('dodaj')|capitalize }}">
                <a id="add-new-tool-data" class="btn btn-sm btn-outline green-jungle smaller-btn"
                   data-tool-id="{{ tool.id }}" data-toggle="modal"
                   href="#" edit-type="{{ tool.editType }}">
                    <i class="fa fa-plus"></i> {{ 'add'|trans|desc('dodaj')|capitalize }}
                </a>
            </div>
        {% endif %}
        {% for action in actions %}
            {% if (action.forSelectedRows and tool.editIdColumn) or not action.forSelectedRows %}
                {% if action.buttonPlacement == topPlacement %}
                    <div class="tooltip-wrapper tooltips" data-placement="bottom"
                         data-original-title="{{ action.name }}">
                        <a href="javascript:;"
                           class="tool-action btn btn-sm btn-default smaller-btn visible-lg-inline-block visible-md-inline-block {{ action.forSelectedRows ? 'for-selected-rows disabled' : '' }} {{ action.hasConfirmation ? 'modal-trigger' : '' }}"
                           style="{{ action.color ? 'color: #fff;background: '~action.color : '' }}"
                           data-action-id="{{ action.id }}" data-tool-id="{{ tool.id }}"
                           data-description="{{ action.confirmationDescription }}">
                            {{ action.icon|raw }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block header %}
    {{ tool.name }}
{% endblock %}

{% block extraClassPortlet %}loader-for-tool{% endblock %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ANALYST') %}

        {% for flash_message in app.session.flashbag.get('admin-info') %}
            {% for info in flash_message %}
                <div class="query-debug edit-query-debug"><strong class="blue">[EDIT QUERY]</strong>{{ info }}</div>
            {% endfor %}
        {% endfor %}
        <div class="clearfix"></div>
    {% endif %}

    {% if app.request.query.get('tool_title') %}
        <h4 style="margin: 10px 0;">{{ app.request.query.get('tool_title') | striptags }}</h4>
    {% endif %}
{#        MODALS #}

    {% include "@Tool/Default/tool/partials/modals/filter-set-save.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/filter-sets.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tool-edit.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tool-summary.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/document-files.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tinymce-modal.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tool-action-confirmation-modal.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/xls-hash-modal.twig" %}
    {% include "@Tool/Default/tool/partials/modals/iframe-src-modal.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tool-custom-export-modal.html.twig" %}

{#    END MODALS #}

    {% include "ToolBundle:Default/tool/partials:tool-table.html.twig" %}

    {% if tool.description %}
        <div id="tool-helper" class="m-t-2 hidden">
            {{ tool.description|raw }}
        </div>

    {% endif %}

    {#Spinner#}
    {% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'tool-spinner'} %}

    {% if tool.id == 2384
        or tool.id == 2668
        or tool.id == 2670
    %}
    <div class="rekl-c" style="height: 125px">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- narzędzia -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1099845702073901"
             data-ad-slot="9663719252"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}
{% endblock %}

{% block extrascripts %}
    <script>
        var ToolObj = {
            id: {{ tool.id }}
        }
    </script>
    {% include "ToolBundle:Default/tool/partials:tool-table-scripts.html.twig" %}

    {{ tinymce_init() }}

{% endblock %}

{% block documentTitle %}
    {% if app.request.query.get('tool_title') %}
        {{ app.request.query.get('tool_title') | striptags }}
    {% else %}
        {{ tool.name }}
    {% endif %}
{% endblock %}