{% set monitorMode = app.request.query.get('monitor-mode', 0) %}
{% set stylesArray = tool.stylesArray %}
{#{% extends "WebBundle::base_guest.html.twig" %}#}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js bg-white"> <!--<![endif]-->
<head>

</head>
<body>

{#{% block extraClassPortlet %}loader-for-tool{% endblock %}#}
{% block content %}
    {% if app.request.query.get('tool_title') %}
    <h4 style="margin: 10px 0;">{{ app.request.query.get('tool_title') | striptags }}</h4>
    {% endif %}
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}

    <script src="{{ asset('js/guest.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <div class="embed-tool">

        {% if is_granted('write', tool) %}
            {% include "@Tool/Default/tool/partials/modals/tool-edit.html.twig" %}
        {% endif %}

        <div class="pull-right actions m-b-1 {{ (monitorMode == 1) ? "hidden" : "" }}">
            {% if tool.insertQuery and tool.editIdColumn %}

                {% set btnName = 'add'|trans|desc('dodaj')|capitalize %}

                {% if app.request.query.has('add-name') %}
                    {% set btnName = app.request.query.get('add-name')  %}
                {% endif %}

                <div class="tooltip-wrapper">
                    <a id="add-new-tool-data" class="btn btn-sm btn-outline green-jungle smaller-btn"
                       data-tool-id="{{ tool.id }}" data-toggle="modal"
                       href="#" edit-type="{{ tool.editType }}">
                        <i class="fa fa-plus"></i> {{ btnName }}
                    </a>
                </div>
            {% endif %}
        </div>

        {% if monitorMode == 1 %}
            <style>
                .title-tool h4 {
                    background-color: #404040;
                    margin: 0;
                    padding: 10px;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    border: 1px #fff solid;
                    border-bottom-width: 0;
                }
            </style>
            <div class="title-tool"><h4>{{ tool.name }}</h4></div>
        {% endif %}

        {% include "ToolBundle:Default/tool/partials:tool-table.html.twig" with {'embed' : true} %}
    </div>

    {% if tool.description %}
        <div id="tool-helper" class="m-t-2 m-b-3">
            {{ tool.description|raw }}
        </div>
    {% endif %}

    {#Spinner#}
    {% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'tool-spinner'} %}

{% endblock %}

{% block extrascripts %}
    <style>
        body, html {
            background-color: #fff;
        }
    </style>
    <script>
        var ToolObj = {
            id: {{ tool.id }}
        }
        $(function(){
            $('.date-picker').datepicker(datePickerOptions);

            $('.date-time-picker').datepicker(dateTimePickerOptions);

            var date;
            globalVar.dateTimeDisableRefresh = true;
            $('.date-picker, .date-time-picker').not(':disabled').each(function (i, ele) {
                if(ele.value)
                {
                    date = new Date(ele.value);

                    if(isNaN( date.getTime()))
                    {
                    }
                    else{
                        $(ele).data('datepicker').selectDate(new Date(ele.value));
                    }
                }
            });
            globalVar.dateTimeDisableRefresh = false;
        });
    </script>
    {% include "ToolBundle:Default/tool/partials:tool-table-scripts.html.twig" %}
{% endblock %}


</body>
</html>


