{% set stylesArray = tool.stylesArray %}
{% extends "WebBundle::base_guest.html.twig" %}

{% block extraClassPortlet %}loader-for-tool{% endblock %}

{% block content %}
    {% if app.request.query.get('tool_title') %}
        <h4 style="margin: 10px 0;">{{ app.request.query.get('tool_title') | striptags }}</h4>
    {% endif %}

    {% include "@Tool/Default/tool/partials/modals/filter-set-save.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/filter-sets.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tool-edit.html.twig" %}
    {% include "@Tool/Default/tool/partials/modals/tool-summary.html.twig" %}
    {% include "ToolBundle:Default/tool/partials:tool-table.html.twig" %}

    {#Spinner#}
    {% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'tool-spinner'} %}

{% endblock %}

{% block extrascripts %}
    <script>
        var ToolObj = {
            id: {{ tool.id }}
        }
    </script>
    {% include "ToolBundle:Default/tool/partials:tool-table-scripts.html.twig" %}
{% endblock %}

{% block documentTitle %}
    {% if app.request.query.get('tool_title') %}
        {{ app.request.query.get('tool_title') | striptags }}
    {% else %}
        {{ tool.name }}
    {% endif %}
{% endblock %}