{% set stylesArray = tool.stylesArray %}
{% set topPlacement = constant('ToolBundle\\Entity\\ToolAction::PLACEMENT_TOP') %}

{% extends "WebBundle::base.html.twig" %}

{% block actions %}
    <div class="flex-container2"><iframe class="flex-item col-md-12" src="{{ tool.thirdPartyToolUrl }}"></iframe></div>
{% endblock %}