{% extends "WebBundle::base.html.twig" %}

{% block bodyExtraClass %}management-body{% endblock %}

{% block pageSidebarWrapper %}

{% endblock %}

{% block extrastyle %}
    {{ parent() }}
{% endblock %}

{% block pageContentWrapper %}

    <div class="portlet box m-t-1">
        <div class="portlet-body p-x-0 p-y-0">
            <div class="tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#test" data-toggle="tab" aria-expanded="true">Test</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="test">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/modules/modal-form-module.js') }}"></script>

    <script>
        ModalFormModule();
    </script>

{% endblock %}