{% extends "WebBundle::base_operational_dashboard.html.twig" %}

{% if is_mobile_case is not defined %}
    {% set is_mobile_case = false %}
{% endif %}


{% block scripts %}

    <script data-ad-client="ca-pub-1099845702073901" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {{ parent() }}
{% endblock %}

{% block bodyExtraClass %}operational-page public-mode {% if printMode is defined %}print-mode{% endif %}{% endblock %}

{% block extrastyle %}
    {{ parent() }}

    {% if processInstanceId is defined %}
        <style>
            html {
                background: none !important;
                background-color: #fff !important;
            }
        </style>
    {% endif %}

{% endblock %}

{% block pageContentWrapper %}

    {% if not is_mobile_case %}
        <div class="fixed-logo">
            <a class="brand" href="#">
                <img src="{{ asset('atlas_logo.png') }}" alt="logo">
            </a>
        </div>
    {% endif %}

    <div id="page-main-content" class="page-content-wrapper">
        <div class="page-content">
            <div class="cancel-step-overlay"></div>
            <div class="step-cancel-popup wow" data-wow-duration="0.8s">
                <div class="header"><p class="title"></p>
                    <div class="icon"></div>
                    <i class="fa fa-times close-popup js-close-popup" aria-hidden="true"></i>
                </div>
                <div class="tooltip-inner-content">
                    <label for="explanation">Przyczyna anulacji</label>
                    <textarea rows="10" name="explanation" id="explanation" type="text" class="explanation"></textarea>
                    <button class="confirm-cancel btn red-mint">Anuluj</button>
                </div>
            </div>

            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-3" id="left-column"></div>

            {#container for all forms #}
            {% include '@Operational/Default/formsContainer.html.twig' with {'publicVersionMode': 1} %}

            {% include "@Operational/Default/partials/modals/custom-process-modal.html.twig" %}

            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-3" id="right-column"></div>

        </div>
    </div>

{% endblock %}

{% block in_iframe_script %}

{% endblock %}

{% block extrascripts %}

    {% if is_mobile_case and atlas_environment == "prod" and hotjar_script is defined %}
        {{ hotjar_script | raw }}
    {% endif %}

    <script>
        {% if processToken is defined %}
        var _processToken = '{{ processToken }}';
        {% endif %}

        {% if processInstanceId is defined %}
        var _processInstanceId = '{{ processInstanceId }}';
        var _processToken = null;
        var _subToken = '{{ subToken }}';
        {% endif %}

        $(function () {
            $(window).on('resize', checkWidth);
            checkWidth();
        });

        function checkWidth() {
            if (window.screen.availWidth <= 768) {
                $('#right-column,#left-column').hide();
            } else {
                $('#right-column,#left-column').show();
            }
        }

    </script>

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/vendor/lodash.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/gridstack.js') }}"></script>

    <script>
        document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";
    </script>

    <script src="{{ asset('js/gos-web-socket.js') }}"></script>
    <script src="{{ asset('js/dashboard-scripts.js') }}" type="text/javascript"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144164745-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144164745-2');
    </script>


{% endblock %}