<div id="cancel-process-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'cancel-process'|trans|desc('anulowanie procesu')|capitalize }}</span>
            </div>
            <div class="modal-body">
                <p class="large m-y-1">{{ 'are.you.sure.cancel.process'|trans|desc('Wybierz opcję anulowania bieżącego kroku, lub całej sprawy. Jeśli nie jesteś pewien konsekwencji swojego działania, naciśnij przycisk Anuluj') }}</p>
                {#<div class="form-group">
                   <label for="desc" class="control-label">{{ 'enter_reason_to_cancel_process'|trans|desc('Podaj powód anulowania?')|capitalize }}<span class="text-danger">*</span></label>
                  <textarea name="reason" id="cancelProcessReason" class="form-control" cols="50" rows="10" required></textarea>
                </div>
                #}
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="cancel-modal-ajax" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>
                </div>
                <div class="pull-right">
                    <button id="action-kill-current" type="button" class="btn btn-warning" data-dismiss="modal">
                        <i class="fa fa-trash-o"></i> {{ 'kill.current'|trans|desc('Anuluj bieżące zadanie')|capitalize }}</button>
                    <button id="action-kill-all" data-style="zoom-in" data-size="s" type="button"
                            class="btn btn-danger">
                        <span class="ladda-label"><i class="fa fa fa-trash"></i> {{ 'kill.case'|trans|desc('Anuluj całą sprawę')|capitalize }}</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>