<div id="custom-process-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label"></span>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button id="custom-btn-cancel" type="button" class="btn red-mint btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> {{ 'no'|trans|desc('nie')|capitalize }}
                </button>
                <button id="custom-btn-confirm" data-style="zoom-in" data-size="s" type="button" class="btn green-meadow ladda-button">
                    <span class="ladda-label"><i class="fa fa-check"></i> {{ 'yes'|trans|desc('tak')|capitalize }}</span>
                </button>
                <button id="custom-btn-ok" data-style="zoom-in" data-size="s" type="button" class="btn btn-default ladda-button hidden float-right">
                    <span class="ladda-label">{{ 'close'|trans|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>