<div id="dynamic-edit-attribute-modal" class="modal fade" role="dialog" aria-labelledby="Dynamic Edit Attribute"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'edit_attribute'|trans|desc('Edycja Atrybutu')|capitalize }}</span>
            </div>
            <div class="modal-body clearfix">
                <div class="modal-content-form content-edit-attribute">

                </div>
                <div class="alert alert-danger">

                </div>
            </div>
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-success">{{ 'save'|trans|capitalize }}</button>#}
                {#<button type="button" data-dismiss="modal" class="btn btn-outline dark">{{ 'close'|trans|desc('zamknij')|capitalize }}</button>#}
            {#</div>#}
        </div>
    </div>
</div>