<div id="filter-step-modal" class="modal wide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'filter.steps'|trans|desc('Zadania w filtrze')|capitalize }}: <b></b></span>
            </div>
            <div class="modal-body p-b-1">
                <table class="table table-bordered table-hover m-t-1 m-b-2">
                    <thead>
                        <tr>
                            <th>{{ 'process.name'|trans|desc('Nazwa procesu')|capitalize }}</th>
                            <th>{{ 'step.name'|trans|desc('Nazwa kroku')|capitalize }}</th>
                            <th>{{ 'step.id'|trans|desc('Id kroku')|capitalize }}</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>