<div id="form-extra-actions-modal" class="modal fade center-form" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'modal.title.extra-actions'|trans|desc('Dodatkowe akcje')|capitalize }}</span>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>