<div id="medical-case-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'medical-case-change'|trans|desc('zmiana szcególnych danych osobowych')|capitalize }}</span>
            </div>
            <div class="modal-body">
                <p>{{ 'medical-case-question'|trans|desc('czy na pewno chcesz zmienić oznaczenie kategorii danych w sprawie?')|capitalize }}</p>
            </div>
            <div class="modal-footer">
                <button id="medical-case-cancel" type="button" class="btn red-mint btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'no'|trans|desc('nie')|capitalize }}</button>

                <button id="medical-case-confirm" data-style="zoom-in" data-size="s" type="button"
                        class="btn green-meadow ladda-button">
                    <span class="ladda-label"><i
                                class="fa fa-check"></i> {{ 'yes'|trans|desc('tak')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>