<p class="large m-y-1">{{ 'update.communication.in.process'|trans|desc('Wybierz opcję zmiany wysyłania automatycznych powiadomień z systemu w sprawie. Jeśli nie jesteś pewien konsekwencji swojego działania, naciśnij przycisk Anuluj') }}</p>
<div class="form-group">
    <label for="type" class="control-label">{{ 'mute.type'|trans|desc('Tryb komunikacji')|capitalize }}</label>
    <select id="mute-type" class="form-control">
    {% for option in options %}
        <option value="{{ option.value }}" {{ value == option.value ? 'selected="selected"' : '' }}>
            {{ option.label }}
        </option>
    {% endfor %}
    </select>
</div>
