<div id="postpone-process-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'postpone.task'|trans|desc('odrocz zadanie')|capitalize }}</span>
            </div>
            <div class="modal-body" data-spinner='{% include "@Web/Default/partials/spinner.html.twig"%}'>

            </div>
            <div class="modal-footer">
                <button id="abandon-cancel" type="button" class="btn red-mint btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>

                <button id="postpone-confirm" data-style="zoom-in" data-size="s" type="button"
                        class="btn green-meadow ladda-button">
                    <span class="ladda-label">
                        <i class="fa fa-check"></i> {{ 'confirm'|trans|desc('potwierdź')|capitalize }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>