<div id="reopen-case-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'confirmation'|trans|desc('potwierdzenie')|capitalize }}</span>
            </div>
            <div class="modal-body">
                <i class="fa fa-exclamation-circle"></i> <span>{{ 'reopen.case.info'|trans|desc('Czy na pewno chcesz aktywować sprawę na nowo? Pamiętaj o przekierowaniu kosztów po wykonaniu niezbędnych operacji.') }}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-mint btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}
                </button>
                <button data-style="zoom-in" data-size="s" type="button" class="confirm btn green-meadow ladda-button">
                    <span class="ladda-label"><i class="fa fa-check"></i> {{ 'confirm'|trans|desc('potwierdź')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>