<div id="semirequired-confirmation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'tool.action_confirmation'|trans|desc('potwierdzenie wywołania akcji')|capitalize }}</span>
            </div>
            <div class="modal-body">
                <p id="semirequired">
                    <span id="info">{{ 'there_is_some_empty_semirequired_fields'|trans|desc('W formularzu są pola które są puste') }}
                        :</span>
                    <span id="semirequireds"></span>
                </p>
                <div class="form-group">
                    <label for="desc" class="control-label">{{ 'if_yes_describe_the_reason'|trans|desc('Jeśli chcesz kontynuować, napisz powód pominięcia') }}<span class="text-danger">*</span></label>
                    <textarea name="reason" id="semirequiredOmitReason" class="form-control" cols="50" rows="10" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancel-modal-ajax" type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'no'|trans|desc('nie')|capitalize }}</button>

                <button id="action-confirm" data-style="zoom-in" data-size="s" type="button" data-dismiss="modal"
                        class="btn green-meadow ladda-button">
                    <span class="ladda-label"><i
                                class="fa fa-check"></i> {{ 'yes'|trans|desc('tak')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>