<div id="service-program-modal" class="modal fade center-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'choose.program.for.service'|trans|desc('Wybierz program dla usługi')|capitalize }}</span>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <span class="service-program-start-notification">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'service.program.start.notification'|trans|desc('Uwaga! Próbujesz zorganizować usługę z niestandardowym pokryciem. Jeżeli masz wątpliwości skontaktuj się z przełożonym.') }}
                    </span>
                    {#<label for="service-program">{{ 'pick.service.program'|trans|desc('Wy')|capitalize }}</label>#}
                    <select name="service-program" id="service-program" class="form-control">
                        {#<option value="" selected>---</option>#}
                        {#{% for program in serviceExtraPrograms() %}#}
                            {#<option value="{{ program.id }}">{{ program.name }}</option>#}
                        {#{% endfor %}#}
                    </select>
                </div>
                <div class="form-group" id="related-services-group">

                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="post-factum-mode">
                    <label class="form-check-label" for="post-factum-mode">{{ 'post.factum.mode'|trans|desc('W trybie POST FACTUM') }}</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="special-organisation">

                    <label class="form-check-label" for="special-organisation">
                        {{ 'special.organisation.mode'|trans|desc('Nietypowa organizacja usługi') }}</label>
                </div>
              </div>
            <div class="modal-footer">
                <button id="abandon-cancel" type="button" class="btn red-mint btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>

                <button id="postpone-confirm" data-style="zoom-in" data-size="s" type="button"
                        class="btn green-meadow ladda-button">
                    <span class="ladda-label"><i class="fa fa-check"></i> {{ 'confirm'|trans|desc('potwierdź')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>