<div id="update-position-map-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'map.action.update.position.title'|trans|desc('aktualizacja współrzędnych mapy')|capitalize }}</span>
            </div>
            <div class="modal-body">
                <p class="large m-y-1">{{ 'map.action.update.position.text'|trans|desc('Otrzymano nowe współrzędne, czy chcesz zaktualizować pozycje na mapie?') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-modal btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> {{ 'no'|trans|desc('nie')|capitalize }}</button>
                <button data-style="zoom-in" data-size="s" type="button" data-position="" class="action-confirm btn green-meadow ladda-button">
                    <span class="ladda-label"><i class="fa fa-check"></i> {{ 'yes'|trans|desc('tak')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>