<div id="validation-error-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'validation_error'|trans|desc('Błąd w formularzu')|capitalize }}:</span>
            </div>
            <div class="modal-body clearfix">
                <div class="alert alert-danger">
                    <strong>{{ 'error'|trans|desc('błąd')|capitalize }}!</strong> <span id='errorValidationMsg'
                                                                                        class="msg"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                        class="btn btn-outline dark">{{ 'close'|trans|desc('zamknij')|capitalize }}</button>
            </div>
        </div>
    </div>
</div>