<div class="portlet light init-hidden" id="actions-of-case">
    <div class="portlet-title m-b-0">
        <div class="caption font-purple-intense">
            <i class="fa fa-wrench font-purple-intense"></i>
            <span class="caption-subject bold uppercase"> Możliwe akcje w usłudze</span>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body">
    </div>
</div>