<div class="row">
    <div class="col-md-3">
        {{ include('@Management/Supervisor/CaseTools/list_services_of_case_box.html.twig') }}
    </div>
    <div class="col-md-5">
        {{ include('@Management/Supervisor/CaseTools/preview_of_service_box.html.twig') }}
    </div>
    <div class="col-md-4">
        {{ include('@Management/Supervisor/CaseTools/right-column.html.twig') }}

    </div>
    {#<div class="col-md-4">#}
        {#{{ include('@Management/Supervisor/CaseTools/case_actions_box.html.twig') }}#}
    {#</div>#}
</div>