<div class="table-scrollable">
    <table class="table table-hover table-light status-services-wrapper" id="change-partner-services-table">
        <thead>
        <tr>
            <th> Usługa </th>
            <th> Status </th>
            <th> GroupId </th>
            <th> W CDN? </th>
        </tr>
        </thead>
        <tbody>

            {% for row in services %}
                <tr class="service-row" data-group-process-id="{{ row.group_process_id }}" data-service-id="{{ row.serviceId }}">
                    <td class="text-center" width="25%">
                        <p>{{ row.service_name }}</p>
                        <img width="50px" src="{{ row.icon }}" alt="">
                    </td>
                    <td class="td-status-bar text-center">
                        {{ row.status_label | raw }}
                        <div class="td-status-wrapper">
                            <table class="custom-progress-bar-table">
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                            {% set percent = 0 %}
                            {% set extraClass = '' %}

                            {% if row.status_progress == 1 %}
                                {% set percent = 25 %}
                            {% elseif row.status_progress == 2 %}
                                {% set percent = 50 %}
                            {% elseif row.status_progress == 3 %}
                                {% set percent = 75 %}
                            {% elseif row.status_progress == 4 %}
                                {% set percent = 100 %}
                            {% elseif row.status_progress == 5 %}
                                {% set percent = 100 %}
                                {% set extraClass = 'cancel-service' %}
                            {% elseif service.status_progress == 6 %}
                                {% set extraClass = 'client-organize' %}
                                {% set percent = 100 %}
                            {% endif %}

                            <div class="custom-progress-wrap custom-progress {{ extraClass }}"
                                 data-progress-percent="{{ percent }}"
                            >
                                <div class="custom-progress-bar custom-progress" style="left: {{ percent }}%"></div>
                            </div>
                        </div>
                    </td>
                    <td> {{ row.group_process_id }} </td>
                    <td class="check-in-cdn text-center" data-process-id="{{ row.group_process_id }}">
                        {#<i class="fa fa-close font-red"></i>#}
                        {#<i class="fa fa-check font-green"></i>#}
                        <i class="fa fa-spinner fa-spin"></i>
                    </td>
                </tr>

            {% else %}

                <tr>
                    <td rowspan="3">
                        <span class="label label-sm label-danger"> Brak usług </span>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
