<div class="portlet light">
    <div class="portlet-title m-b-0">
        <div class="caption font-red-sunglo">
            <i class="fa fa-building font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> Wyszukaj sprawę</span>
            {#<span class="caption-helper"> by wyświetlić listę usług</span>#}
        </div>
    </div>
    <div class="portlet-body">
        <form role="form" id="case-services-search-form">
            <div class="form-group">
                <div class="input-group" style="width: 100%;margin-bottom: 20px">
                    <select class="search-type select2 form-control custom-width" name="search-type" id="search-type">
                        <option value="0">{{ 'Nr Sprawy'| trans }}</option>
                        <option value="2">{{ 'Nr rejestracyjny'| trans}}</option>
                        <option value="3">{{ 'VIN'| trans}}</option>
                        {#<option value="1">{{ 'Nazwisko'| trans }}</option>#}
                    </select>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" id="search-query" placeholder="{{ 'Wpisz frazę aby wyszukać...'|trans }}">
                    <span class="input-group-btn">
                        <button data-style="zoom-in" data-size="s" type="submit" class="btn ladda-button btn-primary">
                            <span class="ladda-label">
                                <i class="fa fa-search"></i> {{ 'szukaj'|trans|capitalize }}
                            </span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
{% if  app.user.isAdmin or app.user.hasRole('ROLE_FINANCE_VIEW')%}
<div class="portlet light init-hidden" id="case-df-complaints">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue-chambray">
            <i class="fa fa-info-circle font-blue-chambray"></i>
            <span class="caption-subject bold uppercase"> {{ 'casetools.complaints.title'|trans|desc('Reklamacje') }}</span>
        </div>

    </div>
    <div class="portlet-body">
        <div class="alert alert-info bold smaller"> Liczby przy przyciskach: ilość zgłoszeń ogólnych / ilość zgłoszeń w poszczególnych usługach</div>
        <div class="btn-group-set">
            <button class="button-complaint btn btn-primary"
                    id="case-info-make-complaint">{{ 'casetools.complaints.makeComplaint'|trans|desc('Reklamacja DF') }}
            <span class="df-counters">
                (<span class="rootClaim" id="rootClaim"></span> /
                <span class="groupClaim" id="groupClaim"></span>)
             </span>
            </button>
            <button class="button-complaint btn btn-primary"
                    id="case-info-make-close-case-proposal">{{ 'casetools.complaints.closeCaseProposal'|trans|desc('Wniosek o ZO') }}
            <span class="df-counters">
                     (<span class="closeCaseProposalCount" id="closeCaseProposalCount"></span>)
            </span>
            </button>
            <button class="button-complaint btn btn-primary"
                    id="case-info-make-car-change-proposal">{{ 'casetools.complaints.carChangeProposal'|trans|desc('Zmiana pojazdu') }}
            <span class="df-counters">
                          (  <span class="carChangeActionCount" id="carChangeActionCount"></span> )
            </span>
            </button>
        </div>
    </div>
</div>
    <style>
        .btn-group-set .button-complaint
        {
            width: 100%;
            margin: 3px 0px;
        }
    </style>
{% endif %}
<div class="portlet light init-hidden" id="case-search-portlet" style="margin: 0;">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue-chambray">
            <i class="fa fa-info-circle font-blue-chambray"></i>
            <span class="caption-subject bold uppercase"> Lista Spraw</span>
            {#<span class="caption-helper"> TOP 5</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body col-md-12 " id="case-list" style="max-height: 600px; overflow: auto">

        <table class="table table-striped table-responsive opened">
            <thead>
            <th>Nr Sprawy</th>
            <th>Data utworzenia</th>
            <th>Imię i Nazwisko</th>
            <th>Nr Rej.</th>
            <th>Marka / Model</th>
            </thead>
            <tbody id="case-list-body">

            </tbody>
        </table>

    </div>
</div>
<div class="portlet light init-hidden" id="case-info-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue-chambray">
            <i class="fa fa-info-circle font-blue-chambray"></i>
            <span class="caption-subject bold uppercase"> Główne informacje</span>
            {#<span class="caption-helper"> TOP 5</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body">
        <div id="case-info-box">
        </div>
    </div>
</div>
{{ include('@Management/Supervisor/CaseTools/ComplaintModals/makeComplaint.html.twig') }}
{{ include('@Management/Supervisor/CaseTools/ComplaintModals/closeCaseProposal.html.twig') }}
{{ include('@Management/Supervisor/CaseTools/ComplaintModals/changeCarModal.html.twig') }}