{% extends '@Jabber/layout-phone-iframe.html.twig' %}

{% block content %}
    {% if app.user %}
        <div>
            <div>
                <div id="doc_wrapper">
                    <!--  begin header -->
                    <div id="header">
                        <div id="headerLeft">
                            <div>
                                <div id="logo">
                                    <a href="https://www.cisco.com" target="_blank"><img src="{{ asset('bundles/jabbervoiceconversation/images/ciscologo_grey.jpg') }}" alt="Cisco">
                                    </a>
                                </div>
                                <div id="title">
                                    <h2 style="display:inline;">Video Call Demo</h2>
                                </div>

                            </div>
                            <div style="clear:both"></div>

                        </div>
                        <div id="headerRight">
                            <div id="header_links">
                                <a target="_blank" href="http://jabberdeveloper.com/start-here">What Next?</a>
                            </div>
                        </div>
                        <div class="title"></div>
                    </div>

                    <div class="StartConversation">
                        <input type="text" id="telephonyNumberForConversationText" placeholder="Enter a Telephony Number...">
                        <button type="button" id="startAudioConversationButton" disabled="true">Start Audio Conversation</button>
                        <button type="button" id="startVideoConversationButton" disabled="true">Start Video Conversation</button>
                    </div>


                    <div class="alignright">


                        <div id="signInWindow" class="SignInWindow">
                            <div class="Title"> Sign In Window </div>
                            <div class="Body">
                                Click "Start Discovery" button to start service discovery lifecycle or click
                                "Manual Sign In" to manually set sign in parameters.
                            </div>
                            <input id="manualSignInButton"  type="button" value="Manual Sign In">
                            <input id="startdiscovery" type="button" value="Start Discovery">
                        </div>

                        <div id="signOut" class="SignOutWindow">
                            <div class="Title"> Sign Out Window </div>
                            <div class="Body">
                                <button id="signoutbtn" type="button" disabled="true">Sign Out</button>
                            </div>
                        </div>

                        <div id="mansignindetails" class="SignInWindow">
                            <form autocomplete="off">
                                <h3>Setup CUCM server Address</h3>
                                <label for="cucm">CUCM:</label>
                                <input type="text" id="cucm" placeholder="Enter CUCM address here" value="10.10.77.100">
                                <label for="signinbtn"></label>
                                <input id="signinbtn" type="button" value="Sign In">
                            </form>
                            <br />
                            <button type="button" id="manualSignInBackButton" class="BackButton">Back</button>
                        </div>
                        <div id="sdssoinprogress" class="SignInWindow">
                            <h3>Single Sign On in progress</h3>
                            <p>Popup window should open.</p>
                            <p>Waiting for token...</p>
                            <button id="cancelSSOButton" type="button">Cancel SSO</button>
                        </div>
                        <div id="sdsignedin" class="SignInWindow">
                            <h3>Signed In</h3>
                            <p>"devicesAvailable" callback should be called next, providing the list of telephony devices...</p>
                            <b>Important Note:</b>
                            <p>"devicesAvailable" callback may be called multiple times!</p>
                        </div>

                        <div id="emailRequiredWindow" class="SignInWindow">
                            <h3>Lifecycle state: User Profile Email Required</h3>
                            <p>User profile does not exist. This state is reached when plugin is used for the first time, after reset data
                                API call or if discovery error occurs.</p>
                            <br/>
                            <form autocomplete="off">
                                <h4>Please provide email address:</h4>
                                <input type="text" id="sdEmail" placeholder="Enter email here">
                                <!--<button id="sdSetEmail">Submit Email</button>-->
                                <input id="sdSetEmail" type="button" value="Submit Email">

                            </form>
                            <p class="status"><b>Status message:</b>
                            </p>
                            <p><b class="status" id="sdEmailReqStatus"></b>
                            </p>
                            <button type="button" id="discoverySignInBackButton" class="BackButton">Back</button>
                        </div>
                        <div id="credentialsRequiredWindow" class="SignInWindow">
                            <div class="Title"> Sign In Window </div>
                            <div class="Body">
                                <form autocomplete="off">
                                    <h4>Please provide user credentials:</h4>
                                    <input type="text" id="sdUsername" placeholder="Enter username" value="ciscotest">
                                    <input type="password" id="sdPassphrase" placeholder="Enter passphrase" value="starter1234">
                                    <input id="sdCredentialsSubmit" type="button" value="Sign In">
                                </form>
                            </div>
                            <button type="button" id="credentialsRequiredBackButton" class="BackButton">Back</button>
                        </div>
                        <div id="sdssosigninfailed" class="SignInWindow">
                            <h3>Lifecycle state: SSO Sign In Required</h3>
                            <p>This state is reached when SSO sign out occurs or there was an authentication error during SSO sign in</p>
                            <br/>
                            <form autocomplete="off">
                                <h4>Please click "Sign In" button to continue with SSO sign in or click "Manual Setup and Sign In" to proceed with manual sign in:</h4>
                                <button id="sdsignin" type="submit">Sign In</button>
                            </form>
                            <p class="showinitialiew">Show Initial View</p>
                            <p class="status"><b>Status message:</b>
                            </p>
                            <p><b class="status" id="sdssosigninstatus"></b>
                            </p>
                            <p class="manualsignin">Manual Setup and Sign In</p>
                            <p class="reset">Reset</p>
                        </div>


                        <div id="devicedetails" class="SignInWindow">
                            <h3>Device selection</h3>
                            <div id="deviceselectioncontainer">
                                <div>
                                    <label for="devices">Device:</label>
                                    <select id="devices"></select>
                                </div>
                                <div>
                                    <label for="deviceControlMode">Control Mode:</label>
                                    <span id="deviceControlMode"></span>
                                </div>
                                <div id="softphoneControls">
                                </div>
                                <div id="deskphoneControls">
                                    <label for="deskphoneLines" class="DeviceSelection">Lines:</label>
                                    <select id="deskphoneLines" class="DeviceSelection"></select>
                                    <button id="selectLineButton" class="DeviceSelection">Change Line</button>
                                </div>

                                <div id="remotePhoneControls">
                                    <input type="text" id="remotePhoneNumberTextField" class="DeviceSelection" placeholder="Enter Remote Number">
                                    <button id="deleteRemotePhoneNumberButton" class="DeviceSelection">Remove Number</button>
                                </div>

                                <button id="connectbtn"  type="button" disabled>Connect</button>
                            </div>
                            <label for="sdforcereg">Force Registration:</label>
                            <input type="checkbox" id="sdforcereg" checked>
                        </div>
                        <br>

                        <div id = "selectedDeviceInfo" class="SelectedDeviceInfo SignInWindow">
                            <h3>Selected Telephony Device Info</h3>
                <span>
                    <div class="Item">
                        <label for="controlMode">Control Mode: </label>
                        <span id="controlMode"></span>
                    </div>
                    <div class="Item">
                        <label for="deviceName">Device Name: </label>
                        <span id="deviceName"></span>
                    </div>
                    <div class="Item">
                        <label for="connectionState">Connection State: </label>
                        <span id="connectionState"></span>
                    </div>
                    <div class="Item">
                        <label for="activeLine">Active Line: </label>
                        <span id="activeLine"></span>
                    </div>
                    <div>
                        <label for="huntGroupState">Hunt Group State: </label>
                        <span id="huntGroupState"></span>
                        <button type="button" id="huntGroupLoginButton">Login</button>
                        <button type="button" id="huntGroupLogoutButton">Logout</button>
                    </div>
                </span>
                        </div>

                        <div id="callPickupWindow" class="CallPickupWindow">
                            <div class="Title"> CallPickup Controls </div>
                            <div class="Body">
                                <div class="Control">
                                    <button type="button" id="callPickupButton">Call Pickup</button>
                                </div>
                                <div class="Control">
                                    <input type="text" id="groupCallPickupNumber" placeholder="Enter Group Number">
                                    <button type="button" id="groupCallPickupButton">Group Call Pickup</button>
                                </div>
                                <div class="Control">
                                    <button type="button" id="otherGroupPickupButton">Other Group Pickup</button>
                                </div>



                            </div>
                        </div>

                        <div id="callPickupNotification" class="CallPickupWindow">
                            <div class="Title"> CallPickup Notification </div>

                            <div class="Body">
                                <div id="callPickupNotificationInfo">
                                </div>
                                <button type="button" id="callPickupNotificationPickupButton">Pickup</button>
                                <button type="button" id="callPickupNotificationIgnoreButton">Ignore</button>
                            </div>
                        </div>

                        <div id="systemInformationWindow" class="SystemInformationWindow">
                            <div class="Title">System Information</div>
                            <div>
                                <span></span><span id="systemRelease"></span>
                            </div>
                            <div>
                                <span>CWIC version: </span><span id="cwicVersion"></span>
                            </div>
                            <div>
                                <span>Addon Version: </span><span id="addonVersion"></span>
                            </div>
                            <div>
                                <span id="pluginsystem_release"></span>
                            </div>
                        </div>
                    </div>

                    <div id="msgcontainer"></div>

                    <div class="alignleft">

                        <div id="mediaDeviceSelectionWindow" class="MediaDeviceSelectionWindow">
                            <div class="Title"> Media Device Selection </div>
                            <div class="Body">
                                <label for="microphoneList">Microphones:</label>
                                <select name="recordingDevicesSelect" id="microphoneList"></select>
                                <label for="speakerList">Speakers:</label>
                                <select name="playoutDevicesSelect" id="speakerList"></select>
                                <label for="cameraList">Cameras:</label>
                                <select name="captureDevicesSelect" id="cameraList"></select>
                                <label for="ringerList">Ringers:</label>
                                <select name="ringerDevicesSelect" id="ringerList"></select>
                                <label for="speakervolumecontrol" id="spvolumelabel">Speaker volume: </label>
                                <input type="text" id="speakervolumecontrol" size="5" placeholder="0-100">
                                <button type="button" id="speakervolumebtn">Set volume</button>
                                <label for="ringervolumecontrol" id="rgvolumelabel">Ringer volume: </label>
                                <input type="text" id="ringervolumecontrol" size="5" placeholder="0-100">
                                <button type="button" id="ringervolumebtn">Set volume</button>
                                <label for="microphonevolumecontrol" id="micvolumelabel">Microphone volume: </label>
                                <input type="text" id="microphonevolumecontrol" size="5" placeholder="0-100">
                                <button type="button" id="micvolumebtn">Set volume</button>
                                <label for="ringtonesSelect">Ringtone:</label>
                                <select name="ringtonesSelect" id="ringtonesSelect"></select>
                            </div>
                            <div class="Footer">
                                <button class="refreshMMDevices" id="refreshMediaDeviceListButton"> Refresh Device List </button>
                            </div>
                        </div>

                        <div id="screenInformationListWindow" class="MonitorInformationWindow">
                            <div class="Title"> Monitor Selection (Screen Share) </div>
                            <div class="Body">
                                <ul id="screenInformationList"></ul>
                            </div>
                            <div class="Footer">
                                <input type="button" class="externalbtns" id="refreshMonitorListButton" value="Refresh">
                                <input type="button" class="externalbtns" id="UnhighlightMonitorButton" value="Unhighlight">
                            </div>
                        </div>

                        <div id="invalidcertcontainer">
                            <h3>Received invalid certificate</h3>
                            <p>Certificate details:</p>
                            <table id="certdetailstable">
                                <tr>
                                    <td>Identifier:</td>
                                    <td class="identifier"></td>
                                </tr>
                                <tr>
                                    <td>Subject CN:</td>
                                    <td class="subjectCN"></td>
                                </tr>
                                <tr>
                                    <td>Reference ID:</td>
                                    <td class="reference"></td>
                                </tr>
                                <tr>
                                    <td>Invalid reason:</td>
                                    <td class="reason"></td>
                                </tr>
                            </table>
                            <div id="responsebuttons">
                                <button class="accept">Accept</button>
                                <button class="reject">Reject</button>
                            </div>
                        </div>
                    </div>

                    <div id="callcontainer" class="CallWindow">
                        <div class="Head">
                            <div class="Title"> Conversation Window </div>
                        </div>
                        <div class="Body">
                            <div class="CallList">
                                <div class="Title">Conversation List</div>
                                <div class="Body">
                                    <ul id="calllist" class="calllist"></ul>
                                </div>
                            </div>
                            <div class="SelectedCall">
                                <div class="CallInformation"></div>
                                <div id="videocontainer" class="VideoContainer">
                                    <div id="remotevideocontainer" class="RemoteVideo">
                                        <div id="selfviewVideoContainer" class="SelfviewVideo TopLeftPosition"></div>
                                    </div>
                                </div>
                                <div class="Controls">
                                    <div class="CallControlStrip">
                                        <div class="ConversationControlsTitle">Conversation Controls</div>

                                        <div>
                                            <button type="button" id="answerAudioButton" disabled="true">Answer Audio</button>
                                            <button type="button" id="answerVideoButton" disabled="true">Answer Video</button>
                                            <button type="button" id="iDevertButton" disabled="true">IDivert</button>
                                        </div>
                                        <div>
                                            <button type="button" id="endCallButton" disabled="true">End Call</button>
                                            <button type="button" id="holdResumeButton" disabled="true">Hold</button>
                                        </div>
                                        <div>
                                            <button id="muteAudioButton" disabled="true">Mute Audio</button>
                                            <button id="muteVideoButton" disabled="true">Mute Video</button>
                                            <button id="sendVideoButton" disabled="true">Start Video</button>
                                            <button id="screenShareButton" disabled="true">Start Share</button>
                                        </div>
                                        <div>
                                            <label for="transferNum" id="transferNumLabel" disabled="true">Transfer to:</label>
                                            <input type="text" id="transferNum" placeholder="Enter Number">
                                            <button type="button" id="transferbtn"  disabled="true">Transfer</button>
                                            <button type="button" id="completebtn"  >Complete</button>
                                        </div>
                                        <div>
                                            <label for="conferencelist" id="conversationList">Conversation List:</label>
                                            <select id="conferencelist"></select>
                                            <button type="button" id="conferencebtn" disabled="true" disabled="true">Conference</button>
                                        </div>
                                        <div>
                                            <label for="dtmfNumberEntry" id="dtmfNumberEbtryLabel">DTMF:</label>
                                            <input type="text" id="dtmfNumberEntry" placeholder="Enter DTMF Digits">
                                            <!--            <select id="transferlist"></select>-->
                                        </div>
                                    </div>

                                    <div class="FarEndCameraControls">
                                        <div class="RemoteCameraTitle">Remote Camera Controls</div>
                                        <div>
                                            <button type="button" id="cameraTurnLeft" disabled="true">Left</button>
                                            <button type="button" id="cameraTurnRight" disabled="true">Right</button>
                                            <button type="button" id="cameraTurnUp" disabled="true">Up</button>
                                            <button type="button" id="cameraTurnDown" disabled="true">Down</button>
                                        </div>
                                        <div>
                                            <button type="button" id="cameraZoomIn" disabled="true">Zoom In</button>
                                            <button type="button" id="cameraZoomOut" disabled="true">Zoom Out</button>
                                        </div>
                                    </div>

                                    <div class="ExternalWindowControls">
                                        <div class="ExternalWindowControlsTitle">External Coversation Window Controls</div>
                                        <div id="conversationExternalWindowControls">
                                            <button type="button" id="showConversationExternalWindow" >Open</button>
                                            <button type="button" id="hideConversationExternalWindow" >Close</button>
                                            <button type="button" id="dockConversationWindowButton" >Dock</button>
                                            <button type="button" id="undockConversationWindowButton" >Undock</button>
                                        </div>
                                        <div>
                                        </div>
                                    </div>

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="previewVideoWindow" class="PreviewVideoWindow">
                        <div class="Title"> Local Preview Video Window </div>
                        <div id="previewVideoWindowContainer" class="Container">
                            <div  id="video" class="Video"> </div>
                        </div>
                        <div class="Controls">
                            <div id="previewWindowButtonsStrip" class="ButtonStrip">
                                <input type="button" id="openPreviewWindowButton" class="externalbtns"  value="Open">
                                <input type="button" id="closePreviewWindowButton" class="externalbtns"  value="Close">
                            </div>
                        </div>
                    </div>

                    <div id="desktopShareWindow" class="DesktopShareWindow">
                        <div class="Title"> Screen Share Window </div>
                        <div id="desktopShareWindowContainer" class="Container">
                            <div  id="desktopShareContainer" class="Video"> </div>
                        </div>
                        <div class="Controls">
                            <div id="desktopShareButtonsStrip" class="ButtonStrip">
                                <input type="button" disabled="true" id="openDesktopShareWindowButton" class="externalbtns"  value="Open">
                                <input type="button" disabled="true" id="closeDesktopShareWindowButton" class="externalbtns"  value="Close">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="errorMessageContainer">
                    <h3>ERROR</h3>
                    <div id="errorMessage">
                    </div>
                    <div id="buttons">
                        <button id="closeErrorMessageWindowButton">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Not logged user, log in to application.</p>
    {% endif %}
{% endblock %}