<div class="form-box">
    <form action="" id="atlas-version-form" class="form-inline">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn green-haze" href="{{ url('management_admin_panel_version_log_form') }}"
                            data-target="#new-log-modal" data-toggle="modal" id="add-new-log" type="button">
                        <i class="fa fa-plus"></i> Nowy log
                    </button>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" value="{{ newVersion }}" class="form-control" id="atlas-version-value" placeholder="{{ newVersion }}">
                        <span class="input-group-btn">
                            <button class="btn blue ladda-button"
                                    data-style="zoom-in" data-size="s"
                                    id="add-new-atlas-version"
                                    type="button">
                                <span class="ladda-label">
                                    <i class="fa fa-plus"></i> Nowa wersja Atlasa
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="table-limit-height">
    <div class="table-scrollable">
        <table class="table atlas-version-logs-table table-striped table-hover"
               data-source="{{ url('management_admin_panel_version_log_list') }}">
            <thead>
            <tr>
                <th class="fit"> #</th>
                <th class="fit"> Id</th>
                <th class="align-center"> Typ</th>
                <th> Opis</th>
                <th> Data dodania / aktualizacja</th>
                <th class="fit"> Wersja</th>
                <th> Data wersji</th>
                <th class="fit"> Akcje</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="atlas-version-pagination navigation m-t-1"></div>
    </div>
</div>
<div class="modal fade ajax-form-modal" id="new-log-modal" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>