{% extends "WebBundle::base.html.twig" %}

{% block bodyExtraClass %}management-body{% endblock %}

{% block pageSidebarWrapper %}

{% endblock %}

{% block pageContentWrapper %}
    <div class="portlet box m-t-1">
        <div class="portlet-body p-x-0 p-y-0 management-portlet">
            <div class="tabbable-custom">

                <ul class="nav nav-tabs management-nav-tabs">

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="active">
                            <a href="#atlas_version_log" data-toggle="tab" aria-expanded="true">Wersjonowanie Atlasa</a>
                        </li>
                    {% endif %}

                    {% if is_granted("ROLE_SCENARIO_MODERATOR") %}
                        <li class="{{ not is_granted('ROLE_ADMIN') ? 'active' : '' }}">
                            <a href="#scenarios-builder" class="tile-mode" data-toggle="tab" aria-expanded="false">Kreator scenariuszy</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="">
                            <a href="#dynamic-translations" class="tile-mode" data-toggle="tab" aria-expanded="false">Teksty na formularzach</a>
                        </li>
                    {% endif %}

                </ul>

                <div class="tab-content">

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="tab-pane active" id="atlas_version_log">
                            {{ include('@Management/Admin/atlas_version_tab.html.twig') }}
                        </div>
                    {% endif %}

                    {% if is_granted("ROLE_SCENARIO_MODERATOR") %}
                        <div class="tab-pane {{ not is_granted('ROLE_ADMIN') ? 'active' : '' }}" id="scenarios-builder">
                            {{ include('@Management/Admin/ScenariosBuilder/tab.html.twig') }}
                        </div>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="tab-pane " id="dynamic-translations">

                            {{ include('@Management/Admin/DynamicTranslations/tab.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/modules/modal-form-module.js') }}"></script>

    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('bundles/web/js/modules/management-version-atlas.js') }}"></script>
    {% endif %}

    {% if is_granted("ROLE_SCENARIO_MODERATOR") %}
        <script src="{{ asset('js/scenario.js') }}"></script>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('bundles/web/js/modules/module-dynamic-translations-editor.js') }}"></script>
    {% endif %}

    <script>
        "use strict";


        {% if is_granted('ROLE_ADMIN') %}
            ManagementVersionAtlas();
        {% endif %}

        {% if is_granted("ROLE_SCENARIO_MODERATOR") %}
            ModalFormModule();
            var scenarioBuilder = ScenarioBuilder();
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        DynamicTranslationEditor();
        {% endif %}
        $(function() {

            $('.management-nav-tabs li').on('shown.bs.tab', function() {

                if($(this).find('a').hasClass('tile-mode')) {
                    $('.management-portlet').addClass('content-tile-mode');
                }
                else {
                    $('.management-portlet').removeClass('content-tile-mode');
                }

            });

            var $li = $('.management-nav-tabs li');

            if($li.length === 1 && !$li.hasClass('active')) {
                setTimeout(function () {
                    $li.find('a')[0].click();
                }, 100);
            }

        });

    </script>

    {#<script src="{{ asset('js/gos-web-socket.js') }}"></script>#}

    {#<script>#}
        {#document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port | incrementByOne(app.request.secure) }}";#}
        {#document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";#}
    {#</script>#}

    {#<script src="{{ asset('bundles/web/js/modules/admin-panel-script.js') }}"></script>#}

    {#<script>#}

        {#$(function() {#}
            {#AdminPanelModule();#}
        {#});#}

    {#</script>#}

    {#{{ tinymce_init({selector: '.tinymce-editor'}) }}#}

{% endblock %}