{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="admin-tool-editor-form" class="form-horizontal" action="" method="POST">

                {{ form_errors(form) }}
                {{ form_widget(form.translations) }}
                {{ form_row(form.columnName) }}
                {{ form_row(form.type) }}
                <div id="dynamic-fields" class="">
                    <div class="form-group">
                        {{ form_label(form.defaultOperator, 'tool.form.default_operator_and_value'|trans|desc('Dom. operator i wartość') ) }}
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-3">
                                    {{ form_widget(form.defaultOperator) }}
                                </div>
                                <div class="col-lg-9">
                                    {{ form_widget(form.defaultValue) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if form.secondDefaultOperator is defined and form.secondDefaultValue is defined %}
                        <div class="form-group">
                            {{ form_label(form.secondDefaultOperator, 'tool.form.second_default_operator_and_value'|trans|desc('Dom. 2. operator i 2. wartość') ) }}
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-3">
                                        {{ form_widget(form.secondDefaultOperator) }}
                                    </div>
                                    <div class="col-lg-9">
                                        {{ form_widget(form.secondDefaultValue) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if form.query is defined %}
                        {{ form_row(form.query) }}
                    {% endif %}
                    {% if form.pointedColumnName is defined %}
                        {{ form_row(form.pointedColumnName) }}
                    {% endif %}
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">
                                {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            $('body').on('change', '#atlas_tool_filter_type', function () {
                var form = $(this).closest('form');
                var data = {};
                data[$(this).attr('name')] = $(this).val();
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('#dynamic-fields').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#dynamic-fields')
                        );

                        $('.date-time-picker').datepicker({
                            language: 'pl',
                            timeFormat: 'hh:ii',
                            format: 'yyyy-mm-dd hh:ii',
                            position: "bottom right",
                            autoClose: true,
                            clearButton: true,
                            timepicker: true
                        });
                    }
                });
            });

        });
    </script>
{% endblock %}