{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu', {
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig'
        }) }}

        <div class="tab-content">
            <a href="{{ path('admin_tool_filter_editor', { 'toolId' : tool.id }) }}"
               class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
                <i class="fa fa-plus"></i>
                {{ 'add_filter'|trans|desc('dodaj filtr')|capitalize }}
            </a>
            <div class="clearfix"></div>

            {% if tool.filters and tool.filters|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-vam">
                        <thead>
                        <tr>
                            <th class="fit">#</th>
                            <th>{{ 'description'|trans|desc('opis')|capitalize }}</th>
                            <th class="fit">{{ 'display_filter'|trans|desc('Widoczność')|capitalize }}</th>
                            <th>{{ 'type'|trans|desc('typ')|capitalize }}</th>
                            <th>{{ 'operator'|trans|capitalize }}</th>
                            <th>{{ 'default_value_short'|trans|desc('dom. wartość')|capitalize }}</th>
                            <th>{{ 'operator 2'|trans|capitalize }}</th>
                            <th>{{ 'default_value_short_2'|trans|desc('dom. wartość 2')|capitalize }}</th>
                            <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in tool.filters %}
                            <tr>
                                <th scope="row" class="fit">{{ entity.id }}</th>
                                <td class="entity-name">{{ entity.label }}</td>
                                <td style="text-align: center">
                                    {% if entity.display %}
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td>{{ entity.type }}</td>
                                <td>{{ entity.defaultOperator }}</td>
                                <td>{{ entity.defaultValue }}</td>
                                <td>{{ entity.secondDefaultOperator }}</td>
                                <td>{{ entity.secondDefaultValue }}</td>
                                <td class="fit">
                                    <a href="{{ path('admin_tool_filter_editor', {'toolId': tool.id, 'id': entity.id}) }}"
                                       class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                       title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#"
                                       class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                       title="{{ 'delete'|trans|desc('usuń')|title }}"
                                       data-url="{{ path('admin_tool_filter_delete', {'id': entity.id}) }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info fade in">{{ 'tool.no_filters_defined_yet'|trans|desc('To narzędzie nie ma jeszcze zdefiniowanych filtrów') }}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}