{% block content %}
    <form id="api-call-form" class="form-horizontal" action="" method="POST">

        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <div class="clearfix"></div>
        <div class="form-action">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'send'|trans|desc('wyślij')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}
