{% import "@Case/FormTemplate/templates/controls.html.twig" as form_template %}

{%- spaceless %}
    {% if withForm %}
        <form class="body-edit-attribute">
            {{ form_template.renderHtml(formControl.attribute, formControl) }}
        </form>
    {% else %}
        <div class="wrapper-form-control">
            {{ form_template.renderHtml(formControl.attribute, formControl) }}
        </div>
    {% endif %}
{% endspaceless -%}
