{# formControl \CaseBundle\Entity\FormControl #}

{% import "@Case/FormTemplate/templates/controls.html.twig" as form_template %}

{%- spaceless %}
    {% if formControl.widget -%}
        {{ form_template.widget(formControl) | e('html') }}
    {%- elseif formControl.attribute -%}
        {% if formControl.escapeHtml %}
            {{ form_template.renderHtml(formControl.attribute, formControl) | e('html') }}
        {% else %}
            {{ form_template.renderHtml(formControl.attribute, formControl) }}
        {% endif %}
    {%- else -%}

    {%- endif %}
{% endspaceless -%}
