{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="admin-tool-editor-form" class="form-horizontal" action="" method="POST">

                {{ form_errors(form) }}

                {{ form_widget(form.translations) }}
                {{ form_row(form.columnName) }}
                {{ form_row(form.type) }}
                {{ form_row(form.defaultValue) }}
                <div id="dynamic-fields" class="">
                    {% if form.query is defined %}
                        {{ form_row(form.query) }}
                    {% endif %}
                    {% if form.wordTemplate is defined %}
                        {{ form_row(form.wordTemplate) }}
                    {% endif %}
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">
                                {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {

            var tinymceWordClass = '.tinymce-word';

            $('body').on('change', '#atlas_tool_form_field_type', function () {
                var form = $(this).closest('form');
                var data = {};
                data[$(this).attr('name')] = $(this).val();
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: data,
                    success: function (html) {

                        $(tinymceWordClass).tinymce().remove();

                        $('#dynamic-fields').replaceWith(
                                $(html).find('#dynamic-fields')
                        );

                        if($(tinymceWordClass).size() > 0)
                        {
                            initTinyMCE();
                        }
                    }
                });
            });

        });
    </script>

    {{ tinymce_init() }}
{% endblock %}