
<div class="atlas-pushing-option">
    <div class="row">
        <form class="form remove-template" role="form">
            <div id="pushing-template" class="form-group col-sm-4">
                <select id="template" name="template" class="select2 form-control">
                    {% for template in templates %}
                        <option value="{{ template.id }}" {{ (chosenTemplate == template.id) ? "selected" }}>{{ template.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-primary btn-default red remove-template">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </form>
        <form class="add-new-template-form" role="form">
            <div class="form-group col-sm-offset-4 col-sm-2">
                <input type="text" name="template-name" id="template-name" placeholder="Nazwa szablonu" class="form-control">
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-primary btn-default">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div>
        <table id="priority-table" class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th class="expand"></th>
                <th>Zadanie</th>
                <th class="form-field center">Priorytet</th>
                <th class="form-field center">Maksymalny priorytet</th>
                <th class="form-field center">Priorytety kroków</th>
                <th class="form-field center">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr data-id="{{ task.id }}" data-type="task">
                    <td class="center"><a href="#" class="btn btn-default toggle-steps" title="Pokaż kroki"><i class="fa fa-plus"></i></a></td>
                    <td colspan="5"><strong>{{ task.name }}</strong></td>
                </tr>
                {% for step in task.steps %}
                    {% if step.processDefinition.type == 1 and not step.processDefinition.deletedAt and step.translations[app.request.locale].name|lower not in ['start','koniec', 'stop', 'end'] %}
                    <tr class="hidden" data-parent-id="{{ task.id }}" data-id="{{ step.id }}" data-type="step">
                        <td colspan="2">{{ step.translations[app.request.locale].name }} ({{ step.id }})</td>
                        <td>
                            <div class="form-group">
                                <input type="number" min="1" class="priority form-control" name="priority-{{ loop.index }}" value="{{ step.pushingDefinition.priority is defined ? step.pushingDefinition.priority }}"/>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <input type="number" min="1" class="maxPriority form-control" name="maxPriority-{{ loop.index }}" value="{{ step.maxPriority }}"/>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <input type="text" class="stepPriority form-control" name="stepPriority-{{ loop.index }}" value="{{ step.pushingDefinition.stepPriority is defined ? step.pushingDefinition.stepPriority }}" />
                            </div>
                        </td>
                        <td class="center">
                            <a href="#" class="btn btn-default btn-save">
                                <i class="fa fa-save"></i> Zapisz
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
</div>