{# user \UserBundle\Entity\User #}
{# task \SocketBundle\Utils\CurrentTaskRedisValue #}

{% for user in users %}
    <tr data-user-id="{{ user.id }}">
        <td class="fit">
            {{ loop.index }}
        </td>
        <td class="fit">
            {{ user.id }}
        </td>
        <td class="fit">
            {% if user.online %}
                <span class="label label-sm label-green">Online</span>
            {% else %}
                <span class="label label-sm label-default">Offline</span>
            {% endif %}
        </td>
        <td>
            {% if user.isAdmin %}
                <i title="Admininstrator" class="fa fa-star"></i>
            {% elseif user.hasRole('ROLE_KZ') or user.hasRole('ROLE_KCZ') %}
                <i title="KZ" class="fa fa-user-secret"></i>
            {% endif %}
            {{ user.name }}
        </td>
        <td>
            {% if user.timeWork %}
                <span class="label label-green label-sm">{{ user.timeWork|humanTime }}</span>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {{ drawAgentState(user.agentState, user.agentLabel) | raw }}
        </td>
        <td>
            {% if user.agentState and user.stateChangeTime and user.agentState != "LOGOUT"  %}
                {{ ((date()).timestamp - user.stateChangeTime.timestamp) | humanTime }}
            {% endif %}
        </td>
        <td>
            {% if user.currentTasks | length %}
                {% for task in user.currentTasks %}
                    <span class="label label-success m-t-1">
                        {{ task.groupName }}
                    </span><br>
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if user.currentTasks | length %}
                {% for task in user.currentTasks %}
                    <span class="label label-success m-t-1">
                        {{ task.seconds|humanTime }}
                    </span><br>
                {% endfor %}
            {% elseif user.lastTaskTime %}
                <span class="label label-warning">{{ user.lastTaskTime | humanTime }}</span>
            {% endif %}
        </td>
        <td>
            <select class="select2" name="user_role_group_{{ user.id }}" id="user_role_group_{{ user.id }}">
                {% if user.getRoleGroup %}
                    <option value="">-</option>
                    {% for role in roles %}
                        <option value="{{ role.id }}" {{ (role.id == user.getRoleGroup.id) ? "selected" : "" }} >{{ role.name }}</option>
                    {% endfor %}
                {% else %}
                    <option value="">-</option>
                    {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </td>
        <td class="text-center td-change-all-user-platforms">
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" class="check-all-platforms">
                <span></span>
            </label>
        </td>

        {% set allRoles = roleHierarchy.allUserRoles(user) %}
        {% set checkedRole = 0 %}
        {% for key, mRole in managementRoles %}

            {% if (user.isRoleInGroup(key)) %}
                {% set checkedRole = checkedRole + 1 %}
                <td class="text-center td-change-user-role " title="Uprawnienie nadane przez grupę" data-platform-group-id="0">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox"
                               name="management-role-{{ key }}" checked disabled
                               id="management-role-{{ key|lower }}-{{ user.id }}" value="{{ key }}">
                        <span></span>
                    </label>
                </td>

            {% elseif (user.hasRole(key)) %}
                {% set checkedRole = checkedRole + 1 %}
                <td class="text-center td-change-user-role" data-platform-group-id="0">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox"
                               name="management-role-{{ key }}" checked
                               id="management-role-{{ key|lower }}-{{ user.id }}" value="{{ key }}">
                        <span></span>
                    </label>
                </td>
            {% elseif key in allRoles %}
                {% set checkedRole = checkedRole + 1 %}
                <td class="text-center td-change-user-role" title="Uprawnienie dziedziczy po innym uprawnieniu" data-platform-group-id="0">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox"
                               name="management-role-{{ key }}" checked disabled
                               id="management-role-{{ key|lower }}-{{ user.id }}" value="{{ key }}">
                        <span></span>
                    </label>
                </td>

            {% else %}

                <td class="text-center td-change-user-role" data-platform-group-id="0">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox"
                               name="management-role-{{ key }}"
                               id="management-role-{{ key|lower }}-{{ user.id }}" value="{{ key }}">
                        <span></span>
                    </label>
                </td>

            {% endif %}

        {% endfor %}

        <td class="compressed-cell text-center" data-platform-group-id="0">
            ...
            {#<span class="label label-primary label-sm">#}
                {#{{ checkedRole }}#}
            {#</span>#}
        </td>
        {% for platformGroup in platformGroups %}
            {% for platform in platformGroup.platforms %}
                <td class="text-center td-change-user-platform" data-platform-group-id="{{ platformGroup.id }}">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox"
                               name="platform-{{ platform.id }}"
                               id="management-role-{{ platform.id }}-{{ user.id }}" value="{{ platform.id }}"
                                {{ (user.hasPlatform(platform.id)) ? "checked" : "" }}>
                        <span></span>
                    </label>
                </td>
            {% endfor %}
            <td class="compressed-cell text-center" data-platform-group-id="{{ platformGroup.id }}">
                ...
            </td>
        {% endfor %}
    </tr>
    <tr data-user-id="{{ user.id }}">
        <td colspan="9" class="td-change-user-group">
            <ul class="list-group list-inline">
                {% for userGroup in userGroups %}
                    <li class="list-group-item">
                        <input type="checkbox"
                               class="custom-control-input"
                               id="user-group-{{ userGroup.id }}"
                               value="{{ userGroup.id }}"
                                {{ (user.hasGroup(userGroup.id)) ? "checked" : "" }}>
                        <label class="custom-control-label" for="user-group-{{ userGroup.id }}">{{ userGroup.shortName }}</label>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}