<form class="form form-inline m-b-2 management-user-filter-form">
    <div class="row">
        <div class="col col-sm-12">
            <div class="form-group">
                <h5>Filtry:</h5>
            </div>
            <div class="form-group">
                <label class="mt-checkbox mt-checkbox-outline m-b-0">
                    <input type="checkbox" checked name="online" id="management-user-control-online" value="1">
                    Online
                    <span></span>
                </label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="management-user-control-phrase" name="phrase" value="" placeholder="Nazwa">
            </div>
            <div class="form-group">
                <select multiple class="select2"
                        class="form-control"
                        data-placeholder="Role"
                        name="user-role" id="management-user-control-user-role">
                    {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default refresh-online-tasks">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="form-group form-loader">
                {{ include('@Web/Default/partials/spinner.html.twig') }}
            </div>
            <div class="form-group col-sm-2 pull-right">
                <select id="template" name="template" class="form-control select2">
                    {% for template in pushingTemplates %}
                        <option value="{{ template.id }}" {{ (activeTemplateId == template.id) ? "selected" : "" }}>{{ template.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group pull-right m-r-2">
                <h5>Szablon:</h5>
            </div>
        </div>
    </div>
</form>
