<div class="management-user-content-actions">
    {{ include('@Management/Supervisor/ManagementUser/management_user_filter_form.html.twig') }}
</div>
<div class="management-user-content-table table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th rowspan="2">#Lp.</th>
                <th rowspan="2">#ID</th>
                <th rowspan="2">#Online</th>
                <th rowspan="2">{{ "name"|trans }}</th>
                <th rowspan="2">Czas pracy</th>
                <th rowspan="2">Status telefonii</th>
                <th rowspan="2">Jak długo <br>na statusie telefonii</th>
                <th rowspan="2">Zadanie</th>
                <th rowspan="2">Jak długo <br>w zadaniu / bez zadania</th>
                <th rowspan="2">Rola</th>
                <th rowspan="2">Zaznacz wszytskie platformy</th>
                <th class="with-collapse-group" data-platform-group-id="0" colspan="{{ managementRoles|length }}" data-colspan="{{ managementRoles|length }}">

                    <div class="group-box-item">
                        Uprawnienia
                    </div>
                    <div class="group-box-item">
                        <div class="collapse-group">
                            <button class="btn btn-xs btn-default btn-compress">
                                <i class="fa fa-compress" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-xs btn-default btn-expand">
                                <i class="fa fa-expand" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </th>
                {% for platformGroup in platformGroups %}
                    {% set platforms = platformGroup.platforms %}
                    <th class="with-collapse-group" data-platform-group-id="{{ platformGroup.id }}" colspan="{{ platforms|length }}" data-colspan="{{ platforms|length }}">
                        <div class="group-box-item">
                            {{ platformGroup.name }}
                        </div>
                        <div class="group-box-item">
                            <div class="collapse-group">
                                <button class="btn btn-xs btn-default btn-compress">
                                    <i class="fa fa-compress" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-xs btn-default btn-expand">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                {% endfor %}
            </tr>
            <tr>
                {% set infoHtml = '' %}
                <th class="compressed-cell" data-platform-group-id="0"></th>
                {% for mRole in managementRoles %}
                    {% set infoHtml = '' %}
                    {% if mRole.info is defined %}
                        {% set infoHtml = '<ul class="m-l-0 p-l-0 p-t-1">' %}
                        {% for info in mRole.info %}
                            {% set infoHtml = infoHtml~'<li>'~info~'</li>' %}
                        {% endfor %}
                        {% set infoHtml = infoHtml~'</ul>' %}
                    {% endif %}

                    <th class="text-center th-change-user-role" data-platform-group-id="0">
                        {% if infoHtml != '' %}
                            <a href="#" class="display-inline" data-toggle="tooltip" data-html="true" data-placement="left" data-original-title="{{ infoHtml }}">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        {% endif %}
                        <span>{{ mRole.label|trans }}</span>
                    </th>
                {% endfor %}
                {% for platformGroup in platformGroups %}
                    <th class="compressed-cell" data-platform-group-id="{{ platformGroup.id }}"></th>
                    {% for platform in platformGroup.platforms %}
                        <th class="text-center th-change-user-platform" data-platform-group-id="{{ platformGroup.id }}">
                            <span>{{ platform.name|trans }}</span>
                        </th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {#{{ include('@Management/Supervisor/ManagementUser/management_user_tbody.html.twig') }}#}
        </tbody>
    </table>
</div>