<div class="tab-wrapper-content-actions">
    {{ include('@Management/Supervisor/ReportRealTime/current_rules.html.twig') }}
</div>
<div class="tab-wrapper-content-table table-responsive">
    <h4>Aktywne zadania <small>(odświeżanie co 30 sekund)</small></h4>
    <table class="table table-bordered table-striped report-real-time-table">
        <thead>
        <tr>
            <th class="fit"></th>
            {% for platformGroup in platformGroups %}
                <th class="text-center" colspan="{{ availableColumns | length }}">
                    <h3>{{ platformGroup.name }}</h3>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="p-x-0 p-y-0">
                <table class="table table-striped table-bordered m-b-0 table-condensed">
                    <thead>
                        <tr>
                            <th colspan="2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in groupsRow %}
                        <tr>
                            <td class="inner-th" colspan="2">{{ row.label }}</td>
                        </tr>
                        {% for group in row.groups %}
                            <tr>
                                <td >{{ group.shortName }}</td>
                                <td>{{ group.name }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </td>
            {% for platformGroup in platformGroups %}
                <td class="p-x-0 p-y-0 platform-group-td"
                    data-platform-group="{{ platformGroup.id }}" colspan="{{ availableColumns | length }}">

                    {{ include('@Management/Supervisor/ReportRealTime/td_body.html.twig') }}

                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>

