<h4>Obecnie aktywne role</h4>
<div class="row">

    {% for id, item in onlineRoles %}

        {#{% set color = 'yellow-crusta' %}#}

        {#{% if item.count > 6 %}#}
            {#{% set color = 'green' %}#}
        {#{% elseif item.count > 3 %}#}
            {#{% set color = 'blue' %}#}
        {#{% endif %}#}

        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 m-b-1 group-role-tile"
             data-role-group-id="{{ id }}"
             data-role-group-tasks="{{ item.tasks | json_encode }}"
        >
            <a class="dashboard-stat mt-element-ribbon dashboard-stat-v2 grey" href="#">
                <div class="visual">
                    <i class="fa fa-user"></i>
                </div>
                <div class="ribbon ribbon-vertical-left ribbon-shadow ribbon-border-dash-vert ribbon-color-primary uppercase">
                    <i class="fa fa-check"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="{{ item.count }}">{{ item.count }}</span>
                    </div>
                    <div class="desc">{{ item.name }}</div>
                </div>
            </a>
        </div>

    {% endfor %}

</div>