<table class="table table-striped table-bordered m-b-0 table-condensed table-without-out-border">
    <thead>
    <tr>
        {% for column in availableColumns %}
            <th class="text-center">
                <span>{{ column }}</span>
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for key, row in groupPlatformWrapper[platformGroup.id].results %}
        <tr>
            <td class="inner-th" colspan="{{ availableColumns | length }}">&nbsp;</td>
        </tr>
        {% for group in row.groups %}

            <tr data-group-id="{{ group['group_id'] }}" data-platform-group-id="{{ platformGroup.id }}">
                {% for key, column in availableColumns %}
                    <td class="text-center open-online-task" data-column-id="{{ loop.index }}">{{ group[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

    {% endfor %}
    </tbody>
</table>