{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_user_group_editor', {'id' : entity.id}) }}">
                <span class="caption-subject bold">
                    {{ 'user_group'|trans|desc('grupa użytkowników')|capitalize~': '~entity.name }}
                </span>
            </a>
        </div>
    </div>

    <form id="user-group-form" class="form-horizontal" action="" method="POST">

        {{ form_row(form.name) }}
        {{ form_row(form.parent) }}
        {{ form_row(form.roles) }}
        <div class="form-group theme-multiselect">

            <label class="col-sm-3 control-label required" for="">
                {{ 'default_tools'|trans|desc('Domyślne narzędzia') }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.multiselectTools) }}
            </div>
        </div>

        <div class="hide">
            {{ form_row(form.defaultToolsString) }}
        </div>


        <div class="clearfix"></div>
        <div class="form-actions m-t-1">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

    {% if entity.id %}

        <form id="add-users-to-group" action="{{ path('admin_add_user_to_group' , {'groupId' : entity.id }) }}"
              method="POST">
            {{ form_errors(addUsersForm) }}
            <div class="row m-t-3 m-b-1">
                <div class="col-lg-10">{{ form_widget(addUsersForm.users) }}</div>
                <div class="col-lg-2 p-l-0">
                    <div class="form-actions">
                        <button type="submit" class="btn full green">
                            {{ 'dodaj'|trans()|capitalize }}
                        </button>
                    </div>
                </div>
            </div>
        </form>

        {{ render(controller('UserBundle:User:index', { 'group': entity.id , 'page' : page })) }}

    {% endif %}

{% endblock %}

{% block extrascripts %}
    {% include 'UserBundle:Admin:user/partials/user-scripts.html.twig' %}
    <script>
        var defaultIds = [];

        $(function () {
            var $target = $('#atlas_user_group_defaultToolsString'),
                $multiSelect = $('#atlas_user_group_multiselectTools');

            if($multiSelect.val()) defaultIds = $multiSelect.val();

            $multiSelect.multiSelect(
                {
                    keepOrder: true,
                    afterSelect: function(values){
                        appendToList(values);
                        updateInput($target);
                    },
                    afterDeselect: function(values){
                        removeFromList(values);
                        updateInput($target);
                    }
                }
            );
        });

        function appendToList(id) {
            if(typeof id == 'object')
            {
                defaultIds = defaultIds.concat(id);
            }
            else {
                defaultIds.push(id);
            }
        }

        function removeFromList(id) {
            if(typeof id == 'object')
            {
                id.forEach(function (ele, i) {
                    var index = defaultIds.indexOf(ele);
                    defaultIds.splice(index, 1);
                });
            }
            else {
                var index = defaultIds.indexOf(id);
                defaultIds.splice(index, 1);
            }
        }

        function updateInput($target) {
            $target.val(defaultIds);
        }

        $('.remove-user-from-group').on('click', function () {
            var element = $(this);
            $.post('{{ path('admin_remove_user_from_group') }}', {
                'userId': $(this).attr('data-user-id'),
                'groupId': $(this).attr('data-group-id')
            }, function (response) {
                element.parents('tr:first').remove();
            });
            return false;
        });
    </script>
{% endblock %}