{% extends "WebBundle::base.html.twig" %}
{% block title %} {{ 'tool-summary-users'|trans|desc('grupy użytkowników')|capitalize}} {% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_user_groups')}}">
                <span class="caption-subject bold">
                    {{ 'tool-summary-users'|trans|desc('grupy użytkowników')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-left col-sm-12 col-xs-12 col-lg-2 no-padding">
        <form id="search-form" class="no-padding {% if is_mobile() %} m-b-1 {% endif %}" action="{{ path('admin_user_groups') }}" method="GET">
            {{ form_widget(searchForm.phrase) }}
        </form>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-2 no-padding">
        <a href="{{ path('admin_user_group_editor') }}" class="col-xs-12 no-padding btn btn-sm blue col-sm-12 xs-full pull-right p-x-1 m-b-1">
            <i class="fa fa-plus"></i>
            {{ 'add_group'|trans|desc('dodaj grupę')|capitalize }}
        </a>
    </div>

    <div class="clearfix"></div>

    {% include '@User/Admin/user-group/partials/group-list.html.twig' %}

{% endblock %}

{% block extrascripts %}
    {% include 'UserBundle:Admin:user-group/partials/group-scripts.html.twig' %}
{% endblock %}