{% extends "WebBundle::base.html.twig" %}

{% block bodyExtraClass %}role-manager-page{% endblock %}

{% block extrastyle %}
    {{ parent() }}
    {% include 'OperationalBundle:Default/partials/modals:filter-steps-modal.html.twig' %}
    <link href="{{ asset('bundles/web/js/vendor/bootstrap/table/bootstrap-table.min.css') }}" rel="stylesheet">

    <style>
        .fixed-table-container thead th .th-inner {
             /*overflow: visible;*/
             /*text-overflow: clip;*/
             /*white-space: normal;*/
            /*line-height: 18px;*/
        }
        .user-role-table .portlet-body {
            max-height: 600px;
            overflow: auto;
        }

        .role-user-table .fixed-table-header .table, #role-users {
            table-layout: fixed;
        }

        #role-users .mt-checkbox-list .mt-checkbox > span {
            border: 1px solid #3c3f51;
        }

        #role-users .mt-checkbox-list .mt-checkbox > span:after{
            border-color: #3c3f51;
        }

        .role-user-table .fixed-table-header .th-inner,
        .role-user-table .fixed-table-body .th-inner {
            overflow: visible;
            text-overflow: clip;
            white-space: normal;
            line-height: 18px;
        }
        .vertical-middle {
            vertical-align: middle !important;
        }

    </style>
{% endblock %}

{% block pageSidebarWrapper %}

{% endblock %}

{% block pageContentWrapper %}

    <div id="page-main-content" class="page-content-wrapper">
        <ul class="page-breadcrumb breadcrumb"></ul>

        {% if topData is not empty %}

            <div class="row">
                <div class="col-xs-12" style="padding: 0">

                    <div class="portlet box blue-sharp metronic-portlet task-stats-table">
                        <div class="portlet-title">
                            <div class="caption">
                                Statystyki kolejek
                            </div>
                            {#<div class="tools">#}
                            {#<a href="#" class="reload" id="reload-reservation"> </a>#}
                            {#</div>#}
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead class="flip-content">
                                <tr>
                                    <th width="200px"> Kolejki / Kategorie</th>
                                    {% for category in filterGroups %}
                                        <th class="text-center"><span class="small">{{ category.name }}</span></th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for stats in topData %}
                                    <tr>
                                        <td>{{ stats.name }}</td>
                                        {% for dat in stats.categories %}
                                            <td class="text-center">{{ dat }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}

        {#<div class="col-xs-12">#}
            {#<div class="portlet box blue-sharp metronic-portlet user-role-table">#}
                {#<div class="portlet-title">#}
                    {#<div class="caption">#}
                        {#Zarządzanie rolami użytkowników#}
                    {#</div>#}
                {#</div>#}
                {#<div class="portlet-body">#}
                    {#<table class="table table-bordered table-striped table-condensed" id="table-role-manager">#}
                        {#<thead class="flip-content">#}
                        {#<tr>#}
                            {#<th width="200px"> Kolejki / Kategorie</th>#}
                            {#{% for category in categories %}#}
                                {#<th class="text-center"><span class="small">{{ category.name }}</span></th>#}
                            {#{% endfor %}#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for user in bottomData %}#}
                            {#<tr>#}
                                {#<td>#}
                                    {#{{ user.userName }}#}
                                {#</td>#}
                                {#{% for cat in user.categories %}#}
                                    {#<td class="text-center">#}
                                        {#<div class="md-checkbox display-inline-block">#}
                                            {#<input data-user-id="{{ user.id }}" data-cat-id="{{ cat.id }}"#}
                                                   {#type="checkbox" id="check-{{ user.id }}-{{ cat.id }}"#}
                                                   {#name="check-{{ user.id }}-{{ cat.id }}"#}
                                                   {#class="md-check" {{ (cat.checked) ? 'checked' : '' }}#}
                                                   {#value="1">#}
                                            {#<label for="check-{{ user.id }}-{{ cat.id }}">#}
                                                {#<span></span>#}
                                                {#<span class="check"></span>#}
                                                {#<span class="box"></span>#}
                                            {#</label>#}
                                        {#</div>#}
                                    {#</td>#}
                                {#{% endfor %}#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="row">
            <div class="col-xs-12" style="padding: 0">
                <div class="portlet box yellow-crusta metronic-portlet role-user-table">
                    <div class="portlet-title">
                        <div class="caption">
                            Zarządzanie rolami
                        </div>
                        {% if is_granted('ROLE_TASK_MANAGER') %}
                            <div class="tools">
                                <div class="md-checkbox has-error" style="color: #000">
                                    <input type="checkbox" id="check-toggle-online"
                                           name="check-toggle-online"
                                           class="md-check" {% if app.request.query.get('online', 1) == 1 %}checked{% endif %}
                                           value="1">
                                    <label for="check-toggle-online">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>Tylko użytkownicy online
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="portlet-body">

                        <table id="role-users" data-height="700" data-search="true">
                            <thead>
                            <tr>
                                <th data-width="150px" data-field="user_name"><span class="small">Użytkownicy</span></th>
                                {% for category in categories %}
                                    <th data-sortable="true"
                                        data-formatter="formatterTd"
                                        data-field="group_{{ category.id }}"
                                            class="text-center {{ (category.parent.id == 3397) ? 'bg-default' : '' }}">
                                        <div class="filter-steps-info"><a href="#" data-group-id="{{ category.id }}" data-group-name="{{ category.name }}" >...</a></div>
                                        <span class="small">{{ category.name }}</span>
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {#{% for user in bottomData %}#}
                                {#<tr>#}
                                    {#<td>#}
                                        {#{{ user.userName }}#}
                                    {#</td>#}
                                    {#{% for cat in user.categories %}#}
                                        {#<td class="text-center vertical-middle {{ (cat.type == "permission") ? 'bg-default' : '' }}" >#}
                                            {#<div class="md-checkbox display-inline-block">#}
                                                {#<input  data-user-id="{{ user.id }}" data-cat-id="{{ cat.id }}"#}
                                                       {#type="checkbox" id="check-{{ user.id }}-{{ cat.id }}"#}
                                                       {#name="check-{{ user.id }}-{{ cat.id }}"#}
                                                       {#class="md-check" {{ (cat.checked) ? 'checked' : '' }}#}
                                                       {#value="1">#}
                                                {#<label for="check-{{ user.id }}-{{ cat.id }}">#}
                                                    {#<span></span>#}
                                                    {#<span class="check"></span>#}
                                                    {#<span class="box"></span>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</td>#}
                                    {#{% endfor %}#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

        {#</div>#}
    </div>
{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/vendor/bootstrap/table/bootstrap-table.min.js') }}"></script>

    <script>

        var html = '<div class="mt-checkbox-list" style="display: inline-block">' +
            '<label class="mt-checkbox mt-checkbox-outline">' +
            '<input data-row-index="__row_index__" data-user-id="__user_id__" data-cat-id="__cat_id__" ' +
            'type="checkbox" value="1" name="check-__user_id__-__cat_id__" __checked__>' +
            '<span></span>' +
            '</label></div>';

//        var html = '<div class="md-checkbox display-inline-block">' +
//            '<input data-row-index="__row_index__" data-user-id="__user_id__" data-cat-id="__cat_id__"' +
//        ' type="checkbox" id="check-__user_id__-__cat_id__"' +
//        ' name="check-__user_id__-__cat_id__"' +
//        ' class="md-check" __checked__'+
//        ' value="1"><label for="check-__user_id__-__cat_id__"><span></span>' +
//            '<span class="check"></span>' +
//            '<span class="box"></span>' +
//            '</label></div>';


        function formatterTd(value, row, index, field) {

            if(typeof field === "undefined") {
                return value;
            }
            else {

                if(field.indexOf('group_') !== -1) {
                    var id = field.replace('group_', '');
                    return html.replace(/__user_id__/g, row.user_id)
                        .replace(/__cat_id__/g, id)
                        .replace('__row_index__', index)
                        .replace('__checked__', ((value == 1) ? 'checked' : ''));

                }
                else {
                    return value;
                }
            }

        }

        function customSearchTable(text) {
            if(text) {
                text = text.toLowerCase();
                this.data = this.options.data.filter(function (ele) {
                    return (ele.user_name.toLowerCase().indexOf(text) !== -1);
                });
            }
            else {
                this.data = this.options.data;
            }
        }

        $(function () {

            var $roleUsers = $("#role-users"),
                $roleUserTable = $('.role-user-table'),
                $checkToggleOnline = $('#check-toggle-online');

            var width = $roleUsers.parent().width();
            $roleUsers.attr('data-width', width);

            var dataUrl = Routing.generate('role_task_manager_users');

            $roleUsers.bootstrapTable({
                url: dataUrl + '?online=' + (($checkToggleOnline.is(':checked')) ? "1" : "0"),
                uniqueId: "user_id",
                cache: false,
                search: ($('.task-stats-table').length),
                customSearch: 'customSearchTable'
            });

            if($checkToggleOnline.length) {
                $checkToggleOnline.on('change', function () {
                    var isChecked = $(this).is(':checked');
                    window.location.href = Routing.generate('role_task_manager') + '?online=' + ((isChecked) ? "1" : "0");
                })
            }

            var roleManager = (function () {

                function init() {

                    $roleUsers.on('change', 'input[type="checkbox"]', function (e) {

                        var $t = $(this),
                            userId = $t.attr('data-user-id'),
                            catId = $t.attr('data-cat-id'),
                            index = parseInt($t.attr('data-row-index')),
                            isChecked = $t.is(':checked');

                        $.ajax({
                            url: Routing.generate('role_task_manager_change_role'),
                            type: "POST",
                            data: {
                                userId: userId,
                                catId: catId,
                                isChecked: isChecked
                            },
                            success: function (result) {

                                if(!result.status) {
                                    toastr.error('', "Wystąpił problem z edycją.", {timeOut: 3000});
                                }
                                else {

                                    var user = $roleUsers.bootstrapTable('getRowByUniqueId', parseInt(userId));

                                    user['group_' + catId] = isChecked;

                                    $roleUsers.bootstrapTable('updateByUniqueId', {
                                        id: parseInt(userId),
                                        row: user,
                                        reinit: false
                                    });

                                }

                            },
                            error: function (error) {
                                handleAjaxResponseError(error);
                            }
                        });

                    });

                }

                $('.filter-steps-info a').on('click',function(e){

                    e.preventDefault();

                    var groupId = $(this).attr('data-group-id');
                    var groupName = $(this).attr('data-group-name')
                    $.ajax({
                        url: Routing.generate('role_task_manager_filter_steps',{'groupId' : groupId}),
                        type: "GET",
                        success: function (result) {
                            $('#filter-step-modal .modal-body tbody').html('');
                            $('#filter-step-modal .modal-label b').html(groupName);
                            $.each(result,function(key, row){
                                $('#filter-step-modal .modal-body tbody').prepend('<tr><td>'+row.processName+'</td><td>'+row.stepName+'</td><td>'+row.stepId+'</td></tr>');
                            });
                            $('#filter-step-modal').modal('show');
                        },
                        error: function (error) {
                            handleAjaxResponseError(error);
                        }
                    });
                    return false;
                });

                init();

            });

            var statisticsReload = (function () {

                function init() {

                    setInterval(function () {
                        refreshStatistics();
                    }, 5000)

                }

                function refreshStatistics() {

                    $.ajax({
                        url: Routing.generate('role_task_manager_statistics'),
                        type: "GET",
                        success: function (result) {

                            if(result.html) {
                                $('.task-stats-table table').replaceWith(result.html)
                            }
                            else {
                                toastr.error('', "Wystąpił problem z odświeżeniem statystyk.", {timeOut: 3000});
                            }

                        },
                        error: function (error) {
                            handleAjaxResponseError(error);
                        }
                    });

                }

                init();

            });

            roleManager();

            if($('.task-stats-table').length) {
                statisticsReload();
            }

        });

    </script>

{% endblock %}