<table class="table table-bordered table-striped table-condensed">
    <thead class="flip-content">
    <tr>
        <th width="200px"> Kolejki / Kategorie</th>
        {% for category in categories %}
            <th class="text-center"><span class="small">{{ category.name }}</span></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for stats in topData %}
        <tr>
            <td>{{ stats.name }}</td>
            {% for dat in stats.categories %}
                <td class="text-center">{{ dat }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>