{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <a href="{{ path('vip_users_list') }}" class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
        <i class="fa fa-arrow-left"></i>
        {{ 'wróć do listy'|trans|desc('wróć do listy')|capitalize }}
    </a>

    <div class="clearfix"></div>

    {{ form_start(form, { 'attr' : { 'class' : 'form-horizontal', 'autocomplete' : 'off'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.companyName) }}
    {{ form_row(form.phoneNumber) }}

    {#<div class="form-group ">#}
        {#<label class="col-sm-3 control-label" for="{{ form.connectionString.vars.id }}">#}
            {#{{ form.connectionString.vars.label }}#}
            {#<i class="fa fa-info-circle tooltips" data-container="body" data-placement="top"#}
               {#data-original-title="{{ 'tool.form.definition.connection_hint'|trans|desc('Pozostaw puste dla aktualnej BD') }}"></i>#}
        {#</label>#}
        {#<div class="col-sm-9">#}
            {#{{ form_widget(form.connectionString) }}#}
            {#<p class="small m-b-0 margin-top-10 gray">#}
                {#{{ 'tool.form.definition.connection_default_parameters'|trans|desc('Domyślne parametry: sql = mssql, port = 1433 dla mssql, lub 3306 dla mysql') }}#}
            {#</p>#}
        {#</div>#}
    {#</div>#}

    {#{{ form_row(form.enabled) }}#}

    {{ form_rest(form) }}

    <div class="form-actions m-t-1">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                {% if new %}
                    <button type="submit" class="btn blue">
                        {{ 'Dodaj'|trans|desc('dodaj')|capitalize }}
                    </button>
                {% else %}
                    <button type="submit" class="btn green">
                        {{ 'zapisz'|trans|desc('zapisz')|capitalize }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}
