{% extends "WebBundle::base.html.twig" %}


{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('vip_users_list')}}">
                <span class="caption-subject bold">
                    {{ 'vip.list'|trans|desc('Lista VIP')}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-2 no-padding">
        <a href="{{ path('vip_users_add') }}" class="col-xs-12 no-padding btn btn-sm blue col-sm-12 xs-full pull-right p-x-1 m-b-1">
            <i class="fa fa-plus"></i>
            {{ 'add_vip'|trans|desc('Dodaj VIP') }}
        </a>
    </div>

    <div class="clearfix"></div>

    <div class="group-table">
    <div id="group-ajax-container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-vam">
                <thead>
                <tr>
                    <th class="fit">#</th>
                    <th>{{ 'firstname'|trans|desc('imię')|capitalize }}</th>
                    <th>{{ 'lastname'|trans|desc('nazwisko')|capitalize }}</th>
                    <th>{{ 'company'|trans|desc('firma')|capitalize }}</th>
                    <th>{{ 'position'|trans|desc('stanowisko')|capitalize }}</th>
                    <th>{{ 'type'|trans|desc('typ')|capitalize }}</th>
                    <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <th scope="row" class="fit">{{ entity.id }}</th>
                        <td class="entity-name">{{ entity.firstname }}</td>
                        <td class="entity-lastname">{{ entity.lastname}}</td>
                        <td class="entity-company">{{ entity.companyName}}</td>
                        <td class="entity-position">{{ entity.position}}</td>
                        <td class="entity-type">{{ entity.type(true) }}</td>
                        <td class="fit">
                            <a href="{{ path('vip_users_edit', {'id': entity.id}) }}"
                               class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#"
                               class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'delete'|trans|desc('usuń')|title }}"
                               data-url="{{ path('vip_users_delete', {'id': entity.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}