<div id="admin-tools-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">Narzędzie administratora</span>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="cancel-modal-ajax" type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}
                </button>
            </div>
        </div>
    </div>
</div>