<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#top-bar">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="top-bar">
        <a class="navbar-brand m-r-3" href="#">STARTER24</a>
        {{ knp_menu_render('UserBundle:MenuBuilder:topMenu', {'depth': 1, 'currentClass': 'active'}) }}
    </div>
</nav>

