{% extends "WebBundle::base.html.twig" %}

{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}

{% block content %}

    {% include 'ToolBundle:Admin:style/partials/modals/icons.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="admin-tool-editor-form" class="form-horizontal" action="" method="POST" >

            {{ form_errors(form) }}
            {{ a2lixTranslations.partialTranslations(form.translations, ['name']) }}
            {{ form_row(form.hasConfirmation) }}
            <div id="confirmationDescription" {% if not entity.hasConfirmation %}class="hidden"{% endif %}>
                {{ a2lixTranslations.partialTranslations(form.translations, ['confirmationDescription'], false) }}
            </div>
            {{ form_row(form.query) }}
            {{ form_row(form.forSelectedRows) }}
            <div class="form-group">
                    {{ form_label(form.buttonPlacement) }}
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ form_widget(form.buttonPlacement) }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_row(form.userGroups) }}
            <div class="form-group">
                {{ form_label(form.icon) }}
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-9">
                            {{ form_widget(form.icon) }}
                        </div>
                        <div class="col-xs-3">
                            <a href="#" id="show-icons"
                               class="btn full btn-info tooltips" data-toggle="tooltip" data-placement="top"
                               title="{{ 'form.show_icons'|trans|desc('pokaż ikony')|title }}">
                                <i class="fa fa-eye"></i> {{ 'form.choose_icon'|trans|desc('wybierz ikonę')|capitalize }}
                            </a>
                        </div>

                    </div>
                    </div>
                    </div>
                    <div class="form-group">
                    {{ form_label(form.color) }}
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ form_widget(form.color, { 'attr': {'data-control': 'hue', 'class' : 'init-colorpicker'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.position) }}
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ form_widget(form.position) }}
                            </div>
                        </div>
                    </div>
                </div>
                    {{ form_rest(form) }}
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">
                                    {{ 'submit'|trans|desc('zapisz')|capitalize }}
                                </button>
                            </div>
                        </div>
                    </div>

            {{ form_rest(form) }}
         </form>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {

            handleConfirmation();
            handlePlacement();

            $('body').on('click', '#atlas_tool_action_hasConfirmation', function () {
                handleConfirmation();
            });

            $('body').on('click', '#show-icons', function () {
                $('#icons-modal').modal();
                return false;
            });

            $('body').on('click', '#icons-modal .fa-item', function () {
                var output = '<i class="'+$(this).find('i').attr('class')+'"></i>';
                $('#atlas_tool_action_icon').val(output);
                $('#icons-modal').modal('hide');
                return false;
            });

            $('body').on('change', '#atlas_tool_action_forSelectedRows', function () {
                handlePlacement();
            });

            $('body').on('change', '#atlas_tool_action_forSelectedRows', function () {
                handlePlacement();
            });

        });

        function handleConfirmation(){
            if($('#atlas_tool_action_hasConfirmation').is(':checked')){
                $('#confirmationDescription').removeClass('hidden');
            }
            else{
                $('#confirmationDescription').addClass('hidden');
            }
        }

        function handlePlacement(){
            if($('#atlas_tool_action_forSelectedRows').is(':checked')){
                $('#atlas_tool_action_buttonPlacement').val($('#atlas_tool_action_buttonPlacement option:first').val());
                $('#atlas_tool_action_buttonPlacement').attr('disabled', 'disabled');
            }
            else{
                $('#atlas_tool_action_buttonPlacement').removeAttr('disabled');
            }
        }
    </script>
{% endblock %}