{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu', {
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig'
        }) }}

        <div class="tab-content">
            <a href="{{ path('admin_tool_action_editor', { 'toolId' : tool.id }) }}"
               class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
                <i class="fa fa-plus"></i>
                {{ 'tool.add_action'|trans|desc('dodaj akcję')|capitalize }}
            </a>
            <div class="clearfix"></div>

            {% if tool.actions and tool.actions|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-vam">
                        <thead>
                        <tr>
                            <th class="fit">#</th>
                            <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                            <th class="fit">{{ 'icon'|trans|desc('ikona')|capitalize }}</th>
                            <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in tool.actions %}
                            <tr>
                                <th scope="row" class="fit">{{ entity.id }}</th>
                                <td class="entity-name">{{ entity.name }}</td>
                                <td class="fit align-center">
                                    <a class="btn btn-sm btn-default smaller-btn"
                                       style="{{ entity.color ? 'color:#fff;background: '~entity.color : '' }}">
                                        {{ entity.icon|raw }}
                                    </a>
                                </td>
                                <td class="fit">
                                    <a href="{{ path('admin_tool_action_editor', {'toolId': tool.id, 'id': entity.id}) }}"
                                       class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                       title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#"
                                       class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip"
                                       data-placement="top"
                                       title="{{ 'delete'|trans|desc('usuń')|title }}"
                                       data-url="{{ path('admin_tool_action_delete', {'id': entity.id}) }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info fade in">{{ 'tool.no_defined_actions_yet'|trans|desc('To narzędzie nie ma jeszcze zdefiniowanych akcji') }}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}