{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}
<form id="attribute-edit-form" class="form-horizontal edit-row-of-tool"
      action="{{ path('admin_attribute_editor', {'id' : id }) }}"
      method="POST" novalidate>

    <div id="form-errors">
        {{ form_errors(form) }}
    </div>

    {{ a2lixTranslations.partialTranslations(form.translations, ['name', 'validationDescription']) }}
    {{ form_rest(form) }}

    <div id="attribute-in-design">
        <div class="form-group m-b-0">
            <div class="col-sm-3 text-align-reverse label-like">
                {{ 'parents'|trans|capitalize }}
            </div>
            <div class="col-sm-9">
                <ul id="attribute-parents" class="list-unstyled list-inline">
                    {% for parent in attribute.parents %}
                        <li>
                            <a href="#" class="go-to-parent" data-id="{{ parent.id }}"><span
                                        class="attribute-badge badge">{{ parent.getDefinitionName() }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 text-align-reverse label-like">
                {{ 'steps'|trans|capitalize }}
            </div>
            <div class="col-sm-9">
                <ul id="attribute-parents" class="list-unstyled list-inline">
                    {% if attribute %}
                        {% if attributeStepDefinitions %}
                            {% for stepDefinition in attributeStepDefinitions %}
                                <li>
                                    <span class="attribute-badge badge">({{ stepDefinition.id }}) {{ stepDefinition.name }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-xs-12 m-t-1">

                <a id="cancel-edit-data" href="#" data-dismiss="modal"
                   class="btn btn-default pull-left">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</a>

                <a id="submit-and-drag" href="#" class="hidden pull-right btn blue p-x-3 ladda-button m-l-1">
                    <span class="ladda-label">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }} + <i class="fa fa-hand-grab-o"></i>
                    </span>
                </a>

                <a id="submit" href="#" class="pull-right btn green p-x-3 ladda-button">
                    <span class="ladda-label">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </span>
                </a>

            </div>
        </div>
    </div>
</form>



