{% for attribute in attributes %}
    <li class="attribute-search-result">
        <div ondblclick="attributeAction({{ attribute.id }}, {{ addToStep }})" data-id="{{ attribute.id }}"
             class="draggable"
             draggable="true">({{ attribute.id }}) {{ attribute.name|capitalize }}</div>
    </li>
{% endfor %}