<form id="step-attribute-edit-form" class="form-horizontal"
      action="{{ path('admin_step_attribute_editor', {'id' : id }) }}"
      method="POST">

    <div id="form-errors">
        {{ form_errors(form) }}
    </div>
    {% if form.parentAttribute is defined %}
        <div class="form-row">
            {{ form_widget(form.parentAttribute) }}
        </div>
    {% endif %}
    <div class="form-row">
        {{ form_widget(form.updatable) }}
    </div>
    {{ form_rest(form) }}
</form>



