<script>
    $(function () {
        $('body').on('click', "ul.pagination a", function (e) {
            e.preventDefault();
            $.get($(this).attr('href'), function (html) {
                $('#group-ajax-container').replaceWith(
                    $(html).find('#group-ajax-container')
                );
            });
        });

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            $.get('{{ path('admin_user_groups') }}', $(this).serialize(), function (html) {
                $('#group-ajax-container').replaceWith(
                    $(html).find('#group-ajax-container')
                );
            });
        });
    });

    $('#form_phrase').keyup(function () {
        delayedCallback(function () {
            $('#search-form').submit();
        }, 400);
    });
</script>