<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Szukanie Lokalizacji</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>

    <link href="{{ asset('bundles/web/css/vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/vendor/metronic/components.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/vendor/metronic/plugins.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/vendor/metronic/v4-layout.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/vendor/metronic/themes/default.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/main_map_bundle.css') }}" rel="stylesheet">

</head>
<body data-locale="{{ app.request.locale }}"
      class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">


    <div class="clearfix"></div>
    <div class="page-container" class="container">
        <div id="page-main-content">
            <p>Szukanie lokalizacji...</p>
            <div class="loader">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div id="success-find">
            <span>Dziękujemy za udostępnienie lokalizacji.</span>
        </div>
        <div id="map"></div>
        <div class="overlay"></div>
    </div>


{% block scripts %}

    <script src="{{ asset('js/mapBundleSms.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) | removeAppDev }}"></script>
    <script src="https://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2" type="text/javascript"></script>
    <script src="{{ asset('js/atlas-map.js') }}"></script>

    <script>

        var ID = '{{ id }}';

        var content = document.getElementById("page-main-content");

        (function ($, window, document) {

            $(function() {

                if(ID !== '') {
                    content.style.display = "flex";
                    getLocation();
                }
                else {
                    content.innerHTML = '<p>Sprawa jest nieaktualna.</p>';
                    content.style.display = "flex";
                }

            });


        })(jQuery, window, document);

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, function (err) {
                    console.log(err);
                });
            } else {
                content.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            sendPosition(position);

            $('#page-main-content').remove();
            $('#map').show();
            $('#success-find').show();
            loadMap([position.coords.latitude, position.coords.longitude]);

        }

        function sendPosition(position) {

            var xhr = $.ajax({
                type: 'POST',
                dataType: 'json',
                url: Routing.generate('find_client_location', {instanceId: ID }),
                data: position,
                success: function (response) {

                },
                complete: function (response) {

                },
                error: function (err) {

                }
            });

        }


        function loadMap(coordinates) {

            var myMap = null,
                AtlasMapProperties = {
                opts: {
                    mapContainer: $('#map').selector,
                    centerCoordinates: coordinates,
                    zoomMap: 16
                },
                provider: new ProviderEmapa('6vihz1Nbw5QC5rQ5')
            };

            AtlasMapModule.init(AtlasMapProperties, function (map) {

                if (!map) {
                    console.error('Błąd przy załadowaniu mapy.');
                    return false;
                }

                myMap = map;
                myMap.addMarker('mainMarker', 'Zdarzenie drogowe', coordinates, 'Content', '', 'point', {moveable: false});
                myMap.centerMap(coordinates);

            });

        }

    </script>
{% endblock %}


{% if app.environment == 'dev' %}
    <script>document.write('<script src="{{ (app.request.secure) ? 'https' : 'http' }}://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}


</body>
</html>
