<div class="row">
    <div class="col-md-12">

        <div class="uppercase row m-b-1">
            <div class="col-md-6">
                <strong>__NAME__</strong>
            </div>
            {#<div class="col-md-6">#}
                        {#<span class="label label-primary label-sm">#}
                            {#<i class="fa fa-user" title="Autor"></i> __USER__#}
                        {#</span>#}
                {#<span class="label label-default label-sm m-l-1">#}
                            {#<i class="fa fa-edit" title="Data aktulizacji"></i> __UPDATED_AT__#}
                        {#</span>#}
            {#</div>#}
        </div>
        <div class="list-item-content">
            __DESCRIPTION__
        </div>

        {#<h4 class="block text-center m-y-0 uppercase title-scenario">#}
            {#<span class="vertical">__NAME__</span>#}
            {#<span class="label label-primary label-sm">#}
                {#<i class="fa fa-user" title="Autor"></i> __USER__#}
            {#</span>#}
            {#<span class="label label-default label-sm m-l-1">#}
                {#<i class="fa fa-edit" title="Data aktulizacji"></i> __UPDATED_AT__#}
            {#</span>#}
        {#</h4>#}
        {#<div class="well p-a-1">#}
            {#__DESCRIPTION__#}
        {#</div>#}

        <hr>
        <form class="form-inline" role="form">
            <input type="hidden" value="__SCENARIO_ID__" name="scenario-id">
            {#<h5>Opcje dodatkowe: </h5>#}
            {#<div class="row">#}
                {#<div class="col-md-10">#}
                    {#<div class="form-group form-md-line-input has-success">#}
                        {#<input type="text" class="form-control" id="form_control_1" placeholder="Coś tam">#}
                        {#<div class="form-control-focus"> </div>#}
                    {#</div>#}
                    {#<div class="form-group mt-checkbox-list m-t-2">#}
                        {#<label class="mt-checkbox mt-checkbox-outline text-left">#}
                            {#<input type="checkbox" class="basic-config-control" checked="" name="validation-step"> Walidacja kroków#}
                            {#<span></span>#}
                        {#</label>#}
                    {#</div>#}
                    {#<div class="form-group mt-checkbox-list m-t-2">#}
                        {#<label class="mt-checkbox mt-checkbox-outline text-left">#}
                            {#<input type="checkbox" class="basic-config-control" checked="" name="generate-pdf"> Generuj PDF#}
                            {#<span></span>#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-md-6">
                    <button id="run-current-scenario"
                            data-style="zoom-in"
                            data-size="s"
                            type="button"
                            class="btn btn-primary ladda-button">
                        <span class="ladda-label"><i class="fa fa-cogs"></i>
                            {{ 'scenario_builder.front.run_scenario'|trans|desc('uruchom')|capitalize }}
                        </span>
                    </button>
                    <button id="stop-current-scenario"
                            data-style="zoom-in"
                            data-size="s"
                            type="button"
                            class="btn btn-danger ladda-button">
                        <span class="ladda-label"><i class="fa fa-pause"></i>
                            {{ 'scenario_builder.front.stop_scenario'|trans|desc('zatrzymaj')|capitalize }}
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>