<div id="scenario-runner-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'scenario_builder.front.title_modal'|trans|desc('Panel scenariuszy')}}</span>
            </div>
            <div class="modal-body p-a-0">
                {{ include('@Management/Admin/ScenariosBuilder/Front/scenario-modal-content.html.twig') }}
            </div>
            <div class="modal-footer">
                <button id="cancel-modal" type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'cancel'|trans|capitalize }}</button>
            </div>
        </div>
    </div>
</div>