<div class="tabbable-custom nav-justified m-b-0">
    <ul class="nav nav-tabs nav-justified">
        <li class="active">
            <a href="#available-scenarios-tab" data-toggle="tab"> Dostępne scenariusze </a>
        </li>
        <li>
            <a href="#current-run-scenario" data-toggle="tab" class="disabled"> Aktywny scenariusz </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="available-scenarios-tab" data-spinner='{{ include('@Web/Default/partials/spinner.html.twig', {size:'sm'}) }}'>
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group form-md-line-input has-success">
                        <input id="scenario-search" type="text" class="form-control" placeholder="Wyszukaj">
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="mt-element-list noborder">
                <div class="mt-list-container list-news">
                    {#AJAX - src/ManagementBundle/Resources/views/Admin/ScenariosBuilder/scenarios_list.html.twig#}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="current-run-scenario" data-prototype-current-scenario='{{ include('@Management/Admin/ScenariosBuilder/Front/current-scenario-template.html.twig') }}'>
            <div class="current-run-scenario-content m-b-1"></div>
            <hr>
            <div id="scenario-logger" data-prototype-logger='{{ include('@Management/Admin/ScenariosBuilder/Front/scenario-logger-tr.html.twig') }}'>
                {#<div class="progress progress-striped active">#}
                    {#<div class="progress-bar progress-bar-info scenario-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">#}
                        {#<span class="sr-only"> 0% Complete </span>#}
                    {#</div>#}
                {#</div>#}
                <div class="scenario-result">
                    {#<hr>#}
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript;" class="open-result-scenario btn btn-success" data-process-id="">
                                <i class="fa fa-external-link"></i> Przejdź do sprawy
                            </a>
                            <a href="#" target="_blank" class="open-pdf-scenario btn btn-default" data-scenario-instance-id="">
                                <i class="fa fa-file-pdf-o"></i> Pobierz PDF
                            </a>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <hr>
                </div>
                <h5>Logger:</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="fit">#</th>
                            <th class="fit">Typ</th>
                            <th>Log</th>
                            <th>Czas</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>