{# hour \ManagementBundle\Utils\ScheduleHour#}

{% set TAB_NAME = 'schedule-telephony-status' %}

<div class="management-user-content-actions">
    {{ include('@Management/Supervisor/ScheduleTelephonyStatus/_filter_form.html.twig') }}
</div>
<div class="{{ TAB_NAME }}-content-table table-responsive blocker-wrapper">
    <div class="blocker"></div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') -%}
                    <th>#ID</th>
                {%- endif %}
                <th>#Online</th>
                <th>{{ "name"|trans|capitalize }}</th>
                {% for hour in availableHours %}
                    <th class="text-center">
                        <span class="select-all" data-type="hour" data-id="{{ hour.label }}">
                            {{- hour.label -}}
                        </span>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>