<form class="form form-inline m-b-2 {{ TAB_NAME }}-filter-form">
    <div class="row">
        <div class="col col-sm-6">
            <div class="form-group">
                <h5>Filtry:</h5>
            </div>
            <div class="form-group">
                <label class="mt-checkbox mt-checkbox-outline m-b-0">
                    <input type="checkbox" checked name="online" id="{{ TAB_NAME }}-online" value="1">
                    Online
                    <span></span>
                </label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="{{ TAB_NAME }}-username" name="username" value="" placeholder="Nazwa użytkownika">
            </div>
            <div class="form-group">
                <input type="text" class="form-control date-picker" id="{{ TAB_NAME }}-date" name="date" value="" placeholder="Data">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default refresh">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="form-group form-loader">
                {{ include('@Web/Default/partials/spinner.html.twig') }}
            </div>
        </div>
        <div class="col col-sm-6 pagination-wrapper"></div>
    </div>
</form>
