{# row \ManagementBundle\Utils\ManagementScheduleHourRow #}
{# itemSchedule \ManagementBundle\Utils\ScheduleHour #}

{% for row in rows %}
    {% set rowIndex = loop.index %}
    <tr data-user-id="{{ row.user.id }}">
        {% if is_granted('ROLE_ADMIN') -%}
            <td class="fit">
                {{ row.user.id }}
            </td>
        {%- endif %}

        <td class="fit">
            {% if row.user.online %}
                <span class="label label-sm label-green">Online</span>
            {% else %}
                <span class="label label-sm label-default">Offline</span>
            {% endif %}
        </td>
        <td>
            <span class="select-all pointer" data-type="user" data-id="{{ row.user.id }}">
                {{ row.user.name }}
            </span>
        </td>
        {% for itemSchedule in row.items %}

            <td class="text-center">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input class="schedule-hour" type="checkbox" name="{{ rowIndex }}-{{ loop.index }}-{{ itemSchedule.label }}"
                           id="{{ rowIndex }}-{{ loop.index }}-{{ itemSchedule.label }}"
                            {% if itemSchedule.schedule %}
                                checked="checked" data-id="{{ itemSchedule.scheduleTelephonyStatus.id }}"
                            {% endif %}
                           value="{{ itemSchedule.label }}">
                    <span></span>
                </label>
            </td>

        {% endfor %}
    </tr>
{% endfor %}