{% set TAB_NAME = 'schedule-telephony-status' %}

<div id="{{ TAB_NAME }}-wrapper" class="loading-spinner">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
    <div class="tab-wrapper-content">
    </div>
</div>
