@import url("CallWindow.css");
@import url("DesktopShareWindow.css");
@import url("PreviewVideoWindow.css");
@import url("MultimediaDevices.css");
@import url("IncomingCallWindow.css");
@import url("MonitorListWindow.css");
@import url("TelephonyDeviceSelection.css");
@import url("LoginWindow.css");
@import url("CallPickup.css");
@import url("SystemInformationWindow.css");


body {
    font-size: 12px;
}

div.alignright {
    float: right;
    padding-left: 3px;
    padding-bottom: 3px;
}

ul#calllist,
ul#calllist li {
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#calllist li.selected {
    background: #ccc;
}

ul#calllist li span {
    padding: 3px;
}

ul#calllist li span.controls {
    display: none;
}

div.alignleft {
    float: left;
    display: inline-block;
    padding-left: 3px;
    padding-bottom: 3px;
}

div.Hide{
    display: none;
}

button.fullscreenbtn {
    display: none;
}

div.incomingcontainer {
    float: left;
    width: 200px;
    height: 60px;
    background-color: CadetBlue;
}

div.incomingcontainer div.message {
    float: left;
    width: 200px;
    height: 30px;
}

iframe#pinpwindow {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25%;
}

.title {
    /*text-align: center;*/

    text-align: left;
    margin-top: 10px;
}

#header {
    height: 45px;
    position: relative;
    z-index: 100;
    min-width: 675px;
    /* min width for the tabs, before they wrap */

    padding: 0 00px;
    border-bottom: 2px solid #2970A6;
}

#headerLeft {
    position: absolute;
    padding: 10px 0 0;
    left: 8px;
    bottom: 0;
    width: 600px;
}

#headerLeft img {
    border: none;
}

#headerRight {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    text-align: right;
}

#header_links {
    font-size: 20px;
}

#logo {
    float: left;
    width: 20%;
}

#title {
    float: right;
    width: 80%;
    padding-top: 10px;
}

.logframe {
    outline: black solid 1px;
    width: 320px;
}

#logwindow {
    height: 100px;
    max-height: 100px;
    width: 310px;
    overflow: auto;
}


#invalidcertcontainer {
    display: none;
    border: solid thin;
    width: 300px;
    position: fixed;
    top: 80px;
    left: 50%;
    margin-left: -150px;
    background: #BABABA;
    padding: 5px;
    z-index: 101;
    #certdetailstable {

    }
}

#top-left-x,
#top-left-y,
#bottom-right-x,
#bottom-right-y {
    width: 30px;
}

#top-left-x,
#top-left-y {
    margin-left: 24px;
}

div.test{
    width: 100px;
    height: 100px;
}

#errorMessageContainer {
    display: none;
    border-style: solid;
    width: 300px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -150px;
    background: #BABABA;
    font-color : red;
    padding: 5px;
    z-index: 101;
    border-width: thin;
}