<div class="note-phone-edit-wrapper">
    <form action="{{ url('update_phone_note') }}" class="update-phone-note-form">
        <div class="row">
            <div class="col-md-10">
                <textarea class="form-control" name="content" id="phone-note-content-__ID__" cols="30" rows="2"></textarea>
            </div>
            {#<div class="col-md-3">#}
                {#<div class="direction-radio-control">#}
                    {#<input type="radio" id="phone-direction-out-__ID__" name="direction" value="1" checked="checked">#}
                    {#<label for="phone-direction-out-__ID__" class="phone-direction-out" title="Rozmowa wychodząca">#}
                        {#<i class="fa fa-external-link-square direction direction-out fa-lg"></i>#}
                    {#</label>#}
                {#</div>#}
                {#<div class="direction-radio-control">#}

                    {#<input type="radio" id="phone-direction-in-__ID__" name="direction" value="2" checked="checked">#}
                    {#<label for="phone-direction-in-__ID__" class="phone-direction-in" title="Rozmowa przychodząca">#}
                        {#<i class="fa fa-external-link-square fa-rotate-180 direction direction-in fa-lg"></i>#}
                    {#</label>#}
                {#</div>#}
                {#<div>#}
                    {#<div class="mt-checkbox-list">#}
                        {#<label class="mt-checkbox mt-checkbox-outline">#}
                            {#<input type="checkbox" value="1" name="check-371-3388" checked="">#}
                            {#<i class="fa fa-external-link-square fa-rotate-180 direction direction-in fa-lg"></i>#}
                            {#<span></span>#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-2 p-l-0">
                <input type="hidden" name="noteId" value="__ID__">
                <input type="hidden" name="direction" value="__DIRECTION__">
                <button data-style="zoom-in" data-size="s" type="submit"
                        class="btn green ladda-button btn-block">
                    <span class="ladda-label">
                        {{ 'submit'|trans|capitalize }}
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>