<ul class="nav nav-tabs">
    <li class="active">
        <a href="#tab_current_users" data-toggle="tab" aria-expanded="true"> Obecnie </a>
    </li>
    <li class="">
        <a href="#tab_history_users" data-toggle="tab" aria-expanded="false"> Historia (TOP 50) </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab_current_users">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Użytkownik</th>
                <th>Formularz</th>
                <th>Czas (s)</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.username }}</td>
                    <td>('{{ result.stepId }}') {{ result.stepName }}</td>
                    <td>
                        <small class="mini-counter">
                            {{ result.duration }}
                        </small>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade limit-height-400" id="tab_history_users">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Użytkownik</th>
                <th>ProcessId</th>
                <th>Data wejścia</th>
                <th>Data wyjścia</th>
                <th>Czas</th>
            </tr>
            </thead>
            <tbody>
            {% for result in processes %}
                <tr>
                    <td>{{ result.user.getName }}</td>
                    <td>{{ result.processInstance.getStep.getId }}</td>
                    <td>{{ result.getDateEnter|date('Y-m-d H:i:s') }}</td>
                    <td>{{ result.getDateLeave|date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if result.getDateLeave.timestamp - result.getDateEnter.timestamp >= 0 %}
                            {{ (result.getDateLeave.timestamp - result.getDateEnter.timestamp) | humanTime}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>