{% spaceless %}
    <li class="col-xs-12 single-ticket ticket task historical-task js-single-ticket __STATUS__ __CLASS__"
        data-attribute-value-id="__ID__" data-placement="right">
       {# <div class="time-bar"></div>#}
        <span class="case-id">__CASE_ID__</span>
        <div class="case-description">___PROCESS_NAME___ - ___STEP_NAME___</div>

        <p class="last-used">
            {#<span class="historical-case-date case-date">{{ 'dashboard.historical.tasks.created.at'|trans|desc('Stworzone ')|capitalize }}: __CREATED_DATE__</span>#}
            <span class="js-last-used historical-last-used">{{ 'dashboard.historical.tasks.last.used'|trans|desc('Ostatnio aktywne')|capitalize }}: __ENTERED_AT__</span></p>
        <i title="__TITLE__" class="caseIcon fa __SPECIAL_ICON__ fa-2x"></i>

        {#<div class="additional-case-description">{{ 'dashboard.historical.tasks.comment'|trans|desc('Komentarz :')|capitalize }} To jest przykładowy komentarz do historycznego zadania</div>#}
    </li>
{% endspaceless %}