{% spaceless %}
    <li class="col-xs-12 single-partner-element __ ADDITIONAL_CLASSES__"
        data-attribute-value-group-process-id="__GROUP_PROCESS_ID__"
        data-root-id="__ROOT_ID__"
        data-attribute-value-step-id="__STEP_ID__"
        data-attribute-value-id="__ID__" data-placement="right" title="__LONG_NAME__">

        <div class="list-item-content">
            <span class="partner-name">__NAME__</span>
        </div>
    </li>
{% endspaceless %}
