{% spaceless %}
    <div id="__ID__" class="group-box">
        <h4 title="__NAME_NO_HTML__" class="ticket-category">
            <span class="group-name">__GROUP_NAME__ __NAME__</span>
            <div class="case-amount p-__PRIORITY__">0</div>
        </h4>
        <ul class="tickets-sidebar"></ul>
    </div>
{% endspaceless %}