{% spaceless %}
    <li id="single-ticket-__ID__" class="col-xs-12 single-ticket ticket task js-single-ticket __STATUS__ __CLASS__"
        data-attribute-value-group-process-id="__GROUP_PROCESS_ID__"
        data-root-id="__ROOT_ID__"
        data-attribute-value-step-id="__STEP_ID__"
        data-attribute-value-id="__ID__" data-placement="right">
       {# <div class="time-bar"></div>#}
        <i title="__TITLE__" class="caseIcon fa __SPECIAL_ICON__ fa-2x"></i>
        <span class="case-id">__CASE_ID__</span><span class="case-date pull-right">__CREATED_DATE__</span>
        <div class="case-description">__INSTANCE_DESCRIPTION__  <small>(__GROUP_PROCESS_ID__)</small></div>
    </li>
{% endspaceless %}