{% spaceless %}
    <div data-process-instance-id="__INSTANCE_ID__" class="timeline-block __STATE__"> {#disabled#}
        <div class="number-box">
            <span class="number" data-number="__NUMBER__">__NUMBER__</span>
        </div>

        <div class="timeline-content" title="__TITLE__">
            <h2>__STEP_ID__</h2><p>__DESC__</p>
        </div>
    </div>
{% endspaceless %}