{% extends "WebBundle::base.html.twig" %}
{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}

{% block content %}
    <form id="custom-content" class="form-horizontal theme-multiselect" action="" method="POST">

        <div id="form-errors">
            {{ form_errors(form) }}
        </div>

        {{ a2lixTranslations.displayTabs(form.translations) }}
        {{ form_row(form.key) }}
        {{ a2lixTranslations.partialTranslations(form.translations, ['content'], false) }}
        {{ form_rest(form) }}

        <div class="form-actions margin-top-20">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block extrascripts %}
    {% if not plainText %}
        <script>
            $(function () {
                if (typeof tinyMCEHandle == "function") {
                    tinyMCEHandle();
                }
            });
            $(window).load(function () {
                $("#translations_pl_content_ifr").contents().find('.mce-content-body').css({
                    'position': 'absolute',
                    'top': '0',
                    'bottom': '0',
                    'left': '0',
                    'right': '0'
                })
            });

        </script>
        {{ tinymce_init() }}
    {% endif %}
{% endblock %}