{% extends "WebBundle::base.html.twig" %}

{% block title %}{{ 'app.defined_content'|trans()|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_custom_content_index')}}">
                <span class="caption-subject bold">
                    {{ 'admin_defined_content'|trans|desc('Zdefiniowane treści')}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-left no-gutter {% if not is_mobile() %} col-md-6 {% endif %} {% if is_mobile() %} col-xs-12 col-sm-3 m-b-1 {% endif %}">
        <form id="search-form" class="{% if not is_mobile() %} col-md-6 no-gutter {% endif %}"
              action="{{ path('admin_custom_content_index') }}" method="GET">
            {{ form_widget(searchForm.phrase) }}
        </form>
    </div>
    <div class="pull-right no-gutter {% if not is_mobile() %} col-md-6 {% endif %} {% if is_mobile() %}col-xs-12 col-sm-9 {% endif %}">
        <a href="{{ path('admin_custom_content_editor') }}"
           class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1 {% if not is_mobile() %} col-md-5 col-lg-3 {% endif %} {% if is_mobile() %}col-xs-12 col-sm-3 {% endif %}">
            <i class="fa fa-plus"></i>
            {{ 'add'|trans|capitalize }}
        </a>
    </div>


    <div class="clearfix"></div>

    <div class="result-list">
        {% include '@App/Admin/custom-content/partials/list.html.twig' %}
    </div>

{% endblock %}
{% block extrascripts %}
    <script>
        $(function () {
            $('body').on('click', "ul.pagination a", function (e) {
                e.preventDefault();
                $.get($(this).attr('href'), function (html) {
                    $('#ajax-container').replaceWith(
                            $(html)
                    );
                });
            });

            $('#search-form').on('submit', function (e) {
                e.preventDefault();
                $.get('{{ path('admin_custom_content_index') }}', $(this).serialize(), function (html) {
                    $('#ajax-container').replaceWith(
                            $(html)
                    );
                });
            });
        });

        $('#atlas_searcher_phrase').keyup(function () {
            delayedCallback(function () {
                $('#search-form').submit();
            }, 400);
        });
    </script>
{% endblock %}