<div class="portlet-title m-b-0 m-t-3">
    <div class="caption font-blue-ebonyclay">
        <i class="fa fa-file-pdf-o font-blue-ebonyclay"></i>
        <span class="caption-subject bold uppercase"> Dostępne załączniki w e-mailach (GOP/OGOP)</span>
    </div>
</div>

<table class="table table-bordered m-t-1">
    <tr>
        <th>Tytuł e-maila</th>
        <th>Data wysłania</th>
        <th>Link do załącznika</th>
    </tr>

    {% for attach in attachments %}

        <tr>
            <td>
                {{ attach.label }}
            </td>
            <td>{{ attach.created_at | date('d-m-Y H:i') }}</td>
            <td>
                <a href="/{{ attach.path }}" target="_blank">Link</a>
            </td>
        </tr>

    {% endfor %}

</table>