<form action="" class="form row ">
    <input type="hidden" name="group-process-id" value="{{ groupProcessId }}">
    <div class="form-group col-md-5">
        <input type="number" min="1" max="99" class="form-control" id="attr_985_986" name="attributes[985,986]" placeholder="" value="{{ attr_985_986 }}">
        <p><small>Autoryzacja na łączną ilość dni wynajmu pojazdu zastępczego</small></p>
    </div>
    <div class="form-group col-md-4">
        <input type="text" class="form-control" id="attr_985_317" name="attributes[985,317]"  placeholder="" value="{{ attr_985_317 }}">
        <p><small>Kod autoryzacji</small></p>
    </div>
    <div class="form-group col-md-3">
        <button data-color="blue" data-style="zoom-in" data-size="s" type="submit" class="btn btn-info ladda-button btn-block">
            <span class="ladda-label">
                <i class="fa fa-save static" aria-hidden="true"></i> Zapisz
            </span>
        </button>
    </div>
</form>