<table class="table-responsive table table-condensed">
    {% for key, value in info %}
        <tr class="">
            <td class="key-cell">{{ key }}</td>
            <td class="value-cell">{{ value }}</td>
        </tr>
    {% endfor %}
</table>
<style>
    .key-cell {
        font-weight: bold;
    }

    #case-list th {

        font-weight: normal;
        font-size: 12px;

    }
</style>