<div class="portlet light">
    <div class="portlet-title m-b-0">
        <div class="caption font-red-sunglo">
            <i class="fa fa-building font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> Wyszukaj sprawę</span>
            {#<span class="caption-helper"> by wyświetlić listę usług</span>#}
        </div>
    </div>
    <div class="portlet-body">
        <form role="form" id="case-services-search-form">
            <div class="form-group">
                <div class="input-group" style="width: 100%;margin-bottom: 20px">
                    <select class="search-type select2 form-control custom-width" name="search-type" id="search-type">
                        <option value="0">{{ 'Nr Sprawy'| trans }}</option>
                        <option value="1">{{ 'Nazwisko'| trans }}</option>
                        <option value="2">{{ 'Nr rejestracyjny'| trans}}</option>
                        <option value="3">{{ 'VIN'| trans}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" id="search-query" placeholder="{{ 'Wpisz frazę aby wyszukać...'|trans }}">
                    <span class="input-group-btn">
                        <button data-style="zoom-in" data-size="s" type="submit" class="btn ladda-button btn-primary">
                            <span class="ladda-label">
                                <i class="fa fa-search"></i> {{ 'szukaj'|trans|capitalize }}
                            </span>
                        </button>
                    </span>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="col-md-12 text-center">
    <h4>Lista Spraw</h4>
</div>
<div class="portlet col-md-12 " id="case-list" style="max-height: 600px; overflow: auto">

    <table class="table table-striped table-responsive opened">
        <thead>
        <th>Nr Sprawy</th>
        <th>Data utworzenia</th>
        <th>Imię i Nazwisko</th>
        <th>Nr Rej.</th>
        <th>Marka / Model</th>
        <th>Platforma</th>
        <th>Program</th>
        </thead>
        <tbody id="case-list-body">

        </tbody>
    </table>

</div>

