{# entity \DocumentBundle\Entity\File #}

<div class="portlet-title m-b-0 m-t-3">
    <div class="caption font-blue-ebonyclay">
        <i class="fa fa-file font-blue-ebonyclay"></i>
        <span class="caption-subject bold uppercase">{{ title }}</span>
    </div>
</div>

<table class="table table-bordered m-t-1">
    <tr>
        <th>Nazwa</th>
        <th>Data dodania</th>
        <th>Link</th>
    </tr>

    {% for document in documents %}

        {% for file in document.files %}

            <tr>
                <td>
                    {{ file.name }}
                </td>
                <td>{{ file.createdAt | date('d-m-Y H:i') }}</td>
                <td>
                    <a target="_blank" class="file-name" href="{{ path('download_file', {'uuid' : file.uuid}) }}">
                        <i class="{{ file.iconClass }}"></i>
                        <span class="entity-name">{{ file.name }}</span>
                    </a>
                </td>
            </tr>

        {% endfor %}

    {% endfor %}

    {{ extraRow | raw }}

</table>