
<div class="portlet light init-hidden" id="case-info-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue-chambray">
            <i class="fa fa-info-circle font-blue-chambray"></i>
            <span class="caption-subject bold uppercase"> Główne informacje</span>
            {#<span class="caption-helper"> TOP 5</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body">
        <div id="case-info-box">
        </div>
    </div>
</div>

<div class="portlet light init-hidden" id="preview-of-service">
    <div class="portlet-title m-b-0">
        <div class="caption font-yellow-crusta">
            <i class="fa fa-search font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase"> Informacje o usłudze</span>
            {#<span class="caption-helper"> by wyświetlić listę usług</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body">
    </div>
</div>

<div class="portlet light init-hidden" id="matrix-of-case">
    <div class="portlet-title m-b-0">
        <div class="caption font-green-haze">
            <i class="fa fa-money font-green-haze"></i>
            <span class="caption-subject bold uppercase"> Macierz</span>
            {#<span class="caption-helper"> by wyświetlić listę usług</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="relative">
            <div id="matrix-form">
                <div class="matrix-form-wrapper">
                    <div class="dynamic-widget" data-name="matrix" data-loader="true">
                        <div class="dynamic-widget-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>