<div class="portlet light init-hidden" id="case-services-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-green-jungle">
            <i class="fa fa-tasks font-green-jungle"></i>
            <span class="caption-subject bold uppercase"> Lista usług</span>
            {#<span class="caption-helper"> by wyświetlić listę usług</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body">
        <div id="case-services-table">
        </div>
    </div>
</div>

{% if not app.user.hasRole('ROLE_HIDE_NOTES') %}

<div class="portlet light init-hidden" id="case-notes-portlet">


    <div class="portlet-title m-b-0">
        <div class="caption font-blue">
            <i class="fa fa-sticky-note font-blue"></i>
            <span class="caption-subject bold uppercase"> Notatki</span>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>

    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body operational-page">
        <div class="notifications-wrapper">
            <div id="case-notes" class="no-edit-mode" data-prototype-phone-content-edit='{{ include('@Operational/Default/partials/note-phone-edit.html.twig') }}'>
            </div>
        </div>
    </div>
    {{ include('@Case/FormTemplate/templates/widget-email-preview.html.twig', {extraClass: 'note-inbox fixed-inbox not-reply', withClose: 1}) }}
</div>

{% endif %}