<div class="portlet-title m-b-0 m-t-3">
    <div class="caption font-blue-ebonyclay">
        <i class="fa fa-automobile font-blue-ebonyclay"></i>
        <span class="caption-subject bold uppercase"> Dostępne RZW</span>
    </div>
</div>

<table class="table table-bordered m-t-1">
    <tr>
        <th>Group ID</th>
        <th>Link do RZW</th>
    </tr>

    {% for rs_link in rs_list %}

        <tr>
            <td>
                {{ rs_link.groupProcessId }}
            </td>
            <td>
                <a href="{{ rs_link.url }}" target="_blank">Link</a>
            </td>
        </tr>

    {% else %}
        <tr>
            <td colspan="2">
                <p>Brak RZW</p>
            </td>
        </tr>
    {% endfor %}

</table>