{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}

<form id="flow-edit-form" class="form-horizontal edit-row-of-tool"
      action="{{ path('admin_case_process_flow_editor', {'processId' : processId, 'id' : id }) }}"
      method="POST" novalidate>

    {{ a2lixTranslations.displayTabs(form.translations) }}

    <div id="form-errors">
        {{ form_errors(form) }}
    </div>

    {{ form_row(form.variant) }}
    {{ a2lixTranslations.partialTranslations(form.translations, ['description'], false) }}

    {{ form_widget(form) }}
    {{ form_rest(form) }}

    <div class="form-actions">
        <div class="row">
            <div class="col-xs-12 m-t-1">

                <a id="cancel-edit-data" href="#" data-dismiss="modal"
                   class="btn btn-default pull-left">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</a>

                <button  id="edit-confirm" data-style="zoom-in" data-size="s" type="submit"
                        class="pull-right btn green p-x-3 ladda-button">
                    <span class="ladda-label">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>



