@import "../mixins/all.scss";
@import "../modules/all.scss";

html.iosFix {
  height: 100%;
  overflow: hidden;
}

html, body, body.page-md {
  background-color: rgba(233, 236, 243, 0.14);
  color: #5d5d5d;
}

body.page-md.login-page {
  background: linear-gradient(to right, #252832 0%, #3a3e50 100%);
}

html, body {
  background-color: #e9ecf3;
}

body.scrollDisabled {
  overflow: hidden;
}

body .overlay {
  position: fixed;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
  &.visible {
    opacity: 0.5;
    z-index: 1;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border: 0 none #ffffff;
  border-radius: 0;
  &:hover, &:active {
    background: #2e323f;
  }
}

::-webkit-scrollbar-track {
  background: #e9ecf3;
  border: 0 solid #bc1313;
  border-radius: 0;
  &:hover, &:active {
    background: #e9ecf3;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.no-gutter[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.relative {
  position: relative;
}

.page-logo {
  font-size: 1.4em;
  color: #fff;
}

.page-sidebar.navbar-collapse {
  position: fixed;
}

.page-logo a:hover, .page-logo a:focus {
  text-decoration: none;
}

.page-sidebar-closed .page-sidebar.navbar-collapse.collapse li.heading {
  padding: 0;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .sidebar-search.sidebar-search-bordered {
  margin-left: 12px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.light-font {
  font-family: $light-font-family;
}

.full {
  width: 100%;
}

.navbar-nav .nav-item {
  float: none;
}

.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

.align-center {
  text-align: center;
}

.display-inline-block {
  display: inline-block;
}

.pagination {
  display: inline;
}

.page-link {
  padding: 0.6rem 1rem;
}

.page-link:hover, .page-link:focus {
  text-decoration: none;
}

#logout {
  display: inline-block;
  padding: 9px;
  &.disabled {
    cursor: not-allowed;
  }
}

.control-label .required, .form-group .required {
  font-size: inherit;
  color: inherit;
  padding-left: 15px;
}

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$spacers: (
        0: (
                x: 0,
                y: 0
        ),
        1: (
                x: $spacer-x,
                y: $spacer-y
        ),
        2: (
                x: ($spacer-x * 1.5),
                y: ($spacer-y * 1.5)
        ),
        3: (
                x: ($spacer-x * 3),
                y: ($spacer-y * 3)
        )
) !default;

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x: map-get($lengths, x);
    $length-y: map-get($lengths, y);

    .#{$abbrev}-a-#{$size} {
      #{$prop}: $length-y $length-x !important;
    }
    // a = All sides
    .#{$abbrev}-t-#{$size} {
      #{$prop}-top: $length-y !important;
    }
    .#{$abbrev}-r-#{$size} {
      #{$prop}-right: $length-x !important;
    }
    .#{$abbrev}-b-#{$size} {
      #{$prop}-bottom: $length-y !important;
    }
    .#{$abbrev}-l-#{$size} {
      #{$prop}-left: $length-x !important;
    }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right: $length-x !important;
      #{$prop}-left: $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top: $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}

// Positioning

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.page-content {
  padding: 20px;
  //min-height: 0 !important;
}

.block-page-content-container.page-content-container {
  .page-content-row {
    display: block;
    font-size: 0;
  }
  .page-sidebar, .page-content-col {
    display: inline-block;
    font-size: 13px;
  }
  .page-content-col {
    width: calc(100% - 225px);
    font-size: 13px;
  }
}

.page-header .navbar .navbar-nav > li > a > i {
  top: 1px;
}

.page-header .navbar .navbar-nav > li > a {
  padding: 13px 30px;
  font-size: 1.5rem;
}

.breadcrumbs {
  h1 {
    font-size: 20px;

  }
  margin-bottom: 10px;
}

.portlet.light {
  padding: 10px;
  margin-bottom: 15px;

}

.login.page {
    display: table;
    height: 100vh;
    width: 100%;
    background: #252832;
    background: linear-gradient(to right, #252832 0%, #3a3e50 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252832', endColorstr='#3a3e50', GradientType=1);
    .login-page-logo {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px 20px;
      &:before {
        content: '';
        position: absolute;
        right: -30px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 70px solid transparent;
      }
      img {
        max-width: 130px;
        height: auto;
        -webkit-filter: drop-shadow(1px 1px 3px #222);
        filter: drop-shadow(5px 5px 5px #222);
      }
    }
  .nopadding {
    padding: 0!important;
  }
}
.message-wrapper {
  position: relative;
  height: 100%;
  .message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 350px;
    text-align: center;
    .regulations-icon {
      position: relative;
      color: #fff;
      font-size: 200px;
      height: 180px;
      &:before {
        line-height: 180px;
      }
    }
    .regulations-title {
      font-size: 26px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      font-family: "Open Sans Light";
    }
  }
}

.external-user-body {
  background-color: #3b3f51;
  .message-wrapper .message {
    position: relative;
  }

  overflow: hidden;

  .login-page-logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

.basic-template-wrapper {
  $checked-color: $blue;
  $unchecked-color: #ccc;
  $checkbox-height: 20px;
  $background-color:#fff;
  $font-color:#efefef;
  $duration: .5s;

  input#accept_regulations_accept {
    display: none;
    /*visibility: hidden;
    height: 1px;
    width: 1px;*/
  }

  input.urgent[type=checkbox]:checked + .checkbox-custom-label,
  .checkbox-custom-label.checked{
    border-color:$checked-color;




  }
  .checkbox-custom-label {
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * .1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease $duration/2;
    -o-transition: border-color ease $duration/2;
    -webkit-transition: border-color ease $duration/2;
    transition: border-color ease $duration/2;
    cursor:pointer;

    &::before, &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: $checkbox-height * .2;
      background-color: $checked-color;
      display: inline-block;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      content: ' ';
      -webkit-transition: opacity ease .5;
      -moz-transition: opacity ease .5;
      transition: opacity ease .5;
    }

    &::before {
      top:$checkbox-height * .72;
      left: $checkbox-height * .41;
      box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    &::after {
      top: $checkbox-height * .37;
      left: $checkbox-height * .05;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .portlet-title {
    display: none;
  }
  .papersheet {
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    padding: 20px 60px 40px 60px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    //height: 90vh;
    margin-top: 20px;
    width: 100%;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #32c5d2;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #218992;
    }
    li, p {
      font-size: 16px;
    }
    .regulations-form {
      background-color: #eaeaea;
      box-shadow: 0px -1px 6px rgba(0,0,0,0.16);
      padding: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;
      width: 100%;
      .alert-danger {
        position: absolute;
        top: -38px;
        z-index: 1;
        left: 0;
        right: 0;
        text-align: center;
      }
      .help-block {
        height: 40px;
        line-height: 40px;
        background-color: #fbe1e3;
        border-color: #fbe1e3;
        color: #e73d4a;
        margin-bottom: 0;
        padding: 0;
        bottom: 60px;
        left: 0;
        text-align: center;
        position: absolute;
        width: 100%;
      }
      .urgent-text {
        min-width: 200px;
        position: relative;
        left: 15px;
        bottom: 2px;
        user-select: none;
      }
      .custom-submit {
        position: relative;
        bottom: 7px;
        min-width: 100px;
      }
      .mt-checkbox, .mt-radio {
        font-size: 18px;
      }
    }
  }
}

.password-reset-message {
  text-align: justify;
  color: #fff;
  font-size: 16px;
  background-color: #e68409;
  padding: 20px 40px 20px 70px;
  width: 100%;
  position: relative;
  .fa {
    position: absolute;
    left: 30px;
    font-size: 40px;
    bottom: -20px;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
  }
}

.portlet-title.breadcrumbs {
  > .caption {
    .fa{
      font-weight: normal;
      font-size: 0.7rem;
      margin: 0 0.5rem;
      vertical-align: middle;
    }
    font-size: 1.3rem;
    line-height: 1.3rem;

  }
}

.tabbable-line > .tab-content {
  padding: 2rem 0 0 0;
}

.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
  margin: 0;
  background-color: #f2f6f9;
  text-indent: 4px;
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
  background: #e0eef9 !important;

}

.page-sidebar-closed .page-header-inner {
  .menu-toggler.sidebar-toggler {
    float: left;
  }
}


@media (max-width: 992px) {
  .external-user-body {
    .basic-template-wrapper .papersheet {
      padding-left: 25px;
      padding-right: 25px;
    }
    .page-container {
      padding-bottom: 20px;
      margin-top: 0!important;
    }
    .wrapper {
      display: inline-block;
      height: auto;
    }
    .message-wrapper {
      height: auto;
      padding-left: 0;
      .message {
        position: static;
        margin-top: 100px;
        height: 200px;
        width: 100vw;
        margin-left: 0;
        padding: 0 20px;
        .regulations-title {
          font-size: 18px;
        }
        .regulations-icon {
          font-size: 70px;
          height: 70px;
          &:before {
            line-height: 70px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    margin: 0 0;
  }
  .page-content {
    padding-top: 65px;
  }
  .page-header .navbar-collapse {
    margin-top: 50px;
  }
  .page-header .navbar-fixed-top {
    padding: 5px 15px;
  }
  .page-header .topbar-actions {
    top: 10px;
  }
  .page-header .navbar-collapse .navbar-nav .more-dropdown-sub > a {
    padding: 17px 25px !important;
  }
  .page-header .navbar-collapse .navbar-nav .more-dropdown-sub > a:after {
    top: initial;
  }
  .page-sidebar-closed .page-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    display: none !important;
  }
  .page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}

#custom-process-modal {
  &.only-info {
    #custom-btn-cancel, #custom-btn-confirm {
      display: none;
    }
    #custom-btn-ok {
      display: block !important;
    }
  }
  .note {
    p {
      margin: 0 0 10px;
    }
  }
}

.center-form.modal .modal-dialog {
  margin-left: 25%;
}

@media (min-width: 768px) {
  .touch-only {
    display: none
  }
  .modal {
    margin: 9px auto;
  }
  .modal.wide .modal-dialog {
    width: 90%;
  }
  .modal.fullscreen {
    .modal-dialog {
      width: 100% !important;
      margin: 0;
    }
    .modal-body {
      padding: 0 15px;
      background-color: #fff;
    }
    .modal-content {
      border: none;
    }
    padding: 0 !important;
    margin: 40px 0 0 0;
  }
}

.icon-pagination {
  &::before {
    clear: both;
  }
  display: inline-block;
  margin: 3rem 15px 1rem 15px;
}

.page-head .page-toolbar {
  margin-bottom: 10px;
}

.page-content .page-toolbar {
  .smaller-btn {
    padding: 4px 10px;
  }
}

//OVERRIDE v4-layout

.page-container {
  padding: 10px 10px 0;
}

.page-header.navbar .page-top {
  height: auto;
}

.modal-header {
  background: #fafafa;
  padding: 10px 15px;
}

.modal-label {
  vertical-align: middle;
}

.modal .modal-header .close {
  /*margin-top: 1rem !important;*/
  margin-top: 5px;
}

.dropdown-menu {
  .dropdown-header {
    background: #414f59;
    color: #fff;
    width: 100%;
    padding: 4px 16px;
    font-family: $primary-font-family;
    font-size: 1.1rem;
  }
  li {
    a {
      background: #536470;
      color: #eee;
      font-size: 1.25rem !important;
      &:hover, &:focus {
        background: darken(#536470, 3%) !important;
      }
    }
  }

}

.alert {
  padding: 9px 15px;
}

.alert-success {
  background-color: #26C281;
  border-color: #26C281;
  color: #fff;
}

.alert, .thumbnail {
  margin-bottom: 10px;
}

.portlet.light {
  > .portlet-title {
    &.no-margin {
      position: absolute;
      margin-bottom: 20px;
      border-bottom: 0;
      margin-left: 5px;
      margin-top: 5px;
    }
    .caption {
      a {
        color: inherit;
      }
      padding: 6px 0;
    }
    padding: 0;
    min-height: auto;
    margin-bottom: 20px;
  }
}

.tooltip-wrapper {
  display: inline-block;
}

#documentId {
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
}

#flash-messages {
  .alert {
    button {
      margin-top: 0.4rem;
    }
  }
}

@media (min-width: 992px) {
 /* .page-content-wrapper .page-content {
    margin-left: 235px;
    margin-top: 45px;
    min-height: 600px;
    padding: 10px 0 0 10px;
  }*/
}

.file-name {
  i {
    margin-right: 0.5rem;
    font-size: 1.8rem;
    vertical-align: -0.2rem;
  }
}

.operational-page.public-mode, .dark-body {
  background: rgba(37, 40, 50, 1);
  background: -moz-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37, 40, 50, 1)), color-stop(100%, rgba(58, 62, 80, 1)));
  background: -webkit-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
  background: -o-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
  background: -ms-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
  background: linear-gradient(to right, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
  .fixed-logo {
    z-index: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    img {
      max-height: 100%;
    }
  }
}

html.no-logon {
  background: #f1f1f1;
  .alert.alert-danger {
    background-color: #e20b0b;
    color: #fff;
    font-weight: bold;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;;
    width: 275px;
    height: auto;
    padding-right: 30px;
  }
  .close {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 10px;
  }
  .login-page-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    &:before {
      content: '';
      position: absolute;
      right: -30px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 70px solid transparent;
    }
    img {
      max-width: 130px;
      height: auto;
      -webkit-filter: drop-shadow(1px 1px 3px #222);
      filter: drop-shadow(5px 5px 5px #222);
    }
  }
  .wrapper {
    background: rgba(37, 40, 50, 1);
    background: -moz-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37, 40, 50, 1)), color-stop(100%, rgba(58, 62, 80, 1)));
    background: -webkit-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
    background: -o-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
    background: -ms-linear-gradient(left, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
    background: linear-gradient(to right, rgba(37, 40, 50, 1) 0%, rgba(58, 62, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252832', endColorstr='#3a3e50', GradientType=1);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .login-title {
    margin-bottom: 30px;
    user-select: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-left: 40px;
    &.no-key {
      &:before {
        content: none;
      }
    }
    &:before {
      content: '';
      background: url('../images/web/images/custom/key.svg') no-repeat center center / 55%;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -4px;
      left: -110px;
      right: 0;
      z-index: 3;
      margin: 0 auto;
    }
  }
  .reset-title {
    color: #fff;
    margin-bottom: 30px;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    p {
      margin: 10px 0;
      small {
        color: #fff;
      }
    }
  }
  .errors-reset-form {
    .list-unstyled {
      li {
        text-align: center;
        color: #fff;
        span {
          color: red;
        }
      }
    }
  }
  .login-container {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    position: relative;
    min-height: 280px;
    .title-container {
      min-height: 72px;
    }
    .input-group {
      width: 100%;
      position: relative;
      input {
        padding-left: 35px;
      }
      i.fa {
        position: absolute;
        width: 18px;
        height: 34px;
        padding-left: 10px;
        font-size: 20px;
        color: #3b3f51;
        z-index: 4;
        line-height: 34px;
        left: 0;
      }
    }
    .login-button {
      background-color: #e68409;
      transition: all 0.2s ease-in-out;
      color: #fff;
      font-weight: 600;
      border-bottom: 1px solid transparent;
      &:hover {
        background-color: darken(#e68409, 5%);
        border-bottom: 1px solid darken(#e68409, 10%);
      }
      &:active {
        background-color: darken(#e68409, 10%);
        border-bottom: 1px solid darken(#e68409, 15%);
      }
    }
    hr {
      border-color: #fff;
      border-width: 2px;
      margin: 5px 0;
      position: absolute;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 5px;
      z-index: 1;
    }
  }
}

#bottom-spinner {
  .sk-fading-circle {
    margin: 0 auto;
    width: 70px;
    height: 70px;
  }
  position: fixed;
  z-index: 99999;
  right: 50%;
  bottom: 50%;
  display: none;
}

canvas {
  &:focus {
    outline: none;
  }
}

.text-small {
  font-size: 10px;
}

.toast-top-right {
  top: 50px;
}

#project-version{
  width: 400px;
  position: fixed;
  bottom: 12px;
  left: 50%;
  margin-left: -200px;
  display: block;
  text-align: center;
  color: #acaeb9;
  z-index: 9999999;
}

#toast-container {
  > div.main-notification {
    opacity: 0.9;
    .toast-close-button {
      background-image: none !important;
    }
    .toast-close-button {
      text-indent: 0;
      font-size: 14px;
    }
  }
  .toast.ecall-notification {
    width: 400px;
    font-size: 18px;
    background-color: $primaryDarkColor;
    &:hover {
      opacity: 1;
    }
    .toast-progress {
      background-color: $orange;
      opacity: 1;
    }
  }
}

#commetchat{
    background-color: #3B3F51;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    font-family: "Open Sans" !important;
    z-index: 3;
}

#process-search-modal {
  &.overlay-visible {
    background-color: rgba(0, 0, 0, 0.16);
  }
  .modal-content {
    margin: auto!important;
  }
}

#process-search {
  position: fixed;
  height: 40px;
  bottom: 0;
  left: 2px;
  z-index: 9999999;
  #process-search-form {
    position: absolute;
    margin: auto;
    left: 8px;
    top: 0;
    bottom: 0;
    height: 27px;
  }
  .modal-content{
    margin: 50px auto;
  }
  input[type="text"]{
    height: 27px;
    font-size: 14px;
    width: 300px;
    color: #777;
    border: none;
  }
  i.fa{
    position: absolute;
    right: 7px;
    top: 7px;
    color: #777;
    cursor: pointer;
  }
}

.p-r-1px{
  padding-right: 1px !important;
}

.p-l-1px{
  padding-left:1px !important;
}

.select2-container--bootstrap .select2-selection__clear{
  z-index: 99999999;
  display: block;
  position: absolute;
  right: 15px;
  top: 4px;
  padding: 0 2px;
  background-color: #fafafa;
}

#tool-editor-form {
  .select2-container--bootstrap .select2-selection__clear{
    top: 8px;
  }
}

.float-right {
  float: right;
}

@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute !important;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.atlas-upload-file-wrapper {
  //&.dragover {
  //  min-height: 85px;
  //  background: url('/bundles/web/images/upload.svg') no-repeat center;
  //  .btn, table {
  //    opacity: 0;
  //    z-index: -1;
  //  }
  //}
  table {
    margin-bottom: 0;
    .template-download {
      &.done {
        .name {
          border-left: 5px #1bbc9b solid;
        }
      }
      &.fail {
        .name {
          border-left: 5px #e43a45 solid;
        }
      }
      td {
        padding: 6px;
        &.name {
          width: 30%;
        }
        &.size {
          width: 20%;
        }
        &.progress-td {
          width: 40%;
          .progress {
            margin: 0;
          }
        }
        &.delete {
          width: 10%;
        }
        &.name, &.size, &.progress-td {
          padding-top: 10px;
        }
      }
    }
  }
  &.readonly-file {
    .col-xs-9.presentation-col {
      width: 100%;
    }
    table {
      .delete button {
        display: none;
      }
    }
  }
}


.upload-file-widget {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .atlas-upload-file-wrapper {
    padding: 10px 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .action-btn {
      .btn {
        width: 100%;
        display: block;
        line-height: 32px;
        padding: 0;
        height: 32px;
        i {
          margin-right: 6px;
        }
      }
    }
    .row {
      height: 100%;
      .presentation-col {
        max-height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 5px;
        }
      }
    }
  }
}


#body-of-reserved-table {
 .label {
   margin: 2px;
   cursor: pointer;
   display: inline-block;
 }
}

#toast-container {
  & > .no-icon {
    background-image: none !important;
    padding: 15px !important;
  }
}

.record-audio {
  width: 100%;
  margin: 10px 0 0;
  display: block;
}

.ie-warning {
  height:500px; position: absolute;top:50%;margin-top:-250px;
}

.limit-height-400 {
  max-height: 400px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
}

.file-manager-wrapper {
  position: relative;
  .upload-file-widget {
    position: relative;
    .atlas-upload-file-wrapper {
      position: relative;
      background-color: #fafafa;
      padding: 10px;
      overflow: hidden;
      overflow-y: auto;
      max-height: 200px;
      &::-webkit-scrollbar {
        width: 8px;
      }
    }
    .file-list {
      max-height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
      .mt-overlay-4-icons {
        border: 1px #3c3f51 solid;
      }
    }
  }
}

.blog-post-content {
  img {
    max-width: 100%;
  }
}

.label-green {
  background-color: #1bbc9b;
}

.m-l-05{
  margin-left: 0.5rem !important;
}
.m-r-05{
  margin-right: 0.5rem !important;
}

.swal-overlay{
  z-index: 9999999;
}

.info-content p{
  font-size: 1.8rem !important;
  line-height: 1.7;
}

@media all {
  .page-break	{ display: none; }
}

@media print {
  .page-break	{ display: block; page-break-before: always; page-break-inside: avoid; position: relative}
}

@media print {

  .wrapper-atlas-viewer {

    .management-tab-content {
      border: 0;
      padding: 0;
      margin: 0;
      .portlet {
        .row {
          .col-md-3, .col-md-5 {
            padding: 0;
            margin: 0;
          }

        }
      }
      table {
        tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
          padding: 5px;
        }
      }

    }

    .management-nav-tabs {
      display: none;
    }
    .management-tab-content {
      .searcher-block {
        display: none;
      }
    }
    .case-preview-actions {
      display: none;
    }
    .case-services-portlet {
      display: none;
    }
    .case-notes-portlet {
      display: none;
    }
    .alert.alert-info {
      display: none;
    }
    .portlet-title .tools {
      display: none;
    }
  }

  #project-version {
    display: none;
  }

  .sf-toolbar {
    display: none !important;
  }
}
