#process-chart {
  border: solid 1px black;
  width: 100%;
  height: 500px
}

.submit-chart {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid black;
  z-index: 999;
}
#attribute-in-design{
  .label-like{
    margin-top: 0.3rem;
  }
}
#attribute-parents{
  li{
    padding-right: 0px;
    padding-bottom: 5px;
    margin-right: -5px;
  }
  .badge.attribute-badge{
    &.root{
      background: #555;
      color: #fff;
      border-color: #555;
    }
    padding: 6px 10px;
    height: 26px;
    background: #f5f5f5;
    color: #555;
    border: 1px solid #ddd;
  }
  .go-to-parent:hover .badge{
    background-color: #F7CA18;
    color: #fff;
  }
}

#rendered-form2 {
  .validation-error {
    border: 1px solid red;
  }
}

#service-editor-tasks{
  .mt-list-container{
    padding-top: 0px;
  }
  #form-result{
    margin-top: 0px;
  }
  #gop{
    #rental-automat{
      padding: 10px 15px;
      background: #eee;
    }
    padding: 0 0 20px 0;
    border-top: 2px solid #ddd;
    background: #fafafa;
    position: absolute;
    bottom: 0px;
    left: 0px;
    //margin: 0 15px;
    width: 100%;
  }
  .list-item-content {
    h4 {
      margin: 0 0 10px 0;
    }
    li {
      list-style: inside;
    }
  }
  .form-check-label{
    vertical-align: 2px;
  }
  .form-label{
    float: right;
    margin-top: 6px;
  }
}
.open-program-card-modal{
  font-weight: bold;
}