$primaryBlue: #0064b0;
$primaryDarkColor: #3B3F51;

$pageHeaderHeight: auto;

#summary-tools.shrinked {
  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #818cae;
  }
  &::-webkit-scrollbar-track {
    background-color: #3b3f51;
  }
  .dropdown {
    height: 36px;
    float: none;
    vertical-align: top;
    .tooltip {
      position: fixed;
    }
  }
}

.page-header.navbar {
  height: $pageHeaderHeight;
  min-height: $pageHeaderHeight;
  z-index: 9999901 !important;
  .top-menu {
    padding: 0;
    max-height: 43px;
  }
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown {
  height: $pageHeaderHeight;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle, #logout {
  padding: 9px;
}

.page-header.navbar .page-logo {
  height: $pageHeaderHeight;
}

.page-header.navbar .menu-toggler.responsive-toggler {
  margin: 14px 14px 0 6px;
  width: 25px;
  height: 15px;
  background-position: center center;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
  margin: 0 20px;
  height: 40px;
  &.invisible {
    opacity: 0;
    position: relative;
    z-index: -1;
  }
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-md .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse, .page-md .page-sidebar.navbar-collapse {
  background-color: inherit;
  box-shadow: none;
}

#side-menu-container, #side-menu-search {
  background-color: #f2f6f9;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .03);
  margin-bottom: 10px;
}

#side-menu-container {
  background-color: #f2f6f9;
}

#side-menu-search {
  .input-icon {
    .form-control {
      border-color: #fff;
    }
  }
}

.page-header-fixed .page-container {
  margin-top: 0;
  padding-top: 40px;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
  background: $blue;
  color: #fff;
}

.page-sidebar .page-sidebar-menu > li.open > a > i, .page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before, .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before, .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before {
  color: #fff !important;
}

/* ARROW EXPANDED */
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before {
  color: #fff!important;
}

/* HOVER LI */
#user-tools-menu > li.nav-item .nav-item a:hover {
  background-color: rgba(53, 120, 162, 0.56) !important;
  color: #fff!important;
}

#user-tools-menu > li.nav-item a:hover {
  background-color: #336280!important;
  color: #fff!important;
}

/* HOVER LI */
#user-tools-menu a.nav-toggle {
  box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75)!important;
}

.page-sidebar .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover {
  background: lighten($primaryDarkColor, 10%) !important;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
  padding: 6px 12px;
}

.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a {
  font-size: 12px;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
  padding: 8px 12px;
  background-color: $blue;
  margin: 0;
  color: #fff;
}

.page-sidebar .page-sidebar-menu>li>a>.title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title {
  font-size: 13px;
}

#user-tools-menu > li > ul > li {
  margin-top: 0!important;
  border-top: 1px solid #e4e4e4;
  &.first {
    border-top: none;
  }
  &.last {
    border-bottom: none;
  }
}

.page-sidebar .page-sidebar-menu .sub-menu li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a > i {
  font-size: 14px;
  margin-right: 5px;
}

.page-sidebar .btn {
  margin: 0 0 10px 0;
}

.customMenuWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  .page-sidebar-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -7px;
    overflow-y: scroll;
  }
}

.page-sidebar, .page-sidebar .page-sidebar-menu {
  margin-top: 0;
}

.page-sidebar .page-sidebar-menu {
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-header.navbar .page-actions {
  margin: 6px 0 4px 10px;
  padding: 0;
  float: left;
  .list-inline {
    margin-bottom: 0;
  }
}

.page-header-inner {
  a {
    color: #fff !important;
  }
}

.page-header.navbar .menu-toggler {
  background-image: url('../bundles/web/css/vendor/metronic/img/sidebar-toggle-light.png');
}

.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed
.page-sidebar:hover .page-sidebar-menu>li.active>a {
  padding-left: 12px;
}

#logout:hover {
  background-color: #3f4457;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.nav-item[data-open-it="true"] {

}

.page-header {
  .page-actions {
    li {
      padding: 0;
      position: relative;
      bottom: 2px;
    }
    a {
      span {
        font-size: 0;
      }
      i {
        font-size: 16px;
        line-height: 26px;
        margin: 0 !important;
        display: block !important;
        width: auto;
      }
      width: 28px;
      height: 28px;
      display: inline-block;
      color: #fff;
      text-align: center;
      padding: 0 !important;
      margin-right: 3px;
      box-shadow: none !important;
    }
  }
}

@media (min-width: 992px) {

 /* .page-sidebar.navbar-collapse {
    padding-top: 45px;
  }*/

  .page-content-wrapper .page-content {
    padding-top: 0;
  }

  /*$sidebarWidth: 215px;

  .page-content-wrapper .page-content {
    margin-left: $sidebarWidth;
  }
  .page-sidebar {
    width: $sidebarWidth;
  }*/
}

.page-header.navbar .top-menu #summary-tools.navbar-nav>li.dropdown
{
  &:hover {
    .micro-remove-btn {
      opacity: 1;
    }
  }
  .micro-remove-btn {
    opacity: 0;
    @include transition(opacity 0.3s ease);
  }
  .dropdown-toggle {
    margin: 0;
    padding: 0 5px;
    display: block;
    line-height: 38px;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
    .badge {
      min-width: 22px;
      padding: 0 4px;
      height: 22px;
      line-height: 22px;
      border-radius: 0!important;
    }
    + .tooltip {
      //white-space: nowrap;
      width: 200px;
      .tooltip-inner {
        max-width: inherit;
      }
    }
  }
}

.micro-remove-btn {
  width: 16px;
  padding: 0 !important;
  height: 16px;
  margin: 0;
  position: absolute;
  line-height: 16px;
  border: 0;
  i {
    width: auto;
    padding: 0;
    font-size: 12px;
    line-height: 16px !important;
    height: 16px;
    display: block !important;
  }
}

.sidebar-mobile-toggler {
  cursor: pointer;
}

@media (max-width: 991px) {

  .page-container {
    margin: 40px 0 0 0; /*!important;*/
    #side-menu-container {
      margin:0;
      .page-sidebar-menu {
        margin-top: -2px;
      }
    }
  }

  .page-header.navbar .menu-toggler.sidebar-toggler.responsive-toggler {
    display: inline-block;
  }

  //Poprawa menu dla mobile

  .page-sidebar-wrapper {
    position: fixed;
    top: 38px;
    left: 0;
    bottom: 0;
    background-color: #e9ecf3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);
    z-index: 999;
    @include translate(-105%, 0);
    transition: all 0.5s ease;
    left: -500px;
    &.active {
      @include translate(0, 0);
      min-width: 233px;
      left: 0;
    }
    .page-sidebar.navbar-collapse.collapse {
      /*padding: 20px;*/
      padding: 0;
      margin: 0;
      max-height: 100%;
      display: block !important;
      overflow: auto !important;
      #side-menu-search {
        position: static;
        z-index: 1;
        top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 0px 49px -19px rgba(0,0,0,0.67);
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
      }
    }
  }


}

@media (max-width: 767px) {


  .page-container {
    margin: 0 !important;
  }

  .page-sidebar-wrapper {
    top: 0;
    .page-sidebar.navbar-collapse.collapse {
      margin: 0 !important;
    }
  }

  // menu user and summary
  .page-header.navbar {
    padding-bottom: 10px;
    .page-top {
      height: 0;
      transition: height 0.25s ease-in-out;
      &.mobile-header-expanded {
        transition: height 0.25s ease-in-out;
        height: 58px;
        .top-menu {
          opacity: 1;
          transition: opacity 1s ease-in-out;
        }
      }
      .top-menu {
        /*display: flex !important;*/
        float: initial;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding: 0 10px !important;
        margin-top: 20px;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        .nav {
          max-width: 30%;
        }
        #summary-tools.navbar-nav {
          min-height: min-content;
          display: flex;
          overflow-y: hidden;
          margin: 0;
          float: left!important;
          width: 70%;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          li.dropdown {
            white-space: nowrap;
            font-size: 20px;
            min-width: 100px;
            .summary-link {
              .fa {
                font-size: 20px;
              }
              span.badge {
                height: 30px;
                box-sizing: border-box;
                line-height: 30px;
                min-width: 50px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .page-logo {
      margin-top: 10px;
    }
    .custom-chart-tooltip-wrapper {
      width: 70%;
      height: 60px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.50);
      visibility: hidden;
    }
    .custom-tooltip-wrapper {
      width: 100%;
      height: 124px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.50);
      visibility: hidden;
      &.disabled {
        opacity: 0;
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
      }
    }
    .tooltip-drag, .chart-tooltip-drag {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
      font-size: 20px;
      color: #fff;
      background: url('../bundles/web/images/touch_drag.png') no-repeat center center;
      min-height: 40px;
      background-size: 40px;
      visibility: hidden;
      z-index: 2;
    }
    .chart-tooltip-drag {
      top: 25px;
    }
    .tooltip-drag {
      top: 90px;
    }
    .tooltip-drag-text, .chart-tooltip-drag-text {
      font-size: 12px;
      color: #fff;
      visibility: hidden;
      text-align: center;
      position: absolute;
      width: 100%;
    }
    .chart-tooltip-drag-text {
      top: 4px;
    }
    .tooltip-drag-text {
      top: 50px;
    }
    .page-actions {
      position: relative;
      width: 100%;
      height: 40px;
      overflow: hidden;
      margin: 20px 0 0 0;
      #user-top-menu {
        white-space: nowrap;
        padding: 0 20px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        li a {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          i {
            font-size: 20px;
            line-height: 38px;
          }
        }
      }
    }
    .menu-toggler.responsive-toggler {
      margin: 0;
      width: 50px;
      height: 50px;
      background-position: center center;
      background-size: 25px;
    }
  }

  .page-header.navbar .top-menu .navbar-nav {
    margin: 0;
  }
}

.page-logo .brand img {
  height: 40px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: block;
}

#report-screenshot-overlay {
  z-index: 999999;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.metronic-portlet {
  a {
    color: #fff;
  }

  .portlet-title > .tools > a.reload {
    background-image: url('../bundles/web/images/portlet-reload-icon-white.png') !important;
  }
}

#user-top-menu {
  //.divider-menu {
  //  //font-size: 0;
  //  span {
  //    display: inline-block;
  //    width: 1px;
  //    font-size: 1px;
  //    background-color: #fff;
  //    margin: 0 10px;
  //    height: 24px;
  //    line-height: 32px;
  //  }
  //}
}