.page-content-row .page-sidebar #tools-menu.navbar-nav {
  .sub-menu {
    li {
      > a {
        background: #fcfcfc;
        font-size: 13px;
        font-weight: normal;
        box-shadow: none;
        border-radius: 0;

      }
      &.active a {
        background: #009dc7;
        color: #fff;
      }
      a:focus, a:hover {
        background: lighten(#009dc7, 5%);
        color: #fff;
      }
    }
    margin-bottom: 0;
    box-shadow: none;
  }
  > li.active > a, > li.active > a:hover, > li.active > a:focus {
    background: #eee;
    color: #6c7b88;
  }
  > li > a, > li > a:hover, > li > a:focus {
    background: #eee;
    color: #6c7b88;
  }
}

.operational-dashboard {
  background: #37ca1c; /* fallback for old browsers */
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken(#37ca1c, 5%);
  }
  .wrapper {
    height: 100%;
  }
}

