.btn-icon-only {
  width: 28px;
  height: 28px;
  padding: 3px 0px;
}

.modal-dialog {
  margin: 50px auto;
  .modal-header:hover {
    cursor: move;
  }
}

// jstree.js

.jstree-default .jstree-node, .jstree-default .jstree-icon {
  background-image: url('/bundles/web/css/vendor/jstree/default/32-v2px.png');
}

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/bundles/web/css/vendor/jstree/default/throbber.gif") center center no-repeat;
}

.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/bundles/web/css/vendor/jstree/default/throbber.gif") center center no-repeat;
}

.jstree-default .jstree-themeicon-custom {
  background-image: none;
}

.jstree-default .jstree-last {
  background-image: initial;
}

.jstree-default-large .jstree-icon, .jstree-default .jstree-icon{
  font-size: 18px;
}

.vakata-context.jstree-contextmenu.jstree-default-contextmenu {
  z-index: 2;

}

ul.vakata-context {

  background: #f5f5f5 !important;
  border: 1px solid #979797 !important;
  box-shadow: 2px 2px 2px #999 !important;

  .vakata-context-separator>a {
    background-color: #e2e3e3;
  }

  li > a {
    padding: 0 2em;
    .vakata-contextmenu-sep {
      display: inline-block;
      background-color: #e2e3e3;
    }
  }
}


// taginputs


.bootstrap-tagsinput {
  background-color: #fff;
  //border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

table.dataTable thead .sorting_desc {
  background: url('/bundles/web/images/sort_desc.png') center right no-repeat;
}

table.dataTable thead .sorting {
  background: url('/bundles/web/images/sort_both.png') center right no-repeat;
}

table.dataTable thead .sorting_asc {
  background: url('/bundles/web/images/sort_asc.png') center right no-repeat;
}

select.custom-width {
  & + .select2-container.select2-container--bootstrap {
    width: inherit !important;
  }
}

.select2.custom-width + .select2 {
  .select2-selection__clear {
    top: 8px;
  }
}

.swal-icon--success__ring,
.swal-icon.swal-icon--success
{
  border-radius: 50% !important;
}