@media only screen and (min-width: 320px) and (max-width: 480px) {
  #tool-row-count {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .username {
    white-space: nowrap;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .navbar-fixed-top {
    position: absolute;
  }
  #process-search {
    display: none;
  }
  #mobileView {
    overflow: hidden!important;
  /*  #page-main-content {
      max-height: 50vh;
    }*/
    .disabled-on-mobile {
      background-color: #fff;
      width: 100vw;
      height: 500px!important;
      position: absolute;
      z-index: 99999999;
      left: 0;
      right: 0;
      bottom: 0;
      color: #666;
      font-size: 20px;
      font-family: "Open Sans Light";
      text-align: center;
      p {
        padding: 0 10px;
      }
      img {
        margin: 20px auto;
        width: 68px;
        height: 68px;
        display: block;
      }
    }
  }
  .page-container {

  }
  .page-header-fixed .page-container {
    background-color: #fff;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0!important;
      height: 10px;
    }
  }
  body {
    background-color: #fff;
    overflow-y: auto!important;
  }
  .tabbable-line > .nav-tabs > li {
    width: 100%;
    text-align: center;
    &.disabled {
      display: none;
    }
  }

  .page-header-fixed .page-container {
    padding: 0!important;
  }
  .operational-page .page-container .page-content-wrapper .page-content {
    display: inline-block!important;
    padding: 0!important;
  }
  #ticket-groups {
    max-height: initial!important;
  }
  .operational-page .page-container {
    padding-top: 0;
    .page-content-wrapper .page-content {
      display: initial;
    }
  }

  .page-sidebar-wrapper .page-sidebar.navbar-collapse.collapse {
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
  .customMenuWrapper .page-sidebar-menu {
    position: static;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  body.public-mode.operational-page .page-container .page-content-wrapper .page-content {
    width: 100%;
    .ie-warning {
      height: initial;
      top: 0;
      margin-top: 0;
      //height:500px; position: absolute;top:50%;margin-top:-250px;
    }
  }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .operational-page.public-mode {
    .page-container .page-content-wrapper .page-content {
      display: inline-block !important;
      padding: 0 !important;
    }
  }
}