$primaryDarkColor: #3B3F51;
#tool-helper {
  p {
    font-size: 12px;
    padding: 0 20px;
    margin: 10px 0;
  }
}
.tool-table {
  a {
    color: inherit;
  }

  .header-name {
    margin: 0 0 5px 0;
    padding-right: 10px;
    position: relative;
  }

  .header-filter-box {
    input {
      border: 1px solid #ebebeb;
      align-self: auto;
      padding: 4px 8px;
      height: 28px;
      font-size: 10px;
      outline: 0 !important;
    }
    select + .select2-container{
      width: 100% !important;
    }
  }

  .subquery-toggle {
    a {
      &:hover, &:focus {
        background: lighten($primaryDarkColor, 10%);
      }
      &.active {
        background: lighten($primaryDarkColor, 20%);
      }
      display: block;
      height: 100%;
      width: 100%;
      padding: 8px 10px;
      text-align: center;
      background: $primaryDarkColor;
    }
    color: #fff;
    padding: 0;
  }
  .subquery-result {
    p.subquery-desc {
      margin: 2px 0;
    }
    .alert {
      padding: 7px 15px;
      margin: 5px 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }
  }
  .tool-filter {
    font-weight: normal;
    font-family: $primary-font-family;
  }
}

#tool-description {
  margin-top: 0;
  &.pull-left {
    margin-bottom: 0;
  }
  .tooltips {
    cursor: help;
  }
}

.theme-multiselect {
  .ms-container .ms-list {
    border: 1px solid #c2cad8;
  }
  .ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    line-height: 24px;
  }
  .ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    color: #fff;
    background-color: #32c5d2;
  }
  .ms-container {
    width: 100%;
  }
}

//user dashboard

.tool-tiles {
  padding: 1rem 0 0 0;
  a:hover {
    text-decoration: none;
    .mt-head-icon i {
      @include scale(1.15);
    }
  }
  > div {
    margin-bottom: 1rem;
    height: 120px;
  }
  .mt-widget-3 {
    .mt-head {
      padding: 0 0 5px;
      margin: 0;
      .mt-head-icon {
        font-size: 45px;
        line-height: 1.3em;
        padding: 10px 0 5px 0;
        margin: 0;
        i {
          @include transition(all 0.3s ease);
        }
      }
      .mt-head-desc {
        font-size: 16px;
        margin: 0 4px;
        table {
          width: 100%;
          td {
            height: 35px;
            font-size: 1.35rem;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

//TABLES

.fixedHeader-floating {
  .fit.sorting_disabled {
    width: auto !important;
  }
}

#tool-table-box{
  margin-top: -2px;
}
#tool-table-actions {
  a.btn {
    padding: 6px 12px;
    box-shadow: none;
  }
}

#filters-row {
  th {
    .col-xs-12 {
      padding: 0 15px !important;
    }
    div[class*="col-"] {
      padding: 0 2px;
    }
  }
  .form-control {
    padding: 4px 6px;
  }
}

.embed-tool {
  background-color: #fff;
  .embed-tool-hide {
    display: none;
  }
  #tool-edit-modal {
    margin: 0;
    .modal-dialog.form-builder-modal {
      margin: 0 auto;
      width: 90%;
    }
  }
  #tool-table-container {
    //padding: 5px 0;
    width: 100%;
    .scroll-box-fixed-head {
      overflow-y: hidden !important;
    }
    #atlas_tool_filters {
      margin: 0;
    }
    .scroll-box-table {
      &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
      }
    }
    #tool-table {
      thead{
        opacity: 0;
      }
      tr {
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: rgba(233, 236, 243, 0.70);
        }
        td {
          height: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    #scroll-box-head {
      th {
        background-color: darken($blue, 15%);
        vertical-align: top;
        padding-right: 10px;
        a.change-order {
          right: -3px;
          top: 4px;
        }
        .active-filters {
          color: #5bf3ff;
          span:not([data-filter-column]) {
            display: none;
          }
        }
      }
    }
  }
  #filters-div {
    display: block;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    #atlas_tool_filters .row {
      margin-left: 0;
      margin-right: 0;
    }
    .flex-container {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;

    }
    .embed-input-name {
      color: $blue;
      display: inline-block;
      font-size: 10px;
      order: 0;
      flex: 1 1 auto;
      flex-basis: 30%;
      align-self: auto;
      white-space: nowrap;
      height: 22px;
      margin: 0;
      line-height: 21px;
      padding-right: 10px;
    }
    .filters-form-group {
      border: none;
      padding: 0;
      background: #fff;
      input, select, textarea {
        z-index: 1;
        border: 1px solid #ebebeb;
        order: 0;
        flex: 2 1 auto;
        flex-basis: 70%;
        align-self: auto;
      }
    }
  }
  .restoreToDefaults {
    margin-top: 7px;
    margin-right: 10px;
    position: relative;
    border: none;
    background-color: $blue;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
    outline: none;
    &:hover {
      background-color: darken($blue, 10%);
    }
    &:active {
      background-color: darken($blue, 18%);
    }
  }
}

#filters-div {
  padding: 0;
  margin: 0 0 0.5rem 0;
  border: 0;
  display: none;
  .form-horizontal .control-label {
    font-size: 10px;
  }
  .form-control {
    background-color: #fafafa;
    height: 26px;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    font-size: 10px;
  }
  .select2-container--bootstrap .select2-selection {
    min-height: 22px;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    background-color: #fafafa;
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 26px;
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    margin: 3px 0 0 3px;
  }
  .select2-container--bootstrap .select2-selection--single {
    height: 22px;
    .select2-selection__rendered {
      font-size: 12px;
    }
  }

  .custom-filter-column {
    margin-bottom: 5px;
  }
  .filters-control-label {
    text-align: left;
    margin-bottom: 3px;
    font-weight: bold;
    padding-top: 5px;
    margin-left: 3px;
  }

  .filters-form-group {
    background-color: #eee;
    border: 1px solid #e0e0e0;
    padding-bottom: 5px;
    margin: 0 -10px;
    height: 82px;
    input, select {
      padding: 4px 12px;
      height: 22px;
    }
  }
}

.query-debug {
  strong {
    margin-right: 5px;
    color: #49bd54;
  }
  background: #fff;
  padding: 1rem;
  color: #999;
  margin: 0 0 0.5rem 0;
  border: 1px dashed #ccc;
  word-wrap: break-word;
}

.edit-query-debug strong {
  color: #3598dc;
}

p.query-debug, .edit-query-debug {
  display: none;
}

#admin-debug-toggle.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#tool-edit-modal {
  .form-group {
    label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
    }
    //labal.is-ellipsis + input {
    //  margin-top: -4px;
    //}
  }
}

#add-new-tool-data {
  background-color: #26C281;
  color: #fff;
  &:hover {
    opacity: 0.7;
  }
}

#backToolHistory {
  /*background-color: #000;*/
  color: #fff;
  border-color: #ecc00c;
  max-height: 28px;
  padding: 3px 12px;
  &:hover {
    opacity: 0.7;
  }
}

.CodeMirror-fullscreen {
  top: 40px;
}

.sql-codemirror + .CodeMirror {
  height: 15bb0px;
}

.form-group div[data-autocomplete-column] {
  position: relative;
  .auto-complete-tool-form {
    position: absolute;
    right: 15px;
    bottom: 0;
    padding: 6px 6px;
  }
}

#tool-row-count {
  #total-rows {
    margin-left: -2px;
  }
  display: inline-block;
  margin: 0px 20px;
  vertical-align: middle;
}

.flex-container2 {
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  iframe {
    padding: 0;
    border: none;
  }
}

.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.popover.confirmation{
  z-index: 99999999; //fix due to modal in tools
}