<div id="management-user-role-task-actions">
    <div class="row">
        <form class="form form-filters" role="form">
            <div class="form-group col-sm-2">
                <select data-placeholder="Role" name="user-role-group" id="user-role-group" class="select2 form-control"
                        multiple>
                    {% for userRoleGroup in roles %}
                        <option value="{{ userRoleGroup.id }}">{{ userRoleGroup.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2">
                <select data-placeholder="Grupy platform" name="platform-groups" id="platform-groups"
                        class="select2 form-control" multiple>
                    {% for platformGroup in platformsGroup %}
                        <option value="{{ platformGroup.id }}">{{ platformGroup.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-1 form-loader">
                {{ include('@Web/Default/partials/spinner.html.twig') }}
            </div>
        </form>
        <form class="add-new-role-form" role="form">
            <div class="form-group col-sm-offset-4 col-sm-2">
                <input type="text" name="user-role-group-name" id="user-role-group-name" placeholder="Nazwa roli"
                       class="form-control">
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-primary btn-default">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div id="management-user-role-task-table">

</div>