<div class="user-role-task-table">
    {{ include('@Web/Default/partials/spinner.html.twig', {size: 'small'}) }}
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>
                Nazwa roli
            </th>
            <th>
                {{ 'actions'|trans|capitalize }}
            </th>
            <th>Filtrowane skrzynki mailowe</th>
            {% for activePlatform in activePlatforms %}
                <th class="with-collapse-group" data-platform-group-id="{{ activePlatform.id }}"
                    colspan="{{ activePlatform.businessGroup | length + 1}}"
                    data-colspan="{{ activePlatform.businessGroup | length + 1}}"
                >
                    <div class="business-group-box">
                        <div class="group-box-item">
                            <h4>
                                {{ activePlatform.name }}
                            </h4>
                        </div>
                        <div class="group-box-item">
                            <div class="collapse-group">
                                <button class="btn btn-xs btn-default btn-compress">
                                    <i class="fa fa-compress" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-xs btn-default btn-expand">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </th>
            {% endfor %}

        </tr>
        </thead>
        <tbody>
        <tr class="description-tr">
            <td></td>
            <td></td>
            <td></td>
            {% for activePlatform in activePlatforms %}
                    <td class="compressed-td" data-platform-group-id="{{ activePlatform.id }}">
                        Podsumowanie
                    </td>
                {% for businessGroup in activePlatform.businessGroup %}
                    <td data-platform-group-id="{{ activePlatform.id }}">
                        <div class="role-table-td">
                            <div class="role-table-td-head" title="{{ businessGroup.group.name }}">
                                {{ businessGroup.group.shortName }}
                            </div>
                        </div>
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for roleRow in roles %}
            {% set isFirstLoop = loop.first %}
            <tr data-role-id="{{ roleRow.userRoleGroup.id }}">
                <td class="role-name">

                    <a href="javascript:void(0)"
                       data-type="text"
                       data-name="name"
                       data-value="{{ roleRow.userRoleGroup.name }}"
                       data-title="Nazwa"
                       class="dynamic-editable"
                       data-pk="{{ roleRow.userRoleGroup.id }}"
                       data-url="{{ path('management_supervisor_change_name_user_group_role') }}"

                    >
                        {{ roleRow.userRoleGroup.name }}
                    </a>
                </td>
                <td class="role-actions">
                    <button class="btn btn-icon-only red remove-role" data-user-role-group-id="{{ roleRow.userRoleGroup.id }}">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-icon-only blue copy-role">
                        <i class="fa fa-file-o"></i>
                    </button>
                </td>
                <td class="role-mails">

                    <select name="task_group" class="select select2 form-control task-group" data-user-role-group-id="{{ roleRow.userRoleGroup.id }}" multiple="true">
                        {% for email in emails %}
                            <option value="{{ email.name }}"{{ (email.name in roleRow.userRoleGroup.taskGroup|split(',') ) ? "selected" : "" }}>{{ email.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% for platformGroup in roleRow.platformGroups %}
                    <td class="compressed-td" data-platform-group-id="{{ platformGroup.id }}">
                        <div class="display-inline-block">
                            <span class="checked-groups label label-default">
                                {{- platformGroup.amountChecked }} / {{ platformGroup.businessGroup | length -}}
                            </span>
                        </div>
                        <div class="display-inline-block">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" class="check-all-groups" {{ (platformGroup.allChecked) ? "checked" : "" }}>
                                <span></span>
                            </label>
                        </div>
                    </td>
                    {% for businessGroup in platformGroup.businessGroup %}
                        <td class="role-table-td" data-platform-group-id="{{ platformGroup.id }}">
                            <div class="role-table-td-content">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" value="{{ businessGroup.group.id }}" {{ (businessGroup.checked) ? 'checked' : '' }} >
                                    <span></span>
                                </label>
                            </div>
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>