<div id="case-overview-extra-data" class="row m-x-0">
    <div>
        <div class="portlet-title m-b-0">
            <div class="caption">
                <span class="caption-subject"> {{ 'additional info'|trans|capitalize }} </span>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-bordered">
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row.label }}</td>
                            <td>{{ row.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>