<div id="case-overview" class="row m-x-0">
    {% for key, process in processes %}
        <div class="{{ key > 0 ? 'col-xs-11 col-xs-offset-1' : 'col-xs-12 root' }} m-b-2 process-info" data-process-instance-id="{{ process.id }}" data-group-process-id="{{ process.groupProcessId }}">
            <div class="portlet light p-x-2 p-y-1">
                <div class="portlet-title m-b-0">
                    <div class="caption {{ key > 0 ? 'font-green-sharp' : 'bold' }}">
                        <span class="caption-subject"> {{ key > 0 ? process.definitionName : 'case'|trans|desc('sprawa')|capitalize~' '~caseId }}</span>
                        {% if key > 0 %}
                            <span class="caption-helper"> {{ process.createdAt|date('Y-m-d H:i:s') }}</span>
                        {% endif %}
                    </div>
                    {#<div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"
                           data-original-title="{{ 'fullscreen'|trans|capitalize }}" title=""> </a>
                    </div>#}
                </div>
                <div class="portlet-body">
                    {{ process.parsedInfo|raw }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>