{% set publicVersion = 0 %}

{% if publicVersionMode is defined %}
{% set publicVersion = publicVersionMode %}
{% endif %}

<div class="create-form-wrapper {% if publicVersion == 1 %}col-xs-12 col-md-10 col-lg-6{% else %}col-xs-6{% endif %}">
    <div class="form-placement-wrapper">
      {#  <div class="col-xs-1 timeline-wrapper">
            <div class="timeline-custom">
            </div>
        </div>#}
        <div class="col-xs-12 nopadding form-wrapper">
            <div class="center-countdown">
                <div id="countdown">
                    <div class="n">5</div>
                    <div class="n">4</div>
                    <div class="n">3</div>
                    <div class="n">2</div>
                    <div class="n">1</div>
                    <p class="countdown-title">Oczekiwanie na dane...</p>
                </div>
            </div>

            <div class="loader-wrapper">
                <div class="bottom-divider"></div>
                <div class="loader">
                    <div class="ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="finish-popup wow" data-wow-duration="0.8s">
                <div class="header"><p class="title">Informacja</p>
                    <div class="icon"></div>
                    <i class="fa fa-times close-finish-popup" aria-hidden="true"></i>
                </div>
                <div class="text">Proces został przekazany do dalszej realizacji.</div>
            </div>

            <div class="custom-info-modal reserved-popup wow" data-wow-duration="0.8s">
                <div class="header"><p class="title">Formularz jest używany</p>
                    <div class="icon"></div>
                    <i class="fa fa-times close-this-popup" aria-hidden="true"></i>
                </div>
                <p class="text">Niestety nie można załadować tego formularza, ponieważ jest używany przez użytkownika <strong data-username="NONAME"></strong>.</p>
            </div>

            <div id="custom-dashboard-popup" class="custom-info-modal wow" data-wow-duration="0.8s">
                <div class="header"><p class="title">__TITLE__</p>
                    <div class="icon"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></div>
                    <i class="fa fa-times close-this-popup" aria-hidden="true"></i>
                </div>
                <p class="text">__TEXT__</p>
            </div>

            <div class="custom-info-modal kick-user-popup wow" data-wow-duration="0.8s">
                <div class="header"><p class="title">Formularz jest używany</p>
                    <div class="icon"></div>
                    <i class="fa fa-times close-this-popup" aria-hidden="true"></i>
                </div>
                <p class="text p-x-3 p-y-2">Formularz został zamknięty, ponieważ użytkownik <strong data-username="NONAME"></strong> zaczął w nim pracę.</p>

                {% if is_granted('ROLE_ADMIN')  %}
                    {% set currentTask = app.request.query.get('process_instance', null) %}
                        <div class="align-center">
                            {% set taskForceUrl = url('operational_dashboard_index') ~ '?action=telephony-pick-up&isforce=1&process_instance=' ~ currentTask %}
                            <a href="{{ taskForceUrl }}" class="btn btn-danger align-center"><i class="fa fa-ban"></i>Wyrzuć użytkownika z kroku</a>
                        </div>
                {% endif %}

            </div>

            {% if app.user %}
                {% include "AppBundle:Admin:post/partials/post-list-ajax.html.twig" %}
            {% endif %}

            <div class="form-placement wow">
                <div class="drop">
                </div>
            </div>
        </div>
    </div>
</div>