<div class="map-wrapper grid-stack-map-wrapper mini-map-widget">

    <div id="atlas-map-step" class="atlas-map-container" data-location-path="{{ pathLocation }}"></div>

    <div id="center-main-marker">
        <span>
            <img src="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/css/u/img/context/context_center.png" alt="">
        </span>
    </div>

    <div class="search-input-wrapper">

        <button data-color="blue" data-style="zoom-in" data-size="s" type="button" class="input-search-icon btn ladda-button">
                    <span class="ladda-label">
                            <i class="fa fa-search static" aria-hidden="true"></i>
                    </span>
        </button>

        <div id="choose-type-search-buttons" data-type-search="address">
            <ul class="choose-type-box-list-buttons mini-version">
                <li data-type-search="address">
                                <span class="icon">
                                    <i class="fa fa-location-arrow"></i>
                                </span>
                    <span class="name">Lokalizuj po adresie</span>
                </li>
                <li data-type-search="coordinate">
                                <span class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                    <span class="name">Lokalizuj po współrzędnych</span>
                </li>
            </ul>
        </div>
        <div class="search-bar" id="search-bar-control" data-type-search="address" >
            <div class="address-bar type-bar" data-placeholder-address="{{ 'map.search.placeholder.address'|trans|desc('Miejscowość, Ulica Numer') }}" data-placeholder-object="{{ 'map.search.placeholder.object'|trans|desc('MOP\'y, pikietaże') }}">
                <select class="form-control map-choice-country" id="map-widget-countries">
                    {{ include('@Case/FormTemplate/templates/options-countries.html.twig') }}
                </select>
                <input type="text" class="form-control map-search" id="map-widget-input" placeholder="{{ 'map search phrase'|trans|desc('Miejscowość, Ulica Numer') }}" value="">
            </div>
            <div class="coordinate-bar type-bar">
                <input type="text" data-coordinate-type="lat" class="form-control search-by-coordinate" id="search-coordinate-lat" placeholder="52.406631469 || 52 24 23.873" value="">
                <input type="text" data-coordinate-type="lng" class="form-control search-by-coordinate" id="search-coordinate-lng" placeholder="16.919521331 || 16 55 10.276" value="">
            </div>
        </div>

        <div id="autocomplete-search-wrapper"></div>

    </div>
    <div title="{{ 'redirect-to-google-map'|trans|desc('Przejdź do mapy Google') }}" class="google-redirect"></div>

</div>