<input type="hidden" class="note-type" id="406-226-229"
       data-attribute-path="406,226,229" name="type" value="text">

<input type="hidden" class="note-direction" id="406-226-407"
       data-attribute-path="406,226,229" name="direction" value="1">

<fieldset>

    <div class="form-group" data-notification-type="phone sms">
        <div class="in-out-indicator no-padding">
            <label class="text-left control-label" for="textinput">Numer tel</label>
        </div>

        <div style="position: relative">
            <input name="number" type="text" placeholder="Wprowadź numer telefonu"
                   class="form-control input-md" id="406-226-197"
                   data-attribute-path="406,226,197" >
            <button type="button" class="widget-instant-call"><i class="fa fa-phone static"></i></button>
        </div>

    </div>
    <div class="form-group" data-notification-type="chat">
        <label class="no-padding text-left control-label" for="to">Adresat</label>
        <div class="no-padding">
            <select name="to" type="text" placeholder="Wprowadź adresata wiadomości"
                   class="form-control input-md select2" id="406-226-198"
                   data-attribute-path="406,226,198">
                <option value="test">test</option>
            </select>
        </div>
    </div>
    <div class="form-group" data-notification-type="phone notes sms chat">
        <label class="col-md-12 no-padding text-left control-label" for="textarea">Treść notatki</label>
        <div class="col-md-12 no-padding">
            <textarea class="form-control custom-template" id="406-226-227"
                      data-attribute-path="406,226,227"
                      placeholder="{{ 'write your note here. Use // for predefined texts'|trans|desc('Wprowadź treść notatki. Użyj // aby skorzystać z szablonu.') }}"
                      name="content"></textarea>
        </div>
    </div>
    <div class="form-group" data-notification-type="phone notes sms chat">
        <div class="col-md-4 pull-right text-right no-padding">

                <label for="406-226-930" class="note-checkbox-special mt-checkbox mt-checkbox-outline m-b-0" style="padding: 0 10px 0 30px; margin-top: 10px; vertical-align: middle;">
                    <input name="special" type="checkbox" value="1"
                           class="form-control input-md checkbox-special" id="406-226-930"
                           data-attribute-path="406,226,930" >
                    {{ 'note.stared'|trans | desc('Wyróżniona') }}
                    <span></span>
                </label>

                <button type="submit" data-style="zoom-in" data-size="s" class="btn btn-primary ladda-button js-submit-button m-t-1">
                    <span class="ladda-label">
                        {{ 'submit'|trans|capitalize }}
                    </span>
                </button>
            </div>

    </div>

</fieldset>