{% extends "WebBundle::blank_layout.html.twig" %}
{% block title %} {{ 'notes'|trans|desc('Notatki')|capitalize}} {% endblock %}
{% block body %}
    <div class="notifications-outer-wrapper">
        <div class="operational-page">
        <div id="note-loader" class="notifications-loader-wrapper">
            <div class="loader">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <form id="notesFilters" class="notes-filters-wrapper col-xs-12">
            {{ include('@Operational/Default/notes-filters-holder.twig') }}
        </form>

        <div id="customAccordion" class="notifications-wrapper col-xs-12">
            <div id="case-notes" class="notification-container">
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script src="{{ asset('bundles/web/js/modules/case-note-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/grid-stack-atlas-component.js') }}"></script>
    <script>
        var caseNoteModule = CaseNoteModule();
        var $caseNote = $('#case-notes');
        var notificationWrapper = $('.notifications-wrapper');
        var openedEmailNotes = {};

        $(function () {
            refreshNotes({{ processInstance.id }});

            recalculateHeightNotes();

            funResizeHandle.addFunction('recalculateHeightNotes', recalculateHeightNotes);

            $caseNote.on('click', '.note-title', function () {
                var $t = $(this);
                $t.next('.note-content').toggle();

                if ($t.hasClass('absolute-header')) {
                    $t.removeClass('absolute-header');
                    $t.find('.header-text').addClass('visible');
                    $t.find('.date-and-time').removeClass('visible');
                } else {
                    $t.addClass('absolute-header');
                    $t.find('.header-text').removeClass('visible');
                    $t.find('.date-and-time').addClass('visible');
                }
            })

            $caseNote.on('click', '.edit-email-note', function () {

                var $t = $(this),
                    $noteContent = $t.closest('.note-content'),
                    $boxContent = $noteContent.find('.box-content'),
                    noteId = this.getAttribute('data-note-id'),
                    text = $boxContent.text(),
                    $textarea = $('<textarea rows="4" class="dynamic-note-content-edit"></textarea>'),
                    $submit = $('<a class="save-note btn btn-xs btn-success">Zapisz notatkę</a>');

                $textarea.val(text);
                $noteContent.addClass('editing');

                $submit.on('click', function(e) {

                    $.ajax({
                        url: Routing.generate('mailboxSaveShortContent', {
                            'noteId': noteId
                        }),
                        data: {
                            'content': $textarea.val()
                        },
                        type: "POST",
                        success: function (data) {
                            toastr.success('', 'Notatka została zapisana.', 3000);
                        },
                        error: function(err) {
                            handleAjaxResponseError(err)
                        }
                    });

                    $noteContent.removeClass('editing');
                    $boxContent.empty().html($textarea.val());

                });

                $boxContent.html('').append($textarea).append($submit);

            });

            $caseNote.on('click', '.preview-email', function () {

                var $note = $(this).closest('.case-note'),
                    noteId = $note.attr('data-id');

                if(typeof openedEmailNotes[noteId] !== "undefined" && openedEmailNotes[noteId] !== null && !openedEmailNotes[noteId].closed ) {
                    openedEmailNotes[noteId].focus();
                }
                else {

                    var url = Routing.generate('mailboxEditor', {'note-id': $note.attr('data-id'), 'fullscreen': 1 }),
                        windowHeight = window.innerHeight,
                        windowWidth = window.innerWidth;

                    var offset = 100,
                        height = windowHeight - (offset * 2),
                        width = windowWidth - (offset * 4);

                    openedEmailNotes[noteId] = window.open(url, $note.attr('data-original-title'),
                        'toolbar=no,location=no,statusbar=no,width=' + width + ',height=' + height + ',top=' + (offset + 100) + ',left=' + offset * 2);

                    if(openedEmailNotes[noteId]) {

                        /**
                         * Jeżeli okno z e-mailem jest czytane, to aktywuje timer, że ktoś jest na tym zadaniu gdzie otworzył e-maila
                         * */
                        openedEmailNotes[noteId].addEventListener("focus", function(e){

                            delayedWindowCallback(function () {

                                if(!openedEmailNotes[noteId]) return;
                                openedEmailNotes[noteId].opener.postMessage({action: 'focus-email', noteId: noteId}, Routing.generate('index', [], true));

                            }, 200);

                        }, false);

                        openedEmailNotes[noteId].addEventListener("blur", function(e){

                            openedEmailNotes[noteId].opener.postMessage({action: 'blur-email', noteId: noteId}, Routing.generate('index', [], true));

                        }, false);

                        openedEmailNotes[noteId].addEventListener("beforeunload", function(e){

                            openedEmailNotes[noteId].opener.postMessage({action: 'blur-email', noteId: noteId}, Routing.generate('index', [], true));
                            delete openedEmailNotes[noteId];

                        }, false);

                    }

                }

                // $('.note-inbox').attr('data-document-id', this.getAttribute('data-attachment-id'));
                // if(typeof CustomEvent !== 'undefined') {
                //     window.document.body.dispatchEvent(new CustomEvent("refresh-note-inbox"));
                // }

            });
        });

        function refreshNotes(rootId) {

            $.ajax({
                url: Routing.generate('operationalDashboardInterfaceGetNotesAndInfo', {processInstanceId: rootId, displayInfo: false}),
                type: "GET",
                beforeSend: function () {

                },
                success: function (response) {

                    if (response.notes.list) {
                        caseNoteModule.refreshNoteListWindow(response.notes.list);
                    }
                },
                complete: function () {
                }
            });
        }

        function recalculateHeightNotes() {
            notificationWrapper.attr('style', '');
        }

    </script>
{% endblock %}