<div class="filtersHolder row">
    <div class=" col-md-4">
        <label for="notesFiltersType" class="text-left">
            <h5 class="label-filter">{{ 'notes.filter.label'| trans | desc('Typ') }}</h5>
            <select name="notesFiltersType" class="notesFiltersType select select2">
                <option value="-1">{{ 'notes.filter.all'|trans | desc('Wszystkie') }}</option>
                <option value="text">{{ 'notes.filter.text'|trans | desc('Tekstowe') }}</option>
                <option value="sms">{{ 'notes.filter.sms'|trans | desc('SMS') }}</option>
                <option value="phone">{{ 'notes.filter.phone'|trans | desc('Telefon') }}</option>
                <option value="email">{{ 'notes.filter.mail'|trans | desc('Mail') }}</option>
                <option value="chat">{{ 'notes.filter.czat'|trans | desc('Czat') }}</option>
            </select>
        </label>
    </div>
    <div class=" col-md-4">
        <label for="notesFiltersDirection" class="text-left">
            <h5 class="label-filter">{{ 'notes.direction.label'| trans | desc('Kierunek') }}</h5>
            <select name="notesFiltersDirection" class="notesFiltersDirection select select2">
                <option value="-1">{{ 'notes.direction.all'|trans | desc('Wszystkie') }}</option>
                <option value="2">{{ 'notes.direction.incoming'|trans | desc('Przychodzące') }}</option>
                <option value="1">{{ 'notes.direction.outcoming'|trans | desc('Wychodzące') }}</option>
            </select>
        </label>
    </div>
    <div class=" col-md-4">
        <label for="notesFiltersDirection" class="text-left">
            <h5 class="label-filter">{{ 'notes.system.label'| trans | desc('Systemowe') }}</h5>
            <select name="notesFiltersSystem" class="notesFiltersSystem select select2">
                <option value="-1">{{ 'notes.system.all'|trans | desc('Pokaż wszystkie') }}</option>
                <option value="1">{{ 'notes.system.on'|trans | desc('Tak') }}</option>
                <option value="0">{{ 'notes.system.off'|trans | desc('Nie') }}</option>
            </select>
        </label>
    </div>
</div>