<input type="hidden" class="note-type" id="406-226-229"
       data-attribute-value-id="{{ data['406,226,229'].id }}" data-attribute-path="406,226,229"
       data-group-process-id="{{ groupProcessId }}" data-step-id="{{ stepId }}"
       parent-attribute-value-id="{{ data['406,226,229']['parent_attribute_value_id'] }}"
       value= {{ type }}>

<input type="hidden" class="note-type" id="406-226-407"
       data-attribute-value-id="{{ data['406,226,407'].id }}" data-attribute-path="406,226,229"
       data-group-process-id="{{ groupProcessId }}" data-step-id="{{ stepId }}"
       parent-attribute-value-id="{{ data['406,226,407']['parent_attribute_value_id'] }}"
       value="1">

<fieldset>

    <div class="form-group" data-notification-type="phone sms">
        <div class="in-out-indicator no-padding">
            <label class="text-left control-label" for="textinput">Numer tel</label>
        </div>

        <div style="position: relative">
            <input name="textinput" type="text" placeholder="Wprowadź numer telefonu"
                   class="form-control input-md" id="406-226-197"
                   data-attribute-value-id="{{ data['406,226,197'].id }}" data-attribute-path="406,226,197"
                   data-group-process-id="{{ groupProcessId }}" data-step-id="{{ stepId }}"
                   parent-attribute-value-id="{{ data['406,226,197']['parent_attribute_value_id'] }}">

            <button type="button" class="widget-instant-call"><i class="fa fa-phone static"></i></button>
        </div>

    </div>
    <div class="form-group" data-notification-type="email">
        <label class="col-md-12 no-padding text-left control-label" for="to">DO</label>
        <div class="col-md-12 no-padding">
            <input name="to" type="text" placeholder="Wprowadź adresata wiadomości"
                   class="form-control input-md" id="406-226-198"
                   data-attribute-value-id="{{ data['406,226,198'].id }}" data-attribute-path="406,226,198"
                   data-group-process-id="{{ groupProcessId }}" data-step-id="{{ stepId }}"
                   parent-attribute-value-id="{{ data['406,226,198']['parent_attribute_value_id'] }}">
        </div>
    </div>
    <div class="form-group" data-notification-type="phone notes sms email">
        <label class="col-md-12 no-padding text-left control-label" for="textarea">Treść notatki</label>
        <div class="col-md-12 no-padding">

            <textarea class="form-control custom-template" id="406-226-227"
                      data-attribute-value-id="{{ data['406,226,227'].id }}" data-attribute-path="406,226,227"
                      data-group-process-id="{{ groupProcessId }}" data-step-id="{{ stepId }}"
                      parent-attribute-value-id="{{ data['406,226,227']['parent_attribute_value_id'] }}"
                      placeholder="{{ 'write your note here. Use // for predefined texts'|trans|desc('Wprowadź treść notatki. Użyj // aby skorzystać z szablonu.') }}"
                      name="textarea"></textarea>
        </div>
    </div>
    <div class="form-group" data-notification-type="phone notes sms email">
        <div class="col-md-4 pull-right text-right no-padding">

            <button type="submit" data-style="zoom-in" data-size="s" class="btn btn-primary ladda-button js-submit-button m-t-1">
                    <span class="ladda-label">
                        {{ 'submit'|trans|capitalize }}
                    </span>
            </button>

        </div>
    </div>

</fieldset>