
    <div class="right-side col-xs-4">
        {% if (
            app.user.hasRole('ROLE_CONSULTANT')
            and  date() >= date('2020-03-01')
            ) or app.user.hasRole('ROLE_ADMIN')
            %}
            {% include "@User/Efficiency/operational-dashboard-ranking.html.twig" %}
        {% endif %}

        <div id="right-widget" class="hidden"></div>
        {% if not app.user.hasRole('ROLE_HIDE_NOTES') %}
        <div class="notification-module">

            <div class="side-loader">
                {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
            </div>

            {% include "@Case/Dashboard/widgets/case-info.html.twig" %}

            <div class="notifications-outer-wrapper clearfix">
                <div class="notes-resizer">
                    <i class="fa fa-expand"></i>
                    <i class="fa fa-compress"></i>
                </div>
                <div class="notes-resizer-up">
                    <i class="fa fa-chevron-up"></i>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div id="note-loader" class="notifications-loader-wrapper">
                    <div class="loader">
                        <div class="ball-spin-fade-loader">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <div id="note-types" class="col-xs-12 no-padding types-box js-types-height">
                    <div class="notification-type-wrapper">
                        <div id="phone-note-btn" class="type phone" data-notification-type="phone" title="Telefon"><i
                                    class="fa fa-phone"></i></div>
                        <div id="text-note-btn" class="type notes" data-notification-type="notes" title="Notatka"><i
                                    class="fa fa-sticky-note-o"></i>
                        </div>
                        <div id="sms-note-btn" class="type sms" data-notification-type="sms" title="Sms"><i
                                    class="fa fa-commenting-o"></i></div>
                        <div id="email-note-btn" class="type email" data-notification-type="email" title="E-mail"><i
                                    class="fa fa-envelope-o"></i>
                        </div>
                        <div id="chat-note-btn" class="type chat" data-notification-type="chat" title="Chat message"><i
                                    class="fa fa-comments-o"></i>
                        </div>
                    </div>
                    <div id="note-form-wrapper" class="add-notification-form-wrapper">
                        <div class="note-editor-header">
                            <div class="closeForm">
                                <i class="fa fa-close"></i>
                            </div>
                        </div>
                        <form id="addNotification" class="form phone">
                            {{ include('@Operational/Default/notes-form.html.twig') }}
                        </form>
                    </div>
                </div>

                {#<span id="notificationStatus"></span>#}

                <form id="notesFilters" class="notes-filters-wrapper col-xs-12">
                    {{ include('@Operational/Default/notes-filters-holder.twig') }}
                </form>

                <div id="customAccordion" class="notifications-wrapper col-xs-12">
                    <span class="extra-content-note notes-view btn btn-icon-only"><i class="fa fa-search"></i></span>
                    <div title="Rozwiń/Zwiń notatki" class="accordion-expand-all"></div>
                    <div id="case-notes" class="notification-container"
                         data-prototype-phone-content-edit='{{ include('@Operational/Default/partials/note-phone-edit.html.twig') }}'>
                    </div>
                </div>

                {% include "@Case/FormTemplate/templates/widget-email-preview.html.twig" with {extraClass: 'absolute-inbox note-inbox', withClose: 1} %}

            </div>
        </div>

        <div id="note-inbox-editor">
            <div class="inbox-editor-wrapper">
                <div class="inbox-editor-header">
                    <div class="resize-inbox">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-compress"></i>
                    </div>
                    <div class="close-inbox"><i class="fa fa-close"></i></div>
                </div>
                <div class="loader">
                    <div class="ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="inbox-editor-content"></div>
            </div>
        </div>
    </div>
{% endif %}

{% set _companyId = 0 %}
{% set _company = app.user.getCompany %}
{% if _company %}
    {% set _companyId = _company.id %}
{% endif %}

{% if _companyId in [1,2] %}

    <div id="atp-trigger-buttons" class="absolute">
        <div class="toggle-panel">
            <i class="fa fa-angle-left fa-fw"></i>
            <i class="fa fa-angle-right fa-fw"></i>
        </div>

        <div id="test-call-input-group" class="row">
            <div class="col-sm-6 col-md-3">
                <select tabindex="-1" class="select2 form-control full-width" id="platform-id"
                        style="width: 100% !important;">
                    {% for platform in platforms %}
                        <option value="{{ platform.id }}">{{ platform.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 col-md-3">
                <input tabindex="-1" id="test-phone-number" class="form-control" type="text" name="test-phone-number"
                       placeholder="{{ 'phone.number'|trans|desc('numer telefonu')|capitalize }}">
            </div>
            <div class="col-sm-6 col-md-3">
                <button tabindex="-1" data-style="zoom-in" data-spinner-color="#3b3f50" data-size="s"
                        id="call-ring-start" class="btn-block btn btn-default m-l-0 ladda-button" type="button">
                    <span class="ladda-label">
                         <i class="fa fa-phone fa-fw"></i> {{ 'call.me'|trans|desc('zadzwoń')|upper }}
                    </span>
                </button>
            </div>
            {% if is_granted('ROLE_TESTER') %}
                <div class="col-sm-6 col-md-3">
                    <button tabindex="-1" data-style="zoom-in" data-spinner-color="#3b3f50" data-size="s"
                            id="create-mobile-case" class="btn-block btn btn-default m-l-0 ladda-button" type="button">
                    <span class="ladda-label">
                         <i class="fa fa-envelope-o"></i> {{ 'simulation_call.create_mobile_case'|trans|desc('mobilna sprawa')|upper }}
                    </span>
                    </button>
                </div>
            {% endif %}
        </div>

        {% if is_granted('ROLE_TESTER') %}
            <div class=" row m-t-1">
                <div class="col-sm-12">
                    <span class="label inline-block label-danger float-right">Pamiętaj, żeby wpisać swój numer przy MOBILNEJ SPRAWIE!</span>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}

            {#<button tabindex="-1" data-style="zoom-in" data-size="s" type="button" id="atp-create"#}
            {#class="btn btn-default ladda-button">#}

            {#<span class="ladda-label">#}
            {#<i class="fa fa-plus"></i> E-CALL {{ 'create'|trans|upper }}#}
            {#</span>#}
            {#</button>#}
            {#<button tabindex="-1" data-style="zoom-in" data-size="s" type="button" id="atp-update"#}
            {#class="btn btn-default ladda-button">#}
            {#<span class="ladda-label">#}
            {#<i class="fa fa-refresh"></i> E-CALL {{ 'update'|trans|upper }}#}
            {#</span>#}
            {#</button>#}
            {#<button tabindex="-1" data-style="zoom-in" data-size="s" type="button" id="follow-up"#}
            {#class="btn btn-default ladda-button">#}
            {#<span class="ladda-label">#}
            {#<i class="fa fa-arrow-right"></i> FOLLOW UP#}
            {#</span>#}
            {#</button>#}

        {% endif %}

    {% endif %}

</div>

{% include "@Operational/Default/partials/modals/semirequired-confirmation-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/cancel-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/abandon-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/update-position-map-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/custom-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/postpone-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/validation-error-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/dynamic-edit-attribute-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/service-program-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/step-forward-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/reopen-case-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/forms-container-extra-actions-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/medical-case-modal.html.twig" %}