{% extends "WebBundle::base_operational_dashboard.html.twig" %}

{% block bodyExtraClass %}{{ parent() }} partner-interface-body{% endblock %}

{% block pageContentWrapper %}
    <div id="page-main-content" class="page-content-wrapper">
        <div class="page-content">

            {#left side with tickets #}
            {% include '@Operational/Default/taskbar-partner.html.twig' %}

            {#container for all forms #}
            {% include '@Operational/Default/formsContainer.html.twig' %}

        </div>
    </div>
{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/vendor/lodash.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/gridstack.js') }}"></script>

    {#<div id="emapi-url" data-url="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2"></div>#}
    <script src="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2" type="text/javascript"></script>
    <script src="{{ asset('js/atlas-map.js') | removeAppDev  }}"></script>
    <script src="{{ asset('js/gos-web-socket.js') }}"></script>

    <script>
        var _userId = {{ app.user.id }}
        var _overridePhoneNumber = {{ overrideNumber }}
        {#document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port | incrementByOne(app.request.secure) }}";#}
        document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";
    </script>
    <script src="{{ asset('js/dashboard-scripts.js') }}" type="text/javascript"></script>

{% endblock %}