<div id="service-popup" class="custom-service-overlay" data-multi-content-html='{% include '@Operational/Default/service-popup-multi-content.html.twig' %}' >
    <div class="service-custom-popup">
        <h2 class="service-popup-title">Szczegóły usługi</h2>
        <i class="fa fa-close close-popup" aria-hidden="true"></i>

        <div class="loader">
            <div class="ball-spin-fade-loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="content"></div>
    </div>
</div>