<p>{{ 'Pushed auto'|trans|desc('Popchnięte kroki') }}</p>
<br/>
<div class="table table-bordered">
    <table>
        <tbody>
{% for instance in instances %}
    <tr>
        <td>{{ instance.processName }}: {{ instance.stepName~' ('~instance.stepId~')' }}</td>
    </tr>
{% endfor %}
        </tbody>
    </table>
</div>