{% extends '@Operational/Default/taskbar.html.twig' %}

{% block taskBarContent %}
    <ul class="mode-switch-container">
        <li>
            <a href="#tab-activities">
                <button class="button-activities"><i class="fa fa-list"
                                                     aria-hidden="true"></i><span>{{ 'dashboard.activity.button'|trans|desc('Zadania')|capitalize }}</span>
                </button>
            </a>
        </li>
        <li>
            <a href="#tab-timeline">
                <button class="button-timeline">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>{{ 'dashboard.timeline.button'|trans|desc('Oś czasu')|capitalize }}</span>
                    <span class="active-task-id"></span>
                </button>
            </a>
            <div class="timeline-message">Aby mieć dostęp do osi czasu, rozpocznij zadanie.</div>
        </li>
        <li>
            <a class="js-history-tickets-init" href="#tab-tasks-history">
                <button class="button-history">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span>{{ 'dashboard.history.button'|trans|desc('Historia zadań')|capitalize }}</span>
                    <span class="active-task-id"></span>
                </button>
            </a>
        </li>
    </ul>

    <div id="tab-activities">

    {% block content %}

        <div id="case-panel-management">

            {% if not app.user.hasRole('ROLE_HIDE_NOTES') and is_granted('ROLE_PUSH_CASE') %}
                <div id="case-panel-management-todo" class="todo-container">
                    <div class="header">{{ 'your.task'|trans|desc('twoje zadanie') }}</div>
                    <div class="case-panel-management-todo-content">
                        {{ include('@Web/Default/partials/spinner.html.twig') }}
                        <div class="case-panel-management-todo-task"></div>
                    </div>
                </div>
            {% endif %}

            <div id="case-panel-management-list">
                <div class="header">{{ 'task.search'|trans|desc('wyszukiwarka spraw') }}</div>
                <div class="case-search-wrapper">
                    <div class="row">
                        <div class="col-md-10 p-r-0">
                            <input type="text" id="case-search" {{ noAutocomplete() }}
                                   {% if app.user.hasRole('ROLE_HIDE_NOTES') or not is_granted('ROLE_PUSH_CASE') %}class="empty-search"{% endif %}
                                   placeholder="Szukaj... ">
                            <button type="button" data-spinner-color="#3b3f51" data-style="zoom-in" data-size="s"
                                    class="btn btn-default ladda-button" id="case-search-button">
                                <span class="ladda-label">
                                    <i class="fa fa-search"></i>
                                </span>
                            </button>
                        </div>
                        <div class="col-md-2 p-l-0">
                            <button type="button" class="btn btn-default btn-sm btn-block" id="toggle-searcher-filters">
                                <i class="fa fa-cog"></i>
                                <div class="dot"><i class="fa fa-exclamation "></i> </div>
                            </button>
                        </div>
                    </div>
                    <div class="searcher-filters row">
                        <form action="" id="searcher-filters-form">
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="search-filters[attribute]" class="text-left">
                                            Liczba znalezionych zadań: <span class="bold" id="amount-tasks">0</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="search-filters[attribute]" class="text-left">
                                            Kryterium wyszukiwania:
                                        </label>
                                        <select name="search-filters[attribute]" class="form-control">
                                            <option value="">Nr sprawy/Opis zadania</option>
                                            <option value="74,72">Nr rejestracyjny</option>
                                            <option value="74,71">VIN</option>
                                            <option value="80,342,66">Nazwisko kierowcy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="search-filters[category]" class="text-left">
                                            Kategoria:
                                        </label>
                                        <select name="search-filters[category]" class="form-control">
                                            <option value="">Wszystkie</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.shortName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mt-checkbox-list">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="search-filters-date-from" class="text-left">
                                                Od:

                                                <input type="text" id="search-filters-date-from"
                                                       class="form-control date-time-picker"
                                                       placeholder="{{ 'Od (data)'|trans }}" autocomplete="false"
                                                       value="" name="search-filters[dateFrom]">
                                            </label></div>
                                        <div class="col-md-6">
                                            <label for="search-filters-date-to" class="text-left">
                                                Do:

                                                <input type="text" id="search-filters-date-to"
                                                       class="form-control date-time-picker"
                                                       placeholder="{{ 'Do (data)'|trans }}" autocomplete="false"
                                                       value="" name="search-filters[dateTo]">
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                    <div class="col-md-3 ">
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline m-b-0"
                                                   for="search-filters-postpone-enabled"
                                                   title="Czy pokazywać zadania odroczone">
                                                <i class="fa fa-clock-o m-l-0"></i>
                                                <input type="checkbox" name="search-filters[postpone-enabled]"
                                                       id="search-filters-postpone-enabled" value="1"><span></span>
                                            </label>
                                        </div>
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline m-b-0"
                                                   for="search-filters-inactive-enabled"
                                                   title="Czy pokazywać zadania nieaktywne">
                                                <i class="fa fa-archive m-l-0"></i>
                                                <input type="checkbox" name="search-filters[inactive-enabled]"
                                                       id="search-filters-inactive-enabled" value="1"><span></span>
                                            </label>
                                        </div>
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline m-b-0"
                                                   for="search-filters-vip-enabled"
                                                   title="Czy pokazywać zadania tylko VIP">
                                                <i class="fa fa-star m-l-0"></i>
                                                <input type="checkbox" name="search-filters[vip-enabled]"
                                                       id="search-filters-vip-enabled" value="1"><span></span>
                                            </label>
                                        </div>
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline m-b-0"
                                                   for="search-filters-mail-enabled"
                                                   title="Wyszukiwanie mail">
                                                <i class="fa fa-envelope m-l-0"></i>
                                                <input type="checkbox" name="search-filters[mail-enabled]"
                                                       id="search-filters-mail-enabled" value="1"><span></span>
                                            </label>
                                        </div>
                                    </div>
                            <div class="col-md-9 select-col">
                                <select name="search-filters[platform-id]" class="select2 select-search-platforms" data-placeholder="Filtruj po platformach" multiple >
                                    {# platform \CaseBundle\Entity\Platform#}

                                    {% for platform in platforms %}
                                        <option value="{{ platform.id }}">{{ platform.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tickets-wrapper">
                    <div id="ticket-groups" class="category" data-category="steps"
                            {#data-current-tickets="{{ tasks }}"#}
                         data-special-situations="{{ specialSituations }}"
                         data-prototype-task="{{ include('@Operational/Prototype/ticket.html.twig') | escape('html_attr') }}"
                         data-prototype-group="{{ include('@Operational/Prototype/ticket-group.html.twig') | escape('html_attr') }}">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="tab-timeline">
            <div class="top-service-panel">
                <button data-process-instance-id="" class="btn btn-block btn-primary btn-service-panel">
                    <i class="fa fa-th" aria-hidden="true"></i>  Panel Świadczeń
                </button>
            </div>
            <div class="filter-tabs" id="timeline-wrapper"
                 data-prototype-filter="{{ include('@Operational/Prototype/timeline-filter.html.twig') | escape('html_attr') }}"
                 data-prototype-task-block="{{ include('@Operational/Prototype/timeline-task-block.html.twig') | escape('html_attr') }}"
            >
                <div id="timeline-loader" class="notifications-loader-wrapper">
                    <div class="bottom-divider"></div>
                    <div class="loader">
                        <div class="ball-spin-fade-loader">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <ul class="filters-wrapper">
                    <li>
                        <a href="#filter-1" class="filter"><i class="fa fa-wrench fa-lg" title="Główny process"
                                                              aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#filter-1" class="filter"><i class="fa fa-phone-square fa-lg" title="Główny process"
                                                              aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#filter-1" class="filter"><i class="fa fa-user fa-lg" title="Główny process"
                                                              aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#filter-1" class="filter"><i class="fa fa-car fa-lg" title="Główny process"
                                                              aria-hidden="true"></i></a>
                    </li>
                </ul>
                <section id="filter-1" class="timeline-container editable">

                </section>
            </div>
        </div>
        <div id="tab-tasks-history">
            <div class="row">
                <div id="tickets-history" class="category">
                    <h4 title="{{ 'dashboard.historical.tasks.title'|trans|desc('Historia zadań')|capitalize }}"
                        class="history-title"><span
                                class="group-name">{{ 'dashboard.historical.tasks.title'|trans|desc('Historia zadań')|capitalize }}
                    </h4>
                    <!-- START TEMPLATE -->

                    <div class="col-xs-12 col-lg-12 tickets-wrapper">
                        <div id="history-ticket-groups" class="category" data-category="steps"
                             data-special-situations="{{ specialSituations }}"
                             data-prototype-task="{{ include('@Operational/Prototype/historical-ticket.html.twig') | escape('html_attr') }}">
                            <div class="loader">
                                <div class="ball-spin-fade-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- END TEMPLATE -->
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}