{% extends '@Operational/Default/taskbar.html.twig' %}

{% block leftPortletClass %}{% endblock %}
{% block taskBarContent %}

    {% if is_granted("ROLE_PARTNER_EDITOR") %}
        <div class="row admin-operation-row partner-interface-version">
            <div class="col-xs-12 no-padding">
                <div class="admin-operation" id="admin-panel">
                    <div class="creator-partner">
                        <button id="add-new-partner" data-style="zoom-in" data-size="s" type="submit"
                                class="ladda-button btn blue">
                            <span class="ladda-label">
                                <i class="fa fa-plus"></i>
                                {{ 'dashboard.admin.btn.add_partner'|trans|desc('Dodaj Partnera')|capitalize }}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 no-padding case-search-wrapper">
            <input type="text" id="partner-search" placeholder="Szukaj partnera... ">
        </div>
        <div class="col-xs-12 partner-interface-list-wrapper no-padding">
            <div id="partner-list"
                 data-init-partner="{{ partner }}"
                 data-find-attriute="{{ attribute }}"
                 data-prototype-partner="{{ include('@Operational/Prototype/partnerListElement.html.twig') | escape('html_attr') }}">
                <div class="loader">
                    <div class="ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <ul class="list-partners row">

                </ul>
            </div>
        </div>
    </div>



{% endblock %}