{% if instance %}

    <div id="user-next-task" data-attribute-value-id="{{ instance.id }}"
         data-attribute-value-step-id="{{ instance.stepId }}"
         data-root-id="{{ instance.root_id }}" data-attribute-value-group-process-id="{{ instance.groupProcessId }}"
         data-is-force="0">
        {% if instance %}
            <h1>{{ instance.stepName }} <span class="step-id">({{ instance.stepId }})</span></h1>
            <div class="task-process-info">
                <span>{{ instance.processDescription }}</span>
                <i class="fa fa-circle"></i>
                <span>{{ instance.taskGroupDescription }}</span>
                <i class="fa fa-circle"></i>
                <span>{{ instance.stepId }}</span>
            </div>
            <span class="instance-data">
             {{ instance.instanceDescription }}
        </span>
            <div class="case-number">{{ instance.caseNumber }}</div>
            <div class="date font-blue-sharp bold">{{ instance.dateEnter | date('Y-m-d H:i:s')}}</div>
        {% endif %}
    </div>

{% else %}
    <div class="none-next-task">
        <h4 class="m-x-2 m-y-0 p-t-2">Nie znaleziono nowego zadania.</h4>
    </div>
{% endif %}