<div class="timeline-atlas-log">
    <div class="form form-inline m-y-1">
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <div class="form-group">
                    <label for="timeline-version-from">Od:</label>
                    <input class="form-control datepicker-control"
                           type="text"
                           name="timeline-version-from"
                           value="{{ date('now')|date_modify("-7 day")|date('Y-m-d') }}"
                           id="timeline-version-from">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="timeline-version-to">Do:</label>
                    <input class="form-control datepicker-control"
                           type="text"
                           name="timeline-version-to"
                           value="{{ date('now')|date('Y-m-d') }}"
                           id="timeline-version-to">
                </div>
            </div>
        </div>
    </div>
    <div class="timeline">
        {{ include('@Web/Default/partials/spinner.html.twig') }}
    </div>
</div>
