{% for version in versions %}
    <div class="timeline-item">
        <div class="timeline-badge">
            <div class="timeline-icon timeline-version-name">
                    <span class="label">
                        {{ version.version }}
                    </span>
            </div>
        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow"></div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <span class="timeline-body-alerttitle font-red-intense">{{ version.date | date('Y.m.d, H:i') }}</span>
                </div>
            </div>
            <div class="timeline-body-content">
                <ul class="list-version-log">

                    {% for log in version.logs %}
                        <li class="task-list-item done">
                            <div class="task-icon">
                                <i title="{{ log.type }}" class="fa {{ log.icon }}"></i>
                            </div>
                            <div class="task-content">
                                <p>{{ log.description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}