{% if not group %}
    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_users') }}">
            <span class="caption-subject bold">{{ 'lista użytkowników'|trans|capitalize }}
        </span>
            </a>
        </div>
    </div>
    <div class="pull-left col-sm-12 col-xs-12 col-lg-10 no-padding">
        <form id="search-form" class="no-padding {% if is_mobile() %} m-b-1 {% endif %}" action="{{ path('admin_users') }}" method="GET">
            <div class="col-md-3">
                {{ form_widget(searchForm.phrase) }}
            </div>
            <div class="col-md-1">
                {{ form_widget(searchForm.only_online) }}
            </div>
            <div class="col-md-1 loader-box hidden">
                {{ include('@Management/Admin/ScenariosBuilder/mini-spinner.html.twig', {extraClass: 'dark micro' }) }}
            </div>
        </form>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-2 no-padding">
        <a id="creatUserButton" href="{{ path('admin_user_editor') }}" class="no-padding col-xs-12 col-sm-12 btn btn-sm blue xs-full  p-x-1 m-b-1">
            <i class="fa fa-plus"></i>
            {{ 'dodaj użytkownika'|trans()|capitalize }}
        </a>
    </div>
{% endif %}
<div class="clearfix"></div>
<div class="users-table">
    <div id="users-ajax-container">

        <div class="navigation m-y-1">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-vam">
                <thead>
                <tr>
                    <th class="fit">#</th>
                    <th class="fit"></th>
                    <th>{{ 'login'|trans|capitalize }}</th>
                    <th class="fit">{{ 'user.online_status'|trans|desc('Online')|capitalize }}</th>
                    <th>{{ 'firstname_and_lastname'|trans|desc('imię i nazwisko')|capitalize }}</th>
                    <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                </tr>
                </thead>
                <tbody id="users-tbody">

                {% set prefix = (page != 1) ? (perPage * (page-1)) : 0 %}

                {% for entity in pagination %}
                    <tr>
                        <td>{{ prefix + loop.index }}</td>
                        {% if group %}
                            <th scope="row" class="fit"><a
                                        class="remove-user-from-group btn btn-default tooltips btn-xs m-r-0"
                                        data-user-id="{{ entity.id }}"
                                        data-group-id="{{ group }}" href="#" data-toggle="tooltip" data-placement="top"
                                        title="{{ 'usuń z grupy'|trans|capitalize }}">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </th>
                        {% else %}
                            <th scope="row" class="fit">{{ entity.id }}</th>
                        {% endif %}
                        <td class="entity-name">{{ entity.username }}</td>
                        <td class="fit">
                            {% if entity.online %}
                                <span class="label label-sm label-green">Online</span>
                            {% else %}
                                <span class="label label-sm label-default">Offline</span>
                            {% endif %}
                        </td>
                        <td>{{ entity.firstname~' '~entity.lastname }}</td>
                        <td class="fit">
                            <a href="{{ path('admin_user_editor', {'userId': entity.id}) }}"
                               class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {% if not entity.hasRole('ROLE_ADMIN') %}
                                <a href="{{ path('dashboard', {'_impersonate_user': entity.username}) }}"
                                   class="btn yellow-lemon tooltips btn-xs impersonate-user-btn" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'przeloguj'|trans|title }}" data-type="">
                                    <i class="fa fa-key"></i>
                                </a>
                            {% endif %}
                            <a href="#"
                               class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'delete'|trans|desc('usuń')|title }}"
                               data-url="{{ path('admin_user_delete', {'id': entity.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

