<script>"use strict";

    $(function () {
        $('body').on('click', "ul.pagination a", function (e) {
            e.preventDefault();
            $('.loader-box').removeClass('hidden');
            $.get($(this).attr('href'), function (html) {

                $('.loader-box').addClass('hidden');

                $('#users-ajax-container').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#users-ajax-container')
                );
            });
        });

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            $('.loader-box').removeClass('hidden');
            $.get('{{ path('admin_users') }}', $(this).serialize(), function (html) {

                $('.loader-box').addClass('hidden');

                $('#users-ajax-container').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#users-ajax-container')
                );
            });
        });

        $('#form_only_online').on('change', function (e) {
            $('#search-form').trigger('submit');
        })
    });

    $('#form_phrase').keyup(function () {
        delayedCallback(function () {
            $('#search-form').submit();
        }, 400);
    });
</script>