{% extends "WebBundle::base.html.twig" %}

{% block title %}{{ 'helper'|trans|upper }}{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-dark">{{ 'admin_helper'|trans|desc('Helper dla Admina') }}</span>
            </div>
        </div>

        <div class="portlet-title">
            <div class="caption">
                <span class="caption-helper">{{ 'description_roles'|trans|desc('Opis roli') }}
                    :</span>
            </div>
        </div>
        <div style="margin-bottom: 30px;" class="admin-helper">
            <ul class="list-options">
                {% for key, item in rolesDescription %}
                    <li class="long">
                        <div class="row">
                            <div class="col-sm-2"><strong>{{ key }}</strong></div>
                            <div class="col-sm-3">{{ item.name }}</div>
                            <div class="col-sm-7">{{ item.desc }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="portlet-title">
            <div class="caption">
                <span class="caption-helper">{{ 'available_global_parameters'|trans|desc('Dostępne parametry globalne') }}
                    :</span>
            </div>
        </div>
        <div style="margin-bottom: 30px;" class="admin-helper">
            <ul class="list-options">
                {% for item in globalParameters %}
                    <li class="long">
                        <div class="row">
                            <div class="col-sm-3"><strong>{{ item.param }}</strong></div>
                            <div class="col-sm-6">{{ item.name }}</div>
                            <div class="col-sm-3">
                                {% if item.result is iterable %}
                                    {% for res in item.result %}
                                        {{ res }}
                                        {%  if not loop.last %}, {% endif %}
                                    {% else %}
                                        Brak
                                    {% endfor %}
                                {% else %}
                                    {{ item.result }}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="portlet-title">
            <div class="caption">
                <span class="caption-helper">{{ 'available_parser_parameters'|trans|desc('Dostępne parametry do parsowania') }}:</span>
            </div>
        </div>
        <div style="margin-bottom: 30px;" class="admin-helper">
            <ul class="list-options">
                {% for item in parserParameters %}
                    <li class="long">
                        <div class="row">
                            <div class="col-sm-3"><strong>{{ item.name }}</strong></div>
                            <div class="col-sm-9">{{ item.desc }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="portlet-title">
            <div class="caption">
                <span class="caption-helper">{{ 'admin_helper_parse_parameter'|trans|desc('Narzędzie do testowania parsowania') }}:</span>
            </div>
        </div>

        <style>
            .label .multi-table {
                color: #000;
            }
        </style>
        <form action="{{ path('admin_helper_parse_string') }}" method="post" id="parser-parameters">

            <div class="form-group clearfix">
                <div class="col-sm-8">
                    <label for="parser-parameter" class="control-label">{{ 'helper_admin_parameters'|trans|desc('Parametry')|capitalize }}:</label>
                    <input type="text" id="parser-parameter" name="string" class="form-control" placeholder="" value='"{@253*@}" == "1"'>
                </div>

                <div class="col-sm-2">
                    <label for="parser-group-id"
                           class="control-label">{{ 'process_instance_id'|trans|desc('Process Instance Id')|capitalize }}:</label>
                    <input type="text" id="parser-group-id" name="processInstanceId" class="form-control" value="435424">
                </div>

                <div class="col-sm-2">
                    <button style="margin-top: 24px;" type="submit" data-style="zoom-in" data-size="s" class="btn green ladda-button bind-spinner">
                        <span class="ladda-label">{{ 'parse'|trans|desc('parsuj')|capitalize }}</span>
                    </button>
                </div>

            </div>
            <div class="form-group">
                <div id="parser-result">
                    <div class="clearfix">
                        <div class="col-md-2">
                            <strong>Parser value:</strong>
                        </div>
                        <div class="col-md-10">
                            <span class="label label-primary parser-value">

                            </span>
                        </div>
                    </div>
                    <div  class="clearfix m-t-1">
                        <div class="col-md-2">
                            <strong>Evaluate value:</strong>
                        </div>
                        <div class="col-md-10 ">
                            <span class="label label-primary evaluate-value">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="portlet-title">
            <div class="caption">
                <span class="caption-helper">{{ 'Dostępne parametry dla procedur'|trans|desc('Dostępne parametry dla procedur')|capitalize }} e-mail:</span>
            </div>
        </div>

        <div style="margin-bottom: 30px;" class="admin-helper">
            <ul class="list-options">
                <li class="long">
                    {% for item in procedureParameters %}
                        <div class="row">
                            <div class="col-sm-3"><strong>{{ item.name }}</strong></div>
                            <div class="col-sm-9">{{ item.desc }}</div>
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-dark">{{ 'relative_dates'|trans|desc('Względne daty') }}</span>
        </div>
    </div>

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-helper">{{ 'tester'|trans|capitalize }}</span>
        </div>
    </div>

    <form action="{{ path('admin_helper_parse_date') }}" method="post" id="parser-date-form">

        <div class="form-group clearfix">
            <div class="col-sm-3">
                <label for="parser-date" class="control-label">{{ 'date'|trans|desc('data')|capitalize }}:</label>
                <input type="text" id="parser-date" name="date" class="form-control" value="{{ "now" | date('Y-m-d H:i:s') }}">
            </div>

            <div class="col-sm-4">
                <label for="parser-rel-date"
                       class="control-label">{{ 'relative_date'|trans|desc('data względna')|capitalize }}:</label>
                <input type="text" id="parser-rel-date" name="parse_date" class="form-control" value="{$ M-1.!last-d $}">
            </div>

            <div class="col-sm-2">
                <button style="margin-top: 24px;" type="submit" data-style="zoom-in" data-size="s" class="btn green ladda-button bind-spinner">
                    <span class="ladda-label">{{ 'parse'|trans|desc('parsuj')|capitalize }}</span>
                </button>
            </div>

            <div class="col-sm-3">
                <label for="parser-result" class="control-label">Wynik:</label>
                <input type="text" readonly="readonly" id="parser-result" class="form-control">
            </div>
        </div>
    </form>

    <div class="alert alert-block alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading">{{ 'important'|trans|desc('ważne')|capitalize }}!</h4>
        <p> - {{ 'parametry muszą znajnować się w znacznikach'|trans }}: {$ , $}</p>
        <p> - {{ 'parametry oddzielać kropkami'|trans }}</p>
        <p> - {{ 'parametry ustawiać od najbardziej znaczących: rok, miesiąc, dzień, godzina, minuta'|trans }}</p>
    </div>

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-helper">Parametry</span>
        </div>
    </div>

    {% set parserOptions = [
    {'name': 'today'|trans|desc('dzisiaj')|capitalize , 'parse': '!today' },
    {'name': 'now'|trans|desc('teraz')|capitalize, 'parse': '!now' },
    {'name': 'first_day_of_month'|trans|desc('pierwszy dzień miesiąca')|capitalize, 'parse': '!first-d' },
    {'name': 'last_day_of_month'|trans|desc('ostatni dzień miesiąca'), 'parse': '!last-d' },
    {'name': 'minute'|trans|desc('minuta'), 'parse': 'I' },
    {'name': 'hour'|trans|desc('godzina'), 'parse': 'H' },
    {'name': 'day'|trans|desc('dzień'), 'parse': 'D' },
    {'name': 'month'|trans|desc('miesiąc'), 'parse': 'M' },
    {'name': 'year'|trans|desc('rok'), 'parse': 'Y' },
        ]
    %}

    <ul class="list-options" >
        {% for item in parserOptions %}
            <li>
                <div class="row">
                    <div class="col-sm-6">{{ item.name }}</div>
                    <div class="col-sm-6"><strong>{{ item.parse }}</strong></div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-helper">{{ 'examples'|trans|desc('przykłady')|capitalize }}</span>
        </div>
    </div>
    <p>{{ 'examples_for_current_date'|trans|desc('Przykłady dla obecnej daty')|capitalize }}:
        <strong>{{ for_date }}</strong></p>
    <ul class="list-options">
        {% for item in examples %}
            <li class="long">
                <div class="row">
                    <div class="col-sm-4">{{ item[0] }}</div>
                    <div class="col-sm-4"><strong>{{ item[1] }}</strong></div>
                    <div class="col-sm-4"><strong>{{ item[2] }}</strong></div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block extrascripts %}
    <script>"use strict";

        $(function () {
            parserHandle();
            parserParametersHandle();
        });

        function parserParametersHandle() {

            var $form = $('#parser-parameters');
            var $parserParameters = $('#parser-parameters');
            var l = Ladda.create($form.find('button')[0]);

            $form.on('submit', function (e) {
                e.preventDefault();
                var $this = $(this);
                l.start();
                $.ajax({
                    url: Routing.generate('admin_helper_parse_string'),
                    type: "POST",
                    data: $this.serialize(),
                    success: function (response) {

                        if(response.errorMessage) {
                            toastr.error(response.errorMessage, 'Błąd parsowania.');
                        }
                        else {
                            $parserParameters.find('.parser-value').html(response.parsedValue);

                            if(response.evaluateErrorMessage) {
                                $parserParameters.find('.evaluate-value').html(response.evaluateErrorMessage);
                                $parserParameters.find('.evaluate-value').removeClass('label-primary').addClass('label-warning');
                            }
                            else {
                                $parserParameters.find('.evaluate-value').html(response.evaluateValue);
                                $parserParameters.find('.evaluate-value').addClass('label-primary').removeClass('label-warning');
                            }

                        }

                        l.stop();
                    },
                    complete: function () {
                        l.stop();
                    }
                });
            });

            $form.trigger('submit');
        }

        function parserHandle() {

            var $form = $('#parser-date-form');
            var l = Ladda.create($form.find('button')[0]);

            $form.on('submit', function (e) {
                e.preventDefault();
                var $this = $(this);
                l.start();
                $.ajax({
                    url: Routing.generate('admin_helper_parse_date'),
                    type: "POST",
                    data: $this.serialize(),
                    success: function (resp) {
                        $form.find('#parser-result').val(resp.date);
                        l.stop();
                    }
                });
            });

            $form.trigger('submit');
        }

    </script>
{% endblock %}