{#{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin_tool_definition') }}"
       class="display-inline-block btn btn-xs blue pull-right tooltips">
        <i class="fa fa-plus"></i> {{ 'dodaj'|trans|capitalize }}
    </a>
    <div class="clearfix"></div>
{% endif %}
#}

<div id="side-menu-search">
    <div class="input-icon">
        <i class="icon-magnifier"></i>
        <input type="text" id="side-menu-search-input" class="form-control"
               placeholder="{{ 'search_tool'|trans|desc('Szukaj narzędzia') }}">
    </div>
</div>

<div id="side-menu-container">
    <div class="customMenuWrapper">
        {{ renderCachedMenu('userToolsMenu', {
            'depth': 2,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig'
        }) | raw }}
    </div>
</div>