{% extends "@Management/Default/base_management_panel.html.twig" %}

{% block extrastyle %}
    {{ parent() }}

    <style>
        span[data-case-id] {
            cursor: pointer;
            text-decoration: underline;
        }

        .management-nav-tabs span.close-tab {
            cursor: pointer;
        }

        table.dataTable tbody tr.selected {
            background-color: #e8ecf2;
        }

        .editable-note.editable-empty {
            border-bottom: none;
        }

    </style>

{% endblock %}

{% block pageContentWrapper %}

    <div class="portlet box m-t-1 management-portlet wrapper-atlas-viewer">
        <div class="portlet-body p-x-0 p-y-0">
            <div class="tabbable-custom">
                <ul class="nav nav-tabs management-nav-tabs">
                    <li class="active">
                        <a href="#case-searcher" data-toggle="tab" aria-expanded="false">
                            <strong><i class="fa fa-search"></i> Wyszukiwarka spraw</strong>
                        </a>
                    </li>
                </ul>
                <div class="tab-content management-tab-content">
                    <div class="tab-pane active" id="case-searcher">
                        {{ include('@App/CFMCaseViewer/Templates/searcher.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('@App/CFMCaseViewer/Templates/new_note_modal.html.twig') }}
    {{ include('@App/CFMCaseViewer/Templates/finish_rental_modal.html.twig') }}

    {% if canAddComplaint %}

        {{ include('@App/CFMCaseViewer/Templates/new_complaint_modal.html.twig') }}

    {% endif %}

    {{ include('@App/CFMCaseViewer/Templates/custom_ajax_modal.html.twig') }}

    {% if canCreateCase %}

        {{ include('@App/CFMCaseViewer/Templates/create_case_modal.html.twig') }}

    {% endif %}

{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/vendor/metronic/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/metronic/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/email-preview-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/case-note-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/cfm-case-viewer.js') }}"></script>

    <script>

        "use strict";

        var caseViewer = CFMCaseViewer();

    </script>


{% endblock %}