{% import "JMSJobQueueBundle:Job:macros.html.twig" as macros %}
{% if entity.state == 'finished' and not entity.output %}
    {% set color = 'green' %}
{% elseif entity.state == 'failed' or entity.state == 'finished' and entity.output %}
    {% set color = 'red' %}
{% else %}
    {% set color = 'orange' %}
{% endif %}

<html>
<head>
    <style>
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }

        .table > caption + thead > tr:first-child > th,
        .table > colgroup + thead > tr:first-child > th,
        .table > thead:first-child > tr:first-child > th,
        .table > caption + thead > tr:first-child > td,
        .table > colgroup + thead > tr:first-child > td,
        .table > thead:first-child > tr:first-child > td {
            border-top: 0;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

        .table .table {
            background-color: #fff;
        }

        .table-condensed > thead > tr > th,
        .table-condensed > tbody > tr > th,
        .table-condensed > tfoot > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > tbody > tr > td,
        .table-condensed > tfoot > tr > td {
            padding: 5px;
        }

        .table-bordered {
            border: 1px solid #ddd;
        }

        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            border: 1px solid #ddd;
        }

        .table-bordered > thead > tr > th,
        .table-bordered > thead > tr > td {
            border-bottom-width: 2px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        .table-hover > tbody > tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
</html>
<body>
<div class="portlet-title">
    <div class="caption">
        <a href="{{ path('admin_ticket_index') }}">
            <span class="caption-subject bold">#{{ entity.id ~', '~entity.command }}
            </span>
        </a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <td><strong>Status</strong></td>
        <td><strong style="color: {{ color }} ">{{ entity.state|upper }}</strong></td>
    </tr>
    <tr>
        <td><strong>{{ 'package'|trans|upper }}</strong></td>
        <td>{{ package.name }}</td>
    </tr>
    {% if file %}
        <tr>
            <td><strong>{{ 'file_name'|trans|capitalize }}</strong></td>
            <td>{{ file.name }}</td>
        </tr>
    {% elseif importer %}
        <tr>
            <td><strong>{{ 'query'|trans|capitalize }}</strong></td>
            <td>{{ importer.query }}</td>
        </tr>
    {% endif %}
    <tr>
        <td><strong>{{ 'command'|trans|desc('command') }}</strong></td>
        <td>
            {{ entity.command }}
            {% for key, arg in entity.args %}
                {{ ' '~arg }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td><strong>parameters</strong></td>
        <td>
            {% for key, arg in entity.args %}
                {{ key  ~': '~ arg }} {% if loop.index != loop.last %}<br/>{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td><strong>{{ 'created_at'|trans|desc('data utworzenia')|capitalize }}</strong></td>
        <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'started_at'|trans|desc('data rozpoczęcia')|capitalize }}</strong></td>
        <td>{{ entity.startedAt ? entity.startedAt|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'closed_at'|trans|desc('data zamknięcia')|capitalize }}</strong></td>
        <td>{{ entity.closedAt ? entity.closedAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'process_worker_name'|trans|desc('nazwa workera procesu')|capitalize }}</strong></td>
        <td>{{ entity.workerName }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'output'|trans }}</strong></td>
        <td><span style="color:red">{{ entity.output|raw }}</span></td>
    </tr>
    <tr>
        <td><strong>{{ 'exit_code'|trans }}</strong></td>
        <td>{{ entity.exitCode|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'error_output'|trans }}</strong></td>
        <td>{{ entity.errorOutput|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'stack_trace'|trans }}</strong></td>
        <td>{{ entity.stackTrace|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'runtime'|trans|desc('Czas trwania') }}</strong></td>
        <td>{{ entity.runtime|gmdate('H:i:s') }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'memory_usage'|trans|desc('Zużycie pamięci') }}</strong></td>
        <td>{{ entity.memoryUsage }}</td>
    </tr>
</table>
</body>