<h4>Utworzono nową sprawę z Atlas Viewer - {{ case_number }}</h4>

<table>

    <tr><td>Imię kierowcy</td><td>{@80,342,64@}</td></tr>
    <tr><td>Nazwisko kierowcy</td><td>{@80,342,66@}</td></tr>
    <tr><td>Numer telefonu</td><td>{@80,342,408,197@}</td></tr>

    <tr><td>Typ zdarzenia</td><td>{@491@}</td></tr>
    <tr><td>Data zdarzenia</td><td>{@101,104@}</td></tr>

    <tr><td>Numer rejestracyjny</td><td>{@74,72@}</td></tr>
    <tr><td>VIN</td><td>{@74,71@}</td></tr>
    <tr><td>DPR</td><td>{@74,233@}</td></tr>
    <tr><td>Marka / Model</td><td>{@74,73@}</td></tr>

    <tr><td>Uwagi / Opis zdarzenia / Lokalizacje</td><td>{@994@}</td></tr>

</table>