<h4>Otrzymano nową wiadomość od Starter24 w aplikacji Atlas Viewer - {{ case_number }} / {{ registerNumber }}</h4>
{% if isPZU and to is not empty %}
    <p>Jest to odpowiedź na wiadomość użytkownika: {{ to }}</p>
{% endif %}
<p>Link do sprawy w Atlas Viewer:</p>
<p><a href="{{ url }}">{{ url }}</a></p>