{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="login-page-logo wow fadeIn" data-wow-delay="0.5s">
        <a class="brand" href="{{ path('index') }}">
            <img src="{{ asset('atlas_logo.png') }}" alt="">
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <div class="container">
        {% include 'WebBundle:Default/partials:flash-messages.html.twig' %}
        <div class="row m-t-3">
            <div class="col-md-4 col-md-offset-4 user-form-container login-container m-t-3">
                <div class="col-xs-12 title-container">
                    <h3 class="login-title text-center col-xs-12">
                        {{ 'login.title'|trans|desc('Zaloguj się') }}
                    </h3>
                </div>
                <div class="p-x-3 p-t-3 p-b-1">
                    {#<hr class="wow fadeInUp" data-wow-delay="2.5s">#}
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post"
                          class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <div class="form-group validated">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" placeholder="Login" id="username"
                                           name="_username"
                                           value="{{ last_username }}" required="required"/>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="form-control" placeholder="Hasło" id="password"
                                           name="_password" required="required"/>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                        </div>
                        {#<div class="md-checkbox-list">#}
                        {#<div class="md-checkbox">#}
                        {#<input type="checkbox" id="remember_me" name="_remember_me"#}
                        {#value="on"/>#}
                        {#<label for="remember_me">#}
                        {#<span></span>#}
                        {#<span class="check"></span>#}
                        {#<span class="box"></span> {{ 'Zapamiętaj mnie'|trans }} </label>#}
                        {#</div>#}
                        {#</div>#}

                        <div class="form-group margin-top-20 align-center">
                            <div class="col-xs-12">
                                <button type="submit" class="btn full login-button full-width">{{ 'Zaloguj'|trans }}</button>
                            </div>
                        </div>
                        <p style="text-align: center;" class="wow fadeInDown" data-wow-delay="2s">
                            <a href="{{ url('fos_user_resetting_request') }}" style="color: white;">
                                <small>
                                    {{- 'resetting.request.not_remember'|trans|desc('Nie pamiętam hasła') -}}
                                </small>
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        /** Only production redirect to https */

//        if(window.location.href === "http://atlas.starter24.pl/login" ) {
//            window.location.href = "https://atlas.starter24.pl/login"
//        }

        function inIframe () {
            try {
                return window.self !== window.top;
            } catch (e) {
                return true;
            }
        }

        if(inIframe()) {

            window.parent.postMessage({
                type: 'force-redirect',
                delay: 10
            }, '{{ url('index') }}');

        }

    </script>
{% endblock %}