{% set blockHeader = block('header') %}
{% set blockMenu = block('menu') %}
{% set pageTitle = block('title') %}
{% set blockBreadCrumbs = block('breadCrumbs') %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js no-logon"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=latin-ext" rel="stylesheet">
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    {% block extrastyle %} {% endblock %}
</head>
<body class="page-sidebar-closed-hide-logo page-content-white page-md page-header-fixed login-page {% block wow_class%}{% endblock %}">
{# if is_granted('ROLE_ADMIN') %}
    {% include 'WebBundle:Admin:top-menu.html.twig' %}
{% endif #}

<body class="page-header-fixed page-sidebar-closed-hide-logo page-md">

<div class="container-fluid">
    <div class="page-content p-t-3">
        {% if blockHeader is not empty %}
            <h3 class="page-title"> {{ blockHeader|raw }}</h3>
        {% endif %}

        <div class="row" id="content">
            {% block content %} {% endblock %}
        </div>

    </div>
</div>


</body>
{% include "WebBundle:Default:assets/javascripts.html.twig" %}
{% block extrascripts %} {% endblock %}
</body>
</html>
