{% extends "WebBundle::base_operational_dashboard.html.twig" %}

{% block bodyExtraClass %} {{ parent() }} case-editor service-editor {% endblock %}

{% block pageContentWrapper %}
    <div id="page-main-content" class="page-content-wrapper">
        <div class="page-content">
            <div class="cancel-step-overlay"></div>
            <div class="step-cancel-popup wow" data-wow-duration="0.8s">
                <div class="header"><p class="title"></p>
                    <div class="icon"></div>
                    <i class="fa fa-times close-popup js-close-popup" aria-hidden="true"></i>
                </div>
                <div class="tooltip-inner-content">
                    <label for="explanation">Przyczyna anulacji</label>
                    <textarea rows="10" name="explanation" type="text" class="explanation"></textarea>
                    <button class="confirm-cancel btn red-mint">Anuluj</button>
                </div>
            </div>

            {#left side with tickets #}
            {% include '@Operational/CaseEditor/left-panel.html.twig' %}

            {#container for all forms #}
            {% include '@Operational/CaseEditor/middle-panel.html.twig' %}

                {# right side with notifications #}
            {% if type == 'serviceEditor' %}
                {% include '@Operational/CaseEditor/service-editor-right-panel.html.twig' %}
            {% else %}
                {% include '@Operational/CaseEditor/right-panel.html.twig' %}
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block extrascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/web/js/vendor/lodash.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/gridstack.js') }}"></script>

    {#<div id="emapi-url" data-url="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2"></div>#}
    <script src="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/LoadApi.aspx?userId=6vihz1Nbw5QC5rQ5&ver=2" type="text/javascript"></script>
    <script src="{{ asset('js/atlas-map.js') | removeAppDev  }}"></script>
    <script src="{{ asset('js/gos-web-socket.js') }}"></script>

    <script>
        var _userId = {{ app.user.id }}
        var _overridePhoneNumber = {{ overrideNumber }}
        {#document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port | incrementByOne(app.request.secure) }}";#}
        document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";
    </script>
    <script src="{{ asset('js/dashboard-scripts.js') }}" type="text/javascript"></script>

    {% if app.request.query.has('action') %}
        {% set queryAction = app.request.query.get('action', null) %}

        {% if queryAction == "telephony-pick-up" %}

            <script>

                var telephonyPickUpAction = {
                    processInstances: {{ app.request.query.get('process_instance', null) }},
                    isForce: {{ app.request.query.get('isforce', null) }}
                }

            </script>
        {% elseif queryAction == "task-overview" %}
            <script>

                var taskOverviewAction = {
                    processInstances: {{ app.request.query.get('process_instance', null) }}
                }

            </script>
        {% endif %}
    {% endif %}

{% endblock %}