<div class="mt-element-list">
    {#<div class="mt-list-head list-default ext-1 yellow-saffron">#}
    {#<div class="row">#}
    {#<div class="col-xs-8">#}
    {#<div class="list-head-title-container">#}
    {#<h3 class="list-title uppercase sbold">Default List</h3>#}
    {#<div class="list-date">Nov 8, 2015</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-xs-4">#}
    {#<div class="list-head-summary-container">#}
    {#<div class="list-pending">#}
    {#<div class="list-count badge badge-default ">3</div>#}
    {#<div class="list-label">Pending</div>#}
    {#</div>#}
    {#<div class="list-done">#}
    {#<div class="list-count badge badge-default last">2</div>#}
    {#<div class="list-label">Completed</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    <div class="mt-list-container list-default ext-1">
        <div class="mt-list-title uppercase">Wyszukane zadania
            {#<span class="badge badge-default pull-right bg-hover-green-jungle">#}
            {#<a class="font-white" href="javascript:;">#}
            {#<i class="fa fa-plus"></i>#}
            {#</a>#}
            {#</span>#}
        </div>
        <ul>
            {% for process in processes %}

                <li class="mt-list-item" data-process-id="{{ process.id }}"
                    data-root-id="{{ process.root_id }}"
                    data-group-id="{{ process.group_process_id }}"
                    data-step-id="{{ process.step_id }}" >
                    {#<div class="list-icon-container">#}
                    {#<a href="javascript:;">#}
                    {#<i class="fa fa-search"></i>#}
                    {#</a>#}
                    {#</div>#}
                    <div class="list-datetime"> {{ process.created_at | date('H:i:s') }}
                        <br> {{ process.created_at | date('d.m.Y') }}
                    </div>
                    <div class="list-item-content">
                        <h4 class="uppercase">
                            <span>{{ process.step }}</span>
                        </h4>
                        <p>{{ process.step_id }}</p>
                    </div>
                </li>

            {% endfor %}

        </ul>
    </div>
</div>