<div class="col-xs-4 portlet light">
    <div class="portlet-title" style="margin-bottom: 10px">
        <h4>Wyszukiwarka</h4>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-xs-12">
                <form action="" id="case-editor-form">
                    <div class="form-body row">
                        <div class="form-group col-xs-4">
                            <label class="sr-only" for="case-number">Numer sprawy</label>
                            <div class="input-icon">
                                {#<div class="input-group input-icon right">#}
                                {#<span class="input-group-addon">#}
                                {#<i class="fa fa-envelope font-purple"></i>#}
                                {#</span>#}
                                <i class="fa fa-file-text"></i>
                                <input type="text" class="form-control" name="case-number" id="case-number"
                                       placeholder="Numer sprawy" value="">
                            </div>
                        </div>
                        <div class="form-group col-xs-5">
                            <label class="sr-only" for="search-word">Nazwa atrybutu</label>
                            <div class="input-icon">
                                <i class="fa fa-font"></i>
                                <input type="text" class="form-control" name="search-word" id="search-word"
                                       placeholder="Nazwa atrybutu" value="">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" data-style="zoom-in" data-size="s" class="btn blue ladda-button">
                                <span class="ladda-label">
                                    <i class="fa fa-search"></i>
                                    {{ 'form.search'|trans|capitalize }}
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="form-result">
                    <div class="result-loader hidden">
                        <div class="loader relative">
                            <div class="ball-spin-fade-loader">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="result-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "@Operational/Default/partials/modals/semirequired-confirmation-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/cancel-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/abandon-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/update-position-map-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/custom-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/postpone-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/validation-error-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/dynamic-edit-attribute-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/service-program-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/step-forward-modal.html.twig" %}