<div class="col-xs-4 portlet light" id="service-editor-tasks">

    <div class="portlet-title" style="margin-bottom: 10px">
        <h4 class="uppercase"><span class="font-blue-dark bold">{{ serviceName }}</span> w sprawie <span class="font-green-turquoise bold">{{ caseNumber }}</span></h4>
    </div>
    <div class="portlet-body">
        {% if not is_granted('ROLE_CONSULTANT_ADVANCED') %}
            <div class="alert alert-warning">{{ 'consultant.edit.permissions.info'|trans|desc('Brak roli <b>konsultant zaawansowany</b> uniemożliwia edycję wszystkich pól')|raw }}</div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div id="form-result">
                    <div class="result-content">
                        <div class="mt-element-list">
                            <div class="mt-list-container list-default ext-1">
                                <ul>
                                    {% for process in processes %}

                                        <li class="mt-list-item" data-process-id="{{ process.id }}"
                                            {#data-root-id="{{ process.root_id }}"#}
                                            {#data-group-id="{{ process.group_process_id }}"#}
                                            data-step-id="{{ process.step_id }}" >
                                            <div class="list-item-content">
                                                <h4 class="uppercase">
                                                    <span>{{ process.name|raw }}</span>
                                                </h4>
                                                <p>{{ process.description|raw }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div id="gop" data-group-process-id="{{ groupProcessId }}">
                {#
                {% if rentalAutomat >= 0 %}
                    <div id="rental-automat">
                        {% if rentalAutomat > 0 %}
                            <a id="automat-change-state" data-action="stop" class="btn btn-default full" href="#"><i class="fa fa-pause-circle"></i> Zatrzymaj automat przedłużenia wynajmu</a>
                        {% else %}
                            <a id="automat-change-state" data-action="start" class="btn btn-default full" href="#"><i class="fa fa-play-circle"></i> Uruchom automat przedłużenia wynajmu</a>
                        {% endif %}
                    </div>
                {% endif %}
                #}
            {% if isGop %}
                <div class="col-xs-12 m-b-1 p-t-2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label" for="email">{{ 'partner.email'|trans|desc('Email partnera') }}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class=" form-control" value="{{ gopEmail }}" placeholder="{{ 'email'|trans }}" name="email" id="gop-email"/>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    {% if not crossBorder %}
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <input type="checkbox" class="form-check-input" id="final">
                            <label class="form-check-label" for="final">{{ 'final.gop'|trans|desc('Ostateczna gwarancja płatności') }}</label>
                        </div>
                    </div>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 p-r-0">
                    <a class="btn btn-default full" href="{{ servicePanelUrl }}"><i class="fa fa-undo"></i> Panel świadczeń</a>
                </div>
                <div class="col-md-4 p-r-0">
                    <a class="btn btn-default full" href="#" id="gop-preview"><i class="fa fa-eye"></i> Podgląd GOP</a>
                </div>
                <div class="col-md-4">
                    <a data-style="zoom-in" data-size="s" type="button" class="btn btn-success full ladda-button" href="#" data- id="gop-send">
                        <span class="ladda-label">
                            <i class="fa fa-envelope-o"></i> Wyślij GOP
                        </span>
                    </a>
                </div>
            {% else %}
                <div class="col-xs-12">
                    <a class="btn btn-default full" href="{{ servicePanelUrl }}"><i class="fa fa-undo"></i> Panel świadczeń</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% include "@Operational/Default/partials/modals/semirequired-confirmation-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/cancel-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/abandon-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/update-position-map-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/custom-process-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/postpone-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/validation-error-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/dynamic-edit-attribute-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/service-program-modal.html.twig" %}
{% include "@Operational/Default/partials/modals/step-forward-modal.html.twig" %}