<div class="modal fade bs-modal " id="add-key-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">Dodaj nowy klucz do bazy</h4>
            </div>
            <div class="modal-body">
                <form id="key-add-form">
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-id">Klucz</label>
                        <div class="col-md-9">
                            <input  type="text" id="key-id" name="key-id" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-name">Nazwa klucza</label>
                        <div class="col-md-9">
                            <input  type="text" id="key-name" name="key-name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-desc">Opis klucza</label>
                        <div class="col-md-9">
                            <textarea id="key-desc" name="key-desc" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-type">Typ klucza</label>
                        <div class="col-md-9">
                            <select class="form-control select2" name="key-type" id="key-type">
                                <option value="checkbox">Checkbox</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                                <option value="datetime">Datetime</option>
                                <option value="date">Date</option>
                                <option value="select">Select</option>
                                <option value="multiselect">Multiselect</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-category">Kategoria klucza</label>
                        <div class="col-md-9">
                            <select class="form-control select2" name="key-category" id="key-category">
                                {%   for single in KeyCategories  %}}
                                    <option value="{{ single.category }}">
                                        {{ single.category }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-isProgram">Dostępne w programach</label>
                        <div class="col-md-9">
                            <input type="checkbox" id="key-isProgram" value="1" name="key-isProgram">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="key-query">Query:</label>
                        <div class="col-md-9">
                            <textarea id="key-query" class="form-control" name="key-query"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-success" id="key-add-save-form">Zapisz klucz</button>
            </div>
        </div>
    </div>
</div>