{# program \CaseBundle\Entity\Program #}
<div class="modal fade bs-modal" id="copy-configs-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">Kopiowanie konfiguracji</h4>
            </div>
            <div class="modal-body">
                <form id="copy-configs-form">
                    <div class="alert alert-info">
                        <strong>Info!</strong> Upewnij się, że konfiguacja jest zaktualizowana!
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="config-source">Kopiuj z:</label>
                        <div class="col-md-8">

                            <select class="form-control select2" name="config-source" id="config-source">
                                <option value="">---</option>
                                {% for program in allPrograms %}
                                    <option value="{{ program.id }}">{{ program.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4  control-label" for="config-target">Kopiuj do:</label>
                        <div class="col-md-8">
                            <select class="form-control select2" name="config-target" id="config-target">
                                <option value="">---</option>
                                {% for program in allPrograms %}
                                    <option value="{{ program.id }}">{{ program.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="config-copy-platform">Czy skopiować konfigurację platformy</label>
                        <div class="col-md-8">

                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline" for="config-copy-platform">
                                    <input type="checkbox" name="config-copy-platform" id="config-copy-platform" value="1">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row text-align-reverse">
                        <div class="col-md-12">
                            <button type="submit" data-style="zoom-in" data-size="s" class="btn ladda-button btn-green-meadow">
                                <span class="ladda-label"><i class="fa fa-copy"></i>
                                  Kopiuj konfiguracje
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

