{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('jms_translation_index')}}">
                <span class="caption-subject bold">
                    {{ 'admin_translations'|trans|desc('Tłumaczenia')}}
                </span>
            </a>
        </div>
    </div>

    <form id="config" action="{{ path("jms_translation_index") }}" method="get">
        <div class="form-group row">
            <div class="col-md-3">
                <select class="form-control" name="config">
                    {% for config in configs %}
                        <option value="{{ config }}"{% if config == selectedConfig %} selected="selected"{% endif %}>{{ config }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <select class="form-control" name="domain" class="col-md-3">
                    {% for domain in domains %}
                        <option value="{{ domain }}"{% if domain == selectedDomain %} selected="selected"{% endif %}>{{ domain }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <select class="form-control" name="locale" class="col-md-3">
                    {% for locale in locales %}
                        <option value="{{ locale }}"{% if locale == selectedLocale %} selected="selected"{% endif %}>{{ locale }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    </form>

    <div class="clearfix"></div>

    {% if isWriteable is sameas(false) %}
        <div class="alert-message error">
            The translation file "<strong>{{ file }}</strong>" is not writable.
        </div>
    {% endif %}

    {% if newMessages is not empty %}
        <h3> {{ 'new translations'|trans|desc('Nowe tłumaczenia') }}</h3>
        {% include "WebBundle:Translate:messages.html.twig" with {"messages": newMessages} %}
    {% endif %}

    {% if existingMessages is not empty %}
        <h3> {{ 'translations'|trans|desc('Tłumaczenia') }}</h3>
        {% include "WebBundle:Translate:messages.html.twig" with {"messages": existingMessages} %}
    {% endif %}

{% endblock %}

{% block extrascripts %}
    <script language="javascript" type="text/javascript"
            src="{{ asset("bundles/web/js/jms-translation-custom.js") }}"></script>

    <script language="javascript" type="text/javascript">
        $(function () {
            var updateMessagePath = {{ path("jms_translation_update_message", {"config": selectedConfig, "domain": selectedDomain, "locale": selectedLocale})|json_encode|raw }};
            var isWritable = {{ isWriteable is sameas(true) ? 'true' : 'false' }};
            var JMS = new JMSTranslationManager(updateMessagePath, isWritable);

            JMS.ready();
        });
    </script>
{% endblock %}