<table id="translation-table" class="table table-bordered">
    <thead>
    <tr>
        <th class="col-md-3">ID</th>
        <th class="col-md-5">{{ 'translation'|trans|desc('Tłumaczenie') }}</th>
        <th class="col-md-4">{{ 'other_languages'|trans|desc('Inne języki') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, message in messages %}
        <tr>
            <td class="col-md-3">
                <a class="jms-translation-anchor" id="{{ id }}">
                    <p><abbr title="{{ id }}">{{ id|slice(0, 25) }}{% if id|length > 25 %}...{% endif %}</abbr></p>
                </a>
                <div class="info"></div>
            </td>
            <td class="col-md-5">
                <textarea class="form-control" data-id="{{ id }}"
                          class="span6"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea>
            </td>
            <td class="col-md-4">
                {% if message.meaning is not empty %}
                    <h6>Meaning</h6>
                    <p>{{ message.meaning }}</p>
                {% endif %}

                {% if alternativeMessages[id] is defined %}
                    {% for locale, altMessage in alternativeMessages[id] %}
                        <div class="query-debug"><span
                                    class="badge badge-info uppercase m-r-1">{{ locale }}</span>{{ altMessage.localeString }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if message.sources|length > 0 %}
                    <h6>Sources</h6>
                    <ul>
                        {% for source in message.sources %}
                            {%- set link = source.path|file_link(source.line) %}
                            {%- if link %}<a href="{{ link }}" title="{{ source }}">{% else %}<span>{% endif %}
                            <li class="jms-sources-list-item truncate-left">{{ source }}</li>
                            {%- if link %}</a>{% else %}</span>{% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if message.desc is not empty
                and message.localeString != message.desc
                and id != message.desc
                and (alternativeMessages[id][sourceLanguage] is not defined
                or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                    <h6>Description</h6>
                    <p>{{ message.desc }}</p>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No messages found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
