<div class="modal" tabindex="-1" role="dialog" id="modalChangeCarType">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">{{ 'casetools.modalChangeCarType.Header'|trans|desc('Zmień samochód') }}</h4>
            </div>
            <div class="modal-body " style="overflow:hidden;">
                <form action="" class="form col-md-12 row ">
                    <input type="hidden" id="carChangeRootId" name="carChangeRootId" />
                    <div class="form-group col-md-12">
                        <b>{{ 'casetools.modalChangeCarType.chooseGroupProcessInstance'|trans|desc('Wybierz usługę') }}</b>
                        <select class="select2 select" name="modalChangeCarGroupProcessInstanceId" id="modalChangeCarGroupProcessInstanceId">
                            <option value="">---</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <b>{{ 'casetools.modalChangeCarType.text'|trans|desc('Wybierz docelowy typ samochodu') }}</b>
                        <select class="select2" id="modalCarChange" name="modalCarChange">
                            <option value="">---</option>
                            <option value="1">Laweta</option>
                            <option value="2">Pojazd patrolowy</option>
                            <option value="3">Pojazd patrolowy kontraktora</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <button data-color="blue" data-style="zoom-in" data-size="s" type="submit"
                                class="btn btn-info ladda-button btn-block">
            <span class="ladda-label">
                <i class="fa fa-save static" aria-hidden="true"></i> Zapisz
            </span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>