<div class="modal" tabindex="-1" role="dialog" id="modalCloseCaseProposal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">{{ 'casetools.closeProposals.closeCaseProposalHeader'|trans|desc('Wniosek o ZO') }}</h4>
            </div>
            <div class="modal-body " style="overflow:hidden;">
                <form action="" class="form col-md-12 row ">
                    <input type="hidden" name="rootid" id="closeProposalRootId">
                    <div class="form-group col-md-12">
                        <b>{{  'casetools.closeProposals.closeCaseProposalText'|trans|desc('Treść zgłoszenia') }}</b>
                        <textarea name="closeProposalText" id="closeProposalText" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button data-color="blue" data-style="zoom-in" data-size="s" type="submit"
                                class="btn btn-info ladda-button btn-block">
            <span class="ladda-label">
                <i class="fa fa-save static" aria-hidden="true"></i> Zapisz
            </span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>