<div class="modal" tabindex="-1" role="dialog" id="modalMakeComplaint">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">{{ 'casetools.complaints.openNewComplaint'|trans|desc('Otwórz reklamację') }}</h4>
            </div>
            <div class="modal-body " style="overflow:hidden;">
                <form action="" class="form col-md-12 row ">
                    <input type="hidden" name="rootid" id="complaintRootId">
                    <div class="form-group col-md-12">
                        <b>{{  'casetools.complaints.complaintType'|trans|desc('Typ zgłoszenia') }}</b>
                        <select class="select2" id="complaintType" name="complaintType">
                            <option value="">Wybierz opcję</option>
                            <option value="1">Nr rejestracyjny - brak lub zły</option>
                            <option value="2">VIN - brak lub zły</option>
                            <option value="3">Data I rejestracji - brak lub zła</option>
                            <option value="4">Przebieg - brak lub zły</option>
                            <option value="5">DMC - brak lub złe</option>
                            <option value="6">Numer uprawnienia - brak lub zły</option>
                            <option value="7">Program - wybrano nieprawidłowy</option>
                            <option value="8">Miejsce docelowe holowania - brak lub złe</option>
                            <option value="9">Usługa przypisana do kontraktora - brak lub zła</option>
                            <option value="10">Opcja przypisana do usługi kontraktora - brak lub zła</option>
                            <option value="11">Kontraktor przypisany do usługi - brak lub zły</option>
                            <option value="12">Kod zdarzenia - brak lub zły</option>
                            <option value="13">Km przy usłudze - brak lub złe</option>
                            <option value="14">Nr rejestracyjny pojazdu wykonującego usługę - brak lub zły</option>
                            <option value="15">Koszty przy usłudze - brak lub złe</option>
                            <option value="16">Status formalny zamknięcia usługi - nieprawidłowy</option>
                            <option value="17">Status realizacji usługi przy zamknięciu - nieprawidłowy</option>
                            <option value="18">"Sprawa zamknięta operacyjnie, a powinna być anulowana"</option>
                            <option value="19">"Sprawa anulowana, a powinna być zamknięta operacyjnie"</option>
                            <option value="20">Sprawa zamknięta operacyjnie odgórnie bez maila do kontraktora</option>
                            <option value="21">Franszyza kilometrowa - brak lub nieprawidłowa weryfikacja</option>
                            <option value="22">Limit przebiegu - brak lub nieprawidłowa weryfikacja</option>
                            <option value="23">Kraj zakupu pojazdu - brak lub zły</option>
                            <option value="24">Kraj rejestracji pojazdu - brak lub zły</option>
                            <option value="25">Limity usług - przekroczone</option>
                            <option value="26">Usługi dodatkowe - nieuprawnione świadczenie</option>
                            <option value="27">Zdarzenie - nie powinno być obsłużone</option>
                            <option value="28">"Złe atrybuty w VW/ Audi, brak RS"</option>
                            <option value="29">Błąd kontraktora</option>
                            <option value="30">Błąd DF</option>
                            <option value="31">błąd PZ</option>
                            <option value="32">Zła data zakończenia</option>

                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <b> {{ 'casetools.complaints.topic'|trans|desc('Zgłoszenie odnośnie:') }}</b>
                        <select class="select2" id="complaintGroupProcessInstance" name="complaintGroupProcessInstance">
                            <option value="">{{ 'casetools.complaints.complaintTextNull'|trans|desc('Wybierz zgłoszenie') }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <b>{{  'casetools.complaints.complaintText'|trans|desc('Treść zgłoszenia') }}</b>
                        <textarea name="complainText" id="complaintText" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button data-color="blue" data-style="zoom-in" data-size="s" type="submit"
                                class="btn btn-info ladda-button btn-block">
            <span class="ladda-label">
                <i class="fa fa-save static" aria-hidden="true"></i> Zapisz
            </span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>