{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block wow_class%}{% endblock %}

{% block content %}
    <div class="login-page-logo" >
        <a class="brand" href="{{ path('index') }}">
            <img src="{{ asset('atlas_logo.png') }}" alt="">
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <div class="container">
        <div class="row m-t-3">
            <div class="col-md-4 col-md-offset-4 user-form-container login-container m-t-3">
                <div class="p-x-3 p-t-3 p-b-1">

                    {% include 'WebBundle:Default/partials:flash-messages.html.twig' %}
                    {% if error is defined and error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% block fos_user_content %}

                        <p style="text-align: justify; color: #fff; font-size: 16px;">
                            {{ 'resetting.password_already_requested'|trans }}
                        </p>

                    {% endblock fos_user_content %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
