{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block wow_class%}{% endblock %}

{% block content %}
    <div class="login-page-logo" >
        <a class="brand" href="{{ path('index') }}">
            <img src="{{ asset('atlas_logo.png') }}" alt="">
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <div class="container">
        <div class="row m-t-3">
            <div class="col-md-4 col-md-offset-4 user-form-container login-container m-t-3">
                <div class="col-xs-12">
                    <h3 class="login-title no-key text-center col-xs-12">
                        {{ 'resetting.reset_password'|trans({}, 'messages')|desc('Zresetuj hasło') }}
                    </h3>
                </div>
                <div class="p-x-3 p-t-3 p-b-1">

                    {% include 'WebBundle:Default/partials:flash-messages.html.twig' %}
                    {% if error is defined and error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% block fos_user_content %}

                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal fos_user_resetting_request">

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <i class="fa fa-user"></i>
                                        <input placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" class="form-control" name="username" required="required" />
                                        <div class="form-control-focus"></div>
                                    </div>
                                    {% if invalid_username is defined %}
                                        <div class="alert alert-danger m-b-1" style="width: auto; max-width: 330px;" role="alert">
                                            <i class="fa fa-info-circle m-r-2"></i>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group margin-top-20 align-center">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn full login-button full-width">{{ 'resetting.request.submit'|trans }}</button>
                                </div>
                            </div>
                        </form>

                    {% endblock fos_user_content %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
