{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block wow_class%}{% endblock %}

{% block content %}
    <div class="login-page-logo" >
        <a class="brand" href="{{ path('index') }}">
            <img src="{{ asset('atlas_logo.png') }}" alt="">
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <div class="container">
        <div class="row m-t-3">
            <div class="col-md-4 col-md-offset-4 user-form-container login-container m-t-3">
                <div class="col-xs-12">
                    <h3 class="reset-title text-center col-xs-12" >
                        {{ 'resetting.reset_password'|trans({}, 'messages')|desc('Zresetuj hasło') }}
                        {% if app.request.query.has('active') %}
                            <p>
                                <small>
                                    {{ 'resetting.for_active_account'|trans({}, 'messages')|desc('aby aktywować konto') }}
                                </small>
                            </p>
                        {% endif %}
                    </h3>
                </div>
                <div class="p-x-3 p-t-3 p-b-1">

                    {% include 'WebBundle:Default/partials:flash-messages.html.twig' %}
                    {% if error is defined and error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% block fos_user_content %}

                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <i class="fa fa-lock"></i>
                                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': form.plainPassword.first.vars.label }}) }}
                                        <div class="form-control-focus"></div>
                                    </div>
                                    <div class="errors-reset-form">
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <i class="fa fa-lock"></i>
                                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': form.plainPassword.second.vars.label }}) }}
                                        <div class="form-control-focus"></div>
                                    </div>
                                    <div class="errors-reset-form">
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                </div>
                            </div>

                            {{ form_rest(form) }}

                            <div class="form-group margin-top-20 align-center">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn full login-button full-width">{{ 'resetting.reset.submit'|trans }}</button>
                                </div>
                            </div>

                        {{ form_end(form) }}

                    {% endblock fos_user_content %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}