<div class="row m-b-1">
    <div class="col-md-3">
        <a href="#" data-add-minutes="0" class="btn btn-default full add-time">
            <span class="big">0</span>
            {{ 'minutes'|trans|desc('minut') }}
            {#{{ 'postpone.without'|trans|desc('bez odroczenia')|capitalize }}#}
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" data-add-minutes="20" class="btn btn-default full add-time">
            <span class="big">+20</span>
            {{ 'minutes'|trans|desc('minut') }}
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" data-add-minutes="180" class="btn btn-default full add-time">
            <span class="big">+3</span>
            {{ 'hours'|trans|desc('godziny') }}
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" data-add-minutes="1440" class="btn btn-default full add-time">
            <span class="big">+1</span>
            {{ 'day'|trans|desc('dzień') }}
        </a>
    </div>
</div>
<div class="clearfix"></div>

<div class="form-group">
    <label for="postpone-time">{{ 'or choose time from calendar'|trans|desc('lub wskaż dokładny czas z kalendarza')|capitalize }}</label>
    <input type="text" name="postpone-time" id="postpone-time" class="form-control date-time-picker from-now">
</div>
<div class="form-group">
    <label for="postpone-reason">{{ 'postpone.reason'|trans|desc('powód')|capitalize }}</label>
    <select type="text" name="postpone-reason" id="postpone-reason" class="form-control">
        {% for value_reason, label_reason in reasons %}
            <option value="{{ value_reason }}" {{ (label_reason == reason) ? "selected" : "" }}>{{ label_reason }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="postpone-description">{{ 'postpone.description'|trans|desc('dodatkowe wytyczne')|capitalize }}</label>
    <textarea name="postpone-description" id="postpone-description" class="form-control" cols="30" rows="6">{{ description }}</textarea>
</div>
<input type="hidden" name="postpone-id" id="postpone-id">
{% if user %}
    <p>Ostatnio odroczone przez: <b>{{ user.getName }}</b></p>
{% endif %}