{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <form id="tool-editor-form" class="form-horizontal" action="" method="POST">

        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <div class="clearfix"></div>
        <div class="form-actions m-t-1">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}