{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <a href="{{ path('admin_user_group_editor', { 'userId' : user.id }) }}"
       class="btn green-meadow xs-full pull-right p-x-1 margin-bottom-20">
        <i class="fa fa-plus"></i>
        {{ 'add_filter'|trans|desc('dodaj filtr')|capitalize }}
    </a>
    <div class="clearfix"></div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vam">
            <thead>
            <tr>
                <th class="fit">#</th>
                <th>{{ 'firstname_and_lastname'|trans|desc('imię i nazwisko')|capitalize }}</th>
                <th>{{ 'login'|trans|capitalize }}</th>
                <th>{{ 'e-mail'|trans|capitalize }}</th>
                <th>{{ 'company'|trans|desc('firma')|capitalize }}</th>
                <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <th scope="row" class="fit">{{ entity.id }}</th>
                    <td class="entity-name">{{ entity.name }}</td>
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.company }}</td>
                    <td class="fit">
                        <a href="{{ path('admin_user_filter_editor', {'userId': user.id, 'id': entity.id}) }}"
                           class="btn green usertips btn-xs" data-toggle="usertip" data-placement="top"
                           title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#"
                           class="btn red btn-delete usertips btn-xs" data-toggle="usertip" data-placement="top"
                           title="{{ 'delete'|trans|desc('usuń')|title }}"
                           data-url="{{ path('admin_user_filter_delete', {'id': entity.id}) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}