<html>
<head>
    <title> Ankieta</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"
            integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>


    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        window.buttonsHeaderText = "{{ buttonsHeaderText }}";
        window.rating = {{ rating }};
        window.uid = "{{ uid }}";
        window.showRecommend = {{ showRecommend|raw }};
        window.showThanks = {{ showThanks }};
        window.version = {{ version|raw}};
        window.showContact = {{ showContact }};
        window.showRecommendText = "{{ showRecommendText }}";
        window.buttonsList = {{ buttonsList |json_encode|raw }};
    </script>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144164745-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144164745-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="holderApp">{% raw %}
        <div class="app" id="app">
        </div>
    {% endraw %}</div>

<script src="{{ asset('bundles/web/js/vendor/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/survey.js') }}" type="text/javascript"></script>
<link href="{{ asset('/css/survey.css') }}" type="text/css" rel="stylesheet">
</body>

</html>