<div id="html_form_api">
    <form id="api-call-form" class="form-horizontal" action="{{ path('admin_api_call_editor', {'stepId' : stepId}) }}" method="POST" novalidate>

    <div id="form-errors">
        {{ form_errors(form) }}
    </div>

    <div class="calls">
        <div class="row" data-prototype="{{ form_widget(form.apicalls.vars.prototype)|e('html_attr') }}">
        {% for apiCall in form.apicalls%}
            <div class="col-md-6 apicall-form" data-id="{{ apiCall.vars.value.id }}">
                {{ form_errors(apiCall) }}
                {{ form_widget(apiCall) }}
            </div>
        {% endfor %}
            <div class="form-actions">
                <button type="button"  class="btn btn-primary add_new_form">  {{ 'add_new'|trans|desc('Dodaj nowy')|capitalize }}</button>
                <button type="submit" id="form-submit" class="btn green">
                    {{ 'submit'|trans|desc('zapisz')|capitalize }}
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
</div>