{% extends "WebBundle::base.html.twig" %}
{% block title %} {{ 'posts'|trans|desc('Posty')|capitalize}} {% endblock %}
{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_user_groups')}}">
                <span class="caption-subject bold">
                    {{ 'posts'|trans|desc('Posty')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-2 no-padding">
        <a href="{{ path('admin_post_new') }}" class="col-xs-12 no-padding btn btn-sm blue col-sm-12 xs-full pull-right p-x-1 m-b-1">
            <i class="fa fa-plus"></i>
            {{ 'add_post'|trans|desc('dodaj post')|capitalize }}
        </a>
    </div>

    <div class="clearfix"></div>

    {% include 'AppBundle:Admin:post/partials/post-list.html.twig' %}

{% endblock %}

{% block extrascripts %}
    {% include 'AppBundle:Admin:post/partials/post-scripts.html.twig' %}
{% endblock %}