{% extends "WebBundle::base.html.twig" %}

{% block content %}
    <form id="user-group-form" class="form-horizontal theme-multiselect" action="" method="POST">

        {{ form_widget(form) }}

        <div class="form-actions margin-top-20">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block extrascripts %}
    <script>
        {#$(function () {#}
            {#var $multiSelect = $('#atlas_user_groups'),#}
                {#$generatePassword = $('#atlas_user_auto_generate');#}

            {#$multiSelect.multiSelect({#}
                {#selectableHeader: "<div class='custom-header' style='padding: 5px'><strong>{{ 'available_groups'|trans|desc('Dostępne grupy')|capitalize }}</strong></div>",#}
                {#selectionHeader: "<div class='custom-header' style='padding: 5px'><strong>{{ 'chosen_groups'|trans|desc('Wybrane grupy')|capitalize }}</strong></div>",#}
            {#});#}

            {#$generatePassword.on('change', function (e) {#}
                {#if($(this).is(':checked')){#}
                    {#$("#atlas_user input[type='password']").prop('disabled', true);#}
                {#}#}
                {#else {#}
                    {#$("#atlas_user input[type='password']").prop('disabled', false);#}
                {#}#}
            {#})#}
        {#});#}
    </script>
{% endblock %}