{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'users'|trans|desc('Użytkownicy')|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    {% include 'UserBundle:Admin:user/partials/user-list.html.twig' with {'adduser' : true} %}
{% endblock %}
{% block extrascripts %}
    {% include 'UserBundle:Admin:user/partials/user-scripts.html.twig' %}
{% endblock %}