{% extends "WebBundle::base.html.twig" %}

{% block content %}
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-microphone font-dark hide"></i>
            <span class="caption-subject bold font-dark uppercase">{{ 'tools'|trans|desc('narzędzia') }}</span>
            <span class="caption-helper">{{ 'domyślne'|trans }}</span>
        </div>
    </div>

    <div class="row tool-tiles">
        {% for tool in tools %}
            <div class="col-md-3 col-lg-2">
                <a href="{{ path('tool_show', {'toolId' : tool.id}) }}">
                    <div class="mt-widget-3">
                        <div class="mt-head" style="background-color: {{ tool.color | default(tool.defaultColor) }};">
                            <div class="mt-head-icon">
                                {{ tool.icon | default(tool.defaultIcon) | raw }}
                            </div>
                            <div class="mt-head-desc">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{ tool.name }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-md-12">
                <p>{{ 'user_group_tools_not_defined_yet'|trans|desc('brak narzędzi domyślnych dla grupy')|capitalize }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
