{% extends "WebBundle::base_guest.html.twig" %}

{% block content %}

    <div class="row" style="padding-top: 100px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        {{ 'Warning!'|trans|desc('Uwaga')  }} </div>
                </div>
                <div class="portlet-body tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <p>
                                {{ 'Acces forbidden due to incorrect IP address. Accident has been registered'|trans|desc('Niewłaściwy adres IP. Incydent został zgłoszony')}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
