{% extends "WebBundle::base_external_user.html.twig" %}

{% block content %}
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-microphone font-dark hide"></i>
            <span class="caption-subject bold font-dark uppercase">{{ 'atlas_application_regulations'|trans }}</span>
        </div>
    </div>

    <p>{{ regulations.content|raw }}</p>

    <form id="accept-regulations" class="regulations-form" action="" method="post">

        {{ form_errors(form) }}
        {{ form_errors(form.accept) }}
        {{ form_row(form._token) }}

        <div class="pull-left">
            <label for="accept_regulations_accept" class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" id="accept_regulations_accept" class="urgent" name="accept_regulations[accept]" value="1"> Akceptuję regulamin w całości
                <span style="background-color: #fff;margin-top: 3px;display: inline-block;"></span>
            </label>
        </div>

        <div class="text-right">
            <button type="submit" class="btn green custom-submit">
                {{ 'submit'|trans|desc('zapisz')|capitalize }}
            </button>
        </div>

    </form>
{% endblock %}
