<form id="rendered-form2" class="section active ecall-form operation-dashboard-form" data-anchor="form2">
    <h2 type="h2" class="header" name="" id="">Obsługa E-CALL - krok <span class="step-number">2</span>
        {#<div class="dashboard-mode-switch">#}
            {#<input class="switcher-input" title="{{ 'dashboard.mode.switch'|trans|desc('Kliknij aby przełączać między trybem edycji i podglądu')|capitalize }}" type="checkbox"/>#}
        {#</div>#}
        <div class="js-cancel-step cancel-step {{ params.active != 1 ? 'hidden' : '' }}" title="{{ 'cancel-step-tooltip'|trans|desc('Anuluj zadanie')|capitalize }}">
            <i class="fa fa-ban" aria-hidden="true"></i>
        </div>
        <div class="js-abandon-step abandon-step" title="{{ 'abandon-step-tooltip'|trans|desc('Opuść zadanie')|capitalize }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </h2>
    <div id="form-generator-box" class="dashboard-version">
        <div class="select-group">
            <div class="wrapped-select"><label for="sources2">Klasyfikacja zdarzenia</label>
                <select id="EventQualificationSelector" name="EventQualification" class="valid custom-select"
                        data-type="{{ data['QUALIFICATION'].type }}"
                        data-attribute-value-id="{{ data['QUALIFICATION'].id }}"
                        data-attribute-path="{{ data['QUALIFICATION'].path }}"
                        data-group-process-id="{{ data['QUALIFICATION'].groupProcessId }}"
                        data-step-id="{{ data['QUALIFICATION'].stepId }}" data-default-value="empty" required>
                    <option value="">---</option>
                    <option value="Emergency">Sytuacja alarmowa (Emergency)</option>
                    <option value="Breakdown">Awaria (Breakdown)</option>
                    <option value="Discovery">Odkrycie (Discovery)</option>
                    <option value="Error">Błąd/pomyłka (Error)</option>
                    <option value="Redundant">Dotyczy innego zdarzenia (Redundant)</option>
                    <option value="Test">Test</option>
                </select>
            </div>
            <div class="wrapped-select"><label for="redundant-id">Ostatnie zdarzenia:</label>
                <select id="redundant-id" data-attribute-query="true" name="redundant-id" class="valid custom-select"
                        data-attribute-value-id="{{ data['REDUNDANT_ID'].id }}"
                        data-type="{{ data['REDUNDANT_ID'].type }}"
                        data-attribute-path="{{ data['REDUNDANT_ID'].path }}"
                        data-group-process-id="{{ data['REDUNDANT_ID'].groupProcessId }}"
                        data-parent-attribute-id=""
                        data-step-id="{{ data['REDUNDANT_ID'].stepId }}"
                        data-value="{{ data['REDUNDANT_ID'].value }}"
                        data-placeholder="-">
                    <option value="{{ data['REDUNDANT_ID'].value }}">-</option>
                </select>
            </div>
            <div class="wrapped-select"><label for="sources2">Przyczyna zgłoszenia</label>
                <select id="EventCauseSelector" name="EventCause" class="valid custom-select"
                        data-type="{{ data['CAUSE'].type }}"
                        data-attribute-value-id="{{ data['CAUSE'].id }}"
                        data-attribute-path="{{ data['CAUSE'].path }}"
                        data-group-process-id="{{ data['CAUSE'].groupProcessId }}"
                        data-step-id="{{ data['CAUSE'].stepId }}" data-default-value="empty" required>
                    <option value="">---</option>
                    <option value="Accident">Wypadek (Accident)</option>
                    <option value="Aggression">Agresja (Aggression)</option>
                    <option value="Illness">Złe samopoczucie (Illness)</option>
                    <option value="Breakdown">Awaria (Breakdown)</option>
                </select>
            </div>
        </div>
    </div>

    <button type="button" class="button-input next-button btn btn-success pull-right" value="Prześlij formularz"><i
                class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></button>
</form>