<form id="rendered-form" class="section reload-blank-form ecall-form operation-dashboard-form" data-anchor="form1">
    <h2 type="h2" class="header" name="" id="">Obsługa E-CALL - krok <span class="step-number">1</span>
        {#<div class="dashboard-mode-switch">#}
            {#<input class="switcher-input" title="{{ 'dashboard.mode.switch'|trans|desc('Kliknij aby przełączać między trybem edycji i podglądu')|capitalize }}" type="checkbox"/>#}
        {#</div>#}
        {#<div class="js-cancel-step cancel-step {{ params.active != 1 ? 'hidden' : '' }}" title="{{ 'cancel-step-tooltip'|trans|desc('Anuluj zadanie')|capitalize }}">#}
            {#<i class="fa fa-ban" aria-hidden="true"></i>#}
        {#</div>#}
        {#<div class="js-abandon-step abandon-step" title="{{ 'abandon-step-tooltip'|trans|desc('Opuść zadanie')|capitalize }}">#}
            {#<i class="fa fa-times" aria-hidden="true"></i>#}
        {#</div>#}
    </h2>
    <div id="form-generator-box" class="dashboard-version">

        <div class="input-group attributes beforeMap">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['EVENT_ATP_ID'].type }}"
                           data-attribute-value-id="{{ data['EVENT_ATP_ID'].id }}"
                           data-attribute-path="{{ data['EVENT_ATP_ID'].path }}"
                           data-group-process-id="{{ data['EVENT_ATP_ID'].groupProcessId }}"
                           data-step-id="{{ data['EVENT_ATP_ID'].stepId }}" class="form-control custom-input"
                           readonly id="EVENT_ATP_ID" value="{{ data['EVENT_ATP_ID'].value }}">
                    <label>ID zdarzenia ATP</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['EVENT_ACTIVATION_METHOD'].type }}"
                           data-attribute-value-id="{{ data['EVENT_ACTIVATION_METHOD'].id }}"
                           data-attribute-path="{{ data['EVENT_ACTIVATION_METHOD'].path }}"
                           data-group-process-id="{{ data['EVENT_ACTIVATION_METHOD'].groupProcessId }}"
                           data-step-id="{{ data['EVENT_ACTIVATION_METHOD'].stepId }}"
                           class="form-control custom-input"
                           readonly id="EVENT_ACTIVATION_METHOD" value="{{ data['EVENT_ACTIVATION_METHOD'].value }}">
                    <label>Rodzaj aktywacji zdarzenia</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['EVENT_CREATED_AT'].type }}"
                           data-attribute-value-id="{{ data['EVENT_CREATED_AT'].id }}"
                           data-attribute-path="{{ data['EVENT_CREATED_AT'].path }}"
                           data-group-process-id="{{ data['EVENT_CREATED_AT'].groupProcessId }}"
                           data-step-id="{{ data['EVENT_CREATED_AT'].stepId }}" class="form-control custom-input"
                           readonly id="email" value="{{ data['EVENT_CREATED_AT'].value }}">
                    <label>Data utworzenia zdarzenia</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">


            <div class="map-wrapper grid-stack-map-wrapper map-ecall-fix">
                <label class="map-label" for="map-input"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Lokalizacja zdarzenia:</label>

                {%- include '@Map/Widget/e_call_emapa.html.twig' with {'id_map': 'atlas-map-step'} -%}

                <div class="search-input-wrapper">
                    <button data-color="blue" data-style="zoom-in" data-size="s" type="button" class="input-search-icon btn ladda-button">
                    <span class="ladda-label">
                        <i class="fa fa-search static" aria-hidden="true"></i>
                    </span>
                    </button>

                    <div id="choose-type-search-buttons" data-type-search="address">
                        <ul class="choose-type-box-list-buttons">
                            <li data-type-search="address">
                                <span class="icon">
                                    <i class="fa fa-location-arrow"></i>
                                </span>
                                <span class="name">Lokalizuj po adresie</span>
                            </li>
                            <li data-type-search="coordinate">
                                <span class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <span class="name">Lokalizuj po współrzędnych</span>
                            </li>
                            <li data-type-search="object">
                                <span class="icon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <span class="name">Lokalizuj po drodze</span>
                            </li>
                            <li data-type-search="track">
                                <span class="icon">
                                    <i class="fa fa-truck"></i>
                                </span>
                                <span class="name">Wyznacz trasę</span>
                            </li>
                        </ul>
                    </div>

                    <div class="search-bar" id="search-bar-control" data-type-search="address" >
                        <div class="address-bar type-bar" data-placeholder-address="{{ 'map.search.placeholder.address'|trans|desc('Miejscowość, Ulica Numer') }}" data-placeholder-object="{{ 'map.search.placeholder.object'|trans|desc('MOP\'y, pikietaże') }}">
                            <input type="text" class="form-control map-search" id="map-widget-input" placeholder="{{ 'map search phrase'|trans|desc('Miejscowość, Ulica Numer') }}" value="">
                        </div>
                        <div class="coordinate-bar type-bar">
                            <input type="text" data-coordinate-type="lat" class="form-control search-by-coordinate" id="search-coordinate-lat" placeholder="52.406631469 || 52 24 23.873" value="">
                            <input type="text" data-coordinate-type="lng" class="form-control search-by-coordinate" id="search-coordinate-lng" placeholder="16.919521331 || 16 55 10.276" value="">
                        </div>
                        <div class="track-bar type-bar">
                            <div id="result-route-way">

                            </div>
                            <input type="text" data-coordinate-value="" data-track-type="from" class="form-control search-by-track" placeholder="{{ 'search.track.from'|trans|desc('Od') }}" value="">
                            <input type="text" data-coordinate-value="" data-track-type="to" class="form-control search-by-track" placeholder="{{ 'search.track.to'|trans|desc('Do') }}" value="">
                        </div>
                    </div>

                </div>
            </div>


            {#<div class="map-wrapper">#}
            {#<label class="map-label" for="map-input"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Lokalizacja zdarzenia:</label>#}

            {#{% include '@Map/Widget/e_call_emapa.html.twig' with {'id_map': 'atlas-map'} %}#}

            {#<div class="search-input-wrapper">#}
            {#<button data-color="blue" data-style="zoom-in" data-size="s" type="button" class="input-search-icon btn ladda-button">#}
            {#<span class="ladda-label">#}
            {#<i class="fa fa-search" aria-hidden="true"></i>#}
            {#</span>#}
            {#</button>#}

            {#<input type="text" class="form-control map-search" id="map-input"#}
            {#placeholder="{{ 'map search phrase'|trans|desc('Miejscowość, Ulica Numer') }}" value="">#}
            {#</div>#}
            {#</div>#}
        </div>

        <div class="input-group attributes firstRow">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" class="form-control custom-input"
                           data-type="{{ data['LOCATION']['CURRENT']['CITY'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['CITY'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['CITY'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['CITY'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['CITY'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['CITY'].value }}" readonly id="city">
                    <label>Miasto</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" class="form-control custom-input"
                           data-type="{{ data['LOCATION']['CURRENT']['STREET_NAME'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['STREET_NAME'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['STREET_NAME'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['STREET_NAME'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['STREET_NAME'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['STREET_NAME'].value }}"
                           readonly id="street">
                    <label>Ulica</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" class="form-control custom-input"
                           data-type="{{ data['LOCATION']['CURRENT']['STREET_NUMBER'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['STREET_NUMBER'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['STREET_NUMBER'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['STREET_NUMBER'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['STREET_NUMBER'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['STREET_NUMBER'].value }}"
                           readonly id="streetNumber">
                    <label>Numer ulicy</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>

        <div class="input-group attributes">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LOCATION']['CURRENT']['AREA_NAME_1'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_1'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['AREA_NAME_1'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_1'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_1'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['AREA_NAME_1'].value }}"
                           class="form-control custom-input"
                           readonly id="areaName1" value="">
                    <label>Województwo</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LOCATION']['CURRENT']['AREA_NAME_2'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_2'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['AREA_NAME_2'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_2'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_2'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['AREA_NAME_2'].value }}"
                           class="form-control custom-input"
                           readonly id="areaName2">
                    <label>Powiat</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LOCATION']['CURRENT']['AREA_NAME_3'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_3'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['AREA_NAME_3'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_3'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['AREA_NAME_3'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['AREA_NAME_3'].value }}"
                           class="form-control custom-input"
                           readonly id="areaName3">
                    <label>Gmina</label><span class="focus-border"><i></i></span>
                </div>

            </div>
        </div>
        <div class="input-group attributes">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LOCATION']['CURRENT']['COUNTRY'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['COUNTRY'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['COUNTRY'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['COUNTRY'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['COUNTRY'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['COUNTRY'].value }}"
                           class="form-control custom-input"
                           readonly id="country">
                    <label>Kraj</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" value="{{ data['LOCATION']['CURRENT']['LATITUDE'].value }}"
                           data-type="{{ data['LOCATION']['CURRENT']['LATITUDE'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['LATITUDE'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['LATITUDE'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['LATITUDE'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['LATITUDE'].stepId }}"
                           class="form-control custom-input" readonly id="lat"
                           value="{{ data['LOCATION']['CURRENT']['LATITUDE'].value }}">
                    <label>Szerokość geograficzna</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" value="{{ data['LOCATION']['CURRENT']['LONGITUDE'].value }}"
                           data-type="{{ data['LOCATION']['CURRENT']['LONGITUDE'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['LONGITUDE'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['LONGITUDE'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['LONGITUDE'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['LONGITUDE'].stepId }}"
                           class="form-control custom-input" readonly id="lng"
                           value="{{ data['LOCATION']['CURRENT']['LONGITUDE'].value }}">
                    <label>Długość geograficzna</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="input-group attributes lastRow">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LOCATION']['CURRENT']['ZIP'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['ZIP'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['ZIP'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['ZIP'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['ZIP'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['ZIP'].value }}"
                           class="form-control custom-input"
                           readonly id="zip">
                    <label>Kod pocztowy</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper x2">
                    <input type="text" data-type="{{ data['LOCATION']['CURRENT']['COMMENT'].type }}"
                           data-attribute-value-id="{{ data['LOCATION']['CURRENT']['COMMENT'].id }}"
                           data-attribute-path="{{ data['LOCATION']['CURRENT']['COMMENT'].path }}"
                           data-group-process-id="{{ data['LOCATION']['CURRENT']['COMMENT'].groupProcessId }}"
                           data-step-id="{{ data['LOCATION']['CURRENT']['COMMENT'].stepId }}"
                           value="{{ data['LOCATION']['CURRENT']['COMMENT'].value }}"
                           class="form-control custom-input"
                           id="comment">
                    <label>Uwagi</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="section-divider marginBottom"></div>
        <div class="input-group attributes firstRow">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['FIRSTNAME'].type }}"
                           data-attribute-value-id="{{ data['FIRSTNAME'].id }}"
                           data-attribute-path="{{ data['FIRSTNAME'].path }}"
                           data-group-process-id="{{ data['FIRSTNAME'].groupProcessId }}"
                           data-step-id="{{ data['FIRSTNAME'].stepId }}" class="form-control custom-input"
                           id="firstname" value="{{ data['FIRSTNAME'].value }}">
                    <label>Imię</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LASTNAME'].type }}"
                           data-attribute-value-id="{{ data['LASTNAME'].id }}"
                           data-attribute-path="{{ data['LASTNAME'].path }}"
                           data-group-process-id="{{ data['LASTNAME'].groupProcessId }}"
                           data-step-id="{{ data['LASTNAME'].stepId }}" class="form-control custom-input"
                           id="lastname" value="{{ data['LASTNAME'].value }}">
                    <label>Nazwisko</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['CALLBACK_PHONE'].type }}"
                           data-attribute-value-id="{{ data['CALLBACK_PHONE'].id }}"
                           data-attribute-path="{{ data['CALLBACK_PHONE'].path }}"
                           data-group-process-id="{{ data['CALLBACK_PHONE'].groupProcessId }}"
                           data-step-id="{{ data['CALLBACK_PHONE'].stepId }}" class="form-control custom-input"
                           readonly id="callback-phone" value="{{ data['CALLBACK_PHONE'].value }}">
                    <label>Nr telefonu</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="section-divider marginBottom"></div>
        <div class="input-group attributes firstRow">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['VICTIMS'].type }}"
                           data-attribute-value-id="{{ data['VICTIMS'].id }}"
                           data-attribute-path="{{ data['VICTIMS'].path }}"
                           data-group-process-id="{{ data['VICTIMS'].groupProcessId }}"
                           data-step-id="{{ data['VICTIMS'].stepId }}" class="form-control custom-input"
                           id="victims" value="{{ data['VICTIMS'].value }}">
                    <label>Ilość poszkodowanych</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['DAMAGE_TYPE'].type }}"
                           data-attribute-value-id="{{ data['DAMAGE_TYPE'].id }}"
                           data-attribute-path="{{ data['DAMAGE_TYPE'].path }}"
                           data-group-process-id="{{ data['DAMAGE_TYPE'].groupProcessId }}"
                           data-step-id="{{ data['DAMAGE_TYPE'].stepId }}" class="form-control custom-input"
                           id="damage-type" value="{{ data['DAMAGE_TYPE'].value }}">
                    <label>Rodzaj obrażeń</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['CALLBACK_PHONE_2'].type }}"
                           data-attribute-value-id="{{ data['CALLBACK_PHONE_2'].id }}"
                           data-attribute-path="{{ data['CALLBACK_PHONE_2'].path }}"
                           data-group-process-id="{{ data['CALLBACK_PHONE_2'].groupProcessId }}"
                           data-step-id="{{ data['CALLBACK_PHONE_2'].stepId }}" class="form-control custom-input"
                           id="callback-phone-2" value="{{ data['CALLBACK_PHONE_2'].value }}">
                    <label>Nr telefonu 2</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="section-divider marginBottom"></div>
        <div class="input-group attributes">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['MAKE'].type }}" data-attribute-value-id="{{ data['MAKE'].id }}"
                           data-attribute-path="{{ data['MAKE'].path }}"
                           data-group-process-id="{{ data['MAKE'].groupProcessId }}"
                           data-step-id="{{ data['MAKE'].stepId }}" class="form-control custom-input"
                           id="make" value="{{ data['MAKE'].value }}">
                    <label>Marka</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['MODEL'].type }}" data-attribute-value-id="{{ data['MODEL'].id }}"
                           data-attribute-path="{{ data['MODEL'].path }}"
                           data-group-process-id="{{ data['MODEL'].groupProcessId }}"
                           data-step-id="{{ data['MODEL'].stepId }}" class="form-control custom-input"
                           id="model" value="{{ data['MODEL'].value }}">
                    <label>Model</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['CAR_PHONE'].type }}"
                           data-attribute-value-id="{{ data['CAR_PHONE'].id }}"
                           data-attribute-path="{{ data['CAR_PHONE'].path }}"
                           data-group-process-id="{{ data['CAR_PHONE'].groupProcessId }}"
                           data-step-id="{{ data['CAR_PHONE'].stepId }}" class="form-control custom-input"
                           readonly id="model" value="{{ data['CAR_PHONE'].value }}">
                    <label>Nr telefonu urządzenia</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="input-group attributes">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['VIN'].type }}" data-attribute-value-id="{{ data['VIN'].id }}"
                           data-attribute-path="{{ data['VIN'].path }}"
                           data-group-process-id="{{ data['VIN'].groupProcessId }}"
                           data-step-id="{{ data['VIN'].stepId }}" class="form-control custom-input"
                           id="VIN" value="{{ data['VIN'].value }}">
                    <label>VIN</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['LICENCE_PLATE'].type }}"
                           data-attribute-value-id="{{ data['LICENCE_PLATE'].id }}"
                           data-attribute-path="{{ data['LICENCE_PLATE'].path }}"
                           data-group-process-id="{{ data['LICENCE_PLATE'].groupProcessId }}"
                           data-step-id="{{ data['LICENCE_PLATE'].stepId }}" class="form-control custom-input"
                           readonly
                           id="LICENCE_PLATE" value="{{ data['LICENCE_PLATE'].value }}">
                    <label>Nr rejestracyjny</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['COLOR'].type }}" data-attribute-value-id="{{ data['COLOR'].id }}"
                           data-attribute-path="{{ data['COLOR'].path }}"
                           data-group-process-id="{{ data['COLOR'].groupProcessId }}"
                           data-step-id="{{ data['COLOR'].stepId }}" class="form-control custom-input"
                           id="model" value="{{ data['COLOR'].value }}">
                    <label>Kolor</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>
        <div class="input-group attributes">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['ENERGY'].type }}"
                           data-attribute-value-id="{{ data['ENERGY'].id }}"
                           data-attribute-path="{{ data['ENERGY'].path }}"
                           data-group-process-id="{{ data['ENERGY'].groupProcessId }}"
                           data-step-id="{{ data['ENERGY'].stepId }}" class="form-control custom-input"
                           id="ENERGY" value="{{ data['ENERGY'].value }}">
                    <label>Zasilanie</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>

        <div class="section-divider"></div>

        <div class="form-group checkboxes firstRowCheckbox">
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Dachowanie</span>
                <input type="checkbox" data-type="{{ data['ROLLED'].type }}"
                       data-attribute-value-id="{{ data['ROLLED'].id }}"
                       data-attribute-path="{{ data['ROLLED'].path }}"
                       data-group-process-id="{{ data['ROLLED'].groupProcessId }}"
                       data-step-id="{{ data['ROLLED'].stepId }}" id="flipped" class="urgent"
                       value="{{ data['ROLLED'].value }}"><label
                        for="flipped" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Wypadek</span>
                <input type="checkbox" data-type="{{ data['CRASHED'].type }}"
                       data-attribute-value-id="{{ data['CRASHED'].id }}"
                       data-attribute-path="{{ data['CRASHED'].path }}"
                       data-group-process-id="{{ data['CRASHED'].groupProcessId }}"
                       data-step-id="{{ data['CRASHED'].stepId }}" id="crashed" class="urgent"
                       value="{{ data['CRASHED'].value }}"><label
                        for="crashed" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Uwolnienie poduszek powietrznych</span>
                <input type="checkbox" data-type="{{ data['AIRBAG_TRIGGERED'].type }}"
                       data-attribute-value-id="{{ data['AIRBAG_TRIGGERED'].id }}"
                       data-attribute-path="{{ data['AIRBAG_TRIGGERED'].path }}"
                       data-group-process-id="{{ data['AIRBAG_TRIGGERED'].groupProcessId }}"
                       data-step-id="{{ data['AIRBAG_TRIGGERED'].stepId }}" id="airbag_released" class="urgent"
                       value="{{ data['AIRBAG_TRIGGERED'].value }}"><label
                        for="airbag_released" class="checkbox-custom-label"></label>
                <div class="additional-input-field">
                    <input type="number" data-type="{{ data['NUMBER_OF_TRIGGERED_AIRBAGS'].type }}"
                           data-attribute-value-id="{{ data['NUMBER_OF_TRIGGERED_AIRBAGS'].id }}"
                           data-attribute-path="{{ data['NUMBER_OF_TRIGGERED_AIRBAGS'].path }}"
                           data-group-process-id="{{ data['NUMBER_OF_TRIGGERED_AIRBAGS'].groupProcessId }}"
                           data-step-id="{{ data['NUMBER_OF_TRIGGERED_AIRBAGS'].stepId }}" id="airbag_released2"
                           class="dependable"
                           readonly value="{{ data['NUMBER_OF_TRIGGERED_AIRBAGS'].value }}">
                    <button class="btn increment" type="button"><i class="fa fa-plus"></i></button>
                    <button class="btn decrement" type="button"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group checkboxes">
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Aktywowane śledzenie kradzieży</span>
                <input type="checkbox" data-type="{{ data['THEFT_TRACK'].type }}"
                       data-attribute-value-id="{{ data['THEFT_TRACK'].id }}"
                       data-attribute-path="{{ data['THEFT_TRACK'].path }}"
                       data-group-process-id="{{ data['THEFT_TRACK'].groupProcessId }}"
                       data-step-id="{{ data['THEFT_TRACK'].stepId }}" id="anti_theft" class="urgent"
                       value="{{ data['THEFT_TRACK'].value }}"><label
                        for="anti_theft" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Silnik włączony</span>
                <input type="checkbox" data-type="{{ data['ENGINE_ON'].type }}"
                       data-attribute-value-id="{{ data['ENGINE_ON'].id }}"
                       data-attribute-path="{{ data['ENGINE_ON'].path }}"
                       data-group-process-id="{{ data['ENGINE_ON'].groupProcessId }}"
                       data-step-id="{{ data['ENGINE_ON'].stepId }}" id="engine_on" class="urgent"
                       value="{{ data['ENGINE_ON'].value }}"><label
                        for="engine_on" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Zapłon włączony</span>
                <input type="checkbox" data-type="{{ data['IGNITION_ON'].type }}"
                       data-attribute-value-id="{{ data['IGNITION_ON'].id }}"
                       data-attribute-path="{{ data['IGNITION_ON'].path }}"
                       data-group-process-id="{{ data['IGNITION_ON'].groupProcessId }}"
                       data-step-id="{{ data['IGNITION_ON'].stepId }}" id="start_on" class="urgent"
                       value="{{ data['IGNITION_ON'].value }}"><label
                        for="start_on" class="checkbox-custom-label"></label>
            </div>
        </div>
        <div class="form-group checkboxes">
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Porusza się</span>
                <input type="checkbox" data-type="{{ data['MOVING'].type }}"
                       data-attribute-value-id="{{ data['MOVING'].id }}"
                       data-attribute-path="{{ data['MOVING'].path }}"
                       data-group-process-id="{{ data['MOVING'].groupProcessId }}"
                       data-step-id="{{ data['MOVING'].stepId }}" id="moving" class="urgent"
                       value="{{ data['MOVING'].value }}"><label
                        for="moving" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Uderzenie czołowe</span>
                <input type="checkbox" data-type="{{ data['FRONT_CRASH'].type }}"
                       data-attribute-value-id="{{ data['FRONT_CRASH'].id }}"
                       data-attribute-path="{{ data['FRONT_CRASH'].path }}"
                       data-group-process-id="{{ data['FRONT_CRASH'].groupProcessId }}"
                       data-step-id="{{ data['FRONT_CRASH'].stepId }}" id="front_hit" class="urgent"
                       value="{{ data['FRONT_CRASH'].value }}"><label
                        for="front_hit" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Uderzenie od tyłu</span>
                <input type="checkbox" data-type="{{ data['REAR_CRASH'].type }}"
                       data-attribute-value-id="{{ data['REAR_CRASH'].id }}"
                       data-attribute-path="{{ data['REAR_CRASH'].path }}"
                       data-group-process-id="{{ data['REAR_CRASH'].groupProcessId }}"
                       data-step-id="{{ data['REAR_CRASH'].stepId }}" id="back_hit" class="urgent"
                       value="{{ data['REAR_CRASH'].value }}"><label
                        for="back_hit" class="checkbox-custom-label"></label>
            </div>
        </div>
        <div class="form-group checkboxes">

            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Uderzenie od boku</span>
                <input type="checkbox" data-type="{{ data['SIDE_CRASH'].type }}"
                       data-attribute-value-id="{{ data['SIDE_CRASH'].id }}"
                       data-attribute-path="{{ data['SIDE_CRASH'].path }}"
                       data-group-process-id="{{ data['SIDE_CRASH'].groupProcessId }}"
                       data-step-id="{{ data['SIDE_CRASH'].stepId }}" id="side_hit" class="urgent"
                       value="{{ data['SIDE_CRASH'].value }}"><label
                        for="side_hit" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Uderzenie od strony kierowcy</span>
                <input type="checkbox" data-type="{{ data['DRIVER_SIDE_CRASH'].type }}"
                       data-attribute-value-id="{{ data['DRIVER_SIDE_CRASH'].id }}"
                       data-attribute-path="{{ data['DRIVER_SIDE_CRASH'].path }}"
                       data-group-process-id="{{ data['DRIVER_SIDE_CRASH'].groupProcessId }}"
                       data-step-id="{{ data['DRIVER_SIDE_CRASH'].stepId }}" id="driver_side_hit" class="urgent"
                       value="{{ data['DRIVER_SIDE_CRASH'].value }}"><label
                        for="driver_side_hit" class="checkbox-custom-label"></label>
            </div>
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">Uderzenie od strony pasażera</span>
                <input type="checkbox" data-type="{{ data['PASSENGER_SIDE_CRASH'].type }}"
                       data-attribute-value-id="{{ data['PASSENGER_SIDE_CRASH'].id }}"
                       data-attribute-path="{{ data['PASSENGER_SIDE_CRASH'].path }}"
                       data-group-process-id="{{ data['PASSENGER_SIDE_CRASH'].groupProcessId }}"
                       data-step-id="{{ data['PASSENGER_SIDE_CRASH'].stepId }}" id="passenger_side_hit" class="urgent"
                       readonly
                       value="{{ data['PASSENGER_SIDE_CRASH'].value }}"><label
                        for="passenger_side_hit" class="checkbox-custom-label"></label>
            </div>
        </div>
        <div class="form-group checkboxes">
            <div class="custom-checkbox-wrapper disabled">
                <span class="urgent-text">In-alarm</span>
                <input type="checkbox" data-type="{{ data['IN_ALARM'].type }}"
                       data-attribute-value-id="{{ data['IN_ALARM'].id }}"
                       data-attribute-path="{{ data['IN_ALARM'].path }}"
                       data-group-process-id="{{ data['IN_ALARM'].groupProcessId }}"
                       data-step-id="{{ data['IN_ALARM'].stepId }}" id="in_alarm" class="urgent"
                       value="{{ data['IN_ALARM'].value }}"><label
                        for="in_alarm" class="checkbox-custom-label"></label>
            </div>
        </div>
        <div class="form-group attributes lastRow">
            <div class="input-group">
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['DECELERATION'].type }}"
                           data-attribute-value-id="{{ data['DECELERATION'].id }}"
                           data-attribute-path="{{ data['DECELERATION'].path }}"
                           data-group-process-id="{{ data['DECELERATION'].groupProcessId }}"
                           data-step-id="{{ data['DECELERATION'].stepId }}" class="form-control custom-input"
                           readonly id="deceleration" value="{{ data['DECELERATION'].value }}">
                    <label>Opóźnienie</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['NUMBER_OF_OCCUPIED_SEATS'].type }}"
                           data-attribute-value-id="{{ data['NUMBER_OF_OCCUPIED_SEATS'].id }}"
                           data-attribute-path="{{ data['NUMBER_OF_OCCUPIED_SEATS'].path }}"
                           data-group-process-id="{{ data['NUMBER_OF_OCCUPIED_SEATS'].groupProcessId }}"
                           data-step-id="{{ data['NUMBER_OF_OCCUPIED_SEATS'].stepId }}"
                           class="form-control custom-input" readonly
                           id="seats_taken" value="{{ data['NUMBER_OF_OCCUPIED_SEATS'].value }}">
                    <label>Liczba zajętych siedzeń</label><span class="focus-border"><i></i></span>
                </div>
                <div class="custom-input-wrapper">
                    <input type="text" data-type="{{ data['NUMBER_OF_FASTEN_SEAT_BELTS'].type }}"
                           data-attribute-value-id="{{ data['NUMBER_OF_FASTEN_SEAT_BELTS'].id }}"
                           data-attribute-path="{{ data['NUMBER_OF_FASTEN_SEAT_BELTS'].path }}"
                           data-group-process-id="{{ data['NUMBER_OF_FASTEN_SEAT_BELTS'].groupProcessId }}"
                           data-step-id="{{ data['NUMBER_OF_FASTEN_SEAT_BELTS'].stepId }}"
                           class="form-control custom-input" readonly
                           id="seatbelts" value="{{ data['NUMBER_OF_FASTEN_SEAT_BELTS'].value }}">
                    <label>Liczba zapiętych pasów</label><span class="focus-border"><i></i></span>
                </div>
            </div>
        </div>

        {#<div class="form-group checkboxes">
            <div class="custom-checkbox-wrapper last">
                <span class="urgent-text">Poziom naładowania baterii: <span class="js-batery-life">80</span>%</span>
                <div data-battery="80" class="battery-status">
                    <div class="bolt"></div>
                    <div class="battery-life"></div>
                </div>
            </div>
        </div>#}
        <div class="section-divider"></div>
        <p class="call-title">Wykonaj połączenie</p>
        {#<div id="emergency-unit" class="col-xs-12 p-t-1">#}
        {#<strong>{{ 'emergency unit'|trans|desc('Jednostka alarmowa')|capitalize }}:</strong>#}
        {#<ul class="m-b-0 p-l-3">#}
        {#<li class="unit-name"></li>#}
        {#<li class="unit-address"></li>#}
        {#</ul>#}
        {#</div>#}

        <div class="clearfix"></div>

        <div id="emergency-unit-call" class="input-group col-xs-6 callNow" data-number-value="112">
            <div class="call-now-button"><i class="fa fa-phone" aria-hidden="true"></i>112</div>
        </div>

        {% if data['CAR_PHONE'].value %}
            {% set callbackPhone = data['CAR_PHONE'].value %}
        {% elseif data['CALLBACK_PHONE_2'].value %}
            {% set callbackPhone = data['CALLBACK_PHONE_2'].value %}
        {% else %}
            {% set callbackPhone = data['CALLBACK_PHONE'].value %}
        {% endif %}

        <div class="input-group col-xs-6 callNow"
             data-number-value="{{ callbackPhone }}">
            <div class="callback-button"><i class="fa fa-phone" aria-hidden="true"></i>Oddzwoń</div>
        </div>

        <div class="section-divider"></div>

        <div class="select-group" style="padding: 20px; margin: 0;">
            <div class="wrapped-select"><label for="sources2">Klasyfikacja zdarzenia</label>
                <select id="EventQualificationSelector" name="EventQualification" class="valid custom-select"
                        data-type="{{ data['QUALIFICATION'].type }}"
                        data-attribute-value-id="{{ data['QUALIFICATION'].id }}"
                        data-attribute-path="{{ data['QUALIFICATION'].path }}"
                        data-group-process-id="{{ data['QUALIFICATION'].groupProcessId }}"
                        data-value="{{ data['QUALIFICATION'].value }}"
                        data-step-id="{{ data['QUALIFICATION'].stepId }}" data-default-value="empty" required>
                    <option value="">---</option>
                    <option value="Emergency">Sytuacja alarmowa (Emergency)</option>
                    <option value="Breakdown">Awaria (Breakdown)</option>
                    <option value="Discovery">Odkrycie (Discovery)</option>
                    <option value="Error">Błąd/pomyłka (Error)</option>
                    <option value="Redundant">Dotyczy innego zdarzenia (Redundant)</option>
                    <option value="Test">Test</option>
                </select>
            </div>
            <div class="wrapped-select"><label for="redundant-id">Ostatnie zdarzenia:</label>
                <select id="redundant-id" data-attribute-query="true" name="redundant-id" class="valid custom-select"
                        data-attribute-value-id="{{ data['REDUNDANT_ID'].id }}"
                        data-type="{{ data['REDUNDANT_ID'].type }}"
                        data-attribute-path="{{ data['REDUNDANT_ID'].path }}"
                        data-group-process-id="{{ data['REDUNDANT_ID'].groupProcessId }}"
                        data-parent-attribute-id=""
                        data-step-id="{{ data['REDUNDANT_ID'].stepId }}"
                        data-value="{{ data['REDUNDANT_ID'].value }}"
                        data-placeholder="-">
                    <option value="{{ data['REDUNDANT_ID'].value }}">-</option>
                </select>
            </div>
            <div class="wrapped-select"><label for="sources2">Przyczyna zgłoszenia</label>
                <select id="EventCauseSelector" name="EventCause" class="valid custom-select"
                        data-type="{{ data['CAUSE'].type }}"
                        data-attribute-value-id="{{ data['CAUSE'].id }}"
                        data-attribute-path="{{ data['CAUSE'].path }}"
                        data-value="{{ data['CAUSE'].value }}"
                        data-group-process-id="{{ data['CAUSE'].groupProcessId }}"
                        data-step-id="{{ data['CAUSE'].stepId }}" data-default-value="empty">
                    <option value="">---</option>
                    <option value="Accident">Wypadek (Accident)</option>
                    <option value="Aggression">Agresja (Aggression)</option>
                    <option value="Illness">Złe samopoczucie (Illness)</option>
                    <option value="Breakdown">Awaria (Breakdown)</option>
                </select>
            </div>
        </div>
    </div>
    <button type="button" class="button-input next-button btn btn-success pull-right" value="Prześlij formularz"><i
                class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></button>
</form>

<script type="text/javascript">
    var positionTraces = JSON.parse('{{ data['LOCATION']['TRACES']|raw }}');
</script>