<div class="stats-content stats-basic row">
    {{ include('@Management/Supervisor/automation_monitoring_stats.html.twig', {"stats": stats}) }}
</div>

<div class="tools-content tools-basic row">
    {{ include('@Management/Supervisor/automation_monitoring_tools.html.twig', {"tools": tools}) }}
</div>