{% for tool in tools %}
    <div class="col-md-6 col-sm-12 m-t-1 {{ tool.view }}"
            {{ (tool.view == "detailed" and app.request.cookies.get('automation_detailed_view', 0) != 1) ? 'style="display: none"' : '' }}
    >
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    {{ tool.description }}
                </div>
            </div>
            <div class="portlet-body p-x-0 p-y-0">
                <iframe src="{{ tool.value }}"
                        {% if tool.refresh is defined %}data-refresh="{{ tool.refresh }}"{% endif %}
                        frameborder="0"
                        class="full"
                        height="180px">
                </iframe>
            </div>
        </div>
    </div>
{% endfor %}