{% for stat in stats %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-t-1 {{ stat.view }}"
        {{ (stat.view == "detailed" and app.request.cookies.get('automation_detailed_view', 0) != 1) ? 'style="display: none"' : '' }}
        >
        <a class="dashboard-stat dashboard-stat-v2 {{ stat.color }}" href="#">
            <div class="visual">
                <i class="fa {{ stat.icon }}"></i>
            </div>
            <div class="details">
                <div class="number">
                    {% if stat.value is not null %}
                        <span data-counter="counterup" data-value="{{ stat.value }}">
                    {{ stat.value }}
                </span>
                    {% else %}
                        <span data-counter="counterup">-</span>
                    {% endif %}
                </div>
                <div class="desc m-l-2">{{ stat.description }}</div>
            </div>
        </a>
    </div>
{% endfor %}