<div class="change-view-automation text-center">
    <div class="mt-checkbox-list">
        <label class="mt-checkbox mt-checkbox-outline"> Widok szczegółowy
            <input type="checkbox" value="1"
                    {{ (app.request.cookies.get('automation_detailed_view', 0) == 1) ? 'checked' : '' }}
                   name="view-mode-detailed" >
            <span></span>
        </label>
    </div>
</div>
<div class="monitoring-fixing-and-towing-content">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
</div>