{% extends "@Management/Default/base_management_panel.html.twig" %}

{% block extrastyle %}
    {{ parent() }}

    {#<link href="{{ asset('bundles/web/css/vendor/metronic/datatables.min.css') }}" rel="stylesheet">#}

{% endblock %}

{% block pageContentWrapper %}

    <div class="portlet box m-t-1 management-portlet">
        <div class="portlet-body p-x-0 p-y-0">
            <div class="tabbable-custom">
                <ul class="nav nav-tabs management-nav-tabs">

                    {% if is_granted('ROLE_ATLAS_MONITORING') %}
                        <li class="active">
                            <a href="#automation_monitor_tab" data-toggle="tab" aria-expanded="true">Monitoring automatów</a>
                        </li>
                        <li>
                            <a href="#fixing_and_towing_monitor_tab" data-toggle="tab" aria-expanded="true">Monitoring naprawy i holowania</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_KZ') %}
                        <li>
                            <a href="#atlas_version_logs" data-toggle="tab" aria-expanded="false">Wersje Atlasa</a>
                        </li>
                        <li>
                            <a href="#atlas_business" data-toggle="tab" aria-expanded="false">Zarządzanie rolami</a>
                        </li>
                        <li>
                            <a href="#atlas_management_users" data-toggle="tab" aria-expanded="false">Zarządzanie użytkownikami</a>
                        </li>
                        <li>
                            <a href="#schedule-telephony-status" data-toggle="tab" aria-expanded="false">Telefonia użytkownika</a>
                        </li>
                        <li>
                            <a href="#pushing-report" data-toggle="tab" aria-expanded="false">Pushing Raport</a>
                        </li>
                        <li>
                            <a href="#online-tasks" data-toggle="tab" aria-expanded="false">Zarządzanie zadaniami</a>
                        </li>
                        <li>
                            <a href="#priority-steps" data-toggle="tab" aria-expanded="false">Priorytety zadań</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_PHONE_STATISTIC') %}
                        <li>
                            <a href="#telephony-statistics" data-toggle="tab" aria-expanded="false">Statystyki telefonii</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_FINANCE_VIEW') %}
                        <li
                                {#{% if not is_granted('ROLE_ATLAS_MONITORING') and not is_granted('ROLE_KZ') %}class="active"{% endif %}#}
                        >
                            <a href="#case_tools"
                               class="tile-mode"
                               data-toggle="tab" aria-expanded="false">Podgląd sprawy</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="tab-content management-tab-content">
                    {% if is_granted('ROLE_ATLAS_MONITORING') %}
                        <div class="tab-pane active" id="automation_monitor_tab">
                            {{ include('@Management/Supervisor/automation_monitoring.html.twig') }}
                        </div>
                        <div class="tab-pane" id="fixing_and_towing_monitor_tab">
                            {{ include('@Management/Supervisor/fixing_and_towing_monitoring.html.twig') }}
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_KZ') %}
                        <div class="tab-pane" id="atlas_version_logs">
                            {{ include('@Management/Supervisor/AtlasVersionLog/atlas_version_tab.html.twig') }}
                        </div>
                        <div class="tab-pane" id="atlas_business">
                            {{ include('@Management/Supervisor/BusinessRole/business_role_tab.html.twig') }}
                        </div>
                        <div class="tab-pane" id="atlas_management_users">
                            {{ include('@Management/Supervisor/ManagementUser/management_user_tab.html.twig') }}
                        </div>
                        <div class="tab-pane" id="schedule-telephony-status">
                            {{ include('@Management/Supervisor/ScheduleTelephonyStatus/_tab.html.twig') }}
                        </div>
                        <div class="tab-pane" id="pushing-report">
                            {{ include('@Management/Supervisor/PushingReport/tab.html.twig') }}
                        </div>
                        <div class="tab-pane" id="online-tasks">
                            {{ include('@Management/Supervisor/OnlineTasks/tab.html.twig') }}
                        </div>
                        <div class="tab-pane" id="priority-steps">
                            {{ include('ManagementBundle:Supervisor/PrioritySteps:tab.html.twig') }}
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_PHONE_STATISTIC') %}
                        <div class="tab-pane" id="telephony-statistics">
                            {{ include('ManagementBundle:Supervisor/TelephonyStatistics:tab.html.twig') }}
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_FINANCE_VIEW') %}
                        <div class="tab-pane"
{#{% if not is_granted('ROLE_ATLAS_MONITORING') and not is_granted('ROLE_KZ') %}active{% endif %}" #}
                             id="case_tools">
                            {{ include('@Management/Supervisor/CaseTools/case_tools_tab.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/web/js/vendor/circle-progress.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/metronic/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/metronic/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/email-preview-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/case-note-module.js') }}"></script>

    {% if is_granted('ROLE_ATLAS_MONITORING') %}
        <script src="{{ asset('bundles/web/js/modules/management-automation-monitoring.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-fixing-and-towing-monitoring.js') }}"></script>
    {% endif %}
    {% if is_granted('ROLE_KZ') %}
        <script src="{{ asset('bundles/web/js/modules/management-supervisor-script.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-business-role.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-user.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-schedule-telephony-status.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-pushing-report.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-online-tasks.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-priority-steps.js') }}"></script>
        <script src="{{ asset('bundles/web/js/modules/management-case-tools.js') }}"></script>
    {% endif %}

    {% if is_granted('ROLE_PHONE_STATISTIC') %}
        <script src="{{ asset('bundles/web/js/modules/management-telephony-statistics.js') }}"></script>
    {% endif %}

    {% if is_granted('ROLE_FINANCE_VIEW') %}
        <script src="{{ asset('bundles/web/js/modules/management-case-tools.js') }}"></script>
    {% endif %}

    <script>"use strict";

        {% if is_granted('ROLE_ATLAS_MONITORING') %}
            ManagementAutomationMonitoring();
            ManagementFixingAndTowingMonitoring();
        {% endif %}

        {% if is_granted('ROLE_KZ') %}

            ManagementSupervisorScript();
            ManagementBusinessRole();
            ManagementUser();
            ManagementPushingReport();
            ManagementOnlineTasks();
            ManagementPrioritySteps();
            ManagementScheduleTelephonyStatus();

        {% endif %}

        {% if is_granted('ROLE_PHONE_STATISTIC') %}
            ManagementTelephonyStatistics();
        {% endif %}

        {% if is_granted('ROLE_FINANCE_VIEW') %}
            ManagementCaseTools();
        {% endif %}

    </script>

    <script>"use strict";


        $(function() {

            $('.management-nav-tabs li').on('shown.bs.tab', function() {

                if($(this).find('a').hasClass('tile-mode')) {
                    $('.management-portlet').addClass('content-tile-mode');
                }
                else {
                    $('.management-portlet').removeClass('content-tile-mode');
                }

            });

            var $li = $('.management-nav-tabs li');

//            if($li.length === 1 && $li.find('a').hasClass('tile-mode')) {
//                $('.management-portlet').addClass('content-tile-mode');
//            }

            if($li.length < 3 && !$li.hasClass('active')) {
                setTimeout(function () {
                    $li.find('a')[0].click();
                }, 100);
            }

        });


    </script>

{% endblock %}