{% if filterSets['user']|length > 0 %}
    <div>
        <span class="semibold">{{ 'user_filters'|trans|desc('filtry użytkownika')|capitalize }}</span>
        <ul class="available-filters-list">
            {% for set in filterSets['user'] %}
                <li>
                    <a href="#" class="filter-set" data-id="{{ set.id }}" data-string="{{ set.filtersString }}">
                        {{ set.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if filterSets.public|length > 0 %}
    <div class="m-t-1">

        <span class="semibold">{{ 'public_filters'|trans|desc('filtry publiczne')|capitalize }}</span>
        <ul class="available-filters-list">
            {% for set in filterSets.public %}
                <li>
                    <a href="#" class="filter-set" data-id="{{ set.id }}" data-string="{{ set.filtersString }}">
                        {{ set.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}