<div id="ajax-container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered m-b-0">
            <thead>
            <tr>
                <th class="fit">#</th>
                <th>{{ 'key'|trans|capitalize }}</th>
                {#<th>{{ 'value'|trans|capitalize }}</th>#}
                <th>{{ 'content'|trans|capitalize }}</th>
                <th class="fit">{{ 'actions'|trans|desc('akcje')|striptags() }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <th scope="row" class="fit">{{ entity.id }}</th>
                    <td class="entity-name">{{ entity.key }}</td>
                    {#<td>{{ entity.value }}</td>#}
                    <td>{{ entity.content|truncate(100) }}</td>
                    <td class="fit">
                        <a href="{{ path('admin_custom_content_editor', {'id': entity.id, 'plainText' : true}) }}"
                           class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                            <i class="fa fa-code"></i>
                        </a>
                        <a href="{{ path('admin_custom_content_editor', {'id': entity.id}) }}"
                           class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#"
                           class="btn btn-xs red btn-delete tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'delete'|trans|desc('usuń')|title }}"
                           data-url="{{ path('admin_custom_content_delete', {'id': entity.id}) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation m-t-3">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>