<!DOCTYPE html>
<html>
<head>
    <base href="{{ url('jabber_default_index') }}" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow" />

    <title>{% block title %}Phone Conversation{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/jabber/css/style.css') }}" />
    {% endblock %}

</head>
<body>
    <div id="main-container">
        {% block content %}{% endblock %}
    </div>

    {% block javascripts %}
        <!-- basic script section -->
        <script>
            var cuCUMLogin = '{{ app.user.getCucmLogin() }}',
                cuCUMPassword = '{{ app.user.getCucmPassword() }}',
                cuCUMExtension = '{{ app.user.getCucumExtension() }}';
        </script>

        <!-- voice communication vendors -->
        <script src="{{ asset('bundles/jabber/js/cisco/ciscobase.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/cisco/cwic/out/cwic-debug.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/ExternalWindowExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/VideoWindowExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/MediaDeviceExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/RingtoneExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/MonitorSelectionAndHighlight.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/TelephonyDeviceExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/TelephonyConversationExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/LoginControllerExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/CallPickupNotificationExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/examples/InvalidCertificateExample.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jabber/js/sample.js') }}"></script>
    {% endblock %}
</body>
</html>