{% extends "WebBundle::base.html.twig" %}

{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}

{% block content %}

    {% include 'ToolBundle:Admin:style/partials/modals/icons.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="admin-tool-editor-form" class="form-horizontal" action="" method="POST" novalidate>

                <a class="btn btn-sm purple xs-full pull-right " id="clearCachButton"
                   style="margin-right: 10px;">
                    <i class="fa fa-trash"></i>
                    {{ 'form.cacheclear'|trans|desc('Wyczyść cache')|capitalize }}
                </a>
                {{ form_errors(form) }}
                {{ a2lixTranslations.displayTabs(form.translations) }}
                {{ a2lixTranslations.partialTranslations(form.translations, ['name'], false) }}
                {{ form_row(form.toolGroup) }}
                <div class="form-group ">
                    <label class="col-sm-3 control-label" for="atlas_tool_connectionString">
                        Parametry połączenia
                        <i class="fa fa-info-circle tooltips" data-container="body" data-placement="top"
                           data-original-title="{{ 'tool.form.definition.connection_hint'|trans|desc('Pozostaw puste dla aktualnej BD') }}"></i>
                    </label>
                    <div class="col-sm-9">
                        {{ form_widget(form.connectionString) }}
                        <p class="small m-b-0 margin-top-10 gray">
                            {{ 'tool.form.definition.connection_default_parameters'|trans|desc('Domyślne parametry: sql = mssql, port = 1433 dla mssql, lub 3306 dla mysql') }}
                        </p>
                    </div>
                </div>
                {{ form_row(form.query) }}
                {{ form_row(form.ordering) }}
                {{ form_row(form.subQuery) }}
                <div class="form-group">
                    {{ form_label(form.icon) }}
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-9">
                                {{ form_widget(form.icon) }}
                            </div>
                            <div class="col-xs-3">
                                <a href="#" id="show-icons"
                                   class="btn full btn-info tooltips" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'form.show_icons'|trans|desc('pokaż ikony')|title }}">
                                    <i class="fa fa-eye"></i> {{ 'form.choose_icon'|trans|desc('wybierz ikonę')|capitalize }}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.color) }}
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ form_widget(form.color, { 'attr': {'data-control': 'hue', 'class' : 'init-colorpicker'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_row(form.paginationLimit, {'attr' : {'class' : 'small-text'}}) }}
                {{ form_row(form.heightOfRow, {'attr' : {'class' : 'small-text'}}) }}
                {{ form_row(form.thirdPartyToolUrl, {'attr' : {'placeholder' : 'http://example.com/'}}) }}
                {{ form_row(form.count) }}
                {{ form_row(form.allowForGuest) }}
                {{ form_row(form.liveReport) }}
                {{ form_row(form.showOrdinal) }}
                {{ form_row(form.disableTrim) }}
                {{ a2lixTranslations.partialTranslations(form.translations, ['description'], false) }}
                <div class="clearfix"></div>
                <div class="form-actions m-t-1">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">
                                {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>"use strict";

        $(function () {
            $('#clearCachButton').on('click', function (ev) {
                ev.preventDefault();

                var toolId = '{{ tool.id }}';

                if(toolId) {
                    $.ajax({
                            url: Routing.generate('admin_tool_cache_clear', {id: toolId}),
                            type: "GET",
                            success: function (data) {
                                if (data.status === 'ok') {
                                    toastr.success('', 'Cache wyczyszczony.', 3000);
                                } else {
                                    toastr.error('', 'Wystąpił błąd', 3000);

                                }
                            }
                        }
                    );
                }

            });

            if (typeof tinyMCEHandle == "function") {
                tinyMCEHandle();
            }

            $('body').on('click', '#show-icons', function () {
                $('#icons-modal').modal();
                return false;
            });

            $('body').on('click', '#icons-modal .fa-item', function () {
                var output = '<i class="' + $(this).find('i').attr('class') + '"></i>';
                $('#atlas_tool_icon').val(output);
                $('#icons-modal').modal('hide');
                return false;
            });
        });


    </script>

    {{ tinymce_init() }}

    <script>
        $(window).on('load', function () {
            $('.mce-tinymce').find('iframe').contents().find('html, body').css('height', '97%');
            $('.mce-tinymce').find('iframe').css('padding-bottom', '10px');
        })
    </script>

{% endblock %}