{% extends "WebBundle::base.html.twig" %}

{% block content %}
    <div class="tabbable-line">
    {{ knp_menu_render('adminToolEditorMenu',{
        'depth': 1,
        'currentClass': 'active',
        'template': 'WebBundle:Menu:knp_menu.html.twig',
    }) }}
    <div class="tab-content">

        <form id="tool-export-form" class="form-horizontal" action="" method="POST">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <div class="clearfix"></div>
            <div class="form-actions margin-top-20">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">
                            {{ 'submit'|trans|desc('zapisz')|capitalize }}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}

{% block extrascripts %}
<script>
    $(function(){
        $('#exportType').on('change',function(){
            if($(this).val() == 'export'){
                $('#tool-export-form [type="checkbox"]').attr('disabled','disabled');
                $('#tool-export-form [type="checkbox"]').prop('checked', true);
            }
            else{
                $('#tool-export-form #definition').attr('disabled','disabled');
                $('#tool-export-form [type="checkbox"]').prop('checked', true);
                $('#tool-export-form [type="checkbox"]').removeAttr('disabled');
                $('#tool-export-form #permission').prop('checked', false);
            }
            return false;
        });
    });
</script>
{% endblock %}