{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'tool_import'|trans()|desc('import narzędzia')|capitalize }}{% endblock %}
{% block content %}

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-dark">{{ 'tool_import'|trans()|desc('import narzędzia')|capitalize }}</span>
        </div>
    </div>

    <form id="tool-import-form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">


        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <div class="clearfix"></div>
        <div class="form-actions margin-top-20">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}