{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'Narzędzia'|trans()|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_tools') }}">
                <span class="caption-subject bold">{{ 'lista narzędzi'|trans|capitalize }}</span>
            </a>
        </div>
    </div>

    <div class="pull-left no-gutter {% if not is_mobile() %} col-md-6 {% endif %} {% if is_mobile() %}col-xs-12 col-sm-3 m-b-1 {% endif %}">
        <form id="search-form" class="{% if not is_mobile() %} col-md-6 no-gutter {% endif %}" action="{{ path('admin_tools') }}" method="GET">
            {{ form_widget(searchForm.phrase) }}
        </form>
    </div>

    <div class="pull-right no-gutter {% if not is_mobile() %} col-md-6 {% endif %} {% if is_mobile() %}col-xs-12 col-sm-9 {% endif %}">
        <a href="{{ path('admin_tool_definition') }}" class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1 {% if not is_mobile() %} col-md-5 col-lg-3 {% endif %} {% if is_mobile() %}col-xs-12 col-sm-3 {% endif %}">
            <i class="fa fa-plus"></i>
            {{ 'add_tool'|trans|desc('dodaj narzędzie')|capitalize }}
        </a>
        <a href="{{ path('admin_tool_import') }}" class="btn btn-sm green-meadow xs-full pull-right p-x-1 m-b-1 {% if not is_mobile() %} col-md-5 col-lg-3 {% endif %} {% if is_mobile() %} col-xs-12 col-sm-3 {% else %} m-r-1 {% endif %}">
            <i class="fa fa-folder-open"></i>
            {{ 'import_tool'|trans|desc('import narzędzia')|capitalize }}
        </a>
    </div>


    <div class="clearfix"></div>

    {% include '@Tool/Admin/tool/partials/tool-list.html.twig' %}

{% endblock %}

{% block extrascripts %}
    {% include 'ToolBundle:Admin:tool/partials/tool-scripts.html.twig' %}
{% endblock %}