{% set styles = tool.styles %}

{% extends "WebBundle::base.html.twig" %}

{% block breadcrumbs %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="pull-right actions">
            <a class="btn green" href="{{ path('admin_tool_definition', {'toolId' : tool.id}) }}">
                <i class="fa fa-pencil"></i> {{ 'edit'|trans|desc('edytuj')|upper }}
            </a>
            <a href="#" class="btn red btn-delete"
               data-url="{{ path('admin_tool_delete', {'id': tool.id}) }}">
                <i class="fa fa-trash-o"></i> {{ 'delete'|trans|desc('usuń')|title }}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block header %}
    {{ tool.name }}
{% endblock %}

{% block content %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}

        <div class="tab-content p-t-0">

            {% if tool.description %}
                <p id="tool-description">{{ tool.description|raw }}</p>
            {% endif %}

            {% include "ToolBundle:Default/tool/partials:tool-table.html.twig" %}

        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    {% include "ToolBundle:Default/tool/partials:tool-table-scripts.html.twig" %}
{% endblock %}