<div id="attribute-modal" class="modal fullscreen fade" role="dialog" aria-labelledby="myModalLabel" tabindex='-1'
     aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                {% if is_granted('ROLE_PROCESS_EDITOR') %}
                    <div class="btn-group btn-group-devided">

                        <a href="#" data-content="editor" id="btn-attr-definition"
                           class="btn-step-view btn btn-transparent dark btn-outline btn-sm active">
                            {{- 'definition'|trans|capitalize -}}
                        </a>

                        <a href="#" data-content="form" id="btn-step-form"
                           class="btn-step-view btn btn-transparent dark btn-outline btn-sm">
                            {{- 'form.generator'|trans|capitalize|desc('Generator formularza') -}}
                        </a>
                    </div>
                {% endif %}

                <span class="modal-label m-l-2">
                    {{- 'attribute_edit'|trans|desc('edycja atrybutu')|capitalize -}}
                    <strong class="step-name"></strong>
                </span>

                {#<span class="modal-label">{{ 'attribute_edit'|trans|desc('edycja atrybutu')|capitalize }}#}
                {#: <strong class="tool-name"></strong></span>#}
            </div>
            <div class="modal-body">
                {#<div id="editor-content">#}

                {#</div>#}
                <div class="step-editor-content p-y-1" id="editor-content">

                </div>

                <div class="step-editor-content hidden" id="form-content">

                </div>
            </div>
        </div>
    </div>
</div>