<div id="flow-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel2" tabindex='-1'
     aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'flow_edit'|trans|desc('edycja przejścia')|capitalize }}
                    : <strong class="tool-name"></strong></span>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>