<div id="request-deploy-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-label">{{ 'deploy.request'|trans|desc('Zleć wgranie na produkcję') }}</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-2">
                    {{ 'request.deploy.info'|trans|desc('Skorzystaj z formularza, aby zlecić wgranie na produkcji nowej wersji ATLASa') }}.
                </div>
                <form id="request-deploy-form" class="form-horizontal" action="" method="POST">

                    {{ form_errors(requestDeployForm) }}
                    {{ form(requestDeployForm) }}

                    <div class="form-actions m-t-1">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="confirm" type="submit" class="btn green">
                                    {{ 'confirm'|trans|capitalize }}
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>