<div id="step-modal" class="modal full-height fullscreen fade" role="dialog" aria-labelledby="myModalLabel" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>


                    <div class="btn-group btn-group-devided">
                        <a href="#" id="btn-step-definition"
                           class="btn-step-view btn btn-transparent dark btn-outline btn-sm active">{{ 'definition'|trans|capitalize }}</a>
                        {% if is_granted('ROLE_PROCESS_EDITOR') %}
                        <a id="btn-step-attributes"
                           class="btn-step-view btn btn-transparent dark btn-outline btn-sm">{{ 'attributes'|trans|capitalize }}</a>
                        {% endif %}
                        <a href="#" id="btn-step-form"
                           class="btn-step-view btn btn-transparent dark btn-outline btn-sm">
                            {{ 'form.generator'|trans|capitalize|desc('Generator formularza') }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="#" id="btn-api-call"
                               class="btn-step-view btn btn-transparent dark btn-outline btn-sm">
                                {{ 'api.call'|trans|capitalize|desc('Wywołanie API') }}
                            </a>
                        {% endif %}
                    </div>

                <span class="modal-label m-l-2">
                    <strong class="step-name"></strong>
                </span>
            </div>
            <div class="modal-body">
                <div class="step-editor-content p-y-1" id="definition-content">

                </div>
                <div class="step-editor-content hidden" id="attributes-content">

                </div>
                <div class="step-editor-content hidden" id="form-content">

                </div>
                <div class="step-editor-content hidden" id="api-call-content">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ajaxTextFormTranslationModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>


                <span class="modal-label m-l-2">
                    <strong class="key-name"></strong>
                </span>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>