{% set contentPopover = '' %}
{% set isTimeout = 0 %}

{% for task in active_tasks %}

    {% set timeout = '' %}
    {% set timeoutMinutes = '' %}

    {% if task.postpone_date is not null %}

        {% set taskDate = task.postpone_date | date('H:i')  ~ '<br><small>' ~ task.postpone_date | date('d.m.y') ~ '</small>' %}
        {% if task.timeout %}
            {% set timeoutMinutes = '<br><small>-' ~ task.timeout_minutes ~ ' min.</small>' %}
            {% set timeout = 'timeout' %}
            {% set isTimeout = 1 %}
        {% endif %}

    {% else %}
        {% set taskDate = task.createdAt | date('H:i')  ~ '<br><small>' ~ task.createdAt | date('d.m') ~ '</small>' %}
        {% if date(task.createdAt) < date() %}
            {% set timeout = 'timeout' %}
            {% set isTimeout = 1 %}
        {% endif %}
    {% endif %}

    {% spaceless %}
    <li class="mt-list-item {{ timeout }}" data-process-id="{{ task.id }}">
        <div class="list-icon-container"><i class="icon-close"></i>{{ timeoutMinutes | raw }}</div>
        <div class="list-datetime">{{ taskDate | raw }}</div>
        <div class="list-item-content">
            <h3>{{ task.name | raw }}</h3>
            <p>({{ task.stepId }}) {{ task.instanceDescription }}</p>
        </div>
    </li>
    {% endspaceless %}

{% endfor %}