<div class="case-costs-wrapper">

    {% if costs | length > 0 %}
        <table class="table table-light">

            <thead>
                <th>{{ 'service.name'|trans|desc('Nazwa usług') }}</th>
                <th>{{ 'service.program'|trans|desc('Pokrycie (program)') }}</th>
                <th>{{ 'service.cost_limit'|trans|desc('Limit kosztów') }}</th>
                <th>{{ 'service.cost'|trans|desc('Koszt w sprawie') }}</th>
            </thead>
            {% for cost in costs %}

                {% set class = cost.err == 1 ? 'font-red' : '' %}

                <tr>
                    <td class="{{ loop.index == costs|length ? 'bold' : ''}}">{{ cost.name }}</td>
                    <td>{{ cost.programName }}</td>
                    <td class="{{ loop.index == costs|length ? 'bold' : ''}}">{{ cost.fromConfig }}</td>
                    <td class="{{ loop.index == costs|length ? 'bold '~class : class }}">{{ cost.fromCase }}</td>
                </tr>

            {% endfor %}

        </table>

    {% else %}

        <h5 class="block">Żadne usługi nie są jeszcze organizowane w tej sprawie.</h5>

    {% endif %}
</div>