  <div class="">
      <ul class="nav nav-tabs">
          {% for key, info in infos %}
              <li  class="{% if loop.index == 1  %}active{% endif %}">
                  <a data-toggle="tab" href="#{{ key}}">
                      {% if info.program  is defined  %}
                      {{ info.program  }}
                      {% else %}
                          {{ key }}
                      {% endif %}
                  </a>
              </li>
          {% endfor %}
      </ul>

      <div class="tab-content">
          {% for key, info in infos %}
              <div class="tab-pane fade {% if loop.index == 1  %} in active{% endif %}" id="{{ key }}">
                  <table class="table dark-theme">
                  {% for singleInfo in info.options %}
                      <tr>
                          <td class="description">{{ singleInfo.description }}</td>
                          <td class="">{{ singleInfo.value }}</td>
                      </tr>
                  {% endfor %}
                  </table>
              </div>
          {% endfor %}
      </div>
  </div>

