<div class="row">
    <div class="col-md-8">
        <select class="form-control select2" id="case-program-file-download">
            {% for file in files %}

                <option value="{{ file.file_name }}"
                        {% if file.program_id == selected %}selected{% endif %}>{{ file.name }}</option>
            {% endfor %}
        </select>

    </div>
    <div class="col-md-4">

        <button class="btn btn-success" id="download-case-program">
            {{ 'Download'|trans|desc('Ściągnij')  }}
        </button>
    </div>
</div>

