{% macro control(attribute, formControl) %}
    {% import "@Case/FormTemplate/templates/controlType.html.twig" as controlType %}
    {%- spaceless %}

        {{ controlType.render_control(attribute, formControl) }}

    {% endspaceless -%}
{% endmacro %}

{% macro widget(control) %}
    {% import "@Case/FormTemplate/templates/widgetType.html.twig" as widgetType %}
    {%- spaceless %}

        {{ widgetType.render_widget(control) }}

    {% endspaceless -%}
{% endmacro %}

{% macro template(template) %}
    {%- spaceless -%}

        {{ prepareJsonOfFormTemplate(template) }}

    {%- endspaceless -%}
{% endmacro %}

{% macro renderHtml(attribute, formControl) %}
    {%- spaceless %}
        {% set formTemplate = attribute.formTemplate %}
        {% if formTemplate %}
            {{ _self.template(formTemplate) }}
        {% elseif attribute.children is empty %}
            {{ _self.control(attribute, formControl) }}
        {% endif %}
    {% endspaceless -%}
{% endmacro %}