{# attribute \CaseBundle\Entity\Attribute #}
{# formControl \CaseBundle\Entity\FormControl #}

{#Dostępne typy kontrolek:#}
{#text, select, multiselect, textarea, checkbox, radio, number#}

{#Dostępne typy atrybutu:#}
{#string, integer, datetime, text, decimal, boolean, map, firma, multi#}

{% block controlAttributes %}
        {% spaceless %}
            {% set controlValue = (attribute.attrValue('value') is not null) ? attribute.attrValue('value') : attribute.defaultValue %}

            {#{% if formControl %}#}
                id="{{ prefixId }}-{{ attribute.attrValue('path') | commaToDash }}"
                data-attribute-path="{{- attribute.attrValue('path') }}"
            {#{% else %}#}
                {#id="{{ prefixId }}-{{ attribute.attrValue('path') | commaToDash }}"#}
                {#data-attribute-path="{{- attribute.attrValue('path') }}"#}
            {#{% endif %}#}

            data-type="{{ attribute.nameValueType }}" {% if uId is not null %} data-uid="{{ uId }}" {% endif %} data-attribute-value-id="
            {{- attribute.attrValue('id') }}" data-group-process-id="
            {{- attribute.attrValue('groupProcessId') }}" data-step-id="
            {{- attribute.attrValue('stepId') }}" parent-attribute-value-id="
            {{- attribute.attrValue('parentAttributeValueId') }}"
            {{- attribute.attrValue('isAuto') ? 'auto-field="true"' : 'auto-field="false"' }}
            {{- (notAllowEdit) ? 'not-allow-edit="true"' : '' }}
            {#{% if attribute.attrValue('value') is null and attribute.defaultValue is not null %}#}
                {#data-auto-set="true"#}
            {#{% endif %}#}
        {% endspaceless %}
{% endblock %}

{% block controlData %}
    {% if formControl is defined and formControl is not null %}
        {% spaceless %}
            {#data-is-visible={{ (formControl.isVisible) ? "true" : "false" }}#}
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block controlReadOnly %}
    {% if formControl is defined and formControl is not null %}
        {% spaceless %}
            {{ formControl.isReadOnly ? 'disabled' : '' }}
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block controlRequired %}
    {% if formControl is defined and formControl is not null %}
        {% spaceless %}
            {{ formControl.isRequired ? 'required' : '' }}
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% macro javascriptBlock(extraData, control, uId) %}
    {% if extraData is defined and extraData.javascript is defined %}
        <script type="text/javascript">

            try {
                _globalSubscriberEvents.addScript('{{ uId }}', function (_this) {
                    {{ extraData.javascript|parseToolSrc(control.groupProcessId, true)|raw }}
                });
            }
            catch (e) {
                console.error('Błąd w javascript kontrolki: {{ uId }}.', e);
            }

        </script>
    {% endif %}
{% endmacro %}

{% macro render_control(attribute, formControl) %}
    {% spaceless %}

        {% set controlValue = (attribute.attrValue('value') is not null) ? attribute.attrValue('value') : attribute.defaultValue %}
        {% set uId = getUniqueId() %}
        {% set prefixId = '' %}
        {% set notAllowEdit = false %}
        {% set processInstanceId = null %}

        {% if formControl is not null %}
            {% set extraData = formControl.getExtraDataArray %}
            {% set groupProcessId = formControl.groupProcessId %}
            {% set processInstanceId = formControl.processInstanceId %}
            {% set notAllowEdit = formControl.notAllowEdit %}
            {% set attributePath = formControl.attributePath %}
        {% else %}
            {% set extraData = null %}
            {% set groupProcessId = null %}
        {% endif %}

        {% set disableInput = false  %}

        {% if modeFormGenerator == constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') %}
            {% set disableInput = true %}
            {% set attributePath = null %}
        {% endif %}

        {% if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') %}
            {% set controlLabelRaw = (formControl and formControl.label) ? formControl.label : attribute.name  %}
            {#{% set controlLabelRaw = (formControl and formControl.label) ? formControl.label : "" %}#}
            {% set controlLabel = controlLabelRaw == "." ? "" : controlLabelRaw %}
        {% else %}
            {% set controlLabel = (formControl and formControl.label) ? formControl.label : attribute.name %}
        {% endif %}

        {% set customClass = formControl.customClass is defined ? formControl.customClass : ''  %}

        {%- if attribute.inputType == "text" or attribute.inputType == "number" or attribute.inputType == "email"  -%}

            <div class="custom-input-wrapper" {{ block('controlData') }}>
                <input {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue) | raw }} {{ customStyles(formControl, 'input') | raw }} class="form-control custom-input" value="{{ controlValue }}" {{ (attribute.type == 5 or attribute.type == 2) ? 'onkeydown="return FilterNumber(event)" onkeyup="return MaxNumber(event)" onpaste="handlePasteNumber(event)"' : "" }} type="{{ attribute.inputType }}" {{ block('controlAttributes') }} {{ block('controlRequired') }} {{ block('controlReadOnly') }}>
                <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text">{{ controlLabel | raw }}</label><span class="focus-border"><i></i></span>
                <i class="fa fa-check success"></i>
            </div>
        {%- elseif attribute.inputType == "datetime" -%}

            <div class="custom-input-wrapper" {{ block('controlData') }}>
                <input {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue) | raw }} {{ customStyles(formControl, 'input') | raw }} class="date-time-picker form-control custom-input {{ customClass }}" value="{{ controlValue|dateTimeOnly }}" type="{{ attribute.inputType }}" {{ block('controlAttributes') }} {{ block('controlRequired') }} {{ block('controlReadOnly') }}>
                <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text">{{ controlLabel | raw }}</label><span class="focus-border"><i></i></span>
                <i class="fa fa-check success"></i>
            </div>
        {%- elseif attribute.inputType == "date" -%}

            <div class="custom-input-wrapper" {{ block('controlData') }}>
                <input {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue) | raw }} {{ customStyles(formControl, 'input') | raw }} class="date-picker form-control custom-input {{ customClass }}" value="{{ controlValue|dateOnly }}" type="text" {{ block('controlAttributes') }} {{ block('controlRequired') }} {{ block('controlReadOnly') }}>
                <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text">{{ controlLabel | raw }}</label><span class="focus-border"><i></i></span>
                <i class="fa fa-check success"></i>
            </div>

        {%- elseif attribute.inputType == "textarea" -%}

            <div class="custom-input-wrapper" {{ block('controlData') }}>
                <textarea {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue) | raw }} {{ customStyles(formControl, 'textarea') | raw }} data-no-resize {{ block('controlAttributes') }} class="form-control custom-input" name="" {{ block('controlRequired') }} {{ block('controlReadOnly') }}>{{ controlValue }}</textarea>
                <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text">{{ controlLabel | raw }}</label><span class="focus-border"><i></i></span>
            </div>

        {%- elseif attribute.inputType == "checkbox" -%}

            <div {{ customStyles(formControl, 'div') | raw }} class="custom-checkbox-wrapper" {{ block('controlData') }}>
                <span {{ customStyles(formControl, 'span') | raw }} class="urgent-text js-label-text">{{ controlLabel | raw }}</span>
                <input {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue) | raw }} type="checkbox" class="urgent" {{ block('controlAttributes') }} value="{{ controlValue }}" {{ block('controlRequired') }} {{ block('controlReadOnly') }}>
                <label class="checkbox-custom-label"></label>
            </div>

        {%- elseif attribute.inputType == "radio" -%}
            {% set radioOptions = getOptionsOfQuery(attribute.query, groupProcessId, processInstanceId, attributePath) %}

            <div {{ customStyles(formControl, 'div') | raw }} class="custom-radio-wrapper" {{ block('controlData') }}>
                <span {{ customStyles(formControl, 'span') | raw }} class="custom-radio-text js-label-text">{{ controlLabel | raw }}</span>

                {% for label, key in radioOptions %}
                    {% set prefixId = loop.index %}
                    <div class="custom-radio">
                        {#<span {{ customStyles(formControl, 'span') | raw }} class="urgent-text js-label-text">{{ (formControl and formControl.label) ? formControl.label : attribute.name }}</span>#}
                        <input {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue, key, controlValue) | raw }} {% if modeFormGenerator == constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') %}disabled{% endif %} {{ block('controlAttributes') }} type="radio" class="urgent"
                                {{- (controlValue == key) ? 'checked' : '' }} name="radio-{{ attribute.attrValue('path') | commaToDash }}" value="{{ key }}" {{ block('controlRequired') }} {{ block('controlReadOnly') }}>
                        <label {{ customStyles(formControl, 'label') | raw }} for="{{ prefixId }}-{{ attribute.attrValue('path') | commaToDash }}" class="radio-label">{{ label | raw}}</label>
                    </div>
                {% endfor %}

            </div>

        {%- elseif attribute.inputType == "select" or attribute.inputType == "multiselect" -%}

            <div class="wrapped-select" {{ customStyles(formControl, 'div') | raw }} {{ block('controlData') }}>


                {% set selectOptions = getOptionsOfQuery(attribute.query, groupProcessId, processInstanceId, attributePath) %}

                {% set arrayValues = [] %}

                {% if attribute.inputType == "multiselect" and controlValue is not empty %}
                        {% set arrayValues = controlValue | split(',') %}
                {% endif %}

                <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text" for="">{{ controlLabel | raw }}</label>
                <select {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue, null, null, 'select') | raw }} {{ customStyles(formControl, 'select') | raw }} value="{{ controlValue }}" {{ block('controlAttributes') }} {{ (attribute.inputType == "multiselect") ? 'multiple' : '' }} class="custom-select" {{ block('controlRequired') }} {{ block('controlReadOnly') }}>

                {% if attribute.inputType == "multiselect" %}
                    {% for label, key in selectOptions %}
                        <option {{ (key in arrayValues) ? 'selected' : '' }} value="{{ key }}">{{ label }}</option>
                    {% endfor %}
                {% else %}
                    {% for label, key in selectOptions %}
                        <option {{ (controlValue == key) ? 'selected' : '' }} value="{{ key }}">{{ label }}</option>
                    {% endfor %}
                {% endif %}
                </select>
                <i class="fa fa-check success"></i>
            </div>

        {%- elseif attribute.inputType == "upload_file" -%}

            {% set readOnlyFile = false %}

            {% if formControl is defined and formControl is not null %}
                {% spaceless %}
                    {% set readOnlyFile = formControl.isReadOnly %}
                {% endspaceless %}
            {% endif %}

            <div class="upload-file-widget">
                <div class="atlas-upload-file-wrapper {{ (readOnlyFile) ? 'readonly-file' : '' }}"
                     data-files="{{ getFilesOfDocument(controlValue) }}"
                     data-url="{{ oneup_uploader_endpoint('document_upload') }}?document-id={{ controlValue }}&group-process-id={{ groupProcessId }}">
                    <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text">{{ controlLabel | raw }}</label>
                    <div class="upload-file-widget-wrapper hidden" {{ block('controlData') }}>
                        <input value="{{ controlValue }}" type="{{ attribute.inputType }}" {{ block('controlAttributes') }}>
                    </div>
                    <div class="row">

                        {% if not readOnlyFile %}
                            <div class="col-xs-3 action-btn">
                                <span  class="btn btn-primary fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span>{{ 'inbox.add_files'|trans|desc('dodaj pliki')|capitalize }}</span>
                                    <input type="file" name="files[]" multiple >
                                </span>
                            </div>
                        {% endif %}
                        <div class="{{ (readOnlyFile) ? 'col-xs-12' : 'col-xs-9' }} presentation-col">
                            <table role="presentation" class="table table-striped">
                                <tbody class="files">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {%- elseif attribute.inputType == "yes-no" -%}

            <div class="radio-switcher-wrapper">

                {% set radioLabel = (formControl and formControl.label) ? formControl.label : attribute.name  %}

                <label {{ customStyles(formControl, 'span') | raw }} class="js-label-text">{{ controlLabel }}</label>

                {% set wordYes = 'radio_button.yes'|trans|desc('Tak')|upper  %}
                {% set wordNo = 'radio_button.no'|trans|desc('Nie')|upper %}
                {% set valueYes = 1 %}
                {% set valueNo = 0 %}

                {% set customLabel = 0 %}

                {% if '||' in radioLabel %}

                    {% set words = radioLabel | split('||') %}

                    {% if '==' in words[0] %}

                        {% set valuesInput1 = words[0] | split('==') %}

                        {% set valueYes = valuesInput1[0] | trim %}
                        {% set wordYes = valuesInput1[1] | trim %}

                        {% set valuesInput2 = words[1] | split('==') %}

                        {% set valueNo = valuesInput2[0] | trim %}
                        {% set wordNo = valuesInput2[1] | trim %}

                    {% else %}

                        {% set wordYes = words[0] %}
                        {% set wordNo = words[1] %}

                    {% endif %}

                    {% set customLabel = 1 %}

                {% endif %}

                <div class="field custom-radio-button {{ (customLabel == 1) ? 'custom-label' : '' }}" data-uid="{{ uId }}">
                    {% set tempUId = uId %}
                    {% set uId = null %}

                    {% set prefixId = "1" %}
                    <input {{ (disableInput) ? "disabled" : "" }} {{ block('controlReadOnly') }} {{ block('controlRequired') }} {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue, valueYes, controlValue) | raw }} {{ block('controlAttributes') }} type="radio" name="radio-{{ attribute.attrValue('path') | commaToDash }}" value="{{ valueYes }}" {{ isChecked(controlValue, valueYes) }} />
                    <label for="{{ prefixId }}-{{ attribute.attrValue('path') | commaToDash }}" class="radio-button-yes"><span>{{ wordYes | raw }}</span> </label>
                    {% set prefixId = "0" %}
                    <input {{ (disableInput) ? "disabled" : "" }} {{ block('controlReadOnly') }} {{ block('controlRequired') }} {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue, valueNo, controlValue) | raw }} {{ block('controlAttributes') }} type="radio" name="radio-{{ attribute.attrValue('path') | commaToDash }}" value="{{ valueNo }}" {{ isChecked(controlValue, valueNo) }} />
                    <label for="{{ prefixId }}-{{ attribute.attrValue('path') | commaToDash }}" class="radio-button-no"><span>{{ wordNo | raw }}</span> </label>

                    {% set uId = tempUId %}
                </div>
            </div>


        {%- else -%}
            <div class="custom-input-wrapper" {{ block('controlData') }}>
                <input {{ autoSetValue(attribute.attrValue('value'), attribute.defaultValue) | raw }} {{ customStyles(formControl, 'input') | raw }} type="text" value="{{ controlValue }}" class="form-control custom-input" {{ block('controlAttributes') }} {{ block('controlRequired') }} {{ block('controlReadOnly') }}>
                <label {{ customStyles(formControl, 'label') | raw }} class="js-label-text">{{ controlLabel | raw}}</label><span class="focus-border"><i></i></span>
            </div>
        {%- endif %}

        {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}

            {{ _self.javascriptBlock(extraData, formControl, uId) }}

        {% endif %}

    {% endspaceless %}
{% endmacro %}