{# faqAnswerAttributeValue \CaseBundle\Entity\AttributeValue #}

<div class="faq-wrapper">

    <div id="faq-category-form" class="form">
        <div class="form-group">
            <select name="faq-category" class="form-control select2">
                {% if currentCategory is null %}
                    <option value="">--- Wybierz kategorie ---</option>
                {% endif %}
                {% for category in categories %}
                    <option value="{{ category.type }}{{ category.value }}" {{  (currentCategory == category.type ~ category.value) ? "selected" : "" }}>{{ category.text }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="faq-accordion"></div>

</div>