<div id="faq">
    <div class="dynamic-widget" data-name="faq" data-loader="true">
        <div class="dynamic-widget-content">
            <div class="loader">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p class="loader-title"><small>Ładowanie FAQ</small></p>
            </div>
        </div>
    </div>
</div>