<div class="list-group">

    {% if actions.cost_services %}
        <a href="javascript:;" class="list-group-item list-show-cost-services">
            <i class="fa fa-credit-card"></i>
            <small>{{ 'case.show_costs'|trans|desc('Koszty w sprawie')|capitalize }}</small>
        </a>
    {% endif %}

    {% if actions.status_services %}
        <a href="javascript:;" class="list-group-item list-show-status-services">
            <i class="fa fa-tasks "></i>
            <small>{{ 'case.status_all_services'|trans|desc('Statusy wszystkich usług')|capitalize }}</small>
        </a>
    {% endif %}

    {% if actions.create_damage_handling %}
        <a href="javascript:;" class="list-group-item create-damage-handling">
            <i class="fa fa-file-text "></i>
            <small>{{ 'extra_actions.manual_create_damage_handling'|trans|desc('Uruchomienie procesu przyjęcia szkody')|capitalize }}</small>
        </a>
    {% endif %}

    {% if actions.extra_form %}
        <a href="javascript:;" class="list-group-item extra-form">
            <i class="fa fa-edit "></i>
            <small>{{ 'extra_actions.extra_form'|trans|desc('Dodatkowe dane w sprawie')|capitalize }}</small>
        </a>
    {% endif %}

    {% if actions.medical_case %}
        <a href="javascript:;" class="list-group-item medical-case-service">
            <i class="fa fa-plus-square"></i>
            <small>{{ 'extra_actions.medical_case'|trans|desc('Szczególne dane osobowe')|capitalize }}</small>
        </a>
    {% endif %}

    {% if actions.api_call %}
        <a href="javascript:;" class="list-group-item api-call">
            <i class="fa fa-exchange "></i>
            <small>{{ 'extra_actions.api_call'|trans|desc('Komunikacja API')|capitalize }}</small>
        </a>
    {% endif %}

</div>

<script>

    /**
     * @param {Object} $modalActions
     * @param {DashboardService} _dashboardService
     * @param {function} _getTask
     * @param {DashboardSocket} _socket
     */
    function _initExtraActionsModal($modalActions, _dashboardService, _getTask, _socket, opts) {

        function __showStatusServices() {

            var message = {
                header: 'Statusy usług',
                body: ''
            };

            var dfd = jQuery.Deferred();

            _f.openModal(message, null, null, true, dfd);

            $.ajax({
                url: Routing.generate('operation_dashboard_get_summary_status_service', {
                    processInstanceId: _dashboardService.getCurrentTicket('id')
                }),
                type: "GET",
                success: function (result) {

                    dfd.resolve(result.html);

                }
            });

        }

        function __showCostsServices() {

            var message = {
                header: 'Koszty w sprawie',
                body: ''
            };

            var dfd = jQuery.Deferred();

            _f.openModal(message, null, null, true, dfd);

            $.ajax({
                url: Routing.generate('operation_dashboard_get_case_costs', {
                    rootId: _dashboardService.getCurrentTicket('rootId')
                }),
                type: "GET",
                success: function (result) {

                    dfd.resolve(result.html);

                }
            });

        }

        function __handleMedicalCase() {

            var message = {
                header: 'Szczególne dane osobowe',
                body: ''
            };

            var dfd = jQuery.Deferred();

            _f.openModal(message, null, null, true, dfd);

            $.ajax({
                url: Routing.generate('operation_dashboard_get_medical_case_form', {
                    rootId: _dashboardService.getCurrentTicket('rootId')
                }),
                type: "GET",
                success: function (result) {

                    dfd.resolve(result.html);

                }
            });

        }

        function __createDamageHandling() {

            _execAction(
                {
                    body: 'Czy na pewno chcesz wymusić proces przyjęcia szkody?',
                    header: 'Potwierdzenie wykonania akcji'
                }
                ,
                {
                    id: _dashboardService.getCurrentTicket('id'),
                    step_id: _dashboardService.getCurrentTicket('stepId'),
                    actionId: 121
                }
            )

        }


        function __handleExtraForm() {

            var message = {
                header: 'Dodatkowe dane w sprawie'
            };

            var dfd = jQuery.Deferred();

            _f.openModal(message, null, null, true, dfd);

            $.ajax({
                url: Routing.generate('ODIExtraFormControls', {
                    processInstanceId: _dashboardService.getCurrentTicket('id')
                }),
                type: "GET",
                success: function (result) {

                    dfd.resolve(result.form);
                    opts.onControlsLoad($('#extra-form-' + _dashboardService.getCurrentTicket('id')));

                },
                error: function (error) {
                    if(error.statusText !== "abort") {
                        handleAjaxResponseError(error);
                    }
                }
            });

        }

        function __handleApiCall() {

            var message = {
                header: 'Komunikacja API'
            };

            var dfd = jQuery.Deferred();

            _f.openModal(message, null, null, true, dfd);

            $.ajax({
                url: Routing.generate('ODIApiCall', {
                    processInstanceId: _dashboardService.getCurrentTicket('id')
                }),
                type: "GET",
                success: function (result) {

                    dfd.resolve(result.form);
                    opts.onControlsLoad($('#extra-form-' + _dashboardService.getCurrentTicket('id')));

                    $('body').find('#api-call-form').on('submit',function(){
                        $.ajax({
                            url: Routing.generate('ODIApiCall', {
                                processInstanceId: _dashboardService.getCurrentTicket('id')
                            }),
                            data : $('body').find('#api-call-form').serialize(),
                            type: "POST",
                            success: function (r){
                                toastr.success(r, "", 7000);
                                $('#custom-process-modal').modal('hide');
                                return false;
                            }
                        });

                        return false;
                    });

                },
                error: function (error) {
                    if(error.statusText !== "abort") {
                        handleAjaxResponseError(error);
                    }
                }
            });

        }


        /**
         * @param {Object} message
         * @param {String} message.body
         * @param {String} message.header
         * @param {Object} data
         * @param {Number} data.id
         * @param {String} data.step_id
         * @param {String} data.actionId
         * @private
         */
        function _execAction(message, data) {

            _f.openModal(message, function () {

                $.ajax({
                    url: Routing.generate('operationalDashboardInterfaceActiveAction'),
                    type: "POST",
                    data: data,
                    success: function (response) {

                        if (response.error) {
                            toastr.error(response.message, "", 7000);
                        } else {
                            if (response.message) {
                                toastr.success(response.message, "", 7000);
                            }
                        }

                        if (response.data.callback === 'getTask') {

                            _getTask({
                                id: parseInt(response.id),
                                notificationMode: true
                            });

                        } else if (response.data.callback === 'serviceEditor') {
                            window.location.href = Routing.generate('service_editor', {id: response.id});
                        } else {

                            _getTask({
                                id: parseInt(_dashboardService.getCurrentTicket('id')),
                                notificationMode: true
                            });

                        }

                    }
                });

            }, null);

        }

        $modalActions.find('.list-show-status-services').on('click', __showStatusServices);
        $modalActions.find('.list-show-cost-services').on('click', __showCostsServices);
        $modalActions.find('.create-damage-handling').on('click', __createDamageHandling);
        $modalActions.find('.extra-form').on('click', __handleExtraForm);
        $modalActions.find('.api-call').on('click', __handleApiCall);
        $modalActions.find('.medical-case-service').on('click', __handleMedicalCase);

    }

</script>