{% macro display_control_data(control) %}
    name="{{ control['attribute_path'] }}"
    data-id="{{ control['id'] }}"
    data-parent_attribute_value_id="{{ control['parent_attribute_value_id'] }}"
    data-attribute_path="{{ control['attribute_path'] }}"
{% endmacro %}

<div class="inbox-body">
    <div class="inbox-header">
    </div>
    <div class="inbox-content">
        <form autocomplete="off" class="inbox-compose form-horizontal" action="#" method="POST"
              data-note-root-id="{{ rootId }}"
              enctype="multipart/form-data">
            <div class="inbox-form-group mail-from">
                <label class="control-label">Od:</label>
                <div class="controls controls-from">
                    <select class="form-control select2" {{ _self.display_control_data(note['735']) }}>
                        {% for email in senderBook %}
                            <option value="{{ email }}" {{ (email == from) ? "selected" : "" }}>{{ email }}</option>
                        {% endfor %}
                    </select>
                    {#<input type="text" readonly="readonly"#}
                    {#class="form-control" {{ _self.display_control_data(note['735']) }}#}
                    {#value="atlas_test@starter24.pl">#}
                </div>
            </div>
            <div class="inbox-form-group mail-to">
                <label class="control-label">Do:</label>
                <div class="controls controls-to">
                    <input type="text" autocomplete="new-password"
                           class="form-control tagsinput-control" {{ _self.display_control_data(note['198']) }}
                           value="{{ to | join(',') }}">
                    {#value="{{ note['198']['value_string'] }}">#}
                    <span class="inbox-cc-bcc">
                        <span class="inbox-cc">DW | UDW</span>
                        {#<span class="inbox-bcc"> Bcc </span>#}
                    </span>
                </div>
            </div>
            <div class="inbox-form-group input-cc display-hide">
                {#<a href="javascript:;" class="close"> </a>#}
                <label class="control-label">DW:</label>
                <div class="controls controls-cc">
                    <input type="text"
                           class="form-control tagsinput-control" {{ _self.display_control_data(note['410']) }}
                           value="{{ note['410']['value_text'] }}">
                </div>
            </div>
            <div class="inbox-form-group input-bcc display-hide">
                {#<a href="javascript:;" class="close"> </a>#}
                <label class="control-label">UDW:</label>
                <div class="controls controls-bcc">
                    <input type="text"
                           class="form-control tagsinput-control" {{ _self.display_control_data(note['733']) }}
                           value="{{ note['733']['value_text'] }}">
                </div>
            </div>
            <div class="inbox-form-group">
                <label class="control-label">Temat:</label>
                <div class="controls">
                    <input placeholder="{{ 'Temat e-maila'|trans }}" type="text"
                           class="form-control" {{ _self.display_control_data(note['409']) }}
                           value="{{ subject }}">
                    {#value="{{ note['409']['value_string'] }}">#}
                </div>
            </div>
            <div class="inbox-form-group">
                <div class="controls-row">

                    {% set inboxContent = note['737']['value_text'] %}

                    {% if emailContent is not empty %}
                        {% set inboxContent = emailContent %}
                    {% endif %}

                    <textarea class="inbox-editor form-control textarea-inbox-editor"
                              data-theme="inbox_editor" {{ _self.display_control_data(note['737']) }}
                              rows="12">{{ inboxContent | raw }}</textarea>
                </div>
            </div>

            <input type="hidden" value="{{ emailFileUuid }}" name="email_file_uuid">
            <input type="hidden" value="{{ (isForward) ? "1" : "0" }}" name="is_forward">

            <div class="inbox-form-group hidden">
                <div class="controls-row">
                    <input type="text" class="form-control uploaded-files" value="">
                </div>
            </div>

            {% if isForward %}
                <div class="inbox-attached m-y-2 m-x-1">

                    <div class="row">

                        {% for attachment in attachments %}

                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="inbox-attached-item">

                                    {% if isImage(attachment.extension) %}
                                        <div class="image-preview"
                                             style="background-image: url('{{ app.request.schemeAndHttpHost ~ asset(attachment.path) }}')"></div>
                                    {% else %}
                                        <div class="icon"><i
                                                    class="fa fa-3x fa-stack fa-{{ attachment.extension | iconFromExtension }}"></i>
                                        </div>
                                    {% endif %}
                                    <span class="name">{{ attachment.name }}</span>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>

            {% else %}

                <div class="inbox-compose-attachment">
                    <div class="atlas-upload-file-wrapper" data-url="{{ oneup_uploader_endpoint('document_upload') }}">

                    <span class="btn btn-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'inbox.add_files'|trans|desc('dodaj pliki')|capitalize }}</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                        <small>(Maksymalnie 25 MB)</small>
                        <table role="presentation" class="table table-striped margin-top-10">
                            <tbody class="files">
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <div class="inbox-compose-btn">
                <label for="special-mail" class="note-checkbox-special mt-checkbox mt-checkbox-outline m-b-0" style="padding: 0 10px 0 30px; margin-top: 10px; vertical-align: middle;">
                    <input name="406,226,930" type="checkbox" value="1"
                           class="form-control input-md checkbox-special" id="special-mail"
                            {{ _self.display_control_data(note['930']) }} >
                    {{ 'note.stared'|trans | desc('Wyróżniona') }}
                    <span></span>
                </label>

                {% if isForward %}
                    <button data-style="zoom-in" data-size="s" class="btn btn-green-meadow ladda-button" type="submit">
                    <span class="ladda-label">
                        <i class="fa fa-arrow-right"></i> {{ 'inbox.forward'|trans|desc('prześlij dalej')|capitalize }}
                    </span>
                    </button>
                {% else %}
                    <button data-style="zoom-in" data-size="s" class="btn btn-success ladda-button" type="submit">
                    <span class="ladda-label">
                        <i class="fa fa-check"></i> {{ 'inbox.send'|trans|desc('Wyślij')|capitalize }}
                    </span>
                    </button>
                {% endif %}

            </div>
        </form>
    </div>
    <div id="inbox-signature" class="hidden">
        {{ signature | raw }}
    </div>
</div>

{{ include('@Case/FormTemplate/templates/inbox-editor-tiny-scripts.html.twig') }}

{{ tinymce_init({
    selector: '.textarea-inbox-editor',
    use_callback_tinymce_init: true
}) }}