<div id="matrix-form">
    <div class="matrix-form-wrapper">
        <div class="dynamic-widget" data-name="matrix" data-loader="true">
            <div class="dynamic-widget-content">
                <div class="loader">
                    <div class="ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <p class="loader-title"><small>Ładowanie macierzy</small></p>
                </div>
            </div>
        </div>
    </div>
</div>