<div class="medical-case-wrapper">
    <div class="form-group">
        <label class="custom-control-label" for="medical-case-input">Szczególne dane osobowe</label>
        <input type="checkbox" class="custom-control-input" id="medical-case-input"
               data-attribute-id="{{ attributeId }}"
                {{ isMedicalCase == 1 ? "checked" : '' }}>
    </div>
</div>

<script>
    $('#medical-case-input').on('click', function () {
        $('#medical-case-modal').modal('show');
    });
</script>