{% set countriesData = getCountryForMap() %}

{% if countriesData.first %}
    <option value="{{ countriesData.first.value }}">{{ countriesData.first.name }}</option>
{% endif %}

{% for key, option in countriesData.countries %}

    {% if countriesData.first != key %}
        <option value="{{ key }}">{{ option }}</option>
    {% endif %}

{% endfor %}

{#<option valucase-previous-locationse="72">Polska</option><option value="0">Wszystkie</option><option value="1">Afganistan</option><option value="2">Albania</option><option value="3">Andora</option><option value="4">Arabia Saudyjska</option><option value="5">Armenia</option><option value="6">Austria</option><option value="7">Azerbejdżan</option><option value="8">Bahrajn</option><option value="9">Bangladesz</option><option value="10">Belgia</option><option value="11">Bhutan</option><option value="12">Białoruś</option><option value="13">Birma</option><option value="14">Bośnia i Hercegowina</option><option value="15">Brunei</option><option value="16">Bułgaria</option><option value="17">Chiny</option><option value="18">Chorwacja</option><option value="19">Cypr</option><option value="20">Czarnogóra</option><option value="21">Czechy</option><option value="22">Dania</option><option value="23">Estonia</option><option value="24">Filipiny</option><option value="25">Finlandia</option><option value="26">Francja</option><option value="27">Gibraltar</option><option value="28">Grecja</option><option value="29">Gruzja</option><option value="30">Guam</option><option value="31">Hiszpania</option><option value="32">Holandia</option><option value="33">Hong Kong</option><option value="34">Indie</option><option value="35">Indonezja</option><option value="36">Irak</option><option value="37">Iran</option><option value="38">Irlandia</option><option value="39">Islandia</option><option value="40">Izrael</option><option value="41">Japonia</option><option value="42">Jemen</option><option value="43">Jordania</option><option value="44">Kambodża</option><option value="45">Katar</option><option value="46">Kazachstan</option><option value="47">Kirgistan</option><option value="48">Korea Południowa</option><option value="49">Korea Północna</option><option value="50">Kosowo</option><option value="51">Kuwejt</option><option value="52">Laos</option><option value="53">Liban</option><option value="54">Liechtenstein</option><option value="55">Litwa</option><option value="56">Luksemburg</option><option value="57">Łotwa</option><option value="58">Macedonia</option><option value="59">Makau</option><option value="60">Malezja</option><option value="61">Malta</option><option value="62">Mikronezja</option><option value="63">Mołdawia</option><option value="64">Monako</option><option value="65">Mongolia</option><option value="66">Nepal</option><option value="67">Niemcy</option><option value="68">Norwegia</option><option value="69">Oman</option><option value="70">Pakistan</option><option value="71">Palau</option><option value="73">Portugalia</option><option value="74">Północne Mariany</option><option value="75">Rosja</option><option value="76">Rumunia</option><option value="77">San Marino</option><option value="78">Serbia</option><option value="79">Singapur</option><option value="80">Słowacja</option><option value="81">Słowenia</option><option value="82">Sri Lanka</option><option value="83">Syria</option><option value="84">Szwajcaria</option><option value="85">Szwecja</option><option value="86">Tadżykistan</option><option value="87">Tajlandia</option><option value="88">Tajwan</option><option value="89">Turcja</option><option value="90">Turkmenistan</option><option value="91">Ukraina</option><option value="92">Uzbekistan</option><option value="93">Watykan</option><option value="94">Węgry</option><option value="95">Wielka Brytania</option><option value="96">Wietnam</option><option value="97">Włochy</option><option value="98">Wyspy Bożego Narodzenia</option><option value="99">Zjednoczone Emiraty Arabskie</option>#}