{% extends '@Operational/Forms/base.html.twig' %}

{% block title_form %}
    <h2 class="header">

        <span class="form-title">Edytor partnera: {{ partnerName }}</span>
    </h2>
{% endblock %}

{% block content_form %}

    <div id="form-generator-box" class="dashboard-version">
        <div class="row">
            <div class="col-md-12">
                <div class="step-form-grid-stack">
                    <div id="partner-interface">
                        <div class="partner-interface-wrapper" data-spinner='{% include "@Web/Default/partials/spinner.html.twig"%}'>
                            <div class="row">
                                <div class="col-sm-6 partner-interface-tree">

                                    <div class="partner-interface-tree-setup row" style="border-bottom: 1px solid #e7ecf1;">
                                        <div class="col-sm-1">
                                            <button class="btn btn-default not-absolute" id="refresh-partner-tree" type="button">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                                <input class="form-control" name="search-partner-tree" type="text" id="search-partner-tree">
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="padding-top: 8px;">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                Pokazuj liście (<i class="fa fa-leaf font-green-turquoise" style="margin-left: 0"></i>)
                                                <input type="checkbox" value="1" id="partner-interface-active-leaf" name="partner-interface-active-leaf">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3" style="padding-top: 8px;">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                Wersja DEV
                                                <input type="checkbox" value="1" id="partner-interface-dev-mode" name="partner-interface-dev-mode">
                                                <span></span>
                                            </label>
                                        </div>
                                        <a href="#"
                                           data-clipboard-text=""
                                           style="display: none"
                                           class="btn default btn-clipboard-url btn-xs">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>

                                    <div id="partner-tree" data-group-process-id="{{ params.groupProcessId }}"></div>

                                    {#<div class='panel-edit-attribute' data-group-process-id="{{ params.groupProcessId }}"#}
                                         {#data-spinner='{% include "@Web/Default/partials/spinner.html.twig"%}'>#}

                                        {#<div class="panel-edit-attribute-wrapper">#}
                                            {#<div class="panel-edit-attribute-tree"#}
                                                 {#data-prototype-tree-row='{{ include('@Case/FormTemplate/templates/prototype-row-panel-edit-attribute.html.twig') }}'></div>#}
                                            {#<h4>Kontrolki do edycji - <span class="name-of-attribute"></span> </h4>#}
                                            {#<div class="panel-edit-attribute-view"></div>#}
                                        {#</div>#}
                                    {#</div>#}
                                </div>
                                <div class="col-sm-6 partner-interface-form panel-edit-attribute-view">
                                    <div class="partner-interface-form-content">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block btn_prev_step -%}

{%- endblock %}

{% block btn_next_step -%}

{%- endblock %}

{% block custom_scripts %}

    <script src="{{ asset('bundles/web/js/jstree.js') }}"></script>

    <script type="text/javascript">

    </script>
{% endblock %}

