{% spaceless %}
    <div class="panel-edit-attribute-tree-row" data-attr-is-multi="__IS_MULTI__" data-attr-value-id="__ATTR_VAL_ID__">
        <div class="attribute-row">__NAME__ <span>(__ATTR_VAL_ID__)</span></div>
        <div class="_wrapper-select">
            <select class="not-set-attr custom-select switch-multi-id"></select>
        </div>
        <div class="_actions">
            <button type="button" data-style="zoom-in" data-size="s" data-attr-id="__ATTRIBUTE_ID__"  data-parent-attr-id="__PARENT_ID__" class="append-multi ladda-button btn btn-primary">
                <span class="ladda-label">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </button>
            <button type="button" data-style="zoom-in" data-size="s" data-attr-id="__ATTRIBUTE_ID__"  data-parent-attr-id="__PARENT_ID__" title="Na pewno?" class="remove-multi ladda-button btn btn-danger">
                <span class="ladda-label">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="_wrapper-tree">

        </div>
    </div>
{% endspaceless %}