<div id="quiz-step" data-is-active="{{ (isActive) ? 1 : 0 }}">
    <div class="form-group">
        <h4>{{ question }}</h4>
        <div class="mt-radio-list">
            {% for answer in answers %}
                <label class="mt-radio mt-radio-outline">
                    {{ answer.description }}
                    <input type="radio" value="{{ answer.variant }}"
                           name="answer" {{ (choice_variant == answer.variant) ? "checked" : "" }}
                           required="required" {{ (isActive) ? '' : 'disabled' }}>
                    <span></span>
                </label>
            {% endfor %}
        </div>
    </div>
    <div data-widget-attribute-value-id="{{ controlDescription.attribute_value_id }}"
         data-id="{{ controlDescription.id }}"
         style=""
         data-widget=""
         data-path="{{ controlDescription.path }}"
         data-attr-id="{{ controlDescription.attrId }}"
         class="grid-stack-item"
         data-is-visible="true"
         data-unique-id="43871a42-9f0a-27c5-a6ab-2b54ed27f3a6">
        <div class="grid-stack-item-content relative-content ui-draggable-handle">
            {{ controlDescription.html | raw }}
        </div>
    </div>
    <div class="form-group relative m-t-2">
        <div class="grid-iframe-wrapper">
            <iframe width="100%" height="500px" id="embed-iframe-{{ uId }}" src="{{ src }}" frameborder="0"></iframe>
        </div>
    </div>

    {% if src %}
        <script type="text/javascript">

            var $embedIframe = $('#embed-iframe-{{ uId }}'),
                $quiz = $('#quiz-step');

            if($quiz.attr('data-is-active') === "1") {
                $embedIframe.on('load', function () {

                    $embedIframe.contents().find('#batch-edit-all').parent().remove();

                    $embedIframe.contents().find("#tool-table").on('dblclick', 'tr:not(#no-result-info)', function () {
                        var $t = $(this),
                            values = {},
                            isActive = false;

                        if ($t.hasClass('active-row')) {
                            /** Odznaczenie aktywnego wiersza */
                            isActive = false;
                            $t.removeClass('active-row');
                        } else {
                            /** Zaznaczenie aktywnego wiersza */
                            isActive = true;
                            $t.closest('#tool-table').find('tr.active-row').removeClass('active-row');
                            $t.addClass('active-row');
                        }

                        $(this).children('td[data-column]').each(function () {
                            values[$(this).attr('data-column')] = $(this).attr('data-value');
                        });

                        if (isActive) {
                            previousStep({{ instanceId }}, values.id)
                        }

                    });
                });
            }

        </script>
    {% endif %}
</div>