<div id="rsa-cost-verification" class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-vam">
        <thead>
        <tr>
            <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>

            {% if app.user.company.id == 1 %}
                <th>{{ 'case.data'|trans|desc('Zebrane/oszacowane w sprawie') }}</th>
                <th>{{ 'partner.report.data'|trans|desc('Zgłoszone przez partnera') }}</th>
            {% else %}
                <th>{{ 'value'|trans|desc('wartość') }}</th>
            {% endif %}

        </tr>
        </thead>
        <tbody id="users-tbody">
        {% for data in report %}
            {% if data.err == -1 %}
                <tr><td colspan="3" class="data-report-group">{{ data.name }}</td> </tr>
            {% else %}
                {% if app.user.company.id == 1 %}
                    <tr class="">
                        <td>{{ data.name|raw }}</td>
                        <td>{{ data.fromCase|raw }}</td>
                        <td class="{{ data.err == 1 ? 'danger' : ''}}">{{ data.fromContractor|raw }}</td>
                    </tr>
                {% else %}
                    <tr class="">
                        <td>{{ data.name|raw }}</td>
                        <td>{{ data.fromContractor|raw }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>