<div class="status-services-wrapper">

    {% if services | length > 0 %}
        <table class="table table-light">

            {% for service in services %}

                {% set percent = 0 %}
                {% set extraClass = '' %}

                {% if service.status_progress == 1 %}
                    {% set percent = 25 %}
                {% elseif service.status_progress == 2 %}
                    {% set percent = 50 %}
                {% elseif service.status_progress == 3 %}
                    {% set percent = 75 %}
                {% elseif service.status_progress == 4 %}
                    {% set percent = 100 %}
                {% elseif service.status_progress == 5 %}
                    {% set percent = 100 %}
                    {% set extraClass = 'cancel-service' %}
                {% elseif service.status_progress == 6 %}
                    {% set extraClass = 'client-organize' %}
                    {% set percent = 100 %}
                {% endif %}

                <tr class="single-service">
                    <td style="text-align: center">
                        <img width="50px" src="{{ service.icon }}" alt="">
                    </td>
                    <td style="width: 40%; vertical-align: middle">
                        <div class="td-status-wrapper">
                            <table class="custom-progress-bar-table">
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="custom-progress-wrap custom-progress {{ extraClass }}"
                                 data-progress-percent="{{ percent }}">
                                <div class="custom-progress-bar custom-progress" style="left: {{ percent }}%"></div>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        {{ service.status_label | raw }}
                    </td>
                </tr>

            {% endfor %}

        </table>

    {% else %}

        <h5 class="block">Żadne usługi nie są jeszcze organizowane w tej sprawie.</h5>

    {% endif %}
</div>