<div class="content-view" data-json-email="{{ jsonEmail }}">
    <div class="inbox-header inbox-view-header">
        <div class="row">
            <div class="col-xs-10">
                <h1 title="{{ subject }}">{{ 'email_preview.title'|trans|desc('temat')|capitalize }}: {{ subject }}</h1>
            </div>

            {% if not disableReply %}
                <div class="col-xs-2 text-right">
                    <button class="btn green reply-btn" id="reply-inbox" title="Odpowiedz">
                        <i class="fa fa-reply"></i> <span></span>
                    </button>
                    <button class="btn green-meadow forward-btn" id="forward-inbox" title="Prześlij dalej">
                        <i class="fa fa-arrow-right"></i> <span></span>
                    </button>
                    <a class="btn btn-warning download-email-btn" id="download-email" href="{{ downloadEmailUrl }}" title="Pobierz e-mail">
                        <i class="fa fa-download"></i> <span></span>
                    </a>
                </div>
            {% endif %}

        </div>

        <div class="pull-right"></div>

    </div>
    <div class="inbox-view-info">
        <div class="row p-y-1">
            <div class="col-md-1 text-right">
                Od:
            </div>
            <div class="col-md-11">
                <span class="sbold">{{ from }}</span>
                <span class="float-right">{{ date | date('d-m-Y H:i') }}</span>
            </div>
        </div>
        <div class="row p-y-1">
            <div class="col-md-1 text-right">
                Do:
            </div>
            <div class="col-md-11">
                <span class="sbold">{{ to }}</span>
            </div>
        </div>
    </div>
    <div class="inbox-view">

        {% if iframeUrl  is not null %}
            <iframe src="{{ iframeUrl }}" class="iframe-inbox-view"></iframe>
        {% else %}
            {% if html == "" %}
                {{ text | nl2br }}
            {% else %}
                {{ html | raw }}
            {% endif %}
        {% endif %}

    </div>
    <hr>
    <div class="inbox-attached">

        <div class="row">

            {% for attachment in attachments %}

                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="inbox-attached-item">

                        {% if isImage(attachment.extension) %}
                            <div class="image-preview" style="background-image: url('{{ app.request.schemeAndHttpHost ~ asset(attachment.path) }}')"></div>
                        {% else %}
                            <div class="icon"><i class="fa fa-3x fa-stack fa-{{ attachment.extension | iconFromExtension }}"></i></div>
                        {% endif %}

                        <span class="name">{{ attachment.name }}</span>
                        <div class="for-download">
                            <a target="_blank" href="{{ asset(attachment.path) }}" title="{{ 'email_preview.download' |trans|desc('Pobierz')|capitalize}}">
                                <i class="fa fa-download fa-stack"></i> <span class="size">{{ attachment.size }}</span>
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</div>
<div class="content-reply"></div>

