{% macro render_widget(control) %}
    {% spaceless %}
        {% if control.widget -%}
            {{ _self.render_widget_html(control.widget, control.parsedLabel, control) }}
        {%- else -%}
            - no widget -
        {%- endif %}
    {% endspaceless %}
{% endmacro %}

{% macro javascriptBlock(extraData, control, uId) %}
    {% if extraData is defined and extraData.javascript is defined %}
        <script type="text/javascript">

            try {
                _globalSubscriberEvents.addScript('{{ uId }}', function (_this) {
                    {{ extraData.javascript|parseToolSrc(control.groupProcessId, true)|raw }}
                });
            }
            catch (e) {
                console.error('Błąd w javascript kontrolki: {{ uId }}.', e);
            }

        </script>
    {% endif %}
{% endmacro %}

{% macro render_widget_html(name, label, control) %}

    {% spaceless %}

        {% set controlId = '' %}
        {% set groupProcessId = null %}
        {% set uId = getUniqueId() %}

        {% if control is not null %}
            {% set controlId = control.id %}
            {% set groupProcessId = control.groupProcessId is defined ? control.groupProcessId : null %}
            {% set processInstanceId = control.processInstanceId is defined ? control.processInstanceId : null %}
            {% set extraData = control.getExtraDataArray %}
        {% else %}
            {% set extraData = null %}
        {% endif %}

        {% set customClass = control.customClass is defined ? control.customClass : ''  %}

        {% if name == "divider_horizontal" -%}

            <div {{ customStyles(control, 'div') | raw }} class='horizontal-divider' data-uid="{{ uId }}"></div>

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {{ _self.javascriptBlock(extraData, control, uId) }}
            {% endif %}

        {% elseif name == "divider_vertical" %}

            <div {{ customStyles(control, 'div') | raw }} class='vertical-divider' data-uid="{{ uId }}"></div>

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {{ _self.javascriptBlock(extraData, control, uId) }}
            {% endif %}

        {% elseif name == "paragraph" %}

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                <p {{ customStyles(control, 'p') | raw }} class='paragraph js-label-text js-visual-element-text' data-uid="{{ uId }}">{{ ((label) ? label : 'Paragraf') | removeNewLine | raw }}</p>
                {{ _self.javascriptBlock(extraData, control, uId) }}
            {%- else -%}
                <p {{ customStyles(control, 'p') | raw }} class='paragraph js-label-text js-visual-element-text'>{{ ((label) ? label : 'Paragraf') | removeNewLine | raw }}</p>
            {%- endif -%}
        {% elseif name == "div" %}

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}

                {% if 'no-newline' in customClass %}
                    <div {{ customStyles(control, 'div') | raw }} class='js-label-text js-visual-element-text' data-uid="{{ uId }}">{{ ((label) ? label : 'DIV') | raw }}</div>
                {% else %}
                    <div {{ customStyles(control, 'div') | raw }} class='js-label-text js-visual-element-text' data-uid="{{ uId }}">{{ ((label) ? label : 'DIV') | removeNewLine | raw }}</div>
                {% endif %}

                {{ _self.javascriptBlock(extraData, control, uId) }}

            {%- else -%}
                <div {{ customStyles(control, 'div') | raw }} class='js-label-text js-visual-element-text'>{{ ((label) ? label : 'DIV') | removeNewLine | raw }}</div>
            {%- endif -%}

        {% elseif name == "header" %}

            <h4 {{ customStyles(control, 'h4') | raw }} class='generator-header js-label-text js-visual-element-text'>{{ (label) ? (label | raw) : 'Nagłówek' }}</h4>

        {% elseif name == "button" %}

            {% set type = extraData.type is defined ? extraData.type : 'default' %}
            {% set isLadda = 'ladda-button' in customClass %}

            <button {{ customStyles(control, 'button') | raw }}
                    data-uid="{{ uId }}"
                    id="button-{{ controlId }}"
                    type="button"
                    class="btn {{ type }} js-visual-element-text js-label-text {{ (isLadda) ? "ladda-button ladda-button-in-form" : ""}}"
                {{ (isLadda) ? ' data-style="zoom-in" data-size="s" ' : '' }}
            >
                {%- if isLadda -%}
                    <span class="ladda-label">{{- (label) ? (label | raw) : 'Button' -}}</span>
                {%- else -%}
                    {{- (label) ? (label | raw) : 'Button' -}}
                {%- endif -%}
            </button>

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}

                {{ _self.javascriptBlock(extraData, control, uId) }}

            {% endif %}

        {% elseif name == "panel_edit_attribute" %}
            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}

                <div class='panel-edit-attribute' data-group-process-id="{{ groupProcessId }}" data-uid="{{ uId }}"
                     data-spinner='{% include "@Web/Default/partials/spinner.html.twig"%}'>
                    <h4>{{- ((label) ? label : 'Lista atrybutów') | removeNewLine | raw }} ({{ groupProcessId }})</h4>
                    <div class="panel-edit-attribute-wrapper">
                        <div class="panel-edit-attribute-tree"
                             data-prototype-tree-row='{{ include('@Case/FormTemplate/templates/prototype-row-panel-edit-attribute.html.twig') }}'></div>
                        {#<h4>Kontrolki do edycji - <span class="name-of-attribute"></span> </h4>#}
                        <div class="panel-edit-attribute-view"></div>
                    </div>
                </div>

                {{ _self.javascriptBlock(extraData, control, uId) }}

            {% else %}
                <div>
                    <p>EDYCJA ATRYBUTÓW</p>
                </div>
            {% endif %}
        {% elseif name == "map" %}


        {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {% set caseLocations = availableLocations(processInstanceId) %}

                {% if caseLocations|length > 0 %}
                <div class="previous-locations-wrapper">
                    <select id="case-previous-locations" class="form-control">
                        <option value="">
                            ---{{ 'chose.location.or.search.new'|trans|desc(' Wybierz poprzednią lokalizację lub wyszukaj') }}---
                        </option>
                        {% for location in caseLocations %}
                            <option value="{{ location.rootId }}">{{ location.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            {% endif %}

            <div data-uid="{{ uId }}" class="map-wrapper grid-stack-map-wrapper">
                <label class="map-label js-label-text hidden" for="map-widget-input">{{ label | raw }}</label>

                    {#{%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}#}
                        {#<i class="fa fa-map-marker fa-2x static" aria-hidden="true"></i>#}
                    {#{% endif -%}#}

                    {#{{- label }}</label>#}


                {%- include '@Map/Widget/e_call_emapa.html.twig' with {'id_map': 'atlas-map-step'} -%}

                <div id="center-main-marker">
                    <span>
                        <img src="{{ (app.request.secure) ? 'https' : 'http' }}://emapi.pl/css/u/img/context/context_center.png" alt="">
                    </span>
                </div>

                <div class="search-input-wrapper">
                    {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                        <button data-color="blue" data-style="zoom-in" data-size="s" type="button" class="input-search-icon btn ladda-button">
                            <span class="ladda-label">
                                <i class="fa fa-search static" aria-hidden="true"></i>
                            </span>
                        </button>
                    {% endif %}

                    <div id="choose-type-search-buttons" data-type-search="address">
                        <ul class="choose-type-box-list-buttons">
                            <li data-type-search="address">
                                <span class="icon">
                                    <i class="fa fa-location-arrow"></i>
                                </span>
                                <span class="name">Lokalizuj po adresie</span>
                            </li>
                            <li data-type-search="coordinate">
                                <span class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <span class="name">Lokalizuj po współrzędnych</span>
                            </li>
                            <li data-type-search="object">
                                <span class="icon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <span class="name">Lokalizuj po drodze</span>
                            </li>
                            <li data-type-search="track">
                                <span class="icon">
                                    <i class="fa fa-truck"></i>
                                </span>
                                <span class="name">Wyznacz trasę</span>
                            </li>
                        </ul>
                    </div>
                    <div class="search-bar" id="search-bar-control" data-type-search="address" >
                        <div class="address-bar type-bar" data-placeholder-address="{{ 'map.search.placeholder.address'|trans|desc('Miejscowość, Ulica Numer') }}" data-placeholder-object="{{ 'map.search.placeholder.object'|trans|desc('MOP\'y, pikietaże') }}">
                            <select class="form-control map-choice-country" id="map-widget-countries">
                                {{ include('@Case/FormTemplate/templates/options-countries.html.twig') }}
                            </select>
                            <input type="text" class="form-control map-search" id="map-widget-input" placeholder="{{ 'map search phrase'|trans|desc('Miejscowość, Ulica Numer') }}" value="">
                        </div>
                        <div class="coordinate-bar type-bar">
                            <input type="text" data-coordinate-type="lat" class="form-control search-by-coordinate" id="search-coordinate-lat" placeholder="52.406631469 || 52 24 23.873" value="">
                            <input type="text" data-coordinate-type="lng" class="form-control search-by-coordinate" id="search-coordinate-lng" placeholder="16.919521331 || 16 55 10.276" value="">
                        </div>
                        <div class="track-bar type-bar">
                            <div id="result-route-way">

                            </div>
                            <input type="text" data-coordinate-value="" data-track-type="from" class="form-control search-by-track" placeholder="{{ 'search.track.from'|trans|desc('Od') }}" value="">
                            <input type="text" data-coordinate-value="" data-track-type="to" class="form-control search-by-track" placeholder="{{ 'search.track.to'|trans|desc('Do') }}" value="">
                        </div>
                    </div>

                    <div id="autocomplete-search-wrapper"></div>

                </div>
                <div title="{{ 'redirect-to-google-map'|trans|desc('Przejdź do mapy Google') }}" class="google-redirect"></div>
                <div data-style="zoom-in" data-size="s" title="{{ 'map.action.request_send_sms'|trans|desc("Na pewno chcesz wysłać SMS'a z pytaniem o lokalizacje?")|capitalize }}" data-placement="left" data-singleton="true" data-popout="true" data-msg="{{ 'map.action.visit_link_to_locate'|trans|desc("Aby zlokalizować swoją pozycje, proszę wejść w podany adres")|capitalize }}: __LINK__" class="ladda-button send-sms-icon">
                    <span class="ladda-label">
                        <i class="fa fa-commenting-o"></i>
                    </span>
                </div>

                {#<button data-color="blue" data-style="zoom-in" data-size="s" type="button" class="input-search-icon btn ladda-button">#}
                    {#<span class="ladda-label">#}
                        {#<i class="fa fa-search static" aria-hidden="true"></i>#}
                    {#</span>#}
                {#</button>#}

            </div>

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {{ _self.javascriptBlock(extraData, control, uId) }}
            {% endif %}

        {% elseif name == "image" %}

            {% set defaultImage = "http://intelligentofficeuk.com/wp-content/uploads/2014/10/placeholder.jpg" %}

            {% if extraData is iterable and extraData.path is defined %}
                {% set defaultImage = extraData.path %}
            {% endif %}

            <div class="grid-image-wrapper"><img src="{{ defaultImage }}" alt="" data-uid="{{ uId }}" class="grid-image"></div>

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {{ _self.javascriptBlock(extraData, control, uId) }}
            {% endif %}

        {% elseif name == "email_preview" %}

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}

                <div class="widget-email-preview" data-uid="{{ uId }}">
                    {{ include('@Case/FormTemplate/templates/widget-email-preview.html.twig') }}
                </div>

                {{ _self.javascriptBlock(extraData, control, uId) }}

            {% else %}

                <div class="widget-email-preview sample" style="background-image: url({{ asset('images/web/images/inbox_bg.png') }})">
                    <div class="col-sm-12">
                        .
                    </div>
                </div>

            {% endif %}

        {% elseif name == 'iframe' -%}
            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}

                {% set defaultSrc = "https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5.jpg" %}

                {% if extraData is iterable and extraData.src is defined %}
                    {% set defaultSrc = extraData.src | parseIframeSrcParameters(control.groupProcessId) %}
                {% endif -%}
                <div class="grid-iframe-wrapper">
                    <iframe data-uid="{{ uId }}" id="embed-iframe-{{ controlId }}" src="{{ defaultSrc | parseToolSrc(control.groupProcessId) }}" frameborder="0"></iframe>
                </div>

                {% if extraData.javascript is defined %}
                    <script type="text/javascript">
                        "use strict";

                        var $embedIframe = $('#embed-iframe-{{ controlId }}');

                        try {
                            _globalSubscriberEvents.addScript('{{ uId }}', function (_this) {

                                var isDisabledMode = $('.operation-dashboard-form').hasClass('preview-mode');
                                var firstLoad = true;

                                _this.on('load', function () {

                                    // Nie ma dostepu do iframe
                                    if(!hasIframeAccess(_this)) return false;

                                    if(isDisabledMode) {
                                        _this.contents().find('body').append('<style>#tool-table tr td { cursor: not-allowed !important; } #tool-table tr:not(.active-row) { background-color: #fff !important; } </style>');
                                    }

                                    var boxInfo = $('.grid-stack-item.info-from-iframe'),
                                        onClick = false,
                                        values = {},
                                        isActive = false,
                                        clickDelay = false;

                                    {{ extraData.javascript|parseToolSrc(control.groupProcessId, true)|raw }}

                                    _this.contents().find('#batch-edit-all').parent().remove();

                                    _this.contents().find("#tool-table").on('click', 'tr:not(#no-result-info)', function () {

                                        if(isDisabledMode || clickDelay) return false;

                                        if(clickDelay === false) {
                                            clickDelay = true;
                                            setTimeout(function (e) {
                                                clickDelay = false;
                                            }, 500)
                                        }

                                        onClick = true;
                                        var $t = $(this);
                                        values = {};
                                        isActive = false;

                                        if($t.hasClass('active-row')) {
                                            /** Odznaczenie aktywnego wiersza */
                                            isActive = false;
                                            $t.removeClass('active-row')
                                        }
                                        else {
                                            /** Zaznaczenie aktywnego wiersza */
                                            isActive = true;
                                            $t.closest('#tool-table').find('tr.active-row').removeClass('active-row');
                                            $t.addClass('active-row');
                                        }

                                        $(this).children('td[data-column]').each(function () {
                                            values[$(this).attr('data-column')] = $(this).attr('data-value');
                                        });

                                        {{ extraData.javascript|parseToolSrc(control.groupProcessId, true)|raw }}

                                    }).on('finish-refresh', function (e) {

                                        if(isDisabledMode) return false;

                                        if(firstLoad) {
                                            firstLoad = false;
                                            return false;
                                        }

                                        /** Aktualizacja attrybutów o to co wpisało się w filtry */
                                        if(e.detail && e.detail.filtersValue && typeof(_this.data('filterMapping')) !== "undefined") {

                                            var filterMapping = _this.data('filterMapping');

                                            $.each(e.detail.filtersValue, function(i, ele){
                                                if(filterMapping.hasOwnProperty([ele.name])) {
                                                    var path = filterMapping[ele.name];

                                                    setAttributeValue(path, ele.value, null, 1);

                                                }
                                            });

                                        }

                                        if(!boxInfo.length) return false;

                                        if(e.detail && e.detail.filters.length && e.detail.count > 1) {

                                            var infoString = 'Filtry po jakich jeszcze nie przeszukiwano: __FILTERS__',
                                                filtersAsString = e.detail.filters.join(', ');

                                            infoString = infoString.replace('__FILTERS__', filtersAsString);

                                            boxInfo.find('p').html(infoString);
                                        }
                                        else {
                                            boxInfo.find('p').html("");
                                        }

                                    });
                                })

                            });
                        }
                        catch (e) {
                            console.error('Błąd w javascript kontrolki: {{ uId }}.', e);
                        }

                    </script>
                {% endif %}

            {%- else %}
                <div class="grid-iframe-wrapper default">IFRAME</div>
            {%- endif -%}
        {% elseif name == "services" %}

            {% set groupProcessId = NULL %}
            {% set processInstanceId = NULL %}

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {% set groupProcessId = control.groupProcessId %}
                {% set processInstanceId = control.processInstanceId %}
            {%- endif -%}

            {% if getPlatformId(groupProcessId) == 58 %}

                <div class="faq-element" data-uid="{{ uId }}">
                    {{ include('@Case/FormTemplate/templates/faq.html.twig') }}
                </div>

                {{ _self.javascriptBlock(extraData, control, uId) }}

            {% else %}
                {{ include('@Case/FormTemplate/templates/services.html.twig', {'isActiveProcess' : isActiveProcess(processInstanceId), 'services' : getServices(processInstanceId, groupProcessId, app.request.locale), 'platform' : getPlatformId(groupProcessId), 'groupProcessId' : groupProcessId, 'groupProcessId': groupProcessId}) }}
            {% endif %}

        {% elseif name == "rsa_costs_verification" %}
            {% set groupProcessId = NULL %}

            {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                {% set label = NULL %}
                {% set groupProcessId = control.groupProcessId %}
                {% set label = control.parsedLabel %}
            {%- endif -%}

            <div class="js-label-text js-visual-element-text hidden">{{ label }}</div>
                {{ include('@Case/FormTemplate/templates/rsa-costs-verification.html.twig', {'report' : generateCostsVerificationReport(groupProcessId, label, app.user)}) }}
        {% elseif name == "matrix" %}
            <div>
                <span class="js-label-text hidden"></span>
                {%- if modeFormGenerator != constant('CaseBundle\\Service\\FormTemplateGenerator::MODE_NONE') -%}
                    {{ include('@Case/FormTemplate/templates/matrix.html.twig', {'groupProcessId': groupProcessId}) }}
                {% else %}
                    <div id="matrix-form">
                        MATRIX
                    </div>
                {% endif %}
            </div>
        {%- else %}
            [PLEASE UPDATE RENDER WIDGET TYPE - {{ name }} ]
        {% endif %}
    {% endspaceless %}
{% endmacro %}

