{% if extraClass is not defined %}
    {% set extraClass = '' %}
{% endif %}
{% if withClose is not defined %}
    {% set withClose = 0 %}
{% endif %}

{% set controlClass = '' %}
{% if control is defined %}
    {% set controlClass = control.customClass %}
{% endif %}

<div class="email-preview-wrapper inbox {{ extraClass }} {{ controlClass }}">
    {% if withClose %}
        <div class="close-inbox"><i class="fa fa-close"></i></div>
    {% endif %}
    <div class="email-preview-inner">
        <div class="inbox-body">
            <div class="loader">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p class="loader-title">Ładowanie e-mail</p>
            </div>
            <div class="inbox-content">
            </div>
        </div>
    </div>
</div>
