<div class="portlet box blue-sharp metronic-portlet">
    <div class="portlet-title">
        <div class="caption">
            Aktywność w panelu operacyjnym
        </div>
        <div class="tools">
            <a href="#" class="reload" id="reload-reservation"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th> #</th>
                    <th> Użytkownik</th>
                    <th> Zadania</th>
                    <th> Liczba połączeń</th>
                </tr>
                </thead>
                <tbody id="body-of-reserved-table">
                </tbody>
            </table>
            <div class="loader" id="reservation-loader" style="position: relative;">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>