<div class="portlet box green-haze metronic-portlet">
    <div class="portlet-title">
        <div class="caption">
            Monitoring dysku
        </div>
        {#<div class="tools">#}
        {#<a href="#" class="reload" id="reload-project-size"> </a>#}
        {#</div>#}
    </div>
    <div class="portlet-body">
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th> #</th>
                    <th> Nazwa</th>
                    <th style="text-align: center"><span class="label label-warning">Zajętość</span> /
                        <span class="label label-primary">Dostępność</span></th>
                </tr>
                </thead>
                <tbody id="body-of-project-size-table">
                </tbody>
            </table>
            <div class="loader" id="project-size-loader" style="position: relative;">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
