<div class="portlet box purple-plum metronic-portlet">
    <div class="portlet-title">
        <div class="caption">
            Panel powiadomień
        </div>
        {#<div class="tools">#}
        {#<a href="#" class="reload" id="reload-reservation"> </a>#}
        {#</div>#}
    </div>
    <div class="portlet-body">
        <div id="atlas-notifications-content">
            <form action="" id="atlas-notification-form" class="form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Rodzaj odbiorcy</label>
                            <div class="mt-radio-list">
                                <label class="mt-radio mt-radio-outline" for="type-receivers-1">
                                    <input type="radio" name="type-receivers"
                                           id="type-receivers-1" value="users" checked>
                                    Użytkownicy
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline" for="type-receivers-2">
                                    <input type="radio" name="type-receivers"
                                           id="type-receivers-2" value="groups"> Grupy
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline" for="type-receivers-3">
                                    <input type="radio" name="type-receivers"
                                           id="type-receivers-3" value="all"> Wszyscy
                                    <span></span>
                                </label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Typ wiadomości</label>
                            <div class="mt-radio-list">
                                <label class="mt-radio mt-radio-outline" for="type-notification-1">
                                    <input type="radio" name="type-notification"
                                           id="type-notification-1" value="info" checked>
                                    <small class="label label-info"> Info</small>
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline" for="type-notification-2">
                                    <input type="radio" name="type-notification"
                                           id="type-notification-2" value="warning">
                                    <small class="label label-warning"> Warning</small>
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline" for="type-notification-3">
                                    <input type="radio" name="type-notification"
                                           id="type-notification-3" value="danger">
                                    <small class="label label-danger"> Danger</small>
                                    <span></span>
                                </label>
                                <label class="mt-radio mt-radio-outline" for="type-notification-4">
                                    <input type="radio" name="type-notification"
                                           id="type-notification-4" value="success">
                                    <small class="label label-success"> Success</small>
                                    <span></span>
                                </label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="timeout">Czas wyświetlania (ms)</label>
                            <div class="input-icon right">
                                <i class="fa fa-clock-o"></i>
                                <input type="number" value="0" name="notification-timeout" id="timeout" class="form-control">
                            </div>
                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline" for="notification-icon">
                                    <input type="checkbox" name="with-icon" id="notification-icon" value="1" checked >
                                    Z ikoną
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 m-t-1">
                            <div class="type-receivers-option" data-type="users">
                                <label for="select-users">Użytkownicy</label>
                                <select multiple name="users[]" id="select-users" class="form-control">
                                </select>
                            </div>
                            <div class="type-receivers-option" data-type="groups">
                                <label for="select-users">Grupy</label>
                                <select multiple name="groups[]" id="select-groups" class="form-control">
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 m-t-1">
                            <label for="notification-content">Treść powiadomienia</label>
                            <textarea class="form-control tinymce-editor" data-theme="atlas_theme" name="notification-content"
                                      id="notification-content" rows="5"></textarea>
                        </div>
                        <br>
                        <div class="col-md-12 m-t-1">
                            <div class="form-actions">
                                <button type="submit" data-style="zoom-in" data-size="s" class="btn blue ladda-button">
                                    <span class="ladda-label">
                                        {#<i class="fa fa-letter"></i>#}
                                        {{ 'inbox.send'|trans|capitalize }}
                                    </span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
