<div class="portlet box yellow-casablanca metronic-portlet">
    <div class="portlet-title">
        <div class="caption">
            Status telefoni
        </div>
        {#<div class="tools">#}
        {#<a href="#" class="reload" id="reload-reservation"> </a>#}
        {#</div>#}
    </div>
    <div class="portlet-body">
        <div id="telephony-status-content">
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-phone"></i>
                <div> TALKING</div>
                <span class="badge badge-primary status-talking"> 0 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-check"></i>
                <div> READY</div>
                <span class="badge badge-success status-ready"> 0 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-pause"></i>
                <div> NOT RAEDY</div>
                <span class="badge badge-danger status-not-ready"> 0 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-user"></i>
                <div> OTHER</div>
                <span class="badge badge-warning status-other"> 0 </span>
            </a>
            <a href="javascript:;" class="icon-btn">
                <i class="fa fa-power-off"></i>
                <div> LOGOUT</div>
                <span class="badge badge-default status-logout"> 0 </span>
            </a>
        </div>
    </div>
</div>
