{% if filtersOfHiddenColumn|length > 0 %}
    <div class="col-xs-12 no-padding text-right">
        <span class="filter-text">{{ 'clear_embed_filters'|trans|desc('Wyczyść filtry')|capitalize }}</span>
        <button class="restoreToDefaults"><i class="fa fa-refresh fa-fw"></i></button>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="no-padding"
             id="filters-div" {% if app.user.personalizationJson['$filter_toggle_tool_' ~ tool.id] is defined and app.user.personalizationJson['$filter_toggle_tool_' ~ tool.id] == "true" %} style="display: block" {% endif %}>
            <form id="atlas_tool_filters" class="form-horizontal" action="" method="GET">
                <div class="row">
                    {% for filter in filtersOfHiddenColumn %}
                    {% for column in table.columns %}

                    {% set css = "" %}
                    {% set styles = stylesArray[column] is defined ? stylesArray[column] : [] %}


                    {% if  filter.columnName == column and filtersForm[column] is defined %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 custom-filter-column no-padding {% if not filter.display %}hidden{% endif %}">
                        <div class="form-group filters-form-group" data-column-name="{{ column }}" style="{{ css }}">
                            {% set headerName = column %}
                            {% for style in styles %}
                                {% if column == style.columnName %}
                                    {% if style.alias %}
                                        {% set headerName = style.alias %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="col-sm-12">
                                <div class="tool-filter clearfix">
                                    {% if filter.type == 'dates' %}
                                    {% if column == filter.columnName and filtersForm[filter.columnName~'--to'] is defined %}
                                        <div class="col-xs-12 flex-container">
                                            <p class="embed-input-name"> {{ headerName }}</p>
                                            {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                            {{ form_widget(filtersForm[filter.columnName]) }}
                                        </div>
                                        <div class="col-xs-12 flex-container">
                                            <p class="embed-input-name"> {{ headerName }}</p>
                                            {{ form_widget(filtersForm[filter.columnName~'--to--op']) }}
                                            {{ form_widget(filtersForm[filter.columnName~'--to']) }}
                                        </div>
                                    {% endif %}
                                    {% elseif filter.type == 'select' or filter.type == 'multiselect' %}
                                        {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
                                            <div class="col-xs-12 flex-container">
                                                {% if filter.pointedColumnName %}
                                                    {{ form_widget(filtersForm[filter.columnName~'--pointed']) }}
                                                {% endif %}
                                                {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                                {{ form_widget(filtersForm[filter.columnName~'']) }}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                    {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
                                    {% if filtersForm[filter.columnName~'--op'] is defined %}
                                    <div class="col-xs-12 embed-tool-hide" {% if filter.type == 'text' %}{% endif %}">
                                    <p class="embed-input-name"> {{ headerName }}</p>
                                    {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                </div>
                                <div class="col-xs-12 flex-container">
                                    <p class="embed-input-name"> {{ headerName }}</p>
                                    {{ form_widget(filtersForm[filter.columnName]) }}
                                </div>
                                {% else %}
                                    <div class="col-xs-12 flex-container">
                                        <p class="embed-input-name"> {{ headerName }}</p>
                                        {{ form_widget(filtersForm[filter.columnName]) }}
                                    </div>
                                {% endif %}
                                {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
        </div>
        </form>
    </div>
    </div>
{% endif %}

