{% if tool.filters and tool.filters|length > 0 %}
    <tr id="filters-row">
        <form id="atlas_tool_filters" action="" method="GET">
            {% if tool.editIdColumn and (is_granted('batchWrite', tool) or is_granted('useActionRow', tool)) %}
                <td class="fit p-x-1">
                    <input type="checkbox" id="batch-edit-all" name="batch-edit-all">
                </td>
            {% endif %}

            {% if tool.subQuery %}
                <td></td>
            {% endif %}
            {% for column in table.columns %}
                {% set css = "" %}
                {% for style in tool.styles %}
                    {% if column == style.columnName %}
                        {% if style.hidden %}
                            {% set css = 'display: none;' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td style="{{ css }}">
                    <div class="tool-filter clearfix">
                        {% for filter in tool.filters %}
                            {% if filter.type == 'dates' %}
                                {% if column == filter.columnName and filtersForm[filter.columnName~'--to'] is defined %}
                                    <div class="col-op-val">
                                        {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                        {{ form_widget(filtersForm[filter.columnName]) }}
                                    </div>
                                    <div class="col-op-val">
                                        {{ form_widget(filtersForm[filter.columnName~'--to--op']) }}
                                        {{ form_widget(filtersForm[filter.columnName~'--to']) }}
                                    </div>
                                {% endif %}
                            {% elseif filter.type == 'select' or filter.type == 'multiselect' %}
                                {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
                                    <div class="col-op-val big">
                                        {% if filter.pointedColumnName %}
                                            {{ form_widget(filtersForm[filter.columnName~'--pointed']) }}
                                        {% endif %}
                                        {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                        {{ form_widget(filtersForm[filter.columnName~'']) }}
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
                                    {% if filtersForm[filter.columnName~'--op'] is defined %}
                                        <div class="col-op {% if filter.type == 'text' %}big{% endif %}">
                                            {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                        </div>
                                        <div class="col-op-val">
                                            {{ form_widget(filtersForm[filter.columnName]) }}
                                        </div>
                                    {% else %}
                                        <div class="col-op-val">
                                            {{ form_widget(filtersForm[filter.columnName]) }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
            {% endfor %}
        </form>
    </tr>
{% endif %}

