{% set monitorMode = app.request.query.get('monitor-mode', 0) %}

{% if errors|length > 0 %}

    {% for type, error in errors %}
        <div class="alert alert-danger fade in">
            <strong><i class="fa fa-exclamation-circle"></i> {{ type }}</strong>
            <br/>
            {{ error }}
        </div>
    {% endfor %}


    <div id="tool-table-container" class="table-responsive">
        <div id="tool-table-query" class="hidden" class="query" data-value="{{ query }}"></div>
    </div>

{% else %}

    {% if embed is defined and embed == true %}
        {% set embed = 1 %}
    {% else %}
        {% set embed = 0 %}
    {% endif %}

    {% if embed %}

        {#{% set filtersOfHiddenColumn = tool.getFiltersOfHiddenColumn(table.columns) %}#}

        {#{% include "ToolBundle:Default/tool/partials:embed-tool-filters-above-table.html.twig" %}#}

    {% else %}
        {% include "ToolBundle:Default/tool/partials:tool-filters-above-table.html.twig" %}
    {% endif %}

    <div id="tool-table-container" class="table-responsive">

        {% set colsWidth = [] %}
        {% set colsTextOverflow = [] %}

        {% if app.user and not embed %}

            {% set toolColWidthName = '$tool_col_width_' ~ tool.id %}

            {% if toolColWidthName in app.user.personalizationJson | keys %}
                {{ tool.setOverrideColWidth(app.user.personalizationJson[toolColWidthName]) }}
            {% endif %}

        {% endif %}

        {% set filters = tool.filters %}

        {% if embed %}
            <form id="atlas_tool_filters" action="" method="GET">
        {% endif %}

        <div class="scroll-box-fixed-head">
            <div class="draggable-wrapper">
            </div>
            <table id="scroll-box-head" class="tool-table table table-striped table-bordered table-vam m-b-0"
                   data-subquery-desc="{{ tool.subqueryDescription }}" data-tool-id="{{ tool.id }}">
                <thead>
                <tr>
                    {% if showOrdinal %}
                        <th class="fit">
                            {{ "LP" | trans }}
                        </th>
                    {% endif %}
                    {% if rowCheckbox and not embed %}
                        <th class="fit p-x-1">
                            <input type="checkbox" id="batch-edit-all" name="batch-edit-all">
                        </th>
                    {% endif %}
                    {% if tool.subQuery %}
                        <th class="fit"></th>
                    {% endif %}
                    {% for column in table.columns %}
                        {% set action = false %}
                        {% set headerName = column %}
                        {% set css = "" %}
                        {% set styles = stylesArray[column] is defined ? stylesArray[column] : [] %}
                        {% set maxWidth = 0 %}
                        {% set tooltip = '' %}

                        {% set indexColumn = loop.index %}

                        {% if rowCheckbox %}
                            {% set indexColumn = indexColumn + 1 %}
                        {% endif %}
                        {% if showOrdinal %}
                            {% set indexColumn = indexColumn + 1 %}
                        {% endif %}

                        {% if column in tool.overrideColWidth | keys %}
                            {% set maxWidth = tool.overrideColWidth[column] %}
                        {% endif %}

                        {% for style in styles %}
                            {% if style.alias %}
                                {% set headerName = style.alias %}
                            {% endif %}
                            {% if style.tooltip %}
                                {% set tooltip = style.tooltip %}
                            {% endif %}
                            {% if style.hidden %}
                                {% set css = 'display: none;' %}
                            {% endif %}
                            {% if style.action %}
                                {% set action = true %}
                            {% endif %}

                            {% if style.maxWidth %}
                                {% if not maxWidth %}
                                    {% set maxWidth = style.maxWidth %}
                                {% endif %}

                            {% endif %}

                            {% if style.textOverflowHidden %}
                                {% set colsTextOverflow = [indexColumn] | merge(colsTextOverflow) %}
                            {% endif %}
                        {% endfor %}

                        {% if maxWidth %}
                            {% set colsWidth = [{'width': maxWidth, 'i': indexColumn}] | merge(colsWidth) %}
                        {% endif %}

                        {% if maxWidth %}
                        <th title="{{ headerName }}" class="overflow-td {% if action %}fit{% endif %} with-limit-width"
                            style="{{ css }};" data-column-name="{{ column }}">
                        {% else %}
                            <th {% if action %}class="fit"{% endif %} style="{{ css }}" data-column-name="{{ column }}">
                        {% endif %}

                        {% if embed %}
                            <p class="header-name">
                                {% if tooltip %}
                                    <a href="#" data-toggle="tooltip" title="{{ tooltip }}">
                                {% endif %}
                                {{ headerName }}
                                {% if tooltip %}
                                    </a>
                                {% endif %}
                                {% if not action %}
                                    <a class="change-order" tabindex="-1"
                                       data-column="{{ column }}" data-order="">
                                        <i class="fa fa-sort"></i></a>
                                {% endif %}
                            </p>

                            <div class="header-filters {{ (monitorMode == 1) ? "hidden" : "" }}">

                                {% set filtersOfColumn = tool.getFiltersOfColumn(column) %}

                                {% for filter in filtersOfColumn %}
                                    <div class="header-filter-box row">

                                        {{ include('@Tool/Default/tool/partials/tool-filters-in-header.html.twig', {filter: filter, column: column}) }}

                                    </div>
                                {% endfor %}

                            </div>

                        {% else %}
                            {% if tooltip %}
                                <a href="#" data-toggle="tooltip" title="{{ tooltip }}">
                            {% endif %}
                            {{ headerName }}
                            {% if tooltip %}
                                </a>
                            {% endif %}

                            <p class="active-filters">
                                <span></span>
                                <span data-filter-column="{{ column }}"></span>
                            </p>
                            {% if not action %}
                                <a class="change-order" tabindex="-1"
                                   data-column="{{ column }}" data-order="">
                                    <i class="fa fa-sort"></i></a>
                            {% endif %}
                        {% endif %}

                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {# wiersz z filtrami #}
                {#{% include "ToolBundle:Default/tool/partials:tool-filters.html.twig" %}#}
                </tbody>
            </table>
        </div>
        {% if embed %}
            </form>
        {% endif %}

        <div id="tool-table-box" class="scroll-box-table" data-target="#scroll-box-head">
            <table id="tool-table" class="tool-table table table-striped table-bordered table-vam m-b-0"
                   data-subquery-desc="{{ tool.subqueryDescription }}"
                   data-tool-id="{{ tool.id }}">
                <thead>
                <tr>
                    {% if showOrdinal %}
                        <th class="fit">
                            {{ "LP" | trans }}
                        </th>
                    {% endif %}
                    {% if rowCheckbox and not embed %}
                        <th class="fit">

                        </th>
                    {% endif %}
                    {% if tool.subQuery %}
                        <th class="fit">
                        </th>
                    {% endif %}
                    {% for column in table.columns %}
                        {% set action = false %}
                        {% set headerName = column %}
                        {% set css = "" %}
                        {% set styles = stylesArray[column] is defined ? stylesArray[column] : [] %}
                        {% set maxWidth = 0 %}
                        {% set tooltip = '' %}

                    {% for style in styles %}
                        {% if style.alias %}
                            {% set headerName = style.alias %}
                        {% endif %}
                        {% if style.tooltip %}
                            {% set tooltip = style.tooltip %}
                        {% endif %}
                        {% if style.hidden %}
                            {% set css = 'display: none;' %}
                        {% endif %}
                        {% if style.action %}
                            {% set action = true %}
                        {% endif %}
                        {% if style.maxWidth %}
                            {% set maxWidth = style.maxWidth %}
                        {% endif %}
                    {% endfor %}

                    <th {% if action %}class="fit {% if maxWidth %}with-limit-width{% endif %}"{% endif %}
                        style="{{ css }}">

                        {% if tooltip %}
                            <a href="#" data-toggle="tooltip" title="{{ tooltip }}">
                        {% endif %}
                        {{ headerName }}
                        {% if tooltip %}
                            </a>
                        {% endif %}
                        {% if not embed %}
                            <p class="active-filters">
                                <span></span>
                                <span data-filter-column="{{ column }}"></span>
                            </p>
                        {% endif %}
                    </th>

                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <style>

                {% if tool.heightOfRow %}
                    #tool-table > tbody > tr > td {
                        height: {{ tool.heightOfRow }}px
                    }
                {% endif %}

                {% if colsTextOverflow | length > 0 %}
                    {% for index in colsTextOverflow %}
                        #tool-table > tbody > tr > td:nth-of-type({{ index}})
                        {% if not loop.last %},{% endif %}
                    {% endfor %} {
                            overflow: hidden;
                            text-overflow: ellipsis;
                    }
                {% endif %}

                {% for column in colsWidth %}
                    #tool-table > tbody > tr > td:nth-of-type({{ column.i }}),
                    #tool-table > thead > tr > th:nth-of-type({{ column.i }}),
                    #scroll-box-head > thead > tr > th:nth-of-type({{ column.i }}) {
                        min-width: {{ column.width }}px;
                        width: {{ column.width }}px;
                        max-width: {{ column.width }}px;
                    }
                {% endfor %}

            </style>
        </div>
    </div>

{% endif %}
