<div class="custom-filter-column {% if not filter.display %}hidden{% endif %}" data-column-alias-name="{{ headerName }}">

    {% if filter.type == 'dates' %}

        {% if column == filter.columnName and filtersForm[filter.columnName~'--to'] is defined %}
            <div class="col-xs-6 p-r-1px">
                {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                {{ form_widget(filtersForm[filter.columnName]) }}
            </div>
            <div class="col-xs-6 p-l-0">
                {{ form_widget(filtersForm[filter.columnName~'--to--op']) }}
                {{ form_widget(filtersForm[filter.columnName~'--to']) }}
            </div>
        {% endif %}

    {% elseif filter.type == 'select' or filter.type == 'multiselect' %}
        {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
            <div class="col-xs-12">
                {% if filter.pointedColumnName %}
                    {{ form_widget(filtersForm[filter.columnName~'--pointed']) }}
                {% endif %}
                {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                {{ form_widget(filtersForm[filter.columnName~'']) }}
            </div>
        {% endif %}
    {% else %}
        {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
            {% if filtersForm[filter.columnName~'--op'] is defined %}
                <div class="col-xs-6 col-md-12 embed-tool-hide" {% if filter.type == 'text' %}{% endif %}>
                    {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                </div>
                <div class="col-md-12">
                    {{ form_widget(filtersForm[filter.columnName]) }}
                </div>
            {% else %}
                <div class="col-md-12">
                    {{ form_widget(filtersForm[filter.columnName]) }}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
