<script>"use strict";

    window.$ajaxUsing = false;
    var $spinnerOfTool = null,
        $filtersDiv = null,
        $toolTableContainer = null,
        $toolTableBody,
        toolTableInfinity = null,
        isEmbed = false,
        xhrRefresh = null;

    var MODE_ADMIN = {{ is_granted('ROLE_ADMIN') or is_granted('ROLE_ANALYST') ? 'true' : 'false' }};

    var LIVE_REPORT = {{ tool.liveReport ? '1' : '0' }};

    var toolEntity = {
        'paginationLimit': {{ (tool.paginationLimit) ? tool.paginationLimit : 'null' }}
    };

    $(function () {

        var $body = $('body');

        $toolTableBody = $('#tool-table tbody');

        isEmbed = ($body.find("> .embed-tool").length);

        /** Dla embeded tool filtry są w nagłówkach tabeli */
        $filtersDiv = (isEmbed) ? $('#scroll-box-head') : $("#filters-div");

        $('#atlas_tool_filters').on('submit', function (e) {
            e.preventDefault()
        });

        $toolTableContainer = $('#tool-table-container');

        loaderToolHandle();

        $(window).on('fix-scroll-table', function () {
            if (typeof fixToolTableHandle == "function") {
                fixToolTableHandle();
            }
        });

        $toolTableContainer.find('[data-toggle="tooltip"]').tooltip({
            html: true,
            placement: 'bottom',
            container: '#tool-table-container'
        });

        // renderowanie podzapytania w formie tabeli
        $('.tool-table').on('click', '.subquery-toggle a', function () {

            // var subquery = $(this).closest('.tool-table').attr('data-subquery'),
            var currentToggle = $(this),
                currentRow = $(this).closest('tr'),
                rowId = $(this).attr('id');

            if (currentToggle.hasClass('active')) {
                $('tr#sub-' + rowId).addClass('hidden');
                currentToggle.find('i.fa').toggleClass('fa-plus').toggleClass('fa-minus')
            }
            else {
                if (currentRow.hasClass('queried')) {
                    $('tr#sub-' + rowId).removeClass('hidden');
                    currentToggle.find('i.fa').toggleClass('fa-plus').toggleClass('fa-minus');
                }
                else {

                    // subquery = updateQueryWithParams(subquery, currentRow);

                    var params = getParamsOfRow(currentRow);

                    $spinnerOfTool.trigger('spinner-on');

                    $.post('{{ path('tool_show_subquery', {'toolId' : tool.id}) }}', {'params': params}, function (response) {

                        var result = response.results,
                            parsedQuery = response.query,
                            description = '',
                            output = '';

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ANALYST') %}
                            description = renderAdminDebug(parsedQuery);
                        {% endif %}

                        if (!result || result.length == 0) {
                            output = description + '<div class="alert alert-default p-y-0 fade in">' +
                                '<strong><i class="fa fa-info-circle"></i>' +
                                '</strong> {{ 'no_results'|trans|desc('brak rezultatów')|capitalize }}</div>';
                        }
                        else {

                            var tbl_body = document.createElement("tbody");
                            var tbl_row = tbl_body.insertRow();

                            // NAGŁÓWEK TABELI
                            $.each(result[0], function (k, v) {
                                var th = document.createElement('th');
                                th.innerHTML = k.toString();
                                tbl_row.appendChild(th);
                            });

                            // REZULTATY

                            var odd_even = false;
                            $.each(result, function () {

                                var tbl_row = tbl_body.insertRow();
                                tbl_row.className = odd_even ? "odd" : "even";

                                $.each(this, function (k, v) {

                                    var cell = tbl_row.insertCell();
                                    var text = v !== null ? v.toString() : '';

                                    if (text.indexOf('data-format="html"') !== -1) {
                                        cell.insertAdjacentHTML('beforeend', text);
                                    }
                                    else {
                                        cell.appendChild(document.createTextNode(text));
                                    }

                                });

                                odd_even = !odd_even;
                            });

                            output = description + '<table class="table table-dotted subquery-table">' + $(tbl_body).get(0).innerHTML + '</table>';
                        }

                        currentRow.after('<tr id="sub-' + rowId + '">' +
                            '<td class="subquery-result" colspan="' + currentRow.find('td').length + '">' + output + '</td></tr>');
                        //}
                        currentRow.addClass('queried');
                        currentToggle.find('i.fa').toggleClass('fa-plus').toggleClass('fa-minus');
                        $(window).trigger('fix-scroll-table');
                        $spinnerOfTool.trigger('spinner-off');

                    });
                }
            }

            currentToggle.toggleClass('active');
            return false;
        });

        var $toolTable = $('#tool-table'),
            toolId = $toolTable.data('tool-id');

        // reakcja na wprowadzanie liter w input + onchange selectów
        bindFilterEvents();

        // sortowanie po kolumnie
        $('.change-order').on('click', function () {
            var orderDirection = $(this).attr('data-order');
            var icon = '';
            if (orderDirection == '') {
                orderDirection = 'ASC';
                icon = 'fa-sort-up';
            }
            else if (orderDirection == 'ASC') {
                orderDirection = 'DESC';
                icon = 'fa-sort-down';
            }
            else {
                orderDirection = '';
                icon = 'fa-sort';
            }
            $(this).attr('data-order', orderDirection);
            $(this).find('i').removeClass('fa-sort fa-sort-up fa-sort-down').addClass(icon);
            refreshView();
        });

        $('#set-filters-set').on('submit', function (e) {
            e.preventDefault();

            // ustawienie aktualnych filtrów pod zmienną formularza
            var queryString = window.location.hash;
            $('#atlas_tool_user_filter_set_filtersString').val(queryString);

            $.ajax({
                type: $(this).attr('method'),
                url: '{{ path('tool_filter_set_save', {'toolId' : tool.id}) }}',
                data: $('#set-filters-set').serialize()
            }).done(function (data) {
                $('#filter-set-save-modal').modal('hide');
            });

            return false;
        });

        //ładowanie filtrów użytkownika
        $('#user-filter-sets').on('click', function () {
            $.get('{{ path('user_filter_sets', {'toolId' : tool.id }) }}', null, function (response) {
                var modal = $('#filter-sets-modal');
                modal.find('.modal-body').html(response);
                modal.modal('show');
            });
            return false
        });

        var $batchEditTool = $('#batch-edit-tool-data');

        // zaznaczanie wierszy
        $body.on('click', '.batchwrite:checkbox', function () {
            if ($('.batchwrite:checkbox:checked').length > 0) {
                $batchEditTool.removeClass('disabled');
                $('.tool-action.for-selected-rows').removeClass('disabled');
            }
            else {
                $batchEditTool.addClass('disabled');
                $('.tool-action.for-selected-rows').addClass('disabled');
            }
        });

        $body.on('click', '#batch-edit-all', function () {
            if ($(this).is(':checked')) {
                $('.batchwrite:checkbox').prop('checked', true);
                $batchEditTool.removeClass('disabled');
                $('.tool-action.for-selected-rows').removeClass('disabled');
            }
            else {
                $('.batchwrite:checkbox').prop('checked', false);
                $batchEditTool.addClass('disabled');
                $('.tool-action.for-selected-rows').addClass('disabled');
            }
        });

        //załadowanie wybranego filtra
        $body.on('click', '.available-filters-list a', function () {
            var filterString = $(this).attr('data-string');
            $('#filter-sets-modal').modal('hide');
            updateUrlWithFilters(filterString, true);
            return false;
        });

        //wywołanie zapytania o rezultaty po załadowaniu strony
        if (window.location.hash != '')
            refreshView(window.location.hash);
        else
            refreshView();

        $body.on('click', 'td a.update-tool, #add-new-tool-data, #batch-edit-tool-data', function () {

            $('#tool-edit-modal .modal-body').html('');
            var urlHash = window.location.hash;
            var toolId = $(this).attr('data-tool-id');
            var toolName = $(this).attr('data-tool-name');
            var data = {};
            var id = $(this).attr('id');
            var route = "{{ path('tool_data_editor', {'toolId' : 'TOOL_ID_PLACEHOLDER'}) }}";
            var rowId = '';
            var properties = {};

            if (id == 'batch-edit-tool-data') {
                var checkedRows = $('.batchwrite:checkbox:checked');
                if (checkedRows.length > 0) {
                    route = "{{ path('tool_data_editor', {'toolId' : 'TOOL_ID_PLACEHOLDER',  'rowId' : 'ROW_ID_PLACEHOLDER', 'batch' : true}) }}";
                    rowId = [];
                    checkedRows.each(function () {
                        rowId.push($(this).attr('data-id'));
                    });
                    route = route.replace("ROW_ID_PLACEHOLDER", rowId);
                }
            }
            else {
                if (id != 'add-new-tool-data') {
                    var rowId = $(this).attr('data-row-id');
                    route = "{{ path('tool_data_editor', {'toolId' : 'TOOL_ID_PLACEHOLDER', 'rowId' : 'ROW_ID_PLACEHOLDER'}) }}";
                    route = (rowId) ? route.replace("ROW_ID_PLACEHOLDER", rowId) : route.replace("/ROW_ID_PLACEHOLDER", rowId);
                }

                properties['autoComplete'] = true;
            }

            if (window.location.hash) {
                var params = $.parseParams(urlHash.replace('#', ''));
                data['params'] = params;
            }
            else {
                data['params'] = [];
            }

            $(this).parent('td').siblings('td').each(function () {
                var tdColumn = $(this).attr('data-column'),
                    dataVal = $(this).attr('data-value');

                if (tdColumn && tdColumn !== "undefined" && dataVal) {
                    data['params'][tdColumn] = dataVal;
                }
            });

            route = route.replace("TOOL_ID_PLACEHOLDER", toolId);
            var windowType = $(this).attr('edit-type');
            if (windowType != 'modal') {

                var redirect = windowType == 'page' ? window.location.href : 0;
                OpenInNewTab(route + '?' + $.param({
                    'params': params,
                    'windowType': windowType,
                    'redirect': redirect
                }), windowType);

                return false;
            }

            data['is-embed-tool'] = ($('.embed-tool').length > 0) ? 1 : 0;
            properties['data'] = data;

            // Fix 21.05.2019 - nie wysyłamy wszystkich danych, bo był błąd 401. Za długi URL.
            // Fix 17.06.2019
            var routeData = Object.assign({}, data);
            var availableFilters = getAvailableFilters();

            $.each(routeData.params, function(i) {

                if(availableFilters.indexOf(i) === -1) {
                    delete(routeData.params[i]);
                }
                else {
                    if(routeData.params[i].length > 100) {
                        routeData.params[i] = routeData.params[i].substring(0, 100)
                    }
                }

            });

            $.get(route, routeData , function (response) {
                handleToolDataEditForm(response, properties);
            });

            $('#tool-edit-modal .tool-name').html(toolName);

            if ($('#first-title').html()) {
                $('#tool-edit-modal .modal-label').html($('#first-title').html());
            }
            $('#tool-edit-modal').modal();

            return false;
        });

        $body.on('click', '#cancel-edit-data', function () {
            $('#tool-edit-modal').modal('hide');
            return false;
        });

        $body.on('click', '#admin-debug-toggle', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.query-debug').hide();
            }
            else {
                $(this).addClass('active');
                $('.query-debug').show();
            }
            $(window).trigger('fix-scroll-table');
            return false;
        });

        $body.on('click', '#description-toggle', function () {
            $(this).toggleClass('active');
            $('#tool-helper').toggleClass('hidden');
            $(window).trigger('fix-scroll-table');
            return false;
        });

        exportToolHandle();
        filterDivHandle();

        if (typeof tinyMCEHandle == "function") {
            tinyMCEHandle();
        }

        tableHeaderFixedHandle();

        funResizeHandle.addFunction('fixToolTableHandle', fixToolTableHandle, true);
        windowResizeHandle();

        $('#generate-iframe-src').on('click', function (e) {
                e.preventDefault();
                var url = Routing.generate('tool_show_embed', {toolId: ToolObj.id}) + '?' + window.location.hash.replace('#', '');

                if (url.indexOf('hash=') !== -1) {
                    url = url.slice(0, (url.indexOf('hash=') - 1));
                }

                var clipboard = new Clipboard('#src-clipboard');

                clipboard.on('success', function (e) {
                    $('#src-clipboard').tooltip({trigger: 'manual'}).tooltip('show');
                    setTimeout(function () {
                        $('#src-clipboard').tooltip('hide');
                    }, 1000);
                });

                $('#iframe-src-modal #generated-src').val(url);
                $('#iframe-src-modal').modal();
                return false;
            }
        );

        restoreDefaultFiltersHandle();

        $(window).on('refresh-tool', function (e) {
            refreshView(null, null, true);
        });

    });

    /*
        Pobranie parametrów z ROWsetu, i dodatkowo ucięcie dłuższych wartości niż 100 znaków.
     */
    function getParamsOfRow($tr) {

        var data = {};

        $tr.find('td').each(function () {
            var tdColumn = this.getAttribute('data-column'),
                dataVal = this.getAttribute('data-value');

            if (tdColumn && tdColumn !== "undefined" && dataVal) {

                if(dataVal.length > 100) {
                    dataVal = dataVal.substring(0, 100)
                }

                data[tdColumn] = dataVal;

            }
        });

        return data;

    }

    function getAvailableFilters() {

        if(isEmbed) {
            return $('#scroll-box-head thead tr:first-child th[data-column-name]').map(function(i, ele) {
                return ele.getAttribute('data-column-name');
            }).toArray();
        }
        else {
            return $('.filters-form-group[data-column-name]').map(function(i, ele) {
                return ele.getAttribute('data-column-name');
            }).toArray();
        }

    }

    function tableHeaderFixedHandle() {

        var delayScroll = null;

        $.each($('.scroll-box-table'), function () {

            $(this).on('click', '.column a', function (e) {
                if (!$(this).is('[target]') && !$(this).hasClass('update-tool')) {
                    e.preventDefault();

                    forceReload($(this));
                }
            })

        }).on('scroll', function (e) {
            var left = e.currentTarget.scrollLeft,
                $t = $(this);

            $($t.data('target')).parent().scrollLeft(left);

            if (delayScroll) {
                clearTimeout(delayScroll);
                delayScroll = null;
            }

            delayScroll = setTimeout(function () {
                $t.trigger('scroll');
            }, 1000);
        });

    }

    function InitTinyMce() {
        initTinyMCE();
    }

    function filterDivHandle() {

        $('.filter-toggle').on('click', function (e) {
            e.preventDefault();

            var $t = $(this);

            if ($t.hasClass('active')) {
                $t.removeClass('active');
                $filtersDiv.hide()
            }
            else {
                $t.addClass('active');
                $filtersDiv.show();
            }

            delayedCallback(function () {
                $(window).trigger('fix-scroll-table');
            }, 300)

        });

        $filtersDiv.on('mouseenter', '.form-group', function (e) {
            $toolTableContainer.find('th[data-column-name="' + $(this).attr('data-column-name') + '"]').addClass('focus-target');
        }).on('mouseleave', '.form-group', function (e) {
            $toolTableContainer.find('th[data-column-name="' + $(this).attr('data-column-name') + '"]').removeClass('focus-target');
        })
    }

    function setRelatedField(data) {
        window.getUsing = true;
        for (fieldNumber in data) {
            {

                var fieldToChange = $('[data-relatedfield ="' + fieldNumber + '"');
                fieldToChange = fieldToChange.find('select')[0];
                var options = [];
                var selected = false;
                for (iterator in data[fieldNumber]) {
                    options.push({
                        id: data[fieldNumber][iterator].id,
                        text: data[fieldNumber][iterator].name
                    });
                    if (data[fieldNumber][iterator].selected !== undefined) {
                        selected = data[fieldNumber][iterator].selected
                    }
                }

                $(fieldToChange).empty().trigger("change");

                $(fieldToChange).select2({
                    data: options
                });

                if (selected) {
                    $(fieldToChange).val(selected).trigger('change');
                }

            }
        }
    }

    function sendForm($toolEditorForm, serializedData) {
        window.$ajaxUsing = true;
        var deff = new $.Deferred();
        var uri = $toolEditorForm.attr('action');
        if (uri.indexOf("?") > 0) {
            uri = uri.substring(0, uri.indexOf("?"));
        }


        $.ajax({
            url: uri,
            type: $toolEditorForm.attr('method'),
            data: serializedData,
            success: function (html) {
                return deff.resolve(html)
            },
            error: function (html) {
                return deff.reject(html)
            }
        });
        return deff.promise();
    }


    function handleToolDataEditForm(response, properties) {

        properties = properties || {};

        if (response.title) {
            $('#first-title').html($('#tool-edit-modal .modal-label').html());
            $('#tool-edit-modal .modal-label').html(response.title);
        } else {
            $('#tool-edit-modal .tool-name').html($(this).attr('data-tool-name'));
        }

        var $toolEditModal = $('#tool-edit-modal');
        $toolEditModal.find('.modal-body').html(response.html);

        var $toolEditorForm = $('#tool-editor-form'),
            $relatedFields = $toolEditModal.find("[data-relatedfield]"),
            usingAjax = false;

        // Dynamiczne odświeżanie kontrolek na formularzu
        if ($relatedFields.length) {

            $($toolEditModal).on('select2:select', 'select:not(.dontlook)', function () {

                if (!usingAjax) {

                    usingAjax = true;
                    var serializedData = $toolEditorForm.serializeArray();

                    serializedData.push({
                        name: 'relatedField',
                        value: 1
                    });

                    sendForm($toolEditorForm, serializedData).done(function (html) {

                        $($toolEditorForm).find('#tool-editor-form-fields').replaceWith(
                            $(html).find('#tool-editor-form-fields')
                        );
                        afterAppendControlsToEditForm($toolEditModal, $toolEditorForm, properties);
                        usingAjax = false;

                    });
                }
            });
        }

        afterAppendControlsToEditForm($toolEditModal, $toolEditorForm, properties);

        $toolEditModal.find('#remove-confirmation').confirmation({
            btnOkClass: 'btn-success',
            btnOkIcon: 'icon-check',
            btnOkLabel: 'Tak',
            btnCancelClass: 'btn-danger',
            btnCancelIcon: 'icon-close',
            btnCancelLabel: 'Nie',
            title: 'Czy na pewno usunąć',
            onConfirm: function () {
                var deleteUrl = $toolEditModal.find('#remove-confirmation').attr('data-url');
                $.get(deleteUrl, null, function (response) {
                    if (response.error != undefined && response.error != false) {
                        alert(response.error);
                    }
                    else {
                        $toolEditModal.modal('hide');
                        displayEditQuery(response);
                        refreshView(window.location.hash);
                    }
                });
            }
        });

        $toolEditorForm.on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData($(this)[0]),
                postProcessUrl = $('#tool-editor-form').attr('action'),
                l = Ladda.create($(this).find('[type="submit"]')[0]);

            l.start();

            $.ajax({
                url: postProcessUrl,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.error != undefined && response.error != false) {
                        alert(response.error);
                    } else if (response.validation != undefined) {
                        $('#edit-form-errors').html('<ul class="alert alert-danger"></ul>');
                        for (var i in response.validation) {
                            $('#edit-form-errors ul').html(i + ' - ' + response.validation[i]);
                        }
                    }
                    else {
                        $toolEditModal.modal('hide');
                        $toolEditModal.find('.modal-body').html('');
                        $('.tool-table :checkbox').prop('checked', false);
                        $('#batch-edit-tool-data').addClass('disabled');
                        displayEditQuery(response);
                        refreshView(window.location.hash);
                    }
                },
                complete: function () {
                    l.stop();
                }
            });
        });


    }

    function afterAppendControlsToEditForm($toolEditModal, $toolEditorForm, properties) {

        if (typeof fileAdvancedUpload !== 'undefined') {
            fileAdvancedUpload.refreshInit();
        }

        $toolEditorForm.find('.select2').select2();
        $toolEditorForm.find('.select2-deselect').select2({
            allowClear: true,
            placeholder: ''
        });

        $toolEditorForm.find('.date-picker').datepicker(datePickerOptions);
        $toolEditorForm.find('.date-time-picker').datepicker(dateTimePickerOptions);

        $toolEditModal.find('.atlas-custom-required:not([disabled*=disabled]):not([type=hidden])').each(function () {
            var $t = $(this);

            if ($t.val() != '') {
                $t.prev().addClass('custom-required');
            }

            $t.on('change', function () {

                var $this = $(this);

                if ($this.val() != '') {
                    $this.removeClass('red-border').prev().removeClass('custom-required');
                } else {
                    $this.addClass('red-border').prev().addClass('custom-required');
                }

                if ($this.is("select")) {

                    if ($this.val() === null || $this.val() === "") {
                        $this.next().find('.select2-selection').addClass('red-border').closest('.custom-required').addClass('custom-required');
                        $this.prev().addClass('custom-required');
                    }
                    else {
                        $this.next().find('.select2-selection').removeClass('red-border');
                        $this.prev().removeClass('custom-required');
                    }
                }

                if ($this.attr('type') == 'file') {
                    if ($this.val() == '') {
                        $this.parent().prev().addClass('custom-required');
                    } else {
                        $this.parent().prev().removeClass('custom-required');
                    }
                }

                if ($this.is(".date-time-picker")) {
                    if ($this.val() != '') {
                        $this.removeClass('red-border').prev().removeClass('custom-required');
                    } else {
                        $this.addClass('red-border').prev().addClass('custom-required');
                    }
                }
            })
        });

        if (properties.autoComplete) {
            /** Dodanie ikonki do autocomplete input */

            var btn = '<button type="button" data-column-name="__COLUMN__" class="auto-complete-tool-form btn btn-info"><i class="fa fa-refresh" aria-hidden="true"></i></button>';

            $.each($('.form-group [data-autocomplete-column]'), function (i, ele) {
                $(ele).append(btn.replace('__COLUMN__', $(ele).attr('data-autocomplete-column')));
            });

            /** Akcja autocomplete formularza */

            $('.auto-complete-tool-form').on('click', function (e) {

                e.preventDefault();

                $(this).prop('disabled', true);

                var $form = $('#tool-editor-form');

                var formData = new FormData($form[0]),
                    postProcessUrl = $form.attr('action'),
                    l = Ladda.create($form.find('[type="submit"]')[0]);

                var urlPost = postProcessUrl + ((/\?/.test(postProcessUrl)) ? "&" : "?") + "autocomplete-form=1";

                $.ajax({
                    url: urlPost,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.error == false) {

                            var data = (properties.data) ? properties : {},
                                url = postProcessUrl;

                            if (!formData.get('id')) url = url.replace('tools/edit-data/' + response.tool_id, 'tools/edit-data/' + response.tool_id + '/' + response.row_id);

                            $.get(url, {}, function (response) {
                                handleToolDataEditForm(response, properties);
                            });

                        }

                    },
                    always: function () {
                        l.stop();
                        $(this).prop('disabled', false);
                    }
                });

            });
        }

        refreshDatePicker($toolEditorForm);
        dependentWatchInputs();
        checkEllipsis();
    }

    function updateUrlWithFilters(filterString, reload, hash) {
        var reload = reload || false;
        var hash = $('#tool-table-query').attr('data-hash');

        if (hash !== undefined)
            filterString = filterString.replace(/&?hash=([^&]$|[^&]*)/i, "") + '&hash=' + hash;

        window.location.hash = filterString;
        $(window).trigger('refreshLastTool');

        if (reload) {
            history.pushState("", document.title, window.location.pathname);
            window.location.hash = filterString;
            refreshView(filterString);
        }
    }

    function refreshFiltersForm(data) {

        unbindFilterEvents();

        $('.tool-filter input:not(.readonly)').removeAttr('readonly');

        // UWAGA: PONIŻSZA LINIA PSUŁA DOMYŚLNE OPERATORY FILTRÓW ZAKRESU DAT
        // $('.tool-filter input').val("");

        $('.tool-filter select').each(function () {
            $(this).val($(this).find('option:first').val());
        });

        $filtersDiv.find('.select2-deselect').select2('val', '', true);

        bindFilterEvents();

        var params = $.parseParams(data);

        $.each(params, function (key, value) {
            if (key.indexOf('[]') >= 0) {
                key = key.replace('[]', '');
                $('#' + key).val(value).trigger('change');
            }
            else {
                $('#' + key).val(value);
            }
        });

        $filtersDiv.find('.select2-deselect').trigger('change');

        refreshThFilters(data);
        refreshDatePicker();
    }

    function refreshThFilters(data) {
        var params = $.parseParams(data);

        $('.active-filters span').text('');

        $.each(params, function (key, value) {

            if (key.indexOf('[]') >= 0) {
                key = key.replace('[]', '');
            }

            var ele = $('.active-filters [data-filter-column="' + key + '"]');

            if (value) {
                ele.text(value);
                if (params[key + '--op'] !== 'undefined' && params[key + '--op']) {
                    ele.prev().text(params[key + '--op']);
                }
                else {
                    ele.prev().text('=');
                }
            }
        });
    }

    function refreshView(data, page, noLoader) {
        var data = data || false;
        var page = page || 1;

        if (typeof noLoader === "undefined") noLoader = false;

        if (!noLoader) {
            $spinnerOfTool[0].style.display = 'block';
        }

        if (!data) {
            // warunek dla danych z searchString'a

            // serializacja formularza bez pustych wartości : .replace(/[^&]+=&/g, '').replace(/&[^&]+=$/g, '')
            data = $('#atlas_tool_filters').serialize();
            $('.change-order[data-order!=""]').each(function () {
                var key = $(this).attr('data-column') + '--order';
                var value = $(this).attr('data-order');
                data = data + '&' + key + '=' + value;
            });

            refreshThFilters(data);
        }
        else {
            // warunek dla danych z hashString'a
            data = data.replace('#', '');
            refreshFiltersForm(data);
        }

        if (xhrRefresh !== null) {
            xhrRefresh.abort();
        }

        xhrRefresh = $.ajax({
            url: window.location.pathname + '/1',
            data: data,
            type: 'GET',
            headers: {'Pagination-Page': page},
            success: function (response) {

                if ($toolTableBody.length === 0) {
                    $spinnerOfTool[0].style.display = 'none';
                    redrawAdminDebug(response.query);
                    return false;
                }

                $toolTableBody[0].innerHTML = response.view;

                if (toolEntity.paginationLimit) {

                    if (response.loadedRowCount === toolEntity.paginationLimit) {

                        if (toolTableInfinity === null) {

                            toolTableInfinity = handleInitTableInfinityScroll($('.scroll-box-table'), {
                                url: window.location.pathname + '/1',
                                data: data,
                                perPage: toolEntity.paginationLimit
                            }, function (res) {

                                if (!res) return false;

                                if (res.loadedRowCount !== 0) {
                                    $toolTableBody.append(res.view);
                                }

                                redrawAdminDebug(res.query);

                            }).checkScroll(response.loadedRowCount);

                        }
                        else {
                            toolTableInfinity.reset({
                                url: window.location.pathname + '/1',
                                data: data
                            }).checkScroll(response.loadedRowCount);
                        }

                    }
                    else if (toolTableInfinity !== null) {
                        toolTableInfinity.destroy();
                    }
                }

                if (response.totalRowCount && $('#tool-row-count').length > 0) {
                    $('#tool-row-count span').text(response.totalRowCount);
                }

                setTimeout(function () {
                    /** calucalate table height */
                    $(window).trigger('fix-scroll-table');

                    /** update last_tool in LocaleStorage (tool_history) */
                    $(window).trigger('refreshLastTool');

                }, 10);

                if (isEmbed) {
                    var countRows = $toolTableBody.find('> tr').length;

                    var emptyFilters = [],
                        filtersValue = [];

                    $.each($('#atlas_tool_filters').serializeArray(), function (i, ele) {
                        if (ele.name.indexOf('--op') === -1) {
                            filtersValue.push(ele);
                            if (ele.value === "" || ele.value === null || ele.value === "undefined") {
                                var $target = $('.header-filters input[name="' + ele.name + '"]');
                                emptyFilters.push($target.closest('[data-column-alias-name]').attr('data-column-alias-name'));
                            }
                        }
                    });

                    var detail = {
                        count: countRows,
                        filters: emptyFilters,
                        filtersValue: filtersValue
                    };

                    var event = new CustomEvent("finish-refresh", {"detail": detail});
                    $('#tool-table')[0].dispatchEvent(event);
                }

                var $toolTable = $('#tool-table')

                //update url
                updateUrlWithFilters(data);

                /** This replace " $spinnerOfTool.trigger('spinner-off');"  for boost speed */
                $spinnerOfTool[0].style.display = 'none';

                //admin debug query
                redrawAdminDebug(response.query);

                handleToolActions();
                handleDocumentLinks();

                // remove links and checkboxes
                if ($('#tool-table').parents('.embed-tool').length > 0) {
                    $('.embed-tool .batchwrite-cell').remove();
                    $('.embed-tool td.column > a').replaceWith(function () {
                        return $.text([this]);
                    });
                }

            }
        });
    }

    function redrawAdminDebug(debugQuery) {
        if (MODE_ADMIN) {
            $('#admin-query-debug').remove();
            var $divPlacement = $filtersDiv.length > 0 ? $filtersDiv : $toolTableContainer;
            $divPlacement.before(renderAdminDebug(debugQuery, 'admin-query-debug'));
        }
    }

    function unbindFilterEvents() {
        $filtersDiv.find('input').unbind('keyup');
        $filtersDiv.find('select').unbind('change');
    }

    function bindFilterEvents() {

        $('.select2-deselect').select2({
            allowClear: true,
            placeholder: ''
        });

        $filtersDiv.find('input').keyup(function () {
            delayedCallback(function () {
                refreshView();
            }, 500);
        });

        $filtersDiv.find("select").on("change", function () {
            $('.tool-filter input:not(.readonly)').removeAttr('readonly');
            if ($(this).val() == 'PUSTE' || $(this).val() == 'NIE PUSTE') {
                var id = $(this).attr('id').replace('--op', '');
                $('#' + id).val('');
                $('#' + id).attr('readonly', 'readonly');
            }
            refreshView();
        });

    }

    function exportToolHandle() {

        $('#export-to-xls').on('click', function (e) {
            e.preventDefault();
            if (LIVE_REPORT == 0) {
                var filters =window.location.hash.replace('#', '');

                showModalAddedToQueue(ToolObj.id, 1, filters);
            } else {
                OpenInNewTab(Routing.generate('admin_tools_export_xls', {
                    toolId: ToolObj.id,
                    type: 1
                }) + '?' + window.location.hash.replace('#', ''));
            }
        });

        $('#export-to-csv').on('click', function (e) {
            e.preventDefault();
            if (LIVE_REPORT == 0) {
                var filters =window.location.hash.replace('#', '');

                showModalAddedToQueue(ToolObj.id, 2, filters);
            } else {
                OpenInNewTab(Routing.generate('admin_tools_export_xls', {
                    toolId: ToolObj.id,
                    type: 2
                }) + '?' + window.location.hash.replace('#', ''));
            }
        });
    }


    function addToReportQueue(toolId, type, filters) {
        var $deff = $.Deferred();
        var xx = $.post(Routing.generate('addReportToQueue'), {
            toolId: toolId,
            type: type,
            filters: filters
        }, function (data) {
            $deff.resolve(data);
        });
        xx.fail(function (data) {
            $deff.reject(data);
        });

        return $deff.promise();
    }

    function checkIfRecentlyAdded(toolId) {

        var $deff = $.Deferred();
        var xx = $.ajax({
            type: 'GET',
            url: (Routing.generate('checkIfReportGeneratedRecently', {toolId: toolId}) + '?' + window.location.hash.replace('#', '')),
            data: {}
        }).done(function (data) {
            $deff.resolve(data);
        });
        xx.fail(function (data) {
            $deff.reject(data);
        });


        return $deff.promise();

    }

    function showModalAddedToQueue(ToolId, type, filters) {
        var checkIfRecentlyAddedResult = checkIfRecentlyAdded(ToolId);

        checkIfRecentlyAddedResult.done(function (response) {

            var wrapper = document.createElement('span');
            wrapper.innerHTML = response.html;
            var $swal = swal({

                title: 'Ostatnio wygenerowane raporty z tego narzędzia',
                content: wrapper,
                html: true,
                buttons: {
                    cancel: "Zamknij",
                    generate: "Wygeneruj nowy"
                }
            }).then(function (value) {

                if (value == 'generate') {
                    addToReportQueue(ToolId, type, filters).done(function (result) {
                        var wrapper = document.createElement('div');
                        wrapper.innerHTML = '<span class="text"> Twój raport będzie dostępny pod adresem: <br> ' +
                            '<pre>' + result.url + '' +
                            '</pre> <br> Nr w kolejce: <b>' + result.number + '</b><br></span>';


                        swal({
                            title: 'Dodano do kolejki generowania raportów',
                            content: wrapper
                        });


                    })
                }

            });
        });


    }

    $('#custom-export-to-file').on('click', function (e) {
        e.preventDefault();

        var $customExportModal = $('#tool-custom-export-modal').modal('show');

        $.ajax({
            type: 'GET',
            url: Routing.generate('tools_custom_export_form', {toolId: ToolObj.id}),
            beforeSend: function() {
                $customExportModal.find('.modal-body').html(miniLoaderTemplate);
            }
        }).done(function (html) {

            $customExportModal.find('.modal-body').html(html);
            $customExportModal.find('.select2').select2();

            $customExportModal.find('#custom_export_columns').on('change', function() {

                var columns = JSON.stringify($(this).val());
                localStorage.setItem('tool_export_choosen_columns_' + ToolObj.id, columns);

            });

            if(localStorage) {

                // Ustawienie zapamiętanej konfiguracji dla narzędzia

                var columns = localStorage.getItem('tool_export_choosen_columns_' + ToolObj.id);

                if(columns){
                    columns = JSON.parse(columns);
                    $customExportModal.find('#custom_export_columns').val(columns).trigger('change.select2');
                }

            }

        });

    });

    $('#tool-custom-export-form').on('submit', function(e){

        var url = Routing.generate('tools_custom_export', {toolId: ToolObj.id}) + '?' + window.location.hash.replace('#', '');
        $(this).attr('action', url);
        $('#tool-custom-export-modal').modal('hide');

    });

    $('#generate-xls-hash').on('click', function (e) {
            e.preventDefault();
            var url = Routing.generate('tool_show', {toolId: ToolObj.id}) + window.location.hash;
            var toolId = ToolObj.id;
            var filters = window.location.hash.replace('#', '');

            $.ajax({
                type: 'POST',
                url: Routing.generate('admin_tool_generate_xls_hash'),
                data: {url: url, toolId: toolId, filters: filters}
            }).done(function (data) {
                var clipboard = new Clipboard('#hash-clipboard');

                clipboard.on('success', function (e) {
                    $('#hash-clipboard').tooltip({trigger: 'manual'}).tooltip('show');
                    setTimeout(function () {
                        $('#hash-clipboard').tooltip('hide');
                    }, 1000);
                });

                $('#xls-hash-modal #generated-url').val(data);
                $('#xls-hash-modal').modal();
            });
            return false;
        }
    );


    function OpenInNewTab(url, type) {
        var target = type == 'page' ? '_self' : '_blank';
        var win = window.open(url, target);
        win.focus();
    }

    function renderAdminDebug(query, id) {
        var id = id || false;
        return '<p ' + (id ? 'id="' + id + '"' : '') + ' class="query-debug"><strong>[QUERY]</strong> ' + query + '</p>';
    }

    function loaderToolHandle() {
        $spinnerOfTool = $('#tool-spinner');

        $spinnerOfTool.on('spinner-off', function (e) {
            $spinnerOfTool.fadeOut(300);
        });

        $spinnerOfTool.on('spinner-on', function (e) {
            $spinnerOfTool.fadeIn(300);
        });
    }

    function displayEditQuery(response, label) {
        {% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_ANALYST')%}
        var label = label || 'EDIT QUERY';
        if (response.info) {
            $.each(response.info, function (k, info) {
                $('#tool-table-container').before('<div class="query-debug edit-query-debug"><strong class="blue">[' + label + ']</strong> ' + info + '</div>');
            });
        }
        $.get('{{ path('clear_flash_msg', {'key' : 'admin-info'}) }}', null, function (response) {
        });
        {% endif %}
    }

    function refreshDatePicker(target) {
        var date, pickers;

        pickers = (typeof target != 'undefined') ? target.find('.date-time-picker, .date-picker') : $('.date-time-picker, .date-picker');

        pickers.each(function (i, ele) {
            if (ele.value) {
                date = new Date(ele.value);

                if (isNaN(date.getTime())) {
                    $(ele).val(ele.value).trigger('keyup');
                }
                else {
                    if ($(ele).data('datepicker')) {
                        $(ele).data('datepicker').selectDate(new Date(ele.value));
                    }
                }
            }
        });
    }

    function updateQueryWithParams(string, currentRow) {
        var regex = /({@[a-zA-Z0-9_]*@})/g;
        var matches;

        while (matches = regex.exec(string)) {
            var columnName = matches[0].replace('{@', '').replace('@}', '');
            var columnValue = currentRow.find('td[data-column="' + columnName + '"]').attr('data-value');
            string = string.replace('{@' + columnName + '@}', columnValue);
        }

        return string;
    }


    function handleToolActions() {

        var $body = $('body');

        $body.off('click', '.tool-action', funToolAction);
        $body.off('click', '#action-confirmation-modal #action-confirm', funExecuteAction);

        $body.on('click', '.tool-action', funToolAction);
        $body.on('click', '#action-confirmation-modal #action-confirm', funExecuteAction);
    }

    function funExecuteAction() {
        $(this).executeAction(true);
    }

    function funToolAction(e) {
        e.preventDefault();

        if ($(this).hasClass('modal-trigger')) {
            var description = $(this).attr('data-description'),
                confirmationBtn = $('#action-confirmation-modal #action-confirm');

            if (description) {
                $('#action-confirmation-modal .description span').html(description);
            }

            confirmationBtn.attr('data-action-id', $(this).attr('data-action-id'));
            confirmationBtn.attr('data-tool-id', $(this).attr('data-tool-id'));
            confirmationBtn.attr('data-tr-params', JSON.stringify( getParamsOfRow($(this).closest('tr') ) ) );

            // confirmationBtn.attr('data-query', updateQueryWithParams($(this).attr('data-query'), $(this).closest('tr')));

            $('#action-confirmation-modal').modal();
        }
        else {
            $(this).executeAction();
        }
    }

    $.fn.executeAction = function (isModal) {
        var isModal = isModal || false;

        var params = [],
            rowIds = [],
            trParams = [],
            checkedRows = $('.batchwrite:checkbox:checked'),
            urlHash = window.location.hash;

        if (isModal) {
            // actionQuery = $(this).attr('data-query');
            $spinnerOfTool.trigger('spinner-on');
        }

        if (urlHash) {
            params = $.parseParams(urlHash.replace('#', ''));
        }

        if ($(this).hasClass('row-action')) {
            trParams = getParamsOfRow($(this).closest('tr'));
        }
        else if ($(this)[0].hasAttribute('data-tr-params')) {
            trParams = JSON.parse($(this).attr('data-tr-params'));
        }
        else {
            checkedRows.each(function () {
                rowIds.push($(this).attr('data-id'));
            });
        }

        $.get("{{ path('tool_action_execute') }}", {
            'toolId': $(this).attr('data-tool-id'),
            'actionId': $(this).attr('data-action-id'),
            'params': params,
            'trParams': trParams,
            'rowIds': rowIds
        }, function (response) {
            if (response.error != undefined && response.error != false) {
                alert(response.error);
            }
            else {
                if (isModal) {
                    $spinnerOfTool.trigger('spinner-off');
                    $('#action-confirmation-modal').modal('hide');
                }
                refreshView(urlHash);
                displayEditQuery(response, 'ACTION QUERY');
            }

        });

        return false;
    };

    function handleDocumentLinks() {
        $('.document-files').unbind('click');
        $('.document-files').on('click', function (e) {
            e.preventDefault();
            var documentId = $(this).attr('data-document-id');
            var filesUrl = Routing.generate('document_files', {'id': documentId});
            $.get(filesUrl, null, function (response) {
                var modal = $('#document-files-modal');
                modal.find('.modal-body').html(response);
                modal.find('.response-hidden').remove();
                modal.modal('show');
            });
            return false;
        });
    }

    function restoreDefaultFiltersHandle() {
        var defaultFilters = $('#atlas_tool_filters').serializeArray();
        $('.restoreToDefaults').on('click', function () {
            $.each(defaultFilters, function () {
                $('#atlas_tool_filters [name=' + $(this)[0].name + ']').val($(this)[0].value);
            });
            refreshView();
        });

    }
</script>

