<div class="form-group row">
    <div class="col-md-3">
        <label for="custom_export_columns">Kolumny do importu</label>
    </div>
    <div class="col-md-9">
        <select name="custom_export[columns][]" id="custom_export_columns" class="select2" multiple="multiple">
            {% for column in available_columns %}
                <option value="{{ column.value }}">{{ column.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <label for="custom_export_format">Format pliku</label>
    </div>
    <div class="col-md-9">
        <select name="custom_export[format]" id="custom_export_format" class="select2">
            <option value="txt">.txt</option>
            <option value="csv" disabled>.csv</option>
            <option value="xlsx" disabled>.xlsx</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="mt-checkbox-list m-t-2">
            <label class="mt-checkbox mt-checkbox-outline text-left">
                <input type="checkbox" class="basic-config-control"
                       name="custom_export[add_headers]" value="1" > Czy zaimportować nagłówki?
                <span></span>
            </label>
        </div>
    </div>
</div>