{% if tool.filters and tool.filters|length > 0 %}
    <div id="filters-div" {% if app.user.personalizationJson['$filter_toggle_tool_' ~ tool.id] is defined and app.user.personalizationJson['$filter_toggle_tool_' ~ tool.id] == "true" %} style="display: block" {% endif %}>
        <form id="atlas_tool_filters" class="form-horizontal" action="" method="GET">
            <div class="row">
                {% for filter in tool.filters %}
            {% for column in table.columns %}

                {% set css = "" %}
                {% set styles = stylesArray[column] is defined ? stylesArray[column] : [] %}


                {% if  filter.columnName == column and filtersForm[column] is defined  %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 custom-filter-column {% if not filter.display %}hidden{% endif %}">
                        <div class="form-group filters-form-group" data-column-name="{{ column }}" style="{{ css }}">
                            {% set headerName = column %}
                            {% for style in styles %}
                                {% if column == style.columnName %}
                                    {% if style.alias %}
                                        {% set headerName = style.alias %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <label class="col-sm-12 filters-control-label control-label">{{ headerName }}</label>

                            <div class="col-sm-12">
                                <div class="tool-filter clearfix">

                                        {% if filter.type == 'dates' %}
                                            {% if column == filter.columnName and filtersForm[filter.columnName~'--to'] is defined %}
                                                <div class="col-xs-6 col-md-12 ">
                                                    {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                                    {{ form_widget(filtersForm[filter.columnName]) }}
                                                </div>
                                                <div class="col-xs-6 col-md-12">
                                                    {{ form_widget(filtersForm[filter.columnName~'--to--op']) }}
                                                    {{ form_widget(filtersForm[filter.columnName~'--to']) }}
                                                </div>
                                            {% endif %}
                                        {% elseif filter.type == 'select' or filter.type == 'multiselect' %}
                                            {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
                                                <div class="col-xs-6 col-md-12">
                                                    {% if filter.pointedColumnName %}
                                                        {{ form_widget(filtersForm[filter.columnName~'--pointed']) }}
                                                    {% endif %}
                                                    {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                                    {{ form_widget(filtersForm[filter.columnName~'']) }}
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% if column == filter.columnName and filtersForm[filter.columnName] is defined %}
                                                {% if filtersForm[filter.columnName~'--op'] is defined %}
                                    <div class="col-xs-6 col-md-12 embed-tool-hide" {% if filter.type == 'text' %}{% endif %}
                                    ">
                                                        {{ form_widget(filtersForm[filter.columnName~'--op']) }}
                                                    </div>
                                                    <div class="col-xs-6 col-md-12">
                                                        {{ form_widget(filtersForm[filter.columnName]) }}
                                                    </div>
                                                {% else %}
                                                    <div class="col-xl-6 col-md-12">
                                                        {{ form_widget(filtersForm[filter.columnName]) }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% endfor %}
            </div>
        </form>
    </div>
{% endif %}

