{% spaceless %}

    {% set stylesArray = tool.stylesArray %}

    {% if not paginationPage %}
        <tr id="tool-table-query" class="hidden" class="query" data-value="{{ query }}" data-hash="{{ hash }}"></tr>
    {% endif %}

    {% if not table or table.rows|length == 0 %}
        <tr id="no-result-info">
            <td colspan="{{ totalTableColumns }}"><span class="large">{{ 'results_not_found_change_filters'|trans|desc('Nie znaleziono rezultatów. Zmień kryteria wyszukiwania.') }}</span>.</td>
        </tr>
    {% else %}
        {% set myVal = ordinalStart %}
        {% for row in table.rows %}
            <tr>
                {%- if showOrdinal -%}
                    <td class="fit visible-td">
                        {% set myVal = myVal + 1 %}
                        {{ myVal }}
                    </td>
                {%- endif -%}
                {%- if rowCheckbox -%}
                    <td class="fit p-x-1 batchwrite-cell visible-td">
                        <input class="batchwrite" type="checkbox" name="edit-{{ loop.index }}" data-id="{{ row[tool.editIdColumn] }}">
                    </td>
                {%- endif -%}
                {%- if tool.subQuery -%}
                    <td class="fit subquery-toggle visible-td">
                        <a href="#" id="{{ loop.index }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
                {%- endif -%}
                {% for key,value in row %}

                    {% set css = "" %}
                    {% set hidden = false %}
                    {% set styles = stylesArray[key] is defined ? stylesArray[key] : [] %}

                    {% for style in styles %}
                        {% if style.hidden %}
                            {% set hidden = true %}
                            {% set css = 'display: none;' %}
                        {% else %}
                            {% if style.action %}
                                {% set css = css ~ ' white-space: nowrap;width: 1%; ' %}
                            {% endif %}
                            {% if isStylable(key, style, row) != false %}
                                {% set appendStyle = style.css|trim|last == ';' ? style.css : style.css~';' %}
                                {% set css = css ~ ' ' ~ appendStyle %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <td class="column {{ (hidden) ? '' : 'visible-td' }}" style="{{ css }}" data-column="{{ key }}"
                        data-value="{{ value }}">{% spaceless %}
                            {% if not hidden %}
                                {% set icon = false %}
                                {% set link = false %}
                                {% set update = false %}
                                {% set canUpdate = false %}
                                {% set blank = true %}
                                {% set actionBtn = false %}
                                {% set documentLink = false %}
                                {% set editType = 'modal' %}

                                {% for style in styles %}
                                    {% if isStylable(key, style, row) %}

                                        {% if style.editTool %}
                                            {% set editType = style.editTool.editType %}
                                        {% endif %}

                                        {# check if icon set #}
                                        {% if style.icon %}
                                            {% set icon = style.icon %}
                                        {% endif %}

                                        {# check if redirect #}
                                        {% if style.link %}
                                            {% set link = style.linkParams ? style.link~style.linkParams : style.link %}
                                            {% set blank = style.linkTarget %}
                                        {% endif %}

                                        {# check if edit #}
                                        {% set editTool = style.editTool %}
                                        {% if editTool %}
                                            {% set rowId = parseForColumnParam(style.editRowId, row) %}
                                            {% set update = {'toolId' : editTool.id, 'toolName' : editTool.name, 'rowId': rowId} %}
                                            {% set canUpdate = update and editTool and is_granted('write', editTool) %}
                                        {% endif %}

                                        {# check if action button #}
                                        {% set action = style.action %}
                                        {% if action and is_granted('execute', action) %}
                                            {% set actionBtn = true %}
                                            <div class="tooltip-wrapper tooltips" data-placement="bottom"
                                                 data-original-title="{{ action.name }}">
                                                <a class="tool-action btn btn-sm btn-default smaller-btn row-action {{ action.hasConfirmation ? 'modal-trigger' : '' }}" style="{{ action.color ? 'color: #fff;background: '~action.color : '' }}"
                                                   data-action-id="{{ action.id }}" data-tool-id="{{ tool.id }}" data-description="{{ action.confirmationDescription }}" href="javascript:;">{% spaceless %}
                                                        {{- action.icon|raw -}}
                                                    {% endspaceless %}</a>
                                            </div>
                                        {% endif %}

                                        {% if style.document %}
                                            {% set documentLink = '<a href="javascript:void(0);;" class="document-files" data-document-id="'~parseForColumnParam(style.document, row, true)~'">' %}
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                                {% if not actionBtn %}
                                    {% if documentLink %}
                                        {{- documentLink|raw -}}
                                    {% elseif(link or canUpdate) %}
                                        <a href="{{ parseLinkForColumnParams(link, row, app.environment) }}"
                                        {% if blank and not update %}target="_blank"{% endif %}
                                        {% if update %} class="update-tool" data-tool-id="{{ update.toolId }}" data-row-id="{{ update.rowId }}" data-tool-name="{{ update.toolName }}" edit-type="{{ editType }}" {% endif %}>
                                    {% endif %}
                                    {% if icon %}
                                        {{- icon|raw -}}
                                    {% else %}
                                        {{- value|raw -}}
                                    {% endif %}
                                    {% if(link or canUpdate or documentLink) %}</a>{% endif %}
                                {% endif %}
                            {% endif %}
                        {% endspaceless %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
{% endspaceless %}