{% extends "WebBundle::base.html.twig" %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    {% include 'DocumentBundle:Default:files-list.html.twig' %}
{% endblock %}