{# entity \DocumentBundle\Entity\File #}

{% if document and document.files %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-vam m-b-0">
        <thead class="response-hidden">
        <tr>
            {#
            {% if is_granted('ROLE_ADMIN') %}
            <th class="fit">#</th>
            {% endif %}
            #}
            <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
            {#
            {% if is_granted('ROLE_ADMIN') %}
            <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
            {% endif %}
            #}
        </tr>
        </thead>
        <tbody>
        {% for entity in document.files %}
            <tr>
                {#
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="row" class="fit">{{ entity.id }}</th>
                {% endif %}
                #}
                <td>
                    <a target="_blank" class="file-name" href="{{ path('download_file', {'uuid' : entity.uuid}) }}">
                        <i class="{{ entity.iconClass }}"></i>
                        <span class="entity-name">{{ entity.name }}</span>
                    </a>
                </td>
                {#
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="fit">
                        <a href="#"
                           class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip"
                           data-placement="top"
                           title="{{ 'delete'|trans|desc('usuń')|title }}"
                           data-url="{{ path('admin_file_delete', {'id': entity.id}) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                {% endif %}
                #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p class="p-x-2">{{ 'document_files_not_found'|trans|desc('Nie znaleziono dokumentu z plikami') }}</p>
{% endif %}