{% if isMobileForm is not defined %}
    {% set isMobileForm = 0 %}
{% endif %}
{% set platformId= parseAttribute('{@253@}', params.groupProcessId) %}
{% if canMobilePrevStep is not defined %}
    {% set canMobilePrevStep = false %}
{% endif %}

<form id="render-form-{{ formId | replace('.', '-') }}"
      class="operation-dashboard-form
            {{- (reloadForm is defined and reloadForm) ? ' reload-blank-form ' : '' -}}
            {%- if params.active is defined and params.active != 1 %} preview-mode {% endif -%}
            {{- (isMobileForm == 1) ? " mobile-case-mode " : "" -}}
">
    {% block title_form %}
        <h2 type="h2" class="header">

            {% if isPublic == 1 and isMobileForm == 0 %}
                <button type="button" data-number="" onclick="_phoneCall(this);" class="call-helpline btn btn-circle btn-default btn-only-icon"><i class="fa fa-phone"></i></button>
            {% endif %}

            {% if params.id is defined %}

                {% set caseUrl = url('operational_dashboard_index') ~ '?action=telephony-pick-up&isforce=1&process_instance=' ~ params.id %}


                <span title="{{ include('@Operational/Forms/title-form.html.twig') }}"
                      class="form-title {% if isMobileForm %}text-center{% endif %}">
                        {% if isMobileForm %}
                          {{ platformName }}
                          <br />{% endif %}
                    {{- formTitle }}
                    {% if not isPublic %}<span class="step-number">({{ formId }})</span> {% endif %} <br>

                </span>

                <script>
                    $('.tooltip.note-tooltip').remove();

                    $('.operation-dashboard-form > .header > .form-title').tooltip({
                        container: ".operation-dashboard-form",
                        html: true,
                        trigger: 'manual',
                        placement: "bottom",
                        template: '<div class="tooltip note-tooltip title-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                    }).on('dblclick', function () {
                        $(this).tooltip('toggle');
                    });

                </script>

            {% else %}
                <span class="form-title" title="{{- formTitle }}">{{- formTitle }}
                    {% if not isPublic %}<span class="step-number">({{ formId }})</span> {% endif %}
                </span>
            {% endif %}

            {% if not isPublic %}
                <div class="pull-right buttons-wrapper">
                    {#Na sztywno - grupa kontraktorzy nie widzą oczka#}
                    {% if params.active == 0 and canReopen %}
                        <div class="dashboard-mode-switch {% if app.user is defined and app.user.hasGroup(43) %}hidden{% endif %}">
                            <input class="switcher-input"
                                   title="{{ 'dashboard.mode.switch'|trans|desc('Kliknij aby przełączać między trybem edycji i podglądu')|capitalize }}"
                                   type="checkbox" checked="checked"/>
                        </div>
                    {% endif %}

                    {% if situationSelect is defined and situationSelect is not null and params.active == 1 %}

                        <div id="special-situation-box">
                            <div class="wrapped-select">
                                <select
                                        data-type="{{ situationSelect.attribute.type }}"
                                        data-attribute-value-id="{{ situationSelect.attribute.id }}"
                                        data-attribute-path="{{ situationSelect.attribute.path }}"
                                        data-group-process-id="{{ situationSelect.attribute.groupProcessId }}"
                                        data-step-id="{{ situationSelect.attribute.stepId }}"
                                        value="{{ situationSelect.attribute['value'] }}" class="custom-select">
                                    {% for label in situationSelect.options %}
                                        <option {{ (situationSelect.attribute['value'] == label['value']) ? 'selected' : '' }}
                                                value="{{ label.value }}">{{ label.textD }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button title="Sytuacja szczególna" class="btn btn-transparent" id="special-situation-btn">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </button>
                        </div>

                    {% endif %}

                    {% if app.user is defined and app.user.hasGroup(43) %}

                    {% else %}

                        <div class="js-btn js-show-extra-actions"
                             title="{{ 'form.bar.extra_actions'|trans|desc('Pokaż dodatkowe akcje')|capitalize }}">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <div class="sub-menu-wrapper">
                                <div class="sub-menu-content">
                                    <div class="loader mini relative lighten">
                                        <div class="ball-spin-fade-loader"><div></div><div></div><div></div><div></div><div></div><div></div> <div></div> <div></div> </div></div>
                                </div>
                            </div>
                        </div>

                        <div class="js-btn js-show-active-users"
                             title="{{ 'case.active_user_in_case'|trans|desc('Aktywni użytkownicy w sprawie')|capitalize }}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {% if params.rootId is defined %}
                                <span class="badge badge-danger"> {{ getAmountUsersInCase(params.rootId) }} </span>
                            {% endif %}
                        </div>

                        <div class="js-btn js-mute-action {{ mute > 0 ? 'mute-active' : '' }}"
                             title="{{ 'case.mute'|trans|desc('Blokowanie komunikacji w sprawie')|capitalize }}">
                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                        </div>
                        {% if formId != "1011.010" or allServicesClosed == 1 %}
                            <div data-description="{{ params.cancelDescription is defined ? params.cancelDescription : 'are.you.sure.close.task'|trans|desc('Pamiętaj! Odwołanie zadania spowoduje usunięcie jego z listy i powiadomienie Twojego przełożonego. Czy na pewno chcesz zakończyć bieżące zadanie?') }}"
                                 class="js-btn js-cancel-step cancel-step {{ params.active != 1 ? 'hidden' : '' }}"
                                 title="{{ 'cancel-step-tooltip'|trans|desc('Anuluj zadanie')|capitalize }}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        {% endif %}
                        <div class="js-btn js-postpone-task postpone-task"
                             title="{{ 'postpone.task'|trans|desc('odrocz zadanie')|capitalize }}">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        {#<div data-description="{{ 'cancel-tooltip-effects'|trans|desc('Pamiętaj! Odwołanie zadania spowoduje usunięcie jego z listy i powiadomienie Twojego przełożonego.')|capitalize }} {{ params.cancelDescription is defined ? params.cancelDescription : 'are.you.sure.close.task'|trans|desc('Czy na pewno chcesz zakończyć bieżące zadanie?') }}"#}

                        {% if is_granted('ROLE_KZ') %}
                            <div class="js-btn js-abandon-step abandon-step"
                                 title="{{ 'abandon-step-tooltip'|trans|desc('Opuść zadanie')|capitalize }}">
                                <i class="fa fa-close" aria-hidden="true"></i>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            {% endif %}
        </h2>
    {% endblock %}

    {% block content_form %}


        <div id="form-generator-box" class="dashboard-version">

            {% if postponeProcess %}

                <div class="alert alert-info">
                    <strong>{{ postponeProcess.reason }}</strong>
                    <div class="pull-right">
                        <small>{{ postponeProcess.updatedAt | date('Y-m-d H:i:s') }} ({{ postponeProcess.user.name }})
                        </small>
                    </div>
                    <br>
                    {% if postponeProcess.description %}
                        {{ postponeProcess.description }}
                    {% endif %}
                </div>

            {% endif %}

            {% if formId == "1011.010" %}
                {{ include('@Operational/Default/service-popup.html.twig') }}
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div class="step-form-grid-stack"></div>
                </div>
            </div>

{#            {% if formId == '1009.006' %}#}
{#                <!--- ADSENSE -->#}
{#                <div class="rekl-container" style="height: 150px;">#}
{#                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
{#                    <!-- 1009006 -->#}
{#                    <ins class="adsbygoogle"#}
{#                         style="display:block"#}
{#                         data-ad-client="ca-pub-1099845702073901"#}
{#                         data-ad-slot="8468141369"#}
{#                         data-ad-format="auto"#}
{#                         data-full-width-responsive="true"></ins>#}
{#                    <script>#}
{#                        (adsbygoogle = window.adsbygoogle || []).push({});#}
{#                    </script>#}
{#                    <!--- ADSENSE -->#}
{#                </div>#}
{#            {% endif %}#}
        </div>
        <div class="reload-current-form-wrapper">
            <div class="reload-current-form-content">
                <h4>
                    <i class="fa fa-warning"></i> Wystąpił problem z przejściem do kolejnego kroku. Możliwe, że obecny
                    formularz nie jest już aktywny.
                </h4>
                <button type="button" class="btn btn-warning" onclick="reloadCurrentForm();">
                    Otwórz formularz ponownie
                </button>
            </div>
        </div>
    {% endblock %}

    {% if canMobilePrevStep %}
        <button type="button" id="active-previous-step" data-previous-process-id="{{ previousProcessId }}"
                class="button-input prev-button btn btn-success pull-left" value="Cofnij">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        </button>
    {% endif %}

    {% block btn_prev_step -%}
        {% if canPrevStep and isPublic and previousProcessId and not isMobileForm %}
            <button type="button" id="form-prev-button" data-previous-process-id="{{ previousProcessId }}"
                    class="button-input prev-button btn btn-success pull-left" value="Cofnij krok">
                <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
            </button>
        {% endif %}
    {%- endblock %}

    {% block btn_next_step -%}
        {% if not stop %}

            <button type="button" data-style="zoom-in" data-size="xs"
                    class="generating-form-submit button-input next-button btn btn-success pull-right ladda-button"
                    value="Prześlij formularz">
                <span class="ladda-label"><i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></span>
            </button>

            {% if forwardVariant and is_granted('ROLE_CASE_FORWARD') %}
                <button type="button" id="forward-button"
                        class="generating-form-submit button-input next-button btn btn-success pull-right"
                        data-content="{{ forwardVariantInfo }}"
                        data-variant="{{ forwardVariant }}">
                    <i class="fa fa-forward fa-lg" aria-hidden="true"></i>
                </button>
            {% endif %}
        {% endif %}


        {% if formId == "1011.010" and is_granted('ROLE_CASE_FORWARD') and params.active != 1 %}
            <button type="button" id="reopen-case-button" class="button-input next-button btn btn-success pull-right">
                <i class="fa fa-key fa-lg" aria-hidden="true"></i>
            </button>
        {% endif %}

    {%- endblock %}


</form>

{% block custom_scripts %}

    <script>

        "use strict";

        window.availableProcessConfig = [];

        {% if availableConfigs is defined and availableConfigs is not empty %}

        {% for key, value in availableConfigs %}
        window.availableProcessConfig.push({key: '{{ key }}', value: '{{ value }}'});
        {% endfor %}

        {% endif %}

    </script>

    {#<script type="text/javascript">#}
    {#var positionTraces = JSON.parse('{{ data['LOCATION']['TRACES']|raw }}');#}
    {#</script>#}
{% endblock %}

