<div class="partner-interface-wrapper">
    <form id="extra-form-{{ processInstanceId }}" class="panel-edit-attribute-view content-edit-attribute">
        {% for control in controls %}
            {{ control | raw }}
        {% else %}
            <p>Brak zdefiniowanych danych</p>
        {% endfor %}
    </form>
</div>