<form id="render-form-{{ formId | replace('.', '-') }}"
      class="operation-dashboard-form service-editor-mode editor-panel">
    {% block title_form %}
        <h2 type="h2" class="header">
            <span class="form-title" title="{{- formTitle }}">{{- formTitle }}
                <span class="step-number">({{ formId }})</span>
            </span>
        </h2>
    {% endblock %}

    {% block content_form %}

        <div id="form-generator-box" class="dashboard-version">
            {% if formId == "1011.010" %}
                {{ include('@Operational/Default/service-popup.html.twig') }}
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="step-form-grid-stack"></div>
                </div>
            </div>
        </div>

    {% endblock %}

</form>

{% block custom_scripts %}

{% endblock %}
