{% spaceless %}
    <table class='table-bordered table table-condensed'>
        <tr>
            <td>ID KROKU</td>
            <td>{{ params.id }}</td>
        </tr>
        <tr>
            <td>ID GRUPY</td>
            <td>{{ params.groupProcessId }}</td>
        </tr>
        <tr>
            <td>ID SPRAWY</td>

            <td>{{ params.rootId }}</td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td colspan='2' class='text-center'><a target='_blank' href='{{ caseUrl }}&_fr'>Link do zadania</a></td>
            </tr>
            <tr>
                <td colspan='2' class='text-center'><a target='_blank' href='{{ getFormEditUrl(params.id, 'process') }}?_fr'>Edytuj proces</a></td>
            </tr>
            <tr>
                <td colspan='2' class='text-center'><a target='_blank' href='{{ getFormEditUrl(params.id) }}&_fr'>Edytuj krok</a></td>
            </tr>
            {% if params.active == 0 %}
                <tr>
                    <td colspan='2' class='text-center'>
                        <span class='label label-green label-inline-block' style='cursor: pointer;' onclick='dashboardApi.adminApi.reActiveProcessInstance({{ params.id }});'>Aktywuj krok</span>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
{% endspaceless %}