<div class="pushing-agent-pop hidden"></div>
<div class="pushing-agent-pop-spinner hidden">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
</div>
<div class="pushing-report-content">
    <div class="row">
    {% for group in data %}
        <div class="col-lg-3 col-md-4 col-sm-6 text-center" data-group-id="{{ group.group_id }}">
            <div class="pr-name well-sm">
                <h4>{{ groupsName[group.group_id] }}</h4>
            </div>
            <div class="pr-stats row">
                <div class="col-md-8 pr-stats-wrapper">
                    <div class="col-md-12 pr-el text-center">
                        <div class="col-md-5 pr-container-full">
                            <span class="pr-stats-badge badge {{ (group.todo_trend < 0) ? 'badge-danger' : 'badge-primary' }}">
                                {{ (group.todo_trend == null) ? 0 : group.todo_trend }}
                            </span>
                            <span class="pr-stats-value">{{ group.todo }}</span>
                            <span class="pr-stats-label">na teraz</span>
                        </div>
                        <div class="col-md-2"><h4>/</h4></div>
                        <div class="col-md-5 pr-container-full">
                            <span class="pr-stats-badge badge {{ (group.postponed_trend < 0) ? 'badge-danger' : 'badge-primary' }} ">
                                {{ (group.postponed_trend == null) ? 0 : group.postponed_trend }}
                            </span>
                            <span class="pr-stats-value">{{ group.postponed }}</span>
                            <span class="pr-stats-label">na termin</span>
                        </div>
                    </div>
                    <div class="col-md-12 pr-el text-center">
                        <div class="col-md-5 pr-container-full">
                            <span class="pr-stats-value">{{ group.todo_today }}</span>
                            <span class="pr-stats-label">od 8:00</span>
                        </div>
                        <div class="col-md-2"><h4>/</h4></div>
                        <div class="col-md-5 pr-container-full">
                            <span class="pr-stats-value">{{ group.todo_in_date_range }}</span>
                            <span class="pr-stats-label">(1h)</span>
                        </div>
                    </div>
                    <div class="col-md-12 pr-el text-center">
                        <div class="pr-container-full">
                            <span class="pr-stats-value"><h4>{{ group.agents_number }}({{ group.dedicated_agents_number }}) osób</h4></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pr-speed-wrapper">
                    <div class="col-md-12 text-center">
                        <h4>Szybkość</h4>
                    </div>
                    <div class="col-md-12 text-center">
                        <span class="badge {{ (group.speed < 0) ? 'badge-danger' : 'badge-primary' }}">
                            {{ group.speed | number_format }}
                        </span>
                    </div>
                    <div class="col-md-12 pr-speed-img">
                        {% if group.speed < 0 %}
                            <img src="{{ asset('images/pushing_report/snail.png') }}">
                        {% elseif group.speed >= 0 and group.speed <= 80 %}
                            <img src="{{ asset('images/pushing_report/rabbit.png') }}">
                        {% else %}
                            <img src="{{ asset('images/pushing_report/cheetah.png') }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="pr-agents pr-agents-stuck row">
                <div class="pr-user-row">
                    <div class="col-md-12 text-center well-sm">
                        <span>Pow. 10 min na kroku:</span>
                    </div>
                    <div class="col-sm-1 m-t-2"></div>
                    {% for agent in group.agents_stuck | json_decode %}
                    <div class="col-sm-2 m-t-2 pr-agent-av" data-agent-id="{{ agent.id }}">
                        <span class="pr-img-number badge badge-primary">{{ agent.minutes }}</span>
                        {% if agent.name is defined %}
                            <span class="pr-name">{{ agent.firstname|first|upper }}{{ agent.lastname|first|upper }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="pr-agents pr-agents-top row">
                <div class="pr-user-row">
                    <div class="col-md-12 text-center well-sm">
                        <span>Najlepszy wynik:</span>
                    </div>
                    <div class="col-sm-1 m-t-2"></div>
                    {% for agent in group.agents_top | json_decode %}
                        <div class="col-sm-2 m-t-2 pr-agent-av" data-agent-id="{{ agent.id }}">
                            <span class="pr-img-number badge badge-primary">{{ agent.tasks }}</span>
                            {% if agent.firstname and agent.lastname is defined %}
                                <span class="pr-name">{{ agent.firstname|first|upper }}{{ agent.lastname|first|upper }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pr-agents pr-agents-bottom row">
                <div class="pr-user-row">
                    <div class="col-md-12 text-center well-sm">
                        <span>Najgorszy wynik:</span>
                    </div>
                    <div class="col-sm-1 m-t-2"></div>
                    {% for agent in group.agents_bottom | json_decode %}
                        <div class="col-sm-2 m-t-2 pr-agent-av" data-agent-id="{{ agent.id }}">
                            <span class="pr-img-number badge badge-primary">{{ agent.tasks }}</span>
                            {% if agent.firstname and agent.lastname is defined %}
                                <span class="pr-name">{{ agent.firstname|first|upper }}{{ agent.lastname|first|upper }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>