<div class="change-view-automation text-center">
    <div class="mt-checkbox-list">
        <label class="mt-checkbox mt-checkbox-outline"> Widok szczegółowy
            <input type="checkbox" value="1"
                    {{ (app.request.cookies.get('pushing_report_detailed_view', 0) == 1) ? 'checked' : '' }}
                   name="view-mode-detailed-pushing" >
            <span></span>
        </label>
    </div>
</div>
<div id="pushing-report-wrapper" class="loading-spinner">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
    <div class="tab-wrapper-content">
    </div>
</div>
