
<div class="col-md-12">
    <button type="button" class="close pr-pop-close-button"></button>
</div>
<div class="col-md-12">
    <h2>{{ user.name }}</h2>
</div>
{% for userData in usersData %}
    <div class="col-md-3 margin-top-40">
        <div class="col-md-12">
            <div class="pr-label">
                {{ groupsName[userData.group_id] }}
            </div>
            <div class="col-md-12 m-t-2 text-center">
                <h4>{{ userData.tasks }}</h4>
            </div>
        </div>
    </div>
{% endfor %}


