<div class="row">
    <div class="col-lg-8">
        <form id="user-change-password-form" class="form-horizontal" action="{{ path('user_change_locale') }}"
              method="POST">
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <div class="form-actions margin-top-20">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">
                            {{ 'submit'|trans|desc('zapisz')|capitalize }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>