{% extends "WebBundle::base.html.twig" %}

{% block title %}{{ 'settings'|trans|desc('ustawienia')|upper }}{% endblock %}

{% block content %}
    <div class="row">
        <form action="" method="POST" class="m-t-1">
            <div class="col-xs-12">
                <div class="col-xs-8 col-lg-10 p-l-0">
                    <div class="form-group">
                        <input id="token" type="text" class="form-control" readonly="readonly" value="{{ token }}">
                    </div>
                </div>
                <div class="col-xs-4 col-lg-2">
                    <button type="submit" id="generate-token" href="#"
                            class="btn btn-info btn-full">{{ 'generate_api_token'|trans|desc('Wygeneruj token API') }}</button>
                </div>

                <div class="clearfix"></div>
                <p class="small m-t-0">{{ 'api_access_token_description'|trans|desc('Wygenerowany token należy przesłać w nagłówku requesta jako: klucz=Authorization, value=Bearer WygenerowanyToken') }}</p>
            </div>
        </form>
    </div>
{% endblock %}
