{% extends "WebBundle::base.html.twig" %}

{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' with {'name' : 'cesję'} %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('user_permission_transfer_editor') }}"><span
                        class="caption-subject bold">{{ 'replacement'|trans|desc('zastępstwo')|capitalize }}</span></a>
            {% if not history %}<span class="caption-helper">> {{ 'edycja'|trans|capitalize }}</span>{% endif %}
        </div>
    </div>

    <form id="user-change-password-form" class="form-horizontal" action="" method="POST">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="form-actions margin-top-20">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
    </form>
    {% if history %}
        <div class="table-responsive m-t-2">
            <h4>{{ 'historia cesji'|trans|capitalize }}</h4>
            <table class="table table-striped table-bordered table-vam">
                <thead>
                <tr>
                    <th class="fit">#</th>
                    <th>{{ 'cesja na użytkownika'|trans|capitalize }}</th>
                    <th>{{ 'from'|trans|desc('od')|capitalize }}</th>
                    <th>{{ 'to'|trans|desc('do')|capitalize }}</th>
                    <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in history %}
                    <tr>
                        <th scope="row" class="fit">{{ entity.id }}</th>
                        <td>{{ entity.toUser }}</td>
                        <td>{{ entity.fromDate|date('Y-m-d H:i:s') }}</td>
                        <td>{{ entity.toDate ? entity.toDate|date('Y-m-d H:i:s') : '-' }}</td>
                        <td class="fit">
                            {% if is_granted('edit', entity) %}
                                <a href="{{ path('user_permission_transfer_editor', {'id': entity.id}) }}"
                                   class="btn green tooltips" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('delete', entity) %}
                                <a href="#"
                                   class="btn red btn-delete tooltips" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'delete'|trans|desc('usuń')|title }}"
                                   data-url="{{ path('user_permission_transfer_delete', {'id': entity.id}) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}