{% extends "WebBundle::base.html.twig" %}

{% block title %}{{ 'settings'|trans|desc('ustawienia')|upper }}{% endblock %}

{% block content %}

    {% if app.user.password %}
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-dark">{{ 'password_change'|trans|desc('Zmiana hasła') }}</span>
            </div>
        </div>

        {{ render(controller('UserBundle:Profile:changePassword')) }}

    {% endif %}

    <div class="portlet-title m-t-3">
        <div class="caption">
            <span class="caption-subject bold uppercase font-dark">{{ 'locale_change'|trans|desc('Zmień wersję językową') }}</span>
        </div>
    </div>

    {{ render(controller('UserBundle:Profile:changeLocale')) }}

{% endblock %}