{#{% javascripts#}
{#'@WebBundle/Resources/public/js/vendor/wowJs/wow.min.js'#}
{#'@WebBundle/Resources/public/js/vendor/fullpage/scrolloverflow.js'#}
{#'@WebBundle/Resources/public/js/vendor/fullpage/jquery.fullpage.min.js' %}#}
{#<script src="{{ asset_url | removeAppDev }}"></script>#}
{#{% endjavascripts %}#}
