{% javascripts
'@WebBundle/Resources/public/js/vendor/jquery.min.js'
'@WebBundle/Resources/public/js/vendor/customAtlas.js'
'@WebBundle/Resources/public/js/vendor/wowJs/wow.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    new WOW().init();
</script>