{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu', {
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig'
        }) }}

        <div class="tab-content">

            {% if groups and groups|length > 0 %}

                <div id="permission-changed"
                     class="alert alert-success hidden fade in">{{ 'tool.no_user_group_defined_yet'|trans|desc('Nie zdefiniowano żadnej grupy użytkowników') }}</div>
                <form id="tool-premissions-user-form" class="form-horizontal" action="" method="POST">

                    <div class="table-responsive">
                        <table class="table table-bordered table-vam">
                            <thead>
                                <tr>
                                    <th> {{  'type'|trans|capitalize }}</th>
                                    <th class="align-center">READ</th>
                                    <th class="align-center">WRITE</th>
                                    <th class="align-center">BATCH-WRITE</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ 'Users'|trans|desc('Użytkownicy')|capitalize }}</td>
                                <td>
                                <select multiple name="read_users[]" id="read_users" class="form-control">
                                    </select>
                                </td>
                                <td>
                                    <select multiple name="write_users[]" id="write_users" class="form-control">
                                    </select>
                                </td>
                                <td>
                                    <select multiple name="batch_write_users[]" id="batch_write_users" class="form-control">
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </form>

                <form id="tool-permission-form" class="form-horizontal" action="" method="POST">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-vam">
                            <thead>
                            <tr>
                                <th class="fit">#</th>
                                <th>{{ 'group'|trans|desc('grupa')|capitalize }}</th>
                                <th class="align-center">READ</th>
                                <th class="align-center">WRITE</th>
                                <th class="align-center">BATCH-WRITE</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <th scope="row" class="fit">{{ group.id }}</th>
                                    <td class="entity-name">{{ group.name }}</td>
                                    <td class="align-center">
                                        <div class="md-checkbox display-inline-block">
                                            <input type="hidden" name="group[{{ group.id }}][read]" value="0">
                                            <input type="checkbox" id="check-{{ loop.index }}-read"
                                                   name="group[{{ group.id }}][read]"
                                                   class="md-check"
                                                   value="1" {{ group.canModifyTool(tool,'read') ? 'checked="checked"' : '' }}>
                                            <label for="check-{{ loop.index }}-read">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="md-checkbox display-inline-block">
                                            <input type="hidden" name="group[{{ group.id }}][write]" value="0">
                                            <input type="checkbox" id="check-{{ loop.index }}-write"
                                                   name="group[{{ group.id }}][write]"
                                                   class="md-check"
                                                   value="1" {{ group.canModifyTool(tool,'write') ? 'checked="checked"' : '' }}>
                                            <label for="check-{{ loop.index }}-write">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="md-checkbox display-inline-block">
                                            <input type="hidden" name="group[{{ group.id }}][batchwrite]" value="0">
                                            <input type="checkbox" id="check-{{ loop.index }}-batchwrite"
                                                   name="group[{{ group.id }}][batchwrite]"
                                                   class="md-check"
                                                   value="1" {{ group.canModifyTool(tool,'batchWrite') ? 'checked="checked"' : '' }}>
                                            <label for="check-{{ loop.index }}-batchwrite">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-info fade in">{{ 'tool.no_user_group_defined_yet'|trans|desc('Nie zdefiniowano żadnej grupy użytkowników') }}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script>
        function initSelect(){
            var $read_users = $('#read_users');
            var $write_users = $('#write_users');
            var $batch_write_users = $('#batch_write_users');


            // Read init
            $read_users.select2({
                minimumInputLength: 3,
                ajax: {
                    type: 'GET',
                    url: Routing.generate('adminPanelFindUsersForToolsPermissionsAction'),
                    dataType: 'json'
                }
            });
            // read insert selected
            $.ajax({
                url:Routing.generate('fetchUsersWithToolPermissions',
                    {
                        'type':'read',
                        'id' :{{ tool.getId() }}
                    }
                    )
            })
                .then(function ($data) {
                    var selectedIds = [];
         ;
                    if($data.hasOwnProperty('users')) {

                        for (var $iter = 0; $iter < $data.users.length; $iter++) {

                            var user = $data.users[$iter];
                            var $option = new Option(user.name, user.id,true, true);
                            $read_users.append($option);
                            selectedIds.push(user.id);
                        }



                        $read_users.trigger('change');

                    }
                });
            // write init
            $write_users.select2({
                minimumInputLength: 3,
                ajax: {
                    type: 'GET',
                    url: Routing.generate('adminPanelFindUsersForToolsPermissionsAction'),
                    dataType: 'json'
                }
            });

            // write insert selected
            $.ajax({
                url:Routing.generate('fetchUsersWithToolPermissions',
                    {
                        'type':'write',
                        'id' :{{ tool.getId() }}
                    }
                    )
            }).then(function ($data) {
                var selectedIds = [];
                if($data.hasOwnProperty('users')) {
                    for (var $iter = 0; $iter < $data.users.length; $iter++) {
                        var user = $data.users[$iter];
                        var $option = new Option(user.name, user.id,true, true);
                        $write_users.append($option);
                        selectedIds.push(user.id);
                    }
                    $write_users.trigger('change');
                }
            });
            //batch init
            $batch_write_users.select2({
                minimumInputLength: 3,
                ajax: {
                    type: 'GET',
                    url: Routing.generate('adminPanelFindUsersForToolsPermissionsAction'),
                    dataType: 'json'
                }
            });
            //batch insert selected
            $.ajax({
                url:Routing.generate('fetchUsersWithToolPermissions',{
                    'type':'batch',
                    'id' :{{ tool.getId() }}
                })
            }).then(function ($data) {
                var selectedIds = [];
                if($data.hasOwnProperty('users')) {
                    for (var $iter = 0; $iter < $data.users.length; $iter++) {
                        var user = $data.users[$iter];
                        var $option = new Option(user.name, user.id,true, true);
                        $batch_write_users.append($option);
                        selectedIds.push(user.id);
                    }
                    $batch_write_users.trigger('change');
                }
            });
        //    ajax sending
            $read_users.on('select2:select  select2:unselect', function (e) {
                var data =  $read_users.val();
                $.ajax({
                    method:'POST',
                    url:Routing.generate('saveUserPermissionsForTool',{
                        'type':'read',
                        'id' :{{ tool.getId() }}
                    }),
                    data:{'users':data}
                });
            });

            $write_users.on('select2:select select2:unselect', function (e) {
                var data =$write_users.val();
                $.ajax({
                    method:'POST',
                    url:Routing.generate('saveUserPermissionsForTool',{
                        'type':'write',
                        'id' :{{ tool.getId() }}
                    }),
                    data:{'users':data}
                });

            });

            $batch_write_users.on('select2:select select2:unselect', function (e) {
                var data =  $batch_write_users.val();
                $.ajax({
                    method:'POST',
                    url:Routing.generate('saveUserPermissionsForTool',{
                        'type':'batch',
                        'id' :{{ tool.getId() }}
                    }),
                    data:{'users':data}
                });

            });





        }

        $(function () {
            initSelect(); // init selects + fill with the preselected options


            $('input[type="checkbox"]').click(function () {
                $('#tool-permission-form').submit();
            });
            $('#tool-permission-form').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize()
                })
                        .done(function (data) {
                            if (typeof data.message !== 'undefined') {
                                $('#permission-changed').removeClass('hidden').html(data.message);
                            }
                        });
            });
        });
    </script>
{% endblock %}