<div class="row">
    <div id="attribute-chart-container" class="col-lg-10 p-r-0 relative">
        <a id="submit-attribute-chart" class="submit-chart btn btn-success pull-right m-b-1"
           href="#">{{ 'submit'|trans }}</a>
        <div id="attribute-chart" class="dropzone" data-id="{{ attribute ? attribute.id : '' }}"></div>
    </div>
    <div id="attribute-search-container" class="col-lg-2 p-r-0">
        <div id="attribute-search">
            <div class="input-icon">
                <i class="icon-magnifier"></i>
                <input type="text" id="attribute-search-input" class="form-control"
                       placeholder="{{ 'search_attribute'|trans|desc('szukaj atrybutu')|capitalize }}">
                <ul id="attribute-list">
                    {% for attribute in rootAttributes %}
                        <li class="attribute-root">
                            <div ondblclick="attributeAction({{ attribute.id }})" data-id="{{ attribute.id }}"
                                 class="draggable"
                                 draggable="true">{{ attribute.name|capitalize }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div id="add-attribute-container">
            <a href="#" id="add-attribute" class="btn green full"><i
                        class="fa fa-plus"></i> {{ 'add_attribute'|trans|desc('dodaj atrybut')|upper }}</a>
        </div>
    </div>
</div>
