{% import "@Web/Utils/macros.html.twig" as a2lixTranslations %}
<form id="step-edit-form" class="form-horizontal edit-row-of-tool"
      action="{{ path('admin_case_process_step_editor', {'processId' : processId, 'id' : id }) }}"
      method="POST" novalidate>

    <div id="form-errors">
    {{ form_errors(form) }}
    </div>

    {{ a2lixTranslations.displayTabs(form.translations) }}

    <div class="form-group ">
        {{ form_label(form.id) }}
        <div class="col-sm-9">
            <div class="tiny-input-form-group">
                {{ form_label(form.idSuffix, null, {'label_attr' : {'class' : 'hidden'}}) }}
                {{ form_widget(form.idPrefix) }} . {{ form_widget(form.idSuffix) }}
                <div id="form-suffix">{{ form_errors(form.idSuffix) }}</div>
            </div>
        </div>
    </div>

    {{ a2lixTranslations.partialTranslations(form.translations, ['name', 'description', 'forwardVariantInfo'], false) }}
    {{ form_rest(form) }}

    <div class="form-actions">
        <div class="row">
            <div class="col-xs-12 m-t-1">

                <a id="cancel-edit-data" href="#" data-dismiss="modal"
                   class="btn btn-default pull-left">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</a>

                <button id="edit-confirm" data-style="zoom-in" data-size="s" type="submit"
                        class="pull-right btn green p-x-3 ladda-button">
                    <span class="ladda-label">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>



