{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="step-editor-content definition-content">
        {% include '@Case/Admin/step/edit-form.html.twig' %}
    </div>
    <div class="step-editor-content attributes-content hidden">

    </div>

{% endblock %}
