{% block subject %}Resetowanie hasła do konta Atlas w firmie Starter24 Sp. z o.o.{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}
    <style type="text/css">
        @media only screen and (max-width: 480px) {
            table {
                display: block !important;
                width: 100% !important;
            }

            td {
                width: 480px !important;
            }
        }
    </style>
    <body style="font-family: 'Malgun Gothic', Arial, sans-serif; margin: 0; padding: 0; width: 100%; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;">
    <table width="100%" bgcolor="#fff" border="0" cellspacing="0" cellpadding="0" id="background"
           style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;">
        <tr>
            <td align="center" valign="top">
                <table style="margin-top: 80px;" width="600" border="0" bgcolor="#3B3F51" cellspacing="0"
                       cellpadding="20" id="preheader">
                    <tr>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                <tr>
                                    <td valign="top" width="600">
                                        <div class="logo">
                                            <a href="{{ serverHost }}"
                                               style="color: #514F4E; font-size: 18px; font-weight: bold; text-align: left; text-decoration: none;"><img
                                                        src="{{ serverHost }}{{ asset('atlas_logo.png') }}"
                                                        style="max-width: 150px" alt=""/></a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- // END #preheader -->

                <table width="600" border="0" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" id="header_container">
                    <tr>
                        <td align="center" valign="top">
                            <table width="100%" border="0" bgcolor="#bbbbbbb" cellspacing="0" cellpadding="0"
                                   id="header">
                                <tr>
                                    <td valign="top" class="header_content">
                                        <h1 style="color: #ffffff; font-size: 22px; text-align: center;">
                                            Witaj {{ user.username }}</h1>
                                    </td>
                                </tr>
                            </table>
                            <!-- // END #header -->
                        </td>
                    </tr>
                </table>
                <!-- // END #header_container -->

                <table width="600" border="0" bgcolor="#fff" cellspacing="0" cellpadding="20" id="body_container">
                    <tr>
                        <td style="    border-left: 1px solid #bbbbb0;
    border-right: 1px solid #bbbbb0;" align="center" valign="top" class="body_content">
                            <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                <tr>
                                    <td valign="top">
                                        <p style="margin: 7px 0;color: black; font-size: 18px; line-height: 22px; text-align: left;">
                                            Aby zresetować hasło kliknij w poniższy link:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div>
                                            <a href="{{ confirmationUrl }}">
                                                Resetuj hasło
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <p style="margin: 7px 0;color: black; font-size: 18px; text-align: left;">
                                            W przypadku problemów prosimy o wysłanie maila na adres: helpdesk@starter24.pl</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <p style="margin: 7px 0;color: black; font-size: 18px; text-align: left;">
                                            Zapraszamy do korzystania z naszej aplikacji.</p>
                                        <br>
                                        <p style="margin: 7px 0;color: black; font-size: 18px; text-align: left;">
                                            Pozdrawiamy</p>
                                        <p style="margin: 7px 0;color: black; font-size: 18px; line-height: 22px; text-align: left;">
                                            Starter24</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- // END #body_container -->

                <table style="margin-bottom: 60px" width="600" border="0" bgcolor="#3B3F51" cellspacing="0"
                       cellpadding="20" id="contact_container">
                    <tr>
                        <td style="padding:0;" align="center" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="20" id="contact">
                                <tr>
                                    <td valign="top">
                                        <h2 style="color: #ffffff; font-size: 18px; text-align: center;">Adres</h2>
                                        <p style="margin: 5px 0; color: #ffffff; font-size: 14px; line-height: 18px; text-align: center;">
                                            Starter24 Sp. z o.o.</p>
                                        <p style="margin: 5px 0; color: #ffffff; font-size: 14px; line-height: 18px; text-align: center;">
                                            ul. Józefa Kraszewskiego 30</p>
                                        <p style="margin: 5px 0; color: #ffffff; font-size: 14px; line-height: 18px; text-align: center;">
                                            60-519 Poznań</p>
                                    </td>
                                    <td valign="top">
                                        <h2 style="color: #ffffff; font-size: 18px; text-align: center;">Kontakt</h2>
                                        <p style="margin: 5px 0; color: #ffffff; font-size: 14px; line-height: 18px; text-align: center;">
                                            <strong>Tel:</strong> 61 831 98 01</p>
                                    </td>
                                </tr>
                            </table>
                            <!-- // END #contact -->
                        </td>
                    </tr>
                </table>
                <!-- // END #contact_container -->


                <!-- // END #footer_container -->
            </td>
        </tr>
    </table>
    <!-- // END #background -->
    </body>
{% endblock %}