<div id="dynamic-translations-html">
    <form id="dynamic-translations-form" class="form-horizontal"
          action="{{ path('ajaxTextFormTranslation', {'key' : key}) }}" method="POST" novalidate>

        <div id="form-errors">
            {{ form_errors(form) }}
        </div>

        <div class="calls">
            <div class="row" data-prototype="{{ form_widget(form.keys.vars.prototype)|e('html_attr') }}">

                {% for key in form.keys %}
                    <div class="key-form" data-id="{{key.vars.value.id}}">

                        {{ form_row(key.validation) }}
                        {{ form_row(key.text) }}

                        <div class="col-md-12">
                            {{ form_row(key.delete) }}
                        </div>

                    </div>
                {% endfor %}

            </div>
            <div class="form-actions">
                <button type="button"
                        class="btn btn-primary add_new_form">  {{ 'add_new'|trans|desc('Dodaj nowy')|capitalize }}</button>
                <button type="submit" id="form-submit" class="btn green">
                    {{ 'submit'|trans|desc('zapisz')|capitalize }}
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
