{% set name = name is defined ? name : '' %}

<div id="removal-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'Potwierdzenie usunięcia rekordu'|trans }}</span>
            </div>
            <div class="modal-body">
                <p>{{ 'Czy na pewno usunąć'|trans }}: <b>{{ name }}</b>?</p>
            </div>
            <div class="modal-footer">
                <button id="cancel-modal" type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>
                <button id="confirm-modal" type="button" class="btn btn-danger"><i
                            class="fa fa-check"></i> {{ 'confirm'|trans|desc('potwierdź')|capitalize }}</button>
            </div>
        </div>
    </div>
</div>