{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'Narzędzia'|trans()|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}
    {% include '@Tool/Default/tool/partials/modals/tool-edit-builder.html.twig' %}

    {% if not emptyAutoGenerator %}
        {% include '@Tool/Default/tool/partials/modals/tool-edit-auto-generator.html.twig' %}
    {% endif %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminToolEditorMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <a href="{{ path('admin_tool_form_field_editor', {'toolId' : tool.id}) }}"
               class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
                <i class="fa fa-plus"></i>
                {{ 'form.add_field'|trans|desc('dodaj pole formularza')|capitalize }}
            </a>

            <a class="btn btn-sm green-meadow xs-full pull-right auto-generator-trigger {{ (emptyAutoGenerator) ? 'tooltips' : '' }}"
               {% if emptyAutoGenerator %}
                   data-placement="bottom"
                   data-original-title="{{ 'form.all_field_added'|trans|desc('Wszystkie pola formularza są dodane') }}"
                   disabled="disabled"
               {% endif %}
               style="margin-right: 10px;">
                <i class="fa fa-magic"></i>
                {{ 'autogenerator'|trans|capitalize }}
            </a>

            <a class="btn btn-sm purple xs-full pull-right form-builder-trigger" style="margin-right: 10px;">
                <i class="fa fa-edit"></i>
                {{ 'form.constuctor'|trans|desc('konstruktor formularza')|capitalize }}
            </a>

            <div class="clearfix"></div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-vam">
                    <thead>
                    <tr>
                        <th class="fit">#</th>
                        <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                        <th>{{ 'description'|trans|desc('opis')|capitalize }}</th>
                        <th>{{ 'type'|trans|desc('typ')|capitalize }}</th>
                        <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in tool.formFields if entity.id %}
                        <tr>
                            <th scope="row" class="fit">{{ entity.id }}</th>
                            <td class="entity-name">{{ entity.columnName }}</td>
                            <td class="entity-name">{{ entity.label }}</td>
                            <td class="entity-name">{{ entity.type }}</td>
                            <td class="fit">
                                <a href="{{ path('admin_tool_form_field_editor', {'toolId': tool.id, 'id': entity.id}) }}"
                                   class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#"
                                   class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                                   title="{{ 'delete'|trans|desc('usuń')|title }}"
                                   data-url="{{ path('admin_tool_form_field_delete', {'id': entity.id}) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <form id="admin-tool-editor-form" class="form-horizontal" action="" method="POST" novalidate>

                {{ form_errors(form) }}
                {{ form_widget(form) }}
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">
                                {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}

    <script src="{{ asset('bundles/web/js/form-builder-script.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/Sortable.js') }}"></script>
    <script>
        (function($, window, document) {

            $(function() {

                var fields = [];

                {% for field in tool.formFields %}
                    var newField = {};
                    newField['label'] = '{{ field.label }}';
                    newField['name'] = '{{ field.columnName }}';
                    newField['id'] = '{{ field.id }}';
                    fields.push(newField);
                {% endfor %}

                $('.form-builder-trigger').on('click', function () {
                    $('#tool-edit-builder-modal').modal();
                    setTimeout(function () {
                        $('.form-builder-init').atlasFormBuilder({
                            linkedArr : fields
                        });
                    }, 500);
                });


                {% if not emptyAutoGenerator %}
                    var autoGeneratorModal = $('#tool-edit-auto-generator-modal');

                    $('.auto-generator-trigger').on('click', function () {
                        autoGeneratorModal.modal();
                    });

                    var l = Ladda.create(autoGeneratorModal.find('.ladda-button')[0]);

                    autoGeneratorModal.find('form').on('submit', function () {
                        l.start();
                    });

                    $('#atlas_tool_auto_generator').on('change', 'select', function () {

                        l.start();

                        var $t = $(this),
                            formName = 'atlas_tool_auto_generator[formFields][_INDEX_]',
                            formOneName = 'atlas_tool_form_field',
                            form = $t.closest('form'),
                            data = {};

                        data['atlas_tool_form_field[type]'] = $t.val();

                        $.ajax({
                            url: Routing.generate('admin_tool_form_field_editor', {'toolId' : '{{ tool.id }}'}),
                            type: 'POST',
                            data: data,
                            success: function (html) {

                                var fields = $(html).find('#dynamic-fields').html();
                                var block = $t.closest('.form-field-block');
                                var name = formName.replace(/_INDEX_/g, (block.index() - 1 ) );

                                fields = fields.replace(new RegExp(formOneName, 'g'), name);

                                $t.closest('.form-field-block').find('.dynamic-fields').html(fields)

                            },
                            complete: function () {
                                l.stop();
                            }
                        });
                    }).on('change', 'input[id*="_addIt"]', function (e) {
                        if($(this).is(':checked'))
                        {
                            $(this).closest('.row').find('input[id*="_label"]').prop('required', true);
                        }
                        else {
                            $(this).closest('.row').find('input[id*="_label"]').prop('required', false);
                        }
                    });

                {% endif %}
            });



        }(window.jQuery, window, document));
    </script>
{% endblock %}