{#{% set path = pathToWeb %}#}
{% set path = serverHost %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    {% block header_style %}
        <link rel="stylesheet" type="text/css"  href="{{ path }}/bundles/web/css/vendor/bootstrap/bootstrap.min.css" >
    {% endblock %}
</head>
<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
