{% extends '@Web/ApiTemplate/base_template.html.twig' %}

{% block header %}
     <div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">
         <div class="row">
            <div class="col-xs-9 text-left">
                <h3>___TITLE___ ___CASEID___</h3>
            </div>
            <div class="col-xs-3">
                <img style="display: inline-block; max-width: 100%" src="{{ path }}/images/email_assets/starter24.png" alt="Logo starer">
            </div>
        </div>

         <div class="row" style="padding-top: 30px;">
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-2">
                       <b>Do:</b>
                    </div>
                    <div class="col-xs-10">
                        ___PARTNER_LOCATION___
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                       <b>Od:</b>
                    </div>
                    <div class="col-xs-10">
                        <p>
                            Starter24 Sp. z o.o.
                            {#___AGENT_NAME___#}
                        </p>
                        <p><b>Telefon kontaktowy dla Państwa: +48 61 83 19 894</b></p>
                        <p>Infolinia dla Klienta: ___HELPLINE___</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                       <b>Data:</b>
                    </div>
                    <div class="col-xs-10">
                        ___DATE_TIME___
                    </div>
                </div>
            </div>
             <div class="col-xs-4">
                 <div class="row text-right">
                     <div class="col-xs-12">
                         <h5>___PLATFORM_NAME___ Assistance</h5>
                     </div>
                     <div class="col-xs-12">
                         ___STARTER_EMAIL___
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="border-top: 1px #000 dotted; padding-top: 15px; padding-bottom: 15px;">
            <div class="col-xs-10 col-xs-offset-1">
                ___CONTENT___

            </div>
        </div>

        {#<div class="row" style="border: 1px #000 dotted; border-width: 1px 0 0 0; padding-top: 10px; padding-bottom: 10px">#}
            {#<div class="col-xs-12">#}
                {#<p><b>Dodatkowe uwagi:</b></p>#}
            {#</div>#}
            {#<div class="col-xs-10 col-xs-offset-1">#}
                {#___EXTRA_CONTENT___#}
            {#</div>#}
        {#</div>#}
    </div>

{% endblock %}

{% block footer %}
    <div class="container-fluid">
        <div class="row" style="border: 1px #000 dotted; border-width: 1px 0; padding-top: 10px; padding-bottom: 10px">
            <div class="col-xs-6">
                <p><b>Dane do wystawienia faktury:</b></p>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2">
                        Starter24 Sp. z o.o.<br>
                        ul. Józefa Kraszewskiego 30<br>
                        60-519 Poznań<br>
                        NIP: 525-21-83-310<br>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="border-left: 1px #000 dotted">
                <p><b>Fakturę prosimy wysyłać na adres:</b></p>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2">
                        Starter24 Sp. z o.o.<br>
                        ul. Józefa Kraszewskiego 30<br>
                        60-519 Poznań<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-xs-12 small">
                <ul style="list-style: none">
                    <li>1) Jako nabywcę faktury prosimy wpisać nazwę wymienioną obok pozycji „Dane do wystawienia faktury:”, natomiast fakturę prosimy wysłać na adres: Starter24 Sp. z o.o., ul. Józefa Kraszewskiego 30, 60-519 Poznań.
                    </li>
                    <li>2) Koniecznym załącznikiem do faktury jest niniejsza gwarancja płatności oraz RZW.</li>
                    <li>3) Fakturę z załącznikami należy przesłać do firmy Starter24 w ciągu 5 dni od daty wykonania usługi.</li>
                    <li>4) Niespełnienie powyższych warunków może spowodować wstrzymanie płatności za usługę.</li>
                    <li>5) W przypadku zmiany kwoty gwarancji - kolejna gwarancja anuluje poprzednie.</li>
                    <li>6) Płatność nastąpi w ciągu 30 dni od otrzymania faktury.</li>
                    <li>7) W przypadku wynajmu auta prosimy o zaznaczenie na Państwa fakturze, czy wynajmowany samochód posiadał homologację auta ciężarowego.</li>
                    <li>8) Niedotrzymanie powyższych warunków może opóźnić lub wstrzymać płatność za usługę.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}