$mint: #1BBC9B;
$orange: #face18;
$violet: #8775a7;
$red: #e43a45;
/*$blue: #32c5d2;*/
$blue: #3c7091;
$grey: #474b5b;
$checked-color: $blue;
$unchecked-color: #ccc;
$checkbox-height: 15px;
$background-color: #fff;
$font-color: #efefef;
$duration: .5s;

html, body, .wrapper, .page-container, #page-main-content {
  background-color: #3b3f51;
  height: 100%;
}

.loader {
  height: 65px;
  width: 65px;
  display: inline-block;
}
.page-container {
  padding: 0;
  margin: 0 !important;
}

#success-find {
  position: absolute;
  display: none;
  top: 40px;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 10000;
  span {
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    background-color: #3b3f51;
    color: #fff;
    font-size: 18px;
  }
}

#page-main-content {
  display: none;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 0 auto;
  p {
    color: #fff;
    font-size: 18px;
  }
}

#map {
  width: 100%;
  height: 100%;
  display: none;
  //width: 500px;
  //height: 300px;
  position: relative;
}


@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ball-spin-fade-loader {
  position: relative;
  top: 20px;
  left: 20px;
}

.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s -0.96s infinite linear;
  animation: ball-spin-fade-loader 1s -0.96s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s -0.84s infinite linear;
  animation: ball-spin-fade-loader 1s -0.84s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s -0.72s infinite linear;
  animation: ball-spin-fade-loader 1s -0.72s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s -0.6s infinite linear;
  animation: ball-spin-fade-loader 1s -0.6s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s -0.48s infinite linear;
  animation: ball-spin-fade-loader 1s -0.48s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s -0.36s infinite linear;
  animation: ball-spin-fade-loader 1s -0.36s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s -0.24s infinite linear;
  animation: ball-spin-fade-loader 1s -0.24s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s -0.12s infinite linear;
  animation: ball-spin-fade-loader 1s -0.12s infinite linear;
}

.ball-spin-fade-loader > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100% !important;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.08));
}

.debugger-box {

  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 50%;
  overflow: auto;

}


.map-monitoring {

  width: 100%;
  height: 100%;
  margin:0;
  padding:0;

  .body-wrapper {
    width: 100%;
    height: 100%;
  }

  .map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  #map-handler {
    width: 100%;
    height: 100px;

    .emapi-control-actionPanel {
      display: none;
    }

    .contextMenu {
      .emapi-control-contextMenu-AddFromPoint,
      .emapi-control-contextMenu-AddViaPoint,
      .emapi-control-contextMenu-AddToPoint,
      .emapi-control-contextMenu-AddToPoint + .emapi-control-contextMenu-Divider
      {
        display: none;
      }
    }

    .leaflet-marker-pane {

      .RR_Via {
        display: none;
      }

      .RR_Flag {
        width: 32px;
        height: 37px;
        margin: -37px -16px;
      }

      .RR_Start {
        display: none;
        background-image: url("http://atlasdev.starter24.pl/images/map/point.png");
      }

      .RR_Stop {
        display: none;
        background-image: url("http://atlasdev.starter24.pl/images/map/caution.png");
      }

    }
  }

  .info-map-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    height: 50%;
    left: 0;
    right: 0;
    -moz-transition:    top 0.5s ease;
    -o-transition:      top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    transition:         top 0.5s ease;
    .portlet {
      height: 100%;
    }
    .tab {
      position: absolute;
      bottom: 100%;
      background-color: #fff;
      border: 1px #252831 solid;
      border-width: 1px 1px 0 0;
      width: 20%;
      text-align: center;
    }
    .tab-header {
      font-size: 16px;
      color: #252831;
      > div {
        cursor: pointer;
      }
      .hide-info {
        display: none;
      }
    }
    .content {
      border-top: 1px #252831 solid;
      overflow-y: auto;
      overflow-x: hidden;
      tr td {
        font-weight: 600;
      }
    }
    &.shown {
      .tab-header {
        .show-info {
          display: none;
        }
        .hide-info {
          display: block;
        }
      }
    }
  }

  .swal-overlay.swal-overlay--show-modal {
    z-index: 5;
  }

  .brand-logo {
    z-index: 3;
    background-color: #fff;
    padding: 5px;
    position: fixed;
    top: 5px;
    right: 5px;
    max-width: 30%;
    border: 1px #252831 solid;
    .brand-logo-inner {
      max-width: 200px;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }

}


@media screen and (min-width: 768px) and (max-width: 1280px) {
  .map-monitoring {
    .info-map-wrapper {
      .tab {
        width: 50%;
      }
    }
  }
}


@media only screen and (max-width: 768px) and (min-width: 320px) {
  .map-monitoring {
    .info-map-wrapper {
      .tab {
        width: 100%;
        border-width: 1px 0 0 0;
      }
    }
  }
}