{% macro partialTranslations(form, fieldsNames, displayTab = true) %}
    <div class="a2lix_translations tabbable">
        {% if displayTab %}
            {{ _self.displayTabs(form) }}
        {% endif %}

        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div class="{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}">
                    {% for translationsField in translationsFields if translationsField.vars.name in fieldsNames %}
                        {{ form_row(translationsField) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro displayTabs(form) %}
    <ul class="a2lix_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li {% if app.request.locale == locale %}class="active"{% endif %}>
                <a href="#" data-toggle="tab"
                   data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                    {{ locale|upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}