{% for key, file in files %}

    {{ ((key % 6)==0) ? '<div class="row m-t-2">' : '' }}

    <div class="col-sm-2 mt-element-overlay">
        <div class="mt-overlay-4 mt-overlay-4-icons">
            <img src="{{ file.url }}">
            <div class="mt-overlay">
                <h2>{{ file.name }}</h2>
                <ul class="mt-info">
                    <li>
                        <a class="btn default btn-outline select-image" href="javascript:;" data-url="{{ file.url }}">
                            <i class="fa fa-check"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-danger btn-outline remove-image" href="javascript:;" data-name="{{ file.name }}">
                            <i class="fa fa-remove"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{ ((key % 6)==5 or loop.last) ? '</div>' : '' }}

{% endfor %}
