<div class="file-manager-wrapper">
    <div class="upload-file-widget">
        <div class="atlas-upload-file-wrapper"
             data-url="{{ oneup_uploader_endpoint('blog_file_manager') }}">
            <div class="inbox-form-group hidden">
                <div class="controls-row">
                    <input type="text" class="form-control uploaded-files" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 action-btn">
                    <span class="btn btn-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'inbox.add_files'|trans|desc('dodaj pliki')|capitalize }}</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                </div>
                <div class="col-xs-9 presentation-col">
                    <table role="presentation" class="table table-striped">
                        <tbody class="files">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="file-list m-t-2">
            {{ include('@Web/Utils/upload_file_list.html.twig', {"files" : files}) }}
        </div>
    </div>
</div>