<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">
    <tr>
        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
    </tr>
    <tr>
        <td height="40" style="border-top: 1px solid #e0e0e0;font-size: 40px; line-height: 40px;">&nbsp;</td>
    </tr>
    <tr>
        <td height="20" style="font-size: 20px; line-height: 20px;">
            <table style="font-family: &#39;Work Sans&#39;, Calibri, sans-serif;" border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590 bg_color">
                <tr>
                    <td>
                        Kind regards,<br>
                        Call Center Team of Starter24,<br>
                        ARC Europe’s Service Partner in Poland<br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <table style="font-family: &#39;Work Sans&#39;, Calibri, sans-serif;" border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590 bg_color">
                <tr>
                    <td style="padding: 5px;border: 1px solid black;">
                        <b>CAC Fax Number for reporting:</b>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;border-width:0px 1px 0px 1px;border-style:solid;border-color:grey">
                        Czech Republic: +420 296 335604
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;border-width:0px 1px 0px 1px;border-style:solid;border-color:grey">
                        Hungary: +36 1235 5304
                    </td>
                </tr>
                           <tr>
                    <td style="padding: 5px;border-width:0px 1px 0px 1px;border-style:solid;border-color:grey">
                        Luxembourg: +352 (0)29 69 695612
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;border-width:0px 1px 0px 1px;border-style:solid;border-color:grey">
                        Poland: +48 22 354 4007
                    </td>
                </tr>
                           <tr>
                    <td style="padding: 5px;border-width:0px 1px 0px 1px;border-style:solid;border-color:grey">
                        Slovakia: +421 25010 2604
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;border-width:0px 1px 1px 1px;border-style:solid;border-color:grey">
                        Ireland: +44 (0)207 975 7072
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
    </tr>
</table>