<tr>
    <td>
        <img width="100%" src="{{ serverHost }}/images/email_assets/starter-footer-logo.png" alt="">
    </td>
</tr>
<tr>
    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
</tr>
<tr>
    <td>
        <table style="font-family: &#39;Work Sans&#39;, Calibri, sans-serif;" border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590 bg_color">
            <tr>
                <td width="30%" valign="top">Starter24 sp. z o.o.<br>
                    ul. Józefa Kraszewskiego 30<br>
                    60-519 Poznań, POLAND<br></td>
                <td width="10%" height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                <td width="60%">wpisana przez Sąd Rejonowy w Poznaniu, VIII Wydział Gospodarczy Krajowego Rejestru Sądowego, KRS: 0000056095; kapitał zakładowy: 12 500 000,00 zł; NIP: 525-21-83-310; REGON: 016387736</td>

            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table border="0" align="justify" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
            <tr>
                <td class="hide" height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
            </tr>
            <tr>
                <td class="hide" height="45" style="text-align: justify; font-size: 12px; line-height: 14px; color: #888888; font-family: &#39;Work Sans&#39;, Calibri, sans-serif;">
                    Niniejsza wiadomość oraz wszystkie załączone do niej pliki przeznaczone są do wyłącznego użytku zamierzonego adresata i mogą zawierać chronione lub poufne informacje. Przeglądanie, wykorzystywanie, ujawnianie lub dystrybuowanie przez osoby do tego nieupoważnione jest zabronione. Jeśli nie jest Pan/Pani wymienionym adresatem niniejszej wiadomości, prosimy o niezwłoczny kontakt z nadawcą i usunięcie oryginalnej wiadomości oraz zniszczenie wszystkich jej kopii.<br><br>
                    The information in this email is confidential and may be legally privileged. It is intended solely for the addressee. Access to this email by anyone else is unauthorized. If you are not the intended recipient, any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. If you received this email as the unintended recipient, please inform the sender and delete this message.
                </td>
            </tr>
        </table>
    </td>
</tr>