<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">
    <tr>
        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
    </tr>
    <tr>
        <td height="40" style="border-top: 1px solid #e0e0e0;font-size: 40px; line-height: 40px;">&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <table style="font-family: &#39;Work Sans&#39;, Calibri, sans-serif;" border="0" align="center" width="720" cellpadding="0" cellspacing="0" class="container590 bg_color">
                <tr>
                    <td>
                        Kind regards,<br>
                        Call Center Team of Starter24,<br>
                        ARC Europe’s Service Partner in Poland<br>
                    </td>
                </tr>
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>+48 61 83 19 885<br>arc@starter24.pl</td>
                </tr>
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                {{ include('@Mailbox/EmailTemplate/ModernEmailTemplate/footer.html.twig') }}
            </table>
        </td>
    </tr>

    <tr>
        <td height="60" style="font-size: 60px; line-height: 60px;">&nbsp;</td>
    </tr>

</table>