<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
<meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
<!--[if !mso]>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
<!-- <![endif]-->
<style type="text/css">
    body,html{width:100%}body{background-color:#fff;margin:0;padding:0;-webkit-font-smoothing:antialiased;mso-margin-top-alt:0;mso-margin-bottom-alt:0;mso-padding-alt:0}h1,h2,h3,h4,p{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0}span.preheader{display:none;font-size:1px}table{font-size:14px;border:0}@media only screen and (max-width:640px){.container590,.divider img,.main-image img{width:440px!important}.main-header{font-size:20px!important}.main-section-header{font-size:28px!important}.show{display:block!important}.hide{display:none!important}.align-center{text-align:center!important}.no-bg{background:0 0!important}.main-image img{height:auto!important}.container580{width:400px!important}.main-button{width:220px!important}.section-img img{width:320px!important;height:auto!important}.team-img img{width:100%!important;height:auto!important}}@media only screen and (max-width:479px){.container590,.divider img{width:280px!important}.main-header{font-size:18px!important}.main-section-header{font-size:26px!important}.container580{width:260px!important}.section-img img{width:280px!important;height:auto!important}}
</style>
<!-- [if gte mso 9]>
<style type=”text/css”>
    body {
        font-family: arial, sans-serif !important;
    }
</style>
<![endif]-->
