{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div id="file-manager-modal" class="modal fade wide" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-label">Menadżer plików</span>
                </div>
                <div class="modal-body">

                </div>
                {#<div class="modal-footer">#}
                    {#<button id="cancel-modal" type="button" class="btn btn-default" data-dismiss="modal"><i#}
                                {#class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>#}
                    {#<button id="confirm-modal" type="button" class="btn btn-danger"><i#}
                                {#class="fa fa-check"></i> {{ 'confirm'|trans|desc('potwierdź')|capitalize }}</button>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_user_group_editor', {'id' : entity.id}) }}">
                <span class="caption-subject bold">
                    {{ 'post'|trans|desc('Post')|capitalize~': '~entity.title }}
                </span>
            </a>
        </div>
    </div>

    {#<form id="user-group-form" class="form-horizontal" action="" method="POST" enctype='multipart/form-data' >#}
    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.document) }}

        <div class="clearfix"></div>
        <div class="email-preview-wrapper form-group">
            <div class="col-sm-3"></div>
            {% if entity.document %}
                <div class="col-sm-9">
                    {% for file in entity.document.files %}
                        <div class="inbox-attached-item col-md-2">
                            <div class="icon"><i class="fa-3x fa-stack {{ file.getIconClass() }}"></i></div>
                            <span class="name">{{ file.name }}</span>
                            <div class="for-download">
                                <a href="{{ url('admin_file_delete', {id: file.id}) }}">
                                    <i class="fa fa-trash fa-stack"></i> <span class="size">{{'delete'|trans|desc('usuń')|capitalize }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form_row(form.type) }}

        <div class="clearfix"></div>
        <div class="form-actions m-t-1">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

    {{ form_end(form) }}

    </form>

{% endblock %}

{% block extrascripts %}
    {% include 'AppBundle:Admin:post/partials/post-scripts.html.twig' %}
{% endblock %}