.block-img {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto
}

.table {
    font-size: 12px;
}

.address {
    font-size: 12px;
    line-height: 14px;
}

table.table-custom tr td {
    padding: 1px 3px;
    font-size: 11px;
    line-height: 13px;
}

table.table-custom {
    margin: 5px 0;
}

.no-break-text {
    white-space: nowrap;
}

.narrow-td {
    width: 30%
}

/*
CUSTOM CHECKBOX
 */

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-weight: 300;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #000;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*
CUSTOM RADIO
 */

.radio-container {
    display: inline-block;
}

/* Create a custom radio button */
.container [type="radio"]+.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* Style the indicator (dot/circle) */
.container [type="radio"]+.checkmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
}