html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.starter24-wrapper-content {
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center-align {
    text-align: center;
}

.header {
    width: 100%;
}

.header .logo-starter,
.header .header-text,
.header .logo-arc-europe {

}

.header .logo-starter {
    width: 20%;
    padding: 0 10px;
}

.header .header-text {
    width: 60%;
    font-weight: 700;
}

.header .header-text p {
    font-size: 20px;
}

.header .logo-arc-europe {
    width: 20%;
    padding: 0 10px;
}

.block-img {
    display: block;
    max-width: 100%;
    margin: 0 auto
}

.header-caption {
    padding-top: 20px;
}

.header-caption p {
    font-size: 16px;
}

.request-info {
    padding-top: 20px;
}

.div-table:after {
    content: "";
    display: table;
    clear: both;
}

.div-table {
    width: 100%;
}

.div-table .row-table {
    border: 1px #000 solid;
}

.div-table .row-table:after {
    content: "";
    display: table;
    clear: both;
}

.div-table .col-table {
    float: left;
    padding: 2px;
    border-right: 1px #000 solid;
}

.div-table .col-table:last-child {
    border-width: 0;
}

.div-table .col-table .label {
    display: inline-block;
    width: 50px;
}

.div-table .col-table .value {
    display: inline-block;
    font-weight: 700;
}

.main-table {
    padding-top: 5px;
}

.right-table {
    float: right;
}

.left-table {
    float: left;
}

.main-table .div-table .col-table.width-25 {
    background-color: #ccc;
}

.width-25 {
    width: 25%;
}

.width-75 {
    width: 75%;
}

.width-48 {
    width: 48%;
}