<div id="flash-messages">
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="alert alert-info m-b-1" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info-circle m-r-2"></i>{{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="alert alert-success m-b-1" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info-circle m-r-2"></i>{{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger m-b-1" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info-circle m-r-2"></i>{{ flash_message }}
        </div>
    {% endfor %}
</div>