<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">

        <div class="page-logo">
            <a class="brand" href="{{ path('dashboard') }}">
                <img src="{{ asset('atlas_logo.png') }}" alt="">
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler sidebar-mobile-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"></a>
        <div class="custom-tooltip-wrapper touch-only wow fadeIn">
            <div data-wow-duration="3s" data-wow-iteration="999" data-wow-delay="2s" class="tooltip-drag wow wobble"></div>
            <div data-wow-duration="1s" data-wow-delay="0.7s" class="tooltip-drag-text wow fadeIn">Kliknij aby ukryć podpowiedź</div>

        </div>
        <div class="page-actions">
            {{ knp_menu_render('userTopMenu', {
                'depth': 1,
                'currentClass': 'active',
                'template': 'WebBundle:Menu:knp_menu.html.twig'
            }) }}
        </div>
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include '@User/Default/partials/user-top-menu.html.twig' %}
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <li class="dropdown dropdown-extended">
                        <a href="{{ path('fos_user_security_logout') }}" id="logout">
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                    {% endif %}
                </ul>

                {% if phoneOn %}
                    <ul class="navbar-nav pull-right jabber-voice-top-bar">
                        {% include '@Jabber/Components/phone-top-panel.html.twig' %}
                    </ul>
                {% endif %}

                {% if disablePhoneModule == 1 %}
                    <ul class="navbar-nav pull-right jabber-voice-top-bar" style="margin-top: 7px;">
                        {% include '@Jabber/Components/disabled-phone-top-panel.html.twig' %}
                    </ul>
                {% endif %}

                <div class="custom-chart-tooltip-wrapper touch-only wow fadeIn">
                    <div data-wow-duration="3s" data-wow-iteration="999" data-wow-delay="1s" class="chart-tooltip-drag wow wobble"></div>
                    <div data-wow-duration="1s" data-wow-delay="0.3s" class="chart-tooltip-drag-text wow fadeIn">Kliknij aby ukryć podpowiedź</div>

                </div>
                <ul class="navbar-nav pull-right" id="summary-tools">
                    <div class="mini-spinner" >
                        <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                    </div>
                    {#{{ render(controller('ToolBundle:ToolSummary:renderSummaryTools')) }}#}
                </ul>

            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->

    </div>
    <!-- END HEADER INNER -->
</div>
