{% for summaryTool in summaryTools %}
    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
        {% if summaryTool.user or (not summaryTool.user and is_granted("ROLE_ADMIN")) %}
            <a data-url="{{ path('tool_summary_remove', {'id' : summaryTool.id}) }}" class="btn red micro-remove-btn remove-tool-summary" >
                <i class="fa fa-trash-o"></i>
            </a>
        {% endif %}
        <a data-filters="{{ summaryTool.filters }}" href="{{ path('tool_show', {'toolId' : summaryTool.tool.id}) }}{% if summaryTool.filters %}#{{ summaryTool.filters }}{% endif %}"
           class="dropdown-toggle tooltips summary-link"
           data-placement="bottom"
           {% if summaryTool.description %}
               data-original-title="({{ summaryTool.tool.name }}) {{ summaryTool.description }}"
           {% else %}
               data-original-title="({{ summaryTool.tool.name }}) {% if summaryTool.columnName %}{{ 'tool.summary_column'|trans|desc('sumowanie kolumny') }}: {{ summaryTool.columnName }}{% else %}{{ 'tool.summary_rows'|trans|desc('zliczenie wierszy') }}{% endif %}"
           {% endif %}
        >
            {% if summaryTool.tool.icon %}
                {{ summaryTool.tool.icon | raw }}
            {% else %}
                <i class="fa fa-area-chart"></i>
            {% endif %}

            <span class="badge badge-success" style="background-color: {{ summaryTool.tool.color }}"> {{ summaryTool.value }} </span>
        </a>
    </li>
{% endfor %}