{% if parseText is not defined %}
    {% set parseText = '"{@253*@}" == "1"' %}
{% endif %}

{% if processInstanceId is not defined %}
    {% set processInstanceId = '435424' %}
{% endif %}

<form action="{{ path('admin_helper_parse_string') }}" method="post" id="parser-parameters">

    <div class="form-group clearfix">
        <div class="col-sm-7">
            <label for="parser-parameter"
                   class="control-label">{{ 'helper_admin_parameters'|trans|desc('Parametry')|capitalize }}:</label>
            <input type="text" id="parser-parameter" name="string" class="form-control" placeholder=""
                   value='{{ parseText }}'>
        </div>

        <div class="col-sm-3">
            <label for="parser-group-id"
                   class="control-label">{{ 'process_instance_id'|trans|desc('Process Instance Id')|capitalize }}
                :</label>
            <input type="text" id="parser-group-id" name="processInstanceId" class="form-control"
                   value="{{ processInstanceId }}">
        </div>

        <div class="col-sm-2">
            <button style="margin-top: 24px;" type="submit" data-style="zoom-in" data-size="s"
                    class="btn green ladda-button bind-spinner">
                <span class="ladda-label">{{ 'parse'|trans|desc('parsuj')|capitalize }}</span>
            </button>
        </div>

    </div>
    <div class="form-group">
        <div id="parser-result">
            <div class="clearfix">
                <div class="col-md-12">
                    <textarea class="form-control" id="parser-result-area" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="clearfix m-t-1">
                <div class="col-md-2">
                    <strong>Parser value:</strong>
                </div>
                <div class="col-md-10">
                    <div class="parser-value">

                    </div>
                </div>
            </div>
            <div class="clearfix m-t-1">
                <div class="col-md-2">
                    <strong>Compiled value:</strong>
                </div>
                <div class="col-md-10 ">
                    <div class="compiled-value">

                    </div>
                </div>
            </div>
            <div class="clearfix m-t-1">
                <div class="col-md-2">
                    <strong>Evaluate value:</strong>
                </div>
                <div class="col-md-10 ">
                    <div class="evaluate-value">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>"use strict";

    $(function () {
        setTimeout(function () {
            parserParametersHandle();
        }, 10)
    });

    function parserParametersHandle() {

        var $form = $('#parser-parameters');
        var $parserParameters = $('#parser-parameters');
        var l = Ladda.create($form.find('button')[0]);

        $form.on('submit', function (e) {
            e.preventDefault();
            var $this = $(this);
            l.start();
            $.ajax({
                url: Routing.generate('admin_helper_parse_string'),
                type: "POST",
                data: $this.serialize(),
                success: function (response, text, xhr) {

                    displayDebugTokenLink(xhr);

                    if (response.errorMessage) {
                        toastr.error(response.errorMessage, 'Błąd parsowania.');
                    } else {

                        $("#parser-result-area").val(response.parsedValue);
                        $parserParameters.find('.parser-value').html(response.parsedValue);

                        if (response.evaluateErrorMessage) {

                            $parserParameters.find('.evaluate-value').html(response.evaluateErrorMessage);
                            $parserParameters.find('.evaluate-value').html("");
                            $parserParameters.find('.evaluate-value').addClass('label-warning');

                        } else {

                            if (typeof response.evaluateValue === "object") {

                                var html = '<p class="m-y-0"><strong>Object was returned.</strong></p>';

                                $.each(response.evaluateValue, function (key, value) {
                                    html += '<p class="m-y-0"><strong>' + key + ': </strong> ' + value + '</p>';
                                });

                                $parserParameters.find('.evaluate-value').html(html);

                            } else {
                                $parserParameters.find('.evaluate-value').html(response.evaluateValue);
                            }

                            $parserParameters.find('.compiled-value').html(response.compiled);
                            $parserParameters.find('.evaluate-value').removeClass('label-warning');
                        }

                    }

                    l.stop();
                },
                complete: function () {
                    l.stop();
                }
            });
        });

        $form.trigger('submit');
    }

</script>