<form action="{{ path('admin_helper_parse_string') }}" method="post" id="task-jump">

    <div class="form-group clearfix">
        <div class="col-sm-3">
            <label for="parser-group-id"
                   class="control-label">{{ 'process_instance_id'|trans|desc('Process Instance Id')|capitalize }}
                :</label>
            <input type="text" id="task-instance-id" name="processInstanceId" class="form-control"
                   placeholder="">
        </div>
        <div class="col-sm-2">
            <button style="margin-top: 24px;" type="submit" data-style="zoom-in" data-size="s"
                    class="btn green ladda-button bind-spinner">
                <span class="ladda-label">{{ 'go'|trans|desc('Przejdź')|capitalize }}</span>
            </button>
        </div>

    </div>
</form>


<script type="text/javascript">

    $('#task-jump').on('submit',function (event) {
        event.preventDefault();
        var taskID = $('#task-instance-id').val();
        var url = Routing.generate('operational_dashboard_index', {
            action: 'telephony-pick-up',
            process_instance: taskID,
            isforce: true
        }, true);
        if (taskID.length > 0) {
            window.location.href = url
        }
    })



</script>