{% extends "WebBundle::base.html.twig" %}

{% block pageSidebarWrapper %}{% endblock %}
{% block pageContentWrapper %}{% endblock %}

{% block full_width_content %}
    <div class="page-content-wrapper">
        <div class="portlet col-xs-12 col-sm-12 light">

            <div class="portlet box m-t-1">
                <div class="portlet-body p-x-0 p-y-0 p-t-1">
                    <form class="form m-b-2" id="business-config-filter-form">
                        <div class="row">
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <select class="select2 form-control custom-width"
                                            data-placeholder="Platforma"
                                            name="business_config_platform" id="business_config_platform">
                                        {% for platform in platforms %}
                                            <option value="{{ platform.id }}">{{ platform.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <select class="select2 form-control custom-width"
                                            data-placeholder="Program"
                                            name="business_config_program" id="business_config_program">

                                    </select>
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <div class="form-group">

                                    <button id="update-business-config" data-style="zoom-in" data-size="s" type="button"
                                            class="btn btn-primary ladda-button">
                                        <span class="ladda-label"><i class="fa fa-refresh"></i>
                                            Zaktualizuj konfigurację
                                        </span>
                                    </button>

                                    <button id="add-key-business-config" data-style="zoom-in" data-size="s" type="button"
                                            class="btn btn-success">
                                        <span class="ladda-label"><i class="fa fa-plus"></i>
                                          Dodaj nowy klucz
                                        </span>
                                    </button>

                                    <button id="copy-business-configs" data-style="zoom-in" data-size="s" type="button"
                                            class="btn btn-green-meadow">
                                        <span class="ladda-label"><i class="fa fa-copy"></i>
                                          Kopiuj konfiguracje
                                        </span>
                                    </button>

                                </div>
                            </div>
                            <div class="col col-sm-1">
                                <div class="form-group form-loader">
                                    {{ include('@Web/Default/partials/spinner.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="business-config-content">
                        <div class="business-config-content-spinner">
                            {% include "@Web/Default/partials/spinner.html.twig" %}
                        </div>
                        <div class="business-config-content"></div>
                    </div>

                    {{ include('@Case/Admin/BusinessConfig/Modal/copy-configs.html.twig') }}

                    {{ include('@Case/Admin/BusinessConfig/Modal/add-config-key.html.twig') }}


                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    <script src="{{ asset('bundles/web/js/modules/business-config.js') }}"></script>

    <script>
        BusinessConfig();
    </script>

{% endblock %}
