{# config \CaseBundle\Entity\BusinessConfig #}

<div class="tabbable-custom">
    <ul class="nav nav-tabs">

        {% for tab in tabs %}

            <li {% if loop.first %}class="active"{% endif %}>
                <a href="#tab_{{ loop.index }}" data-toggle="tab" data-tab-name="{{ tab.name }}">{{ tab.name }}</a>
            </li>

        {% endfor %}
    </ul>
    <div class="tab-content">

        {% for tab in tabs %}

            <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab_{{ loop.index }}">

                <form role="form">
                    <table class="table bordered-table m-b-0" style="table-layout: fixed">
                        <thead>
                            <tr>
                                <th>{{ 'business_config.key'|trans|desc('klucz')|capitalize }}</th>
                                <th>{{ 'name'|trans|capitalize }}</th>
                                <th>{{ 'business_config.value'|trans|desc('Wartość') }}</th>
                                <th>{{ 'business_config.description'|trans|desc('Dodatkowy opis') }}</th>
                                <th style="width: 20%">{{ 'business_config.value_in_platform'|trans|desc("Wartość w platformie") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for config in tab.configs %}

                                {% if config.configDefinition.type == "select" or config.configDefinition.type == "multiselect" %}
                                    {% set selectOptions = getOptionsOfQuery(config.configDefinition.query, null, null, null, true) %}
                                {% else %}
                                    {% set selectOptions = [] %}
                                {% endif %}

                                <tr>
                                    <td>
                                        {{ config.configDefinition.key }}
                                    </td>
                                    <td>
                                        {% block formLabel %}
                                            <label class="control-label text-left" for="{{ config.id }}">{{- config.configDefinition.name | raw }}
                                                <span class="label label-sm label-success label-inline-block m-l-2 init-hide">Zapisano!</span>
                                            </label>
                                        {% endblock %}
                                    </td>
                                    <td>
                                        {{ include('@Case/Admin/BusinessConfig/Controls/base.html.twig', {config: config}) }}
                                    </td>
                                    <td>
                                        <textarea style="resize: vertical" class="form-control"
                                                  data-type="description"
                                                  name="description{{ config.id }}"
                                                  id="description_{{ config.id }}"
                                                  data-config-id="{{ config.id }}"
                                                  cols="20"
                                                  rows="1">{{- config.description -}}</textarea>

                                    </td>
                                    <td>
                                        {% if config.parentValue is not null %}
                                            <p class="m-y-1">

                                                {% if config.configDefinition.type == "select" %}

                                                    W platformie:

                                                    {% for label, key in selectOptions %}
                                                        {% if config.parentValue == key %}
                                                            <span class="label label-sm label-default">{{- label -}}</span>
                                                        {% endif %}
                                                    {% endfor %}

                                                {% elseif config.configDefinition.type == "multiselect" %}

                                                    W platformie:

                                                    {% set arrayValues = [] %}

                                                    {% if config.configDefinition.type == "multiselect" %}
                                                        {% set arrayValues = config.parentValue | split(',') %}
                                                    {% endif %}

                                                    {% for label, key in selectOptions %}
                                                        {% if key in arrayValues %}
                                                            <span class="label label-sm label-default">{{- label -}}</span>
                                                        {% endif %}
                                                    {% endfor %}

                                                {% elseif config.configDefinition.type == "checkbox" %}

                                                    {% if config.parentValue %}
                                                        <span class="label label-sm label-success">Zaznaczone w platformie</span>
                                                    {% else %}
                                                        <span class="label label-sm label-warning">Odznaczone w platformie</span>
                                                    {% endif %}

                                                {% else %}

                                                    W platformie: <span class="label label-sm label-default">{{ config.parentValue }}</span>

                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                    {#<div class="row">#}
                        {#{% for config in tab.configs %}#}
                            {#{{ include('@Case/Admin/BusinessConfig/Controls/base.html.twig', {config: config}) }}#}
                        {#{% endfor %}#}
                    {#</div>#}
                </form>
            </div>

        {% endfor %}

    </div>
</div>