<div id="tele-stats" class=" telestats">
        <ul class="nav nav-pills">
            {% for tab in tabs %}
                <li>
                    <a data-toggle="tab" data-name="{{ tab }}" href="#{{ tab }}">{{ tab }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content clearfix">
            {% for tab in tabs %}
            <div class="tab-pane " id="{{ tab }}">

            </div>
            {% endfor %}
        </div>
</div>