<div class="pretty-tables row">
    <div class="col-md-6 ribbons-top">
        <div id="operators">
            <div class="col-md-12 text-center">
                <h2>
                    {{ 'Operators'|trans|desc('Operatorzy')  }} {{ tabname }}
                </h2>
            </div>
            <div class="table">
                <table class="table-striped table table-stats">
                    <thead>
                        <tr>
                            <th>Agent</th>
                            <th>State</th>
                            <th>Reason</th>
                            <th>Offered</th>
                            <th>Handled</th>
                            <th>Abandon</th>
                            <th>AbandonRate</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for agent in operators %}
                    <tr>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.eventtype }}</td>
                        <td>{{ agent.reasoncode }}</td>
                        <td>{{ agent.offered }}</td>
                        <td>{{ agent.handled }}</td>
                        <td>{{ agent.abandon }}</td>
                        <td>{{ agent.abandonRate | number_format(2) }}%</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="queues">
            <div class="col-md-12 text-center">
                <h2>
                    {{ 'Queues'|trans|desc('Kolejki')  }} {{ tabname }}
                </h2>
            </div>
            <div class="table">
                <table class="table-striped table table-stats">
                    <thead>
                    <tr>
                        <th colspan="4">CSQ NAME</th>
                        <th>Waiting</th>
                        <th>Presented</th>
                        <th>Handled</th>
                        <th>Abandoned</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in queues %}
                        <tr>
                            <td colspan="4" class="large">{{ type.csqname}}</td>
                            <td>{{ type.Waiting }}</td>
                            <td>{{ type.Presented }}</td>
                            <td>{{ type.Handled }}</td>
                            <td>{{ type.Abandoned }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-6 ribbons-top">
     <div class="ribbons-holder">
         {% for ribbon in persons %}
             {% if ribbon.name == 'Oczekujące' and  ribbon.value > 0 %}
            <div class="mt-element-ribbon ribbon telephony-ribbon-container queued-active">
             {% else %}
                {% if ribbon.name starts with 'SR' %}
                    {% if ribbon.value > 95 %}
                        {% set ribbonClass = 'green' %}
                    {% elseif ribbon.value > 90 %}
                        {% set ribbonClass = 'yellow' %}
                    {% else %}
                        {% set ribbonClass = 'red' %}
                    {% endif %}
                <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                 {% elseif ribbon.name starts with 'SL' %}
                    {% if ribbon.value > 80 %}
                        {% set ribbonClass = 'green' %}
                    {% elseif ribbon.value > 70 %}
                        {% set ribbonClass = 'yellow' %}
                    {% else %}
                        {% set ribbonClass = 'red' %}
                    {% endif %}

                    <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                    {% else %}
             <div class="mt-element-ribbon ribbon telephony-ribbon-container">

             {% endif %}
             {% endif %}
             <div class="ribbon telephony-ribbon ribbon-color-info uppercase">{{ ribbon.name }}</div>
             {% if ribbon.type %}
                 <div class="ribbon-content text-center ">

                         <h2 class="text-center ribbon-text-single smaller">{{ ribbon.value |slice(0,-2) }}%</h2>

                 </div>
             {% else %}

                 <h2 class="text-center ribbon-text-single">{{ ribbon.value }}</h2>

             {% endif %}

         </div>
         {% endfor %}
     </div>
    </div>
</div>