{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'Narzędzia'|trans()|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_tool_groups')}}">
                <span class="caption-subject bold">
                    {{ 'tool-groups'|trans|desc('grupy narzędzi')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <a href="{{ path('admin_tool_group_editor') }}" class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
        <i class="fa fa-plus"></i>
        {{ 'add_group'|trans|desc('dodaj grupę')|capitalize }}
    </a>
    <div class="clearfix"></div>

    <div class="navigation m-t-1 m-b-1">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="table-responsive">
    <table class="table table-striped table-bordered table-vam">
        <thead>
        <tr>
            {% set direction = pagination.getDirection() %}
            <th class="fit {% if pagination.isSorted('tg.id') %} sorted {{ direction }}{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'tg.id') | raw }}</th>
            <th {% if pagination.isSorted('tgt.name') %} class="sorted {{ direction }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'name'|trans|desc('nazwa')|capitalize, 'tgt.name')|raw }}</th>
            <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
        </tr>
        </thead>
        <tbody>

        {% for entity in pagination %}
            <tr>
                <th scope="row" class="fit">{{ entity.id }}</th>
                <td class="entity-name">{{ entity.name }}</td>
                <td class="fit">
                    <a href="{{ path('admin_tool_group_editor', {'id': entity.id}) }}"
                       class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                       title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#"
                       class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                       title="{{ 'delete'|trans|desc('usuń')|title }}"
                       data-url="{{ path('admin_tool_group_delete', {'id': entity.id}) }}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="navigation m-t-3">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
