{# config \CaseBundle\Entity\BusinessConfig #}

    <div class="form-group">

        {% if config.configDefinition.type == "checkbox" %}

            {#<p><span class="label label-sm label-success label-inline-block m-l-2 init-hide">Zapisano!</span>&nbsp;</p>#}
                <label style="display: block;" class="mt-checkbox mt-checkbox-outline m-b-0 m-t-0">
                <input title="{{ config.configDefinition.name }}"
                       type="checkbox"
                       name="config_{{ config.id }}"
                       id="config_{{ config.id }}"
                       class="form-control"
                       data-type="value"
                        {{ (config.value == "1") ? "checked" : "" }}
                       data-config-id="{{ config.id }}"
                       value="1"/>
                <span></span>
            </label>

        {% else %}

            {% if config.configDefinition.type == "text" or config.configDefinition.type == "number" %}

                <input title="{{ config.configDefinition.name }}"
                       type="{{ config.configDefinition.type }}"
                       name="config_{{ config.id }}"
                       id="config_{{ config.id }}"
                       class="form-control"
                       data-type="value"
                       placeholder="{{ config.parentValue }}"
                       data-config-id="{{ config.id }}"
                       value="{{ config.value }}"/>

            {% elseif config.configDefinition.type == "datetime" or config.configDefinition.type == "date" %}

                <input title="{{ config.configDefinition.name }}"
                       type="text"
                       placeholder="{{ config.parentValue }}"
                       name="config_{{ config.id }}"
                       id="config_{{ config.id }}"
                       data-type="value"
                       class="form-control {{ config.configDefinition.type }}picker-control"
                       data-config-id="{{ config.id }}"
                       value="{{ config.value }}"/>

            {% elseif config.configDefinition.type == "select" or config.configDefinition.type == "multiselect" %}

                {% set selectOptions = getOptionsOfQuery(config.configDefinition.query, null, null, null, true) %}

                {% set arrayValues = [] %}

                {% if config.configDefinition.type == "multiselect" and config.value is not empty %}
                    {% set arrayValues = config.value | split(',') %}
                {% endif %}

                <select title="{{ config.configDefinition.name }}"
                        {{ (config.configDefinition.type == "multiselect") ? "multiple" : "" }}
                        name="config_{{ config.id }}"
                        id="config_{{ config.id }}"
                        data-type="value"
                        class="form-control select2"
                        data-config-id="{{ config.id }}">

                    {% if config.configDefinition.type == "multiselect" %}
                        {% for label, key in selectOptions %}
                            <option {{ (key in arrayValues) ? 'selected' : '' }} value="{{ key }}">{{ label }}</option>
                        {% endfor %}
                    {% else %}
                        {% for label, key in selectOptions %}
                            <option {{ (config.value == key) ? 'selected' : '' }} value="{{ key }}">{{ label }}</option>
                        {% endfor %}
                    {% endif %}

                </select>

            {% else %}

                <input title="{{ config.configDefinition.name }}"
                       type="text"
                       data-type="value"
                       name="config_{{ config.id }}"
                       id="config_{{ config.id }}"
                       class="form-control"
                       placeholder="{{ config.parentValue }}"
                       data-config-id="{{ config.id }}"
                       value="{{ config.value }}"/>

            {% endif %}

        {% endif %}

    </div>