{% spaceless %}
    <br><br>
    <table border="0" cellspacing="0" cellpadding="0" width="708">
        <tbody>
        <tr>
            <td>
                <p class="MsoNormal">
                    <b>
                    <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c;letter-spacing:-.75pt">
                        Z poważaniem
                    </span>
                    </b>
                </p>
                {% if username %}
                    <p class="MsoNormal">
                        <b>
                    <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c;letter-spacing:-.75pt">
                        {{- username -}}
                    </span>
                        </b>
                    </p>
                {% endif %}

                {% if position %}
                    <p class="MsoNormal">
                        <b>
                    <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c;letter-spacing:-.75pt">
                        {{- position -}}
                    </span>
                        </b>
                    </p>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <p class="MsoNormal"><span style="color:#1f497d">&nbsp;</span><span style="color:#1f497d"><u></u><u></u></span></p>

    <table border="0" cellspacing="0" cellpadding="0" width="708">
        <tbody>
        <tr>
            <td width="2">
                <p class="MsoNormal"><span style="color:#1f497d">&nbsp;</span><span
                            style="font-size:12.0pt;color:#1f497d"><u></u><u></u></span></p>
            </td>
            <td width="706" colspan="4">
                <p class="MsoNormal">
                <span style="color:#1f497d">
                    <img border="0" width="627" height="145"
                         src="{{ serverHost }}{{ asset('images/email_assets/starter-footer-logo.png') }}">
                </span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="200" colspan="2" valign="top">
                <p class="MsoNormal">
                <span style="font-size:7.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c">
                    Starter24 Sp. z o.o.
                    <br>ul. Józefa Kraszewskiego 30<br>
                    60-519 Poznań
                </span>
                </p>
            </td>
            <td width="35">
                <p class="MsoNormal" align="center" style="text-align:center">
                    <span style="color:#1f497d"></span>
                </p>
            </td>
            <td width="455" valign="top" style="padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal" style="text-align:justify">
                <span style="font-size:7.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c">
                    wpisana przez Sąd Rejonowy w Poznaniu, VIII Wydział Gospodarczy Krajowego Rejestru Sądowego, KRS:&nbsp;0000056095; kapitał&nbsp;zakładowy:&nbsp;12&nbsp;500&nbsp;000,<wbr>00&nbsp;zł; NIP:&nbsp;525-21-83-310; REGON:&nbsp;016387736
                </span>
                </p>
            </td>
            <td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal"><span style="color:#1f497d">&nbsp;</span><span
                            style="font-size:12.0pt;color:#1f497d"><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding:11.25pt 0cm 0cm 0cm">
                <p class="MsoNormal" style="text-align:justify">
<span style="font-size:7.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c">Niniejsza wiadomość oraz wszystkie załączone do niej pliki przeznaczone są do wyłącznego użytku zamierzonego adresata i mogą zawierać chronione lub poufne
 informacje. Przeglądanie, wykorzystywanie, ujawnianie lub dystrybuowanie przez osoby do tego nieupoważnione jest zabronione. Jeśli nie jest Pan/Pani wymienionym adresatem niniejszej wiadomości, prosimy o niezwłoczny kontakt z nadawcą i usunięcie oryginalnej
 wiadomości oraz zniszczenie wszystkich jej kopii.</span><span style="color:#1f497d"><u></u><u></u></span></p>
                <p class="MsoNormal" style="text-align:justify">
<span lang="EN-US" style="font-size:7.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#1a256c">The information in this email is confidential and may be legally privileged. It is intended solely for the addressee. Access to this email by
 anyone else is unauthorized. If you are not the intended recipient, any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. If you received this email as the unintended recipient,
 please inform the sender and delete this message.</span><span lang="EN-US"
                                                               style="font-size:12.0pt;color:#1f497d"><u></u><u></u></span>
                </p>
            </td>
            <td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal"><span lang="EN-US" style="color:#1f497d">&nbsp;</span><span lang="EN-US"
                                                                                                 style="font-size:12.0pt;color:#1f497d"><u></u><u></u></span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endspaceless %}