{# app \Symfony\Bridge\Twig\AppVariable #}

{% extends '@Web/base_blank.html.twig' %}

{% block bodyExtraClass %} bg-dark {{ (app.request.query.has('fullscreen')) ? "fullscreen" : "" }}{% endblock %}


{% block extrascripts %}

    <script src="{{ asset('bundles/web/js/modules/atlas-uploader-document-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/email-preview-module.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/email-inbox-editor-module.js') }}"></script>

    <script>"use strict";

        var fullScreen = (getParameterByName('fullscreen'));

        var inboxEditorModule = EmailInboxEditorModule({
            fullscreen: fullScreen,
            _addEmailNote: function (note, position, id, opts) {

                /**
                 * Jeżeli strona otwarta w "window-popup", to ma swojego "openera", czyli prawdopodobnie zostało to otwarte z dashboardu
                 * Jeżeli odpiszemy tutaj na e-mail. to do  "openera" leci message o tej nowej notatce, żeby tam odświeżyć listę
                 */
                if (window.opener) {

                    var request = {
                        note: note,
                        position: position,
                        id: id,
                        opts: opts,
                        action: "add-note"
                    };

                    window.opener.postMessage(request, location.origin);

                }

            }
        });

        var emailPreviewModule = new EmailPreviewModule(inboxEditorModule, {
            iframe: true,
            fullscreen: fullScreen
        });

        $('body').trigger('refresh-preview-email');

    </script>

{% endblock %}

{% block body %}

    <div class="email-preview-wrapper inbox embeded-inbox" data-document-id="{{ documentId }}">
        <div class="email-preview-inner">
            <div class="inbox-body">
                <div class="loader">
                    <div class="ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <p class="loader-title">Ładowanie e-mail</p>
                </div>
                <div class="inbox-content">
                </div>
            </div>
        </div>
    </div>

    <div id="note-inbox-editor" class="embeded-inbox" data-notes-root-id="{{ rootNoteId }}">
        <div class="inbox-editor-wrapper">
            <div class="inbox-editor-header">
                {#                <div class="resize-inbox">#}
                {#                    <i class="fa fa-expand"></i>#}
                {#                    <i class="fa fa-compress"></i>#}
                {#                </div>#}
                <div class="close-inbox"><i class="fa fa-close"></i></div>
            </div>
            <div class="loader">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="inbox-editor-content"></div>
        </div>
    </div>

{#    <div id="inbox-forward-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                    <span class="modal-label">Prześlij dalej</span>#}
{#                </div>#}
{#                <div class="modal-body">#}

{#                    <form name="forward-email" method="post" class="form-horizontal">#}

{#                        <div class="alert alert-danger init-hidden errors"></div>#}
{#                        <div id="resend_email">#}
{#                            <div class="form-group ">#}
{#                                <label class="col-sm-3 control-label required" for="resend_email_receiver">Odbiorca</label>#}
{#                                <div class="col-sm-9">#}
{#                                    <input type="email" id="resend_email_receiver" name="resend_email[receiver]" required="required" placeholder="E-mail" class="form-control">#}
{#                                    <div class="form-control-focus"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group ">#}
{#                                <label class="col-sm-3 control-label required" for="resend_email_sender">Nadawca</label>#}
{#                                <div class="col-sm-9">#}
{#                                    <input type="text" id="resend_email_sender" name="resend_email[sender]" disabled="disabled" required="required" class="form-control" value="atlas_test@starter24.pl"><div class="form-control-focus"></div></div></div><div class="form-group "><label class="col-sm-3 control-label required" for="resend_email_subject">Temat e-maila</label><div class="col-sm-9"><textarea id="resend_email_subject" name="resend_email[subject]" disabled="disabled" required="required" rows="3" class="form-control">A00610529 / WE925NY</textarea><div class="form-control-focus"></div></div></div></div></form>#}

{#                    <form action="" method="POST">#}



{#                    </form>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">#}
{#                        <i class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}#}
{#                    </button>#}
{#                    <button id="confirm-forward-email" type="button" data-style="zoom-in" data-size="xs" class="btn btn-green-meadow ladda-button">#}
{#                        <span class="ladda-label"><i class="fa fa-send"></i> {{ 'inbox.send'|trans|capitalize }}</span>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}