{% spaceless %}

    {{ form_start(form) }}

    <div class="note note-info">
        <h5> Z niewiadomych przyczyn, nie udało się przypisać odbiorcy do e-maila.</h5>
        <p>
            Możesz podać odpowiedniego odbiorce i ponownie wysłać e-maila.
        </p>
    </div>

    <div class="alert alert-danger init-hidden errors"></div>

    {{ form_widget(form) }}
    {{ form_end(form) }}

    <hr>

    <iframe style="height: 250px; width: 100%; border: 0" src="{{ url('mailboxPreviewNoteContentEmail', {noteId: noteId}) }}"></iframe>

{% endspaceless %}