{% extends "WebBundle::base.html.twig" %}

{% block content %}
    <form id="user-group-form" class="form-horizontal theme-multiselect" action="" method="POST">

        {{ form_widget(form) }}

        <div class="form-actions margin-top-20">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">
                        {{ 'submit'|trans|desc('zapisz')|capitalize }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}