{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'problem_reports_list'|trans|desc('Zgłoszenia o błędach')|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_ticket_index')}}">
                <span class="caption-subject bold">
                    {{ 'problem_reports_list'|trans|desc('Zgłoszenia o błędach')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-left col-sm-12 col-xs-12 col-lg-10 no-padding">
        <form id="ticket-filter-form" class="col-xs-12 col-sm-12 no-padding" action="{{ path('admin_ticket_index') }}" method="GET">
            <div class="form-group">
                {#{{ form_label(filterForm.statuses, null, {'label_attr' : {'class' : 'no-padding m-b-1 m-r-1'}}) }}#}
                <div id="statuses" class="col-xs-12 col-sm-12 col-lg-12  no-padding {% if is_mobile() %} m-b-1 {% endif %}">
                    <div class="mt-checkbox-inline">

                        {% for status in filterForm.statuses %}

                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox"
                                       {% if status.vars.data %}checked="checked"{% endif %}
                                       id="{{ status.vars.id }}"
                                       name="{{ status.vars.full_name }}"
                                       value="{{ status.vars.value }}"> {{ status.vars.label }}
                                <span></span>
                            </label>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-2 no-padding">
        <a href="{{ path('admin_ticket_editor') }}" class="col-xs-12 col-sm-12 no-padding btn btn-sm blue xs-full  p-x-1 m-b-1">
            <i class="fa fa-plus"></i>
            {{ 'add_ticket'|trans|desc('dodaj zgłoszenie')|capitalize }}
        </a>
    </div>
    <div class="clearfix"></div>
    <div id="users-ajax-container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-vam">
                <thead>
                <tr>
                    <th class="fit"></th>
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'reported_by'|trans|desc('zgłoszone przez')|capitalize }}</th>
                    <th>{{ 'created_at'|trans|capitalize }}</th>
                    <th>{{ 'ticket.number_notification'|trans|capitalize|desc('Numer zgłoszenia') }}</th>
                    <th>{{ 'bug_ticket.level'|trans|capitalize}}</th>
                    <th>{{ 'status'|trans|desc('status')|capitalize }}</th>
                    <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                </tr>
                </thead>
                <tbody id="users-tbody">
                {% for entity in pagination %}
                    <tr class="{{ entity.ticketLevel }}">
                        <th scope="row" class="fit">{{ entity.id }}</th>
                        <td class="entity-name">{{ entity.name }}</td>
                        <td>
                            {% if entity.createdByOriginal %}
                                {{ entity.createdByOriginal }} ({{ 'from_account'|trans|desc('z konta') }}: {{ entity.createdBy }})
                            {% else %}
                                {{ entity.createdBy }}
                            {% endif %}
                        </td>
                        <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ entity.notificationNumber }}</td>
                        <td>{{ entity.displayLevel }}</td>
                        <td>
                            <a href="javascript:void(0)"
                               data-type="select"
                               data-name="active"
                               data-value="{{ entity.status }}"
                               data-title="Status"
                               class="dynamic-editable"
                               data-pk="{{ entity.id }}"
                               data-url="{{ path('admin_ticket_list_update_status') }}"
                               data-source="{{ statuses }}"
                            >
                                {{ entity.displayStatus }}
                            </a>
                        </td>
                        <td class="fit">
                            <a href="{{ path('admin_ticket_show', {'ticketId': entity.id}) }}"
                               class="btn green-meadow tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'details'|trans|desc('szczegóły')|title }}" data-type="">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{{ path('admin_ticket_editor', {'ticketId': entity.id}) }}"
                               class="btn green tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#"
                               class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                               title="{{ 'delete'|trans|desc('usuń')|title }}"
                               data-url="{{ path('admin_ticket_delete', {'id': entity.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            <a href="#"
                               data-clipboard-text="{{ url('admin_ticket_detail', {'ticketId': entity.id}) }}"
                               class="btn default btn-copy-url tooltips btn-xs"
                               data-toggle="tooltip" data-placement="top"
                               title="{{ 'link'|trans|title }}">
                                <i class="fa fa-link"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>


{% endblock %}
{% block extrascripts %}
    <script>
        $(function () {

            $('#statuses input[type="checkbox"]').on('change', function () {

                var checked = $('#statuses input[type="checkbox"]:checked').map(function () {
                    return this.value;
                }).get();

                window.location = Routing.generate('admin_ticket_index', {'page': 1, 'statuses': checked});

            });

            var clipboard = new Clipboard('.btn-copy-url');

            clipboard.on('success', function () {
                toastr.info('Skopiowano link.');
            });

        });
    </script>
{% endblock %}
{% block extrastyle %}
    {{ parent() }}

    <style>
        tr.level_critical {
            background-color: #ffd9db !important;
        }
    </style>

{% endblock %}