{% extends "WebBundle::base.html.twig" %}

{% block content %}
    <div class="portlet-title">
        <div class="caption">
            {#<a href="{{ path('admin_ticket_index') }}">#}
            <span class="caption-subject bold">{{ entity.name }}
            </span>
            {#</a>#}
        </div>
        <div class="pull-right">
            <a class="btn btn-outline btn-success" href="{{ path('admin_ticket_index') }}">{{ 'Back to list' | trans|desc('Wróć do listy') }}</a>
        </div>
    </div>

    {{ entity.content|raw }}

    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">{{ 'reported_by'|trans|desc('zgłoszone przez')|capitalize }}</span>
        </div>
    </div>

        {% if entity.createdByOriginal %}
            {{ entity.createdByOriginal }} ({{ 'from_account'|trans|desc('z konta') }} {{ entity.createdBy }})
        {% else %}
            {{ entity.createdBy }}
        {% endif %}

    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">{{ 'data utworzenia'|trans|capitalize }}</span>
        </div>
    </div>

    {{ entity.createdAt | date('Y-m-d H:i:s') }}

    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">URL</span>
        </div>
    </div>

    <a href="{{ entity.url }}" target="_blank">{{ entity.url }}</a>


    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">{{ 'web_browser'|trans|desc('przeglądarka internetowa')|capitalize }}</span>
        </div>
    </div>

    {{ entity.browser }}

    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">{{ 'web_resolution'|trans|desc('rozdzielczość przeglądarki')|capitalize }}
                :</span>
        </div>
    </div>

    {{ entity.screenResolution }}

    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">{{ 'web_screen_shoot'|trans|desc('zrzut ekranu')|capitalize }}
                :</span>
        </div>
    </div>

    {% if entity.screenShoot %}
        <img style="display: block; max-width: 100%;" src="{{ displayScreenShoot(entity.screenShoot) }}" alt="screnn-shoot">
    {% else %}
        <p>Niedostępny</p>
    {% endif %}

    <div class="portlet-title m-t-1">
        <div class="caption">
            <span class="caption-helper">{{ 'request_info'|trans|desc('Informacja o nagłówkach')|capitalize }}:</span>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        {% for key, value in entity.requestInfo(true) %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}