{% set pageTitle = block('title') %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js bg-white"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block documentTitle %}
            {% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    {% block extrastyle %} {% endblock %}
</head>
<body class="external-user-body">
    <div class="wrapper">
        <div class="row">
            <div class="page-container col-xs-12">
                <div class="col-xs-12 nopadding">
                    <div class="basic-template-wrapper col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 nopadding">
                        <div class="papersheet" id="papersheet">
                            <div class="logo align-center m-b-3">
                                <img src="{{ asset('images/email_assets/starter24.png') }}" width="300" />
                            </div>
                            <div class="info-content p-t-2">
                                {% block content %} {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block extrascripts %}

    <script>

        var papersheet = document.getElementById('papersheet');
        papersheet.style.height = (window.innerHeight - 50) + 'px';

    </script>

{% endblock %}

</body>
</html>
