{# <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

        {{ knp_menu_render('WebBundle:MenuBuilder:sidebarMenu', {
            'depth': 2,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig'
        }) }}


        <div class="page-sidebar-wrapper">

            {{ knp_menu_render('WebBundle:MenuBuilder:sidebarMobileMenu', {
                'depth': 2,
                'currentClass': 'active',
                'template': 'WebBundle:Menu:knp_menu.html.twig',
                'mobile' : true
            }) }}

        </div>
    </div>
    <!-- END SIDEBAR -->
</div>

#}