{% set pageTitle = block('title') %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js bg-white"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block documentTitle %}
            {% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    {% block extrastyle %} {% endblock %}
</head>
<body class="external-user-body">
    <div class="wrapper">
        <div class="row">
            <div class="login-page-logo wow fadeIn " data-wow-delay="1.0s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                <a class="brand" href="/app_dev.php/">
                    <img src="/atlas_logo.png?v=1" alt="">
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <div class="message-wrapper col-xs-12 col-md-3 col-lg-3 col-lg-offset-1">
                <div class="message">
                    {#<i class="fa fa-exclamation-circle regulations-icon" aria-hidden="true"></i>#}
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    <h2 class="regulations-title">Zaakceptuj umowę o zachowaniu poufności aby przejść dalej.</h2>
                </div>
            </div>
            <div class="page-container col-xs-12 col-md-8 col-lg-8 ">
                <div class="col-xs-12 nopadding">
                    <div class="basic-template-wrapper col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 nopadding">
                        <div class="papersheet" id="papersheet">
                            {% block content %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block extrascripts %}

    <script>

        var papersheet = document.getElementById('papersheet');
        papersheet.style.height = (window.innerHeight - 50) + 'px';

    </script>

{% endblock %}

</body>
</html>
