{% set blockHeader = block('header') %}
{% set blockActions = block('actions') %}
{% set blockMenu = block('menu') %}
{% set pageTitle = block('title') %}
{% set blockBreadCrumbs = block('breadcrumbs') %}

{% set phoneOn = 0 %}
{% set callCenterOn = 0 %}

{% if app.user %}
    {% if is_granted('ROLE_TELEPHONY') %}
        {% set phoneOn = 1 %}
    {% endif %}
    {% if is_granted('ROLE_CONSULTANT') %}
        {% set callCenterOn = 1 %}
    {% endif %}
{% endif %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block documentTitle %}
            {% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}' />
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    {% block extrastyle %}{% endblock %}
</head>
<body id="mobileView" data-locale="{{ app.request.locale }}" class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo
    {% if app.request.cookies.get('sidebar_closed') == "true" %} page-sidebar-closed {% endif %}
    {% if app.request.attributes.get('_route') == 'admin_process_design_chart' %}page-sidebar-closed {% endif %} {% block bodyExtraClass %}{% endblock %}" {% block tabindex_body %}{% endblock %}>

    {% include "@Tool/Default/tool/partials/modals/removal.html.twig" %}
    {% include "@Web/Default/partials/modal/report-problem.html.twig" %}
    {% include "@Web/Default/partials/modal/report-problem.html.twig" %}

    <div class="clearfix"></div>
    <div class="page-container">
        {% block full_width_content %} {% endblock %}

        {% block pageSidebarWrapper %}
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    {% if app.user %}
                        {% include "WebBundle:User/partials:user-tools-menu.html.twig" %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block pageContentWrapper %}
            <div class="page-content-wrapper">
                <div id="page-main-content" class="page-content">
                    <div class="portlet col-xs-12 col-sm-12 light {% block extraClassPortlet %}{% endblock %}">
                        {% if blockActions is not empty %}
                            <div class="page-toolbar clearfix m-b-1">
                                {{ blockActions|raw }}
                            </div>
                        {% endif %}
                        {% block flashes %}
                            {% include 'WebBundle:Default/partials:flash-messages.html.twig' %}
                        {% endblock %}
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        {% endblock %}

    </div>


{% block scripts %}
    <script>
        "use strict";

        var _user = false;
        var _locale = '{{ app.request.locale }}';
        {% if app.user %}
            _user = {
                'id': '{{ app.user.id }}',
                'companyId': null,
                'username': '{{ app.user.username }}',
                'email': '{{ app.user.email }}',
                'firstname': '{{ app.user.firstname }}',
                'lastname': '{{ app.user.lastname }}'
            };

            {% if app.user.company %}
                _user['companyId'] = '{{ app.user.company.id }}';
            {% endif %}

        {% endif %}
        function inIframe () {
            try {
                return window.self !== window.top;
            } catch (e) {
                return true;
            }
        }
    </script>

    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    {#<script src="{{ url('bazinga_jstranslation_js') | removeAppDev  }}"></script>#}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'js' }) | removeAppDev }}"></script>

    <script src="{{ asset('js/vendor.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) | removeAppDev }}"></script>

    {% block in_iframe_script %}
        <script>"use strict";

            if(!inIframe() && (window.location.href != Routing.generate('index', [], true) ) ) {

                var disablePhoneModuleParam = getParameterByName('disable_phone_module'),
                    options = {};

                if(disablePhoneModuleParam !== null) {
                    options['disable_phone_module'] = 1;
                }

                window.location.href = Routing.generate('index', options, true) + '#redirectTo=' + window.location.href;
            }

        </script>
    {% endblock %}
{% endblock %}

{% block extrascripts %}{% endblock %}

{% if app.environment == 'dev' %}
    <script>document.write('<script src="{{ (app.request.secure) ? 'https' : 'http' }}://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

</body>
</html>
