{% extends "WebBundle::base.html.twig" %}

{% set PUSH_CASE_MODE = '' %}

{% if is_granted('ROLE_PUSH_CASE') %}
    {% set PUSH_CASE_MODE = 'push-case-mode' %}
{% endif %}

{% block bodyExtraClass %}operational-page {{ PUSH_CASE_MODE }}{% endblock %}

{% block pageSidebarWrapper %}

{% endblock %}

{% block pageContentWrapper %}

{% endblock %}

{% block extrascripts %}
    {#{% include "WebBundle:Default:assets/dashboardJs.html.twig" %}#}
{% endblock %}