{% set pageTitle = block('title') %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block documentTitle %}
            {% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    {% block extrastyle %} {% endblock %}
</head>
<body class="{% block bodyExtraClass %}{% endblock %}">

{% block body %}{% endblock %}

<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages' }) | removeAppDev  }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'js' }) | removeAppDev }}"></script>

<script src="{{ asset('js/vendor.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) | removeAppDev }}"></script>

{% block extrascripts %}{% endblock %}

</body>
</html>
