{# form \CaseBundle\Entity\AttributeCondition #}

{% spaceless %}
    {% block content %}
        <div class="row">
            {{ form_start(form, {
                'action': path('admin_attribute_condition', {'step' : stepId, 'formControlId': formControlId}),
                'attr': {'class': 'form-vertical sm-label'}
            }) }}
            {{ form_row(form.visible, {'label_attr': {'class': 'col-sm-12'}}) }}
            {{ form_row(form.required, {'label_attr': {'class': 'col-sm-12'}}) }}
            {{ form_row(form.semiRequired, {'label_attr': {'class': 'col-sm-12'}}) }}
            {{ form_row(form.readOnly, {'label_attr': {'class': 'col-sm-12'}}) }}
            {{ form_row(form.rules, {'label_attr': {'class': 'col-sm-12'}}) }}
            {{ form_row(form.notAllowEdit, {'label_attr': {'class': 'col-sm-12'}}) }}
            {{ form_row(form.customValidationMessage, {'label_attr': {'class': 'col-sm-12'}}) }}
            <div class="form-group m-t-1">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button data-style="zoom-in" data-size="s" type="submit" class="btn ladda-button">
                    <span class="ladda-label">
                        <i class="fa fa-check"></i> {{ 'zapisz'|trans|capitalize }}
                    </span>
                    </button>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {{ form_errors(form) }}
        </div>
    {% endblock %}
{% endspaceless %}