{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="portlet-title no-margin">
        <div class="caption">
            <a href="{{ path('admin_attribute_chart')}}">
                <span class="caption-subject bold">
                    {{ 'attributes'|trans|desc('atrybuty')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    {% include "@Case/Admin/design/modals/attribute-edit.html.twig" %}

    <div class="row">
        <div id="attribute-chart-container" class="col-lg-10 p-r-0 relative">
            <a id="submit-attribute-chart" class="ladda-button submit-chart btn btn-success pull-right m-b-1"
               href="#" data-style="slide-down">{{ 'submit'|trans|capitalize }}</a>
            <div id="attribute-chart" class="dropzone" data-id="{{ attribute ? attribute.id : '' }}"></div>
        </div>
        <div id="attribute-search-container" class="col-lg-2 p-r-0">
            <div id="attribute-search">
                <div class="input-icon">
                    <i class="icon-magnifier"></i>
                    <input type="text" id="attribute-search-input" class="form-control"
                           placeholder="{{ 'search_attribute'|trans|desc('szukaj atrybutu')|capitalize }}">
                    <ul id="attribute-list">
                        {% for attribute in rootAttributes %}
                            <li class="attribute-root">
                                <div ondblclick="attributeAction({{ attribute.id }})" data-id="{{ attribute.id }}"
                                     class="draggable"
                                     draggable="true">({{ attribute.id }}) {{ attribute.name|capitalize }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div id="add-attribute-container">
                <a href="#" id="add-attribute" class="btn green full"><i
                            class="fa fa-plus"></i> {{ 'add_attribute'|trans|desc('dodaj atrybut')|upper }}</a>
            </div>
        </div>
    </div>
    {% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'bottom-spinner'} %}

{% endblock %}

{% block extrascripts %}
    {% set goJs = app.environment == 'dev' ? 'go-debug' : 'go' %}
    <script>
        var isReadOnly = Boolean({{ is_granted('ROLE_PROCESS_EDITOR') ? 0 : 1 }});
    </script>
    <script src="{{ asset('bundles/web/js/vendor/'~goJs~'.js') }}"></script>

    <script src="{{ asset('bundles/web/js/vendor/Sortable_1-5-1.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/lodash.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/gridstack.js') }}"></script>

    <script src="{{ asset('bundles/web/js/attribute-chart.js') }}"></script>
    <script src="{{ asset('bundles/web/js/grid-stack-atlas-component.js') }}"></script>
    <script src="{{ asset('bundles/web/js/process-generator-form.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/jquery-slim-scroll/jquery.slimscroll.min.js') }}"></script>
    <script>
        $(function () {

            attributeSearchHandle();

            $('#add-attribute').on('click', function () {
                openAttributeFormModal(attributeDiagram, null, true);
            });

            $('#attribute-list').slimScroll({});
            spinnerHandle();
            initAttributeChart('attribute-chart', {{ chart|raw }});

            $('.modal').on('shown.bs.modal', function () {
                $spinner.trigger('spinner-off');
            });

            $(window).on('resize', function () {
                calculateAttributeDiagramHeight(attributeDiagram, true);
            })

        });
    </script>

{% endblock %}

{% block extraClassPortlet %}m-b-0 p-y-0{% endblock %}