{% extends "WebBundle::base.html.twig" %}

{% block content %}

    {% include "@Case/Admin/design/modals/step-edit.html.twig" %}
    {% include "@Case/Admin/design/modals/request-deploy-edit.html.twig" %}
    {% include "@Case/Admin/design/modals/flow-edit.html.twig" %}
    {% include "@Case/Admin/design/modals/atlas-version-log.html.twig" %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminProcessDefinitionMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <div id="process-chart-options">
                <a href="#" id="request-deploy" class="btn btn-default pull-right m-l-1">
                    <i class="fa fa-clock-o m-r-05"></i>
                    {{ 'request.deploy'|trans|desc('Zleć wgranie na produkcję') }}
                </a>

                <div class="form-group pull-right">
                    <div id="program-id">
                    <select class="form-control select2">
                        <option value="">---</option>
                        {% for program in programs %}
                            <option value="{{ program.id }}" {{ program.id == programId ? 'selected="selected"' : '' }}>{{ program.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="relative">
                {% if is_granted('ROLE_PROCESS_EDITOR') and not programId %}
                    <a id="submit-process-chart" class="ladda-button submit-chart btn btn-success pull-right m-b-1"
                       href="#" data-style="slide-down">{{ 'submit'|trans|capitalize }}</a>
                {% endif %}
                    <a id="export-to-svg" class="ladda-button btn btn-default pull-right m-b-1"
                       href="#" data-style="slide-down">SVG</a>
                <div class="select-search">
                    <select id="stepSelect">
                    </select>
                </div>
                <div id="process-chart" data-process-chart-id="{{ processDefinition.id }}"></div>

            </div>

        </div>
    </div>

    {% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'bottom-spinner'} %}

{% endblock %}

{% block extrascripts %}

    {% set goJs = app.environment == 'dev' ? 'go-debug' : 'go' %}



    <script>
        var isReadOnly = Boolean({{ is_granted('ROLE_PROCESS_EDITOR') ? 0 : 1 }});
    </script>


    <script src="{{ asset('js/gos-web-socket.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/'~goJs~'.js') }}"></script>

    <script src="{{ asset('bundles/web/js/vendor/Sortable_1-5-1.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/lodash.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/gridstack.js') }}"></script>

    <script>
        var _processType = '{{ processDefinition.type }}';
    </script>
    <script src="{{ asset('bundles/web/js/process-chart.js') }}"></script>
    <script src="{{ asset('bundles/web/js/attribute-chart.js') }}"></script>
    <script src="{{ asset('bundles/web/js/grid-stack-atlas-component.js') }}"></script>
    <script src="{{ asset('bundles/web/js/process-generator-form.js') }}"></script>
    <script src="{{ asset('bundles/web/js/vendor/jquery-slim-scroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/modal-form-module.js') }}"></script>

    <script>
        ModalFormModule();
    </script>



    <script>"use strict";

        document.WSConnectingString = "{{ (app.request.secure) ? 'wss' : 'ws' }}://{{ gos_web_socket_server_host }}:{% if app.request.secure %}{{ ws_https_front_port }}{% else %}{{ ws_http_front_port }}{% endif %}";

        var processWebSocket = null,
            processWebSocketSession,
            processId = '{{ processDefinition.id }}',
            $stepModal,
            heartBeat;

        $(function () {

            spinnerHandle();

            var $program = $('#program-id > select');

            $stepModal = $('#step-modal');

            initChart('process-chart', {{ chart|raw }}, {{ (processDefinition.type is null) ? 1 : processDefinition.type }} );

            $stepModal.on('shown.bs.modal', function () {

                $spinner.trigger('spinner-off');

                if(typeof processWebSocketSession !== "undefined" && processWebSocketSession) {

                    processWebSocketSession.publish("atlas/process/manager/" + processId, {
                        type: 'open',
                        stepId: $stepModal.attr('data-id')
                    });

                }

            });

            $stepModal.on('hidden.bs.modal', function () {

                if(typeof processWebSocketSession !== "undefined" && processWebSocketSession) {
                    processWebSocketSession.publish("atlas/process/manager/" + processId, {
                        type: 'close',
                        stepId: $stepModal.attr('data-id')
                    });
                }

                $('#btn-step-attributes').removeClass('clicked');
                $('#step-modal').removeAttr('data-id');

            });

            if(typeof myDiagram !== "undefined") {
                $(window).on('resize', function () {
                    calculateDiagramHeight(myDiagram, true);
                });
            }

            $('#export-to-svg').on('click', function () {
                var svg = myDiagram.makeSVG({
                    scale: 1.5,
                    padding: 50
                });
                var newWindow = window.open("","newWindow");
                if (!newWindow) return;
                var newDocument = newWindow.document;
                newDocument.body.appendChild(svg);
            });


            $('#request-deploy').on('click', function () {
                $('#request-deploy-modal').modal('show');

                $('#request-deploy-modal #confirm').unbind('click').on('click', function () {
                    $('#request-deploy-modal').modal('hide');
                    $.ajax({
                        url: Routing.generate('admin_project_new_version_request'),
                        data: $('#request-deploy-form').serialize(),
                        type: "POST",
                        success: function () {
                            toastr.success("Pomyślnie wysłano informację do administratora o planowanej dacie wgrania nowej wersji ATLAS", "Zapisano", {timeOut: 5000});
                        }
                    });
                    return false;
                });
            });


            $program.on('change', function () {
                window.location = Routing.generate('admin_process_design_chart', {'id': {{ processDefinition.id }}, 'programId': $(this).val()});
            });

        });

        function _initWebSocket() {

            if (!document.WSConnectingString) {
                console.error('WebSocket is not loaded.');
                return false;
            }

            processWebSocket = WS.connect(document.WSConnectingString, {
                max_retries: 1000,
                initial_retry_delay: 5
            });

            var wasDisconnect = false,
                firstConnection = true;

            /** Połączenie z WebSoscketem */
            processWebSocket.on("socket/connect", function (session) {

                if (wasDisconnect) {
                    toastr.success("", "Połączono z serwerem (WebSocket)", {timeOut: 5000});
                }

                processWebSocketSession = session;

                if (firstConnection) {

                    firstConnection = false;

                    heartBeat = setInterval(function () {

                        if(typeof processWebSocketSession === "undefined" || !processWebSocketSession) {
                            // TODO - websocket
                            toastr.error('Odswież sobie stronę, bo websocket się rozłączył...', 'WebSocket ERROR!', {timeOut: 20000});
                        }
                        else {
                            processWebSocketSession.publish("atlas/process/manager/" + processId, ["ping"]);
                        }

                    }, 15000);

                }

                /** Kanał do zarządzania zajętości procesów / formularzy */
                session.subscribe("atlas/process/manager/" + processId, onGetDataFromChannel);

            });

            processWebSocket.on("socket/disconnect", function (error) {

                processWebSocketSession = null;

                // if(heartBeat) {
                //     clearInterval(heartBeat);
                // }

                wasDisconnect = true;

                switch (error.code) {
                    case 6:
                    {
                        toastr.error("Połączenie z serwerem zostało zerwane.", "Błąd połączenia (WebSocket)", {timeOut: 7000});
                        break;
                    }
                    case 3:
                    {

                        toastr.error("Nie można nawiązać połączenia z serwerem.", "Błąd połączenia (WebSocket)", {timeOut: 7000});
                        break;
                    }
                }

                console.log("Disconnected for " + error.reason + " with code " + error.code);
            });

            function onGetDataFromChannel(uri, payload) {

                // 60 * 60 * 24 * 1000

                if(payload.type === "info") {
                    toastr.info(payload.message, "", {timeOut: 0});
                }
                else if(payload.type === "exit") {
                    toastr.success(payload.message, "", {timeOut: 0});
                }
                else if (payload.type === "whoUserProcess") {

                    var message = 'Użytkownicy: ';

                    $.each(payload.users, function (i, ele) {
                       message += "<b>" + ele + "</b>, ";
                    });

                    message += ' korzystają z tego procesu,';

                    toastr.warning(message, "", {timeOut: 0});
                }
                else if (payload.type === "whoUserStep") {

                    var message = 'Użytkownicy: ';

                    $.each(payload.users, function (i, ele) {
                       message += "<b>" + ele + "</b>, ";
                    });

                    message += ' korzystają z tego kroku,';

                    toastr.warning(message, "", {timeOut: 0});
                }

            }

        }

        $(function () {
            _initWebSocket();
        });

    </script>

{% endblock %}

{% block extraClassPortlet %}m-b-0{% endblock %}