<div class="row">
    <div id="step-attributes" class="col-xs-2">
        <ul id="step-attributes-list">
            {% for stepAttributeDefinition in step.attributeDefinitions %}
                <li class="step-attribute" data-id="{{ stepAttributeDefinition.id }}" data-attribute-id="{{ stepAttributeDefinition.attribute.id }}">
                    <div class="attribute-label">
                        <div class="col-xs-11 p-x-0 name-container">
                                <span class="name">{{ stepAttributeDefinition.attribute.name }}
                                    {% if stepAttributeDefinition.parentAttribute %}
                                        <span class="text-small">
                                    ({{ stepAttributeDefinition.parentAttribute.name }})
                                </span>
                                    {% endif %}
                        </span>
                        </div>
                        <div class="col-xs-1 p-x-0">
                            {% if is_granted('ROLE_PROCESS_EDITOR') %}
                            <a href="#" class="font-red-mint tooltips remove-step-attribute pull-right">
                                <i class="fa fa-remove"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="edit-form-container"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="attribute-chart-container" class="col-xs-8 p-r-0 relative">
        <div id="attribute-chart" class="dropzone" data-id="{{ attribute ? attribute.id : '' }}"></div>
    </div>
    <div id="attribute-search-container" class="col-xs-2">
        <div id="attribute-search">
            <div class="input-icon">
                <i class="icon-magnifier"></i>
                <input type="text" id="attribute-search-input" class="form-control"
                       placeholder="{{ 'search_attribute'|trans|desc('szukaj atrybutu')|capitalize }}">
                <ul id="attribute-list">
                    {% for attribute in rootAttributes %}
                        <li class="attribute-root">
                            <div ondblclick="attributeAction({{ attribute.id }})" data-id="{{ attribute.id }}"
                                 class="draggable"
                                 draggable="true">{{ attribute.name|capitalize }} </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    isAttributeEditor = false;

    $(function () {

        attributeSearchHandle(1);

        $('#attribute-list').slimScroll({});
        $('#step-attributes-list').slimScroll({});
        initAttributeChart('attribute-chart', {{ chart|raw }});
        calculateAttributeDiagramHeight(attributeDiagram, false, true);
        $(window).on('resize', function () {
            calculateAttributeDiagramHeight(attributeDiagram, true, true);
        });

        handleStepAttributeRemoving();
        handleStepAttributeEditor();

    });

    function handleStepAttributeRemoving() {
        $('.step-attribute .remove-step-attribute').unbind().on('click', function () {
            var attributeItem = $(this).closest('.step-attribute');
            $.ajax({
                method: 'POST',
                url: Routing.generate('admin_step_attribute_remove', {'id': attributeItem.attr('data-id')}),
                beforeSend: function () {
                    $spinner.trigger('spinner-on');
                },
                success: function (response) {
                    $spinner.trigger('spinner-off');
                    attributeItem.remove();
                }
            });
        });
    }
    function handleStepAttributeEditor() {

        $('#step-attributes-list').unbind().on('click', '.step-attribute .attribute-label .name-container', function () {
            if (!$(this).hasClass('')) {
                var attributeItem = $(this).closest('.step-attribute');
                $.ajax({
                    method: 'GET',
                    url: Routing.generate('admin_step_attribute_editor', {'id': attributeItem.attr('data-id')}),
                    beforeSend: function () {
                        $spinner.trigger('spinner-on');
                    },
                    success: function (response) {
                        $spinner.trigger('spinner-off');
                        $('.step-attribute .edit-form-container').html('');
                        attributeItem.find('.edit-form-container').html(response);
                        handleStepAttributeSaving();
                        if($('#attribute-chart').attr('data-id') != attributeItem.attr('data-attribute-id') && !attributeItem.hasClass('added')) {
                            attributeAction(attributeItem.attr('data-attribute-id'));
                        }
                        $('.step-attribute').removeClass('added');
                    }
                });
            }
        });
    }

    function handleStepAttributeSaving() {
        $('#step-attribute-edit-form input, #step-attribute-edit-form select').on('change', function () {
            var attributeItem = $(this).closest('.step-attribute');
            $.ajax({
                method: 'POST',
                url: Routing.generate('admin_step_attribute_editor', {'id': attributeItem.attr('data-id')}),
                data: $('#step-attribute-edit-form').serialize(),
                success: function (response) {
                }
            });w
            if ($(this).attr('id') == "step_attribute_definition_parentAttribute") {
                attributeItem.find('.name .text-small').text(' (' + $(this).find(":selected").text() + ')');
            }
        });
    }


</script>