<div class="tools-table">
    <div id="tools-ajax-container">
        <div class="navigation m-t-2 m-b-2">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered m-b-0">
                <thead>
                <tr>
                    <th class="fit">#</th>
                    <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                    <th>{{ 'group'|trans|desc('grupa')|capitalize }}</th>
                    <th style="width: 30%">{{ 'description'|trans|desc('opis')|capitalize }}</th>
                    <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <th scope="row" class="fit">{{ entity.id }}</th>
                        <td class="entity-name">
                            <a href="{{ path('admin_tool_definition', {'toolId': entity.id}) }}">
                                {{- entity.name -}}
                            </a>
                        </td>
                        <td>{{ entity.toolGroup }}</td>
                        <td>
                            {{ entity.description|raw }}
                        </td>
                        <td class="fit">
                            <a href="{{ path('admin_tool_definition', {'toolId': entity.id}) }}"
                               class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                               title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#"
                               class="btn btn-xs red btn-delete tooltips" data-toggle="tooltip" data-placement="top"
                               title="{{ 'delete'|trans|desc('usuń')|title }}"
                               data-url="{{ path('admin_tool_delete', {'id': entity.id}) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>