<div class="portlet light case-service-form-portlet init-hidden">
    <div class="portlet-title m-b-0">
        <div class="caption font-red-flamingo">
            <i class="fa fa-check-square-o font-red-flamingo"></i>
            <span class="caption-subject bold uppercase"> Formularz usługi</span>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">

    </div>
</div>