<div class="portlet light case-notes-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue">
            <i class="fa fa-sticky-note font-blue"></i>
            <span class="caption-subject bold uppercase"> Notatki</span>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-info alert-dismissable">
                        <strong>Informacja dla Administratora.</strong>
                        Ustawienie jakie typy notatek mają być widoczne dla danego użytkownika, można skonfigurować w procedurze [dbo].[P_note_permissions].
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body operational-page atlas-viewer-portlet">
        <div class="notifications-wrapper">
            <button title="Rozwiń/Zwiń notatki" class="expand-all expand btn btn-info btn-sm m-b-1">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
                Rozwiń/Zwiń notatki
            </button>

            {% if chatMessageIsEnabled %}
                <button title="{{ 'notes.add_ask'|trans|desc('Dodaj pytanie') }}"
                        class="add-chat-message btn btn-warning btn-sm m-b-1">
                    <i class="fa fa-plus"></i>
                    {{ 'notes.add_ask_or_task'|trans|desc('Dodaj pytanie/zadanie') }}
                </button>
            {% endif %}

            <div class="notes-filters-wrapper m-b-2">
                {{ include('@Operational/Default/notes-filters-holder.twig') }}
            </div>

            <div class="no-edit-mode case-notes"
                 data-prototype-phone-content-edit='{{ include('@Operational/Default/partials/note-phone-edit.html.twig') }}'>
            </div>
        </div>
    </div>
    {{ include('@Case/FormTemplate/templates/widget-email-preview.html.twig', {extraClass: 'note-inbox fixed-inbox not-reply', withClose: 1}) }}
</div>