<div class="portlet light init-hidden preview-of-service">
    <div class="portlet-title m-b-0">
        <div class="caption font-yellow-crusta">
            <i class="fa fa-search font-yellow-crusta"></i>
            <span class="caption-subject bold uppercase"> Informacje o usłudze</span>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {{ include('@Web/Default/partials/spinner.html.twig', {"size": "sm"}) }}
    <div class="portlet-body">
    </div>
</div>