<div class="portlet light case-services-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-green-jungle">
            <i class="fa fa-tasks font-green-jungle"></i>
            <span class="caption-subject bold uppercase"> Lista usług</span>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="case-services-table">
            {{ services | raw  }}
        </div>
    </div>
</div>