<div class="portlet light" id="case-info-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue-chambray">
            <i class="fa fa-info-circle font-blue-chambray"></i>
            <span class="caption-subject bold uppercase"> Główne informacje</span>
            {#<span class="caption-helper"> TOP 5</span>#}
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="alert alert-info alert-dismissable">
            <strong>Informacja dla Administratora.</strong>
            Wyniki tabeli zdefiniowane są w procedurze [dbo].[p_getTableOf_CaseInfo].
        </div>
    {% endif %}
    <div class="portlet-body">
        <div id="case-info-box">
            {{ case_info | raw }}
        </div>
    </div>
</div>