{# coordinator \UserBundle\Entity\User #}

{% if isClosed is not defined %}
    {% set isClosed = 0 %}
{% endif %}

{% if isClosed == 1 %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger text-center">
                <strong>Sprawa jest zamknięta.</strong>
            </div>
        </div>
    </div>
{% endif %}

{% if chatMessageIsEnabled %}

    {{ include('@App/CFMCaseViewer/Templates/chat_message_modal.html.twig') }}

{% endif %}

<div class="case-preview-actions">

    <div class="row">
        <div class="col-md-4 col-sm-6">

            <button type="button" class="btn btn-default" title="Drukuj"
                    onclick="javascript: caseViewer.printPreview();">
                <i class="fa fa-print"></i>
            </button>

            <button data-style="zoom-in" data-size="s" type="button"
                    class="btn ladda-button btn-primary refresh-case-details">
            <span class="ladda-label">
                <i class="fa fa-refresh"></i> {{ 'cfm_case_viewer.refresh_case_details'|trans|desc('Odśwież')|capitalize }}
            </span>
            </button>

            {% if not isRDA %}
                <button type="button" class="btn btn-info add-note-to-case" data-root-id="{{ root_id }}" data-toggle="modal"
                        {{ (isClosed == 1) ? 'disabled="disabled"' : "" }} data-target="#new-note-modal">
                <span class="ladda-label">
                    <i class="fa fa-sticky-note"></i> {{ 'cfm_case_viewer.add_note'|trans|desc('Dodaj zadanie')|capitalize }}
                </span>
                </button>
            {% endif %}

            {% if can_add_complain %}

                <button type="button" class="btn btn-warning add-claim-to-case" data-root-id="{{ root_id }}"
                        {{ (isClosed == 1) ? 'disabled="disabled"' : "" }} data-toggle="modal"
                        data-target="#new-complaint-modal">
            <span class="ladda-label">
                <i class="fa fa-exclamation-circle"></i> {{ 'cfm_case_viewer.add_claim'|trans|desc('Dodaj reklamacje')|capitalize }}
            </span>
                </button>

            {% endif %}

            {% if finish_rental_id %}

                <button type="button" class="btn btn-danger finish-rental" data-id="{{ finish_rental_id }}"
                        data-toggle="modal" data-target="#finish-rental-modal">
            <span class="ladda-label">
                <i class="fa fa-flag-checkered"></i> {{ 'cfm_case_viewer.finish_rental'|trans|desc('Zakończ wynajem')|capitalize }}
            </span>
                </button>

            {% endif %}

        </div>

        {% if claim_control %}

            <div class="col-md-2 col-sm-4">
                <div class="form-group">
                    <input type="text" class="form-control" name="claim_number" data-root-id="{{ root_id }}"
                           id="claim_number" value="{{ claimNumber }}">
                    {% if platformId == "78" %}
                        <small>Kod autoryzacji</small>
                    {% else %}
                        <small>Numer szkody</small>
                    {% endif %}
                </div>
            </div>

        {% endif %}

        {% if canSetCoordinator %}
            <div class="col-md-2 col-sm-4">
                <form action="">
                    <select name="coordinator-in-case" class="select2 form-control " data-root-id="{{ root_id }}">
                        <option value="">---</option>
                        {% for coordinator in coordinators %}
                            <option value="{{ coordinator.id }}" {{ (active_coordinator == coordinator.id) ? "selected" : "" }}>{{ coordinator.name }}</option>
                        {% endfor %}
                    </select>
                    <small>Koordynator w sprawie</small>
                </form>
            </div>
        {% endif %}

        {% if canCloseCase %}

            <div class="col-md-2 col-sm-4 pull-right alignright">
                <form action="" class="toggle-status-case-form">
                    <input type="hidden" name="root_id" value="{{ root_id }}">
                    <input type="hidden" name="is_closed" value="{{ isClosed }}">

                    {% if isClosed == 0 %}
                        <button type="submit" data-style="zoom-in" data-size="s"
                                class="btn btn-green-meadow close-case ladda-button">
                    <span class="ladda-label">
                        <i class="fa fa-times-circle"></i> Zamknij sprawę w Atlas Viewer
                    </span>
                        </button>
                    {% else %}
                        <button type="submit" data-style="zoom-in" data-size="s"
                                class="btn btn-danger close-case ladda-button">
                    <span class="ladda-label">
                        <i class="fa fa-repeat"></i> Otwórz sprawę w Atlas Viewer
                    </span>
                        </button>
                        <small>Sprawa została zamknięta przez <b>{{ whoClose }}</b></small>
                    {% endif %}

                </form>
            </div>

        {% endif %}

        {% if canDownloadDocuments %}

            <div class="col-md-2 col-sm-4 pull-right alignright">
                <form action="" class="documents-case-form">
                    <input type="hidden" name="root_id" value="{{ root_id }}">

                    {% if documentStatus is null %}

                        <input type="hidden" name="action" value="send_request">

                        <button type="submit" data-style="zoom-in" data-size="s" data-spinner-color="purple"
                                class="btn btn-default ladda-button">
                        <span class="ladda-label">
                            <i class="fa fa-files-o"></i> Zamów dokumenty
                        </span>
                        </button>

                    {% elseif documentStatus == 1 or documentStatus == 3 %}

                        <input type="hidden" name="action" value="waiting">

                        <button type="submit" data-style="zoom-in" data-size="s"
                                class="btn {{ (documentStatus == 3) ? 'btn-danger' : 'btn-default ' }} ladda-button"
                                disabled>
                        <span class="ladda-label">
                            <i class="fa fa-files-o"></i> Zamów dokumenty
                        </span>
                        </button>
                        <br>
                        <small>Status zapytania:
                            <b>{{ (documentStatus == 1) ? 'Oczekuje na akceptację' : 'Odrzucono' }}</b></small>

                    {% elseif documentStatus == 2 %}

                        <input type="hidden" name="action" value="download_documents">

                        <button type="submit" data-style="zoom-in" data-size="s" class="btn btn-success ladda-button">
                        <span class="ladda-label">
                            <i class="fa fa-files-o"></i> Pobierz dokumenty
                        </span>
                        </button>
                        <br>
                        <small>Status zapytania: <b>Zaakceptowano</b></small>

                    {% endif %}

                </form>
            </div>

        {% endif %}

    </div>
    <div class="row">

        {% if canSetTotalDamage %}
            <div class="col-md-4">
                <div class="col-md-3 p-l-0">
                    <label for="{{ root_id }}-is-total-damage">
                        Czy wystąpiła szkoda całkowita
                    </label>
                </div>
                <div class="col-md-3">
                    <select name="is-total-damage" data-root-id="{{ root_id }}" id="{{ root_id }}-is-total-damage"
                            class="form-control">
                        <option value="">---</option>
                        <option value="1" {{ isTotalDamage == 1 ? 'selected' : '' -}}>Tak</option>
                        <option value="0" {{ isTotalDamage == 0 and isTotalDamage is not same as (null) ? 'selected' : '' }}>
                            Nie
                        </option>
                    </select>
                </div>
            </div>
        {% endif %}

    </div>

</div>

<hr class="hidden-print">

<div class="row">
    <div class="col-md-3">
        {{ include('@App/CFMCaseViewer/Templates/case_main_information.html.twig') }}
    </div>
    <div class="col-md-4">
        {{ include('@App/CFMCaseViewer/Templates/case_service_information.html.twig') }}
    </div>
    <div class="col-md-5">

        {{ include('@App/CFMCaseViewer/Templates/case_service_form_portlet.html.twig') }}

        {{ include('@App/CFMCaseViewer/Templates/case_services_portlet.html.twig') }}

        {% if claim_table %}
            <div class="col-md-12 page-break"></div>
            <div class="form-claim">
                {{ include('@App/CFMCaseViewer/Templates/custom_portlet.html.twig', { title: 'Formularz szkody', tableHtml: claim_table }) }}
            </div>
        {% endif %}

        {{ include('@App/CFMCaseViewer/Templates/case_notes_portlet.html.twig') }}

    </div>
</div>