<div class="modal fade bs-modal chat-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">{{ 'notes.add_ask_or_task'|trans|capitalize }}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="note[content]">{{ 'notes.message_content' | trans | desc('Treść pytania / zadania') }}:</label>
                        <div class="col-md-9">
                            <textarea rows="6" name="note[content]" class="chat-message-content form-control"></textarea>
                        </div>
                    </div>

                    {% if canAddSpecialRequest %}

                        <div class="form-group row">
                            <div class="col-md-9">
                                <label class="col-sm-12 control-label" for="note-special-request-2">Nietypowa prośba <small>(zaznaczenie tej opcji dodatkowo spowoduje wysłanie e-mail na adres lz@starter24.pl i lzip@starter24.pl </small></label>
                            </div>
                            <div class="col-md-3">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline" for="note-special-request-2">
                                        <input type="checkbox" name="note[special_request]" id="note-special-request-2" value="1">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="submit-add-note btn btn-info ladda-button" data-color="blue" data-style="zoom-in" data-size="s">
                    <span class="ladda-label">
                        <i class="fa fa-sticky-note"></i> Dodaj
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>