{#{{ form_start(form, {'attr': {'novalidate': ''} }) }}#}
{{ form_start(form) }}

{{ form_row(form.platformId) }}

<h4 class="light-font">Kierowca</h4>

{{ form_row(form.driver_first_name) }}
{{ form_row(form.driver_second_name) }}
{{ form_row(form.driver_phone) }}

<hr>

<h4 class="light-font">Zdarzenie</h4>


{{ form_row(form.event_type) }}
{{ form_row(form.event_description) }}
{{ form_row(form.event_create_date) }}
<hr>

<h4 class="light-font">Pojazd</h4>

{{ form_row(form.car_make_model) }}
{{ form_row(form.car_register_number) }}
{{ form_row(form.car_vin) }}
{{ form_row(form.car_dpr) }}

<hr>
<h4 class="light-font">Lokalizacje</h4>

{{ form_row(form.location_event) }}
{{ form_row(form.location_target) }}

<hr>
<h4 class="light-font">Uwagi</h4>

{{ form_row(form.description) }}

{{ form_row(form.create) }}


{{ form_rest(form) }}
{{ form_errors(form) }}
{{ form_end(form) }}