<div class="portlet light custom-portlet">
    <div class="portlet-title m-b-0">
        <div class="caption font-blue-dark">
            <i class="fa fa-tasks font-blue-dark"></i>
            <span class="caption-subject bold uppercase"> {{ title }}</span>
        </div>
        <div class="tools">
            <a href="" class="expand" data-original-title="" title="">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: none;">
        <div class="custom-table">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="alert alert-info alert-dismissable">
                    <strong>Informacja dla Administratora.</strong>
                    Wyniki tabeli zdefiniowane są w procedurze [dbo].[p_getTableOf_ClaimForm].
                </div>
            {% endif %}
            {{ tableHtml | raw  }}
        </div>
    </div>
</div>