<div class="modal fade bs-modal" id="custom-ajax-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                {{ include('@Web/Default/partials/spinner.html.twig', {size: 'sm'}) }}
                <div class="modal-inner-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>