<div class="modal fade bs-modal" id="finish-rental-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">Zakończenie trwającego wynajmu</h4>
            </div>
            <div class="modal-body">
                <p>Uwaga! Potwierdzenie dyspozycji spowoduje stworzenia zadania dla konsultanta Centrum Zgłoszeniowego, aby zakończył wynajem w sprawie jak najszybciej.</p>
                <form>
                    {#<div class="form-group row">#}
                        {#<label class="col-sm-3 col-md-3 control-label" for="note[content]">Treść zadania:</label>#}
                        {#<div class="col-md-9">#}
                            {#<textarea rows="6" id="note-content" name="note[content]" class="form-control"></textarea>#}
                        {#</div>#}
                    {#</div>#}
                    <input type="hidden" name="finish_rental[case_id]" value="">
                    <input type="hidden" name="finish_rental[task_id]" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-success ladda-button" id="finish-rental-save" data-color="blue" data-style="zoom-in" data-size="s">
                    <span class="ladda-label">
                        <i class="fa fa-check"></i> Potwierdź
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>