<div class="table-scrollable">
    <table class="table table-hover table-light status-services-wrapper" id="change-partner-services-table">
        <thead>
        <tr>
            <th class="text-center"> Usługa </th>
            <th class="text-center"> {{ (platformId == "78") ? "Program / Koszt" : "Program" }}</th>
            <th class="text-center"> Status </th>
        </tr>
        </thead>
        <tbody>

            {% for row in services %}
                <tr class="service-row" data-group-process-id="{{ row.group_process_id }}" data-service-id="{{ row.serviceId }}">
                    <td class="text-center" width="25%">
                        <p>{{ row.service_name }}</p>
                        <img width="50px" src="{{ row.icon }}" alt="">
                    </td>
                    <td class="text-center" width="25%">
                        <small>{{ row.program_name }}</small>
                        {% if row.total_cost is defined and row.total_cost %}
                            <br><strong>Koszt usługi: {{ row.total_cost }} zł</strong>
                        {% endif %}
                    </td>
                    <td class="td-status-bar text-center">

                        {{- row.status_label | raw -}}

                        <div class="td-status-wrapper">
                            <table class="custom-progress-bar-table">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            {% set percent = 0 %}
                            {% set extraClass = '' %}

                            {% if row.status_progress == 1 %}
                                {% set percent = 33 %}
                            {% elseif row.status_progress == 2 %}
                                {% set percent = 66 %}
                            {% elseif row.status_progress == 3 %}
                                {% set percent = 66 %}
                            {% elseif row.status_progress == 4 %}
                                {% set percent = 100 %}
                            {% elseif row.status_progress == 5 %}
                                {% set percent = 100 %}
                                {% set extraClass = 'cancel-service' %}
                            {% elseif row.status_progress == 6 %}
                                {% set extraClass = 'client-organize' %}
                                {% set percent = 100 %}
                            {% endif %}

                            <div class="custom-progress-wrap custom-progress {{ extraClass }}"
                                 data-progress-percent="{{ percent }}"
                            >
                                <div class="custom-progress-bar custom-progress" style="left: {{ percent }}%"></div>
                            </div>
                        </div>
                    </td>
                </tr>

            {% else %}

                <tr>
                    <td rowspan="2">
                        <span class="label label-sm label-danger"> Brak usług </span>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
