{# complaintCategories \AppBundle\Entity\ValueDictionary[] #}

<div class="modal fade bs-modal" id="new-complaint-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">Dodaj reklamacje do sprawy</h4>
            </div>
            <div class="modal-body">
                <form id="key-add-form">
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="note[content]">Treść reklamacji:</label>
                        <div class="col-md-9">
                            <textarea rows="6" name="note[content]" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="note[content]">Kategoria:</label>
                        <div class="col-md-9">
                            <select class="select2 form-control" name="note[category]" id="">

                                {% for category in complaintCategories %}
                                    <option value="{{ category.value }}">{{ category.text }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="note[priority]">Priorytet:</label>
                        <div class="col-md-9">
                            <select class="select2 form-control" name="note[priority]" id="">
                                <option value="1">Niski</option>
                                <option value="5">Średni</option>
                                <option value="10">Wysoki</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="note[case_id]" value="">
                    <input type="hidden" name="note[complaint]" value="1">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-info ladda-button" id="new-complaint-modal-save" data-color="blue" data-style="zoom-in" data-size="s">
                    <span class="ladda-label">
                        <i class="fa fa-sticky-note"></i> Dodaj
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>