<div class="modal fade bs-modal" id="new-note-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">Dodaj zadanie do sprawy</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 control-label" for="note[content]">Treść zadania:</label>
                        <div class="col-md-9">
                            <textarea rows="6" id="note-content" name="note[content]" class="form-control"></textarea>
                        </div>
                    </div>

                    {% if canAddSpecialRequest %}

                        <div class="form-group row">
                            <div class="col-md-9">
                                <label class="col-sm-3 control-label" for="note-special-request">Nietypowa prośba <small>(zaznaczenie tej opcji dodatkowo spowoduje wysłanie e-mail na adres lz@starter24.pl i lzip@starter24.pl </small></label>
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline" for="note-special-request">
                                        <input type="checkbox" name="note[special_request]" id="note-special-request" value="1">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    <input type="hidden" name="note[case_id]" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-info ladda-button" id="new-note-modal-save" data-color="blue" data-style="zoom-in" data-size="s">
                    <span class="ladda-label">
                        <i class="fa fa-sticky-note"></i> Dodaj
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>