{% macro form_group(formChild, colsize, hint) %}

    {% if colsize is null %}
        {% set colsize = 2 %}
    {% endif %}

    <div class="col-md-{{ colsize }}">
        <div class="form-group">
            <label for="{{ formChild.vars.id }}">
                {{- formChild.vars.label | trans -}}
                {#{{ (formChild.vars.label == "case_searcher.status") ? " <b>(To jeszcze nie działa)</b>" | raw }}#}
            </label>
            {{ form_widget(formChild) }}
            {#{{ form_errors(form) }}#}
            {% if hint %}
                <p>
                    <small>{{ hint | raw }}</small>
                </p>
            {% endif %}
        </div>
    </div>

{% endmacro %}

{% import _self as selfMacro %}

<div class="portlet light">
    <div class="portlet-title m-b-0">
        <div class="caption font-red-sunglo">
            <i class="fa fa-search font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> Wyszukaj sprawę</span>
        </div>
    </div>
    <div class="portlet-body">

        <form name="{{ searcherForm.vars.name }}" id="{{ searcherForm.vars.id }}" method="post">

            <div class="form-body">

                <div class="row">
                    {% if searcherForm.platform is defined %}
                        {{ selfMacro.form_group(searcherForm.platform) }}
                    {% endif %}
                    {% if searcherForm.pzu_case_number is defined %}
                        {{ selfMacro.form_group(searcherForm.pzu_case_number, 2, 'Minimum 3 znaki') }}
                    {% endif %}
                </div>

                <div class="row">

                    {{ selfMacro.form_group(searcherForm.case_number) }}

                    {{ selfMacro.form_group(searcherForm.program) }}

                    {% if displayStatusControl %}
                        {{ selfMacro.form_group(searcherForm.status) }}
                    {% else %}
                        <div class="hidden">
                            {{ selfMacro.form_group(searcherForm.status) }}
                        </div>
                    {% endif %}

                    {{ selfMacro.form_group(searcherForm.event_type) }}

                    {% if searcherForm.sub_event_type is defined %}
                        {{ selfMacro.form_group(searcherForm.sub_event_type) }}
                    {% endif %}

                    {% if searcherForm.location is defined %}
                        {{ selfMacro.form_group(searcherForm.location) }}
                    {% endif %}

                    {% if searcherForm.case_category is defined %}
                        {{ selfMacro.form_group(searcherForm.case_category) }}
                    {% endif %}

                    {% if searcherForm.country is defined %}
                        {{ selfMacro.form_group(searcherForm.country) }}
                    {% endif %}

                    {% if searcherForm.car_rental_status is defined %}
                        {{ selfMacro.form_group(searcherForm.car_rental_status) }}
                    {% endif %}

                    {% if searcherForm.basic_service is defined%}
                        {{ selfMacro.form_group(searcherForm.basic_service) }}
                    {% endif %}
                </div>

                <div class="row">

                    {{ selfMacro.form_group(searcherForm.date_from) }}

                    {{ selfMacro.form_group(searcherForm.date_to) }}

                    {% if searcherForm.end_date_rent is defined %}
                        {{ selfMacro.form_group(searcherForm.end_date_rent) }}
                    {% endif %}

                    {% if searcherForm.make_model is defined %}
                        {{ selfMacro.form_group(searcherForm.make_model, 2, 'Minimum 3 znaki') }}
                    {% endif %}

                    {{ selfMacro.form_group(searcherForm.car_registration_number, 2, 'Minimum 3 znaki') }}

                    {% if searcherForm.vin is defined %}
                        {{ selfMacro.form_group(searcherForm.vin, 2, 'Minimum 3 znaki') }}
                    {% endif %}

                    {{ selfMacro.form_group(searcherForm.driver, 2, 'Minimum 3 znaki') }}

                    {% if searcherForm.coordinator is defined %}
                        {{ selfMacro.form_group(searcherForm.coordinator) }}
                    {% endif %}

                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="display-inline-block" style="vertical-align: top;">
                            <button data-style="zoom-in" data-size="s" type="submit"
                                    class="btn ladda-button btn-primary cfm-cases-search">
                                <span class="ladda-label">
                                    <i class="fa fa-search"></i> {{ 'szukaj'|trans|capitalize }}
                                </span>
                            </button>
                        </div>
                        <div class="display-inline-block" style="vertical-align: top;">
                            <button type="button" class="btn btn-warning clear-cases-search">
                            <span class="ladda-label">
                                <i class="fa fa-close"></i> {{ 'clear_embed_filters'|trans|capitalize }}
                            </span>
                            </button>
                        </div>
                        {% if canExportData %}
                            <div class="display-inline-block" style="vertical-align: top;">
                                <button type="button" class="btn btn-success export-data">
                                <span class="ladda-label">
                                    <i class="fa fa-download"></i> Export znalezionych spraw
                                </span>
                                </button>
                            </div>
                        {% endif %}
                        <p class="text-left m-t-1">
                            {% if canExportData %}
                                <small>Limit ustawiony na 10 000 spraw</small>
                                <br/>
                            {% endif %}
                            <small>Data aktualizacji raportu: <strong id="dimension-refresh-date"></strong></small>
                        </p>
                    </div>

                    {% if canCreateCase %}
                        <div class="col-md-offset-4 col-md-4 col-sm-12">
                            <div class="float-right" style="vertical-align: top;">
                                <button data-style="zoom-in" data-size="s" type="button"
                                        class="btn ladda-button btn-green-meadow" id="btn-viewer-create-case">
                                    <span class="ladda-label">
                                        <i class="fa fa-flag"></i> Załóż sprawę
                                    </span>
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-md-6 col-sm-12">
                            <div class="alert alert-info alert-dismissable">
                                <strong>Informacja dla Administratora.</strong>
                                Wyniki i nagłówki tabeli zdefiniowane są w procedurze [dbo].[p_find_cfm_cases].
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>

            {#{{ form_rest(searcherForm) }}#}
            {{ form_end(searcherForm) }}


    </div>
</div>
