<div class="row">

    <div class="col-md-12 searcher-block">
        {{ include('@App/CFMCaseViewer/Templates/searcher_block.html.twig') }}
        <hr>
    </div>

    <div class="col-md-12">
        <div class="tab-wrapper-content-table m-y-2">
            <table class="table table-striped compact table-bordered table-hover dataTable" id="cases-table" data-table-columns="{{ tableColumns }}"></table>
        </div>
    </div>

    {#<div class="col-md-4">#}
        {#{{ include('@Management/Supervisor/CaseTools/case_actions_box.html.twig') }}#}
    {#</div>#}
</div>
