{{ form_start(form) }}
{{ form_rest(form) }}
{{ form_errors(form) }}

{{ content | raw }}

<input type="hidden" id="{{ form.vars.name }}_form_type" name="form_type" required="required" value="{{ formType }}">

<div class="form-group">
    <div class="col-sm-12">
        <button data-color="blue" data-style="zoom-in" data-size="s" type="submit"
                class="btn btn-green-meadow ladda-button float-right">
                <span class="ladda-label">
                    <i class="fa fa-save" aria-hidden="true"></i> Zapisz
                </span>
        </button>
    </div>
</div>

{{ form_end(form) }}

<script>"use strict";

    var formId = '{{ form.vars.name }}';

    $(function () {

        $('form[name="' + formId + '"]').on('submit', function (e) {

            e.preventDefault();

            var $t = $(this),
                $button = $t.find('button'),
                url = $t.attr('action');

            var ladda = Ladda.create($button[0]);
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: $t.serialize(),
                success: function (result) {

                    if(result.valid) {
                        toastr.success('Pomyślnie zapisano.');
                    }

                    $t.replaceWith(result.form);

                },
                error: function(response) {

                    if(response.statusText !== "abort") {
                        toastr.error('Wystąpił błąd przy zapisaniu formularza');
                    }

                },
                complete: function () {
                    ladda.stop();
                }
            });

        })

    });
</script>