<table class="table-responsive table table-bordered">
    {% for key, row in rows %}

        {% if row.label == "separator" %}

            <tr class="active">
                <td class="key-cell text-center" colspan="2">{{ row.value }}</td>
            </tr>

        {% else %}

            <tr class="">
                <td class="key-cell">{{  row.label }}</td>
                <td class="value-cell">{{  row.value }}</td>
            </tr>

        {% endif %}

    {% endfor %}
</table>