<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Nazwa dokumentu</th>
        <th>Pobierz</th>
    </tr>
    </thead>
    <tbody>

    {% for document in documents %}

        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ document.name }}</td>
            <td>
                <a target="_blank" href="{{ url('ccv_documents_download', {rootId: rootId, hashDocumentId: document.documentId}) }}" class="btn btn-primary">Pobierz</a>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>