{% extends "WebBundle::base.html.twig" %}

{% block title %}{{ 'queue_jobs'|trans|desc('jobs in queue')|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_job_index')}}">
                <span class="caption-subject bold">
                    {{ 'queue_jobs_list'|trans|desc('Kolejka zadań')}}
                </span>
            </a>
        </div>
    </div>

    <p>{{ 'last_number_results'|trans({'%number%': 100})|desc('lista ostatnich %number% rezultatów')|capitalize }}:</p>

    <div id="users-ajax-container">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-vam">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Waiting for</th>
                    <th>State</th>
                    <th>Command</th>
                    <th>Created At</th>
                    <th>Execute after</th>
                    <th>Runtime</th>
                    <th class="fit"></th>
                </tr>
                </thead>
                <tbody id="users-tbody">
                {% for job in pagination %}
                    {% set colorClass = 'blue-oleo' %}
                    {% if job.state == 'finished' and not job.output %}
                        {% set colorClass = 'font-green-jungle' %}
                    {% elseif job.state == 'failed' or job.state == 'finished' and job.output %}
                        {% set colorClass = 'font-red' %}
                    {% elseif job.state == 'running' %}
                        {% set colorClass = 'font-yellow-lemon' %}
                    {% endif %}

                    <tr>
                        <td><a href="{{ path("admin_job_show", {"jobId": job.id}) }}">{{ job.id }}</a></td>
                        <td>
                            {% for dependency in job.dependencies %}
                            {% if loop.index > 1 %},{% endif %}
                            <a href="{{ path("admin_job_show", {"jobId": dependency.id}) }}">{{ dependency.id }}</a>
                        </td>
                        {% endfor %}
                        </td>
                        <td class="{{ colorClass }}">{{ job.state|upper }}</td>
                        <td>
                            {{ job.command }}
                            {% for key, arg in job.args %}
                                {{ ' '~arg }}
                            {% endfor %}
                        </td>
                        <td>{{ job.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ job.executeAfter|date('Y-m-d H:i:s') }}</td>
                        <td>{{ job.runtime|gmdate('H:i:s') }}</td>
                        <td class="fit">
                            {% if job.state == 'pending' or job.state == 'running' %}
                                <a class="btn btn-danger btn-xs tooltips" title="{{ 'force ending'|trans }}"
                                   href="{{ path('admin_job_force_change_status', {'id' : job.id, 'state' : job.state == 'running' ? 'terminated' : 'canceled'}) }}"
                                   data-toggle="tooltip" data-placement="top"><i class="fa fa-close"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation m-t-3">
        </div>
    </div>


{% endblock %}
    {% block extrascripts %}
        <script>
            $(function () {
                $('#ticket-filter-form #status').on('change', function () {
                    var url = '{{ path('admin_ticket_index', {'page' : 1, 'status' : 'STATUS_PLACEHOLDER'}) }}';
                    window.location = url.replace('STATUS_PLACEHOLDER', $(this).val());
                });
            });
        </script>
    {% endblock %}