{% extends "WebBundle::base.html.twig" %}
{% import "JMSJobQueueBundle:Job:macros.html.twig" as macros %}
{% if entity.state == 'finished' and not entity.output %}
    {% set color = 'green' %}
{% elseif entity.state == 'failed' or entity.state == 'finished' and entity.output %}
    {% set color = 'red' %}
{% else %}
    {% set color = 'orange' %}
{% endif %}

{% block content %}
    <h2>{{ 'job'|trans|desc('zadanie')|capitalize~' #'~entity.id ~', '~entity.command }}</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <td><strong>Status</strong></td>
            <td><strong style="color: {{ color }} ">{{ entity.state|upper }}</strong></td>
        </tr>
        <tr>
            <td><strong>{{ 'package'|trans|upper }}</strong></td>
            <td>{{ package.name }}</td>
        </tr>
        {% if file %}
            <tr>
                <td><strong>{{ 'file_name'|trans|capitalize }}</strong></td>
                <td>{{ file.name }}</td>
            </tr>
        {% elseif importer %}
            <tr>
                <td><strong>{{ 'query'|trans|capitalize }}</strong></td>
                <td>{{ importer.query }}</td>
            </tr>
        {% endif %}
        <tr>
            <td><strong>{{ 'command'|trans|desc('command') }}</strong></td>
            <td>
                {{ entity.command }}
                {% for key, arg in entity.args %}
                    {{ ' '~arg }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>parameters</strong></td>
            <td>
                {% for key, arg in entity.args %}
                    {{ key  ~': '~ arg }} {% if loop.index != loop.last %}<br/>{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'created_at'|trans|desc('data utworzenia')|capitalize }}</strong></td>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'started_at'|trans|desc('data rozpoczęcia')|capitalize }}</strong></td>
            <td>{{ entity.startedAt ? entity.startedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'closed_at'|trans|desc('data zamknięcia')|capitalize }}</strong></td>
            <td>{{ entity.closedAt ? entity.closedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'process_worker_name'|trans|desc('nazwa workera procesu')|capitalize }}</strong></td>
            <td>{{ entity.workerName }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'output'|trans }}</strong></td>
            <td><span style="color:red">{{ entity.output|raw }}</span></td>
        </tr>
        <tr>
            <td><strong>{{ 'exit_code'|trans }}</strong></td>
            <td>{{ entity.exitCode|raw }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'error_output'|trans }}</strong></td>
            <td>{{ entity.errorOutput|raw }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'stack_trace'|trans }}</strong></td>
            <td>
            {% if entity.stackTrace.message is defined %}
                {{ entity.stackTrace.message|raw }}
            {% else %}
                {{ entity.stackTrace|raw }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'runtime'|trans|desc('Czas trwania') }}</strong></td>
            <td>{{ entity.runtime|gmdate('H:i:s') }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'memory_usage'|trans|desc('Zużycie pamięci') }}</strong></td>
            <td>{{ entity.memoryUsage }}</td>
        </tr>
    </table>


{% endblock %}