$blue : #3598dc;

.atlas-map-container {
  width: 100%;
  height: 350px;
}

.material-form {
  label {
    text-align: left;
  }
}

.atlas-map-info-content {
  display: none;
  &.active {
    display: block;
  }
}