$blue: #3c7091;

.fix-icon-btn {
  i {
    margin-top: 0 !important;
    line-height: 20px !important;
  }
}

.btn-group-xs>.btn, .btn-xs {
  padding: 3px 7px;
}

.btn-green-meadow {
  background-color: #1bbc9b;
  border-color: #18a689; // darken 5%
  color: #fff;
  &:hover, &:focus {
    background-color: #18a689;
    color: #fff;
  }
}

.btn-yellow-crusta {
  background-color: #f3c200;
  border-color: #daae00; // darken 5%
  color: #fff;
  &:hover, &:focus {
    background-color: #daae00;
    color: #fff;
  }
}

.btn-primary-blue {
  background-color: $blue;
  border-color: darken($blue, 5%); // darken 5%
  color: #fff;
  &:hover, &:focus {
    background-color: darken($blue, 5%);
    color: #fff;
  }
}