$primaryDarkColor: #3B3F51;

#form-result {
    margin: 20px 0;
}

.result-content {
    .mt-element-list .list-default.mt-list-container {

        border: 0;

        ul {
            overflow: auto;
            max-height: 600px;
            &::-webkit-scrollbar {
                width: 8px;
            }
            > .mt-list-item {
                &:hover {
                    cursor: pointer;
                }
                & > .list-item-content {
                    padding: 0 100px 0 0;
                }
                & > .list-datetime {
                    width: 90px;
                }

                &.done {
                    background-color: #96ebc8;
                }
            }
        }

    }

}