#attribute-chart-container {
  .submit-chart {
    border: none;
  }
}

#export-to-svg{
  right: 75px;
  z-index: 999;
  border-color: #000;
}
.relative .select-search {

  width: 300px;
  z-index: 999;
  display: inline-block;
  position: absolute;
  right: 144px;
  top: 1px;

}
#attribute-search-container {
  background: #eee;
  padding-left: 10px !important;
  position: relative;
  padding-bottom: 10px;
}

#step-attributes {
  border-right: 1px solid #eee;
}
#attribute-search {
  background-color: #fff;
  margin-bottom: 10px;
  border: #eee;
}

#add-attribute-container {
  i.fa {
    font-size: 13px;
    margin-right: 3px;
  }
}

#attribute-list {
  background: #eee;
  li {
    div {
      &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
        background: #00b1e1 !important;
        color: #fff !important;
        cursor: pointer;
      }
      width: 100%;
      display: block;
      padding: 5px 10px;
    }
    background: #fff;
    margin: 0px;
    border: 1px solid #eee;
    border-bottom: none;
  }
  padding: 2px 0 0 0;
  list-style: none;
  overflow: hidden;
  margin: 0;
}

#step-modal {
  #attribute-search-container {
    padding: 10px 10px 0 10px;
  }
  #step-attributes {
    padding: 0;
  }
  .step-name{
    display: inline-block;
    margin-top: 4px;
  }
}

#step-attributes-list {
  .step-attribute {
    .edit-form-container {
      .form-row + .form-row {
        margin-top: 5px;
      }
      padding: 2px 10px;
    }
    border-bottom: 1px solid #eee;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 3px 0 0 0;
  }
  span.name {
    margin: 5px 8px;
    display: inline-block;
  }
  .remove-step-attribute {
    padding: 3px 5px;
    display: inline-block;
    font-size: 1.5rem;
  }
  padding: 0;
  margin: 0;
}

.btn-step-view input[type=radio] {
  display: none;
}

#process-chart-options{
  #program-id{
    width: 300px !important;
    display: block;
  }
  position: absolute;
  right: 10px;
  top: 10px;
}