$def_font: "Open Sans";

#cometchat {
  background-color: #3B3F51;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  /*font-family: $def_font;*/
  font-family: "Open Sans" !important;
  * {
    box-sizing: border-box !important;
  }
  #cometchat_tabcontainer {
    border-top: 1px solid #e2e2e2;
    background-color: #eceaea;
    .cometchat_tab {
      font-family: $def_font;
    }
  }
  .cometchat_tabcontent,
  .cometchat_tabpopup,
  .cometchat_nofriends,
  .cometchat_chats_labels,
  .cometchat_chatboxmessage {
    font-family: $def_font;
  }

  .cometchat_secondaryviewuserscontent, .cometchat_secondaryinviteuserscontent.cometchat_tabopen {
    /*max-height: 279px;*/
    max-height: 226px;
  }

  #cometchat_inviteusers_iframe {
    max-height: 229px;
    overflow: hidden;
    div[id^="invite_"] {
      max-height: 45px;
    }
  }

  .cometchat_moderatoroptions {
    input {
      font-size: 10px;
      text-align: center;
      padding: 2px;
      background-color: #3b3f51;
    }
  }

  .cometchat_wrapper {
    .slimScrollDiv {
      max-height: 179px;
      .container_body {
        max-height: 179px;
      }
    }
  }

  #cometchat_chatboxes {
    .cometchat_tabcontent {
      background-color: #fff;
      max-height: initial!important;
      height: auto!important;
      .cometchat_textarea {
        max-width: 145px;
        max-height: 15px;
        white-space: pre;
        overflow-wrap: normal;
        overflow-x: hidden;
      }
    }
  }

  #cometchat_userscontent {
    /*max-height: 209px!important;*/
    max-height: 238px!important;
    #cometchat_groupslist_content{
      max-height: 238px!important;
    }
  }

  .cometchat_plugins_dropdown_icon {
    background: url('../images/web/images/custom/expand.svg') no-repeat center center / 80%;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
    transform: rotate(270deg);
    &:hover {
      background: url('../images/web/images/custom/expand1.svg') no-repeat center center / 80%;
    }
    &.cometchat_pluginsdropdown_arrowrotate {
      transform: rotate(360deg);
    }
  }

  #cometchat_chatbox_left {
    background: darken(#3B3F51, 10%) url('../images/web/images/custom/show_unseen.svg') no-repeat 80% center / 30% !important;
    position: absolute;
    left: 10px;
    bottom: 4px;
    height: 33px;
    border-radius: 5px!important;
    width: 55px;
    padding-right: 30px;
    margin-left: 0;
    transition: background 0.2s ease-in-out;
    color: #fff!important;
    &:hover {
      background-color: darken(#3B3F51, 15%)!important;
    }
    .cometchat_userName {
      max-width: 120px;
      font-size: 10px;
    }
    .slimScrollDiv {
      right: 5px!important;
      width: 190px!important;
    }
    #cometchat_unseenUsers {
      bottom: 5px!important;
      width: 160px;
    }
    #cometchat_unseenUsers > div {
      background-color: darken(#3B3F51, 5%);
      color: #fff;
      padding: 5px 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: darken(#3B3F51, 10%);
      }
      &:nth-child(even) {
        background-color: darken(#3B3F51, 15%);
        &:hover {
          background-color: darken(#3B3F51, 20%);
        }
      }
    }
  }

  .cometchat_tab.cometchat_tabopen_bottom {
    max-width: 210px;
    min-height: 33px;
    background-color: darken(#3B3F51, 10%);
    /*border-bottom: 3px solid #3B3F51;*/
    transition: all 0.2s ease-in-out;
    border-radius: 5px!important;
    margin-bottom: 3px;
    .cometchat_user_shortname {
      max-width: 170px;
      font-size: 12px;
      line-height: 22px;
      user-select: none;
    }
    &:hover {
      /*border-bottom: 3px solid lighten(#3B3F51, 15%);*/
      border: none;
      background-color: darken(#3B3F51, 15%);
    }
    .cometchat_closebox{
      margin-top: 4px;
    }
  }

  .erase-message {
    background: url('../images/web/images/custom/bin.svg') no-repeat center center / 60%;
    height: 20px;
    width: 30px;
    float: right;
    transition: background 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      background: url('../images/web/images/custom/bin2.svg') no-repeat center center / 60%;
    }
  }

  .cometchat_tabcontenttext {
    height: 195px;
    max-height: 195px;
    max-width: 210px;
    background-color: #fff !important;
    .ccmsg_avatar {
      width: 24px;
      height: 24px;
      margin-top: 3px;
    }
    .cometchat_smiley {
      width: 20px;
      height: 20px;
      margin: 0;
    }
  }

  .cometchat_nogroups, .cometchat_nofriends {
    font-size: 12px;
    padding-top: 15px;

  }

  #cometchat_userstab {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3000;
    background: #e68409;
    display: block;
    height: auto;
    width: 190px;
    transition:  all 0.2s ease-in-out;
    padding-right: 40px;
    margin-bottom: 3px;
    border-radius: 5px!important;
    &:before {
      content: ''!important;
      position: absolute;
      right: 10px;
      top: 5px;
      width: 25px;
      height: 25px;
      background: url('../images/web/images/custom/chat.svg') no-repeat right center / 20px;
    }
    &:hover {
      background: darken(#e68409, 5%);
      text-indent: initial;
      border: none!important;
    }
  }

  #cometchat_userstab_popup {
    max-height: 279px;
    &.shrinked {
      height: 0;
    }
    .slimScrollDiv {
      height: auto !important;
      max-height: 100%;
      & > div {
        /*max-height: 209px;*/
        max-height: 238px;
      }

    }
    .cometchat_closebox {
      margin-right: 3px;
    }
    .cometchat_tab_clicked {
      background-color: #fff;
      border-bottom: 2px solid #3B3F51;

    }
  }

  .cometchat_popup_plugins {
    top: 26px;
  }

  .cometchat_groupscontentname {
    max-width: 70px;
    font-size: 10px;
  }

  .cometchat_groupusercount {
    max-width: 90px;
    font-size: 10px;
  }

  .cancel_edit {
    position: absolute;
    background-color: #3b3f51;
    border: 1px solid #fff;
    padding: 2px 4px;
    color: #fff;
    margin: 0;
  }

  #cometchat_groupstab {
    width: 190px;
  }

  .cometchat_popup_convo_plugins {
    height: 198px;
  }

  #cometchat_tabcontainer {
    width: 100%;
    .addGroup-icon {
      background: #fff url('../images/web/images/custom/add_group.svg') no-repeat center center / 35%;
      height: 40px;
      width: 25%;
      float: left;
      margin: 0;
      border-bottom: 2px solid #e2e2e2;
      transition: all 0.2s ease-in-out;
      border-right: 0!important;
      &:hover {
        cursor: pointer;
        background: #fff url('../images/web/images/custom/add_group2.svg') no-repeat center center / 35%;
        border-bottom: 2px solid #9ba2a8;
      }
      &.cometchat_tab_clicked {
        background: #fff url('../images/web/images/custom/add_group3.svg') no-repeat center center / 35%;
        border-bottom: 2px solid #3B3F51;
      }
    }
    .minimize-icon {
      position: absolute;
      right: 0;
      top: 0;
      background: url('../images/web/images/custom/minimize.svg') no-repeat center center / 60%;
      height: 15px;
      width: 15px;
      float: right;
      transition: background 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background: url('../images/web/images/custom/minimize2.svg') no-repeat center center / 100%;
      }
    }
  }

  .cometchat_pluginstop {
    width: 208px;
    .cometchat_plugins_dropdownlist {
      width: 25%;
      float: left;
      clear: initial!important;
      height: 40px;
      transition: all 0.2s ease-in-out;
      padding: 0;
      &[name="viewusers"] {
        background: url('../images/web/images/custom/show_users.svg') no-repeat center center / 45%;
        border-bottom: 2px solid #e2e2e2;
        &:hover {
          background: url('../images/web/images/custom/show_users1.svg') no-repeat center center / 45%;
          border-bottom: 2px solid #3B3F51;
        }
      }
      &[name="inviteusers"] {
        background: url('../images/web/images/custom/add_user.svg') no-repeat center center / 45%;
        border-bottom: 2px solid #e2e2e2;
        &:hover {
          background: url('../images/web/images/custom/add_user1.svg') no-repeat center center / 45%;
          border-bottom: 2px solid #3B3F51;
        }
      }
      &[name="unbanusers"] {
        background: url('../images/web/images/custom/unban.svg') no-repeat center center / 45%;
        border-bottom: 2px solid #e2e2e2;
        &:hover {
          background: url('../images/web/images/custom/unban1.svg') no-repeat center center / 45%;
          border-bottom: 2px solid #3B3F51;
        }
      }
      &[name="leavegroup"] {
        background: url('../images/web/images/custom/leave.svg') no-repeat center center / 45%;
        border-bottom: 2px solid #e2e2e2;
        &:hover {
          background: url('../images/web/images/custom/leave1.svg') no-repeat center center / 45%;
          border-bottom: 2px solid #3B3F51;
        }
      }
      .cometchat_plugins_name {
        display: none;
      }
    }
  }

  #cometchat_createchatroom {
    .add-group-title {
      font-size: 12px;
      text-transform: uppercase;
      color: #3B3F51;
      font-weight: 600;
      position: absolute;
      top: 15px;
      padding: 0 10px;
    }
    .create {
      padding-top: 30px;
    }
  }

  #cometchat_createchatroom_popup {
    max-height: 279px;
    z-index: 9999999;
    /*bottom: 0;*/
    bottom: 40px;
  }

  #cometchat_createchatroom_content {
    .group-close {
      background: url('../images/web/images/custom/cross.svg') no-repeat center center / 80%;
      position: absolute;
      right: 5px;
      top: 8px;
      padding: 10px 8px 5px 8px;
      font-size: 16px;
      color: #bbc6ce;
      transition: color 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background: url('../images/web/images/custom/cross2.svg') no-repeat center center / 80%;
      }
    }
    form {
      padding: 20px 10px 0 10px;
      border-top: 1px solid #e6e7ea;
      input, select {
        font-size: 12px;
        min-height: 35px;
        width: 100%;
        border: 1px solid #e2e2e2;
      }
      .createroombutton {
        border-radius: 0 !important;
        background-color: #3B3F51;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: lighten(#3B3F51, 10%);
        }
      }
    }
  }

  #cometchat_groupslist {
    .cometchat_grouplist {
      min-height: 45px;
    }
    .cometchat_groupscontentavatar {
      background-color: transparent;
    }
    .cometchat_chats_labels {
      font-size: 12px;
      color: #3B3F51;
      font-weight: 600;
    }
  }

  #cometchat_contactstab, #cometchat_groupstab, #cometchat_moreicon {
    width: 25%;
    min-height: 40px;
    transition: all 0.3s ease-in-out;
    border-right: 0 !important;
    border-bottom: 2px solid transparent;
  }

  .cometchat_vline {
    display: none;
  }

  #cometchat_groupstab {
    background: #fff url('../images/web/images/custom/group2.svg') no-repeat center center / 40%;
    border-bottom: 2px solid #e2e2e2;
    &:hover {
      border-bottom: 2px solid #9ba2a8;
      background: #fff url('../images/web/images/custom/group3.svg') no-repeat center center / 40%;
    }
    &.cometchat_tab_clicked {
      background: #fff url('../images/web/images/custom/group.svg') no-repeat center center / 40%;
    }
  }

  #cometchat_contactstab {
    border-bottom: 2px solid #e2e2e2;
    background: #fff url('../images/web/images/custom/message2.svg') no-repeat center center / 40%;
    &:hover {
      border-bottom: 2px solid #9ba2a8;
      background: #fff url('../images/web/images/custom/message3.svg') no-repeat center center / 40%;
    }
    &.cometchat_tab_clicked {
      background: #fff url('../images/web/images/custom/message.svg') no-repeat center center / 40%;
    }
  }

  #cometchat_moreicon {
    border-bottom: 2px solid #e2e2e2;
    margin: 0;
    background: #fff url('../images/web/images/custom/settings2.svg') no-repeat center center / 35%;
    &:hover {
      border-bottom: 2px solid #9ba2a8;
      background: #fff url('../images/web/images/custom/settings3.svg') no-repeat center center / 35%;
    }
    &.cometchat_tab_clicked {
      background: #fff url('../images/web/images/custom/settings.svg') no-repeat center center / 35%;
      &:hover {
        border-bottom: 2px solid #3B3F51;
      }
    }
  }

  #cometchat_contactslist .cometchat_buddylist_status {
    width: 120px;
    max-width: 120px;
    padding-left: 10px;
  }

  .cometchat_userlist {
    min-height: 45px;
    position: relative;
    .cometchat_userscontentdot {
      position: absolute;
      right: 10px;
      width: 10px;
      height: 10px;
      margin: auto;
      top: 0;
      bottom: 0;
      border-radius: 50% !important;
    }
    .cometchat_userscontentname {
      font-size: 10px;
    }
  }

  .cometchat_userlist_hover {
    background-color: #f2f2f2 !important;
  }

  .cometchat_plugins_dropdown {
    /*display: none;*/
  }

  .cometchat_iframe {

    transition: height 0.2s ease-in-out;
  }

  .cometchat_tabcontent .cometchat_self a {
    color: #3B3F51;
    margin-top: 10px;
    display: block;
  }

  .cometchat_tabpopup {
    width: 190px;
    border-right: 1px solid #e6e7ea;
    border-left: 1px solid #e6e7ea;
    box-shadow: 0px 1px 10px -2px rgba(50, 50, 50, 0.15);
    max-height: 279px;
    bottom: 40px;
    .cometchat_plugins_openup {
      display: none;
    }
    .cometchat_tabcontentinput {
      padding: 0;
    }
    .cometchat_inner_container {
      width: 100%;
      margin: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      padding: 5px 10px;
      min-height: 30px;
      textarea {
        font-family: "Open Sans" !important;
        min-height: 20px;
      }
    }

    .cometchat_smilies {
      position: relative;
      left: 5px;
      background: url('../images/web/images/custom/smile1.svg') no-repeat center center / 100%;
      transition: background 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background: url('../images/web/images/custom/smile2.svg') no-repeat center center / 100%;
      }
    }

  }

  .cometchat_tab {
    width: 190px;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    &:hover {
      border-bottom: 2px solid #bbc6ce;
    }
    &.cometchat_tab_clicked {
      border-bottom: 2px solid #3B3F51 !important;
    }
  }
  .cometchat_userscontentavatar {
    width: 25px;
    .cometchat_userscontentavatarimage {
      border: none;
      width: 25px;
    }
  }

  .cometchat_pluginsbottom {
    width: 190px;
  }

  .cometchat_prependMessages, .cometchat_prependCrMessages {
    color: #3b3f51;
    border: 1px solid #3b3f51;
    margin-bottom: 15px;
    width: 85%;
    font-family: "Open Sans"!important;
    font-size: 10px;
    padding: 8px 30px 8px 5px;
    transition: all 0.2s ease-in-out;
    background: #fff url('../images/web/images/custom/arrow-history2.svg') no-repeat 90% center / 12%;
    &:hover {
      color: #fff;
      background: #3b3f51 url('../images/web/images/custom/arrow-history1.svg') no-repeat 90% center / 12%;
    }
  }

  .cometchat_ts {
    color: #464646;
    cursor: default;
    font-size: 9px;
    bottom: 5px;
    right: 0;
    position: absolute;
    width: 50px;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
  }

  .cometchat_ts:after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
  }

  .cometchat_time {
    color: #3B3F51;
    font-family: "Open Sans"!important;
    width: 85%;
    font-size: 10px;
    margin-bottom: 20px
  }

  .cometchat_chatboxmessage {
    span {
      font-size: 11px;
    }
  }

  .sentToUs .cometchat_chatboxmessagecontent.cometchat_floatL {
    margin-top: 0!important;
    margin-left: 0!important;
  }

  .sentToUs .cometchat_floatL {
    margin: 0!important;
  }

  .sentToUs .cometchat_floatL .cometchat_msg {
    display: block;
  }

  div[id^="chatroom_userlist_"] {
    min-height: 45px;
    position: relative;
  }

  div[id^="cometchat_user_"], div[id^="cometchat_group_"] {
    width: 210px;
  }

  div[id^="cometchat_groupmessage_"] {
    padding-bottom: 15px;
    margin: 5px 0;
    display: block;
    border-radius: 5px !important;
    position: relative;
    margin-right: 10px!important;
    .cometchat_ts {
      right: 0px;
      bottom: 15px;
    }
    .cometchat_ts_other {
      bottom: 15px;
    }
    .cometchat_chatboxmessagecontent:not(.cometchat_self) {
      margin-left: 0!important;
    }
    .cometchat_chatboxmessagecontent {
      background-color: #fff!important;
      max-width: 160px;
    }
    .cometchat_self, .cometchat_self_msg, div.cometchat_floatL {
      color: #3B3F51;
      padding: 5px;
      border-radius: 5px !important;
      border-top: 2px solid #3b3f51;
      box-shadow: 0px 1px 10px -2px rgba(50, 50, 50, 0.45);
      position: relative;
      margin-right: 5px!important;
    }
    div.cometchat_floatL {
      margin:0!important;
    }
  }

  .cometchat_chatboxmessagecontent {
    background: none!important;
    padding: 0;

  }
  div[id^="cometchat_message_"] {
    display: block;
    border-radius: 5px!important;
    padding-bottom: 10px;
    div.cometchat_floatL {
      margin-top: 0!important;
      margin-left: 0!important;
      margin-bottom: 0!important;
      max-width: 150px;
      & > span {
        display: block;
      }
    }
    div.cometchat_floatR {
      margin-top: 0!important;
      margin-left: 10px;
      margin-bottom: 0!important;
      & > span {
        display: block;
      }
    }
    .cometchat_chatboxmessagecontent:not(.cometchat_self) {
      margin-left: 0;
    }
    .cometchat_self_msg {
      margin-right: 15px!important;
    }
    .cometchat_self, .cometchat_self_msg, span.cometchat_msg {
      color: #3B3F51;
      padding: 5px;
      border-radius: 5px !important;
      border-top: 2px solid #3b3f51;
      box-shadow: 0px 1px 10px -2px rgba(50, 50, 50, 0.45);
      position: relative;
      & > span {
        display: block;
      }
    }
  }

  div[id^="cometchat_user_"] {
    .cometchat_plugins_dropdown {
      display: none;
    }
  }

  #cometchat_optionsbutton_popup {
    max-height: 238px !important;
    & > .slimScrollDiv {
      height: 238px !important;
      #cometchat_optionscontent {
        height: 238px !important;
      }
    }
    .cometchat_tabcontent {
      background-color: #fff !important;
    }
  }

  .cometchat_tabcontent {
    .slimScrollDiv {
      height: auto!important;
    }
  }

  .cometchat_backbutton_viewgroupuserspopup {
    margin-top: 4px;
    background-size: 90%;
  }

  .cometchat_tabtitle {
    background-color: #fff;
    height: 25px;
    border: 1px solid #e6e7ea;
    overflow: hidden;
    padding: 0 8px;
    color: #333;
    .cometchat_name {
      max-width: 160px;
      font-size: 10px;
    }
    .cometchat_groupname, .cometchat_name {
      color: #333;
      margin-top: 2px;
      max-width: 160px;
      font-size: 10px;
      user-select: none;
    }
    .cometchat_closebox {
      background: url('../images/web/images/custom/cross.svg') no-repeat center center / 60%;
      &:hover {
        cursor: pointer;
        background: url('../images/web/images/custom/cross2.svg') no-repeat center center / 60%;
      }
    }
  }

  .custom-toolbar {
    /* bbc6ce 3b3f51  */
    background: #f8f8f8;
    width: 100%;
    display: inline-block;
    height: 25px;
    border-bottom: 4px solid #eceaea;
    .clean-chat {
      margin-right: 5px;
      margin-top: 3px;
      border: none;
      clear: initial !important;
      float: right;
      width: 15px;
      height: 15px;
      background: url('../images/web/images/custom/clean1.svg') no-repeat center center / 100%;
      transition: background 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background: url('../images/web/images/custom/clean2.svg') no-repeat center center / 100%;
      }
    }
    .send-file {
      margin-left: 5px;
      margin-top: 3px;
      border: none;
      clear: initial !important;
      float: left;
      width: 15px;
      height: 15px;
      background: url('../images/web/images/custom/file1.svg') no-repeat center center / 100%;
      transition: background 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background: url('../images/web/images/custom/file2.svg') no-repeat center center / 100%;
      }
    }
  }

  .cometchat_userstabtitle {
    padding: 0;
    max-height: 28px;
    background-color: white;
    border-radius: 5px 5px 0 0 !important;
    display: none;
    .cometchat_name {
      font-size: 11px;
    }
  }

  .cometchat_self {
    background: none !important;
    padding-bottom: 20px;
    margin: 0;
  }

  #cometchat_selfname {
    margin: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
    .cometchat_chats_labels {
      font-size: 12px;
      color: #3B3F51;
      font-weight: 600;

    }
    .cometchat_lightdisplay {
      font-size: 12px;
      min-height: 35px;
      width: 100%;
      border: 1px solid #e2e2e2;
    }
  }

  #cometchat_statusmessage {
    margin: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
    .cometchat_chats_labels {
      font-size: 12px;
      color: #3B3F51;
      font-weight: 600;

    }
    .cometchat_statustextarea {
      font-size: 12px;
      min-height: 55px;
      width: 100%;
      border: 1px solid #e2e2e2;
    }
  }

  .cometchat_statusinputs {
    margin: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
    .cometchat_chats_labels {
      font-size: 12px;
      color: #3B3F51;
      font-weight: 600;
    }
    .cometchat_optionsstatus {
      padding: 9px;
      min-height: 30px;
      .cometchat_radio_inner {
        margin: 2px;
      }
    }
  }

  .cometchat_options_disable {
    margin: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
    .cometchat_chats_labels {
      font-size: 12px;
      color: #3B3F51;
      font-weight: 600;
    }
    .cometchat_lightdisplay {
      padding: 9px;
      min-height: 30px;
      .cometchat_controlindicator {
        position: absolute;
        right: 18px;
      }
      .cometchat_checkindicator {
        right: 25px;
        top: 10px;
      }
    }
  }

  .cometchat_statustextarea {
    height: 35px;
  }

  .cometchat_tabcontent textarea.cometchat_statustextarea {
    height: 35px;
  }

  .cometchat_tabcontent textarea.cometchat_statustextarea {
    height: 35px;
  }

  /*.cometchat_tabcontent .slimScrollDiv {
    max-height: 195px;
  }*/

  /*#cometchat_contactslist .slimScrollDiv {
    max-height: 165px;
  }*/

  .cometchat_closebox {
    width: 15px;
    height: 15px;
    background-size: 100%;
    margin-top: 5px;
    margin-right: -2px;
  }

  .cometchat_plugins_dropdown_icon {
    width: 15px;
    height: 15px;
    margin-top: 2px;
  }

  #cometchat_tabcontainer .cometchat_tab:hover {
    background-color: #fff;
  }

  #cometchat_searchbar {
    display: block;
    position: relative;
    .cometchat_closeboxsearch {
      position: absolute;
      right: 5px;
    }
    #cometchat_search {
      min-height: 30px;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    #cometchat_searchbar_icon {
      width: 14px;
      height: 14px;
      top: 8px;
      left: 7px;
      background-size: 14px;
      position: absolute;
    }
  }

  .cometchat_userstabtitletext.cometchat_tabtitle_header {
    font-size: 11px;
  }

  .cometchat_inner_container {
    .slimScrollDiv {
      max-width: 130px;
    }
  }

  .cometchat_ts {
    right: 11px;
    bottom: 10px;
    margin: 0!important;
    width: auto;
    color: #464646;
    display: none;
  }
  .cometchat_ts_other {
    left: 45px;
    bottom: 10px;
    margin: 0!important;
    width: auto;
    color: #464646;
    display: none;
  }

  .cometchat_floatL .ccmsg_avatar {
    margin-right: 8px;
  }

  .cometchat_floatR .ccmsg_avatar {
    margin-left: 8px;
  }

  .ccmsg_avatar {
    margin-top: 0!important;
  }

  .cometchat_self, .cometchat_self_msg, .cometchat_msg {
    max-width: 100%;
    margin-right: 0;
    .imagemessage.mediamessage {
      height: auto;
      max-width: 60px;
      img {
        width: 40px!important;
        height: 40px;
      }
    }
  }

  .selfMsgArrow, .msgArrow {
    display: none;
  }

  .file-image {
    img {
      max-width: 100px;
    }
  }

  .cometchat_checkbox {
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .cometchat_unreadCount {
    right: 35px;
    bottom: 11px;
    position: relative;
    border-radius: 50%!important;
    z-index: 1;
    height: 18px;
    width: 18px;
    text-align: center;
    padding: 0;
    line-height: 18px;
    background-color: #ff9900;
  }

/*  .cometchat_tabpopup {
    top: 20px;
    background-color: red;
  }*/

  // Disable / Enable group chat

  //#cometchat_contactstab {
  //  width: 100%;
  //}
  //#cometchat_groupstab {
  //  display: none;
  //}
}

.cometchat_ccmobiletab_redirect {
  font-size: 16px !important;
  padding: 5px 10px;
}

/** HOT FIX Z NIECHOWAJĄCYM SIĘ CZATEM! */

.cometchat_tabhidden {
  display: none !important;
}



