$red: #e43a45;
$blue: #3c7091;

.services-popover {
  .service-description {
    margin: 0;
    font-size: 12px;
  }
  .inactivity-reason {
    color: red;
    font-size: 12px;
    margin: 0;
  }
  hr {
    margin: 5px 0;
  }
  .popover-content {
    text-align: center;
    button {
      position: relative;
      border: none;
      color: #fff;
      width: 40%;
      margin: 10px 5px;
      padding: 5px 10px;
      &.activate-service {
        background-color: #1bbc9b;
      }
      &.close-popover {
        background-color: #e43a45;
        border-color: #e43a45;
      }
    }
  }
  max-width: 450px;
}

.status-services-wrapper {
  .td-status-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
}

.consultant-services, .status-services-wrapper {
  .single-service:not(.abandon-service), .td-status-bar {
    .custom-progress-bar-table {
      width: 100%;
      height: 20px;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 10;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out;
      background-color: transparent;
      cursor: pointer;
      tr, td {
        height: 7px;
        padding: 0;
        margin: 0;
      }
      td {
        text-align: center;
        border-right: 3px solid #fff;
        border-collapse: collapse;
        width: 25%;
      }
      td:last-child {
        border-right: none;
      }
    }
    .custom-progress {
      width: 100%;
      height: 5px;
      transition: all 0.2s ease-in-out;
    }
    .custom-progress-wrap {
      background-color: lighten($blue, 20%);
      margin: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      &[data-progress-percent="100"] {
        background-color: $blue;
      }
      &.cancel-service {
        background-color: #e53b45;
      }
      &.client-organize {
        background-color: #f7ca18;
      }
      &[data-progress-percent="50"] {
        background-color: lighten($blue, 15%);
      }
      &[data-progress-percent="75"] {
        background-color: lighten($blue, 10%);
      }

      .custom-progress-bar {
        background-color: #dadada;
        left: 0;
        position: absolute;
        top: 0;
      }
    }
   /* &:hover {
      padding-top: 30px;
      .custom-progress-bar-table:hover + .custom-progress-wrap {
        opacity: 0.8!important;
      }
      .custom-progress, .custom-progress-bar-table {
        height: 15px;
        tr:hover {
          cursor: pointer;
        }
      }
    }*/
  }
  .ribbon-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .ribbon {
      display: none; // hide on purpose
      position: absolute;
      right: -7px;
      top: -7px;
      z-index: 1;
      overflow: hidden;
      width: 135px;
      height: 125px;
      text-align: right;
      span {
        font-size: 7px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 21px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 140px;
        padding-left: 5px;
        display: block;
        background: #c3c3c3;
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 34px;
        right: -25px;
        text-shadow: 1px 1px 9px #676767;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid #9c9c9c;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #9c9c9c;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid #9c9c9c;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #9c9c9c;
        }
      }
    }
  }
  .additional-info {
    background-color: #fff;
    p {
      margin: 0;
      color: #666;
    }
  }
  .tooltip {
    opacity: 1;
    z-index: 99999;
    .tooltip-inner {
      background-color: #fff;
      padding: 10px;
      max-width: 100%;
      width: auto;
      min-width: 250px;
      border: 1px solid #ccc;
      text-align: left;
    }
    .tooltip-arrow {
      border-top-color: #ccc;
    }
  }
  .consultant-services-title {
    padding: 7px 10px;
    font-size: 20px;
    font-family: "Open Sans Light";
  }
  .services-wrapper {
    display: inline-block;
    width: 100%;
    .single-service {
      width: 30%;
      margin: 10px 10px;
      padding: 20px 12px 30px 12px;
      height: auto;
      display: inline-block;
      border: 1px solid rgba(204, 204, 204, 0.55);
      position: relative;
      vertical-align: top;
      z-index: 1;
      &:hover {
        cursor: default;
      }
      .disabled-text {
        display: none;
      }
      &.inactive {
        background-color: rgba(204, 204, 204, 0.24);
        .disabled-text {
          display: block;
          width: 100%;
          height: 28px;
          position: absolute;
          bottom: 0;
          margin: auto;
          text-align: center;
          left: 0;
          font-family: "Open Sans Light";
          font-size: 12px;
          line-height: 28px;
          color: #222;
          transition: opacity 0.5s ease-in-out;
        }
        .custom-progress-bar-table td {
          border-right-color: #F4F3F3;
        }
        .status-wrapper {
          .status.show-status {
            .status-letter.loading {
              background-color: #f3f3f3;
            }
          }
        }
      }
      &.abandon-service {
        //float: left;
        .service-title {
          color: #d80027;
          font-family: "Open Sans";
        }
      }
      .service-title {
        font-family: "Open Sans Light";
        text-align: center;
        font-size: 16px;
      }
      .service-icon {
        width: 60px;
        height: 60px;
        display: block;
        margin: 10px auto;
        text-align: center;
        &.smaller {
          text-align: center;
          img {
            height: 40px;
            width: 40px;
            margin-top: 5px;
          }
        }
        img {
          width: 50px;
          height: 50px;
          transition: opacity 0.3s ease-in-out;
        }
      }
      .status-wrapper {
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 10px;
        right: 0;
        padding: 0 10px;
        .status {
          margin-left: 2px;
          width: 15%;
          height: 30px;
          float: right;
          display: inline-block;
          text-align: center;
          line-height: 30px;
          font-family: "Open Sans SemiBold";
          color: #fff;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
          }
          img {
            max-width: 25px;
            padding: 3px;
            margin-bottom: 3px;
          }
          &.awaiting {
            background-color: #f7ca18;
            &:hover {
              background-color: darken(#f7ca18, 5%);
            }
          }
          &.show-status {
            //border: 1px solid #acacac;
            background-color: $blue;
            float: left;
            margin-left: 0;
            &.timeout {
              background-color: $red;
              .status-letter {
                i {
                  //color: $red;
                }
              }
            }
            .status-letter {
              position: relative;
              width: 100%;
              height: 100%;
              display: inline-block;
              padding-top: 2px;
              &.loading {
                background-color: #fff;
              }
              i {
                color: #fff;
                font-size: 18px;
              }
              .letter {
                position: absolute;
                left: 1px;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                color: #333;
                background-color: #fff;
                width: 10px;
                height: 10px;
                line-height: 10px;
              }
              .task-icon {
                padding: 2px;
                position: relative;
                bottom: 2px;
                max-width: 23px;
              }
              .outdated-icon {
                display: none;
                width: 17px;
                height: 17px;
                position: absolute;
                top: 6px;
                left: 5px
              }
            }

            &.outdated {
              background-color: #d80027;
              border: none;
              .letter {
                background-color: #d80027;
                color: #fff;
                bottom: 0;
                top: 0;
                right: 0;
                left: 13px;
                position: absolute;
                margin: auto;
              }
              .task-icon {
                display: none;

              }
              .outdated-icon {
                display: initial;
                padding: 2px;
                max-width: 20px;
              }
            }
          }
          &.active {
            background-color: #1bbc9b;
            &:hover {
              background-color: darken(#1bbc9b, 7%);
            }
          }
          &.inactive {
            background-color: #acacac;
            &:hover {
              background-color: darken(#acacac, 7%);
            }
          }
          &.extra-program-btn {
            background-color: #32c5d2;
            border-color: #32c5d2;
            &:hover{
              background-color: darken(#32c5d2,7%);
              border-color: darken(#32c5d2,7%);
            }
          }
        }
      }
    }
  }
  .float {
    transition: all 0.3s ease-in-out;
    &:hover {
      border: 1px solid #bdbdbd;
      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}