body.error-displayed {
  .page-header.navbar {
    display: none!important;
  }
  .atlas-iframe-wrapper.enabled-chat {
    padding: 0!important;
  }
}

.error-content {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  .exception {
    background: rgba(37,40,50,1);
    background: -moz-linear-gradient(left, rgba(37,40,50,1) 0%, rgba(58,62,80,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,40,50,1)), color-stop(100%, rgba(58,62,80,1)));
    background: -webkit-linear-gradient(left, rgba(37,40,50,1) 0%, rgba(58,62,80,1) 100%);
    background: -o-linear-gradient(left, rgba(37,40,50,1) 0%, rgba(58,62,80,1) 100%);
    background: -ms-linear-gradient(left, rgba(37,40,50,1) 0%, rgba(58,62,80,1) 100%);
    background: linear-gradient(to right, rgba(37,40,50,1) 0%, rgba(58,62,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252832', endColorstr='#3a3e50', GradientType=1 );
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    font-family: "Open Sans";
    position: absolute;
    .error-container {
      position: absolute;
      top: 0;
      bottom: 100px;
      margin-top: auto!important;
      margin-bottom: auto;
      max-height: 330px;
      width: 100%;
      .errorCode {
        font-size: 22rem;
        color: #fff;
        font-weight: 600;
        line-height: 221px;
        user-select: none;
      }
      .userErrorText {
        font-size: 7rem;
        line-height: 82px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.41);
        margin-top: 50px;
        margin-left: 20px;
        user-select: none;
        max-width: 500px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
      }
      .errorText {
        font-size: 10rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.41);
        max-width: 350px;
        margin-top: 48px;
        line-height: 86px;
        user-select: none;
        &.error500 {
          font-size: 7rem;
          line-height: 56px;
        }
        &.errorText403 {
          font-size: 8rem;
          max-width: 440px;
        }
      }

      .errorDescription{
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        display: inline-block;
      }
      .error-icon {
        font-size: 50px;
        color: #e68409;
        display: inline-block;
        position: relative;
        top: 10px;
        margin-right: 10px;
      }
      .historyBack {
        background-color: #e68409;
        padding: 7px 15px;
        color: #fff;
        font-weight: 600;
        border-bottom: 1px solid transparent;
        position: absolute;
        left: 0;
        right: 0;
        margin: 50px auto 20px auto;
        max-width: 200px;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: darken(#e68409, 5%);
          border-bottom: 1px solid darken(#e68409, 10%);
          cursor: pointer;
        }
        &:active {
          background-color: darken(#e68409, 10%);
          border-bottom: 1px solid darken(#e68409, 15%);
        }
      }
      .errorCode, .errorText, .errorDescription, .error-icon, .historyBack {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
      }
    }
    &.error500 .error-container {
      max-height: 540px;

    }
    .maintenance {
      background: url('../bundles/web/images/tool.svg') no-repeat center 75% / 100%;
      width: 150px;
      height: 226px;
      display: inline-block;
    }
  }
  .userErrorTable {
    position: absolute;
    bottom: 100px;
    max-width: 510px;
    width: 75%;
    background-color: rgb(52, 56, 72);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2b303c;
    th, td {
      color: #fff;
      padding: 10px;
      border: none;
      background-color: #393d4e;
      i {
        font-size: 20px;
        margin:2px 0 0 0!important;
      }
    }
    th:first-child {
      text-align: center;
      padding-left: 15px;
    }
  }
  .table-title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  .errorTable {
    position: absolute;
    bottom: 100px;
    width: 75%;
    background-color: rgb(52, 56, 72);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    th, td {
      color: #fff;
      padding: 4px 8px;
    }
  }
}

@media (min-width: 320px) and (max-width: 992px) {
  html.no-logon .login-page-logo a {
    img {
      max-width: 80px;
    }
  }
  .error-content .exception .error-container {
    margin-top: 50px;
  }
  .error-content .exception .error-container .errorCode {
    margin-top: 40px;
    text-align: center;
    font-size: 60px;
    line-height: 48px;
  }
  .error-content .exception .error-container .errorText.error500 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 19px;
    font-weight: 600;
    margin: 0 auto;
  }
  .error-content .exception .error-container .errorText {
    font-size: 1.5rem;
    text-align: center;
    line-height: 19px;
    font-weight: 600;
    margin: 0 auto;
  }
  .error-content .exception .error-container .userErrorText {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .error-content .exception .error-container .error-icon {
    margin: 20px 10px 20px 0;
  }
  .error-content .exception .error-container .errorText.errorText403 {
    font-size: 1.5rem;
  }

  .error-content .exception .maintenance {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }

  .error-content .errorTable {
    word-wrap: break-word;
    word-break: break-all;
    table-layout: fixed;
    bottom: 5px;
    width: 90%;
  }
  .error-content .exception .error-container .historyBack {
    margin-top: 0;
    min-width: 120px;
  }
}