@font-face
{
  font-family: "Open Sans";
    src: url('/bundles/web/fonts/open-sans/regular/OpenSans-Regular-webfont.eot'),
         url('/bundles/web/fonts/open-sans/regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('/bundles/web/fonts/open-sans/regular/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
  font-family: "Open Sans Bold";
    src: url('/bundles/web/fonts/open-sans/bold/OpenSans-Bold-webfont.eot'),
         url('/bundles/web/fonts/open-sans/bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('/bundles/web/fonts/open-sans/bold/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
  font-family: "Open Sans ExtraBold";
    src: url('/bundles/web/fonts/open-sans/extrabold/OpenSans-ExtraBold-webfont.eot'),
         url('/bundles/web/fonts/open-sans/extrabold/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('/bundles/web/fonts/open-sans/extrabold/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
  font-family: "Open Sans SemiBold";
    src: url('/bundles/web/fonts/open-sans/semibold/OpenSans-Semibold-webfont.eot'),
         url('/bundles/web/fonts/open-sans/semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/bundles/web/fonts/open-sans/semibold/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
  font-family: "Open Sans Light";
    src: url('/bundles/web/fonts/open-sans/light/OpenSans-Light-webfont.eot'),
         url('/bundles/web/fonts/open-sans/light/OpenSans-Light-webfont.woff') format('woff'),
         url('/bundles/web/fonts/open-sans/light/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$primary-font-size: 13;
$primary-font-family: 'Open Sans';
$bold-font-family: 'Open Sans Bold';
$extrabold-font-family: 'Open Sans ExtraBold';
$light-font-family: 'Open Sans Light';
$semibold-font-family: 'Open Sans SemiBold';

body{
  font-family: $primary-font-family;
  font-size: $primary-font-size+px;
}

th {
  font-family: $semibold-font-family;
}
.underline{
    text-decoration: underline;
}
.italic{
    font-style: italic !important;
}
.bold{
    font-family : $bold-font-family !important;
}
.semibold{
    font-family : $semibold-font-family !important;
}
.extrabold{
    font-family : $extrabold-font-family !important;
}
.tiny{
    font-size: 0.72rem;
}
.text-shaded{
    text-shadow: 0px 2px 3px rgba(70, 70, 70, 0.6);
}

.page-content-row .page-sidebar .navbar-nav > li > a, .table th, .table td, .table thead tr th, .page-header .navbar .navbar-nav .dropdown-menu > li > a,
.nav-pills > li > a, .nav-tabs > li > a, .form-control, .select2-selection__rendered {
  font-size: $primary-font-size+px;
}

.larger {
  font-size: 1.2rem !important;
}

.large {
  font-size: 1.5rem !important;
}

.big {
  font-size: 2rem !important;
}