/*$blue : #3598dc;*/
$purple: #703688;
$blue-light: rgba(53, 152, 220, 0.3);

.form-builder-modal {
  width: 700px;
  &:not(.advanced-view)
  {
    .modal-content {
      max-height: inherit !important;
    }
  }

  .modal-body {
    /*padding: 13px 15px 13px 25px;*/
    padding: 8px 15px 10px 25px;
    #description {
      resize:vertical;
    }
  }

  .modal-header {
    padding: 4px 10px 5px 15px;
    background-color: #3b3f51;
    color: #fff;
    .close {
      background-image: url('../bundles/web/images/remove-icon-small-white.png');
      opacity: 1;
      background-color: transparent;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .modal-body {
    .close {
      display: none;
    }
  }

  .form-group {
    label {
      text-align: left;
    }
  }
  &.advanced-view {
    width: 90%;
    .modal-content {
      width: 60%;
      margin-left: 40%;
      //max-height: 650px;
      overflow-y: auto!important;
      .modal-header {
        position: fixed;
        width: 40%;
        //max-height: 650px;
        overflow-y: auto;
        transform: translate(-101%,0);
      }
      .modal-body {
        .close {
          display: block;
        }
      }
    }

  }

  .change-view {
    background: none;
    border: none;
    font-size: 14px;
    color: $blue;
    position: absolute;
    right: 30px;
    top: 10px;
    padding: 0;
    line-height: 16px;
    &:hover {
      color: #1b77dc;
    }
    &:focus, &:active {
      outline: none !important;
    }
  }
}

#available-fields {
  margin: 0 15px;
  .row {
    border: 1px dashed #aaa;
    min-height: 64px;
    margin-top: 10px;
  }
}

#editable-fields {

  margin: 0 15px;
  .row.dropzone {
    position: relative;
    min-height: 64px;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 0.5rem 0;

    &.active {
      border-color: #aaa;
    }
    &:hover {
      .remove-row, .rename-row {
        display: block;
      }
      .name-row  {
        &:after {
          content: " (" attr(data-name-slug) ")";
        }
      }
    }
    .remove-row {
      display: none;
      position: absolute;
      right: -1px;
      top: -1px;
      width: 26px;
      height: 26px;
      line-height: 26px;
      padding: 0;
      border: 0;
      z-index: 10;
    }
    .rename-row {
      display: none;
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 26px;
      height: 26px;
      line-height: 26px;
      padding: 0;
      border: 0;
      z-index: 10;
    }
    .name-row {
      &[data-name='noname'] {
        display: none;
      }
      &:after {
        font-size: 12px;
        color: $blue-light;
      }

      position: absolute;
      top: -20px;
      left: 0;
      span {
        font-size: 12px;
        color: $blue;
        &:before {
          content: "Sekcja: ";
        }
      }
    }

    &:first-child {
      .control-order {
        .up {
          display: none;
        }
      }
    }
    &:last-child {
      .control-order {
        .down {
          display: none;
        }
      }
    }

    .control-order {
      position: absolute;
      left: -26px;
      width: 25px;
      top: 0;
      bottom: 0;
      .up, .down, .add-row-under {
        position: absolute;
        width: 100%;
        text-align: center;
      }
      .up {
        top: 5px;
      }
      .down {
        bottom: 5px;
      }
      .add-row-under {
        color: #158f76;
        top: 50%;
        margin-top: -9px;
      }
    }
  }
  .drop-target {
    background-color: #bce0ee;
    border-color: #fff;
    border-style: solid;
  }
}

.resizable-field {

  min-height: 64px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 3;

  &.focus-link {
    background-color: rgba(242, 120, 75, 0.1);
  }

  //@include transition(background-color 0.5s ease, width 0.2s ease);
  .ui-resizable-e {
    right: 0;
  }
  .ui-resizable-w {
    left: 0;
  }

  &:hover, &.resizable-active {
    background-color: $blue-light;
    .ui-resizable-e {
      background-color: $blue;
    }
    .ui-resizable-w {
      background-color: #703688;
    }
  }
  input, select, textarea {
    max-width: 100%;
    //width: 100%;
    //display: block;
  }

  .form-group {
    margin-bottom: 0;
  }

  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    display: block;
    &:hover {
      cursor: pointer;
      > i.fa {
        @include rotate(90);
      }
    }
    > i.fa {
      margin-left: 1px;
      margin-right: 10px;
      @include transition(all 0.5s ease);
    }
  }
}

//.dropzone {
//  background-color: #ccc;
//  border: dashed 4px transparent;
//  border-radius: 4px;
//  margin: 10px auto 30px;
//  padding: 10px;
//  width: 80%;
//  transition: background-color 0.3s;
//}
//
//.drop-active {
//  border-color: #aaa;
//}



.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

.draggable-field {
  .form-group:hover {
    .linked-icon, .class-icon {
      display: block;
    }
  }
  .class-icon, .linked-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 35px;
    + .checkbox {
      margin-bottom: 0;
      margin-top: 12px;
      margin-left: 24px;
    }
  }

  .class-icon {
    left: 44px;
    &:hover, &.has-class {
      i {
        color: #4e4;
      }
    }
  }

  .linked-icon {
    left: 20px;
    &:hover, &.has-link {
      i {
        color: #f2784b;
      }
    }
    i {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

#available-fields .draggable-field .linked-icon,
#available-fields .draggable-field .class-icon {
  display: none;
}

#classed-input-box {
    input[type="text"] {
      width: 300px;
    }
}

.linked-box {
  position: absolute;
  display: none;
  z-index: 9999999;
  @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5));

  .linked-wrapper {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #c2cad8;
  }

  p {
    margin: 5px 0;
  }

  .select2-container.select2-container--bootstrap {
    min-width: 150px;
  }

  input, select, .select2-container, button {
    vertical-align: middle;
    display: inline-block;
  }

  input.form-control {
    width: 100px;
  }
}


.apicall-form{
  margin-top: 50px;
  .btn-remove{
    float: right;
    margin-right: 15px;
  }
}


#api-call-form{
  .form-actions{
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 9999;
  }
}

#api-call-content{
  overflow: scroll;
  .calls{
    padding: 20px 10px;;
  }
}
.apicall-form {
  //text-align: center;
  .json-codemirror,
  .CodeMirror {
    text-align: left;
  }
  .btn-remove{
    float:right;
  }
}
