$blue: #3598dc;
$mainColor: #3b3f51;

label {
  text-align: right;
}

.form-horizontal .form-group.form-md-line-input > label {
  padding-top: 7px;
}

.select2-container .select2-selection {
  //height: 38px !important;
  //padding-top: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
}

.error-list li {
  color: #e73d4a;
}

.form-group.has-error.form-md-line-input .help-block {
  opacity: 1;
}

.input-group select {
  width: 100%;
}

.input-group > .sel-wrap {
  margin: 5px 0;
  left: 25px;
  right: 25px;
  top: 25px;
}

//.sel-wrap > select2 {
//  width: 100%;
//}

.input-group label {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  transition: 0.2s ease-out;
  pointer-events: none;
  color: #555;
}

.input-group label.filled {
  left: 05px;
  transform: translateY(-140%);
  display: inherit;
}

.input-group label.active {
  color: blue;
}

.control-label .required, .form-group .required {
  font-size: inherit;
  color: inherit;
}

.select2-container--bootstrap {
  width: 100% !important;
}

.select2-container.select2-container--bootstrap {
  width: auto !important;
  //select2-container--open
}

select.full-width + .select2-container.select2-container--bootstrap {
  width: 100% !important;
}

.inline-checkboxes > div {
  position: relative;
  display: inline-block;
  padding: 0 20px !important;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
}

label i.fa {
  margin-left: 10px;
}

.checkbox, .form-horizontal .checkbox {
  padding-left: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
  min-height: 21px;
}

.batch-edit-checkbox {
  display: inline-block;
  vertical-align: top;
}

label + .batch-edit-checkbox {
  margin-left: 5px;
}

.form-control.lower {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 32px;
}
.modal-form {
  .form-group {
    @include clearfix;
  }
}

.datepicker .active {
  background-color: #fff !important;
  &:hover {
    background-color: #fff !important;
  }
  /* background-color: #2678FC!important; */
}

.datepicker--day-name {
  color: #0064b0;
}

#tool-editor-form {
  label.custom-required{
    &:after {
      content: ' *';
      color: red;
    }
  }

  .red-border {
    border-color: red;
  }

  &.edit-row-of-tool {
    .checkbox {
      margin-top: 36px;
    }
    .batch-edit-checkbox {
      .checkbox {
        margin-top: inherit;
      }
      & + .checkbox {
        margin-top: 10px;
      }
    }
  }

  .form-group-section {
    padding: 10px;
    border: 1px dashed #ddd;
    margin: 15px 0 5px 0;
    position: relative;

    .title-section {
      position: absolute;
      top: -10px;
      background-color: #fff;
      padding: 0 10px;
      font-size: 12px;
      color: $blue;
      font-weight: 600;
    }
  }
}

#atlas_tool_auto_generator {
  //.checkbox {
  //   margin-top: 36px;
  // }
}

.a2lix_translationsLocales.nav {
  > li > a {
    padding: 10px 35px;

  }
  .has-error {
    a {
      color: #e73d4a;
    }
  }
  margin-bottom: 20px;
}

#ticket-filter-form {
  select {
    margin-top: -7px;
  }
  margin: 0.3rem 0;
  display: inline-block;;
}

.word-type {
  font-size: 0;
  button {
    display: inline-block;
    &.init-word-edit {
      max-width: 150px;
      width: 69%;
      margin-right: 2%;
    }
    &.print-word {
      width: 28%;
      max-width: 60px;
    }
  }
}

input[type=file] {
  margin-top: 5px;
}

#upload-progress {
  .bar {
    height: 18px;
    background: #1BBC9B;
  }
  height: 18px;
  border: 1px solid #18918b;
}

#start-upload-btn {
  margin-top: 1rem;
}

#insurance-data-import-form #dictionaries {
  > .form-group {
    > label.control-label {
      display: none !important;
    }
    > .col-sm-9 {
      margin-left: 15px;
      padding-top: 15px;
      border: 1px dashed #ddd;
    }
  }
}

.tiny-input-form-group {
  input {
    width: 80px;
    display: inline;
  }
}

#form-suffix .help-block, #form-errors {
  color: #e73d4a !important;
}

#form-errors {
  span.fa {
    margin-right: 3px;
  }
}

textarea.sql-codemirror {
  display: inline-block !important;
  height: 1px;
  line-height: 1px;
  color: #fff;
  font-size: 1px;
  border: 0;
  padding: 0;
}

#step-attribute-edit-form{
  margin-bottom: 0.5rem;
}

#tool-editor-form {
  .form-group {
    margin-bottom: 0;
    .select2 {
      /*height: 30px;*/
      height: auto;
      .selection {
        /*max-height: 30px;*/
       /* span {
          height: 30px;
        }*/
        .select2-selection__choice {
          white-space: normal;
        }
      }
    }
    input, button {
      height: 30px;
    }
    button {
      line-height: 12px;
    }
    label {
      margin-bottom: 0;
      margin-top: 3px;
      font-size: 12px;
    }
    label + .advanced-upload-box {
      display: block;
    }
  }
}
.advanced-upload-box {
  background-color: white;
  border: 2px dashed rgba(59, 63, 81, 0.4);
  padding: 5px 10px;
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  color: $mainColor;
  @include transition(background 0.3s ease);

  &.is-dragover {
    background-color: #e9ecf3;
  }

  input[type="file"] {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .text {
    padding: 3px 0;
    text-align: center;
  }

  &.is-uploading {
    .list-files {
      display: block;
    }
    .text {
      display: none;
    }
  }

  .list-files {
    display: none;
    .file-box {
      display: inline-block;
      margin: 3px;
      padding: 10px;
      background-color: #e9ecf3;
      position: relative;
      text-align: center;
      .close {
        position: absolute;
        top: 4px;
        right: 4px;
        content: 'x';
        display: none;
        color: #000;
      }
      .icon {
        height: 48px;
        background: transparent url('../images/web/images/files_icon/text-48_32.png') no-repeat center top;
        background-size: contain;
        &.text-icon {
          background-image: url('../images/web/images/files_icon/text-48_32.png');
        }
        &.docx-icon {
          background-image: url('../images/web/images/files_icon/docx_win-48_32.png');
        }
        &.eml-icon {
          background-image: url('../images/web/images/files_icon/eml-48_32.png');
        }
        &.jpeg-icon, &.jpg-icon {
          background-image: url('../images/web/images/files_icon/jpeg-48_32.png');
        }
        &.pdf-icon {
          background-image: url('../images/web/images/files_icon/pdf-48_32.png');
        }
        &.pptx-icon {
          background-image: url('../images/web/images/files_icon/pptx_win-48_32.png');
        }
        &.rar-icon {
          background-image: url('../images/web/images/files_icon/rar-48_32.png');
        }
        &.xlsx-icon, &.xls-icon {
          background-image: url('../images/web/images/files_icon/xlsx_win-48_32.png');
        }
        &.zip-icon {
          background-image: url('../images/web/images/files_icon/zip-48_32.png');
        }

      }
      .name {
        padding-top: 4px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .size {
        display: block;
      }
    }
  }

  p {
      margin: 5px 0;
    strong {
      cursor: pointer;
    }
  }

  .box__dragndrop {
    display: inline;
  }

}


// -----------------------------
// CUSTOM CLASS FOR FORM BUILDER
// -----------------------------

.form-group {
  .small-textarea {
    height: 70px;
  }

  .medium-textarea {
    height: 140px;
  }

  .big-textarea {
    height: 240px;
  }
}

.form-block-upload-file {
  .advanced-upload-box {
    display: block;
  }

  .advanced-upload-box + .btn {
    display: block;
    width: 100%;
    margin-top: 2px;
  }
}

.preview-image-widget {
  width: 50%;
  margin: 5px auto;
  img {
    display: block;
    max-width: 100%;
  }
}

input.form-control.small-text {
  width: 100px;
}

input::-webkit-calendar-picker-indicator{
  display: none;
}

input[type="date"]::-webkit-input-placeholder{
  visibility: hidden !important;
}

.label-inline-block {
  display: inline-block;
  &.init-hide {
    display: none;
  }
}

.form-horizontal.sm-label {
  padding-left: 15px;
  .form-group {
    margin-bottom: 0;
  }
  .control-label {
    font-size: 10px;
    text-align: left;
    margin-bottom: 4px;
  }
}

.notes-filters-wrapper {
  .filtersHolder {
    label, select {
      width: 100%;
    }
    .label-filter{
      text-align: left;
      font-weight: bold;
    }
  }
}