$jabberBg: #484e61;
$jabberBgActive: #575d77;
$mainColor: #3b3f51;

.jabber-voice-top-bar {
  background-color: $jabberBg;
  padding: 0 !important;
}

.phone-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

.incoming-call-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  lefT: 0;
  right: 0;
  z-index: 5;
  animation: incomingCallOverlay 2s infinite ease-in-out;
  opacity: 0.7;
}

#toast-container {
  > div.jabber-toast {
    background-image: none !important;
    animation-name: toast_not_ready;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
    padding: 10px 15px 5px 50px;
    > .toast-message{
      font-size: 17px;
      text-align: center;
    }
    &:hover {
      cursor: default;
      box-shadow: 0 0 12px #999;
    }
  }
  right: 0px;
  top: 35px;
}

.alerting-bg {
  color: #fff !important;
  background-image: none !important;
  animation-name: toast_not_ready;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#toast-container > .jabber-toast:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  color: #FFF;
  padding-right: 0.5em;
  left: 15px;
  top: 50%;
  margin-top: -7px;
}

#toast-container > .jabber-toast.toast-warning:before {
  content: "\f095";
}

$warningColor: #f89406;
$errorColor: #bd362f;

@-webkit-keyframes toast_not_ready {
  0% {
    background-color: $warningColor;
  }
  100% {
    background-color: $errorColor;
  }
}

.incoming-call-box {
  display: none;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px #e9ecf3 solid;
  box-shadow: 1px 1px 10px $mainColor;
  width: 500px;
  /*min-height: 260px;*/
  min-height: initial;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -130px;
  &.moved {
    display: block;
    right: 20px;
    bottom: 50px;
    top: initial;
    left: initial;
    opacity: 0.7;
    .actions {
      display: none;
    }
  }

  &.simple-version {
    min-height: 50px;
    height: auto;
    min-width: 300px;
    width: auto;
    margin-left: initial;
    padding: 20px;
    margin-top: -40px;
    top: 100px;
    left: initial;
    right: 50px;

    .calling-phone {
      width: auto;
      margin: 0;
      line-height: 34px;
      display: inline-block;
    }

    .actions {
      width: auto;
      margin: 0 0 0 30px;
      text-align: right;
      display: inline-block;
      button {
        margin: 0;
        width: auto;
        max-width: 100%;
      }
    }

    .greeting, .client-data  {
      display: none;
    }
  }

  //&.calling {
  //  @include transform(scale(1));
  //}

  > div {
    margin: 10px 0;
    font-size: 16px;
    strong {
      font-weight: 700;
    }
    .spinner {
      display: inline-block;
      vertical-align: bottom;
      .box-spinner {
        .sk-fading-circle {
          margin: 0 auto;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .greeting {
    font-size: 28px;
    text-align: center;
  }
  .client-data {
    .client-info {
      &.ready + .spinner {
        display: none;
      }
    }
  }

  .actions {
    text-align: center;
    .pick-up {
      display: inline-block;
      width: 80%;
      margin: 20px 0;
    }
  }
  &.visible + .incoming-call-overlay {
    display: block;
  }
}
#invalidcertcontainer {
  display: none;
  width: 400px;
  position: fixed;
  top: 80px;
  left: 50%;
  margin-left: -200px;
  background-color: #fff;
  padding: 20px;
  border: 1px #e9ecf3 solid;
  box-shadow: 1px 1px 10px $mainColor;
  z-index: 99999;
  h3 {
    margin: 10px 0;
  }
  #responsebuttons {
    margin: 10px 0;
  }
  #certdetailstable {
    width: 100%;
  }
  #responsebuttons {
    text-align: right;
    margin: 20px 0 0;
    button:first-of-type {
      margin-right: 5px;
    }
  }
}

//phone-transfer

.phone-transfer {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  border-right: 1px solid $mainColor;
  z-index: 1;
  .phone-transfer-buttons {
    padding: 6px 4px 5px;
    position: relative;
    z-index: 1;
    background-color: #5f616b;

    .toggle-phone-transfer {
      a:hover {
        color: #e9ecf3 !important;
      }
    }
  }
  .phone-transfer-content {
    display: none;
    position: absolute;
    background-color: $jabberBg;
    @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.7));
    width: auto;
    min-width: 100%;
    padding: 10px;
    z-index: 0;
    left: 0;
    color: #fff;
    .row-device {
      min-width: 300px;
    }
    input[type="text"] {
      font-size: 18px;
    }
  }
}

//#speakervolumecontrol-range-slider {
.volume-control-range-slider {
  width: 80%;
  float: left;
  height: 8px;
  .noUi-handle {
    width: 14px;
    height: 18px;
    left: -7px;
    &:after, &:before {
      left: 4px;
      top: 4px;
      height: 10px;
    }
    &:after {
      left: 7px;
    }
  }
}

#microphone-meter {
  border: 1px #fff solid;
}

.telephony-audio-test {
  .fa-play-circle {
    display: block;
  }
  .fa-stop-circle {
    display: none;
  }
  &.active {
    .fa-stop-circle {
      display: block;
    }
    .fa-play-circle {
      display: none;
    }
  }
}

//#speaker-volume-value {
.volume-value {
  float: right;
  width: 20%;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}

.error-login-wrapper {
  z-index: 3;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #484e61;
  button {
    background: none;
    border: 0;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    color: #95a5a6;
    height: 100%;
    i {
      color: #fff;
    }
  }
}