.mt-checkbox-list.no-pad, .mt-radio-list.no-pad {
    padding: 1px 0;
}
.table-limit-height {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

table.atlas-version-logs-table {
    tr.active {
        td {
            background-color: rgba(67, 182, 174, 0.3) !important;
        }
    }
}

.timeline {
    .timeline-version-name {
        background-color: #3c3f51;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-size: 18px;
        }
    }
}

.timeline-atlas-log {
    .list-version-log {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .task-list-item {
        .task-icon {
            float: left;
        }
        .task-content {
            padding: 0 45px 0 35px;
            span {
                color: #2f353b;
                font-size: 14px;
            }
        }
    }
}

.tabbable-custom {
    position: relative;
}

.change-view-automation {
    position: absolute;
    top: 0;
    right: 20px;
    .mt-checkbox {
        margin: 0;
    }
}

.loading-spinner {
    >.box-spinner {
        display: none;
    }
    &.loading {
        > .box-spinner {
          display: block;
        }
        .business-role-content {
            display: none;
        }
    }
}

#management-user-role-task-table {
    margin: 10px 0;
    overflow: auto;
    max-height: 600px;
    &::-webkit-scrollbar {
        height: 8px;
    }
}

.user-role-task-table {
    position: relative;
    .box-spinner {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: -10px;
        z-index: 1;
        background-color: rgba(0,0,0,0.05);
        .sk-fading-circle {
            top: 50%;
            margin: -20px auto 0;
        }
    }

    thead {
        th {
            &[data-platform-group-id]:nth-of-type(2n+1) {
                background-color: #f1f1f1;
            }
        }
        tr {

        }
        .business-group-box {
            font-size: 0;
        }
    }
    tbody {
        td {
            vertical-align: middle !important;
            .mt-checkbox, .mt-radio {
                padding-left: 20px;
            }
            &.is-compress {
                display: none;
            }
        }
        .compressed-td {
            background-color:  rgb(229, 243, 255);
            text-align: center;
            &.is-compress {
                display: table-cell;
            }
        }
        .role-table-td {
            text-align: center;
        }
        .functional-role-td {
            text-align: center;
            background-color: rgb(229, 243, 255);
            .role-table-td {
                white-space: nowrap;
            }
        }
    }

    .role-name {
        text-align: center;
    }
    .role-actions {
        white-space: nowrap;
        text-align: center;
        .btn {
            margin: 3px;
            display: inline-block;
        }
    }
    .description-tr {
        .role-table-td-head {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            max-width: 100px;
        }
    }
}

th.with-collapse-group {
    text-align: center;
    &.is-compress {
        white-space: nowrap;
        width: 1%;
        .btn-compress {
            display: none;
        }
        .btn-expand {
            display: inline-block;
        }
    }
    .btn-expand {
        display: none;
    }
}

.compressed-cell {
    display: none;
}

.compress-td-change-user-role {
    .td-change-user-role, .th-change-user-role {
        display: none;
    }
    .compressed-cell {
        display: table-cell;
    }
}

.group-box-item {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    h3 {
        margin: 0;
    }
}

.form {
    .form-loader {
        .box-spinner  {
            .sk-fading-circle {
                margin: 3px 5px;
                width: 25px;
                height: 25px;
            }
            display: none;
        }
    }
    &.loading {
        .form-loader {
            .box-spinner  {
                display: block;
            }
        }
    }
}

#management-user-control-user-role + .select2-container.select2-container--bootstrap {
    width: 300px !important;
}

.management-user-content-table {
    .form-management-roles {
        padding: 0;
        .form-group {
            border-right: 1px #e7ecf2 solid;
            text-align: center;
            padding: 5px;
            .center-block {
                cursor: pointer;
            }
        }
    }
    tr{
        th.th-change-user-role.is-compress,
        th.th-change-user-platform.is-compress{
            display: none;
        }
        
        th.compressed-cell.is-compress{
            display: table-cell;
        }
    }
    tr[data-user-id] {
        td {
            vertical-align: middle;
        }
    }

    .table-striped {
        tbody {
            tr {
                &:nth-child(4n+1), &:nth-child(4n+2) {
                    td {
                        background-color: #fbfcfd;
                    }
                }
                &:nth-child(4n+3), &:nth-child(4n+4) {
                    background-color: #fff;
                }
                td.td-change-user-role.is-compress,
                td.td-change-user-platform.is-compress
                {
                    display: none;
                }
                td.compressed-cell.is-compress{
                    display: table-cell;
                }
            }
        }
    }

}

.inner-th {
    background-color: #e9ecf3 !important;
}

.report-real-time-table {
    tr {
        td {
            white-space: nowrap;
        }
    }
    .open-online-task {
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
}

#online-tasks-table_wrapper {
    .row {
        margin: 0;
    }
}

//.table-without-out-border {
//    tr {
//        td:first-child, th:first-child {
//            border:0;
//        }
//    }
//}

//
//.rotate-th {
//    /* Something you can count on */
//    height: 80px;
//    white-space: normal;
//    //width: 150px;
//}
//
//.rotate-th > div {
//    transform:
//        /* Magic Numbers */
//        translate(0, -10px)
//        rotate(270deg);
//    width: 60px;
//    text-align: center;
//    margin-left: 40%;
//}
//.rotate-th > div > span {
//    //display: block;
//    //width: 60px;
//    //padding: 5px 10px;
//}

#priority-table{
    td{
        padding: 5px 15px;
    }
    th{
        padding: 10px 15px;
    }
    td,input{
        vertical-align: middle;
    }
    .form-group{
        i.fa{
            position: absolute;
            right: 12px;
            top: 12px;
            color: #bbb;
        }
        margin: 2px 0 2px 0;
        text-align: center;
        position: relative;
    }
    td.center, th.center{
        text-align: center;
    }
    th.form-field{
        width: 240px;
    }
    th.expand{
        width: 30px;
    }
    .btn-save{
        width: 70%;
    }
    .form-control{
        width: 120px;
        display: inline-block;
        position: relative;
    }
}

.group-role-tile {
    a {
        //border-bottom: 5px #efefef solid;
        &.mt-element-ribbon {
            .ribbon {
                display: none;
            }
            padding: 0;
            .ribbon>.ribbon-sub.ribbon-bookmark:after {
                border-right-width: 18px;
            }

        }
    }
    &.active {
        a {
            //border-bottom: 5px rgba(55, 202, 28, 0.3) solid;
            &.mt-element-ribbon {
                .ribbon {
                    display: block;
                }
            }
        }
    }
}

tr[data-platform-group-id] {
    &.focused {
        td {
            background-color: rgba(101, 155, 224, 0.3);
            &:hover {
                background-color: rgba(101, 155, 224, 0.6);
            }
        }
    }
    &.unsupported {
        td {
            background-color: rgba(228, 58, 69, 0.3);
            &:hover {
                background-color: rgba(228, 58, 69, 0.6);
            }
        }
    }
}

.init-hidden {
    display: none;
    .box-spinner {
        display: none;
    }
    &.loading {
        .box-spinner {
            display: block;
        }
    }
}

#case-info-box {
    p {
        margin: 3px 0;
        border-bottom: 1px #ddd solid;
        &:first-child {
            border-bottom: 0;
        }
    }
    strong {
        font-family: "Open Sans SemiBold";
        width: 35%;
        color: #000;
        text-align: left;
        display: inline-block;
    }
}

#case-services-table, .case-services-table {
    tr.service-row {
        cursor: pointer;
    }
}

.case-services-table {
    .custom-progress-bar-table {
        height: 5px !important;
    }
}

#preview-of-service, .preview-of-service {
    #case-overview {
        .portlet {
            padding: 0 !important;
        }
        .portlet-title {
            display: none;
        }
        iframe {
            width: 100%;
        }
        .process-info {
            margin-bottom: 0 !important;
        }
    }
}

.management-portlet {
    .portlet  {
        > .portlet-title {
            > .tools {
                a {
                    display: inline-block;
                    position: relative;
                    font-size: 18px;
                    background-image: none;
                    &:focus {
                        text-decoration: none;
                    }
                }
                a.collapse {
                    .fa-angle-down {
                        display: block;
                    }
                    .fa-angle-up {
                        display: none;
                    }
                }

                a.expand {
                    .fa-angle-down {
                        display: none;
                    }
                    .fa-angle-up {
                        display: block;
                    }
                }
            }
        }
    }

}


.portlet.management-portlet.content-tile-mode {
    > .portlet-body {
        background-color: #e9ecf3;
    }
    .management-tab-content {
        padding: 10px 0 0 0;
        background-color: #e9ecf3;
        border-width: 1px 0 0 0;
    }
    .management-nav-tabs {
        background-color: #fff;
    }
}

#matrix-of-case {

    .matrix-entities-row {
        &.imported .entity-row {
            padding-bottom: 5px;
        }
    }

    .custom-input-wrapper {
        input.date-time-picker, input.date-picker {
            & + label {
                position: absolute;
                top: -20px;
            }
        }
    }

    .matrix-entities-row {
        .entity-row {
            .custom-checkbox-wrapper {
                display: none;
            }
        }
    }
}

#case-notes-portlet, .case-notes-portlet {
    position: relative;
    .portlet-body {
        max-height: 500px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
}

#business-config-content {
    position: relative;
    .business-config-content-spinner {
        display: none;
        background-color: rgba(255,255,255,0.4);
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .business-config-content {

    }
    &.loading {
        .business-config-content-spinner {
            display: block;
        }
    }
}

#scenarios-builder-wrapper {

    .list-todo.mt-list-container {
        .mt-list-item {
            .list-todo-item {
                width: 95%;
            }
            .task-list-item {
                padding: 7px;
                .task-status {
                    padding-top: 10px;
                }
            }
            .form-group.m-b-0 {
                margin-top: 5px;
            }
        }
        #attributes-section, #events-sections, #steps-section {
            .form-group.form-md-line-input {
                padding: 0;
                margin: 5px 0;
            }
        }
    }
    .mt-element-list .list-todo.mt-list-head .list-count {
      padding: 28px;
    }
}

#scenarios-panel-actions {
    .nav-pills.nav-justified {
        margin-bottom: 0;
        > .tab-content {
            margin-top: -1px;
            //padding-top: 0;
        }
    }
    .nav-pills > li.active > a{
        background-color: #e7505a;
    }
}

#attribute-value-list {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scenario-modal-with-config {
  textarea {
    padding: 20px;
    margin: 0;
    border: 0;
    width: 100%;
    height: 500px;
  }
}
#available-scenarios-tab {
    .mt-list-container.list-news {
        max-height: 520px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
}

#available-scenarios-list {
    margin: 0 -11px -11px;
    .mt-element-list {
        max-height: 640px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
        .list-news.mt-list-container {
            padding: 0;
            .list-icon-container {
                color: initial;
            }
            ul > .mt-list-item {
                padding: 5px 15px;
                cursor: pointer;
                &:hover, &.active {
                    background-color: rgba(231, 80, 90, 0.1);
                }
                .list-icon-container a {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
#available-actions-list{
    li{
        .link.header{
            color: #950d17;
            font-weight: bold;
        }
        padding: 10px;
        .errors_msg{
            display: none;

            overflow: hidden;

            padding: 10px 0px;
        }
        .name{
            font-weight: bold;

            float: left;
            padding-right: 10px;

        }
        .actions{
            overflow: hidden;
            margin-top: 10px;
        }
        .scenario{
            position: absolute;
            bottom: 0;
            right: 0;
            font-weight: bold;
            font-style: italic;
            padding: 3px;
            border: 1px solid #dcdc;
        }
    }
    .mt-element-list{
        max-height: 630px;
        overflow: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
}

.attribute-tooltip {
    .tooltip-inner {
        max-width: inherit;
        text-align: left;
    }
    &.error {
        background-color: $red;
    }
}

.schedule-telephony-status-content-table {
    .mt-checkbox.mt-checkbox-outline {
        padding-left: 20px;
    }
    .select-all:hover {
        cursor: pointer;
        color: #000;
    }
}

.blocker-wrapper {
    position: relative;
    .blocker {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.3;
        z-index: 2;
    }
}

#pushing-report {
    .pr-name{
        padding: 0;
        margin-top: 10px;
    }
    .pr-stats {
        display: flex;
        flex-wrap: wrap;
        .pr-stats-wrapper {
            padding-right: 3px;
        }
        .pr-el {
            height: 50px;
            background-color: #f1f4f7;
            margin-bottom: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            .pr-container-full {
                height: 100%;
                text-align: center;
                span {
                    display: block;
                }
            }
        }
        .pr-stats-badge {
            float: right;
        }
        .pr-stats-value {
            text-align: center;
            font-size: 17px;
            font-weight: 300;
        }
        .pr-speed-img {
            img {
                width: 97px;
            }
        }
        .pr-speed-wrapper {
            display: flex;
            flex-direction: column;
            background-color: #f1f4f7;
            margin-bottom: 3px
        }
    }
    .pr-agents {
        .pr-img-number{
            position: absolute;
            left: 50px;
            top: -16px;
        }
        .pr-name {
            display: inline-block;
            font-size: 13px;
            width: 39px;
            height: 39px;
            line-height: 39px;
            text-align: center;
            border-radius: 50% !important;
            background-color: #5d5d5d;
            color: white;
            vertical-align: middle;
            margin-top: 0;
        }
        .pr-user-row {
            height: 100px;
        }
        .pr-agent-av {
            cursor: pointer;
            padding: 0;
        }
    }
    .pushing-agent-pop,
    .pushing-agent-pop-spinner {
        background-color: #ffffff;
        border: 1px solid #999999;
        cursor: default;
        position: fixed;
        text-align: center;
        width: 900px;
        min-height: 400px;
        z-index: 50;
        padding: 25px 25px 20px;
        left: 26%;
        top: 20%;
        .pr-label {
            word-wrap: break-word;
            height: 30px;
            background-color: #bac3d0;
            color: #fff;
            padding: 5%;
            font-weight: 300;
        }
    }
}

