$phoneBg: #484e61;
$phoneBgActive: #575d77;
$mainColor: #3b3f51;
$font-color: #fff;
$font-size: 12px;

$bgBlue: #337ab7;
$bgRed: #ed6b75;
$bgGreen: #36c6d3;
$successGreen: #1bbc9a;

.importantNone {
  display: none !important;
}

#phone-top-panel {

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: $font-size;
  button, input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .connecting {
    color: #f2784b;
    margin: 6px 10px 5px;
    line-height: 28px;
    &.error {
      cursor: not-allowed;
    }
    i {
      font-size: 20px;
      vertical-align: middle;
      padding-right: 5px;
      &.fa-exclamation-triangle {
        padding-right: 0;
      }
    }
    &.done {
      display: none;
      & + .phone-panel{
        display: block;
      }
    }
  }

  .phone-panel {
    display: none;
    font-size: 0;
    position: relative;
  }

  .calling-options {
    &.active + .phone-options {
      display: none;
    }
    &.active ~ .phone-transfer {
      display: block;
    }
  }

  .phone-options, .phone-setting {
    &:hover {
      z-index: 10;
    }
  }

  #mute-volume {
    &.is-mute {
      i {
        color: #000000;
      }
    }
  }

  .timing, .name-client {
    font-size: 14px;
  }

  .name-client {
    margin: 0 10px;
  }

  .timing {
    background-color: #fff;
    color: #000;
    padding: 1px 3px;
    width: 50px;
    text-align: center;
  }
}

.phone-panel {
  > .phone-module:last-child {
    border-right: 1px $phoneBg solid;
  }
  > #calling-options-module,
  #phone-options-module,
  .importantNone ~ #history-call-module:not(.hideBorder){
    border-left: 1px $phoneBg solid;
  }


  .phone-setting {
    display: block;
    right: 0;
    position: absolute;
    top: 0;
    //border-left: 1px solid $mainColor;
    z-index: 1;
    .btn {

    }
  }
  .phone-setting-buttons {
    padding: 6px 4px 5px;
    position: relative;
    z-index: 1;
    background-color: $phoneBg;
  }
  .phone-setting-content {
    display: none;
    position: absolute;
    background-color: $phoneBg;
    @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.7));
    width: auto;
    min-width: 100%;
    padding: 10px;
    z-index: 0;
    right: 0;
    color: #fff;
  }
}

.phone-module {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  //border-left: 1px solid #3b3f51;
  z-index: 2;
  color: $font-color;
  position: relative;

  .phone-module-buttons {
    padding: 6px 4px 5px;
    position: relative;
    z-index: 2;
    background-color: $phoneBg;
    a[disabled]{
      opacity: 1;
      color: $bgRed !important;
    }
  }

  .phone-module-content {
    display: none;
    position: absolute;
    right: 0;
    @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.7));
    background-color: $phoneBg;
    width: auto;
    min-width: 100%;
    z-index: 1;
    .body {
      padding: 10px;
      .form-group:last-of-type {
        margin-bottom: 0;
      }
    }
    .footer {
      padding: 0 10px;
    }
  }

  &.active {
    z-index: 5;
    .phone-module-buttons {
      background-color: $mainColor;
    }
  }
}


.phone-module-content {
  .title {
    background-color: $mainColor;
    font-size: 13px;
    padding: 10px;
    color: #cbced9;
    line-height: 18px;
  }

  .body {
    input, select, textarea {
      color: #000;
    }
  }
  .footer {
    text-align: right;
    margin: 6px 0;
  }
  .row-device {
    @include clearfix;
    min-width: 400px;
    &.hidden {
      display: none;
    }
    label {
      float: left;
      width: 20%;
      padding: 7px 0 0;
    }
    .control {
      float: right;
      width: 75%;
      input, select, textarea {
        width: 100%;
        box-sizing: border-box;
      }
    }
    &.bigger-label {
      label {
        width: 30%;
      }
      .control {
        width: 65%;
      }
    }
  }
}

#phone-transfer-module {
  .phone-module-content {
    .row-device {
      min-width: 320px;
    }
    .footer {
      white-space: nowrap;
    }
  }
}

#history-call-module {
  .module-inner-content {
    min-width: 250px;
  }
  .body {
    padding: 0;
    .slimScrollBar {
      background: rgb(233, 236, 243) !important;
    }
  }
  .not-pick-up {
    position: absolute;
    top: 3px;
    right: 0;
    background-color: #ed6b75;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    border-radius: 50% !important;
  }
  .module-inner-content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      //height: 200px;
      overflow: hidden;
      li {
        font-size: 0;
        display: flex;
        align-items: center;
        padding: 2px 10px;
        border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
        > div {
          font-size: $font-size;
          display: inline-block;
          vertical-align: top;
          p {
            padding: 0;
            margin: 2px 0;
          }
        }
        &.NOT_PICK_UP {
          .number {
            color: $bgRed;
          }
        }
        .recall {
          width: 15%;
          //padding: 0 4px;
          text-align: center;
          button {
            max-width: 100%;
            line-height: 1;
            //height: 20px;
            //width: 20px;
            font-size: 12px;
          }
        }
        .number {
          width: 55%;
          font-size: 10px;
          text-align: left;
          padding: 0 6px;
          color: #cbced9;
          .name {
            color: #fff;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .datetime {
          text-align: right;
          width: 25%;
          min-width: 110px;
          font-size: 11px;
        }
        .type-call {
          display: inline-block;
          width: 12px;
          font-size: 14px;
          margin-right: 2px;
          i {
            @include rotate(-45);
          }
          &.OUT {
            //color: $bgRed;
          }
          &.IN {
            color: $bgBlue;
          }
        }
      }
    }
  }
}


#phone-options-module {

  position: relative;
  line-height: 28px;

  .fa-check-circle {
    color: $bgGreen;
  }
  .fa-minus-circle {
    color: $bgRed;
  }

  .phone-module-content {
    left: 0;
    right: auto;
  }

  .status-wrapper {
    background-color: $phoneBg;
    padding: 6px 10px 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  &.active {
    .status-wrapper {
      background-color: $mainColor;
    }
  }

  .status {
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 5px;
    &[data-status="READY"] {
      .READY {
        display: block;
      }
    }
    &[data-status="NOT_READY"] {
      .NOT_READY {
        display: block;
        i {
          color: $bgRed;
        }
      }
    }
    &[data-status="WRAP_UP"] {
      .WRAP_UP {
        display: block;
        i {
          color: #f7ca18;
        }
      }
    }
    > span {
      display: none;
      i {
        padding-right: 4px;
      }
    }
  }
}


.wrapper {
  .page-header.navbar {
    .menu-toggler.sidebar-toggler {
      height: auto;
    }
    .page-logo {

      //height: 40px;
      img {
        max-height: 38px;
        margin: 0;
      }
    }
    .top-menu {
      display: block;
    }
    .page-top {
      //height: 40px;
    }
  }
}

#DTMF-module {
  .phone-module-content {
    min-width: 198px;
    .footer {
      button {
        margin: 2px;
        width: 40px;
        padding: 0;
        height: 40px;
        border: 0;
        font-size: 18px;
      }
    }
  }
}

#calling-options-module {
  //padding: 6px 0 5px;
}

#calling-options-module {
  > div {
    display: inline-block;
    //margin-left: 5px;
    vertical-align: middle;
  }
  .phone-module-content {
    right: initial;
    margin-left: 0;
    left: 0;
    //display: block !important;
  }
  .show-on-hover {
    cursor: pointer;
  }

  .phone-module-buttons {

    background-color: $successGreen;
    padding-right: 40px;
    padding-left: 10px;
    line-height: 28px;
    > p {
      margin: 0;
      font-size: 12px;
    }
    .amount-of-conversations {
      position: absolute;
      right: 10px;
      top: 10px;
      line-height: 20px;
      display: block;
      width: 20px;
      //border-radius: 50% !important;
      background-color: #494f62;
      text-align: center;
    }
  }

}

.live-conversations {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px #888 solid;
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
    .active-conversation {
      color: #1bbc9a;
      font-size: 20px;
      line-height: 25px;
      position: absolute;
    }
    .number {
      float: left;
      line-height: 25px;
      font-size: 16px;
      margin-left: 30px;
    }
    .actions {
      float: right;
      button {
        height: 25px;
        width: 25px;
        padding: 0;
        line-height: 25px;
        border: 0;
        i {
          line-height: 25px;
          display: inline-block;
          margin: 0;
          width: auto;
          font-size: 15px;
        }
      }
    }
  }
}


#phone-call-panel-module {
  .phone-module-content {
    .row-device {
      min-width: 320px;
    }
  }

  .row-device {
    .input-group {
      font-size: 0;
      .input-group-addon {
        padding: 9px 12px;
      }
    }
  }
  //
  //.phone-call-panel-buttons {
  //  padding: 6px 4px 5px;
  //  position: relative;
  //  z-index: 1;
  //  background-color: #5f616b;
  //}

  #start-call, #stop-call {
    width: 100%;
    height: 34px;
  }
  //
  //.phone-call-panel-content {
  //  color: #fff;
  //  display: none;
  //  position: absolute;
  //  right: -37px;
  //  @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.7));
  //  background-color: $jabberBg;
  //  width: auto;
  //  min-width: 100%;
  //  padding: 10px;
  //  z-index: 0;
  //  .row-device {
  //    min-width: 300px;
  //  }
  //}
}


#status-list {
  padding: 0;
  .loading-statuses {
    display: none;
    padding: 0 10px;
    color: #c2ced0;
    text-transform: capitalize;
    &.loading {
      display: block;
    }
  }
  .status-label {
    cursor: pointer;
    padding: 4px 10px;
    white-space: nowrap;
    &.disabled {
      background-color: gray;
      cursor: not-allowed;
    }
    &.active {
      background-color: $mainColor;
      cursor: default;
    }
    .NOT_READY {
      i {
        color: $bgRed;
      }
    }
    &:hover:not(.active) {
      background-color: rgba(255, 255, 255, 0.1);
    }
    i {
      padding-right: 5px;
    }
  }
}

.telephony-contact-searcher-wrapper {
  width: 100%;
  height: 30px;
  .telephony-contact-searcher:disabled {
    background-color: #eeeeee !important;
    color: #c7d3e2 !important;
  }
  span[role="status"] {
    display: none;
  }
}

.contact-searcher-menu {
  background-color: #fff;
  color: $phoneBg;
  width: 100%;
  @include box-shadow(0, 3px, 10px, rgba(0, 0, 0, 0.4));
  .empty-message {
    padding: 4px 10px;

  }
  .tt-cursor {
    color: #fff;
    background-color: $phoneBgActive;
  }
  .tt-suggestion {
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: $phoneBgActive;
    }
    padding: 4px 10px;
    font-size: 12px;
    margin: 0;
    > strong {
      display: block;
    }
    span {
      font-size: 10px;
    }
    .tt-highlight {
      display: inline !important;
      background-color: $phoneBgActive;
      color: #fff;
      padding: 2px 1px;
    }
  }
}

.rotate-animate {
  -webkit-animation: Rotate 2000ms linear 2000ms infinite;
  animation: Rotate 2000ms linear 2000ms infinite;
}


@-webkit-keyframes Rotate {
  0% {-webkit-transform:rotate(0deg);}
  4% {-webkit-transform:rotate(-45deg);}
  8% {-webkit-transform:rotate(0deg);}
  12% {-webkit-transform:rotate(-45deg);}
  16% {-webkit-transform:rotate(0deg);}
  20% {-webkit-transform:rotate(-45deg);}
  24% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(0deg);}
}

@keyframes Rotate {
  0% {transform:rotate(0deg);}
  4% {transform:rotate(-45deg);}
  8% {transform:rotate(0deg);}
  12% {transform:rotate(-45deg);}
  16% {transform:rotate(0deg);}
  20% {transform:rotate(-45deg);}
  24% {transform:rotate(0deg);}
  100% {transform:rotate(0deg);}
}


@media only screen and (max-device-width: 991px) {
  .jabber-voice-top-bar {
    display: none !important;
  }
}