

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .drop .operation-dashboard-form {
    .header {
      font-size: 14px;
      line-height: 1;
      padding-right: 160px;
      min-height: 48px;
      .form-title {
        line-height: 1;
        margin-top: 6px;
      }
      .step-number {
        font-size: 14px;
        bottom: 0;
      }
      .pull-right {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
    font-size: 10px;
  }
  .operational-page .notification-type-wrapper .type {
    width: 20%;
    margin: 0 5px;
  }
}


#aztec_camera_wrapper {
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background-color: $blue;
  color: white;

  #aztec_camera_container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .operational-page.public-mode {
    .page-content-wrapper {
      .page-content {
        display: block !important;
        .create-form-wrapper {
          padding: 0;
          .form-wrapper.nopadding {
            margin-top: 0 !important;
          }
        }
      }
    }
    .drop .header .form-title {
      width: 100%;
    }

    .grid-stack-item {
      .grid-stack-item-content {
        .custom-input-wrapper {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 5px;
          label {
            position: relative;
            top: initial;
          }
        }
        .custom-radio {
          position: relative;
          label {
            &:before {
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -0.7em;
            }
          }
        }
        .focus-border {
          display: none;
        }
        label {
          font-size: 14px;
          font-family: $light-font-family;
        }
      }
      .custom-radio {
        label {
          padding-left: 30px;
          position: relative;
          &:before {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.7em;
          }
        }
      }
      .ui-draggable-handle {
        touch-action: initial;
      }
    }

    input[type="date"] {
      line-height: 20px;
      &::-ms-clear, &::-webkit-clear-button {
        display: none;
        width: 0;
        height: 0;
      }

    }

  }

}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .operational-page .page-container .page-content-wrapper .page-content .form-wrapper button.button-input {
    bottom: 15px;
    margin: 0 !important;
  }
  #form-generator-box .grid-stack-item > .grid-stack-item-content > div > .grid-stack-nested > .wrapper-multi-btn-right {
    right: -18px;
  }

  .grid-stack-item .radio-switcher-wrapper > .js-label-text {
      display: none;
  }

  .page-header-fixed.public-mode {
     .page-container {
       background-color: inherit;
     }
  }
}


