$primaryDarkColor: #3B3F51;

.table{
    td.fit, th.fit{
        white-space: nowrap;
        width: 1%;
    }
    &.table-bordered{
        border-color: #ddd
    }
    &.table-vam{
        th, td{
            vertical-align: middle;
        }
    }
}

.scroll-box-table {
    overflow: auto;
    height: auto;
    max-height: 300px;
    table thead th {
        background-color: $primaryDarkColor;
        color: #fff;
        font-family: "Open Sans",sans-serif;
        font-weight: 400;
        &.hide-it {
            height: 0 !important;
            line-height: 0;
            border-bottom: 0;
            overflow: hidden;
            padding: 0 20px 0 8px;
            color: #fff;
        }
    }
}

.scroll-box-fixed-head {
    //overflow-x: hidden !important;
    overflow: hidden;
    position: relative;
    thead tr th {
        background-color: $primaryDarkColor;
        color: #fff;
        &.focus-target {
            background-color: rgba(59, 63, 81, 0.7);
        }
    }
    > table {
        display: none;
    }
}

.table-dotted, .table-dotted > tbody > tr > td, .table-dotted > tbody > tr > th, .table-dotted > tfoot > tr > td,
.table-dotted > tfoot > tr > th, .table-dotted > thead > tr > td, .table-dotted > thead > tr > th {
    border: 1px dotted #e7ecf1;
}

.subquery-table {
    margin-bottom: 0;
}

.subquery-result {
    background: #fafafa;
}

#filters-row, #filters-div {

    td {
        border-bottom: none;
        padding: 8px 0;
    }

    .tool-filter {
        > div {
            padding: 0 3px;
            margin-bottom: 5px;
        }
    }
}

#scroll-box-head {
    th {
        font-family: "Open Sans",sans-serif;
        font-weight: 400;
        white-space: nowrap;
        position: relative;
        padding-right: 20px;
        //width: auto;
        a.change-order {
            position: absolute;
            right: 5px;
        }
    }
}

.scroll-box-table table thead th {
    white-space: nowrap;
}

#tool-table {
    border-top: none;
    max-width: inherit;
    min-width: 100%;
    > tbody > tr > td {
        padding: 2px 6px;
        font-size: 8pt;
    }
    &.nowrap-tr {
        > tbody > tr {
            white-space: nowrap;
        }
    }
}

.with-limit-width {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-options {
    padding: 0;
    margin: 0 0 0 15px;
    list-style: none;
    li {
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 3px;
        display: block;
        width: 50%;
        &.long {
            width: 100%;
        }
    }
}

.col-op {
    float: left;
    width: 70px;
    &.big {
        width: 120px;
    }
}

.col-op-val {
    width: 140px;
    float: left;
    &.big {
        width: 200px;
    }
    input, select {
        width: 100%;
    }
}

body.guest-view {
    //overflow-y: scroll;
    overflow: hidden;
    .wrapper {
        margin: 0;
    }
    .page-container {
        padding: 0;
    }
}

.table .btn {
  margin-right: 0;
}

.table .btn + .btn {
  //margin-right: 5px;
}

.active-filters {
    margin: 0;
    font-size: smaller;
    color: #f7ca18;
    display: inline;
}

#translation-table {
    .jms-translation-anchor {
        abbr {
            color: $primaryDarkColor;
            cursor: pointer;
            border-bottom: none;
        }
    }
    p {
        margin: 0 0 5px 0;
    }
    pre {
        display: inline;
    }
    .query-debug {
        padding: 0.5rem;
    }
    .query-debug + .query-debug {
        margin-top: 0.5rem;
    }
    .info {
        .alert {
            padding: .2rem .5rem;
            margin-bottom: .2rem;
            display: inline-block;
            width: 100%;
        }
    }
    .badge {
        margin-top: -2px;
    }
}

.overflow-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: help;
}

.draggable-wrapper {
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    height: 0;
    z-index: 100;
    .draggable-th-element {
        width: 6px;
        height: 36px;
        position: absolute;
        top: 0;
        margin-left: -3px;
        cursor: col-resize;
    }
}

.result-list{
    p{
        margin: 0;
    }
}

.table-striped {
    a.sortable {
        color: #5d5d5d;
    }
    th.sorted {
        a.asc:after {
            content: '▼';
            display: inline-block;
            padding-left: 6px;
        }
        a.desc:after {
            content: '▲';
            display: inline-block;
            padding-left: 6px;
        }
    }
}

#cases-table_wrapper {
    tr.active-case {
        background-color: rgba(51, 122, 183, 0.1);
        font-weight: bold;
    }
}
