.telephony-ribbon .graph-circle {
  width: 200px;
  margin: 6px 20px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.telephony-ribbon .graph-circle strong {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 43px;
}
.ribbons-top{
  max-height:calc(100vh - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.ribbons-holder {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
}

.telephony-ribbon{
  background-color: #8775a7 !important;
  top: 10px !important;

}
.text-center-ribon-val{
  position:absolute; left: 50%; top: 50%; transform: translate(-50%,0);font-size: 20px;
}

#statistic-holder-dashboard .telephony-ribbon-container,
#telephony-statistics-wrapper .telephony-ribbon-container,
#bottom-stats-wrapper .telephony-ribbon-container{
  background-color: #e1dcdc;
  margin-bottom: 0!important;
  min-height: 180px;
  &.green{
    background-color: #649b64;
    color: white;
  }
  &.yellow{
    background-color: #fa8007;
    color: white;
  }
  &.red{
    background-color: #fa3707;
    color: white;
  }
}


#statistic-holder-dashboard  .ribbon-text-single,
#telephony-statistics-wrapper .ribbon-text-single,
#bottom-stats-wrapper .ribbon-text-single{
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: calc(50% + 18px);
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.ribbon.telephony-ribbon.ribbon-color-info.uppercase{
  text-align: center;
  width: 100%;
  background: white !important;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  left: 0;
  right: 0;
  border: 1px solid black;
}

#statistic-holder-dashboard  .mt-element-ribbon.ribbon.telephony-ribbon-container.queued-active,
#telephony-statistics-wrapper .ribbons-holder .mt-element-ribbon.ribbon.telephony-ribbon-container.queued-active,
#bottom-stats-wrapper .mt-element-ribbon.ribbon.telephony-ribbon-container.queued-active{
  animation-name: color-bq-queued;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border: 1px solid rgba(225, 220, 220, 0.52);
}

#bottom-stats-wrapper {
  padding: 15px 0px;
  width: 100%;
  overflow: hidden;
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  .stats-cell {
    width: 33%;
    .stats-header {
      text-align: center;
      h3 {
        font-weight: bold;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
      }
    }
    .stats-holder {

      display: grid;

      grid-template-columns: 1fr 1fr;

      grid-gap: 20px;

      padding: 0;
      &.three-columns {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}



#bottom-stats-wrapper .rest{
  text-align: center;
  .info{
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .number{
    font-size: 100px;
  }
}

@media all and(min-width: 1400px) {
  .telestats {
    width: 100%;
  }
  .ribbons-holder {
  grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0;
    //grid-template-rows: repeat(5,1fr);
  }


}

@keyframes color-bq-queued {
  0% {
    background-color: #f7f7f7;
  }
  50% {
    background-color: #f4413b;
    color: #ffffff;
  }
  100% {
    background-color: #f7f7f7;
  }
}