<div class="matrix-box modern-mode-grid-stack">
    {% for service in matrix.services %}

        <div class="matrix-row row">

            <div class="col-md-4">
                {{ service.service_name | raw }}
            </div>

            <div class="col-md-5">
                {{ service.service_program | raw }}
            </div>

            <div class="col-md-3">
                {{ service.service_start_date | raw }}
            </div>
            {% if service.service_note is defined and service.service_note is not empty %}
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <strong>{{ service.service_note | raw }}</strong>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12 matrix-entities-row {{ (service.service_entity_is_imported) ? "imported" : "" }}">

                {% if service.entities is not empty %}
                    <div class="row">

                        {% for entityValues in service.entities[0] %}
                            {% if entityValues.data.attribute_path == "820,821,822,829" %}
                                <div class="col-md-4 text-center">{{  entityValues.label }}</div>
                            {% elseif entityValues.data.attribute_path == "820,821,822,861" %}
                                {#<div class="col-md-2">{{  entityValues.label }}</div>#}
                                <div class="col-md-2">&nbsp;</div>
                            {% else %}
                                <div class="col-md-1 center-input text-center">{{ entityValues.label }}</div>
                            {% endif %}
                        {% endfor %}

                    </div>

                    {% for entity in service.entities %}
                        <div class="row entity-row">

                            {% for entityValues in entity %}
                                {% if entityValues.data.attribute_path == "820,821,822,829" %}
                                    <div class="col-md-4">{{ entityValues.html | raw }}</div>
                                {% elseif entityValues.data.attribute_path == "820,821,822,861" %}
                                    <div class="col-md-2">{{ entityValues.html | raw }}</div>
                                {% else %}
                                    <div class="col-md-1 center-input">{{ entityValues.html | raw }}</div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>

        <div style="margin-bottom: 15px" class="horizontal-divider"></div>

    {% endfor %}
</div>