{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'Firmy'|trans()|capitalize }}{% endblock %}
{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_companies')}}">
                <span class="caption-subject bold">
                    {{ 'admin-companies'|trans|desc('Firmy')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <div class="pull-left col-sm-12 col-xs-12 col-lg-2 no-padding">
        <form id="search-form" class="no-padding {% if is_mobile() %} m-b-1 {% endif %}" action="{{ path('admin_users') }}" method="GET">
            {{ form_widget(searchForm.phrase) }}
        </form>
    </div>

    <div class="pull-right col-sm-12 col-xs-12 col-lg-2 no-padding">
        <a href="{{ path('admin_company_editor') }}" class="col-xs-12 no-padding col-sm-12 btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
            <i class="fa fa-plus"></i>
            {{ 'add_company'|trans|desc('dodaj firmę')|capitalize }}
        </a>
    </div>

    <div class="clearfix"></div>

    {% include '@User/Admin/company/company-list.html.twig' %}

{% endblock %}

{% block extrascripts %}

    <script>

        $(function () {

            var ajaxTableContainer = '#ajax-table-container',
                ajaxTable = $('.ajax-table'),
                searchForm = $('#search-form');

            ajaxTable.on('click', "ul.pagination a", function (e) {
                e.preventDefault();
                $.get($(this).attr('href'), function (html) {
                    replaceHtml(html);
                });
            });

            searchForm.on('submit', function (e) {
                e.preventDefault();
                $.get('{{ path('admin_companies') }}', $(this).serialize(), function (html) {
                    replaceHtml(html);
                });
            });

            function replaceHtml(html) {
                $(ajaxTableContainer).replaceWith(
                    $(html).find(ajaxTableContainer)
                );
            }

            $('#atlas_searcher_phrase').keyup(function () {
                delayedCallback(function () {
                    searchForm.submit();
                }, 400);
            });

        });

    </script>

{% endblock %}