{% extends "WebBundle::base.html.twig" %}

{% block content %}

    <div class="tabbable-line">
        {{ knp_menu_render('adminProcessDefinitionMenu',{
            'depth': 1,
            'currentClass': 'active',
            'template': 'WebBundle:Menu:knp_menu.html.twig',
        }) }}
        <div class="tab-content">
            <form id="tool-editor-form" class="form-horizontal" action="" method="POST">

                {{ form_errors(form) }}
                {{ form_widget(form) }}
                {{ form_rest(form) }}

                <div class="form-actions m-t-1">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">
                                {{ 'submit'|trans|desc('zapisz')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}

{% block extrascripts %}

{% endblock %}