{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'process_definitions'|trans()|desc('Definicje procesów')|capitalize }}{% endblock %}
{% block content %}
    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <a href="{{ path('admin_process_definition_editor') }}" class="btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
        <i class="fa fa-plus"></i>
        {{ 'add_process_definition'|trans|desc('dodaj definicję procesu')|capitalize }}
    </a>

    <div class="clearfix"></div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered m-b-0">
            <thead>
            <tr>
                <th class="fit">#</th>
                <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <th scope="row" class="fit">{{ entity.id }}</th>
                    <td class="entity-name">{{ entity.name }}</td>
                    <td class="fit">
                        <a href="{{ path('admin_process_design_chart', {'id': entity.id}) }}"
                           class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#"
                           class="btn btn-xs red btn-delete tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'delete'|trans|desc('usuń')|title }}"
                           data-url="{{ path('admin_process_definition_delete', {'id': entity.id}) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination.pageCount > 1 %}
        <div class="navigation m-t-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}