{% extends "WebBundle::base.html.twig" %}
{% block title %} {{ 'tool-summary'|trans|desc('podsumowania')|capitalize}} {% endblock %}
{% block content %}

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('tool_summary_admin_view')}}">
                <span class="caption-subject bold">
                    {{ 'tool-summary'|trans|desc('podsumowania')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="permission-changed" class="alert alert-success hidden fade in">

    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vam">
            <thead>
            <tr>
                <th class="fit">#</th>
                <th>{{ 'tool'|trans|desc('narzędzie')|capitalize }}</th>
                <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                <th>{{ 'groups'|trans|desc('grupy')|capitalize }}</th>
                <th class="fit">{{ 'actions'|trans|desc('akcje')|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <th scope="row" class="fit">{{ entity.id }}</th>
                    <th scope="row" class="fit">
                        <a href="{{ path('tool_show', {'toolId' : entity.tool.id}) }}{% if entity.filters %}#{{ entity.filters }}{% endif %}">
                            {{ entity.tool.name }}
                        </a>
                    </th>
                    <td class="entity-name">{{ entity.description }}</td>
                    <td>
                        {% for group in entity.userGroups %}
                            {{ group.name }}{% if not loop.last %}, {% endif %}
                        {% else %}
                            ( brak grup )
                        {% endfor %}
                    </td>

                    <td class="fit">
                        <a href="#"
                           class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                           title="{{ 'delete'|trans|desc('usuń')|title }}"
                           data-url="{{ path('tool_summary_remove', {'id': entity.id}) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation m-t-3">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
