{% set impersonateComeback = impersonateComeback() %}

<li class="dropdown dropdown-user dropdown-dark">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
       data-close-others="true">
        <span class="username"> {{ app.user.name }} </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        {% if availablePermissionTransfers(app.user)|length > 0 or impersonateComeback %}
            <li class="dropdown-header">
                <span class="uppercase">{{ 'login_as'|trans|desc('przeloguj na') }}:</span>
            </li>
        {% endif %}
        {% if impersonateComeback %}
            <li>
                <a class="js-relogin" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_impersonate_user': '_exit'})) }}">
                    <i class="fa fa-undo"></i> {{ impersonateComeback.name }}
                </a>
            </li>
        {% endif %}
        {% if availablePermissionTransfers(app.user)|length > 0 %}
            {% for transfer in availablePermissionTransfers(app.user) %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_impersonate_user': transfer.fromUser.username})) }}">
                        {{ transfer.fromUser.name }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {% if not impersonateComeback %}
            <li class="dropdown-header">
                <span class="uppercase">{{ 'profil'|trans }}</span>
            </li>
            <li>
                <a href="{{ path('user_settings') }}">
                    <i class="icon-settings"></i> {{ 'settings'|trans|desc('ustawienia')|capitalize }} </a>
            </li>
            <li>
                <a href="{{ path('user_permission_transfer_editor') }}">
                    <i class="fa fa-exchange"></i> {{ 'replacement'|trans|desc('zastępstwo')|capitalize }} </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="#" class="show-admin-tool ignore-tabs-handle" data-tool-name="parser-helper">
                   <i class="fa fa-question"></i> Parser
                </a>
            </li>
            <li>
                <a href="#" class="show-admin-tool ignore-tabs-handle" data-tool-name="task-jump">
                    <i class="fa fa-link"></i> Skocz do zadania
                </a>
            </li>
        {% endif %}

    </ul>
</li>