<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Cron!
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}' />
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    <style>
        .page-container {
            margin: 0 !important;
            padding: 0 !important;
        }
        .page-content {
            padding: 0 10px !important;
        }
    </style>
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
<div class="wrapper">

    <div class="page-container">
        <div class="page-content">
            <div class="portlet light">
                {{ htmlResponse | raw }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
