<table class="table table-striped table-bordered table-vam">
    <tr>
        <th>
            Nazwa skrzynki
        </th>
        <th>
            Liczba przerobionych e-maili
        </th>
        <th>
            Błędy
        </th>
    </tr>
    {% for mailbox in mailboxList %}

        <tr>
            <td>
                {{ mailbox.mailbox.name }}
            </td>
            <td>
                {{ mailbox.amount }}
            </td>
            <td>
                {% if mailbox.error %}
                    <div>File: {{ mailbox.error.file }}</div>
                    <div>Line: {{ mailbox.error.line }}</div>
                    <div>Msg: {{ mailbox.error.message }}</div>
                    <div>Code: {{ mailbox.error.code }}</div>
                    <div>Trace: {{ mailbox.error.traceAsString }}</div>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>

    {% endfor %}
</table>