<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }
        ::-webkit-scrollbar-thumb {
            background: #ccc;
            border: 0 none #fff;
            border-radius: 0;
        }
        ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
            background: #2e323f;
        }
        ::-webkit-scrollbar-track {
            background: #e9ecf3;
            border: 0 solid #bc1313;
            border-radius: 0;
        }
        ::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active {
            background: #e9ecf3;
        }
    </style>
</head>
<body>

{% if isHtml %}
    {{ html | raw }}
{% else %}
    {{ html | nl2br}}
{% endif %}

</body>
</html>
