{% extends "WebBundle::base.html.twig" %}
{% block title %}{{ 'Mailbox - lista'|trans|desc('Mailbox - lista')|capitalize }}{% endblock %}

{% block extrascripts %}
    <script src="{{ asset('bundles/web/js/mailbox-script.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="portlet-title">
        <div class="caption">
            <a href="{{ path('admin_mailbox_list')}}">
                <span class="caption-subject bold">
                    {{ 'tool-mailboxes'|trans|desc('skrzynki pocztowe')|capitalize}}
                </span>
            </a>
        </div>
    </div>

    <a href="{{ path('admin_mailbox_edit') }}" class="col-xs-12 col-sm-12 col-lg-2 btn btn-sm blue xs-full pull-right p-x-1 m-b-1">
        <i class="fa fa-plus"></i>
        {{ 'Dodaj skrzynkę pocztową'|trans|desc('Dodaj skrzynkę pocztową')|capitalize }}
    </a>

    {% include 'WebBundle:User:partials/modals/removal.html.twig' %}

    <div class="modal fade bs-modal-sm" id="small" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Test połączenia</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" style="display:none;">
                        <strong>{{ 'połączenie powiodło się!' |trans|desc('połączenie się powiodło!')|capitalize }}</strong>
                    </div>
                    <div class="alert alert-danger" style="display:none;">
                        <strong>Error!</strong> <br>
                        <div class="msg"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="permission-changed" class="alert alert-success hidden fade in">

    </div>

    {#<div class="alert alert-info">#}
        {#<p>Będzie dodana jeszcze funkcjonalność przeglądania e-maili w danej skrzynce, które zostały zapisane na serwerze.</p>#}
    {#</div>#}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vam">
            <thead>
            <tr>
                <th class="fit">#</th>
                <th>{{ 'name'|trans|desc('nazwa')|capitalize }}</th>
                <th>{{ 'adres serwera pocztowego'|trans|desc('adres serwera pocztowego')|capitalize }}</th>
                <th>{{ 'login'|trans|capitalize }}</th>
                <th>{{ 'częstotliwość sprawdzania'|trans|desc('częstotliwość sprawdzania')|capitalize }}</th>
                <th>{{ 'liczba przetworzonych e-maili'|trans|desc('liczba przetworzonych e-maili')|capitalize }}</th>
                <th>{{ 'ostatnio odczytany e-mail'|trans|desc('ostatnio odczytany e-mail')|capitalize }}</th>
                <th>{{ 'ostatnie sprawdzenie'|trans|desc('ostatnie sprawdzenie')|capitalize }}</th>
                <th>{{ 'enabled'|trans|desc('aktywny')|capitalize }}</th>
                <th class="fit">{{ 'akcje'|trans|desc('akcje')|capitalize }}</th>
            </tr>
            </thead>
            <tbody>

            {% set label_no = '<span class=\'label label-warning\'>' ~ 'no'|trans|capitalize ~ '</span>' %}
            {% set label_yes = '<span class=\'label label-primary\'>' ~ 'yes'|trans|capitalize ~ '</span>' %}

            {% for entity in pagination %}
                <tr>
                    <td scope="row" class="fit">{{ entity.id }}</td>
                    <td scope="row">
                        {{ entity.name }}
                    </td>
                    <td>
                        {{ entity.host}}
                    </td>
                    <td>
                        {{ entity.login }}
                    </td>
                    <td>
                        {{ entity.intervalCron | intervalCron }}
                    </td>
                    <td>
                        {{ entity.amountProcessedEmails }}
                    </td>
                    <td>
                        {% if not entity.lastProcessed or entity.lastProcessed == date('0001-01-01 00:00:00') %}
                            -
                        {% else %}
                            {{ entity.lastProcessed | date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if not entity.lastRun or entity.lastRun == date('0001-01-01 00:00:00') %}
                            -
                        {% else %}
                            {{ entity.lastRun | date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        <h5>

                            <a href="javascript:void(0)" data-msg-true="{{ label_yes | raw }}"
                               data-msg-false="{{ label_no | raw }}"
                               data-name="active" data-value="{{ entity.enabled }}"
                               data-title="Aktywny?" class="editable-boolean" data-pk="{{ entity.id }}"
                               data-url="{{ path('admin_mailbox_update_active') }}"
                               data-source="{'0': '{{ 'no'|trans|capitalize }}', '1': '{{ 'yes'|trans|capitalize }}'}"
                            >
                                {% if entity.enabled %}
                                    <span class="label label-primary"> {{ 'yes'|trans|capitalize }} </span>
                                {% else %}
                                    <span class="label label-warning"> {{ 'no'|trans|capitalize }} </span>
                                {% endif %}
                            </a>
                        </h5>
                    </td>
                    <td class="fit">
                        <a data-style="zoom-in"
                           data-size="s"
                           data-toggle="tooltip" data-placement="top"
                           title="{{ 'testuj połączenie'|trans|desc('testuj połączenie')|title }}"
                           class="btn green-meadow btn-xs ladda-button test-connection tooltips"
                           data-url="{{ path('admin_mailbox_text_connection', {'id' : entity.id }) }}">
                            <span class="ladda-label">
                                <i class="fa fa-plug"></i>
                            </span>
                        </a>

                        <a href="{{ path('admin_mailbox_edit', {'id': entity.id}) }}"
                           class="btn btn-xs green tooltips" data-toggle="tooltip" data-placement="top"
                           title="{{ 'edit'|trans|desc('edytuj')|title }}" data-type="">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <a href="#"
                           class="btn red btn-delete tooltips btn-xs" data-toggle="tooltip" data-placement="top"
                           title="{{ 'usuń'|trans|desc('usuń')|title }}"
                           data-url="{{ path('admin_mailbox_remove', {'id': entity.id}) }}"
                        >
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation m-t-3">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
