<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Check FDDS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}' />
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    <style>
        body {
            background-color: #fff;
        }
        .noresultalert {
            color: red;
            font-size: 16px;
        }
    </style>
</head>
<body data-locale="{{ app.request.locale }}" class="page-container-bg-solid page-header-fixed">

<div class="p-y-1">Dane z serwisu: <b>{{ serviceName }}</b> dla VIN: <b>{{ vin }}</b></div>

{{ result | raw }}

{% block extrascripts %}
    <script src="{{ asset('bundles/web/js/vendor/jquery.min.js') }}"></script>
{% endblock %}

{% block scripts %}

    <script>
        "use strict";

        $(function () {

            $('table').addClass("table table-bordered");

            $('tr').not('.DataGridHeader').each(function (i, ele) {

                var $tr = $(ele);

                // $tr.find('a').attr('href', 'javascript').on('click', function (e) {
                //
                //     var $t = $(this);
                //     if($t.attr('disabled')) return false;
                //
                // });

                $tr.find('img[data-src-cancel]').replaceWith('<p class="text-center"><i class="fa fa-times fa-2x font-red"></i></span>');
                $tr.find('img[data-src-ok]').replaceWith('<p class="text-center"><i class="fa fa-check fa-2x font-green"></i></p>');

            });

            $('a').each(function (i, ele) {
                var text = $(ele).text();
                $(ele).replaceWith('<b>'+text+'</b>');
            });

        })

    </script>

{% endblock %}

</body>
</html>
