<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale|split('_')[0] }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Check FDDS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}' />
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    <style>
        html,body, form {
            height: 100%;
        }
        body {
            background: linear-gradient(to right,#252832 0,#3a3e50 100%);
        }
        .arc-fdds-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .arc-fdds-form button {
            background-color: #e68409;
            color: #fff;
        }
        .arc-fdds-form button:hover {
            color: #fff;
        }
        .box-spinner.white .sk-fading-circle .sk-circle:before {
            background-color: #fff;
        }

    </style>
    <script src="{{ asset('js/vendor.js') }}"></script>

    {#<script src="{{ asset('bundles/web/js/vendor/bootstrap/bootstrap.min.js') }}"></script>#}
</head>

<body data-locale="{{ app.request.locale }}" class="page-container-bg-solid page-header-fixed">

<form  class="arc-fdds-form" name="Form1" method="GET"  id="Form1">

    {{ include('@Web/Default/partials/spinner.html.twig', {size: 'sm white'}) }}

    <p class="font-white">Pobieranie danych o pojeździe...</p>

</form>

<div class="page-container">
    <div class="portlet box">
        <div class="portlet-body">

        </div>
    </div>
</div>

{% block scripts %}

    <script>

        "use strict";

        window.addEventListener('load', function () {

            setTimeout(function () {

                $.ajax({
                    url: "{{ url_ }}",
                    type: 'GET',
                    success: function (response) {

                        $('.portlet-body').html(response);
                        $('.arc-fdds-form').remove();

                    }
                });

            }, 1000);
        });

    </script>

{% endblock %}

</body>
</html>
