{# events \OperationalBundle\Utils\Timeline\TimelineEvent[] #}

{% set pageTitle = block('title') %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js bg-white"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block documentTitle %}
            {% if pageTitle %}ATLAS &raquo; {{ pageTitle|raw }} {% else %}ATLAS{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    {% include "WebBundle:Default:assets/stylesheets.html.twig" %}
    {% block extrastyle %} {% endblock %}
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo bg-white loader-for-tool {% block bodyExtraClass %}{% endblock %}">
<div class="wrapper m-a-0 p-a-0">
    <div class="page-container m-a-0 p-a-1">

        <div class="actions-panel p-a-1">
            <form class="form" action="">

                <div class="row">
{#                    <div class="form-group col-md-2">#}
{#                        <input type="text" name="date_from" class="form-control" placeholder="Data od">#}
{#                    </div>#}
{#                    <div class="form-group col-md-2">#}
{#                        <input type="text" name="date_to" class="form-control" placeholder="Data do">#}
{#                    </div>#}
                    <div class="form-group col-md-offset-4 col-md-2">
                        <input type="text" name="attributes" class="form-control" placeholder="Atrybuty">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" name="steps" class="form-control" placeholder="Kroki">
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-2">
                        <div class="m-t-2">
                            <label class="mt-checkbox mt-checkbox-outline text-left">
                                <input type="checkbox" class="basic-config-control"
                                       name="show_notes" value="1" checked> Pokaż notatki
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <div class="m-t-2">
                            <label class="mt-checkbox mt-checkbox-outline text-left">
                                <input type="checkbox" class="basic-config-control"
                                       name="show_history_enter" value="1" checked> Pokaż historię wejść/wyjść
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <div class="m-t-2">
                            <label class="mt-checkbox mt-checkbox-outline text-left">
                                <input type="checkbox" class="basic-config-control"
                                       name="show_attributes" value="1" checked> Pokaż atrybuty
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <div class="m-t-2">
                            <label class="mt-checkbox mt-checkbox-outline text-left">
                                <input type="checkbox" class="basic-config-control"
                                       name="show_steps" value="1" checked> Pokaż kroki
                                <span></span>
                            </label>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="table-responsive">

            {{ include('@Web/Timeline/table.html.twig') }}

        </div>

    </div>
</div>

<script src="{{ asset('js/guest.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% block extrascripts %} {% endblock %}

<script>"use strict";

    $(function() {

        var groupProcessId = {{ groupProcessId }};

        $('form input').on('change submit', function () {

            $.ajax({
                url: Routing.generate('operation_dashboard_timeline_case_table', {groupProcessId: groupProcessId}),
                type: "GET",
                data: $('form').serialize(),
                success: function (response) {

                    $('.table-responsive').html(response);

                },
                error: function (error) {
                    if(error.statusText !== "abort") {
                        handleAjaxResponseError(error);
                    }
                }
            });

        });

        $(window).on('resize', function () {
            delayedCallback(calculateHeight, 500);
        });

        calculateHeight();

    });

    function calculateHeight() {
        var actionPanelHeight = $('.actions-panel').outerHeight();
        $('.table-responsive').height( window.innerHeight - actionPanelHeight - convertRemToPixels(2));
    }

    function convertRemToPixels(rem) {
        return rem * parseFloat(getComputedStyle(document.documentElement).fontSize);
    }

</script>
</body>
</html>
