<table class="table table-bordered table-condensed">

    <tr>
        <th width="10%">Data zdarzenia</th>
        <th width="10%">Opis</th>
        <th width="10%">Label</th>
        <th width="10%">Kto</th>
        <th width="50%">Wartość</th>
    </tr>

    {% for event in events %}

        {% set bgColor = '#fff' %}
        {% set color = '#5d5d5d' %}

        {% if constant('EVENT_TYPE_ATTRIBUTE', event) == event.eventType %}
            {% set bgColor = "rgba(27, 188, 155, 0.2)" %}
        {% elseif constant('EVENT_TYPE_STEP_CREATED', event) == event.eventType %}
            {% set bgColor = "rgba(247,202,24,.4)" %}
        {% elseif constant('EVENT_TYPE_STEP_ENTER', event) == event.eventType %}
            {% set bgColor = "rgba(247,202,24,.4)" %}
        {% elseif constant('EVENT_TYPE_STEP_LEAVE', event) == event.eventType %}
            {% set bgColor = "rgba(247,202,24,.4)" %}
        {% elseif constant('EVENT_TYPE_ENTER_OF_USER', event) == event.eventType %}
            {% set bgColor = "rgba(3, 169, 244, 0.4)" %}
        {% elseif constant('EVENT_TYPE_LEAVE_OF_USER', event) == event.eventType %}
            {% set bgColor = "rgba(63, 81, 181, 0.7)" %}
            {% set color = "#fff" %}
        {% elseif constant('EVENT_TYPE_ADD_NOTE', event) == event.eventType %}
            {% set bgColor = "rgb(0, 150, 136)" %}
            {% set color = "#fff" %}
        {% endif %}

        <tr style="background-color: {{ bgColor }}; color: {{ color }}">
            <td>{{ event.eventDate | date('Y-m-d H:i:s') }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.label | raw }}</td>
            <td>{{ event.userName }}</td>
            <td>{{ event.value | raw }} </td>
        </tr>

    {% endfor %}

</table>