{% extends "WebBundle::base_guest.html.twig" %}
{% block extrascripts %}
    <script src="{{ asset('bundles/web/js/vendor/circle-progress.js') }}"></script>
    <script src="{{ asset('bundles/web/js/modules/public-telephony-statistics.js') }}"></script>
    <script>
        PublicTelephonyStatistics();
    </script>
{% endblock %}
{% block content %}



<div id="telephony-statistics-wrapper" class="loading-spinner telephony-public">
    {{ include('@Web/Default/partials/spinner.html.twig') }}
    <div class="tab-wrapper-content">
    </div>
</div>
    <div id="bottom-stats-wrapper">

    </div>
<style>
    .telephony-public .ribbons-top{
        overflow: hidden;
        height: 100%;
        max-height: 100%;
    }
    .telephony-public .ribbons-top{
        border: 1px solid black;
        padding-bottom: 30px;
    }
    #telephony-statistics-wrapper .telephony-ribbon-container,
    #bottom-stats-wrapper .telephony-ribbon-container{
        min-height: 200px;
    }

    @media all and (min-width: 1400px) {
        #telephony-statistics-wrapper .telephony-ribbon-container,
        #bottom-stats-wrapper .telephony-ribbon-container{
            padding: 30px;
        }
        .telestats {
            width: 100%; }
        .ribbons-holder {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px 20px;
            margin: 0; } }
</style>

{% endblock %}