<div class="stats-cell">
    <div class="stats-header"><h3>PZU - Maile</h3></div>
    <div class="stats-holder">

        <div class="mt-element-ribbon ribbon telephony-ribbon-container
{% if pzu.active_count >0 %}
queued-active red
{% endif %}
">
            <div class="ribbon telephony-ribbon ribbon-color-info uppercase">Nieobsłużone</div>
            <h2 class="text-center ribbon-text-single">{{ pzu.active_count }}</h2>
        </div>

        <div class="mt-element-ribbon ribbon telephony-ribbon-container
            {% if pzu.longest_awaiting_task >300 %}
            red
            {% elseif pzu.longest_awaiting_task >0 %}
            orange
            {% else %}
            green
            {% endif %}
">
            <div class="ribbon telephony-ribbon ribbon-color-info uppercase">Najdłuższy czas oczekiwania aktywnego
                zadania
            </div>
            <h2 class="text-center ribbon-text-single">{{ pzu.longest_awaiting_task_formatted }}</h2>
        </div>
    </div>
</div>
<div class="stats-cell">
    <div class="stats-holder">
    <div class="rest vv-rest"><span class="info">Ilość osób na przerwie VV</span>
        <span class="number">{{ vv }}</span> </div>
    <div class="rest cz-rest"><span class="info">Ilość osób na przerwie CZ</span>
        <span class="number">{{ cz }}</span> </div>
    </div>
</div>
{#NH #}
<div class="stats-cell">
    <div class="stats-header"><h3>BACK</h3></div>
    <div class="stats-holder three-columns">
        {% for ribbon in nhs %}
            {% if ribbon.name starts with 'SR' %}
            {% if ribbon.value >= 95 %}
                {% set ribbonClass = 'green' %}
            {% elseif ribbon.value >= 90 %}
                {% set ribbonClass = 'yellow' %}
            {% else %}
                {% set ribbonClass = 'red' %}
            {% endif %}
            {% else %}
                {% set ribbonClass = '' %}
                {% endif %}
            <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                <div class="ribbon telephony-ribbon ribbon-color-info uppercase">{{ ribbon.name }}</div>

                <h2 class="text-center ribbon-text-single">{{ ribbon.value }}</h2>

            </div>
        {% endfor %}
    </div>
</div>

