<div class="col-md-4 ribbons-top" id="cfm">
    <div class="header text-center text-uppercase">
        <h1>CFM</h1>
    </div>
    <div class="ribbons-holder">
        {% for ribbon in cfm %}
        {% if ribbon.cond >0 %}
        <div class="mt-element-ribbon ribbon telephony-ribbon-container queued-active">
            {% else %}
            {% if ribbon.name starts with 'SR' %}
            {% if ribbon.value >= 95 %}
                {% set ribbonClass = 'green' %}
            {% elseif ribbon.value >= 90 %}
                {% set ribbonClass = 'yellow' %}
            {% else %}
                {% set ribbonClass = 'red' %}
            {% endif %}
            <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                {% elseif ribbon.name starts with 'SL' %}
                {% if ribbon.value >=80  %}
                    {% set ribbonClass = 'green' %}
                {% elseif ribbon.value >= 75 %}
                    {% set ribbonClass = 'yellow' %}
                {% else %}
                    {% set ribbonClass = 'red' %}
                {% endif %}

                <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                    {% else %}
                    <div class="mt-element-ribbon ribbon telephony-ribbon-container">

                        {% endif %}
                        {% endif %}
                <div class="ribbon telephony-ribbon ribbon-color-info uppercase">{{ ribbon.name }}</div>
                <h2 class="text-center ribbon-text-single">{{ ribbon.value }}</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-4 ribbons-top" id="front">
    <div class="header text-center text-uppercase">
        <h1>PATH</h1>
    </div>
    <div class="ribbons-holder">
        {% for ribbon in front %}
        {% if ribbon.cond >0 %}
        <div class="mt-element-ribbon ribbon telephony-ribbon-container queued-active">
            {% else %}
            {% if ribbon.name starts with 'SR' %}
            {% if ribbon.value >= 95 %}
                {% set ribbonClass = 'green' %}
            {% elseif ribbon.value >= 90 %}
                {% set ribbonClass = 'yellow' %}
            {% else %}
                {% set ribbonClass = 'red' %}
            {% endif %}
            <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                {% elseif ribbon.name starts with 'SL' %}
                {% if ribbon.value >= 80 %}
                    {% set ribbonClass = 'green' %}
                {% elseif ribbon.value > 75 %}
                    {% set ribbonClass = 'yellow' %}
                {% else %}
                    {% set ribbonClass = 'red' %}
                {% endif %}


                <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                    {% else %}
                    <div class="mt-element-ribbon ribbon telephony-ribbon-container">

                        {% endif %}
                {% endif %}
                <div class="ribbon telephony-ribbon ribbon-color-info uppercase">{{ ribbon.name }}</div>
                <h2 class="text-center ribbon-text-single">{{ ribbon.value }}</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-4 ribbons-top" id="adac">
    <div class="header text-center text-uppercase">
        <h1>ADAC</h1>
    </div>
    <div class="ribbons-holder">
        {% for ribbon in adac %}
        {% if ribbon.cond >0 %}
        <div class="mt-element-ribbon ribbon telephony-ribbon-container queued-active">
            {% else %}
            {% if ribbon.name starts with 'SR' %}
            {% if ribbon.value >= 95 %}
                {% set ribbonClass = 'green' %}
            {% elseif ribbon.value >= 90 %}
                {% set ribbonClass = 'yellow' %}
            {% else %}
                {% set ribbonClass = 'red' %}
            {% endif %}
            <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                {% elseif ribbon.name starts with 'SL' %}
                {% if ribbon.value >= 80%}
                    {% set ribbonClass = 'green' %}
                {% elseif ribbon.value >= 75 %}
                    {% set ribbonClass = 'yellow' %}
                {% else %}
                    {% set ribbonClass = 'red' %}
                {% endif %}


                <div class="mt-element-ribbon ribbon telephony-ribbon-container {{ ribbonClass }}">
                    {% else %}
                    <div class="mt-element-ribbon ribbon telephony-ribbon-container">

                        {% endif %}
                        {% endif %}
                <div class="ribbon telephony-ribbon ribbon-color-info uppercase">{{ ribbon.name }}</div>

                <h2 class="text-center ribbon-text-single">{{ ribbon.value }}</h2>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
        {% set shouldShowCat = true %}
        {% for ribbon in adac %}
            {% if ribbon.name starts with 'SL' %}
                {% if ribbon.value < 80 %}
                    {% set shouldShowCat = false %}
                {% endif %}
            {% endif %}
            {% if ribbon.name starts with 'SR' %}
                {% if ribbon.value < 95 %}
                    {% set shouldShowCat = false %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for ribbon in front %}
            {% if ribbon.name starts with 'SL' %}
                {% if ribbon.value < 80 %}
                    {% set shouldShowCat = false %}
                {% endif %}
            {% endif %}
            {% if ribbon.name starts with 'SR' %}
                {% if ribbon.value < 95 %}
                    {% set shouldShowCat = false %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for ribbon in cfm %}
            {% if ribbon.name starts with 'SL' %}
                {% if ribbon.value < 80 %}
                    {% set shouldShowCat = false %}
                {% endif %}
            {% endif %}
            {% if ribbon.name starts with 'SR' %}
                {% if ribbon.value < 95 %}
                    {% set shouldShowCat = false %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if not (
            (("now"|date("H"))>=12 or
            ("now"|date("H"))<6 ) and
            (("now"|date('l') ) == 'Friday') and
            ("now"|date("i")) <= 30 and
            ("now"|date("s")) <= 20
            )
             %}
            {% set shouldShowCat = false  %}
        {% endif %}
        {#End of setup variables#}
        {% if shouldShowCat == true or forceCatShow == true%}
        <div class="cat-holder">

            <img src="{{ cat }}" class="cat-best" />
        </div>
        <style>
            .cat-holder{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
            }
            .cat-best{
                max-height: 300px;
            }
            </style>
{% endif %}