body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    text-align: center;
    /*overflow-y: hidden;*/
}

.holderApp {
    max-width: 500px;
    padding: 0px 10px;
    width: 100%;
}

.showRecommended {
    overflow: hidden;
}

.single-button .btn {
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #868686;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    padding-left: 50px;
}






.header-list, .thanks-text {
    font-size: 20px;
    letter-spacing: -1px;
    padding: 20px 0px;
    color: #3b3b3b;
    font-family: "Titillium Web";
    font-weight: 700;
    text-align: center;
    height: 4em;
}

.recommendedHeader {
    font-size: 16px;
    letter-spacing: -1px;
    color: #3b3b3b;
    font-family: "Titillium Web";
    text-align: center;
}

.rating-holder {
    text-align: center;
    display: flex;
    justify-content: space-evenly;

    padding: 15px 0px;
}

.rating-single {
    font-family: "Titillium Web";
    background: #f3f3f3;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: black;
    font-weight: bold;

}

.border-holder {
    display: block;
    width: 100%;
    border-radius: 20px;
    box-shadow: 3.605px 6px 38px rgba(0, 0, 1, 0.11);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px 0px;
    margin-bottom: 35px;
}

.rating-single.active {
    background: #62be00;
    color: #ffffff;
    font-weight: bold;
}

.send-survey {
    border-radius: 75px;
    background-color: #62be00;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-weight: 700;
}

.btn-block.btn-success {
    background-color: #62be00;
}

.rating-description {
    font-size: 14px;
    /*letter-spacing: -2px;*/
    color: #a0a0a0;
    font-family: "Titillium Web";
    font-weight: 300;
    text-align: right;
}

.rating-description .pull-left {
    float: left;
}

.rating-description .pull-right {
    float: right;
}

.arrow_box {
    position: relative;
    margin-top: 32px;
    border: 1px solid #868686;
}

.arrow_box textarea {
    border: 0px;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #868686;
    border-width: 10px;
    margin-left: -10px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #868686;
    border-width: 10px;
    margin-left: -10px;
}

.stars{
    display: flex;
    justify-content: space-around;
}
.stars .star-image{
    max-height: 70px;
    text-align: center;
}
.star-empty{
    opacity: 0.2;
}