<div id="document-files-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog form-builder-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'files_to_download'|trans|desc('pliki do pobrania')|capitalize }}</span>
            </div>
            <div class="modal-body p-a-0">

            </div>
        </div>
    </div>
</div>