<div id="filter-set-save-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'save_current_filters'|trans|desc('zapisz bieżące filtry')|capitalize }}</span>
            </div>

            <form id="set-filters-set" action="{{ path('tool_filter_set_save') }}" class="form form-vertical"
                  method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_widget(filterSetForm) }}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                            class="btn btn-outline dark">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>
                    <button type="submit" class="btn green">{{ 'submit'|trans|desc('zapisz')|capitalize }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

