<div id="filter-sets-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'tool_filters'|trans|desc('filtry dla narzędzia')|capitalize }}
                    : <strong>{{ tool.name }}</strong></span>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>