<div id="removal-modal-tool-summary" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'tool.summary_removal_confirmation'|trans|desc('potwierdzenie usunięcia podsumowania') }}</span>
            </div>
            <div class="modal-body">
                <p>{{ 'Czy na pewno usunąć'|trans }}?</p>
            </div>
            <div class="modal-footer">
                <button id="cancel-modal-ajax" type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>

                <button id="confirm-modal-ajax" data-style="zoom-in" data-size="s" type="button" class="btn btn-danger ladda-button">
                    <span class="ladda-label"><i
                                class="fa fa-check"></i> {{ 'confirm'|trans|desc('potwierdź')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>