<div class="modal fade bs-modal-lg in" id="tinymce-modal" data-target-word="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edycja dokumentu</h4>
            </div>
            <div class="modal-body">
                <textarea name="" id="" cols="30" rows="10"
                    class="tinymce-word"
                    data-theme="atlas_theme"
                ></textarea>
            </div>
            <div class="modal-footer">
                <button id="dismis-word-edit" type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'cancel'|trans|desc('anuluj')|capitalize }}
                </button>
                <button id="confirm-word-edit" type="button" class="btn btn-success">
                    {{ 'confirm'|trans|desc('potwierdź')|capitalize }}
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>