<div id="tool-edit-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog form-builder-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'data_edit'|trans|desc('edycja danych')|capitalize }}:
                    <strong class="tool-name"></strong></span>
                <div class="hidden" id="first-title"></div>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>