<div id="tool-edit-auto-generator-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 900px;" data-tool-id="{{ tool.id }}">
        <div class="modal-content">
            <form id="{{ formAutoGenerator.vars.id }}" class="form-horizontal" action="{{ path('admin_tool_auto_generate_form', {'toolId' : tool.id}) }}" method="POST">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <span class="modal-label">{{ 'tool_fields_autogenerator'|trans|desc('autogenerator pól dla narzędzia')|capitalize }}
                        : <strong class="tool-name">{{ tool.name }}</strong></span>

                </div>
                <div class="modal-body">
                    <span class="modal-label"
                          style="margin-bottom: 10px; display: block;">{{ 'missing_fields'|trans|desc('brakujące pola')|capitalize }}
                        :</span>


                    {% for formField in formAutoGenerator.formFields %}

                        <div class="form-field-block" style="border-top: 1px dashed #ddd;">
                            <div class="row" style="margin: 10px 0;">
                                <div class="col-sm-2">
                                    {{ form_widget(formField.addIt) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_row(formField.columnName) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_widget(formField.translations) }}
                                </div>
                            </div>
                            <div class="row" style="margin: 10px 0;">
                                <div class="col-sm-3">
                                    {{ form_widget(formField.required) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_widget(formField.disabled) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(formField.type) }}
                                </div>
                            </div>
                            <div class="row" style="margin: 10px 0;">
                                {{ form_rest(formField) }}
                                <div class="dynamic-fields" >
                                    {% if formField.query is defined %}
                                        {{ form_row(formField.query) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="submit" data-style="zoom-in" data-size="s" class="btn green-meadow xs-full pull-right ladda-button" style="margin-top: 5px;">
                    <span class="ladda-label">
                        <i class="fa fa-magic"></i>
                        {{ 'add'|trans|desc('dodaj')|capitalize }}
                    </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>