<div id="action-confirmation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'tool.action_confirmation'|trans|desc('potwierdzenie wywołania akcji')|capitalize }}</span>
            </div>
            <div class="modal-body">
                <p class="description">
                    <span>{{ 'are_you_sure'|trans|desc('czy jesteś pewien?')|capitalize }}</span>
                </p>
            </div>
            <div class="modal-footer">
                <button id="cancel-modal-ajax" type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-times"></i> {{ 'no'|trans|desc('nie')|capitalize }}</button>

                <button id="action-confirm" data-style="zoom-in" data-size="s" type="button"
                        class="btn green-meadow ladda-button">
                    <span class="ladda-label"><i
                                class="fa fa-check"></i> {{ 'yes'|trans|desc('tak')|capitalize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>