<div id="tool-custom-export-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'custom_file_export'|trans|capitalize }}</span>
            </div>

            <form id="tool-custom-export-form" action="{{ path('tools_custom_export', {toolId: tool.id}) }}" target="_blank" class="form form-vertical"
                  method="POST">
                <div class="modal-body"
{#                     data-html-spinner="{% include "@Web/Default/partials/spinner.html.twig" with {'id_spinner' : 'tool-spinner'} %}"#}
                >

                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                            class="btn btn-outline dark">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>
                    <button type="submit" class="btn green-meadow">{{ 'download'|trans|desc('pobierz')|capitalize }}</button>
                </div>
            </form>

        </div>
    </div>
</div>

