{% macro empty_inner_row(slug, name) %}
    <a class='btn red remove-row ignore'>
        <i class='fa fa-trash-o'></i>
    </a>
    <a class='btn blue rename-row ignore'>
        <i class='fa fa fa-pencil'></i>
    </a>
    <div class='name-row' data-name='{{ (name) ? name : 'noname' }}' data-name-slug='{{ slug }}'>
        <span>{{ (name) ? name : '' }}</span>
    </div>
    <div class='control-order ignore'>
        <a class='up'>
            <i class='fa fa-arrow-up'></i>
        </a>
        <a class='add-row-under'>
            <i class='fa fa-plus'></i>
        </a>
        <a class='down'>
            <i class='fa fa-arrow-down'></i>
        </a>
    </div>
{% endmacro %}

{% macro empty_row() %}
    {% import _self as row %}
    <div class='row dropzone'>
        {{ row.empty_inner_row }}
    </div>
{% endmacro %}

{% import _self as rows %}

<div id="tool-edit-builder-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog form-builder-modal js-form-constructor form-builder-init" data-tool-id="{{ tool.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <button type="button" class="change-view" aria-hidden="true">
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                </button>
                <span class="modal-label">{{ 'tool_form_constructor'|trans|desc('Konstruktor formularza dla narzędzia')|capitalize }}
                   : <strong class="tool-name">{{ tool.name }}</strong></span>
                <div id="available-fields">
                    <div class="row">
                        {% for entity in tool.formFields if entity.rowNumber is null %}
                            <div class="resizable-field draggable-field col-lg-{{ entity.colSize | default('4') }}"
                                 data-id="{{ entity.id }}"
                                 data-col="{{ entity.colSize | default('4') }}"
                                 data-col-name="{{ entity.columnName }}">
                                <div class="form-group">
                                    <label><i class="fa fa-arrows" aria-hidden="true"></i>
                                        {% if entity.type != 'checkbox' %}
                                            {{ entity.label }}
                                        {% endif %}
                                    </label>
                                    <span class="linked-icon"
                                          data-name="{{ entity.columnName }}"
                                          data-target-name="{{ (entity.targetName) ? entity.targetName : '' }}"
                                          data-target-value="{{ (entity.targetValue) ? entity.targetValue : '' }}">

                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </span>

                                    <span class="class-icon{% if entity.customClass %} has-class{% endif %}"
                                          data-name="{{ entity.columnName }}"
                                          data-class-value="{{ entity.customClass }}"
                                    >
                                            <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                    </span>

                                    {% if entity.type == 'word' %}
                                        <div class="word-type" style="opacity: 0.4;">
                                            <button type="button" disabled="disabled" class="btn green-meadow init-word-edit">
                                                {{ 'edit_document_word'|trans|desc('edytuj dokument')|capitalize  }}
                                            </button>
                                        </div>
                                    {% endif %}

                                    {{ form_widget(formBlankFields[entity.columnName], {'attr' : {'disabled' : 'disabled'}}) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label"
                      style="margin-bottom: 10px; display: block;">{{ 'form_view'|trans|desc('widok formularza')|capitalize }}
                    :</span>
                <div id="editable-fields" data-prototype-row="{{ rows.empty_row }}">
                    {% for row in tool.formFields | orderFormFieldsOfTool(false) %}
                        <div class="row dropzone">

                            {% set sectionRow = row[0].sectionRow %}
                            {% set slug = (sectionRow) ? sectionRow.tag : '' %}
                            {% set name = (sectionRow) ? sectionRow.name : '' %}

                            {{ rows.empty_inner_row(slug, name) }}

                            {% for entity in row %}
                                <div class="resizable-field draggable-field col-lg-{{ entity.colSize | default('4') }}"
                                     data-id="{{ entity.id }}"
                                     data-col="{{ entity.colSize | default('4') }}"
                                     data-col-name="{{ entity.columnName }}">
                                    <div class="form-group">
                                        <label>
                                            <i class="fa fa-arrows" aria-hidden="true"></i>
                                            {% if entity.type != 'checkbox' %}
                                                {{ entity.label }}
                                            {% endif %}
                                        </label>
                                        <span class="linked-icon{% if entity.targetName and entity.targetValue %} has-link{% endif %}"
                                              data-name="{{ entity.columnName }}"
                                              data-target-name="{{ (entity.targetName) ? entity.targetName : '' }}"
                                              data-target-value="{{ (entity.targetValue) ? entity.targetValue : '' }}">

                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </span>
                                        <span class="class-icon{% if entity.customClass %} has-class{% endif %}"
                                              data-name="{{ entity.columnName }}"
                                              data-class-value="{{ entity.customClass }}"
                                        >
                                            <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                        </span>
                                        {% if entity.type == 'word' %}
                                            <div class="word-type" style="opacity: 0.4;">
                                                <button type="button" disabled="disabled" class="btn green-meadow init-word-edit">
                                                    {{ 'edit_document_word'|trans|desc('edytuj dokument')|capitalize  }}
                                                </button>
                                            </div>
                                        {% endif %}

                                        {{ form_widget(formBlankFields[entity.columnName], {'attr' : {'disabled' : 'disabled'}}) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ rows.empty_row }}
                    {% endfor %}
                </div>
                <a class="btn grey-salsa xs-full add-row" style="margin-top: 5px;">
                    <i class="fa fa-plus"></i>
                    {{ 'add_row'|trans|desc('dodaj wiersz')|capitalize }}
                </a>
                <a data-style="zoom-in" data-size="s" class="btn green-meadow xs-full pull-right save-form-builder ladda-button" style="margin-top: 5px;">
                    <span class="ladda-label">
                        <i class="fa fa-check"></i>
                        {{ 'save_structure'|trans|desc('zapisz strukturę')|capitalize }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>