<div id="tool-summary-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'tool_summary_button'|trans|desc('Podsumowanie dla narzędzia')|capitalize }}:
                    : <strong class="tool-name">{{ tool.name }}</strong></span>
            </div>

            <form id="{{ summaryToolForm.vars.id }}_form" action="{{ path('tool_summary_add', {toolId : tool.id}) }}" class="form modal-form"
                  method="POST">

                <div class="modal-body clearfix">

                    {{ form_errors(summaryToolForm) }}
                    {{ form_widget(summaryToolForm.translations) }}
                    {{ form_row(summaryToolForm.summaryType) }}
                    {{ form_row(summaryToolForm.columnName) }}
                    {{ form_widget(summaryToolForm.filters) }}
                    {{ form_rest(summaryToolForm) }}
                    <div class="alert alert-danger" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        <strong>{{ 'error'|trans|desc('błąd')|capitalize }}!</strong> <span
                                class="msg">{{ 'something_went_wrong'|trans|desc('coś poszło nie tak')|capitalize }}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                            class="btn btn-outline dark">{{ 'cancel'|trans|desc('anuluj')|capitalize }}</button>
                    <button type="submit" data-style="zoom-in" data-size="s" class="btn green ladda-button bind-spinner">
                        <span class="ladda-label">{{ 'submit'|trans|desc('zapisz')|capitalize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>