<div id="xls-hash-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span class="modal-label">{{ 'generate_xls_url'|trans|desc('generuj link dla XLS')|capitalize }}</span>
            </div>

            <form id="set-filters-set" action="{{ path('tool_filter_set_save') }}" class="form form-vertical"
                  method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="generated-url">
                            {{ 'generated_url'|trans|desc('wygenerowany url') }}:
                        </label>
                        <div class="input-group">
                            <input id="generated-url" class="form-control" type="text" readonly>
                            <a id="hash-clipboard" href="javascript:;"
                               class="clipboard input-group-addon btn yellow-casablanca"
                               data-clipboard-target="#generated-url"
                               data-placement="top"
                               data-original-title="{{ 'copied'|trans|desc('skopiowano')|capitalize }}">
                                <i class="fa fa-copy"></i>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                            class="btn btn-outline dark">{{ 'close'|trans|desc('zamknij')|capitalize }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

